[2020-10-12 15:28] una-tapa commented on #2417
Looks good to me, thanks!

[2020-10-12 16:04] Rwalls1 commented on #1676
Comments from @wrodrig

The following hyperlinks are not working

Here is the link
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html
Under SPNEGO the hyperlink
Configuring SPNEGO authentication in Open Liberty. is not working.

Also under SAML
You can configure Open Liberty to enable SAML single logout. SAML single logout is a near-simultaneous logout of a user from a sp

[2020-10-12 16:05] Rwalls1 commented on #1676
Comments from @wrodrig:

Hi,
Thank you for your review. It seems like some of the links two links that were reported are now working but now, the Transport Layer Security TLS hyperlink is broken:

You can configure Transport Security Layer (TLS) to encrypt communication between services for any SSO method that you choose so that the authentication tokens are not intercepted during transmission. Fo

[2020-10-12 16:06] Rwalls1 commented on #1676
@wrodrig Please review, the links should be fixed now: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-12 16:13] #2741 closed, assigned to Rwalls1

[2020-10-12 16:30] Charlotte-Holt commented on #648
@leochr Please review https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/open-liberty-operator.html. Thx!

[2020-10-12 17:50] dmuelle commented on #893
@chirp1 - made the following changes per your review:

- [x] For the "...Social Media Login feature..." link, have the link include "feature" since you have a link further down to "Social Media Login" in the SSO topic, and the two links link to different information.

- [x] You have " SSO identity provider" in a paragraph and "SSO provider" in the diagram. Use the same term in both.

- [x] Revised

[2020-10-13 00:32] ManasiGandhi commented on #1645
@Charlotte-Holt #peer review The topic looks good! A few edit suggestions:

- **Short description**

- [x] Change,

“MicroProfile Fault Tolerance provides different annotations that can help you deal with failure.”
To
“MicroProfile Fault Tolerance provides annotations that can help you deal with failure.”

- [x] Change,

“Combining the @Asynchronous Fault Tolerance annotation with the CompletionSt

[2020-10-13 12:35] Rwalls1 commented on #1676
@chirp1 Thanks, I have addressed your comments. The phrase  "uses the OAuth or OpenID Connect (OIDC) standard" is correct because you can use either individually for authentication. I added an additional sentence to explain the relationship between the two.

[2020-10-13 13:42] Charlotte-Holt commented on #375
@andymc12 noted that the the `AutoRedirect` attribute is documented at http://cxf.apache.org/docs/client-http-transport-including-ssl-support.html#ClientHTTPTransport(includingSSLsupport)-Theclientelement. We can link out to this in the appropriate place in the JAX-RS docs as we write them.

[2020-10-13 14:20] Charlotte-Holt commented on #1135
Updated link: https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/developing-apps-with-intellij-idea-and-liberty-profile

[2020-10-13 14:25] Charlotte-Holt opened #2828 "IDEs and build tools overview topic"
We need a single overview topic that introduces users to the IDEs that work with Open Liberty (IntelliJ, VS Code, Eclipse) and the build tools (Maven and Gradle). Also include information about using Docker as a dev tool. Link off to the guides where possible.

Contact: YK Chang

Guides:
- https://openliberty.io/guides/maven-intro.html
- https://openliberty.io/guides/gradle-intro.html
- https://op

[2020-10-13 14:26] Charlotte-Holt commented on #1135
There's going to be an IntelliJ guide, and we're covering intro material on this topic in #2828.

[2020-10-13 14:26] #1135 closed

[2020-10-13 14:32] Charlotte-Holt commented on #1156
https://www.ibm.com/support/knowledgecenter/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/cwlp_jaxrs_behavior.html isn't relevant to OL, as 1.1 isn't in OL.

[2020-10-13 14:35] Charlotte-Holt commented on #1162
Add "Guide:" prefix to the guide links, too

[2020-10-13 14:37] Charlotte-Holt commented on #1156
Created this in the liberty repo: https://github.ibm.com/was-liberty/liberty-docs/issues/2125.

[2020-10-13 14:37] #1156 closed

[2020-10-13 14:39] Charlotte-Holt commented on #1182
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/blog/2016/06/30/beta-websphere-liberty-and-tools-july-2016

[2020-10-13 14:43] jeshan opened #2829 "JavaMail reference could use an example"
On pages like https://openliberty.io/docs/20.0.0.10/reference/feature/javaMail-1.6.html ,
we can't figure out how to configure JavaMail

I got the following example on [IBM Knowledge Centre](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_admin_javamail.html) working:

[code]

Minimal examples like these would provide a better experience for users.

[2020-10-13 14:45] Charlotte-Holt commented on #1248
https://openliberty.io/blog/2020/03/25/set-samesite-attribute-cookies-liberty.html

[2020-10-13 14:52] Charlotte-Holt commented on #1273
Raised on the guides backlog: https://github.com/OpenLiberty/guides-common/issues/521

[2020-10-13 15:41] Charlotte-Holt opened #2831 "Config examples for the JavaMail feature"
Example config for [the JavaMail feature](https://openliberty.io/docs/20.0.0.10/reference/feature/javaMail-1.6.html). See #2829:

[code]

Resources:

- https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_admin_javamail.html
- https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/write-application-using-javamail

[2020-10-13 15:43] Charlotte-Holt commented on #2829
@jeshan Thanks for your feedback. We've been working on adding code examples to some of our feature documentation, and it's great to know that this example was helpful. I created issue #2831 to have this example and potentially other examples added to the JavaMail feature doc.

[2020-10-13 15:44] #2829 closed, assigned to nobody

[2020-10-13 16:27] Charlotte-Holt commented on #1645
@ManasiGandhi Thx! The only change I didn't make was:

“Without the @asynchronous annotation, the other Fault Tolerance annotations don’t behave as you might expect.”
To:
“Without the @asynchronous annotation, the other Fault Tolerance annotations don’t behave as expected.”

I like the way it read as I had it, so I left it. Let me know if this is an issue!

[2020-10-13 16:53] Azquelt commented on #1645
I'd leave this as-is. The fault tolerance annotations do behave exactly as expected (and as specified), but in the example given, they're not doing what is intended. We want to say that the user may be surprised by the behaviour, not that the behaviour is incorrect.

Essentially, `@Retry` retries a method until it doesn't throw an exception. However, in the example the user wants to retry until th

[2020-10-13 17:23] Charlotte-Holt commented on #1645
@Azquelt Agreed. I left that one unchanged.

[2020-10-13 22:20] dmuelle commented on #719
Closing this issue as editorial review of these examples will take place in #894

[2020-10-13 22:20] #719 closed

[2020-10-14 14:59] NottyCode commented on #840
With the new antora documentation the Java SE support doc is much easier to find. No hunting necessary. Can you take a look at the new docs to see if it helps to resolve your concern around hunting through docs.

[2020-10-14 15:32] barecode commented on #840
Thanks for getting to this! :) Since its been a while since I raised this, I took a fresh look at the site.

Some of the technologies Liberty ships (MicroProfiel, etc) listed on the home page is good, and the packaging listed under Downloads helps too. The new Java SE technologies page (https://openliberty.io/docs/20.0.0.10/java-se.html) is really nice and obvious to find given the new left-hand n

[2020-10-14 15:32] #840 closed

[2020-10-14 16:08] mbroz2 commented on #840
I agree that API Documentation in the docs section can be confusing to someone.  I think "Documenting APIs" would be clearer and I'll raise an issue for the docs team

[2020-10-14 16:10] mbroz2 opened #2835 "Consider changing "API Documentation" to "Documenting APIs""
@barecode mentioned in #840 that the "API Documentation" header made him expect to find the content/APIs that's currently under "References" section.  I suggest we rename this section to instead be "Documenting APIs" to help make it clear that it's not about our documentation for our APIs, but rather documentation on how to document their APIs.

[2020-10-14 17:54] lauracowen opened #2836 "Retitle "Development mode" topic to "Dev mode" and references throughout the topic"
Raised on behalf of @NottyCode

The name is "dev mode" not "development mode" so this should be fixed through the topic (mostly first para I think).

[2020-10-15 01:52] Rwalls1 commented on #2075
@ayoho Please review, I have added details regarding Active Directory as a provider:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/socialLogin-1.0.html
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-15 14:41] nmittles opened #2843 "Infinispan support for distributed in-memory HttpSession caching"
In OpenLiberty we now officially support using Infinispan (version 11) for the JCache provider used by the sessionCache-1.0 feature. We need to document how to configure this for server/client mode, embedded mode, and reference Liberty docker container documentation as well.

Infinispan beta support was already documented in a blog post. We will be reusing and updating this content to build the Li

[2020-10-15 15:27] lauracowen opened #2844 "JCache session persistence"
Based on:
https://openliberty.io/blog/2018/03/22/distributed-in-memory-session-caching.html

[2020-10-15 17:22] lauracowen commented on #1096
@dmuelle Just found this SSL article on WASdev - is it any use (here or elsewhere)? https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/configuring-ssl-liberty

[2020-10-15 17:28] lauracowen opened #2847 "Control traffic on server endpoints with Liberty MBeans"
Two blog posts from 2017. Check with Fred Rowe whether they're useful or not. If they are, make sure there's enough of a base for adding this info to the OL docs before creating new topic(s).

https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/blog/2017/12/21/mbean-controls-server-endpoints
and
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/de

[2020-10-15 17:33] lauracowen opened #2848 "Java Batch"
Old WASdev article - probably useful for an intro to batch (part of Jakarta EE):
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/java-batch

SME: David Follis

[2020-10-15 18:09] lauracowen opened #2850 "Using API keys to secure your microservice"
Old WASdev article - may be useful? Not sure how it fits into the rest of our security/JWT docs so talk to someone who might know.

https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/using-api-keys-secure-microservice

[2020-10-15 19:07] dmuelle commented on #2419
Hi @andymc12 - the initial draft of this concept topic is ready for your review:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/class-loader-library-config.html

To start, I've just adapted the KC pages that are linked in my previous comment above. When you have a chance, let me know what other information should be included, and whether what I have so far is correct, current, and neces

[2020-10-15 19:59] andymc12 commented on #2419
Hi @dmuelle - overall, this looks really good.  A few comments:

- It looks like the "`" got messed up in this section (including picture since I'm not sure cutting and pasting the text would show the issue that I'm seeing - take a look at "Academy~server") :
![Screen Shot 2020-10-15 at 2 47 20 PM](https://user-images.githubusercontent.com/21365299/96179363-60942f80-0ef6-11eb-8a05-38630f7c0986.png

[2020-10-15 22:04] dmuelle commented on #2419
Thanks for reviewing @andymc12,  made the following changes per your review

- fixed formatting error
- updated first sentencee under Global libraries and added mention of dropins directory in the page introduction.

If any further changes are needed, let me know, If it looks good, can you add the `technical reviewed` label to this issue?

Per our Slack convo, we can work in the diagram from  http

[2020-10-15 22:07] andymc12 commented on #2419
Looks good to me - thanks @dmuelle!

[2020-10-15 22:21] dmuelle commented on #2419
@lauracowen this topic is ready for your review

[2020-10-16 15:18] chirp1 commented on #1180
@dmuelle Hi!
Here are my comments:
- The topic is nice, but make information among your topics accurate, clear, and consistent. You have information on default repositories that isn't clear and is inconsistent with info in the "User registries for application security" topic.  The following bullets have some of the details:
- As mentioned in the peer review cheat sheet, be consistent with your ter

[2020-10-16 18:07] dmuelle commented on #951
Changed title and filename per slack discussion w/ @gcharters @lauracowen @mbroz2

new URL: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/why-open-liberty.html

[2020-10-16 21:14] chirp1 commented on #1091
@dmuelle Hi David,
Here are my comments:
- Make the intro paragraph two sentences.
- For "Bind distinguished name and password ...", put a definite or indefinite article in front of "Bind".
- Add a link for "see the documentation for the configuration element for the LDAP type that you want to specify ". Make the link the appropriate wording in the sentence. I believe the link would be to another

[2020-10-17 15:03] chirp1 commented on #631
@dmuelle Hi David,
Here are my comments:
- For "...declaration into your server.xml file,...", Change "into" to "in".
- Spell out TLS on first occurrence.
- I see an inconsistency with "to enable TLS" in  "The following example shows the minimum configuration to enable TLS: ". Earlier you say "...transportSecurity-1.0 feature is enabled and a keystore is configured. ". I think that the second phra

[2020-10-17 17:06] chirp1 commented on #1096
@dmuelle Hi David, here are my comments:
- Use "on" instead of "upon". "upon" is more formal.
- For "securityUtility createSSLCertificate command ", you were basically right with your original wording. Look up the command in KC instead of OL because we're still editing the OL topics, and you'll notice that securityUtility is the command and createSSLCertificate is, as you originally said, the acti

[2020-10-17 19:37] chirp1 commented on #939
@dmuelle Hi David,
Here are my comments:
- The links to the JWT, SPNEGO, and Social media login features each have an example for authentication filters. However, the SAML feature does not. Add an example authentication filter to the SAML feature. Also, ensure that all four features link to the Authentication filter references. Only two of them do.
- The topic that you drew from https://www.ibm.co

[2020-10-19 03:06] chirp1 commented on #893
@dmuelle Hi David, I spotted another item to comment on:
- For "The application communicates with other services, such as databases ", do you mean resources instead of services? I don't think a database on its own is a service, although I believe one can have a "database as a service, DBaaS".

[2020-10-19 12:42] Charlotte-Holt opened #2859 "Supported APIs"
Write a topic that talks about the APIs that we support. This topic is related to issue #840. This info could go next to the Java SE topic in the nav?

[2020-10-19 13:10] Rwalls1 commented on #2418
@una-tapa Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-user-registry.html

[2020-10-19 16:36] aguibert opened #2867 "Relational Database Connectivity Overview"
Relational databases are a very common part of many applications. This article describes how to configure your server to interact with a relational database.

## JDBC driver library configuration

Connectivity with a relational database requires a JDBC driver, which is typically provided by the database vendor.  JDBC drivers allow you to define data sources, from which you obtain connections to th

[2020-10-19 17:36] Charlotte-Holt commented on #2680
Complete for `networking-hardening.adoc`, `server-configuration-hardening.adoc`, and `application-configuration-hardening.adoc`. Still need to do this for `security-hardening.adoc` when `logstash-events-list.adoc` publishes.

[2020-10-19 17:47] chirp1 commented on #927
@dmuelle Hi David,
Here are my authorization comments:
- Remove extra words: Change "...to be secure, it must be able to manage ..." to "...to be secure, it must manage ...".
- Would you rework the second paragraph so that a mention of authorization happens in about the second sentence instead of the last sentence in the paragraph, and maybe work in the word "authorization" in place of "authorized

[2020-10-19 18:05] dmuelle commented on #893
@chirp1 I think although [a database could be a web service](https://docs.oracle.com/cd/B28359_01/java.111/b31225/chtwelve.htm#CBBFAJJH), in most cases the application communicates with an API, which would in turn communicate with the DB. I've updated the sentence to be more clear:

`The application communicates with other services, such as APIs, to complete the user’s request. These services use

[2020-10-19 18:13] dmuelle commented on #1096
Hi @chirp1  thanks for reviewing. I made the following changes per your review:

- [x] Use "on" instead of "upon".

- [x] "securityUtility createSSLCertificate command " I changed this but then put it back to the way it was after this morning's conversation re command topics, for consistency with the server command and securityUtility command topics.

- [x] Look up "historic" versus "historical"-

[2020-10-19 18:28] dmuelle commented on #631
@chirp1 thanks for reviewing. I made the following changes per your review:

- [ ] For "...declaration into your server.xml file,...", Change "into" to "in".  **This sentence is part of the autogen and is the same for all Open Liberty features. If necessary, I can open a doc bug on the Open Liberty websote repo to update the autogen**

- [x] Spell out TLS on first occurrence.

- [x]  inconsistency

[2020-10-19 19:07] dmuelle opened #2873 "Update LDAP feature description"
per review in #1091 , update feature description of LDAP feature to be two sentences instead of 3

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/ldapRegistry-3.0.html#_feature_configuration_elements

KLD: 10/21/20 Also, from the same issue, change the feature description so that " Multiple LDAP registries " is " Multiple LDAP user registries " and "single logical regis

[2020-10-19 19:17] wrodrig commented on #1479
I reviewed the documentation and followed the steps for configuring the keytab file. I also compared the steps to configure the browser and it looks good. Thanks for the hard work!

[2020-10-19 19:51] dmuelle commented on #1180
@chirp1 thanks for reviewing, I made the following changes per your review:

- [x]  be consistent with your terms in a given topic and across topics. Sometimes the topics say, for example " custom user registry" and other times "custom registry". **fixed**

- [x]  ", and the registries federate by default. " is oddly tacked on to the end of a sentence. **fixed**

- [x] You mention "userRegistry.xm

[2020-10-19 20:41] Charlotte-Holt commented on #1572
@lauracowen First draft of this is at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/server-config-feature-intro.html. I tried doing mostly includes from the more detailed topics to avoid having duplication of the higher level material, but it may need fleshing out in some places? Let me know your thoughts :)

[2020-10-20 01:44] dmuelle commented on #927
@chirp1 thanks for reviewing, I made the following changes per your review:

- [x] Remove extra words: Change "...to be secure, it must be able to manage ..." to "...to be secure, it must manage ...".

- [x] Would you rework the second paragraph so that a mention of authorization happens in about the second sentence instead of the last sentence in the paragraph, and maybe work in the word "authori

[2020-10-20 01:50] dmuelle commented on #1091
- [x] Make the intro paragraph two sentences. **the first sentence on the page is part of the autogen, I [opened a doc bug](https://github.com/OpenLiberty/docs/issues/2873) to update it.**

- [x] For "Bind distinguished name and password ...", put a definite or indefinite article in front of "Bind".

- [x] Add a link for "see the documentation for the configuration element for the LDAP type that y

[2020-10-20 02:13] chirp1 commented on #1784
@dmuelle Hi David,
Here are my comments:
- Mention custom user registries and federated user registries in the second paragraph since you discussed the other user registries there.
- For "user group" versus "group", use the same term consistently across topics. Use "group" instead of "user group".https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/server-configuration-hardening.html My belief

[2020-10-20 02:35] dmuelle commented on #2867
Thanks @aguibert - this looks good. I can work on an asciidoc draft for your review on the OL draft site. I can see a few tweaks to make per ID guidelines and a couple blanks I will probably need help filling in due to my limited familiarity with the subject.

One question I have is about the example configs for different datasources- Are the examples you give here just a template that I should fi

[2020-10-20 03:40] dmuelle commented on #939
hi @chirp1 thanks for reviewing- I made the following changes per your review

- [ ] The links to the JWT, SPNEGO, and Social media login features each have an example for authentication filters. However, the SAML feature does not. Add an example authentication filter to the SAML feature. Also, ensure that all four features link to the Authentication filter references. Only two of them do. **I rem

[2020-10-20 14:51] Charlotte-Holt commented on #1613
Covered in #2828.

[2020-10-20 14:51] #1613 closed

[2020-10-20 14:55] Charlotte-Holt commented on #1495
Try to add these to https://www.openliberty.io/docs/20.0.0.10/reference/config/server-configuration-overview.html. Make sure that the the [MP Config topic](https://www.openliberty.io/docs/20.0.0.10/external-configuration.html) makes sense with this new info.

[2020-10-20 14:57] Charlotte-Holt commented on #1515
Link to blog posts: https://openliberty.io/blog/2020/06/10/microprofile-graphql-open-liberty.html and https://openliberty.io/blog/2020/08/28/graphql-apis-open-liberty-20009.html#GraphQLAPIs

[2020-10-20 15:19] aguibert commented on #2867
@dmuelle don't port this to asciidoc quite yet please. I'm still soliciting feedback from other SMEs in this area and have just made the first round of updates a few minutes ago, but there will likely be a few more edits.

I have example configs for each DB, I'll fill them in now since the other SMEs seem to be happy with the overall structure of the article.

Yes, the docker commands are very han

[2020-10-20 19:48] Charlotte-Holt opened #2887 "Intro to reactive programming with OL"
Need a topic that talks about "here's how reactive works in Open Liberty". Introduce MicroProfile Reactive Messaging and message brokers (Kafka, specifically). Start by looking through the guides and

**Contacts:** Gordon Hutchison and Andrew Rouse

**Resources:**
- https://openliberty.io/guides/#reactive_service
- https://download.eclipse.org/microprofile/microprofile-reactive-messaging-1.0/micro

[2020-10-20 20:37] dmuelle opened #2890 "Update custom user registry section of User registry doc once new task publishes"
Need to update the `Custom user registries and repositories` section of `user-registries.adoc` once #2418 publishes

[2020-10-20 20:40] dmuelle commented on #1784
Thanks for reviewing @chirp1, I made the following changes per your review:

- [x] Mention custom user registries and federated user registries in the second paragraph since you discussed the other user registries there.

- [x] For "user group" versus "group", use the same term consistently across topics. **changed to just "group" in all instances

- [x] You link to https://draft-openlibertyio.myb

[2020-10-21 01:39] chirp1 commented on #895
@Rwalls1 Hi Richard,
Here are my comments:
- For "Social Media Login is a form of SSO that enables ..." the link is to a commercial site. Instead, link to standards/specifications,  for  OAuth and OpenID Connect, which are mentioned later in the same paragraph..
- For "JSON Web Token (JWT) is a standard that" , change the link to the JWT spec instead of a website.
- For "shared between application

[2020-10-21 01:40] chirp1 commented on #1676
@Rwalls1 Hi Richard,

Here are my comments:
- For "Social Media Login is a form of SSO that enables ..." the link is to a commercial site. Instead, link to standards/specifications,  for  OAuth and OpenID Connect, which are mentioned later in the same paragraph..
- For "JSON Web Token (JWT) is a standard that" , change the link to the JWT spec instead of a website.
- For "shared between applicatio

[2020-10-21 01:55] chirp1 commented on #1096
@dmuelle Hi David,
Almost there! Your link for the TLS specification seems to be to version 1.2, but the transport security feature seems to indicate that we support through TLS 1.3: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/transportSecurity-1.0.html How about if you change to the TLS specification link to 1.3, which I believe came out in 2018?

The rest of your u

[2020-10-21 03:21] chirp1 commented on #631
@dmuelle Hi David,
Just one thing to fix. The rest are comments OK'ing what you did or your findings.
- OK. No further updated on your response for: For "...declaration into your server.xml file,...", Change "into" to "in". This sentence is part of the autogen and is the same for all Open Liberty features. If necessary, I can open a doc bug on the Open Liberty websote repo to update the autogen
-

[2020-10-21 10:51] lauracowen commented on #1964
Great, thank you. Signing off.

[2020-10-21 11:02] lauracowen commented on #2075
The example config for AD in the Social Media Login feature looks fine, thanks.

In the SSO topic, I'm not sure it quite makes sense to have a separate Active Directory section because it's not equivalent to the other sections. You can use both SPNEGO and Social Media Login for AD connections. SPNEGO already mentions AD but the Social Media Login section (which is the focus of this issue) doesn't.

[2020-10-21 11:50] lauracowen commented on #1699
- Minor thing in Intro - I'd remove the link from "The" so that just "ACME protocol" is the link.
- I think this is pretty clear. I think at the end of it I'd learnt about using ACMECA on OL, which is what it promised to do, without providing too much detail or trying to do everything.

[2020-10-21 11:55] lauracowen commented on #2363
I think this is generally clear. I'm a little wary of config examples in feature docs turning into being task topics but I think the first three config examples are fine.

The "Use a test server" is probably also fine but I wondered whether it should at least be flagged up more in the other ACME topic? Maybe not - maybe just need a link from the relevant bit of the ACME and OL section directly to

[2020-10-21 13:29] lauracowen commented on #1699
The troubleshooting topic looks fine too as a stop-gap until we have a troubleshooting section and actual generated messages.

Regarding navigation nesting, all the topics are fine where they are. The main thing is that they can be found - we don't want multiple levels of nesting in the navigation the way that the KC has.

[2020-10-21 13:40] lauracowen commented on #1694
- minor thing - think there's a typo in `accesLogging` in the Selectable... section.

Think it looks good though. Thanks both. Signing off.

[2020-10-21 15:43] chirp1 commented on #1180
@dmuelle Hi David, the topic looks good! I'm moving it to "Ready to Publish".

[2020-10-21 15:53] Charlotte-Holt commented on #1686
Could use stack overflow questions and "notes" in the KC topics

[2020-10-21 16:09] Charlotte-Holt commented on #1268
Related to #1495. Need to work out what's important from the KC topics. Contact Scott Kurz.

[2020-10-21 16:12] Charlotte-Holt commented on #2422
Thanks, @ggam! We have issue #1430 open for this. Closing this issue.

[2020-10-21 16:12] #2422 closed, assigned to nobody

[2020-10-21 16:23] Charlotte-Holt commented on #2806
Issues in this epic:
- #266
- #2887

[2020-10-21 16:37] Charlotte-Holt commented on #2664
#1686

[2020-10-21 16:46] Charlotte-Holt commented on #2772
The ACME stuff mentioned in Gitter is covered in @dmuelle's topic on ACME. I'll follow up on the hardening suggestions.

[2020-10-21 17:07] dmuelle commented on #631
@chirp1 - made that last change and rebuilt

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/transportSecurity-1.0.html

- [x] For defaultSSLConfig- a little tweak - instead of "the defaultSSLConfig ID attribute value.", how about "the defaultSSLConfig value." or the "the defaultSSLConfig value on the ID attribute.".

[2020-10-21 17:07] Charlotte-Holt commented on #2481
This is fixed on `vNext`. https://github.com/OpenLiberty/docs/pull/2896

[2020-10-21 17:07] #2481 closed, assigned to Charlotte-Holt

[2020-10-21 17:11] dmuelle commented on #1096
@chirp1 - thanks for catching that. I've updated the link to https://tools.ietf.org/html/rfc8446

[2020-10-21 17:25] chirp1 commented on #1784
@dmuelle Hi David,
- A little tweak: Change "you can configure custom user registry." to "you can configure a custom user registry.". <= Add "a".
- For "you can define a custom user registry or a custom user repository." , is that in the server.xml file? you might want to mention where one would add the definition. And this comment ties in with "Customized attributes are any attributes that are no

[2020-10-21 18:29] Rwalls1 commented on #1676
Thanks @chirp1 I've addressed most of your feedback:

[] For "Social Media Login is a form of SSO that enables ..." the link is to a commercial site. Instead, link to standards/specifications,  for  OAuth and OpenID Connect, which are mentioned later in the same paragraph..
[] For "JSON Web Token (JWT) is a standard that" , change the link to the JWT spec instead of a website.
[] For "shared betwe

[2020-10-21 18:44] Rwalls1 commented on #1676
@chirp1 Thanks I've addressed most of your feedback, The link to the guide was working properly, the 404 error was due to the draft site being rebuilt while a build was running. I removed the Active Directory section and added a reference to Active Directory in the Social Media Login section based on feedback from Laura in a related issue. Also, I couldn't find an official spec for Social media lo

[2020-10-21 19:11] dmuelle commented on #1784
Thanks @chirp1, I made the following changes based on your review:

- [x] A little tweak: Change "you can configure custom user registry." to "you can configure a custom user registry.". <= Add "a".

- [x] For "you can define a custom user registry or a custom user repository." , is that in the server.xml file? **yes, you specify a user feature for the custom reg or repo in your server.xml. We don

[2020-10-21 20:05] chirp1 commented on #1676
@Rwalls1 Hi Richard,
Here are my comments:
- For the "Social Media Login" link, let me explain further. Remove the link for those words. Instead link to link to standards/specifications, for OAuth and OpenID Connect, which are mentioned later in the same paragraph. So, for OAuth, you might link to https://tools.ietf.org/html/rfc6749. For OpenID Connect, here are some suggestions for specs. Maybe c

[2020-10-21 20:05] scottkurz opened #2904 "keystore config doesn't describe defaults correctly since JKS->p12 change"
The doc from:
https://openliberty.io/docs/20.0.0.10/reference/config/ssl.html

has a location default of:

but then the description is:

I think what is meant is that key.p12 is the default location if there's none present and Open Liberty needs to generate one.   But
from:  https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_liberty_keystore_default.html
I

[2020-10-21 20:06] scottkurz commented on #2904
@acdemyers tagged you for comment..thanks.

[2020-10-21 21:26] acdemyers commented on #2904
The location of the default keystore is ${server.output.dir}/resources/security/key.p12.    For compatibility we will look to see if a key.jks file is in the ${server.output.dir}/resources/security directory and attempt to load use if we can.   The default keystore may be key.jks if the server is carried over from when we default to a  JKS keystore file.   If the keystore file does not exist in th

[2020-10-21 21:29] chirp1 commented on #1091
@dmuelle Hi David,

- For my comment about the opening paragraph, I see that you opened a doc bug. I also think that for that paragraph, "Multiple LDAP registries " could be changed to ' Multiple LDAP user registries " and "a single logical registry view." could be changed to "a single logical user registry view.". <= add "user" to both
For "For more information, see the documentation for the conf

[2020-10-21 21:41] chirp1 commented on #1096
@dmuelle The updates look good. Moving to "Ready to Publish".

[2020-10-22 01:47] chirp1 commented on #631
@dmuelle Update looks good. Moving to "Ready to Publish".

[2020-10-22 02:53] chirp1 commented on #1784
@dmuelle Hi David, Thanks for the explanations. The updates look good. Moving to Ready to Publish.

[2020-10-22 08:02] lauracowen commented on #1676
**Links and specs**
Please don't link to specs for basic explanations of a concept like Social Media Login or JWT. Instead, link to websites that provide useful, understandable explanations of the concepts/technologies. Specs are primarily written for runtime developers to implement the runtime; they're not written for users/developers using the runtimes to develop applications. If they're interes

[2020-10-22 11:51] dmuelle commented on #1091
Hi @chirp1, I made the following changes per your review

- [x] For "For more information, see the documentation for the configuration element for the LDAP type that you want to specify. The configuration elements for the available LDAP types are listed in the feature configuration elements section. ", get rid of the second sentence, In the first sentence, change "see the documentation for the con

[2020-10-22 12:05] dmuelle commented on #939
@chirp1  - I've added a section for `Supported elements` based on the KC topic and added a short example for each element. There is still one element in the autogen not included here as I need more information and it wasn't in the KC topic. I can follow up on that with Ut.

[2020-10-22 12:09] Charlotte-Holt commented on #197
Meeting on 10/22: Next step is that we need to get the AsciiDoc generated out of the build.

[2020-10-22 12:12] Charlotte-Holt commented on #1431
Meeting on 10/22: Challenges because we don't have a predictable conversion. Lower priority than generating our javadoc in the OL docs.

[2020-10-22 12:18] Charlotte-Holt commented on #2572
Meeting on 10/22: Need a proposal for how we're going to do the linking.

[2020-10-22 12:23] Charlotte-Holt commented on #2571
Good idea! We need to work out how to do this.

[2020-10-22 12:29] Charlotte-Holt commented on #589
Need a design for what this will look like on the feature pages.

[2020-10-22 12:41] Charlotte-Holt commented on #197
Issue moved to [OpenLiberty/open-liberty #14626](https://github.com/OpenLiberty/open-liberty/issues/14626) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-22 12:43] Charlotte-Holt commented on #589
Issue moved to [OpenLiberty/open-liberty #14627](https://github.com/OpenLiberty/open-liberty/issues/14627) via [**ZenHub**](https://www.zenhub.com/)

[2020-10-22 12:45] NottyCode commented on #2571
The current flow for generating docs is as such:

1. docs generates the feature list (an xml representation of the feature manifest data that can be used by tools)
2. docs converts the feature list to asciidoc

To add this information in we either need to get step 2 to parse the bytecode for feature bundles for this, or we need to move that into the feature manifests. My preference is the latter.

[2020-10-22 12:54] dmuelle commented on #939
also- just noticed [@lauracowen comment from way back at the beginning of this issue](https://github.com/OpenLiberty/docs/issues/939#issue-552510871) not to include supported elements because it should be in autogen. I think I agree since the KC topic was already out of date and we didn't know. See what you think about what I've added, I can remove or edit as necessary

[2020-10-22 13:44] frowe commented on #2847
@lauracowen I would say they're useful.  I'd combine into a single topic.

[2020-10-22 13:47] Rwalls1 commented on #1676
Latest PR: https://github.com/OpenLiberty/docs/pull/2906/files

[2020-10-22 14:27] dmuelle commented on #1694
Thanks for catching that @lauracowen - fixed

Requesting peer review from @Rwalls1

[2020-10-22 14:55] chirp1 commented on #1091
@dmuelle Hi David,
- I don't think I see the changes for the bullet that says "For "For more information, see the documentation for the configuration...", which is a good thing as I have somewhat different advice that will make the change more succinct: Remove " For more information, see the documentation for the configuration element for the LDAP type that you want to specify. The configuration e

[2020-10-22 16:50] chirp1 commented on #1676
@Rwalls1 Hi Richard,
Almost there!
- Change "For more information about using JWTs" to "For more information about using MicroProfile JSON Web Tokens".
- Change the link on "such as Active Directory," to what Laura recommended: https://docs.microsoft.com/en-us/windows-server/identity/ad-ds/get-started/virtual-dc/active-directory-domain-services-overview
- Remove the link on "Lightweight Third-Part

[2020-10-22 17:01] chirp1 commented on #1091
@dmuelle Hi David. The updates look good!

[2020-10-22 17:27] lauracowen commented on #1676
Thanks - @Rwalls1 can you add back in the JWT.io/introduction link for JWT too pls - I found it useful for understanding what JWTs are?

[2020-10-22 17:50] chirp1 commented on #939
@dmuelle Thanks for the explanation about the supported elements being in the autogen. So, yes, remove the supported elements for the authentication filters from your Authentication filers topics. You could, as a possible option  list them all (you are missing the one for cookies) and then link to the autogen authentication filter topic.... Looking over the rest of your updates.

[2020-10-22 18:29] lauracowen commented on #1676
LTPA - there should be something on ibm.com about LTPA as we (tWAS) own the definition of that.

[2020-10-22 21:38] dmuelle opened #2942 "EJB documentation"
EJB overview: https://www.geeksforgeeks.org/enterprise-java-beans-ejb/

SME: @tkburroughs
Notes from 10.22 meeting: https://ibm.ent.box.com/notes/733291039453

- determine how best to organize, don't use task format of KC. Combine topics into a single page where it makes sense. Consider separate topics for EJB timers, if so, open a separate issue to track.
- don't duplicate generated info (eg http

[2020-10-22 21:43] chirp1 commented on #939
@dmuelle Hi David,
Just the following comments:
- See my comment directly above about supported elements and autogen.
- The link to the section for MicroProfile JSON Web Token still seems to go to the top of the page for me.

[2020-10-23 11:54] lauracowen opened #2948 "mbeans using the liberty jmx rest connector - poss doc from WASdev?"
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/mbeans-using-the-liberty-jmx-rest-connector

[2020-10-23 11:55] lauracowen opened #2949 "creating custom user registry - poss doc from WASdev?"
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/creating-a-custom-user-registry-as-a-liberty-user-feature

Though the more up-to-date way of doing it would be with BELLs, I think (which we never published for some reason - think the intern left and no one finished it):

[code]

[2020-10-23 11:59] lauracowen opened #2950 "creating user features (Liberty runtime extensions) - poss doc from wasdev?"
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/create_your_own_simple_hello_world_user_feature

and

[code]

and

[code]

[2020-10-23 12:00] lauracowen opened #2951 "intro to using rxJava with Liberty - poss doc from wasdev?"
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/introduction-to-using-rxjava-with-websphere-liberty

[2020-10-23 12:48] dmuelle commented on #1180
moved to `vNext` to publish with 20.0.0.11. Closing this issue.

[2020-10-23 12:48] #1180 closed

[2020-10-23 12:50] dmuelle commented on #1096
moved to `vNext` to publish with 20.0.0.11. Closing this issue.

[2020-10-23 12:50] #1096 closed

[2020-10-23 12:52] dmuelle commented on #631
moved to `vNext` to publish with 20.0.0.11. Closing this issue.

[2020-10-23 12:52] #631 closed

[2020-10-23 12:52] dmuelle commented on #1784
moved to `vNext` to publish with 20.0.0.11. Closing this issue.

[2020-10-23 12:52] #1784 closed

[2020-10-23 13:21] leochr commented on #648
@Charlotte-Holt Document looks good! Some comments for consideration:

- _The Open Liberty Operator helps you package, deploy, and manage applications on Kubernetes-based clusters._
The keyword _package_ could perhaps be removed since the_ OL operator doesn't help much with that. Application image, which the users have to create, is a required field for the operator.

- Under _What is the Open Lib

[2020-10-23 13:27] dmuelle commented on #1699
Requesting peer review from @Charlotte-Holt

[2020-10-23 13:28] dmuelle commented on #2363
Requesting peer review from @Charlotte-Holt

[2020-10-23 13:55] chirp1 commented on #1676
@Rwalls1 The updates look good, Richard! Moving to "Ready to publish".

[2020-10-23 14:00] dmuelle opened #2954 "update/ improve authFilter autogen"
[The autogen info for the authFilter element ](https://www.openliberty.io/docs/20.0.0.10/reference/config/authFilter.html) needs more detail. The formatting has an error in the `requestHeader` description and `cookie` needs more info in the description. From what's there, it's unlikely that anyone who didn't already know what it was would be able to use it. This is true for several other config el

[2020-10-23 14:01] dmuelle commented on #939
Thanks @chirp1. I removed the supported elements section and just left a link to the authFilter config element. I didn't list the supported elements in the topic since that list would have to be manually maintained and the user can get the same info by clicking through to the autogen. I opened [a docbug to improve the autogen](https://github.com/OpenLiberty/docs/issues/2954).

For the Mp Jwt link-

[2020-10-23 18:40] lauracowen commented on #1558
Hi Richard, sorry it's taken so long to review this.

- Can you adjust this topic to the task topic template - there is now some guidance on this (ask David for a link if you don't have it already). It's not massively different but a little.
- Following on from the offline conversation with @frowe and @nmittles, I'm going to try and reframe this topic slightly.

- Retitle the topic to be "Validati

[2020-10-23 18:40] lauracowen commented on #1558
@aguibert I would put this topic under Development for a start, alongside the other data source-related topics that are currently being written. However, I've no objection to it going under Ops as well, as long as that doesn't cause any technical problems in the UI (I don't think it should...).

[2020-10-23 19:53] dmuelle commented on #1091
moved to vNext for 20.0.0.11 release. Closing this issue

[2020-10-23 20:44] #1091 closed

[2020-10-26 14:03] Charlotte-Holt commented on #1880
This example was published in:
- https://openliberty.io/docs/20.0.0.11/reference/feature/spnego-1.0.html
- https://openliberty.io/docs/20.0.0.11/reference/feature/jwtSso-1.0.html
- https://openliberty.io/docs/20.0.0.11/reference/feature/appSecurity-3.0.html

[2020-10-26 14:07] frowe commented on #1558
@lauracowen Directly under "Development" or in a subheader?  Other than the JDBC topic Andy's working on, what are the "other data-source related topics"?  The kerberos one?

[2020-10-26 14:07] Charlotte-Holt commented on #1479
Published at https://openliberty.io/docs/20.0.0.11/configuring-spnego-authentication.html. Still requires final editorial review.

[2020-10-26 14:07] Charlotte-Holt commented on #954
Published at https://openliberty.io/docs/20.0.0.11/reference/feature/spnego-1.0.html. Still requires final editorial review.

[2020-10-26 14:09] Charlotte-Holt commented on #364
Published at:
- https://openliberty.io/docs/20.0.0.11/reference/command/securityUtility-createLTPAKeys.html
- https://openliberty.io/docs/20.0.0.11/reference/command/securityUtility-createSSLCertificate.html
- https://openliberty.io/docs/20.0.0.11/reference/command/securityUtility-encode.html
- https://openliberty.io/docs/20.0.0.11/reference/command/securityUtility-help.html

Still requires final

[2020-10-26 14:10] Charlotte-Holt commented on #1573
Published at https://openliberty.io/docs/20.0.0.11/password-encryption.html. Still requires final editorial review.

[2020-10-26 14:14] Charlotte-Holt opened #2966 "Fix monospace in hardening doc"
`server.xml` shouldn't be monospaced in "Use include files to hold portions of the configuration outside of the server.xml file when necessary."

[2020-10-26 14:35] Rwalls1 commented on #2418
New link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/configuring-user-registry.html

[2020-10-26 14:49] Charlotte-Holt commented on #648
@leochr - Thanks for your feedback! I've addressed all your comments:

- [X] The Open Liberty Operator helps you package, deploy, and manage applications on Kubernetes-based clusters. The keyword package could perhaps be removed since the_ OL operator doesn't help much with that. Application image, which the users have to create, is a required field for the operator.
- [x] Under What is the Open L

[2020-10-26 18:42] Charlotte-Holt commented on #2966
Moved to vNext in #2980

[2020-10-26 18:42] #2966 closed, assigned to Charlotte-Holt

[2020-10-26 19:07] brenthdaniel commented on #2408
looks good to me

[2020-10-26 20:30] dmuelle commented on #1699
published at: https://www.openliberty.io/docs/20.0.0.11/acme-cert-management.html

[2020-10-26 20:31] dmuelle commented on #2363
published at https://www.openliberty.io/docs/20.0.0.11/reference/feature/acmeCA-2.0.html

[2020-10-26 20:32] dmuelle commented on #2419
https://draft-openlibertyio.mybluemix.net/docs/latest/class-loader-library-config.html

[2020-10-26 20:32] dmuelle commented on #927
published at https://www.openliberty.io/docs//latest/authorization.html

draft link: https://draft-openlibertyio.mybluemix.net/docs//latest/authorization.html

[2020-10-26 20:33] dmuelle commented on #939
published at https://www.openliberty.io/docs/latest/authentication-filters.html

draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/authentication-filters.html

[2020-10-26 20:34] dmuelle commented on #893
published at https://www.openliberty.io/docs//latest/authentication.html

draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/authentication.html

[2020-10-26 22:15] brutif commented on #893
It's a tough topic to explain well, and all of you collaborated and did a good job on it.  Hooray!!

[2020-10-27 13:33] #1880 closed

[2020-10-27 13:44] dmuelle commented on #894
published at https://openliberty.io/docs/20.0.0.11/reference/feature/appSecurity-3.0.html

[2020-10-27 13:45] dmuelle commented on #1964
published at https://openliberty.io/docs/20.0.0.11/reference/feature/jwtSso-1.0.html

[2020-10-27 15:52] Rwalls1 commented on #210
New link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/json-log-events-list.html

[2020-10-27 19:01] dmuelle opened #2997 "error in logging config element"
There is a syntax error in the autogen explanation of `hideMessage` attribute of [the logging config element
](https://www.openliberty.io/docs/20.0.0.11/reference/config/logging.html).

`Avoid trouble: Use the com.ibm.ws.logging.hide.messages property, except in cases where you are trying to change the configuration dynamically after startup.`

the property should be `com.ibm.ws.logging.hideMessag

[2020-10-27 22:34] Rwalls1 commented on #210
Editing reference: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch08.html
I found this chapter helpful for reviewing the lists and tables that are used throughout the topic. I made a couple changes related to making sure that all elements are parallel and consistent in style.

[2020-10-28 13:19] chirp1 commented on #571
Hi Manasi,

Some of the updates that I list might be in development code. If they are, and you can't make the changes, then open a defect for development so that they make the changes. Add to your issue a link to the defect. Review with me  the changes that you are considering putting into the defect before you put them in so that we agree on those changes.

- Change "This feature allows runtime..

[2020-10-28 13:36] ManasiGandhi commented on #676
@chirp1 20.12 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/openidConnectServer-1.0.html.

[2020-10-28 13:45] ManasiGandhi commented on #1118
@chirp1 20.12 updated  link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/socialLogin-1.0.html.

[2020-10-28 13:50] ManasiGandhi commented on #1289
@chirp1 20.12 updated link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/sessionDatabase-1.0.html

[2020-10-28 13:52] ManasiGandhi commented on #636
@chirp1 20.12 updated link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jwt-1.0.html.

[2020-10-28 13:53] ManasiGandhi commented on #1127
@chirp1 20.12 updated link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/slow-hung-request-detection.html.

[2020-10-28 13:55] ManasiGandhi commented on #1290
@chirp1 20.12 updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/sessionCache-1.0.html.

[2020-10-28 13:57] ManasiGandhi commented on #1569
@chirp1 20.12 updated link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/default-port-numbers.html.

[2020-10-28 13:59] ManasiGandhi commented on #955
@chirp1 20.12 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/samlWeb-2.0.html.

[2020-10-28 13:59] Charlotte-Holt commented on #1891
@chirp1 Updated link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/introduction-monitoring-metrics.html

[2020-10-28 14:01] Charlotte-Holt commented on #1645
@chirp1 updated link:https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/async-programming-fault-tolerance.html

[2020-10-28 14:27] zhang-ca commented on #1289
It would be great if we can line up the indentation below: (i.e. line up **fileset** with **library**)

[2020-10-28 15:25] ManasiGandhi opened #3000 "Update Jwt feature autogen desrciption"
Updates per Karen's review
"Hi Manasi,

Some of the updates that I list might be in development code. If they are, and you can't make the changes, then open a defect for development so that they make the changes. Add to your issue a link to the defect. Review with me the changes that you are considering putting into the defect before you put them in so that we agree on those changes.

    Change "

[2020-10-28 17:05] Rwalls1 commented on #1095
New link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/logstashCollector-1.0.html

[2020-10-28 18:28] Rwalls1 commented on #1095
Editing reference: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch06.html
I used this chapter as a guide to ensure that the description of the config examples were clear and avoided ambiguity. The tips related to avoiding wordiness also helped me to review the descriptions to ensure conciseness.

[2020-10-28 18:55] dmuelle commented on #2836
changed to dev mode in title and throughout doc- changes will publish with 20.0.0.12

[2020-10-28 18:55] #2836 closed, assigned to dmuelle

[2020-10-28 19:14] Rwalls1 commented on #1128
Editing reference: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch06.html
I used this chapter as a guide to ensure that the description of the config examples were clear and avoided ambiguity. The tips related to avoiding wordiness also helped me to review the descriptions to ensure conciseness.

[2020-10-28 19:59] una-tapa opened #7161 "Federated Repository RACF LDAP handling"
**Is your feature request related to a problem? Please describe.**

In our scrum meeting today, we happen to talk about our Federated repository code handles RACF LDAP on a limited scale but there is not much documentation done.  VMM team offered to review current functionality and possible improvement in the code, then move on to the doc update as needed.

**Describe the solution you'd like**
Use

[2020-10-28 19:59] una-tapa commented on #7161
Wendigo-East.

[2020-10-28 20:23] Charlotte-Holt commented on #2521
These updates were made in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/feature-overview.html. We just need the zero migration topic to publish in 20.0.0.12, and these updates can publish as well. These are related to #1572.

[2020-10-28 20:27] Charlotte-Holt commented on #2811
@wtlucy I made these updates in the following docs:

- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/metrics-list.html
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jmx-metrics-list.html

Please review the updates and let me know if any updates are required, thx!

[2020-10-28 20:28] Charlotte-Holt commented on #745
@jim-krueger I made these updates in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jmx-metrics-list.html. Please review and let me know if any additional updates are needed. Thx!

[2020-10-29 12:03] Rwalls1 commented on #1200
New link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/log-management.html

[2020-10-29 13:47] dmuelle commented on #1903
New edits for clarity and concreteness in #2995 & #2998

- reduce wordiness
- use technical terms consistently
- avoid empty words
- Make the syntax of sentences clear

Re-checked against the [KC source topic](https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_elk_stack.html) to ensure nothing was unintentionally omitted

[2020-10-29 13:58] dmuelle commented on #1684
Task structure and headings revised per updated guidance in #2656
Edits for clarity and concreteness in #3204
- reduce wordiness
-  Use specific language
- Consider the skill level and needs of users
- Set the context for examples and scenarios

Rechecked against the[ KC source topic ](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_analytics_logstash.h

[2020-10-29 14:34] chirp1 commented on #955
@ManasiGandhi Hi Manasi,
The update looks good. I have a few comments:
- Rewrite "You can download the metadata for the service provider on a browser with the service provider metadata URL.". "on a browser" is a little odd. The original sentence in the document that you drew from was clearer.
- For the "Custom configuration" section, rewrite the first sentence to explain the point of the two state

[2020-10-29 14:47] ManasiGandhi commented on #571
@chirp1 I made updates per your edit suggestions.

Here's the link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jwt-1.0.html

 Opened an issue for the first three suggestions
https://github.com/OpenLiberty/docs/issues/3000

[code]

- [x] For the section titled "Examples", do the number of examples in the section match the singular/plural of the title?

- [x] "ID" in "

[2020-10-29 15:25] aguibert commented on #2844
review comments for @ManasiGandhi

- "Sessions" is sort of an ambiguous term. Lets change the first sentence from "Caching sessions in your applications" to "Caching HTTP sessions in your applications"
- when referring to the feature, should we be saying "the `sessionCache-1.0` feature" instead of "the `sessionCache` feature"?
- Instead of saying "Also, a relational database might not be always av

[2020-10-29 15:25] una-tapa commented on #2418
Great work @Rwalls1 !  Please publish the doc. Thank you!

[2020-10-29 16:25] leochr commented on #648
@Charlotte-Holt Document looks good. Thanks for making the updates. Few minor things I noticed:

- [x] _Then, the operator creates and manages that storage for you. An advanced mode is available that allows the configuration of extra details of the persistent volume._
The operator can only create the claim for storage, not the storage itself. Suggestion: _Then, the operator creates and manages the

[2020-10-29 18:42] Rwalls1 commented on #1694
## Peer review
The topic looks good, I just have a few comments:
- For “Direct human consumption”, I think you should use a simpler term that will provide more  clarity.
- I think you should change “fully configured in server.xml” to “fully configured in the server.xml file” to increase clarity and maintain consistency throughout topics.
- Similarly, I think you should change “before server.xml” t

[2020-10-29 19:00] Charlotte-Holt commented on #648
@leochr I incorporated your updates! Please review https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/open-liberty-operator.html. Thx!

[2020-10-29 19:25] leochr commented on #648
@Charlotte-Holt Looks good. Thanks!

[2020-10-29 19:31] Charlotte-Holt commented on #1780
@scottkurz Thanks for the suggestions!

1. I added an anchor link to the **Variable substitution precedence** section in [the overview doc that's going to be in the Basics section of the nav](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/server-config-feature-intro.html).
2. I updated the section title to **Variable substitution precedence** in https://draft-openlibertyio.mybluemix.net/

[2020-10-29 21:38] chirp1 commented on #2816
From my discussion with Tracy, the topic will be in Open Liberty even though this issue discusses the placement of the new topic in the KC TOC. I indicated to Tracy that he should ensure that his blog post has enough info/examples in it for users to use the new function until the topic is written.

[2020-10-30 13:36] scottkurz commented on #1780
Thanks @Charlotte-Holt.  I like it.. it looks good, and like the new links !

I found an example of "variables declared on the command line" here:
https://openliberty.io/docs/20.0.0.9/reference/command/server-run.html#_usage_examples

It's: `server run myserver -- --variable_name=variable_value`

---

Minor comment, just noticing that it reads:

     1. server.xml file `defaultValues`

then later

[2020-10-30 13:47] chirp1 commented on #636
Note: My editorial comments  and Manasi's fixes to them are in this issue: https://github.com/OpenLiberty/docs/issues/571 as Manasi inadvertanly the link to the JWT feature in the 571 issue instead of giving the link to the MP JWT feature.

[2020-10-30 13:52] chirp1 commented on #571
Hi Manasi,
I think you meant to give me the link to the MP JWT topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/mpJwt-1.1.html  instead of the link to the JWT topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jwt-1.0.html This link to the JWT topic goes instead with this issue https://github.com/OpenLiberty/docs/issues/636.  So, my

[2020-10-30 13:53] una-tapa opened #3035 "Incorporate hardening question from stack product and answer (WASSEC L2 lead) into hadening doc"
https://github.ibm.com/was-liberty/WS-CD-Open/issues/20559
raised by WCM team.

Slack converstation here.
https://ibm-cloud.slack.com/archives/C324NP6H5/p1604059249212100

Under LTPA hardening topic please.  Thanks in advance!

[2020-10-30 15:02] Charlotte-Holt opened #3045 "Security docs"
This epic is to track updates and doc bugs across the security docs.

[2020-10-30 15:03] #3045 closed, assigned to nobody

[2020-10-30 15:03] Charlotte-Holt opened #3046 "Security docs"
This epic is to track updates and doc bugs across the security docs.

[2020-10-30 15:06] Charlotte-Holt opened #3047 "Observability docs"
This epic is to track updates and doc bugs across the observability docs.

[2020-10-30 15:56] Charlotte-Holt commented on #2590
Link to staging: https://staging-openlibertyio.mybluemix.net/docs/20.0.0.12/java-se.html

[2020-10-30 19:35] gjwatts opened #3058 "Missing prefix value in description for Server configuration -> Classloader -> apiTypeVisibility"
On the openliberty.io site -> https://openliberty.io/docs/latest/reference/config/classloader.html

The description text in the first entry, `apiTypeVisibility`, looks like it is missing something.  It says
`... If a prefix of   or - is added to API types...`
I am assuming the space between the words `of` and `or` should have a character (perhaps a plus sign `+`?).

It is the exact same way on the

[2020-10-30 21:04] ericglau opened #3066 "Update dev mode documentation to include container support"
We are working on the following feature to support dev mode with containers: https://github.com/OpenLiberty/ci.maven/issues/659 , which we intend to release in the next version of the Liberty Maven/Gradle plugins.

This issue is to update the dev mode documentation (https://openliberty.io/docs/20.0.0.11/development-mode.html) to include information about container support.

It should cover the fol

[2020-10-30 21:05] dmuelle commented on #2867
@aguibert initial draft is now available for review at
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/relational-database-connections-JDBC.html

[2020-11-02 16:38] aguibert commented on #2867
Thanks for putting this together @dmuelle !

Review comments:
 - Wording change: `can connect and interact with` --> `can connect to and interact with`
- Instead of saying `JDBC provider` say `JDBC driver`
- Conciseness: `so that an application that is running on` --> `so an application running on`
- the link for `Java Database Connectivity feature.` is broken, but that might just be because of th

[2020-11-02 18:20] wtlucy commented on #2811
The doc updates looks good to me - thanks!

[2020-11-02 18:41] Charlotte-Holt commented on #2831
Here's a link to the first draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/javaMail-1.6.html.

[2020-11-02 18:42] Charlotte-Holt commented on #727
@pnicolucci Here's a link to the first draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/async-io.html. Please review and let me know if you have any suggestions.

[2020-11-02 18:51] Charlotte-Holt commented on #1780
@scottkurz Thanks for pointing out that example! I added it to the doc after, "You can also specify variables at startup from the command line. If you do, the variables that are specified on the command line override all other sources of variables and can’t be changed after the server starts:". I wasn't sure that the first `--` should be in the command, so I'm looking into that. If not, I'll updat

[2020-11-02 19:09] scottkurz commented on #1780
@Charlotte-Holt ..

1. I like this newer rendition better

though.. and this may seem like a nit, I'd instead write:

Maybe in plain English the first is better but I like keeping "default" and "values" close, not separate, since the attribute after all is "defaultValue".

2. Just to make it even more obvious, could we take:

and add:

Maybe I'm going a bit overboard.. but is there a way to spell

[2020-11-02 19:34] Charlotte-Holt commented on #2811
The update to `metrics-list.adoc` was merged to `vNext` in #3080. The updates to `jmx-metrics-list.adoc` will be published when the topic is published in 20.0.0.12.

[2020-11-02 19:39] #2811 closed, assigned to Charlotte-Holt

[2020-11-02 20:20] Charlotte-Holt commented on #1286
@chirp1 I'd gone back through this one and focused on updates relating to the chapter on clarity. Some specific updates I made:

- "The sessions that are associated with a single web application have their own SessionStats MXBean, meaning that there's one SessionStats MXBean for each web application." --> "The sessions that are associated with a single web application have their own SessionStats M

[2020-11-02 20:24] dmuelle commented on #2867
@aguibert thanks for reviewing! I made the following edits per your comments:

- [x]  Wording change: `can connect and interact with` --> `can connect to and interact with`
- [x] Instead of saying `JDBC provider` say `JDBC driver`
- [x] Conciseness: `so that an application that is running on` --> `so an application running on`
**got rid of the first "that" but have to keep "that is running" per ac

[2020-11-02 20:41] Charlotte-Holt commented on #1891
@chirp1 I'd went through focused on updates relating to the chapters on clarity and concreteness. Some specific updates I made:

- " Open Liberty uses MicroProfile Metrics to expose metrics that describe the internal state of many of its components." --> "Open Liberty uses MicroProfile Metrics to expose metrics that describe the internal state of many Open Liberty components." - DQTI, Chapter 6, C

[2020-11-02 20:54] jim-krueger commented on #745
@Charlotte-Holt  I have a couple changes that should be made:

1. Missing attribute:  "MethodName".   Units: "Not applicable".  Description: "The name of the RESTful resource method"

2. Change attribute: "Description".  The description should be "A general description for these attributes."

3.  Change attribute: "RequestCount".  The UNITs should be "Integers".  The description should be "The num

[2020-11-02 21:43] dmuelle opened #3085 "Consistency in variables across the docs"
We need to come up with a consistent way to express variables in our config examples. For example, throughout the doc, the server config directory is variously referred to as

* `server_name`
* `server1`
* `serverName`
* `${server.config.dir}`
* `path/to/liberty`

For examples see the [server create command](https://www.openliberty.io/docs/20.0.0.11/reference/command/server-create.html)

Also, for

[2020-11-02 21:53] dmuelle commented on #1694
Thanks for reviewing @Rwalls1. I made the following updates per your review:
- [x] For “Direct human consumption”, I think you should use a simpler term that will provide more  clarity.
- [x] I think you should change “fully configured in server.xml” to “fully configured in the server.xml file” to increase clarity and maintain consistency throughout topics.
- [x] Similarly, I think you should chan

[2020-11-02 22:17] dmuelle opened #3087 "Review config settings by source table"
Is this table useful?

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/log-trace-configuration.html#settings

It seems to prioritize server config elements, when thats not the recommended way to configure logging in many cases.

The descriptions are not parallel and some of them are unwieldy and need revision.

- is a table the best way to convey this info?
- why is this not part of the a

[2020-11-02 22:18] dmuelle commented on #1694
doc bug for the config settings table: https://github.com/OpenLiberty/docs/issues/3087

[2020-11-03 00:18] dmuelle opened #3091 "Change LetsEncrypt to Let's Encrypt in Acme documentation"
Per https://letsencrypt.org/trademarks/#requirements-for-use-of-the-isrg-marks need to update references in https://www.openliberty.io/docs/20.0.0.11/acme-cert-management.html to be "Let's Encrypt" and add a `TM` to first mention

[2020-11-03 00:33] dmuelle commented on #2867
from @aguibert via slack:

Lets just use dir="jdbc" then. Using server1/jdbc is misleading because if a relative path is specified, then it is relative to ${server.config.dir}, meaning that server1/jdbc would evaluate to ${server.config.dir}/server1/jdbc and it would be strange if someone had a server1 folder in their server folder.

however, I think we should be allowed to use built-in variables

[2020-11-03 01:50] dmuelle commented on #1694
edits for clarity and concreteness in #3092
-Make the syntax of sentences clear
- reduce wordiness
- use technical terms appropriately and consistently
- Use words with a clear meaning

Re- checked against the [KC  and OL blog post sources ](https://github.com/OpenLiberty/docs/issues/1694#issue-638003348)

[2020-11-03 13:31] dmuelle commented on #2867
@lauracowen this is ready for your review

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/relational-database-connections-JDBC.html

[2020-11-03 13:43] dmuelle commented on #2867
See issue #369 re default data source config example on the JDBC feature page- should the example go both on that page and in this doc?

[2020-11-03 15:23] Charlotte-Holt commented on #2843
#2844

[2020-11-03 16:35] Charlotte-Holt commented on #745
Hi, @jim-krueger. Thanks for the feedback. I incorporated all of these updates into https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jmx-metrics-list.html#rest-stats, except the units for `RequestCount`. I'm assuming it's a counter? We have other counters that have units as "Not applicable", for example `ReceivedMessagesCount`, so I'm thinking they either all need to be changed to "Integer

[2020-11-03 16:38] Charlotte-Holt commented on #1780
@scottkurz Thx for the feedback! Updated in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/config/server-configuration-overview.html#variable-substitution. See what you think, and let me know if you spot anything else that needs updating.

[2020-11-03 16:38] uberskigeek commented on #2831
Charlotte, This looks good to me. On a related issue are there plans to do this for Jakarta mail 2.0?

[2020-11-03 16:43] neuwerk commented on #2831
Looks good to me!

[2020-11-03 16:49] Charlotte-Holt commented on #2831
@uberskigeek Thx for reviewing! We don't currently have an issue open for config examples for Jakarta Mail 2.0, and I'm not seeing it in the OL feature doc (could just be overlooking it, though). Should it be in the OL docs, or has it not been released yet?

[2020-11-03 17:12] lauracowen commented on #893
Thanks @brutif - it's nice to get nice feedback :)

[2020-11-03 17:29] #3091 closed, assigned to nobody

[2020-11-03 18:33] Charlotte-Holt commented on #1699
@dmuelle Looks good! Peer review feedback for https://www.openliberty.io/docs/20.0.0.11/acme-cert-management.html:

### ACME and Open Liberty
- In "To receive a callback from a public ACME provider, port 80 must be open to comply with the standards for the HTTP-01 challenge type.", should "80" be monospaced? Looking at ports in https://openliberty.io/docs/20.0.0.11/reference/config/server-configur

[2020-11-03 18:43] Charlotte-Holt commented on #2363
@dmuelle Peer review feedback:

### Minimum configuration
- I think it should be "LetsEncrypt" based on your other topics
- Consider monospacing "80" in "port 80"

### Renew expiring certificates
- In your ACME topic, you used the number 7 in for the default value of `renewBeforeExpiration`.

### Use an ACME test server
- "`acmeTransportConfig` configuration element" to "`acmeTransportConfig` elem

[2020-11-03 19:15] dmuelle commented on #2604
slack comment from @andymc12 :

Yes, the JAX-RS 2.0 stuff is still relevant to Open Liberty (and it will work the same with JAX-RS 2.1).  The concepts in that page are universal, but I think JWT is more popular now than LTPA. So maybe we could "merge" this with some of the JWT docs?

[2020-11-03 19:20] dmuelle commented on #1833
Edits for clarity and concreteness in #3102

- reduce wordiness
- use technical terms consistently
- Make elements parallel
- USE CONSISTENT MARKUP TAGGING

[2020-11-03 19:30] Channyboy commented on #745
@Charlotte-Holt
|MXBean attribute| Units| Description|
|---|---| ---|
|MinuteLatest | Minute<1> | The latest (most-recent)  minute in which an update was made to this MXBean. The latest minute can be the _current_ on-going minute. |
|MinuteLatestMaximumDuration| Nanoseconds | The longest recorded _ResponseTime_ **within<2>** the _latest (most-recent) minute_ in which an update was made to this MXB

[2020-11-03 21:37] dmuelle commented on #1699
Thanks for reviewing @Charlotte-Holt. I made the following changes per your review:

 Peer review feedback for https://www.openliberty.io/docs/20.0.0.11/acme-cert-management.html:

- [x]  should "80" be monospaced?
- [x] Should "over the public web." be "over the public internet."?
- [x] Maybe change "If you don’t specify a reason..." to "If you don’t specify a reason value..."
- [x] I think "view

[2020-11-03 21:46] scottkurz commented on #1780
@Charlotte-Holt  - I like it ! Thanks for being willing to keep revising this .

Never knew that's how to spell "supersede"  either :)

[2020-11-04 14:50] Charlotte-Holt commented on #1780
@scottkurz Of course. Thanks for your feedback and helping improve the docs! :) I'll move this into the **Ready to Publish** column. These updates are related to #3192.

[2020-11-04 15:08] lauracowen commented on #1558
@frowe There'll be the intro to JPA. And the kerberos one.

[2020-11-04 15:53] dmuelle commented on #2363
@Charlotte-Holt thanks for reviewing. I made the following updates per your review:

- [x] I think it should be "LetsEncrypt" based on your other topics- **The correct name is "Let's Encrypt". I fixed it in the concept topic in this docbug #3091**
- [x] Consider monospacing "80" in "port 80"
- [x] In your ACME topic, you used the number 7 in for the default value of `renewBeforeExpiration`. **fixe

[2020-11-04 16:23] dmuelle commented on #2363
Draft updated : https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/acmeCA-2.0.html

[2020-11-04 16:25] dmuelle commented on #1699
Draft updated at https://draft-openlibertyio.mybluemix.net/docs/latest/acme-cert-management.html

[2020-11-04 18:54] lauracowen commented on #1694
- Should the "Configure JSON logging with environment variables:" sentence before the example say "in the `server.env` file."?
- The link to the 20.0.0.08 release blog post - does that info not fit into this doc topic? If not and it should be a different doc topic, can you create an issue to create that topic too (then when that's done the link can be changed in this topic). I don't think we shoul

[2020-11-04 19:20] Charlotte-Holt commented on #2835
@dmuelle @lauracowen I updated "API documentation" to "Documenting APIs" in the nav: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/overview.html. Are you good with me going ahead and merging this change to `staging` and `vNext`?

[2020-11-04 19:24] Charlotte-Holt commented on #745
@Channyboy Thank you! I added these metrics: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jmx-metrics-list.html#rest-stats. Please review these changes and let me know if further updates are needed.

[2020-11-04 19:30] Charlotte-Holt commented on #2680
The last update to `security-hardening.adoc` was merged to `vNext` in #3116. This will publish with 20.0.0.12.

[2020-11-05 09:25] lauracowen commented on #2835
Yup!

[2020-11-05 13:33] lauracowen commented on #2867
In general, looks good. Some specific comments:

- Personally, I'd have taken out the second "that" and kept the first "that"... :) (In the first para of the topic) I agree that multiple "that" are too much/clunky (regardless of what IBM style says) - it just needs to read smoothly/clearly.
- I like the examples in the second para - nice concrete touch there :)
- I don't think "The" in "The JDBC A

[2020-11-05 14:03] barecode commented on #2835
This looks great, thank you!

[2020-11-05 14:52] lauracowen commented on #648
I like it. I learnt something, which is always good. :) Some specific comments:

- "When you deploy an application with the operator," - should that be "When you deploy an application with the Open Liberty operator," (for clarity that it's the OL operator you're talking about from the start and not a generic operator before going into details about the OL one)?
- Not sure that "Deployments, Servic

[2020-11-05 14:55] lauracowen commented on #2075
Can you use hardcoded names instead of variables for the bits in curly brackets? eg `${tenant.id}` - so as to give an example rather than a syntax format. The "Feature configuration elements" section beneath the Examples section provides a link to the `oidcLogin` element which lists all its attributes and what values can be put there.

Otherwise, looks good, thanks.

[2020-11-05 15:53] Charlotte-Holt commented on #2835
This was merged to `vNext` in #3119. It'll publish with 20.0.0.12. Closing this issue.

[2020-11-05 15:53] #2835 closed, assigned to Charlotte-Holt

[2020-11-05 16:01] Charlotte-Holt commented on #648
- [ ] "When you deploy an application with the operator," - should that be "When you deploy an application with the Open Liberty operator," (for clarity that it's the OL operator you're talking about from the start and not a generic operator before going into details about the OL one)?
- [ ] Not sure that "Deployments, Services, and Routes" need to be either capitalised or monospace when talking c

[2020-11-05 17:03] Channyboy commented on #745
The changes made look good!

[2020-11-05 17:07] jim-krueger commented on #745
Looks good to me as well!  Thanks

[2020-11-05 17:27] Charlotte-Holt commented on #745
These changes are now all incorporated into the JMX metrics topic (#1286) that will publish in 20.0.0.12. Closing this issue.

[2020-11-05 17:27] #745 closed

[2020-11-05 18:12] Charlotte-Holt commented on #648
@lauracowen Thanks for the review!! I addressed all your feedback:

- [x] "When you deploy an application with the operator," - should that be "When you deploy an application with the Open Liberty operator," (for clarity that it's the OL operator you're talking about from the start and not a generic operator before going into details about the OL one)?
- [x] Not sure that "Deployments, Services, a

[2020-11-05 19:42] lauracowen commented on #648
Speedy!

I think "Deployments, Services, and Routes," should be lower-case too when in text like this as opposed to talking about the actual entries in the configuration files. I know Kubernetes use upper-case but OpenShift uses lower-case and there's not really any reason to upper-case it (ie I think Kubernetes doc is grammatically wrong). :)

But other than that it looks good and will sign off i

[2020-11-05 19:50] Charlotte-Holt commented on #648
@lauracowen Thank you! Just fixed in #3123. Requesting a peer review from @ManasiGandhi: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/open-liberty-operator.html

[2020-11-05 19:59] dmuelle commented on #2867
Thanks for reviewing @lauracowen. I've made edits for the following items, will break out the stuff that needs @aguibert  input into a separate comment and address there.

- [x] I don't think "The" in "The JDBC API" should be part of the link. Just "JDBC API".
- [x] The different XML examples should use consistent indentation (number of spaces) throughout the topic - the first uses much deeper ind

[2020-11-05 20:10] dmuelle commented on #2867
Hi @aguibert - Laura and I had a couple questions re this draft:

- In discussion with Fred and Nathan about the "testing server configurations" topic (probably going with this new topic title) that @Rwalls1 is currently writing based on (based on [Nathan's blog post](https://openliberty.io/blog/2019/09/13/testing-database-connections-REST-APIs.html) which will then be redirected to the doc topic)

[2020-11-05 20:44] Rwalls1 commented on #1558
@frowe @nmittles @aguibert Please review: I've incorporated most of Laura's suggestions based on the previous slack conversation: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-06 02:59] aguibert commented on #2867
To me "Download" implies manually downloading. I think "Get" is a fine term to use here because on the front page of openliberty.io we have a "Get Open Liberty" button which links to the downloads page with instructions for getting in image using maven/gradle/docker/zip.

Not entirely sure what you mean here, but by running those commands you get a container for that particular database. Also, the

[2020-11-06 09:14] lauracowen commented on #2867
@aguibert

That was what I was asking really. By "Get", do you mean they should get it by adding it into their Maven pom.xml rather than by manual download? It wasn't clear to me in reading that section what you expected the reader to do with the information and, if they should be adding it to their pom.xml, should we explicitly say that?

[2020-11-06 13:52] lauracowen commented on #2408
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/xsd-schema.html

[2020-11-06 16:16] dmuelle commented on #2847
Do we also need a foundational topic about MBeans to anchor this info? We don't have anything currently in the OL docs.

[2020-11-06 16:25] #2859 closed, assigned to nobody

[2020-11-06 16:28] dmuelle commented on #2887
Don't prioritize until discussing with Alasdair

[2020-11-06 16:56] dmuelle commented on #2949
This is covered by a different strategic alternative in #2418

[2020-11-06 16:57] #2949 closed, assigned to nobody

[2020-11-06 16:59] #2951 closed, assigned to nobody

[2020-11-06 17:27] dmuelle opened #3125 "Landing pages"
The following pages can be moved up to become second level landing pages

~~RESTful services - https://openliberty.io/docs/ref/general/#rest-microservices.html
API documentation - https://draft-openlibertyio.mybluemix.net/docs/ref/general/#documentation-openapi.html
Concurrency - https://openliberty.io/docs/ref/general/#concurrency.html
Fault tolerance - https://openliberty.io/docs/ref/general/#fa

[2020-11-06 17:32] dmuelle commented on #2904
Issue moved to [OpenLiberty/open-liberty #14869](https://github.com/OpenLiberty/open-liberty/issues/14869) via [**ZenHub**](https://www.zenhub.com/)

[2020-11-06 17:32] #2904 closed, assigned to nobody

[2020-11-06 17:46] dmuelle commented on #951
should this page include supported API info?

Supports Java EE 7 and 8
Supports MicroProfile 1.X, 2.X, and 3.X
Supported on Java 8, 11, and 13
Supported with Spring Boot version X

per [this comment](https://github.com/OpenLiberty/docs/issues/840#issuecomment-552669836) from @aguibert

[2020-11-06 18:04] dmuelle commented on #2867
Thanks @lauracowen @aguibert , made the following updates to the draft

- changed the heading to H2, `Configuring databases that are unknown to Open Liberty`
- added an anchor list for the common database examples since we now have working anchor links :)
- clarified the datasource types order info to say that OL looks for datasource in the specififed ourder and chooses thee first type that's avai

[2020-11-06 18:50] mbroz2 commented on #951
I'm not sure I would include specific versions in the 'why open liberty' doc, as those specifics are already documented elsewhere and we'll risk this page getting stale and growing out of sync with the formal documentation.  Instead, I would keep it like you have it now with Jakarta and MP covered in the first 2 sentences, but add links there to the appropriate docs (for example, javadoc).

For Ja

[2020-11-06 18:56] lauracowen commented on #2284
@ggam Can I ask why you've chosen to write a custom user registry rather than using an existing one in some form? Or did you mean you already have a custom user registry that you want to configure to work with your app on Liberty?

[2020-11-06 19:55] lauracowen commented on #2408
Thanks. I think most of the info is there but needs reordering/editing mostly:

- The intro says moreorless the same thing three times without explaining why you might want to generate the schema. There's also no different tool for generating the XSD when using Maven than when using without (the third sentence implies there is).
- Don't use the phrase "embedded Open Liberty" - it's just "Open Libe

[2020-11-06 20:00] ggam commented on #2284
@lauracowen I need to get users from a database and authenticate via both MP JWT or basic auth. I haven't found a way to get users from the DB with the default registries (only LDAP).

I can use Jakarta Security to get the users from the database, but Open Liberty disables MP JWT when Jakarta Security is in place.

[2020-11-09 13:09] Kenzku opened #3132 "HTTP Strict-Transport-Security not supported in webContainer in server.xml or not missing document"
`<webContainer addstricttransportsecurityheader="max-age=31536000;includeSubDomains" />` is not support or documented at https://openliberty.io/docs/20.0.0.7/reference/config/webContainer.html

I can set this value based on WebSphere liberty, the according to https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_hsts.html

but the same setting is missing

[2020-11-09 16:34] chirp1 commented on #1128
The version of the topic that includes the configuration examples is at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/mpMetrics-2.3.html

[2020-11-09 16:58] frowe commented on #1558
1) We seem to have an inconsistency with URLs, in the first section, we use `/ibm/api/validation`, later we use `https://localhost:9443/ibm/api/config/dataSource/`, then `{https.port}/ibm/api/validation/dataSource/{uid}` and then `https://localhost:9443/ibm/api/validation/connectionFactory/{uid}`
I believe we should use `https://localhost:9443/ibm/api/validation|config` consistently.
2) Do we need

[2020-11-09 17:33] dmuelle opened #3134 "Update wiki info for config examples to reflect new process"
The ["How" section of the wiki](https://github.com/OpenLiberty/docs/wiki/How-to-add-config-examples-to-generated-feature-docs#how) needs to be updated for the new generated docs process

[2020-11-09 17:35] dmuelle opened #3135 "Fix include statement on Auth filter page"
Need to fix the include statement, which is based on the old generated doc.

[2020-11-09 17:44] ManasiGandhi commented on #648
@Charlotte-Holt The doc looks good! Few suggestions:

**Short Description**

- [x] Change,

“Operators are extensions to Kubernetes that are customized to automate tasks beyond the initial automation that Kubernetes or OpenShift provide.”
To,
“Operators are extensions to Kubernetes that are customized to automate tasks beyond the initial automation that Kubernetes or OpenShift provides.”

**What i

[2020-11-09 20:52] Charlotte-Holt commented on #648
@ManasiGandhi Thanks for the review! I incorporated all the updates above that I checked off. To address the others:

 - “When a discrepancy exists between the..”, you could also say “When there is a discrepancy between the..”, to use active voice. - **I didn't want to use "there is", which is why I structured it with "exists".**

 - “The Open Liberty Operator is based on the Runtime Component Ope

[2020-11-09 20:53] dmuelle commented on #3135
changes to vNext in #3139

[2020-11-09 20:53] #3135 closed, assigned to dmuelle

[2020-11-09 21:50] Rwalls1 commented on #1558
@frowe Thanks, For the X header comment, what is the additional significance of the X header? Also, if the URLs such as "https://localhost:9443/ibm/api/validation/connectionFactory/{uid}" are changed for consistency purposes, would the associated config examples need to be updated?: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-09 22:16] una-tapa opened #3144 "Please update Liberty performance consideration (Closed - No ID work needed)"
Hello,

Per customer's request, please add this performance hints and tips to Liberty's performance KC document.

My customer  (SOMPO) was affected by the following Apache CXF default behavior that could cause their application to stop for 10 seconds every 10 hours.

Although it is not Liberty's code,  Apache CXF is shipped with Liberty.  So customer felt it is Liberty's behavior.. They think IBM

[2020-11-10 00:20] frowe commented on #1558
@Rwalls1 I'll have to let @njr-11 or @aguibert explain the X header better.  If the URLs are made consistent, the examples will remain unchanged as they already express complete URLs.

[2020-11-10 00:22] frowe commented on #2847
Yes, I think such a topic would be useful.

[2020-11-10 11:27] lauracowen commented on #2569
Nice, thanks.

For SME, could you get someone like Chuck to take a look over it to make sure it all makes sense? If he wants any significant changes in the descriptions, can you make sure he also raises the changes against the script from which you got this info as well, pls?

Some minor comments - mostly just worth checking with Chuck rather than things for you necessarily to change:

- Not sure

[2020-11-10 12:58] lauracowen commented on #2417
Thanks. Some fairly minor comments/questions:

- Should "BELLS" be "BELLs"? The "S" doesn't seem to stand for anything? The first sentence abbreviates to "BELL" in parentheses but then "BELLS" is used subsequently - needs to be consistent.

- "Configuring the Servlet Filter" example
  - Remove "In Open Libery" - this is all about Open Liberty and can be taken as read.
  - And use "for Open Liberty

[2020-11-10 13:05] lauracowen commented on #2867
- Minor thing but should "Default data source configuration" heading be "Configuration of a default data source"? I read it as a default configuration (in which case I wondered why you were even telling me about it) but actually it's about setting a default data source.
- "Embedded Derby" bullet link has a random hyphen after it.
- I think I follow @aguibert 's explanation of "Get" on re-reading i

[2020-11-10 13:06] lauracowen commented on #2569
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/default-environment-variables.html

[2020-11-10 14:25] aguibert commented on #2867
I think either `Default data source configuration` or `Configuration of the default data source` would be correct (notice `a --> the` since there can only be one default data source)

It is generally applicable

[2020-11-10 14:30] Emily-Jiang commented on #2284
@ggam I am surprised that your obeservation of "Open Liberty disables MP JWT when Jakarta Security is in place.", which should not be the expected behaviour. When you say Jakarta Security, do you mean Jakarta EE Security such as `@RolesAllowed` etc? If yes, it should not be case as MP JWT has to rely on that to secure applications. If no, can you explain with more details. If you have github repo

[2020-11-10 14:38] Rwalls1 commented on #2075
@lauracowen To clarify, can you provide an example of a hardcoded name or value that would replace information in the curly brackets?

[2020-11-10 15:24] Charlotte-Holt commented on #3132
@Kenzku Thanks for pointing this out. The config doc is generated, so I'm going to transfer this to the `open-liberty` repo. If this does apply to Open Liberty, then `addstricttransportsecurityheader` should be documented on https://openliberty.io/docs/20.0.0.11/reference/config/webContainer.html.

[2020-11-10 15:54] Charlotte-Holt commented on #505
Contact Tom Evans

[2020-11-10 17:04] aguibert commented on #1558
@Rwalls1 the X-Validation-User and X-Validation-Password headers are for more advanced scenarios where the user wants to test getting a connection with a specific username/password.

Descriptions for these params can be found in the original blog post:
[code]

[2020-11-10 17:47] dmuelle commented on #2867
Thanks @lauracowen @aguibert - I made the following changes to the draft:

- Changed `Default data source configuration` heading to `Configuration of the default data source`
- Fixed "Embedded Derby" bullet link has a random hyphen after it.
- Put the "Get..." statements in the example datasource configs in the same paragraph w/example intro

[2020-11-10 18:04] Emily-Jiang commented on #2284
reopened this for further clarification

[2020-11-10 18:17] lauracowen commented on #2419
Thanks! I like the examples - much clearer like this than in fragmented task topics.

Really minor things:
- "In the following example," is mentioned twice in the same paragraph for the same example. Is it possible to tweak the wording a bit so that's not necessary? (doesn't really matter if not)
- Don't think you need "The" at the start of the See also link. Just "classloader configuration elemen

[2020-11-10 18:21] lauracowen commented on #2867
Thanks - signing off.

[2020-11-10 19:04] lauracowen opened #3156 "Dodgy character in XML example"
In https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/appSecurity-3.0.html#_administrative_rest_api_access_role_configuration

First example has a superfluous `<`

[2020-11-10 19:18] ManasiGandhi commented on #2844
@aguibert I worked on the updates. Here is the link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/distributed-session-caching.html. Let me know if the changes look good.

[2020-11-10 19:22] ManasiGandhi commented on #955
@chirp1 I worked on your review,

- [x] Rewrite "You can download the metadata for the service provider on a browser with the service provider metadata URL.". "on a browser" is a little odd. The original sentence in the document that you drew from was clearer.

- [x] For the "Custom configuration" section, rewrite the first sentence to explain the point of the two statements in the example. Mentio

[2020-11-10 20:22] aguibert commented on #2844
@ManasiGandhi thanks, changes look good now

[2020-11-10 21:43] Rwalls1 commented on #1558
@frowe Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-10 21:58] dmuelle commented on #2419
Thanks @lauracowen - I fixed both items you cited.

requesting peer review from @ManasiGandhi

[2020-11-11 13:54] lauracowen commented on #1695
Thanks. My following comments relate mainly to the overall structure and organisation of the info. Can you make sure, when you've addressed them, that the whole topic makes logical sense as a whole and is clear up-front why the reader should continue reading past the first sentence - what value it provides them, etc.

- Intro
  - Don't think you need to give the feature names in the opening paragr

[2020-11-11 15:18] dmuelle commented on #371
Hi @sdaschner, was working through the backlog and came across this issue.

 What sorts of configuration examples would be useful for the JPA feature? We are adding an example for [configuring an alternate JPA provider](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jpaContainer-2.2.html) to the `jpaContainer-2.2` feature and, separately, [a concept overview for JPA](ht

[2020-11-11 16:11] Charlotte-Holt commented on #1960
Created this epic: https://github.com/OpenLiberty/docs/issues/3125. Closing the issue.

[2020-11-11 16:11] #1960 closed

[2020-11-11 16:27] dmuelle commented on #2460
@lauracowen @aguibert initial draft of this topic is now available for review [on the draft site](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/kerberos-authentication-jdbc.html)

[2020-11-11 16:40] lauracowen commented on #2408
I should've said that the reason for prioritising the Maven section over the other is that this topic is squarely targeted at developer needing the schema for, say, their IDE (so it validates their edits of server.xml), as described in the original guy's blog post. Developers are assumed to be using Maven (or similar) build tools.

[2020-11-11 16:40] donbourne commented on #1891
would like to reference this topic to address a customer question at https://groups.io/g/openliberty/topic/78185136 .  Can this please be published?

[2020-11-11 16:40] donbourne commented on #1286
would like to reference this topic to address a customer question at https://groups.io/g/openliberty/topic/78185136 .  Can this please be published?

[2020-11-11 16:41] donbourne commented on #1128
would like to reference this topic to address a customer question at https://groups.io/g/openliberty/topic/78185136 .  Can this please be published?

[2020-11-11 16:46] ManasiGandhi commented on #2419
@dmuelle Peer review. The doc looks good! A few suggestions

**Title**

- [x] Can the title be “Class loader configuration”? Not sure if it is technically correct, but the current title implies both that it is (Class loader + Library) configuration, and (Class loader)+ (library configuration).

- [x] In the second paragraph, it says “For example, the servlet APIs are available by default if the Ja

[2020-11-11 16:53] Rwalls1 commented on #1128
@donbourne This topic is currently set to be published with the 20.0.0.12 release along with the other Observability topics that are mentioned here: https://github.com/OpenLiberty/docs/issues/3047

[2020-11-11 17:11] Charlotte-Holt commented on #3156
Fixed in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/appSecurity-3.0.html.

[2020-11-11 18:44] lauracowen commented on #2460
Looks good.

Minor typo: "Open liberty server" in intro has lower-case L.

[2020-11-11 19:00] lauracowen commented on #1289
@ManasiGandhi I'm not sure what's happened to the indentation (either I missed it when I reviewed, or something's changed since I reviewed it). Can you fix this indentation as @zhang-ca requests above? Also, that snippet seems to be marked as "Java" source code but it's not, it's XML and should be marked as that so that the syntax highlighting is correct.

Also "SessionDS" and "DerbyDriver" should

[2020-11-11 20:14] lauracowen commented on #2844
Thanks. Comments below:

- Intro
  - Nice intro in general.
  - Is the JSR number really necessary? The page linked to that gives an intro to JCache already mentions that it's a JSR standard.
  - Can we give a quick definition of what is meant by "distributed caching" as opposed to non-distributed caching? A distinction is made later in the topic but it's not really clear why/when you'd use distri

[2020-11-11 20:20] lauracowen commented on #2831
Jakarta Mail 2.0 seems to be part of Jakarta EE 9 (https://jakarta.ee/specifications/mail/), which will be why it's not part of our OL docs already (Jakarta EE 9 is currently in beta only).

@uberskigeek In general though, yes, this would be done for any new feature version (either the same example as for the previous version or a new example specific to the new version, as appropriate). So if you

[2020-11-11 20:39] dmuelle commented on #3066
Hi @ericglau

These updates are now on [the Open Liberty draft site](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html#_container_support_for_dev_mode). Let me know if anything is missing or if edits are needed. These updates will publish with the 20.0.0.12 release.

[2020-11-11 20:40] lauracowen commented on #2831
Thanks.

- Some of the info in the intro to the example (definitely the first sentence which talks about the fact that it's for use with an external mail server) would be better in the intro to the topic itself. At least as an "extended description" but, tbh, the intro sentence of "This feature allows applications to utilize the JavaMail 1.6 API." should really be re-written to be more informative

[2020-11-11 20:49] lauracowen commented on #2075
sorry, I don't know. You'll need someone from the security team to give an example tenant ID (not sure what the format would be).

[2020-11-11 20:49] dmuelle commented on #2460
@aguibert - a general question about variables re our discussion in #2867, in this code example

`kerberos keytab="${server.config.dir}/security/krb5.keytab"`

Is it the case that a user doesn't necessarily need to specify the server config directory, but could just specify

`kerberos keytab="security/krb5.keytab"`

  However,  if they did include `${server.config.dir}` in their code, Liberty woul

[2020-11-11 21:00] ericglau commented on #3066
`For Maven projects, specify the Liberty Maven plug-in with version 3.3-M3` -> change to version 3.3.  Also applies to the snippet beneath it.
`For Gradle projects, specify the Liberty Gradle plug-in with version 3.1-M2` -> change to version 3.1.  Also applies to the snippet beneath it.

[2020-11-11 21:06] dmuelle commented on #192
We are including a section for Oracle UCP in our new doc on JDBC data sources, which is now [available for review on our draft site](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/relational-database-connections-JDBC.html#Oracleucp). This doc is scheduled to publish with 20.0.0.12

[2020-11-11 21:09] ericglau opened #3179 "Mention IntelliJ plugin in dev mode documentation"
In the dev mode doc, there is currently a section for the Open Liberty Tools VS Code extension https://openliberty.io/docs/20.0.0.11/development-mode.html#_vs_code_extension_for_dev_mode

Also mention the equivalent Open Liberty Tools plugin for IntelliJ IDEA and link to https://plugins.jetbrains.com/plugin/14856-open-liberty-tools

Reference material:
https://openliberty.io/blog/2020/09/03/open-l

[2020-11-11 21:10] ericglau commented on #3179
cc @kathrynkodama in case more information is needed for this

[2020-11-11 21:20] Rwalls1 commented on #1558
@frowe Please review the latest update:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-11 21:26] ayoho commented on #2075
Looks like Microsoft's documentation (https://docs.microsoft.com/en-us/azure/active-directory/develop/v2-protocols-oidc#fetch-the-openid-connect-metadata-document or https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols#endpoints) provides some examples of what that tenant ID string could be (e.g. `"common"`, `"organizations"`, `"consumers"`, or the "friendl

[2020-11-11 22:04] Charlotte-Holt commented on #3156
This is on vNext in #3181. Closing this issue.

[2020-11-11 22:04] #3156 closed, assigned to Charlotte-Holt

[2020-11-11 22:51] dmuelle commented on #3179
Added a section for the Intellij extension:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html#_intellij_extension

This update will publish with 20.0.0.12

[2020-11-11 22:53] dmuelle commented on #3066
Updated the versions as specified: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html#_start_dev_mode_with_container_support

[2020-11-12 02:01] chirp1 commented on #648
Hi Charlotte,

Here are my comments:
- Global comment: I think you should link to the Open Liberty Operator documentation once instead of multiple times. Thoroughly review the "Link to essential information" section and other linking sections in the IBM quality guide so that you gain a thorough understanding about linking. I have more specific comments on linking in the comments that follow. If yo

[2020-11-12 14:08] utle commented on #2460
@dmuelle
If they did include ${server.config.dir} in their server.xml file, Liberty would resolve it as their local server config directory.

[2020-11-12 14:16] dmuelle commented on #2460
Thanks @utle !

[2020-11-12 14:21] uberskigeek commented on #2831
Hi Laura do you have a new link for this --> https://ibm.box.com/s/90b7dnmkcu9qv4uple03niz6u3wj1np2 Seems this one has expired?
Thanks!

[2020-11-12 14:37] lauracowen commented on #2831
@uberskigeek  Try it again now. But I think you'll still need to log in to see it (can't make it publicly accessible while it's still in Box).

[2020-11-12 14:39] Rwalls1 commented on #1558
@frowe Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-12 14:41] uberskigeek commented on #2831
Thanks Laura! I can get there now

[2020-11-12 14:43] frowe commented on #1558
Looks good, I think we're done.

[2020-11-12 14:53] kathrynkodama commented on #3179
@dmuelle  Can we match the VS Code section so that it reads:

"After you install the extension and enable either the Maven or Gradle plug-in, your project name is listed under the Liberty Dev Dashboard. You can interact with dev mode by right-clicking on your project name, or selecting a command from the drop-down list for the project name. Alternatively, you can use the Run Liberty Dev Task optio

[2020-11-12 15:05] Rwalls1 commented on #1558
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html

[2020-11-12 15:09] dmuelle commented on #2460
@aguibert @utle can either of you provide technical review of this draft:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/kerberos-authentication-jdbc.html

Our content cutoff to publish with 20.0.0.12 is Monday, so if any changes are needed, I can prioritize them to be completed before the cutoff. Thanks

[2020-11-12 15:11] ericglau commented on #3066
It looks good, thanks.

[2020-11-12 15:18] dmuelle commented on #3066
Ok thanks, closing this issue- will continue working on the Intellij section in #3179

[2020-11-12 15:18] #3066 closed, assigned to dmuelle

[2020-11-12 15:22] Charlotte-Holt commented on #2867
@dmuelle Looks great!

## Peer review feedback

### Data source configuration

- [x] Regarding "For example, the following code shows the currentLockTimeout property on the Db2 JDBC driver’s data source classes:" - Previously in the topic, you referred to the Db2 driver as the "IBM Db2 JDBC driver", I think you could make these consistent.
- [x] In "For more information, see Testing database conne

[2020-11-12 15:24] Charlotte-Holt commented on #648
@chirp1 Thanks! All feedback has been addressed:

- [x] Global comment: I think you should link to the Open Liberty Operator documentation once instead of multiple times. Thoroughly review the "Link to essential information" section and other linking sections in the IBM quality guide so that you gain a thorough understanding about linking. I have more specific comments on linking in the comments t

[2020-11-12 15:26] aguibert commented on #2460
looks really good @dmuelle, just 2 small comments:

1. In the code examples the variables starting with `DB2_` are meant to be variables, so they should be wrapped in `${}` like this: `${DB2_HOSTNAME}`
2. For the SPNEGO section, we might want to add the following disclaimer:

If the user doesn't configure a `recoveryAuthDataRef` for SPNEGO, the runtime will emit a warning message indicating they n

[2020-11-12 17:34] dmuelle opened #3192 "New topic on Variable substitution"
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/config/server-configuration-overview.html#variable-substitution

This section is the only place in the docs where the "built-in" config variables for OL are listed- but they're just stuck at the end of the section. This section could properly be renamed as just "Variable substitution", and re-focused to also explain best practice f

[2020-11-12 18:28] lauracowen commented on #2418
Ok, I think we need to put this topic on hold for now, for several reasons (sorry for the delay in reviewing, I've been trying to look into a few different aspects of it since starting reviewing it last week):

- A lot of the info in this topic (as it currently stands) doesn't/can't apply to Open Liberty and the OL docs.
  - The sample files linked to won't exist in another week because the Libert

[2020-11-12 18:51] dmuelle commented on #3179
Thanks @kathrynkodama! Working on that change - to clarify

"Alternatively, you can use the Run Liberty Dev Task option in the dashboard toolbar"

Is that option available for both maven and Gradle users or just Gradle? If it's just Gradle, is there an equivalent option for Maven users?

[2020-11-12 19:01] kathrynkodama commented on #3179
Thank you @dmuelle - the "Run Liberty Dev Task" option is for both Maven and Gradle projects

[2020-11-12 19:22] lauracowen commented on #1558
Thanks - this is a better overall structure.

Intro:
- Should "If you enable the JDBC, JCA, Cloudant,..." be "If you also enable the JDBC, JCA, Cloudant,..." (the point is you enable them as well as the Rest Connector feature, I think?)
- Can you talk to @dmuelle about the use/format of placeholder variables in examples so that we can do it consistently across all the doc topics (re {configElement

[2020-11-12 22:13] dmuelle commented on #2867
Thanks for reviewing @Charlotte-Holt , I have updated the file per your suggestions above, with the exception  being for Oracle UCP I realized the property was actually just `user` instead of username, so I made that change accordingly. Also had to shuffle a few sentences around to avoid acrolinx word length restrictions.

[2020-11-13 15:50] dmuelle commented on #3179
Hi @kathrynkodama @ericglau

TO avoid repeating identical information for each extension, I've combined the common info into one section and supplied links to each download and GitHub repo. See if this makes sense and is accurate for both VS Code and Intellij:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html#_open_liberty_tools_for_vs_code_and_intellij

If not, I can

[2020-11-13 15:56] kathrynkodama commented on #3179
Thanks @dmuelle, I think the new combined section makes more sense. Just a few notes:
- The "Run Liberty Dev Task" option is only available in the IntelliJ plugin, not the VS Code plugin.
- "Open Liberty Tools for VS Code on GitHub" is all hyperlinked, but only "Open Liberty Tools for IntelliJ" is hyperlinked.

[2020-11-13 15:56] dmuelle commented on #2460
Hi @lauracowen @aguibert based on our slack convo and Andy's comments above, I made the following changes

- added statement for `recoveryAuthDataRef` for SPNEGO w/ XA recovery
- restored `${}` variables to the examples. I added a brief callout note in the second example to point out that the DB property values were supplied by variables for portability and included a link to the variable substitu

[2020-11-13 16:03] dmuelle commented on #2419
Thanks for reviewing @ManasiGandhi. I made the following changes per your review:

- changed title to "Class loader configuration".
- removed 2nd instance of "default" from the sentence you mentioned
- reworded the feature documentation" sentence to make it more clear that it would be a different page depending on the feature- "To learn which third-party APIs are available for an Open Liberty feat

[2020-11-13 16:25] ericglau commented on #3179
The link to Open Liberty Tools for IntelliJ on GitHub is missing a j in the URL.

[2020-11-13 18:23] dmuelle commented on #2890
Since #2418 was closed, need to link the custom user registry doc to this example:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/bells-1.0.html#_adding_the_shared_library_for_a_custom_user_registry

[2020-11-13 19:04] chirp1 commented on #648
Hi Charlotte, the article looks nice!
I have just three minor comments:
- For "state of resources that you configure. ", "state that you configure, ", and "to the state that you configure. ", should all three be 'configured" instead of "configure"?
- I seem to still spot one occurrence of "Open Liberty operator" (lower case "operator"). Check your section headers.
- Since we the topics says "The O

[2020-11-13 20:02] Charlotte-Holt commented on #648
@chirp1 Updates made! https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/open-liberty-operator.html:

- [x] For "state of resources that you configure. ", "state that you configure, ", and "to the state that you configure. ", should all three be 'configured" instead of "configure"?
- [x] I seem to still spot one occurrence of "Open Liberty operator" (lower case "operator"). Check your sectio

[2020-11-13 20:08] chirp1 commented on #648
Topic looks great! Moving to Ready to Publish.

[2020-11-13 20:49] chirp1 commented on #429
Hi David,
Here are my updates:
- For "behaviors are added in new features and feature versions. ", you do farther down in the topic explain what a feature version is with an example, but if in this initial paragraph you could briefly explain what you mean b y a feature version, you could make more clear what a "feature versions" means and set the tone for the rest of the topic. Otherwise, a user c

[2020-11-13 20:54] dmuelle commented on #2890
Link added, will move to staging/ vNext once  #2417 publishes
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/user-registries-application-security.html#_custom_user_registries_and_repositories

[2020-11-13 20:58] dmuelle commented on #3179
Apologies, I should have checked that closer before sending. Here is an update:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html#_open_liberty_tools_for_vs_code_and_intellij

let me know if it needs anything further. Thanks!

[2020-11-13 21:06] ericglau commented on #3179
I just noticed the IntelliJ one should be written as "JetBrains Marketplace" according to [this](https://plugins.jetbrains.com/docs/marketplace/).  The rest looks good to me, thanks.

[2020-11-13 21:11] Charlotte-Holt commented on #648
Merged to vNext in #3221. Closing this issue.

[2020-11-13 21:11] #648 closed

[2020-11-13 22:57] aguibert commented on #2460
Hi David, I just noticed that this XML is incorrect in the first snippet:
[code]
Instead, it should be:
[code]

other than this minor change it looks good so I'll add the reviewed label -- thanks!

[2020-11-15 17:38] dmuelle opened #3225 "Review and update "Health checks for microservices""
Review this doc for style and content, make sure info is up to date

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/health-check-microservices.html

[2020-11-16 01:32] chirp1 commented on #1891
Hi Charlotte,
The topic looks nice! I have a few comments:

- For (mpMetrics-2.3), and other features listed in the topic , although the style guide says to put the feature and number in monospace and in parentheses on first metion, we're not consistent on this point across docs. Also, I think that not having the feature in parentheses would be better. Additional versions can be released for the f

[2020-11-16 13:31] dmuelle commented on #429
Thanks for reviewing @chirp1, I made the following changes based on your review:

- [x] For "behaviors are added in new features and feature versions. ",  you could make more clear what a "feature versions" means and set the tone for the rest of the topic. **Added a brief explanation in 2nd paragraph**

- [x] For "either for a fix pack or a new version. ", I don't believe that OL has fix packs. **

[2020-11-16 13:41] dmuelle commented on #3179
@ericglau  I made that change: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/development-mode.html

This update will publish on Friday 11.20 with the 20.0.0.12 release. Thanks!

[2020-11-16 13:43] dmuelle commented on #2460
Thanks Andy, I've updated that snippet:

https://draft-openlibertyio.mybluemix.net/docs/latest/kerberos-authentication-jdbc.html

[2020-11-16 14:35] chirp1 commented on #429
Hi David,

The updates look good, and the article looks nice!
I do see that for "The feature manager is configured by using the featureManager element in the server.xml file...", I inadvertently commented on the Feature Overview topic.
I'm moving the topic to the Ready to Publish column.

[2020-11-16 14:48] Charlotte-Holt commented on #1891
@chirp1 Thanks for the review! I addressed all your feedback as follows:

- [x] For (mpMetrics-2.3), and other features listed in the topic , although the style guide says to put the feature and number in monospace and in parentheses on first mention, we're not consistent on this point across docs. Also, I think that not having the feature in parentheses would be better. Additional versions can be

[2020-11-16 15:23] #192 closed

[2020-11-16 15:25] dmuelle commented on #369
Example for configuring default data source will publish with 20.0.0.12:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jdbc-4.3.html#_configuration_of_the_default_data_source

tracked in #2867

[2020-11-16 15:25] #369 closed

[2020-11-16 15:38] ericglau commented on #3179
@dmuelle Thanks, it looks good.

[2020-11-16 15:39] Charlotte-Holt commented on #2831
@lauracowen Thanks for the review! Addressed as follows:

- [x] Some of the info in the intro to the example (definitely the first sentence which talks about the fact that it's for use with an external mail server) would be better in the intro to the topic itself. At least as an "extended description" but, tbh, the intro sentence of "This feature allows applications to utilize the JavaMail 1.6 API

[2020-11-16 15:59] Charlotte-Holt opened #3232 "Update JavaMail description in autogen"
Add "If you have an external mail server, you can use the JavaMail API to send and receive email on applications that are running on Open Liberty." #2831

[2020-11-16 16:02] dmuelle opened #3233 "Un-comment link in JDBC topic when Validating connections topic publishes"
The link in [Relational database connections with JDBC](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/relational-database-connections-JDBC.html) to [Validating server connections](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/testing-database-connections.html) is commented out until the latter (#1558) publishes. Need to uncomment when that topic goes to vNext.

[2020-11-16 16:03] Charlotte-Holt opened #3234 "Clean up the Microservice observability with metrics topic"
Clean up edits are needed for https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/microservice-observability-metrics.html

[2020-11-16 16:03] #3179 closed, assigned to dmuelle

[2020-11-16 17:08] #2680 closed, assigned to Charlotte-Holt

[2020-11-16 20:42] chirp1 commented on #1891
Hi Charlotte,
The updates look good and the topic looks nice! As we discussed over slack with David, we don't need "Table 1" on a topic with a single table. I added the "editorial reviewed" label to this issue and am moving the issue to the Ready to Publish column.

[2020-11-16 22:54] ManasiGandhi commented on #1695
@lauracowen I worked on your review for the JMX topic. Here is the updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/configuring-jmx-connection.html

    Intro

- [x] Don't think you need to give the feature names in the opening paragraph - the "how" comes later. Focus on the what and why at this stage.

- [x]  Can you add something to say what a connector (in this contex

[2020-11-16 23:26] ManasiGandhi commented on #1289
@lauracowen @zhang-ca I worked on the review

- [x] Can you fix this indentation as @zhang-ca requests above?

- [x] Also, that snippet seems to be marked as "Java" source code but it's not, it's XML and should be marked as that so that the syntax highlighting is correct.

[2020-11-17 13:43] dmuelle commented on #3225
made edits in #3251 & #3252 for consistency, clarity, typos, list formatting, punctuation, reducing wordiness, and revised the short description. Edits will publish with 20.0.0.12

https://draft-openlibertyio.mybluemix.net/docs/latest/health-check-microservices.html

[2020-11-17 14:17] cbridgha commented on #2569
This looks good except the description for JAVA_HOME Doesn't make sense?  Sounds like you grabbed the description of the JVM options settings file.    In the config overview we already use: " Indicates which JVM to use. If this is not set, the system default is used."

[2020-11-17 14:21] dmuelle commented on #429
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20. Closing this issue

[2020-11-17 14:21] #429 closed

[2020-11-17 14:23] dmuelle commented on #1903
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:43] dmuelle commented on #2460
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

requesting peer review from @Charlotte-Holt

[2020-11-17 14:44] dmuelle commented on #1694
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html

[2020-11-17 14:48] dmuelle commented on #1684
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:50] dmuelle commented on #1833
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:51] dmuelle commented on #2867
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html

[2020-11-17 14:53] dmuelle commented on #1200
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:54] dmuelle commented on #210
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:55] dmuelle commented on #2281
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:55] dmuelle commented on #1095
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:56] dmuelle commented on #211
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 14:57] dmuelle commented on #213
Doc is now on vNext branch, will publish with 20.0.0.12 on 11.20

[2020-11-17 15:25] dmuelle commented on #2942
Prioritize remote EJB topics, and EJB lite as necessary for foundational understanding of OL offerings

[2020-11-17 15:32] Charlotte-Holt commented on #267
Check the variable syntax

[2020-11-17 15:39] dmuelle commented on #2828
Open Liberty Tools IDE extensions:
https://github.com/OpenLiberty/open-liberty-tools-vscode
https://github.com/OpenLiberty/open-liberty-tools-intellij

[2020-11-17 15:45] Charlotte-Holt commented on #3192
Pull info from the server config overview topic into a new topic about Variable substitution. Link from the server config overview to the new topic.

[2020-11-17 16:15] Charlotte-Holt opened #3263 "Data source docs"
This epic is to track updates and doc bugs across the data source docs.

[2020-11-17 16:32] Charlotte-Holt commented on #1891
Merged to `vNext` with Karen's edits in #3262

[2020-11-17 16:32] #1891 closed

[2020-11-17 20:04] Charlotte-Holt commented on #1676
This published with Karen's editorial updates added. Closing this issue.

[2020-11-17 20:04] #1676 closed

[2020-11-17 22:51] chirp1 commented on #955
Hi Manasi,
In looking over your configuration examples further, I spot a few other things to comment on:
I believe you drew your updates mainly from this topic: https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_config_saml_web_sso.html
Generally, your configuration examples for this topic could have more of the bits of concrete information that are in the

[2020-11-17 23:25] ManasiGandhi commented on #2569
@lauracowen I worked on your edit suggestions. Here's the link to the updated doc https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/default-environment-variables.html

- [x]  Not sure that user/custom should be highlighted in monospace.

- [x] Not sure what cmd.exe refers to here (it's not an area I know much about so that's a question for Chuck to check).

- [x] phrases such as "

[2020-11-17 23:53] chirp1 commented on #1964
Hi Manasi, I don't seem to see an peerl review for the topic. Also, I don't see references to at least instances where you looked up what you are doing in the IBM quality guide. Also, do a another look up in the quality guide for clarity and concreteness. Post that you looked those things up to this issue.

[2020-11-18 04:25] chirp1 commented on #954
Hi Charlotte,
I liked that you explained the examples in some detail. Here are the rest of my comments:
- Remove "If you want to learn more about single sign-on (SSO) ..." sentence because the SSO link has little info and points back to your Configuring SPNEGO authentication  link which has the detail.
- Change "For more information about how to configure these other items, " to "For more informat

[2020-11-18 11:50] lauracowen commented on #1695
Thanks, this is looking better at a high-level structure. I think the next step is to really clarify the point of the connectors and why you'd use them. That will help you to simplify the language used to explain them.

- I'm still not clear (as a reader) what the purpose of these connectors is, and why I might choose one or the other. The intro needs some concrete examples of why you might use JM

[2020-11-18 14:57] Charlotte-Holt commented on #954
@chirp1 Thanks! I made updates for all items that you mentioned:

- [x] Remove "If you want to learn more about single sign-on (SSO) ..." sentence because the SSO link has little info and points back to your Configuring SPNEGO authentication link which has the detail.
- [x] Change "For more information about how to configure these other items, " to "For more information, ".
- [x] Change your appro

[2020-11-18 15:37] mbroz2 opened #3271 "Create a Java/Jakarta EE Overview Doc"
I would like to see a doc, similar to our [MP Overview doc](https://openliberty.io/docs/20.0.0.11/microprofile.html), perhaps titled something like 'Java/Jakarta EE', which would focus on explaining what Java EE & Jakarta EE is, but before doing so, it would also provide quick overview of what Java SE is (JDK, JRE, JVM), and how it all fits together, and what role Open Liberty plays in that pictur

[2020-11-18 15:42] Charlotte-Holt commented on #3271
Hey, @mbroz2 - I think we have an issue for this: #1494. I can close the older one, since this issue has more info, and @lauracowen, @dmuelle, and I can talk about getting it prioritized.

[2020-11-18 15:42] #1494 closed

[2020-11-18 17:04] lauracowen opened #3275 "Good practices for containerisation"
See conversation on Slack: https://ibm-cloud.slack.com/archives/C31DW78RG/p1605718603438500?thread_ts=1605709553.435300&cid=C31DW78RG

My initial thoughts on what this would/could include are:
- one app per Liberty instance per container (ie not multiple apps running on the same Liberty instance, and only one app/Liberty instance in a container)
- layers - how to divide up the container image laye

[2020-11-18 17:13] lauracowen commented on #2569
@cbridgha Yes, we grabbed them from a runtime script. If that description isn't right/good, how do we get that updated to match what you'd prefer for the docs?

[2020-11-18 17:27] lauracowen commented on #2569
Great, thank you. Signing off.

[2020-11-18 17:30] lauracowen commented on #1289
Hi, I don't see the changes on the draft server:

![image.png](https://images.zenhubusercontent.com/583eaf59b9dc3c622022b986/c8f3c750-8cbb-4167-8020-1726dbb3c1ae)

[2020-11-18 17:38] chirp1 commented on #676
Hi Manasi,
Nice job on the configuration examples! I have a few comments:
- Move the "The example uses a basic registry ...." sentence immediately after the "The following example shows how to create ..." sentence as the thoughts in the two sentences are closely related. If necessary, make adjustments to the sentences to make them read better together.
.- We want to be consistent with terms in top

[2020-11-18 18:32] Channyboy opened #3277 "Update Open Liberty's MP Metric Documentation for Metrics 3.0 For 21.0.0.3"
For 21.0.0.3.

## Update **File 1**:
https://openliberty.io/docs/20.0.0.11/metrics-list.html
^ Reference link. This link points to 20.0.0.11

~~1. **REMOVE** the following lines.~~ (to keep)
[code]

2.  ~~**UPDATE** table header to use `mpMetrics-3.0` and update teh Features Required column to point to `mpMetrics-3.0` at `https://openliberty.io/docs/ref/feature/#mpMetrics-3.0.html` when available.

[2020-11-18 18:48] dmuelle commented on #1274
Hi @andymc12 , can you provide technical review of this draft topic: [JAX-RS integration with CDI](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jaxrs-integration-cdi.html) ?

It's info that came over from this Liberty KC topic, which we discussed in our call about JAX-RS doc a while back: [JAX-RS 2.0 integration with EJB and CDI](https://www.ibm.com/support/knowledgecenter/SSAW57_liber

[2020-11-18 21:14] chirp1 commented on #636
Hi Manasi,

- I think you have a tagging issue. The text from "The `id` attribute for the `jwtBuilder` element named... is in a gray box. This gray box seems to contain the updated text that you want to keep. And the text immediately above the gray box is the text that you want to remove.

[2020-11-18 22:45] dmuelle commented on #2569
Hi Manasi, the table looks good. Just a few minor comments:

-  introduce the table in a separate sentence and describe what it contains, which will help with a11y/screen readers.

"You can configure Open Liberty environment variables in your `server.env` file to customize the Liberty environment.
The following table lists the default Open Liberty  environment variables and gives a brief descripti

[2020-11-18 23:01] andymc12 commented on #1274
I think it should be it's own page - or a section under a general JAX-RS topic if we have one.

Good point.  Really, the intent of the page should be to describe the behavior when both features are in play.  The JAX-RS feature is useful for building and/or consuming RESTful services.  CDI provides a variety of uses - like dependency injection, intercepting method invocations, or being a base requi

[2020-11-19 01:34] chirp1 commented on #571
Hi Manasi,
Here are my comments:
- For "The following example shows that the service needs request authentication with a JSON Web Token (JWT). ", I don't know what "the service needs request authentication " means. Maybe "needs" is a word that was inadvertently left in the sentence. Rewrite the sentence so that it is clear.
- For "....points the mpjwt element towards the public key.." Rewrite the

[2020-11-19 11:52] lauracowen commented on #951
I think I see this topic as the next step in after reading the homepage in the flow of finding out more about Liberty. So it needs to expand on the points made on the homepage but without getting too detailed, esp where we have info already elsewhere we can link to.

I think we should reflect the structure on the homepage so that we've got a consistent flow through the website:
- Develop
- Deploy

[2020-11-19 11:55] lauracowen commented on #1572
I've taken another look at the Why Open Liberty? topic. I think we can cover the very basics of this in there instead of as a separate topic. Basically, just that you can add/remove features modularly and it's easy to do that with the XML configuration. I think that's probably all that's needed as an intro.

I think the reason for this issue was just to have something about the features and config

[2020-11-19 12:05] lauracowen commented on #2831
thanks

[2020-11-19 13:22] lauracowen commented on #891
Hi Manasi,

I just saw [Karen's list of topics](https://app.zenhub.com/workspaces/open-liberty-docs-backlog-5c7031f61d4580192beb4070/issues/openliberty/docs/891#issuecomment-589882647) that you'd come up with as a team (sorry @chirp1 - not sure how I missed that before). I think maybe we can use some of that to give some more depth to this topic, so that it doesn't just become a list of links to o

[2020-11-19 14:38] ManasiGandhi commented on #636
@chirp1 I fixed the the tagging and moved the issue back to the editorial review. https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/jwt-1.0.html

[2020-11-19 14:59] Charlotte-Holt commented on #1572
I'm good to incorporate this into the "About Open Liberty" topic. Closing this issue.

[2020-11-19 14:59] #1572 closed

[2020-11-19 15:01] chirp1 commented on #636
Hi Manasi, the updates look good. I'm moving this issue to Ready to Publish.

[2020-11-19 17:33] Charlotte-Holt commented on #1964
@ManasiGandhi Looking good. Peer review feedback:

- [ ] In "The following example shows how you can configure the JWT SSO to change the token expiration time:", I'd remove "the" before "JWT SSO"
- [ ] Suggested update for the first example explanation:

- [ ] I'd change "Disabling JWT cookies" to just "Disable JWT cookies"
- [ ] I think I'd look at the similar example in [the SPNEGO feature](http

[2020-11-19 20:06] dalfredson opened #3288 "Lack of clarity in possible values and examples for com.ibm.ws.logging.trace.specification"
This documentation doesn't provide  definition of the values that are to be provided to com.ibm.ws.logging.trace.specification.  Without this you need to guess what to provide to enable your own logging.  There should be clarity in the definition (ie tell me all the possible values) and there should be examples that are real world (ie not IBM classes, but some list of application classes)

[2020-11-19 21:02] dmuelle commented on #1439
The doc for this issue is now being tracked in #2419

[2020-11-19 21:02] #1439 closed

[2020-11-19 23:52] dmuelle commented on #1274
Thanks @andymc12, very helpful info. I've revised the draft - https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/jaxrs-integration-cdi.html

 I made edits per your comments above. I changed "JAX-RS 2.0" to just "JAX-RS" throughout so it's version agnostic.

I added an explanation for how conflicting CDI and JAX-RS scopes resolve for resource and provider component types. I removed the table b

[2020-11-20 15:35] fmhwong opened #3290 "ID: MicroProfile OpenTracing 2.0 Implementation"
Epic: https://github.com/OpenLiberty/open-liberty/issues/11474
Target: 21.0.0.2

As per Karen, I just put what has been changed in MicroProfile OpenTracing 2.0 in this issue.

The breaking change that mpOpenTracing-2.0 introduced is the OpenTracing API level change.  In mpOpenTracing-1.3, it supports OpenTracing API 0.31.0.  In mpOpenTracing-2.0, the OpenTracing API has been upgraded to 0.33.0.  T

[2020-11-20 16:11] ManasiGandhi commented on #1964
@Charlotte-Holt Thanks for reviewing. I worked on your peer review:

- [x] In "The following example shows how you can configure the JWT SSO to change the token expiration time:", I'd remove "the" before "JWT SSO"

- [x] Suggested update for the first example explanation:

    The id attribute of the jwtBuilder element identifies the JWT builder, which is myBuilder in this example. The jwtBuilderR

[2020-11-20 16:42] pgunapal opened #3292 "Update "Health Checks for microservices" document for MpHealth 3.0"
MP Health 3.0 Epic: https://github.com/OpenLiberty/open-liberty/issues/11472
OL Beta Blog: https://github.com/openliberty/open-liberty/issues/13510

The "Health Checks for microservices" document (https://www.openliberty.io/docs/20.0.0.11/health-check-microservices.html) needs to be updated with the new updates from MpHealth-3.0.

- Add a note/clarification for all references of `@Health` that if

[2020-11-20 17:16] Charlotte-Holt opened #3293 "Fault tolerance docs"
This epic is to track updates and doc bugs across the fault tolerance docs.

Notes from a conversation with Andrew Rouse about things that would be helpful to include in the fault tolerance docs:
- The location of the javadoc and spec (the spec's job generally is to describe how the implementation must behave, and users' questions usually boil down to "how does the implementation behave when I do

[2020-11-21 00:21] chirp1 commented on #894
Hi Richard,
You put together a nice set of examples for the topic. I have a few comments:
- For "For more information, see Basic user registries for application development. ", the link is broken for me.  t I think that the link is supposed to be to https://openliberty.io/docs/20.0.0.11/user-registries-application-security.html.. If you add that Quickstart is intended for test purposes (see next b

[2020-11-23 15:05] Charlotte-Holt commented on #2460
@dmuelle Peer review feedback:

- Just a global thing that I noticed is that you didn't use any contractions throughout the doc, which definitely isn't wrong, but it can read a little more formal that way. I know that we're allowed to use them in the OL docs, so just wanted to mention it. Otherwise, I think the topic reads very well and looks nice.

### Global Kerberos configuration for Open Liber

[2020-11-23 18:37] Charlotte-Holt opened #3304 "Remove callouts from server config overview"
The callouts aren't accessible in our docs so we need to remove them where they exist and rework the information in the topic: https://openliberty.io/docs/20.0.0.11/reference/config/server-configuration-overview.html.

[2020-11-24 15:53] frowe opened #3309 "Backport 20.0.0.12 topic to 11"
Based on slack conversation with Laura about this topic https://openliberty.io/docs/20.0.0.12/kerberos-authentication-jdbc.html for a feature introduced in 20.0.0.11

[2020-11-24 19:45] ManasiGandhi commented on #2831
@Charlotte-Holt The topic looks good! A few edit suggestions:

- [ ] In "Send and receive email from applications", is this sentence "To enable the following configuration, in addition to enabling the JavaMail feature, you must also enable the Java Naming and Directory Interface feature in your server.xml file:" about configuring the mailSession element. If so, could you change it to "In the follo

[2020-11-27 16:51] lauracowen opened #3313 "Suggested topic area: JMS messaging"
From reviewing the KC (so check with Alasdair and prioritise).

There's an embedded JMS messaging provider in Liberty (apparently): https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_msg_embedded.html
I don't know much about the context in which a developer would use it with an app. So would need to investigate that. The other two messaging providers menti

[2020-11-27 17:04] lauracowen opened #3314 "Commands doc"
There are other commands than just the ones we've documented so far. I don't know how urgent it is to document them all (they all have commandline help anyway) but just so you know...

Here's the full list of the commands in OL 20.0.0.12 (the .bat files are for Windows, the ones without suffix are for UNIX/Linux, etc):

[code]

To find them:
1. Download the latest "All GA Features" zip from https:

[2020-11-27 17:19] lauracowen opened #3315 "Suggested topic area: Writing SIP applications"
From reviewing the KC (so check with Alasdair and prioritise).

KC info: https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_sip_sipwlp.html

[2020-11-27 17:30] lauracowen opened #3316 "Feature and server config overview topics have disappeared from nav in 20.0.0.12"
They were in the generated nav but not now that the generated docs are handled separately.

Maybe just add them back into the Reference section for now until you have the container topics ready?

[2020-11-27 17:49] lauracowen opened #3317 "Suggested topic in Security: GDPR readiness"
Check with Jim Mulvey (@jtmulvey) if this KC topic would be useful to users of OL: https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/wlp_gdpr.html

If it is, create a topic but modify so that the OL version doesn't mention part numbers or "WebSphere" and make sure it makes sense in the context of OL (an open source project, not an IBM product)

[2020-11-27 17:56] lauracowen opened #3318 "Suggested topic: using virtual hosts"
Two KC topics:
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_virtual_hosts.html
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_virtual_hosts_ovr.html

Alasdair's comments:
this is really confusing and no one understands how to do it; it comes up relatively often. Proba

[2020-11-30 22:13] dmuelle commented on #2460
Thanks for reviewing @Charlotte-Holt. I made the changes that you suggested, with the exception of the feature version. Andy asked that al links go to JDBC v 4.2 instead of 4.3,  because they are basically the same but most users are likely to be using 4.2

[2020-12-01 10:25] lauracowen opened #3324 "Suggested topic area: Writing extensions (user features) for Liberty runtime"
From reviewing the KC (so check with Alasdair and prioritise).

Re KC info here and linked from here: https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_prod_ext.html

[2020-12-01 13:09] lauracowen opened #3325 "Suggested example config: JSON-B and JSON-B via BELLs"
From reviewing the KC (so check if it's a good example for one or both features).

https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_jsonb.html

https://www.openliberty.io/docs/latest/reference/feature/jsonb-1.0.html
https://www.openliberty.io/docs/latest/reference/feature/jsonpContainer-1.1.html

SME: Andy Guibert

[2020-12-01 13:13] lauracowen opened #3326 "Suggested example config: JSON-P and JSON-P via BELLs"
From reviewing KC (so check it's a good example for one or both features).

https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_jsonp.html

https://www.openliberty.io/docs/20.0.0.12/reference/feature/jsonp-1.1.html
https://www.openliberty.io/docs/20.0.0.12/reference/feature/jsonpContainer-1.1.html

SME: Andy Guibert

[2020-12-01 13:35] lauracowen opened #3327 "Broken links"
Might be worth someone going through and checking for all broken links. Visually you can see them displayed in red text but the asciidoc/Antora logs should provide a list I think, so worth asking the website team for a copy before trying to check all the topics manually.

eg
- https://www.openliberty.io/docs/20.0.0.12/runnable-jar-files.html#reference:config/serverConfiguration.adoc
- https://www.

[2020-12-01 14:26] lauracowen opened #3328 "Suggested example config: OSGi console feature"
Low priority because it's really only now a debug aid for Liberty.

https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_setup_osgi_console.html

https://www.openliberty.io/docs/latest/reference/feature/osgiConsole-1.0.html

[2020-12-01 14:55] lauracowen opened #3329 "Additional Windows-only server commands"
You need to unzip Open Liberty on a Windows machine to be able to run these commands and see their command help.

As for #3314, get the info from the online command help by running the following commands:

- `./wlp/bin/server registerWinService --help`
- `...startWinService...`
- `...stopWinService...`
- `...unregisterWinService...`

See KC topic https://www.ibm.com/support/knowledgecenter/SSAW57_

[2020-12-01 15:08] Charlotte-Holt opened #3330 "Distributed tracing"

[2020-12-01 15:50] Charlotte-Holt opened #3331 "Troubleshooting docs"
This epic is to track updates and doc bugs across the troubleshooting docs.

Notes from discussion with Alasdair:

Troubleshooting docs should take the approach of: "I'm doing x and getting this error. The solution is y." rather than just listing "limitations" or things that someone is just expected to remember. Troubleshooting docs, to be useful, need to be in a framing than enables the user to s

[2020-12-01 16:17] lauracowen commented on #3314
The exact notes I took about what Alasdair said when we discussing the command scripts way back when:

[2020-12-01 17:11] lauracowen opened #3333 "Suggested topic (maybe): Switching off dynamic updates"
From reviewing the KC (check with Alasdair for prioritisation).

This topic in the KC:
https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_setup_dyn_upd.html

It makes it seem far more complicated than it is and isn't really relevant to containerised apps (hence the low priority). It's also a badly structured topic (see Alasdair's comments

[2020-12-01 17:46] Azquelt opened #3334 "Update guides for Fault Tolerance 3.0"
The following guides should be updated for Fault Tolerance 3.0:

* https://openliberty.io/guides/microprofile-fallback.html
* https://openliberty.io/guides/microprofile-istio-retry-fallback.html
* https://openliberty.io/guides/retry-timeout.html
* https://openliberty.io/guides/bulkhead.html
* https://openliberty.io/guides/circuit-breaker.html

In each case the content of the guide doesn't need to

[2020-12-01 17:52] lauracowen opened #3335 "Suggested JPA example config"
From reviewing KC (check with SMEs for relevance).

This set of topics in the KC https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_config_jpa.html contain various example config and not much else.

Check with SME whether they're useful examples to include in the JPA feature: https://www.openliberty.io/docs/20.0.0.11/reference/feature/jpa-

[2020-12-01 20:54] jim-krueger opened #3336 "Doc changes needed in Knowledge Center (JAX-RS 2.0 behavior changes)"
There are a couple mistakes in the JAX-RS 2.0 behavior changes section of the knowledge Center (https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_jaxrs_behavior.html).  IMultipartBody and IAttachment are not annotations.

Current text:
JAX-RS 2.0 includes many API changes when it handles the MultiPart file. For example, in JAX-RS 1.1, the @FormParam can b

[2020-12-01 21:26] dmuelle commented on #1274
updated draft URL: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/jaxrs-integration-cdi.html

[2020-12-01 21:47] andymc12 commented on #1274
Just two minor comments - I'll go ahead and mark it reviewed, but these would be good things to fix before publishing.

- Typo in the second paragraph:

"JavServer" should be "JavaServer"

- Section "Restrictions on JAX-RS 2.0 with CDI" should remove the "2.0" version number.

Thanks @dmuelle!

[2020-12-01 22:44] dmuelle commented on #1274
Thanks @andymc12 ! I've made both those changes and they'll be picked up with the next draft build

[2020-12-02 10:28] lauracowen opened #3338 "Suggested topic: Persisting session data"
From KC review (so check with SME).

In the OL docs, we have in draft a topic about [distributed session caching with JCache](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/distributed-session-caching.html). However, the [blog post on which that was based](https://openliberty.io/blog/2018/03/22/distributed-in-memory-session-caching.html) and a [topic in the KC](https://www.ibm.com/support

[2020-12-02 10:48] lauracowen opened #3339 "Investigate if more is needed about concurrency"
From KC review (so check with SME or Alasdair).

In the OL docs, we have [an introduction to concurrency on Open Liberty using Java SE, Java/Jakarta EE, and MicroProfile](https://www.openliberty.io/docs/latest/concurrency.html).

Do we need:
- More doc about how to do concurrency? Or is the bulkhead guide sufficient for showing best practice examples? (we don't want to duplicate the guide info if

[2020-12-02 13:28] lauracowen commented on #1695
Some other notes from Alasdair (commenting on the existing KC topics but relevant here too and catching things I didn't think of but we really should ensure are clear):

- Make clear to the reader why you would use JMX versus anything else (what are the alternatives?). Don't assume they know.
- Make sure the information is provided in the context of containerised apps (eg in Docker containers). Th

[2020-12-02 14:25] lauracowen opened #3340 "Suggested topic area: JCA (standardised connectors/adapters to resources)"
From KC review (so check with Alasdair).

It might be that mostly what's needed is just config examples in the [JCA feature doc](https://www.openliberty.io/docs/latest/reference/feature/jca-1.7.html) but as we don't have anything (I think) on JCA yet, it might need something more like an introductory topic at least?

Having taken a look at the JCA topics in the KC:
- https://www.ibm.com/support/kn

[2020-12-02 16:50] lauracowen opened #3343 "Add a little info about convenience features to the features overview topic"
https://openliberty.io/docs/latest/reference/feature/feature-overview.html

The "Using features" section of the feature overview topic talks about how to enable specific features in the server.xml. It could also mention (a sentence or two) that there are some "convenience features" that mean you can enable a whole set of features at once. You'll need to find out what they are (Chuck might be able

[2020-12-02 17:18] lauracowen commented on #2942
And start from perspective of common user needs rather than what we have documented already (like we did with the security topics).

Other comments from initial KC audit with Alasdair (see spreadsheet):
Don’t really use EJBs with JAX-RS very much. Or managed beans.
From a JAX-RS perspective, he agrees that CDI is more important than EJB.

[2020-12-02 17:59] lauracowen opened #3345 "Suggested security examples"
There are a load of security role mapping examples in the JMX KC docs: https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_mapadmin.html

I'm not sure that there's anything specific to JMX about them. Several of them we already have in the OL docs (I think). So I think they should be checked and looked to see whether any of the examples

[2020-12-03 11:05] lauracowen commented on #2948
Check the priority of this and make sure that it's useful in a cloud/containerised app context. Also, how does this fit in with our metrics ways of monitoring JVM/runtime? What are the best practices we should be documenting?

[2020-12-03 11:17] lauracowen commented on #3314
The `binaryLog` command is already mentioned in one of our OL topics: https://www.openliberty.io/docs/20.0.0.12/log-trace-configuration.html#binary (so we should probably document that command and then link to it from that topic).

[2020-12-03 11:31] lauracowen opened #3348 "Suggested topic area: transactionality"
From KC review (check with Alasdair for relevance/priorities).

This needs some introduction about what is transactionality (briefly) and why/when you need it in your app. Then what the options are in OL and when you'd use them. Some of that info might be in this [KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_trans_ser

[2020-12-03 12:01] lauracowen opened #3349 "Suggested topic: DB2 client re-routing"
From KC review. Ask Alasdair first if this should be included. DB2 is proprietary but then someone might be using it if they're using OL in business. Check also with him or with SMEs about whether this is relevant in cloud/containerised world - eg are there other ways that you'd handle re-routing to other DB2 database servers in that context, rather than configuring Liberty itself?

See KC topic:

[2020-12-03 12:15] lauracowen opened #3350 "Accessing MongoDB/nosql databases"
Check with SME for how we should handle MongoDB relative to the other JDBC/database info in the OL docs. eg should we have an "Accessing nosql databases" topic that covers MongoDB, CouchDB, and Cloudant? What's best practice: using CDI or using cloudant feature (I think the former?)? If you can use CDI for any nosql db, we should just document that and ignore the cloudant feature, unless there are

[2020-12-03 13:30] lauracowen opened #3351 "Oracle RAC"
Should info about [Oracle RAC](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_oraclerac.html) be included in the [OL JDBC config topic](https://www.openliberty.io/docs/20.0.0.12/relational-database-connections-JDBC.html)? (ask SME)

Is it that straightforward or would you only use Oracle RAC for certain purposes? If so, consider what t

[2020-12-03 13:40] lauracowen opened #3352 "CORS"
Check with a CORS expert to see if any important information would be lost if this [CORS KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_webcontainer_cors_config.html) were replaced with a redirection to the [CORS guide](https://openliberty.io/guides/cors.html). I don't think there is and, if that's the case, just make sure th

[2020-12-03 14:30] mswatosh commented on #3350
There's also a close to being published guide here for mongodb that may have additional useful information:
https://github.com/OpenLiberty/draft-guide-mongodb

[2020-12-03 17:13] lauracowen commented on #1695
Okay, through another conversation with Alasdair...

- don't talk about local connector at all. It doesn't have a purpose in a cloud/container environment. Its purpose is to communicate between apps in the same JVM/machine (with a container, you wouldn't have more than one app in a container). Mostly local connector is available for historical reasons.
- remote connector - it's there for if you wa

[2020-12-03 22:32] dmuelle opened #3356 "comment out JPA link in JDBC topic"
JPA topic isn't published yet- comment out the see also link until it does

https://www.openliberty.io/docs/20.0.0.12/relational-database-connections-JDBC.html

fix in 20.0.0.12 refresh next week

[2020-12-04 10:58] lauracowen opened #3359 "JAAS security with Open Liberty"
From discussion with Alasdair when reviewing KC.

The [KC Authentication topic](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_authentication.html) contains a bunch of randomly-organised sections about different authentication-related things. Several of them relate to JAAS (Java SE security) but they're spread around without a coherent flow.

Talk with

[2020-12-04 11:19] lauracowen opened #3360 "Java 2 Security"
From discussing KC review with Alasdair.

There's a [KC topic](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_java2security.html).

Talk with SME about how this ties in with the JAAS security stuff (#3359) as some Oracle docs I found implied that Java 2 Security is required by JAAS providers. So #3359 might depend on this. But neither might be that hig

[2020-12-04 15:05] ManasiGandhi commented on #891
I'm planning to work on this issue later based on a discussion during OL scrum.

[2020-12-04 15:06] ManasiGandhi commented on #2569
I worked on David's peer review for the issue. Waiting for the changes to show after the builds issue is fixed.

[2020-12-04 15:08] ManasiGandhi commented on #1695
I have been following up with the SME. He (Navid) is moving to a new organization and is in the process of knowledge transfer. Laura mentioned some new points in the issue and also Alasdair's suggestions. Navid said he will need to discuss those points with his team and needs some time to get back to me. So waiting on that.

[2020-12-04 15:09] ManasiGandhi commented on #955
I worked on Karen's edit review for this issue. Waiting on the changes to show after the builds issue is resolved.

[2020-12-04 15:10] ManasiGandhi commented on #2408
I worked on Laura's review. Waiting on the changes to show after the builds issue is resolved.

[2020-12-04 15:12] ManasiGandhi commented on #1289
I worked on Laura's review for this issue and waiting on the changes to show after the builds are resolved.

[2020-12-04 15:13] ManasiGandhi commented on #571
I worked on Karen's review for this issue and waiting on the changes to show after the builds are resolved.

[2020-12-04 15:23] ManasiGandhi commented on #2844
I worked on Laura's review for this issue. Waiting for the changes to show after the builds are resolved.

[2020-12-04 15:26] ManasiGandhi commented on #676
I worked on Karen's review for this issue. Waiting on the changes to show after the builds are resolved.

[2020-12-04 16:48] Charlotte-Holt commented on #3340
Link to feature config issue: #722

[2020-12-04 18:19] lauracowen opened #3364 "Add a tiny bit more to LTPA section in SSO topic"
We have a brief section on LTPA in the [OL SSO topic](https://www.openliberty.io/docs/20.0.0.12/single-sign-on.html). A lot of people ask if Liberty supports LTPA (it's a format that came from IBM/tWAS) so it's good to show that we do support it but don't need all the detail that the [Liberty KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatfor

[2020-12-04 18:21] lauracowen commented on #3359
Just spotted #997 - it sounds like this would fit with what Ajay requested.

[2020-12-04 20:27] Rwalls1 commented on #894
Editing references: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch06.html
                                 https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch07.html

[2020-12-04 20:40] Rwalls1 commented on #894
New topic link: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/appSecurity-3.0.html

[2020-12-04 21:04] Rwalls1 commented on #2417
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/bells-1.0.html

[2020-12-07 15:15] dmuelle commented on #3336
Hi @jim-krueger - since this page doesn't exist in the Open Liberty docs ands is only available in Liberty KC, I've copied the issue to the Liberty docs backlog to track the fix there: https://github.ibm.com/was-liberty/liberty-docs/issues/2163

Since JAX-RS 1.1 is only available in commercial Liberty and not OL, we haven't targeted this behavior differences doc for OL. I'll make the fix in the KC

[2020-12-07 15:15] #3336 closed, assigned to dmuelle

[2020-12-07 16:44] Rwalls1 commented on #2075
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/socialLogin-1.0.html

[2020-12-07 18:49] Charlotte-Holt commented on #3316
This is fixed and live at https://openliberty.io/docs/20.0.0.12/overview.html, and the fix was also merged to `vNext` in #3353.

[2020-12-07 18:49] #3316 closed, assigned to Charlotte-Holt

[2020-12-07 21:34] Charlotte-Holt commented on #1780
Merged to `vNext` in #3391.

[2020-12-07 21:38] chirp1 commented on #3290
From a discussion with Laura, the capabilities of this OpenTracing feature would be part of a larger discussion on distributed tracing. Apparently, Don has some changes going on with the distributed tracing implementation. So, some of the OL writers will be addressing the docs for that with Don after the new year.

[2020-12-07 22:06] Charlotte-Holt commented on #1780
Merged to v20.0.0.12 in #3390. Closing this issue.

[2020-12-07 22:06] #1780 closed

[2020-12-08 15:46] Charlotte-Holt commented on #3359
From duplicate issue:

per discussion with Ajay Reddy- move JAAS info out of Authentication topic into new topic, include more detail from KC topics

https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_config_jaas_db_auth.html

https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dev_jaas_custom_login_module.html

htt

[2020-12-08 15:46] Charlotte-Holt commented on #997
Duplicate of #3359. Closing.

[2020-12-08 15:46] #997 closed

[2020-12-08 15:59] Charlotte-Holt opened #3392 "Troubleshooting security"
We need a new doc that covers security troubleshooting. Format the doc in terms of "I'm doing x and getting this error." And solution is "do y". Don't just add general information about security issues. Include the relevant sections from https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_trouble.html:
- https://www.ibm.com/support/knowledgecenter/SSEQTP_li

[2020-12-08 16:00] Charlotte-Holt commented on #1686
Based on a conversation with Alasdair, we're going to break this out into separate troubleshooting issues. Closing this issue.

[2020-12-08 16:00] #1686 closed

[2020-12-08 16:21] Rwalls1 commented on #1558
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/testing-database-connections.html

[2020-12-08 16:31] Charlotte-Holt opened #3393 "Build messages into the OL docs"
Check on progress of https://github.com/OpenLiberty/open-liberty/issues/14632.

[2020-12-08 16:44] Charlotte-Holt commented on #3313
May not need new topics on JMS. Might just be adding config examples, although we need to figure out which feature needs the config examples.

[2020-12-08 16:47] Charlotte-Holt commented on #2610
Related to #2611

[2020-12-08 17:02] Rwalls1 commented on #776
@aguibert Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-help.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-thin.html
What other information is needed for each respective command page? I'm a bit confused about which information from the KC page is relevant to each command: https://www.ibm

[2020-12-08 21:33] tjwatson commented on #2417
The `Configuring the Servlet Filter` section needs some work.

The title should not use the term "the" Servlet.  That makes it sound like "the one and only".  It should be something like `Configuring a Servlet Filter for All Applications`

It could use an intro sentence and I think it needs some other changes.  I suggest the following:

Certain scenarios require the use of a `Filter` implementatio

[2020-12-08 22:32] Charlotte-Holt commented on #2521
Merged to `v20.0.0.12` in #3402. And merged to `vNext` in #3400. Closing.

[2020-12-08 22:32] #2521 closed, assigned to Charlotte-Holt

[2020-12-08 23:52] andymc12 commented on #3352
Hi @lauracowen and @Charlotte-Holt - I'm probably not the best person for SME on CORS.  I worked with @griffinhadfield on it last week for the SSE guide, and we were able to hack our way through CORS config to make the distributed SSE scenario work, but somebody else should probably be the SME for a CORS guide - I'd suggest starting with @pnicolucci or somebody on his team.  Thanks!

[2020-12-09 13:43] lauracowen opened #3406 "@RunAs annotation and Authz topic in OL docs"
@dmuelle I think the OL Authz topic does a nice job of showing how to use the @RunAs annotation. I was wondering if any of the [conceptual info in the KC Authn topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_authentication.html#cwlp_authentication__run_as) would be useful as a sentence or two intro to that section? The KC info gi

[2020-12-09 18:13] Rwalls1 commented on #2417
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/bells-1.0.html

[2020-12-09 18:14] Rwalls1 commented on #894
@chirp1 Thanks, I have addressed your feedback.

[2020-12-09 18:51] Charlotte-Holt commented on #1695
@ManasiGandhi Maybe when you get back, we can look at this one together. As I understand it, I think we could talk about setting up a secure JMX connection (restConnector) in the context of gathering JMX metrics. I have a couple of topics that discuss JMX metrics, so let's circle back on this one together when we can.

[2020-12-09 18:52] Emily-Jiang commented on #2284
@ggam we are going to close this issue since there is no response from you for nearly a month. Please reopen with the response for the questions listed in [this](https://github.com/OpenLiberty/docs/issues/2284#issuecomment-724738217) comment.

[2020-12-09 18:52] #2284 closed, assigned to nobody

[2020-12-09 19:06] ggam commented on #2284
Hi Emily and sorry for the late reply. I meant former JSR 375. I opened an
issue but was told it is working as designed:
https://github.com/OpenLiberty/open-liberty/issues/12253

El mié., 9 dic. 2020 19:53, Emily Jiang <notifications@github.com> escribió:

[2020-12-09 23:04] chirp1 commented on #3292
Prashanth and I made some updates to the description for clarity. The description looks good. Also, I mentioned to Prashanth to be sure to include enough information in the blog post for the feature so that a customer can use the feature.  ID is working down a backlog for Open Liberty, so updates for Open Liberty might or might not be made when the feature goes out.  Approving the Epic.
Also, from

[2020-12-10 14:32] dmuelle commented on #3309
Hi @frowe - the [JDBC kerrberos](https://www.openliberty.io/docs/20.0.0.11/kerberos-authentication-jdbc.html) and [JDBC overview](https://www.openliberty.io/docs/20.0.0.11/relational-database-connections-JDBC.html) topics, as well as the [example config updates for the JDBC feature](https://www.openliberty.io/docs/20.0.0.11/reference/feature/jdbc-4.2.html), are all now available in 20.0.0.11 doc.

[2020-12-10 14:32] #3309 closed, assigned to dmuelle

[2020-12-10 14:34] dmuelle commented on #3356
removed link from 20.0.0.12 & 11 doc, will restore when JPA topic publishes

[2020-12-10 14:34] #3356 closed, assigned to dmuelle

[2020-12-10 15:04] aguibert commented on #776
hi @Rwalls1, I'm not familiar with the springbootUtility command, so I'm going to tag @tjwatson for review instead on this one

[2020-12-10 19:54] tjwatson commented on #776
The `thin` command should include the various options that can be used with that command:

[code]

[2020-12-10 22:57] dmuelle commented on #636
Topic is published: https://www.openliberty.io/docs/latest/reference/feature/jwt-1.0.html

Closing this issue

[2020-12-10 22:57] #636 closed

[2020-12-11 13:18] Rwalls1 commented on #776
@tjwatson Thank you, do you know what additional information is needed for the help command?

[2020-12-11 13:34] tjwatson commented on #776
So far there is only one additional command `thin`.  You could follow the `help` command for the `server` script:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/server-help.html

## springBootUtility help command
Prints help information for the springBootUtility command, with details about its actions and options.

## Usage examples
Display help information for the `spri

[2020-12-11 14:34] Azquelt opened #3414 "Update links to javadoc for Fault Tolerance 3.0 and MicroProfile Health 3.0"
This page contains links into the Fault Tolerance javadoc: https://github.com/OpenLiberty/docs/blob/vNext/modules/ROOT/pages/fault-tolerance.adoc

When Fault Tolerance 3.0 is released alongside MicroProfile 4.0, those links should be updated to point to the MicroProfile 4.0 javadoc instead.

[2020-12-11 18:25] Rwalls1 commented on #776
@tjwatson Thanks, Please review:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-thin.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-help.html

[2020-12-11 18:36] jantley-ibm opened #3416 "Instructions for running OL in FIPS-enabled cluster"
These instructions were put together by Monica Tamboli in SVT for CP4Apps, but they really apply to Open Liberty. We can discuss whether it would be best as a blog post or guide.

Below instructions are to config, depoy and run any Liberty application with FIPS enabled.

Pre-requisites:
* OCP cluster is deployed. For this testing FIPS was enabled on the OCP cluster. These instructions should work

[2020-12-11 19:45] tjwatson commented on #776
The springBootUtility `thin` command doesn't make much sense without the information about why spring boot applications should be thinned:  https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_thin_sb_applications.html

We either need to put this information in with the springbootUtility documentation or it needs to be a separate section under DEPLOYMENT.

[2020-12-12 20:04] arkarkala opened #3417 "Fix incorrect link in Security Hardening topic"
The "Configure applications to run on a virtual host" link in Network Hardening under Security Hardening topic (https://openliberty.io/docs/20.0.0.12/security-hardening.html) is taking to a wrong link (https://openliberty.io/docs/20.0.0.12/logstash-events-list.html#_server_and_host_names_in_virtualized_environments). We should also provide more info. on the security hardening that virtual hosts co

[2020-12-14 11:59] irobins commented on #3417
Regarding "We should also provide more info. on the security hardening that virtual hosts configuration provides."...
Specifically " Configure applications to run on a virtual host" is not sufficient for a hardened configuration - the requirement is that there should not be a hostAlias that matches to * in a hardened configuration.

[2020-12-14 14:38] frowe commented on #3349
I'd recommend waiting on including this because it is proprietary and I don't have a clear sense of how many OL customers are going to use it.

[2020-12-14 17:32] chirp1 commented on #849
Hi Charlotte,
- Global comment for the files. Where you have "path_to_liberty/bin", ensure that you add italics for "path_to_liberty" since it is a variable. Also, other variables, such as those in the syntax should be italic.
- featureUtility-find.html: For "searchString", check server commands etc as to how to word discussions about variables. Somewhere in there you want to say  the English word

[2020-12-14 21:54] chirp1 commented on #3277
David and I worked out a variety of updates to documentation description above, particularly so that we tell the user not only what the behavior is with the new feature., but what the behavior was before the new feature was added. We did a little redesign of the table. Approving the feature at https://github.com/OpenLiberty/open-liberty/issues/11460

[2020-12-14 22:43] Charlotte-Holt opened #3422 "Italicize variables in command topics"
When @chirp1 reviewed the `featureUtility` commands, she noted two things that need to be reviewed and possibly fixed:

1. Italicize ` _path_to_liberty_ `
2. Italicize variables in the syntax statements like `featureUtility installServerFeatures serverName [options]`. `serverName` might normally be in italics, and `[options]` probably should be, too.

[2020-12-15 01:29] chirp1 commented on #849
Based on the PR, the updates look good. Charlotte is opening an issue for my global comment about italicizing variables. Adding Editorial reviewed label.

[2020-12-15 15:34] irobins opened #3423 "Java SE support - 2Q 2021"
By2Q21 adoptopenjdk.net should have been transitioned to Eclipse Adoptium. The Java SE support doc https://openliberty.io/docs/20.0.0.10/java-se.html will need to be updated to change references from AdoptOpenJDK to Eclipse Adoptium distributions and/or others including IBM and RH.

[2020-12-15 17:52] lauracowen opened #3424 "Authorization - role to group bindings"
From KC review of [Authorization topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_authorization.html#cwlp_authorization__auth_subject) with Alasdair (check with Ajay).

In Java EE they address the all_authenticated with a special role name and we should definitely document that. Ajay knows what it is (Alasdair can never remember.)

[2020-12-15 18:55] lauracowen opened #3425 "Investigate whether "event logging" info is needed"
Notes from spreadsheet:

Don: don’t put the Event Logging with the Logging section of docs - as it’s not about how to do logging and tracing - it’s a whole other set of concepts. It is still useful, though Request Timing is a cousin/sibling to this - both work off events in Liberty (one timing at individual level, one at request tree level - which is more useful but still useful to be able to turn

[2020-12-15 19:05] lauracowen commented on #3293
Alasdair agrees it would be good to have more detail on MP FT. Just don't go overboard with stuff that's not that useful to the target user.

[2020-12-16 10:25] lauracowen commented on #3349
@frowe Ah ok. Good point. Thanks, that's useful to know.

@Charlotte-Holt I'll update the spreadsheet so we have a record, then you can maybe icebox or even close this issue? (there's a link to it in the spreadsheet so you could always re-open it?)

[2020-12-16 10:41] lauracowen commented on #2417
thanks both. Signing off

[2020-12-16 10:47] lauracowen commented on #2075
Could you add a sentence underneath the example saying something like "For more info about Active Directory endpoints, see the [Active Directory documentation](https://docs.microsoft.com/en-us/azure/active-directory/develop/active-directory-v2-protocols#endpoints)"? So the user can see what "organizations" means in the string and can work out what value they should themselves use for that attribut

[2020-12-16 11:31] lauracowen commented on #1274
Looks good. Will sign off but I wondered if there's any reason why the Restrictions section comes before the scopes section? There's info in the scopes section (eg about singletons) that is referred to by the Restrictions section. Wondered if it would make sense to switch the order? Up to you tho.

[2020-12-16 11:56] lauracowen commented on #1558
Validating a connection to a database
- [x] Thanks for adding more explanation in the intro. I think I sort-of follow the flow of actions that the user should take, but could you try and make it clearer? My understanding (from jumping back and forth in the section) is that you have to configure the server with the config example, then start the configured server to view the uid at the endpoint. I

[2020-12-16 13:48] lauracowen opened #3426 "SIP troubleshooting"
Might be able to extract some SIP troubleshooting items from these two KC topics:

- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sip_trblsipcontsess.html
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sip_tracesipcont.html

However, SIP is v low priority for docs so ke

[2020-12-16 14:08] lauracowen opened #3428 "Investigate how to build other REST API generated docs"
As well as the Liberty API/SPI docs that we've discussed previously (and mentioned in the [autogen epic](https://github.com/OpenLiberty/docs/issues/2615)), there are some [OpenAPI REST API docs in the KC](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.liberty.swagger.doc/swaggerlist.html) that Alasdair has previously said do need to come over the OL docs. These are AP

[2020-12-16 14:34] lauracowen commented on #3331
We also have the [ACME Troubleshooting topic](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/troubleshooting.html) that's already published. When we have a Troubleshooting section, can move the ACME one to join the new section.

Alasdair's comments on the ACME Troubleshooting topic:

"After a failure to fetch the cert…" heading - it's not saying how you know that it's failed to fetch the

[2020-12-16 14:44] lauracowen commented on #3331
When breaking out the [KC Troubleshooting topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_trouble.html), some comments from Alasdair:

- Applying fix packs shouldn't be listed there
- troubleshooting performance section could do with being beefed up - currently only says that monitoring updates for your apps can be expensive so y

[2020-12-16 14:47] lauracowen commented on #3331
Regarding trace docs:

- You turn trace on when you generally don't know what the problem is. How does the user know what trace to turn on. So unless we can provide good advice on "if you see x, turn on this trace setting" (but then who's going to analyse the trace). But really you'd turn it on if Support tells you to.
- Trace settings vary by feature. To add that info to the features doc, it woul

[2020-12-16 15:34] Charlotte-Holt commented on #3425
This info was copied into #2649. Closing.

[2020-12-16 15:36] Charlotte-Holt commented on #2649
First, investigate whether this information is needed in the OL docs. Notes from spreadsheet:

Don: don’t put the Event Logging with the Logging section of docs - as it’s not about how to do logging and tracing - it’s a whole other set of concepts. It is still useful, though Request Timing is a cousin/sibling to this - both work off events in Liberty (one timing at individual level, one at request

[2020-12-16 15:36] #3425 closed, assigned to nobody

[2020-12-16 15:42] Charlotte-Holt commented on #2615
We also have #3428 that needs to be prioritized.

[2020-12-16 16:02] irobins commented on #3423
Per @gcharters
We'll also need to update https://www.ibm.com/support/pages/single-stream-continuous-delivery-sscd-software-support-lifecycle-policy-websphere-liberty
Our licenses reference IRB, so so long as IRB gets updated to reflect the Adoptium change, then we're good.

[2020-12-16 16:42] Charlotte-Holt commented on #3318
Update the spreadsheet when done.

[2020-12-16 17:15] Rwalls1 commented on #2075
@lauracowen Thanks, please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/socialLogin-1.0.html

[2020-12-16 17:27] lauracowen commented on #2075
Great, thank you! Signing off.

[2020-12-16 18:40] dmuelle commented on #1274
That's a good point- I think it would work better with the restrictions at the end. I've updated the draft:
https://draft-openlibertyio.mybluemix.net/docs/latest/jaxrs-integration-cdi.html

Requesting peer review from @Charlotte-Holt

[2020-12-17 10:52] lauracowen commented on #2615
Another thing that came up in discussion with Alasdair recently is that each feature needs trace enabling in a different way. And that info should be generated (otherwise will be hard to create/maintain). Maybe this needs another issue?

[2020-12-17 15:01] lauracowen opened #3430 "Update tuning server config gendoc"
This [KC topic about Tuning](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_tun.html) is mostly manually written duplicate of the server config gendoc topic for [httpoptions](https://www.openliberty.io/docs/latest/reference/config/httpOptions.html), [connectionmanager](https://www.openliberty.io/docs/latest/reference/config/connectionM

[2020-12-18 10:25] gcharters commented on #951
Further to Laura's comment (https://github.com/OpenLiberty/docs/issues/951#issuecomment-730323193), could we also include Continuous Delivery and Zero Migration under Deploy and our IDE tools capabailities (e.g. for VS Code, IntelliJ and Eclipse) and TestContainers under Develop?

[2020-12-18 15:00] lauracowen opened #3431 "Tuning Liberty for secure applications"
From KC review so check with Alasdair and/or Jim Mulvey.

This is production stuff but as Liberty is largely self-tuning (as we've already doc'd in the OL docs), it would be good to get Alasdair's view before working on it.

KC topics:
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_tun_sec.html
- https://www.ibm.com/support/knowledge

[2020-12-18 16:02] lauracowen opened #3436 "Check if other locations for configuration should be listed in MP Config topic"
The [external configuration](https://www.openliberty.io/docs/latest/external-configuration.html) topic lists locations where config can be done in order of precedence. However, there are more locations listed in the [KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_microprofile_appconfig_validsources.html).

Check with SME/Alas

[2020-12-18 16:13] lauracowen opened #3437 "Investigate what else would need documenting for MP Config"
The [KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_microprofile_overview.html) seems to be a dump of the spec when not all that info is probably needed in order to just use MP Config in the most productive way. Work with an SME to identify useful pieces of info that a developer would need to understand to be able to use MP C

[2020-12-18 16:59] Azquelt opened #3438 "Update Metrics Reference List for Fault Tolerance 3.0"
Fault Tolerance 3.0 changes the metrics produced by Fault Tolerance.

All the existing metrics in the [Metrics Reference List][metrics-list] which are added by Fault Tolerance should be removed and replaced with the new [Fault Tolerance 3.0 metrics list][ft30-list].

In addition the `ft-metric-features` placeholder will need to be updated to list mpFaultTolerance-3.0 and mpMetrics-3.0.

[metrics-l

[2020-12-18 16:59] lauracowen opened #3439 "Investigate what, if any, additional info is required for MP JWT"
Investiaget what's needed beyond the info in https://www.openliberty.io/docs/latest/single-sign-on.html#_json_web_token_jwt and https://www.openliberty.io/guides/microprofile-jwt.html for the majority of users to use it. We also have javadoc and gendoc for MP JWT, so don't duplicate that.

[2020-12-18 17:03] Azquelt opened #3440 "Add new page documenting metrics changes in Fault Tolerance 3.0"
In addition to updating the metrics reference list (#3438), we also think we should have a new page which lists the equivalent new metrics for each old metric, similar to the [page we created for the changes in mpMetrics-2.0][metrics-20-changes].

I've created a table of changed metrics here: https://gist.github.com/Azquelt/86f4aec058c7bfb3350c043226d87df4

[metrics-20-changes]: https://openlibert

[2020-12-18 21:05] Charlotte-Holt commented on #849
Validated on staging. Merged to `vNext` in #3441.

[2020-12-18 21:05] #849 closed

[2020-12-18 21:27] Charlotte-Holt opened #3442 "Typo in server config overview"
first sentence in https://openliberty.io/docs/20.0.0.12/reference/config/server-configuration-overview.html#_configuration_references section is missing a period

[2020-12-21 16:07] Joseph-Cass commented on #3437
Comparing the current documentation to the guides, [this guide](https://www.openliberty.io/guides/microprofile-config-intro.html#background-concepts) describes 5 default config sources, where [the documentation](https://www.openliberty.io/docs/20.0.0.12/external-configuration.html) only describes 3.

[2020-12-21 16:25] Joseph-Cass opened #3443 "mpConfig-2.0 documentation updates"
There are several updates needed to the mpConfig documentation for mpConfig-2.0, releasing with **21.0.0.2**
 * We need a new page to describe the breaking changes which occurred between mpConfig-1.4 and mpConfig-2.0
 * We need to add some reference documentation to cover the default config sources and converters which are included and supported.
   * A lot of this won't be needed by the 80% use c

[2020-12-21 21:34] Emily-Jiang commented on #3443
@Joseph-Cass you might have missed some of the conversation on ID. I am afraid the text in this issue does not fit with the Doc page. The doc page needs to be updated is [here](https://openliberty.io/docs/20.0.0.12/external-configuration.html). You can copy some info you did for beta blog and add to this issue. Please talk with @Azquelt for more info.

[2020-12-22 18:09] Azquelt commented on #3443
Hi @Emily-Jiang, I went through the MP Config changes with Joe and we've updated the first comment.

We've broken it into
* A new page for the breaking changes
* An update to the existing "External configuration of microservices" page so that it serves the 80% use cases
* An update to the feature reference page to comprehensively list the included converters and default config sources and their ex

[2020-12-22 18:11] Azquelt commented on #3443
I didn't spot until afterwards that there is also #3437 open. The suggested updates to the "External configuration of microservices" page might be better done under that issue.

[2020-12-22 21:30] dmuelle commented on #2873
Opened PR in main OL repo to edit description: https://github.com/OpenLiberty/open-liberty/pull/15362

[2020-12-30 15:35] Azquelt opened #3445 "Update mpOpenApi reference pages to include the endpoints which the feature creates"
The mpOpenAPI-x.x features all create these endpoints:
- `/openapi` - returns the OpenAPI document in yaml or json format
  - the `Accept` header can be used to select yaml or json (required in spec)
  - alternatively, the URL parameter `format=yaml/json` can be added to select json or yaml (recommended in spec)
- `/openapi/ui` - displays the OpenAPI information as an interactive web page (not par

[2021-01-05 14:56] Rwalls1 commented on #776
@tjwatson Thanks, please review the latest updates, we will discuss having the information in a separate section:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-thin.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-help.html

[2021-01-05 15:09] tjwatson commented on #776
The latest looks good for the `thin` and `help` springBootUtility docs.  Let me know when I can review the separate section on configuring/deploying Spring Boot applications.

[2021-01-05 15:11] Charlotte-Holt commented on #2590
Live at https://openliberty.io/docs/20.0.0.12/java-se.html.

[2021-01-05 15:11] #2590 closed, assigned to gjwatts

[2021-01-06 15:58] Rwalls1 commented on #2417
@dmuelle Please peer review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/bells-1.0.html

[2021-01-06 17:01] Charlotte-Holt commented on #2523
OL won't continue to be included in RHR after 6/2021.

[2021-01-06 17:01] #2523 closed, assigned to nobody

[2021-01-07 16:56] Charlotte-Holt commented on #3416
This won't be a blog post or guide, but it will go into the OL docs. SME: @acdemyers.

[2021-01-07 17:40] dmuelle commented on #2417
## Peer review

examples look good- made a few suggestions for clarity and to remove passive voice

### Intro
- The metatype description says "Basic Extensions using Liberty Libraries (BELL)". I think throughout this doc, it should be "the BELL feature", or the metatype should be edited to say "Basic Extensions using Liberty Libraries (BELLs)". Either way, should be consistent.
- The first sentenc

[2021-01-08 20:17] Channyboy opened #3458 "Metrics Reference List Missing Required Features for GRPC metrics in 20.0.0.12"
The page; https://openliberty.io/docs/20.0.0.12/metrics-list.html

The listed GRPC metrics require a feature (besides) `mpMetrics-2.x` to be available.

The `grpc.server.*` metrics require [grpc-1.0](https://openliberty.io/docs/20.0.0.12/reference/feature/grpc-1.0.html) and the `grpc.client.*` metrics require [grpcClient-1.0](https://openliberty.io/docs/20.0.0.12/reference/feature/grpcClient-1.0.h

[2021-01-11 15:27] Charlotte-Holt commented on #727
@pnicolucci I've incorporated your requested updates. Please review the topic at https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/async-io.html and let me know if further updates are needed. Thanks!

[2021-01-11 16:05] Charlotte-Holt commented on #1274
@dmuelle Peer review feedback:

- [x] By integrating JAX-RS with CDI, you can annotate CDI beans or managed beans as REST endpoints and use CDI injection for web services. - **Should "web" be capitalized? When I do a Google search, I'm finding it capitalized in "Web services" quite often.**
- [x] It also supports CDI-style beans as root resource classes, providers, and application subclasses. - **

[2021-01-11 17:35] Rwalls1 commented on #2417
@dmuelle Thanks, I've made those updates: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/bells-1.0.html

[2021-01-11 20:37] dmuelle commented on #3445
Hi @Azquelt - can you provide (or recommend someone who can) code examples that demonstrate these endpoints? We generally just include configuration examples on the feature reference pages. Though I'm not sure that any explicit configuration beyond enabling the feature is needed here, examples similar to [what we have for mp Health](https://www.openliberty.io/docs/20.0.0.12/health-check-microservi

[2021-01-12 17:38] dmuelle opened #3467 "Fix title capitalization for CDI topic"
[Context and dependency injection beans](https://www.openliberty.io/docs/20.0.0.12/cdi-beans.html) -->

Context and Dependency Injection beans

[2021-01-12 17:46] dmuelle commented on #1274
Thanks for reviewing @Charlotte-Holt . I made the changes you suggested, with exceptions noted below

**Should "web" be capitalized? When I do a Google search, I'm finding it capitalized in "Web services" quite often.**
I don't think so- looking at [the Oracle docs](https://docs.oracle.com/cd/E19798-01/821-1841/6nmq2cp1v/index.html), "web services" is only capitalized when part of the API name, ge

[2021-01-12 18:33] fmhwong opened #3468 "Update Logstash Collector setup instruction to use PKCS12 keystore type"
Page to be updated: https://openliberty.io/docs/20.0.0.12/forwarding-logs-logstash.html

Since Liberty 19.0.0.3, default keystore type has been changed from JKS to PKCS12.  We need to update the above page to use the new keystore type.

Steps:-

3. Complete the following steps for each Open Liberty server that you want to collect events from:

3a. Acquire or create a keystore for the Open Liberty

[2021-01-12 21:18] Charlotte-Holt opened #3474 "Bug in ACME example"
@NottyCode found a bug. In https://openliberty.io/docs/20.0.0.12/reference/feature/acmeCA-2.0.html,

[code]

should be:

`<acmeCA renewBeforeExpiration="24h" />
`

The old example might work, but it doesn't meet the schema

[2021-01-13 17:09] Charlotte-Holt commented on #3474
@NottyCode I updated the example in https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/acmeCA-2.0.html. Let me know if further changes are needed.

[2021-01-13 17:25] NottyCode commented on #3474
looks good to me.

[2021-01-13 17:42] Charlotte-Holt commented on #3442
This was merged to `vNext` in #3476. Closing.

[2021-01-13 17:42] #3442 closed, assigned to Charlotte-Holt

[2021-01-13 20:13] Rwalls1 commented on #3327
In addition to the links referenced above, @mbroz2 provided a log that contained the following error that indicated broken links, these links has now been fixed:
`asciidoctor: ERROR: authentication-filters.adoc: line 26: include target not found: ../../reference/pages/feature/socialLogin-1.0/example`

[2021-01-13 21:19] dmuelle commented on #3468
Hi @fmhwong , I've updated this file on our draft site, can you please review the changes/
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/forwarding-logs-logstash.html

I had two questions

"Add the server configuration snippet from the command output to the server.xml file."

Can we provide an example of what this looks like? I want top make sure it's clear to the user. I tried running t

[2021-01-13 21:35] dmuelle commented on #3467
changes are now on vNext and will publish with 21.0.0.1

[2021-01-13 21:35] #3467 closed, assigned to dmuelle

[2021-01-13 21:38] dmuelle commented on #951
Hi @gcharters @mbroz2 @NottyCode

I've updated this draft per comments from @lauracowen and others: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/why-open-liberty.html

Let me know what else is needed- once this doc is approved we can remove the redirect that is current in the nav for this page. Thanks!

[2021-01-13 23:45] fmhwong commented on #3468
The output from the createSSLCertificate:

[code]

The `keytool` command is provided from the JDK.

[2021-01-13 23:47] fmhwong commented on #3468
I also corrected a mistake I made before.

In step 3a, I updated the server name of the command.

[code]

[2021-01-14 00:46] mbroz2 commented on #951
Feels awkward to have a reference & link to openliberty.io/docs from within the docs section (especially since currently this is also the first doc in /docs):

<br><br>Since Open Liberty has fast throughput in **any** cloud environment, I would remove 'Kubernetes' from this sentence, or re-work it to instead make Kubernetes based clouds an example:

<br><br>I think the below needs to be we-worded/

[2021-01-14 13:45] Charlotte-Holt commented on #776
@Rwalls1 Content review feedback:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/springbootUtility-thin.html
- [x] Period after the first intro para
- [x] Need colons leading in to your usage example
- [x] Regarding the **Usage examples** section - I would pull out the more general information about the springBootUtility command into the top section. The actual examples

[2021-01-14 14:22] Charlotte-Holt commented on #3474
Merged to `vNext`.

[2021-01-14 15:25] #3474 closed, assigned to Charlotte-Holt

[2021-01-14 15:33] ManasiGandhi commented on #1289
Laura's comments have been addressed.

[2021-01-14 15:37] ManasiGandhi commented on #1289
@rw2513 can you peer review this topic.

[2021-01-14 15:59] dmuelle commented on #3468
Thanks, @fmhwong. Please review the updated draft: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/forwarding-logs-logstash.html

If anything further is needed, just let me know. If it looks good, please add the `Developer reviewed` label to this issue.

[2021-01-14 16:07] dmuelle commented on #951
Thanks for reviewing @mbroz2. I made the following changes per your review:

- [x] Feels awkward to have a reference & link to openliberty.io/docs from within the docs section **agree, it's unnecessary and I've removed it**
- [x] Since Open Liberty has fast throughput in any cloud environment, I would remove 'Kubernetes' from this sentence **updated to "Open Liberty deploys with fast throughput to

[2021-01-14 19:31] Charlotte-Holt commented on #3134
Just read through https://github.com/OpenLiberty/docs/wiki/How-to-add-config-examples-to-generated-feature-docs#how, and the info looks accurate to me. Thanks, @dmuelle!

[2021-01-14 20:49] #3134 closed, assigned to dmuelle

[2021-01-15 15:20] dmuelle commented on #3443
see also #3436

[2021-01-15 15:20] Charlotte-Holt commented on #3436
Possibly do this work with #3443

[2021-01-15 17:25] dmuelle commented on #1558
It looks like you've covered everything from Laura's review, except for her comment on the "However, validation doesn't occur... " statement. I just have a few comments:

- Filename should change to `validating-server-connections.adoc`
- should probably add a link from the restConnector feature to this doc, maybe an an extended descritpion. Since this isn't server or feature configuration per se,

[2021-01-18 23:21] frowe opened #3494 "ID: Add "Avoid trouble" section to KC topic twlp_dep_jdbc_trace"
Add "Avoid trouble" section just below first list item in Procedure section stating:
_Remove any trace specification from the server.xml file before setting a trace spec in the bootstrap.properties file as described below.  Otherwise, in your trace log file, you will see that initially the bootstrap setting will take effect, then shortly afterward, the server.xml setting will overwrite it, potenti

[2021-01-18 23:22] frowe commented on #3494
Uggg, wrong repo....

[2021-01-18 23:22] #3494 closed, assigned to nobody

[2021-01-19 07:18] meilka1 opened #3495 "The menu on the left side of the website cannot be clicked"
![image](https://user-images.githubusercontent.com/45584068/105000469-5770ac80-5a69-11eb-8963-1886f719d43f.png)
The menu on the left side of the website cannot be clicked ！！！

[2021-01-19 14:35] ManasiGandhi commented on #1695
Updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/configuring-jmx-connection.html

[2021-01-19 14:50] dmuelle commented on #2873
PR is approved and merged- changes will publish with 21.0.0.2 release

[2021-01-19 14:50] #2873 closed, assigned to dmuelle

[2021-01-19 14:55] fmhwong commented on #3468
Two minor changes needed:

1)
From:
[code]
to
[code]

2)
From:
[code]
to
[code]

[2021-01-19 14:58] ManasiGandhi commented on #2844
@rw2513 Can you peer review this topic https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/distributed-session-caching.html

[2021-01-19 15:01] ManasiGandhi commented on #955
Updated draft link https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/samlWeb-2.0.html

[2021-01-19 16:42] dmuelle commented on #3468
Thanks @fmhwong - I've updated the draft: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/forwarding-logs-logstash.html

[2021-01-19 17:34] dmuelle commented on #3495
Hi @meilka1 -Are you still experiencing this issue? I cannot re-create the problem on my end, the navigation is working as expected. When you visit https://www.openliberty.io/docs/20.0.0.12/overview.html, the TOC should already be expanded, not collapsed as in your screenshot.  It shouldn't matter, but what browser were you using?

[2021-01-19 19:48] andymc12 opened #3501 "mpRestClient-2.0 updates"
The documentation at https://openliberty.io/docs/20.0.0.12/rest-clients.html could be updated to include new information for MicroProfile Rest Client 2.0 (currently in beta).

This document overall is still relevant - the concepts of MP Rest Client has not changed, but one sentence should be updated to reflect changes in Rest Client 2.0:

Server Sent Events are a new part of MP Rest Client 2.0, an

[2021-01-19 19:50] dmuelle commented on #3468
changes are on vNext and will publish with the 21.0.0.1 docs release. Closing this issue

[2021-01-19 19:50] #3468 closed, assigned to dmuelle

[2021-01-20 00:58] meilka1 commented on #3495
Hi, thank you for your response. I use chrome and I opened f12 yesterday to look for the problem. And I find the browser cant download the jquery-3.3.1 script of this page&nbsp; that made the problem I found.&nbsp; But this morning, this problem has been solved. thank you .

------------------&nbsp;原始邮件&nbsp;------------------
发件人: "David Mueller"<notifications@github.com&gt;;
发送时间: 2021年1月20日(星期三

[2021-01-20 01:04] dmuelle commented on #3495
Thanks- glad to hear you are no longer experiencing the problem. Let us know if you have any further trouble. Closing this issue

[2021-01-20 01:04] #3495 closed, assigned to dmuelle

[2021-01-20 18:54] Rwalls1 commented on #3327
Links to topics that contained broken links that are now fixed:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/server-package.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/runnable-jar-files.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/authentication-filters.html

[2021-01-20 19:11] ManasiGandhi commented on #571
@chirp1 I moved this issue to your column for an editorial review.

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/feature/mpJwt-1.1.html

[2021-01-20 21:03] dmuelle commented on #340
@ManasiGandhi we should check with @Azquelt to ensure this information is still current for [the MP OpenAPI 2.0 update](https://github.com/OpenLiberty/open-liberty/issues/11020#issuecomment-752664659) and also to possibly include the info from #3445 . We could include that info here and possibly also add code examples to the feature page that he references in that issue

[2021-01-20 21:44] Rwalls1 commented on #3364
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.1/single-sign-on.html

[2021-01-20 21:46] Rwalls1 commented on #3327
Staging:
https://staging-openlibertyio.mybluemix.net/docs/21.0.0.1/runnable-jar-files.html
https://staging-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/server-package.html
https://staging-openlibertyio.mybluemix.net/docs/21.0.0.1/authentication-filters.html

[2021-01-21 11:05] Azquelt commented on #340
On the specification side, the [changes are fairly minor][spec-20-changes] (lots of deprecated things removed, a couple of annotations added).

I haven't actually worked on MP OpenAPI very much at all so I know less about it than you do.

[spec-20-changes]: https://download.eclipse.org/microprofile/microprofile-open-api-2.0/microprofile-openapi-spec-2.0.html#release_notes_20