[2020-05-11 20:02] dmuelle commented on #1541
Preview of changes: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#logging.html

changes will go to production with 20.0.0.6

@Yushan-Lin please review- thanks.

[2020-05-11 20:25] Yushan-Lin commented on #1541
@dmuelle
beginning should be updated as well to this:

When logs are in JSON format, use this attribute to replace default field names with new field names or to omit fields from the logs. To replace a field name, configure the new field name by using the following format: `defaultFieldName:newFieldName?`.

[2020-05-11 21:16] dmuelle commented on #1291
Rough draft is now up at
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#data-persistence-jpa.html

[2020-05-11 22:37] donbourne commented on #1133
@Rwalls1 the content in that article is obsolete.  The article described how to parse unformatted logs.  It predates the availability of our JSON log format which people would more naturally use now to feed logs to Logstash (or other consumers).

[2020-05-11 22:45] donbourne commented on #1200
I think if we are going to have a topic on log management we would want it to have some intro describing or depicting our two main supported scenarios:

1. Liberty emitting JSON formatted logs, which can be ingested into popular log aggregation and analysis tools, such as Elastic Stack, Splunk or others.

1. Liberty running logstashCollector, sending logs directly to Logstash for ingestion into th

[2020-05-11 22:51] dmuelle commented on #1541
Thanks @Yushan-Lin - draft is updated

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#logging.html

[2020-05-12 10:49] lauracowen commented on #1133
Ok, that makes it easy then. @Rwalls1 I think we should just close this issue then.

[2020-05-12 13:13] #1133 closed

[2020-05-12 13:20] Rwalls1 commented on #210
@donbourne If we were to reorder the event types based on relevance as suggested above, do you have a sense for how the event types would be organized?

[2020-05-12 15:54] donbourne commented on #210
If we're going to list these in non-alphabetical order, I'd suggest...
1.  that we provide an index at the top letting you jump to links lower in the page for each event type
2.  that we order as follows:

- messages
- trace
- ffdc
- access logs
- audit

That's not strictly in order of most to least used.  The first 3 are related to general problem determination (and maps to our Problems dashboard

[2020-05-12 19:27] chirp1 commented on #1515
Here is the epic with a link to the design doc: https://github.com/OpenLiberty/open-liberty/issues/7956

[2020-05-12 20:25] Yushan-Lin commented on #1541
@dmuelle looks good!

[2020-05-12 21:10] andymc12 commented on #1515
For the integration with `mpMetrics-2.3`, we probably only need a paragraph that tells users that metrics for GraphQL applications will be collected if they enable the `mpGraphQL-1.0` and `mpMetrics-2.3` features.  For viewing the collected metrics, they would need to go to `https://localhost:<http_or_https_port>/metrics`(more info in the [enabling vendor metrics section of the MP Metrics guide](h

[2020-05-13 00:03] dmuelle commented on #1541
Thanks! closing this issue, updates will publish with the 20.0.0.6 release

[2020-05-13 00:03] #1541 closed

[2020-05-13 18:03] utle opened #1554 "disableLtpaCookie for shared library and user feature TAI document"
We need document for
https://github.com/OpenLiberty/open-liberty/issues/9445

[2020-05-13 21:18] Charlotte-Holt commented on #1287
Merging this info into #1286

[2020-05-13 21:18] #1287 closed

[2020-05-14 14:38] lauracowen commented on #213
Thank you - well done on getting this finished. :)

[2020-05-14 14:56] ManasiGandhi commented on #953
@lauracowen Can you review this topic?

 https://draft-openlibertyio.mybluemix.net/docs/ref/general/#microshed.html

[2020-05-14 15:23] lauracowen commented on #1094
The purpose and content of this topic seems to have got mixed up with the separate Request Timing topic that @ManasiGandhi is working on. There's a lot of good conceptual explanation in here that should probably be in Manasi's concept topic (which she's still working on).

The purpose of the Examples section of this topic is purely to provide example configurations that users commonly need and can

[2020-05-14 15:53] lauracowen commented on #1094
I've updated the guidance on writing these topics - shout if there's anything else that should be included: https://ibm.box.com/s/v3oejxfcv1e63me9hxgot3qdkjrmjby4

[2020-05-14 16:29] lauracowen commented on #211
Hi Richard, I know I was ready to sign this off before but, on taking another look (now we've got a clearer idea of what the Examples section should provide), I think it needs a bit more editing. Sorry, I know this has been dragging on for ages.

The examples look good but there's too much conceptual info in this topic and should be moved to the concept topic (sorry, I know I've just signed that t

[2020-05-14 17:05] dmuelle commented on #1291
Requesting technical review from @frowe

[2020-05-14 17:37] lauracowen commented on #953
That's great! Thank you. :)

A couple of minor points but otherwise it's almost there:

- "MicroShed Testing streamlines your integration tests with the Testcontainers framework for an efficient workflow." - can you insert this sentence "MicroShed Testing makes it easier to write and run integration tests for your applications." (or similar) before the existing last sentence in that paragraph? It'

[2020-05-14 18:19] utle commented on #1479
` IWA but not for Kerberos and NT LAN Manager (NTLM). `
Change to
` IWA but not for NT LAN Manager (NTLM) token. `

`First, create a Kerberos service principal name and keytab file and enable them for SPNEGO authentication. Then, configure the SPENGO feature for Open Liberty and the client application.`
maybe something?
`First, create a Kerberos service principal name and keytab file and copy the

[2020-05-14 19:17] Charlotte-Holt opened #1558 "Testing database connections"
We need a new topic based on the [Testing database connections in Open Liberty apps with REST APIs](https://openliberty.io/blog/2019/09/13/testing-database-connections-REST-APIs.html) blog post. This topic should help someone who's trying to test database connections that they've configured. Explain why/when this is useful to do and how to do it.

Any config specific to the Rest Connector feature

[2020-05-15 09:32] lauracowen commented on #571
- I think the first example needs to be much simpler. Not everything shown is necessary for a basic configuration. Take a look at the blog post https://openliberty.io/blog/2019/08/29/securing-microservices-social-login-jwt.html and find the server.xml example for "The `microservice` server configuration" (there are two examples in the post). I think all you need are the `mpJwt` and `keyStore` line

[2020-05-15 10:05] lauracowen commented on #636
This topic needs to actually present an example configuration, not just tell someone how to do it. See [this guidance on writing these kind of topics](https://ibm.box.com/s/v3oejxfcv1e63me9hxgot3qdkjrmjby4).

I think there's probably only a single example needed here, so start by taking the `jwtBuilder` line from the example server.xml in [this blog post](https://openliberty.io/blog/2019/08/29/sec

[2020-05-15 10:26] lauracowen commented on #761
There's a dodgy inclusion statement after the maven/gradle config examples. It's not resolved into whatever it should display.

Aside from that, I'm happy with this. I'll sign it off so you can just fix the inclusion statement while others can start reviewing it. Thanks

[2020-05-15 10:27] lauracowen commented on #761
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#packaging-deploying.html

[2020-05-15 10:42] lauracowen commented on #766
- could just say "applications" rather than "microservice applications" re conversation about terminology the other day and it doesn't have to be microservice architecture.
- I wonder whether the shortdesc should also have a third sentence stating that there's an Open Liberty operator to make it easy to xxxx? Flags up early on that it's all there.
- Not sure if it's "any cloud platform" so much as

[2020-05-17 15:45] frowe commented on #1291
@Charlotte-Holt In reading your first comment above, I don't think we should put the session persistence content in here, we should find a better place.  Session persistence is a service  the app server provides to web applications not an API for application dev like JPA.
@dmuelle Here's my comments on the draft
1. Replace occurrences of Java EE with Jakarta EE?
2. Is navigation working properly o

[2020-05-18 13:39] Charlotte-Holt commented on #1479
@utle I incorporated your feedback into the draft. Please review https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html.

[2020-05-18 13:56] Charlotte-Holt opened #1567 "Example config for the Cloudant Integration feature"
Enhance the generated feature doc for the Cloudant Integration feature: https://openliberty.io/docs/ref/feature/#cloudant-1.0.html.

**Resources**:

- https://openliberty.io/blog/2019/09/13/testing-database-connections-REST-APIs.html
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_couchdb_configdriver.html

[2020-05-18 14:01] dmuelle commented on #1291
@frowe - thanks for this feedback. I'll revise the doc accordingly. A couple points to clarify-

- if the `jpa-2.1` and `jpaContainer-2.1` features are mutually exclusive, then we have a bug in our autogen feature doc. On [the jpa-2.1 feature page](https://www.openliberty.io/docs/ref/feature/#jpa-2.1.html), `jpaContainer-2.1` is listed under `Features that this feature enables`. Then on the  [jpaC

[2020-05-18 14:05] Charlotte-Holt opened #1568 "Directory locations and properties"
Move information from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_dirs.html into a new reference topic for OL. Integrate the "TIP" information into the body of the topic. Don't include the **Programmatic access to location properties** section, as this section should go elsewhere.

When this is moved over, cross-check what's in the

[2020-05-18 14:08] Charlotte-Holt opened #1569 "Default port numbers"
Move information from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_portnums.html into a new reference topic for OL. Don't include the `collectiveController` feature information.

[2020-05-18 14:25] Charlotte-Holt opened #1570 "Example config for the Java Servlets feature"
Enhance the [Java Servlets feature doc](https://openliberty.io/docs/ref/feature/#servlet-4.0.html) by adding example config.

**Resources**:

- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_servlet40_http2.html

[2020-05-18 15:01] frowe commented on #1291
@dmuelle Ugg. I totally botched that, your analysis is correct,  ignore my comment.

For your 2nd bullet above, the guide for developing microservice persistence may be a good source for sample content.

For your 3rd bullet, for one or more of the following reasons, I might choose JDBC over JPA for applications:
1) don't have a great deal of interaction with a database
2) don't need to support man

[2020-05-18 15:50] brenthdaniel opened #1571 "Example in server configuration docs missing content"
In https://openliberty.io/docs/ref/config/serverConfiguration.html

A line is missing in one of the examples. The current text is:
[code]

It needs to be:
[code]

[2020-05-18 17:31] Charlotte-Holt opened #1572 "Create server and feature config topics for "Basics" section of the nav"
We need to create overview sections for the [server config](https://openliberty.io/docs/ref/config/) and [feature config](https://openliberty.io/docs/ref/feature/) topics to include in the **Basics**-type section in the new OL nav. We could possibly use include statements to pull the necessary info into high-level topics for the **Basics** section and link to the complete topics in the respective

[2020-05-18 17:47] Charlotte-Holt opened #1573 "Limits to password encryption"
Modified from https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_pwd_encrypt.html.

Draft ready for review at https://draft-openlibertyio.mybluemix.net/docs/ref/general/#password-encryption.html.

[2020-05-19 10:36] lauracowen commented on #1291
Regarding overviews, we're trying to give overviews in order to give context to the rest of the docs, without duplicating too much that's elsewhere. If we rely only on what's elsewhere, the experience of learning is fragmented and, for someone who doesn't know anything about it, we could be putting them off completely from trying. This way, we can give an intro, if they want to know more they can

[2020-05-19 10:49] lauracowen commented on #1291
Regarding overviews, on re-reading the topic, I think @frowe makes a good point I'd be happy with reducing down the amount of generic basic JPA conceptual info and have more info about how it is on Open Liberty as @frowe suggests. Maybe keep the What is JPA? section with its example, which I think is useful, but then provide some good links to learn about the detail instead of the detailed sub-sec

[2020-05-19 12:18] lauracowen commented on #429
I like it.

- "Your existing APIs and behaviors are supported in new product versions" (and elsewhere) - maybe try to avoid the word "supported" (but might be worth chatting with Alasdair about it first). Although we normally mean "it works as designed with", it can be read as "officially supported by IBM" which it isn't unless they pay for it. In practice, it _is_ supported in that anyone can rai

[2020-05-19 12:33] lauracowen commented on #927
- It feels like it needs a sub-heading before the servlet security paragraph as there are a lot of paragraphs in the Defining... section. But I'm not sure how to word it - Defining roles for front-end resources? Does that mean anything by itself?
- Don't think this link is constructed properly (it's treating the guides as if they're under the docs part of the site URL): https://draft-openlibertyio

[2020-05-19 12:46] Rwalls1 commented on #1200
@lauracowen Do you have any guidance on how we would differentiate this topic in a meaningful way from the logging and tracing topic or the logstashcollector feature doc?  After further reviews, I think the purpose may need to be more tightly defined.

[2020-05-19 12:58] Rwalls1 commented on #1128
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpMetrics-2.3.html

[2020-05-19 15:01] Charlotte-Holt commented on #1571
@brenthdaniel Please review https://draft-openlibertyio.mybluemix.net/docs/ref/config/. If everything looks good, please add a comment in this issue. Thanks for bringing this to our attention!

[2020-05-19 15:16] brenthdaniel commented on #1571
Yep, looks good to me

[2020-05-19 15:28] Rwalls1 commented on #928
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-spnego.html

[2020-05-19 15:31] Rwalls1 commented on #897
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-ltpa.html.

[2020-05-19 16:24] dmuelle commented on #429
Thanks Laura- I see what you mean and can replace references to "support" if necessary. Interested to hear what @NottyCode thinks as this is good to know in general when discussing OL features and capabilities. Is there a better term to use than "support" in an open source context? Taking a cursory look around, I do see it used fairly regularly in open source docs.

[2020-05-19 17:48] lauracowen commented on #429
It's not so much the open source context (I agree, it gets used a lot) but the relationship between IBM supporting use of OL and OL as an OSS project. I'm tempted to say it doesn't matter but @NottyCode might know specific scenarios in which it does?

[2020-05-19 21:45] dmuelle commented on #1462
comment from @ggam in the PR used to create initial draft: (https://github.com/OpenLiberty/docs/pull/1579)

" I just used this feature today. In my tests and after reading the WAS Liberty doc, I came to the conclusion that the application classloader needs to see the Hibernate lib for this to work (btw the example here doesn't reference the lib so I don't think it will work).

I also miss an examp

[2020-05-19 22:20] chirp1 commented on #1515
Here is David's general authorization topic that I mentioned to Andy and that he references previoualy in this issue: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#authorization.html

[2020-05-19 22:33] dmuelle commented on #927
Thanks @lauracowen draft is updated

- added a subheading for "Configuring servlet security roles"
- fixed broken link and added similar guide links in preceding sections so users know our guides cover recommended config
- changed Where to Next to See Also per recent discussions

[2020-05-19 22:44] chirp1 commented on #1515
Andy and I discussed info for him to provide so that writers can document the feature. He provided the info in this ID issue: https://github.com/OpenLiberty/docs/issues/1515. Approving.

[2020-05-19 22:46] dmuelle commented on #1462
First draft now in preview at https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#jpaContainer-2.2.html

This example was taken from @frowe code snippet in #1291

Further examples pending SME review

[2020-05-19 22:46] dmuelle commented on #1462
Additional resources:

https://stackoverflow.com/questions/47396310/open-liberty-and-hibernate

https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_jpa.html

[2020-05-19 22:56] dmuelle commented on #1291
Thanks @lauracowen @frowe - draft is updated.

- replaced occurrences of Java EE with Jakarta EE
- added more info to JPA vs JDBC and JPA and Open Liberty sections
- add the config Fred posted above to the JPA Container feature config example doc- see #1462
- removed the “Entities and persistence context”, “The EntityManager API”, and “Persistence units and the EntityManagerFactory interface” sect

[2020-05-19 22:57] dmuelle commented on #1291
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#data-persistence-jpa.html

[2020-05-20 10:24] lauracowen commented on #1573
Some comments:

- Feels like it could do with some sub-headings to break it up a bit. Maybe "Password encryption on Open Liberty" before the second para, then "Server configuration files" (or something) before the bit about using an include.
- The lead-in to the bullet points was a bit awkward to read - why am I considering these two scenarios? I don't think I quite made the link between them and

[2020-05-20 15:25] Charlotte-Holt commented on #849
@alvinso @herman-kailey Here's the first draft of this topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#featureUtility.html. Can you please review and add feedback to this issue? Thx!

[2020-05-20 19:03] alvinso commented on #849
@Charlotte-Holt

Thanks for the document.  I have one comment.  Thanks.

1) For the `find` action, can we change the option _name_ to _searchString_ and update the description?  The description of _searchString_ will be something like "Finds features that their name or description matches the _searchString_ from Maven Central and configured Maven repositories. If you do not specify a search string

[2020-05-20 20:23] teddyjtorres commented on #927
The draft looks fine.

"developer approved"

[2020-05-21 16:10] utle commented on #939
developer approved

[2020-05-21 16:11] utle commented on #1479
developer approved

[2020-05-21 16:46] Rwalls1 commented on #1094
@pgunapal Based on the feedback given above, I have tried to revise the topic to include only the minimal configuration needed to illustrate the feature capability. Please review and offer any further guidance: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-05-21 17:27] lauracowen commented on #1094
@Rwalls1 Just taken a quick skim over it:

- The examples look a lot better/simpler. Thanks. Find out from @pgunapal which is the most likely example needed and order them from most to least.
- Can you provide a sub-heading for each example (so each is in a separate section). Make sure the same level heading for all three.
- Can you condense down the explanatory text above each example XML snippet

[2020-05-21 17:32] Charlotte-Holt commented on #1435
Updated nav at https://antora.mybluemix.net/docs/latest/overview.html.

[2020-05-21 18:20] Charlotte-Holt commented on #1573
@lauracowen Thx for your feedback! Updated draft at https://draft-openlibertyio.mybluemix.net/docs/ref/general/#password-encryption.html.

[2020-05-21 18:23] utle commented on #1479
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html
I see "copy" at the end of the following commands, not sure what is it for?

`ktpass -in myOtherKrb5.keytab -out krb5.keytab -princ HTTP/myLibertyMachine.example.com@MYDOMAIN.EXAMPLE.COM -mapUser myLibertyMachine_http -mapOp set -pass security -crypto RC4-HMAC-NT -ptype KRB5_NT_PRINCIPALCopy`

`klist -k -t /et

[2020-05-21 18:40] utle commented on #1479
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html

It's not quite clear the order of steps that customer need to follow, it maybe just me. But we need the following steps in order:
1) Create user, spn, keytab from the AD machine
2) Copy keytab from AD machine to Liberty machine,.
3) create Kerberos configuration file on Liberty machine
4) Configure SPNEGO fea

[2020-05-21 19:01] utle commented on #1479
We now have the following articles
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-spnego.html
https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#spnego-1.0.html
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#authentication-open-liberty.html
has a link to article S

[2020-05-21 19:10] Charlotte-Holt commented on #849
@alvinso I incorporated your comments. Please let me know if any other updates are necessary. Otherwise, please leave a comment with your review/approval. Thx!

[2020-05-21 19:15] Charlotte-Holt commented on #1479
The [feature topic](https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#spnego-1.0.html) links to the [SSO w/ SPNEGO overview](https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-spnego.html) and the task on [configuring SPNEGO](https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html).

The task topic also links to the feature config topi

[2020-05-21 20:15] alvinso commented on #849
@Charlotte-Holt It looks good, thanks.

[2020-05-21 21:56] utle commented on #928
developer approved

[2020-05-22 00:26] NottyCode commented on #429
There are 11 instances of the words "you can" there are 3 in section 1, 5 in section 2 and 3 in section 3. It happens often enough I noticed and felt it was repetitive.

I think the intro needs to talk about why people would care about zero migration rather than stating we have it. Some of this is style, but for an intro I'd probably try something more like this:

[2020-05-22 00:27] NottyCode commented on #429
These sentences read as saying the exact same thing just 5 different ways:

[2020-05-22 00:29] NottyCode commented on #429
I think the section titled "Pluggable Features" should probably be just "Features" reading elsewhere in the docs we don't call them "Pluggable Features", although they are described as being pluggable. It just makes it sound like the name is "Pluggable Features" where as the name is just "Features".

[2020-05-22 00:31] NottyCode commented on #429
I would not say "migrate" here, I'd say  "change". I would also not say "never need" because if it is possible that a security vulnerability might necessitate an application change, it doesn't happen often, but if leaving behaviour as is would be a major security issue we would fix the security issue even if it caused an application issue since it is better to be secure.

[2020-05-22 00:32] NottyCode commented on #429
No it doesn't, Open Liberty supports servlet 3.1 and 4.0, but not 3.0. This is prevalent in the section this is mentioned in.

[2020-05-22 00:34] NottyCode commented on #429
we don't support Java SDK 7. In any case it should be written Java SE 7. The minimum Java version is Java SE 8. In theory some features might prereq newer Java SE versions, but there are no current examples that I'm aware of.

[2020-05-22 00:36] NottyCode commented on #429
At this time Open Liberty has not developed the higher level cognitive awareness implied by this sentence. We the team behind Open Liberty does, but Open Liberty itself doesn't. Not sure of the best way to phrase this, but it would be good to rephrase.

[2020-05-22 00:37] NottyCode commented on #429
We should probably state that this is why we do not expose 3rd party API's by default.

[2020-05-22 00:39] NottyCode commented on #429
I don't really understand the intent of this:

I'm not sure where it comes from, but it seems to conflate support for other software (which we don't document here) with removing features (which we have never done) and I don't understand the However. Do we know where this came from?

[2020-05-22 00:43] NottyCode commented on #429
This might make sense in the context of WebSphere Liberty, but since this is Open Liberty documentation I think it is confusing. I wouldn't say "not supported" here because of the confusion the term can introduce as @lauracowen says. Perhaps something like this:

[2020-05-22 00:43] NottyCode commented on #429
I think the last sentence should really make it clear that Open Liberty may fail the attempt.

[2020-05-22 00:45] NottyCode commented on #429
The second sentence reads strangely to me. It doesn't seem related to zero migration because it is about using new stuff, not the old stuff. I suspect what is intended here is to say the developer can focus on delivering new stuff to their application rather than having to update their application to cope with runtime changes.

[2020-05-22 01:11] NottyCode commented on #766
Can we just say OpenShift?

Instead of this:

What about this:

This implies to me you have to write an operator, but you don't it is provided by us:

Perhaps just say "you can use the Open Liberty Operator". Can we link to any docs about it?

This isn't quite right:

OpenShift is a Red Hat product which is based on open source technologies such as Origin Kubernetes Distribution (OKD). This might

[2020-05-22 01:29] NottyCode commented on #761
Rather than intro maven with this:

what about saying this:

I generally hear people talking about pom files, I don't know how aware people are (or need to be) that pom stands for Project Object Model.

I'm wondering if we need to say this:

It implies to me that maven is primary and Gradle should be thought of in terms of Maven. What about writing an intro paragraph that talks about what the tool

[2020-05-22 13:34] frowe commented on #1291
Two comments and a question:
"familiarity with SQL formatting." should be something like "familiarity with SQL." or "familiarity with SQL programming".
In the final paragraph, it's not quite clear, at least to me, that the jpaContainer feature can be used by itself to configure another JPA provider.  Perhaps some slight tweak.
Did you look into the nav issue I mentioned in 2. above?  It's annoying

[2020-05-22 16:26] dmuelle commented on #1291
Agreed- it is annoying! But it's a known issue, specific to the draft site that will hopefully be fixed when they update the framework. This should not happen with docs that are published to the live site.

re jpaCopntainer- I'll make that clear. If I understand correctly- if you are using the `jpa` feature, you have the option not to use the default because `jpaContainer` is automatically enabled

[2020-05-22 18:11] pgunapal commented on #1094
@Rwalls1 The most likely example is already the first one, where it is the most simplest configuration the users can set, where it applies the threshold to everything. The following in-depth examples related to JDBC and Servlet are also in the right order.

I agree, the in-depth examples should have sub-heading, so its easier for the users to catch on.

For the first example, the explanation is:
T

[2020-05-22 20:05] donbourne commented on #513
need a crisper definition of observability.  eg. Observability is the ability of a system to expose information about its internal state to facilitate problem determination, performance analysis and other investigations.

In a microservices environment, your application needs to be functional as a whole...
    - at this point in the doc you might want to describe the need for the types of data you

[2020-05-22 21:03] donbourne commented on #1128
- "This feature provides support for the Eclipse MicroProfile Metrics 2.3 specification for enterprise Java."
  - true, but I think we should start by explain why someone would want to use the feature

- "The endpoint can be accessed through the metrics API that enables security configuration."
  - the "that enables security configuration" part doesn't make sense.

- somewhere in the intro we need

[2020-05-22 21:07] donbourne commented on #1095
let's meet to discuss this one -- I think the original WL topic on this does a better job of covering how to get up and going with logstashCollector since it details the steps beyond just setting the right config parameters.

[2020-05-26 17:50] Charlotte-Holt commented on #1573
Requesting peer review from @Rwalls1

[2020-05-26 18:41] dmuelle commented on #1291
Hi @frowe , I've updated the draft per your comments. Hopefully the configuration section is a little more clear about `jpaContainer` vs `jpa`

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#data-persistence-jpa.html

If this needs further work just let me know. Thanks!

[2020-05-26 18:43] dmuelle commented on #1462
Hi @frowe can you review this example (taken from your comment in #1291 ) and let me know if further examples are needed. See the user comment above re an example with `bells-1.0` . If there's anyone else I should get to review this, just let me know.

[2020-05-26 20:30] brutif commented on #893
@dmuelle looks good!

[2020-05-27 12:41] frowe commented on #1291
@dmuelle Sorry, I got sidetracked and didn't respond to your question above.

This paragrpah seems to use the expanded acronym a lot making it harder to read, at least for me.

Could something like this work instead since the acronym is expanded in previous sections on first use?
JPA for Open Liberty is supported by the JPA feature, version 2.1 and later, and the JPA Container feature, version 2.1

[2020-05-27 13:37] Charlotte-Holt opened #1610 "Build Maven docs into the OL docs"
We need to build some of the [Maven docs](https://github.com/OpenLiberty/ci.maven) into the OL docs. The Maven docs may first need to be converted into AsciiDoc and then assessed to determine how we want to break them up and pull them into the OL docs. We may also want to do some editing of the Maven docs before pulling them into the OL docs.

[2020-05-27 13:38] Charlotte-Holt opened #1611 "Build Gradle docs into the OL docs"
We need to build some of the [Gradle docs](https://github.com/OpenLiberty/ci.gradle) into the OL docs. The Gradle docs may first need to be converted into AsciiDoc and then assessed to determine how we want to break them up and pull them into the OL docs. We may also want to do some editing of the Gradle docs before pulling them in.

[2020-05-27 13:45] Charlotte-Holt opened #1613 "Intro topic to build tools"
See #1610 and #1611 for issues about building the Maven and Gradle docs into the OL docs. This issue is to determine whether or not we need an introductory topic for the build tools. Some information about Maven and Gradle build tools is in https://draft-openlibertyio.mybluemix.net/docs/ref/general/#packaging-deploying.html, but we might need something beyond this to introduce users to the build t

[2020-05-27 16:14] dmuelle commented on #1291
Thanks @frowe - I've updated this section per your suggestion. It does improve readability.

[2020-05-27 16:47] Rwalls1 commented on #211
@NottyCode Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#audit-1.0.html

[2020-05-27 16:49] Rwalls1 commented on #213
@NottyCode Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#audit-runtime-apps.html

[2020-05-27 16:52] Rwalls1 commented on #928
@NottyCode Please review:  https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-spnego.html

[2020-05-27 16:53] Rwalls1 commented on #897
@NottyCode Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-ltpa.html

[2020-05-27 17:46] NottyCode commented on #213
I don't like the introduction to this topic. It feels like it is overly long, and doesn't really give a good overview of what audit is and why you would care about it. It talks about environment without defining what it is and it makes it sound like it is a way to identify and solve configuration errors (which it isn't). I've put some feedback below about specific items, but think it needs to be r

[2020-05-27 18:54] NottyCode commented on #897
1. I don't think the intro paragraph meshes with my understanding of LTPA. It is almost there, but not quite:

It makes it sound like the intent is the end user generates an LTPA token and sends it and that is the authentication. In fact an LTPA token is generated as a result of authentication, it is then used to track the authentication session. Also while you can use LTPA to authenticate multipl

[2020-05-27 18:54] dmuelle commented on #429
Thanks for reviewing @NottyCode - I've made edits to address each of your comments above.

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#zero-migration-architecture.html

[2020-05-27 19:04] NottyCode commented on #928
I don't think we need to document how SPNEGO works at a protocol level. I don't think anyone using Liberty would care about this and I'm pretty sure there are better places to find that documentation. I think what is important is the following:

1. What use cases is SPNEGO relevant for
2. How do I configure it

neither of which are answered here. In my understanding the main usage scenario for SPN

[2020-05-27 19:11] NottyCode commented on #211
The code examples have an escape character where there should be none. For example:

    <keyStore id="auditSignKeyStore" password="\{#xor#}EzY9Oi0rJg==" location="$\{server.config.dir}/resources/security/AuditSigningKeyStore2.#jks#" type="JKS" />

the \ before { should not be there. The # around jks and xor should not be there. No example should use xor encoded passwords, it should be aes.

The f

[2020-05-27 23:07] frowe commented on #1291
@dmuelle Edits look good.  I'm still getting to the review/comments about code snippet.

[2020-05-28 14:34] Charlotte-Holt commented on #1286
Link to the topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#jmx-metrics.html.

[2020-05-28 17:50] utle commented on #1479
developer approved

[2020-05-28 18:55] donbourne commented on #1286
I think leaving out the JConsole connection information is fine, as this topic is already quite long and as you mentioned in slack is basically a reference topic.

Given the Object Name is constant within the scope of each MXBean, would it make sense to move that above each table?

You can use the ConnectionPool MXBean for monitoring the connection pool in Open Liberty.
->
You can use the Connecti

[2020-05-28 21:36] Rwalls1 commented on #1094
@pgunapal Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-05-29 15:34] Charlotte-Holt commented on #1290
@ManasiGandhi Looking good. Review comments:

- Maybe change the heading "Configuring Liberty servers to persist session data with JCache" to "Configuring Open Liberty to persist session data with JCache"?
- I don't think JCache needs to be monospaced. Most of what I'm finding online is just "JCache"
- "After enabling" to "After you enable"
- Add a colon at the end of the sentence to lead to your

[2020-05-29 16:29] pgunapal commented on #1094
@Rwalls1 A few comments:

- In the "Configuring JDBC request thresholds" section, the following should be changed from:
`The <requestTiming> element detects that the JDBC request with a datasource name`
 to:
`The <jdbcTiming> element detects that the JDBC request with a datasource name`

- In the "Configuring servlet request thresholds" section, the first `<servletTiming/>` should be highlighted.

[2020-05-29 19:42] Rwalls1 commented on #1573
The topic looks good, I just have a few comments:
- In the opening paragraph, I think the link to the security utility command doc should be placed elsewhere, maybe in the first section about password encryption with Open Liberty, as I think the link would benefit from more contextual information surrounding it than what is presented in the intro. Moving the link will also help to make the short d

[2020-05-29 20:21] Rwalls1 commented on #1094
@pgunapal Please review, I think I've addressed the most recent comments: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-05-29 20:25] pgunapal commented on #1094
@Rwalls1 Looks good, just a minor styling comment:
In the example snippet:
`<servletTiming appName="SecurityExchangeApp” hungRequestThreshold=”2h”/>`
 The quotes should be fixed, so the styling is correctly displayed.

`The embedded configurations always override the configured slow and hung request thresholds that are defined in the <requestTiming/> element configuration.`

The `<requestTiming/>`

[2020-05-29 20:32] Rwalls1 commented on #1128
@donbourne Please review, I think I've addressed most of your feedback, the first line is auto generated so I'll need to work with Laura to update. Also, for the "Authorizing access to the metrics API with SSO" config example, it is actually a complete example that was pulled from https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mp_metrics_monitor.htm

[2020-06-01 13:36] Rwalls1 commented on #210
@donbourne @NottyCode @lauracowen  Please review, I think I've addressed most of the feedback, I spoke with Emily about the objects containing other objects, such as "observer.id", in the tables and she verified that this syntax is a standard method of reference, https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-logging-events.html

[2020-06-01 13:52] Rwalls1 commented on #1094
@pgunapal Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-06-01 14:22] pgunapal commented on #1094
@Rwalls1 Everything looks good! Thanks!

[2020-06-01 18:04] Rwalls1 commented on #1094
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-06-01 19:54] ayoho commented on #676
I'm a little confused about the config snippets at the bottom of the article. The large snippet seems to have a good lead-in and appropriate config. But the config snippet after the line that says "Example of adding clients with localStore:" is an `<oauth-roles>` snippet whose only difference from the config above it is that it has a `<clientManager>` stanza. So that config snippet is more for how

[2020-06-01 20:14] Rwalls1 commented on #928
@lauracowen Please review, what are your thoughts on Alasdair's comments: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-spnego.html

[2020-06-01 20:47] Rwalls1 commented on #213
@lauracowen Please review, what are your thoughts on Alasdair's comments?

[2020-06-01 20:53] ayoho commented on #1118
- Start the first sentence of the article with "The" to make it "The Social Media Login feature provides a form of single sign-on..."
- The first sentence under the "Request log in with a social media ID" section says

    The customizable selection form doesn't come into play if there's just one social media provider configured, as is the case in this section. I'd suggest removing this sentence.

[2020-06-02 13:47] donbourne commented on #1286
looks good!

[2020-06-02 14:28] ManasiGandhi commented on #955
Bruce's comments,
The preferred approach to configure SAML is by using metadata exchange as follows:  Supply the above URL to the saml identity provider to establish federation between this sp and Identity provider.  If the identity provider requires a file instead of a url, use a browser to retrieve the data from that URL and supply the file.   Next, obtain the metadata file from the provider, re

[2020-06-02 16:28] Rwalls1 commented on #897
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#sso-config-ltpa.html

[2020-06-02 20:17] Charlotte-Holt opened #1645 "Asynchronous programming w/ MicroProfile Fault Tolerance"
Rework information from the [Asynchronous programming made resilient with MicroProfile Fault Tolerance: Part 1](https://openliberty.io/blog/2020/06/04/asynchronous-programming-microprofile-fault-tolerance.html) and [Asynchronous programming made resilient with MicroProfile Fault Tolerance: Part 2](https://openliberty.io/blog/2020/06/05/asynchronous-programming-microprofile-fault-tolerance-part-2.h

[2020-06-03 16:10] aguibert commented on #1290
Review comments:
- In the code examples I would suggest using `${server.config.dir}` instead of `${shared.resource.dir}`. This is because usually there is only 1 server per wlp install in modern (containerized) environments and the shared resource dir really only makes sense if you have >2 servers per wlp install.
- For the 3rd (largest) code example, I would suggest only showing the minimum confi

[2020-06-03 17:14] ManasiGandhi commented on #955
Bruce's comment
"Hi, that looks fine, my only suggestion is to change
SAML Identity Provider --> SAML Identity Provider (IDP)
 IP --> IDP"

[2020-06-03 19:29] brutif commented on #955
looks good!

[2020-06-03 19:58] rw2513 commented on #211
@lauracowen Please review, I think I've addressed most of the feedback: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#audit-1.0.html

[2020-06-03 20:10] Rwalls1 commented on #211
@lauracowen Please review, I think I've addressed most of the feedback: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#audit-1.0.html

[2020-06-03 20:17] Rwalls1 commented on #213
@lauracowen Please review, I think I've addressed most of the feedback, what are your thoughts on the 7 W's table and the usefulness of the examples? I wasn't quite sure how to address those two points without further discussion.

[2020-06-03 20:23] ManasiGandhi commented on #955
@lauracowen Hi Laura. Can you review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#samlWeb-2.0.html?

[2020-06-04 13:59] utle commented on #1554
https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_custmr.html
Add the following before the Procedure:
custom TAI as a Liberty feature support properties invokeBeforeSSO and invokeAfterSSO similar to the custom TAI as a shared library configuration (link to the metatype??) . If you do not specify these two properties, the custom TAI will be called afte

[2020-06-04 19:20] utle commented on #1554
I this article https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_feat_tai.html
We need to add the following before the **Procedure**

The custom TAI as a Liberty feature support properties are invokeBeforeSSO and invokeAfterSSO. If these two properties are not specify. The custom TAI will be called after single sign-on (SSO) . You can define these propert

[2020-06-04 20:23] Charlotte-Holt commented on #1569
Review comments:

- I think you can use the full plain-text feature name and link to the latest version of the feature (assuming it applies?)
- I also think you can link to the relevant server config in the OL docs, like the KC article does (e.g., "For more information about SIP endpoints, see HTTP SIP Endpoint (sipEndpoint)."
- I think the actual port numbers can be monospaced. I know they aren't

[2020-06-05 09:13] lauracowen opened #1658 "Customizing the social media (SSO) selection form"
Before working on this, check whether it's useful to many target users (not sure how useful it actually is). If not, it's low priority. You can enable social media login for multiple platforms without doing this.

Create a separate topic based on https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_cust_social_form.html

Ensure it explains to the user how to

[2020-06-05 12:23] lauracowen commented on #898
Hi Richard,

Alasdair and I took a look at some of the SSO topics last night and we agreed we need to make some changes to how the SSO info is presented. We currently have too much info about the abstract concepts that people could better obtain elsewhere. I'm going to chat with Charlotte about it this afternoon but please can you hold off working on this topic in the meantime?

Thanks,

Laura

[2020-06-05 12:23] lauracowen commented on #895
Hi Richard,

Alasdair and I took a look at some of the SSO topics last night and we agreed we need to make some changes to how the SSO info is presented. We currently have too much info about the abstract concepts that people could better obtain elsewhere. I'm going to chat with Charlotte about it this afternoon but please can you hold off working on this topic in the meantime?

Thanks,

Laura

[2020-06-05 12:24] lauracowen commented on #901
Hi Richard,

Alasdair and I took a look at some of the SSO topics last night and we agreed we need to make some changes to how the SSO info is presented. We currently have too much info about the abstract concepts that people could better obtain elsewhere. I'm going to chat with Charlotte about it this afternoon but please can you hold off working on this topic in the meantime?

Thanks,

Laura

[2020-06-05 12:25] lauracowen commented on #897
Hi Richard,

Alasdair and I took a look at some of the SSO topics last night and we agreed we need to make some changes to how the SSO info is presented. We currently have too much info about the abstract concepts that people could better obtain elsewhere. I'm going to chat with Charlotte about it this afternoon but please can you hold off working on this topic in the meantime?

Thanks,

Laura

[2020-06-05 12:25] lauracowen commented on #928
Hi Richard,

Alasdair and I took a look at some of the SSO topics last night and we agreed we need to make some changes to how the SSO info is presented. We currently have too much info about the abstract concepts that people could better obtain elsewhere. I'm going to chat with Charlotte about it this afternoon but please can you hold off working on this topic in the meantime?

Thanks,

Laura

[2020-06-05 15:58] aguibert commented on #1290
looks good now, thanks!

[2020-06-05 16:02] ManasiGandhi commented on #1290
@lauracowen can you review https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#sessionCache-1.0.html?

[2020-06-05 17:12] brutif commented on #571
looks good, you might consider.
 where to retrieve the public key from to validate the JWT --> where to obtain the public key used to validate the JWT.

[2020-06-05 19:59] donbourne commented on #210
message / trace / ffdc / access logging events are missing descriptions for the common fields
- type
- host
- ibm_userDir
- ibm_serverName
- ibm_sequence

message / trace events are missing descriptions for
- ext_thread

jmx_notification events
- "You can use the JMX_NOTIFICATION event to perform JMX notifications." - this doesn't sound like what that event is for.  suggest you discuss that with e

[2020-06-05 20:03] chirp1 commented on #942
@Charlotte-Holt Hi Charlotte, I did a preliminary look at the hardening topics. I ran them through Acrolinx. I see various things that you can fix in each of your topics. Would you go back through Acrolinx, your style guide, and the cheat sheet page on the wiki, and make corrections as appropriate? Also, "check out" is slang. Would you change the wording so that you aren't using slang?

[2020-06-05 20:04] chirp1 commented on #929
@Charlotte-Holt Hi Charlotte, I did a preliminary look at the hardening topics. I ran them through Acrolinx. I see various things that you can fix in each of your topics. Would you go back through Acrolinx, your style guide, and the cheat sheet page on the wiki, and make corrections as appropriate?

[2020-06-05 20:04] chirp1 commented on #930
@Charlotte-Holt Hi Charlotte, I did a preliminary look at the hardening topics. I ran them through Acrolinx. I see various things that you can fix in each of your topics. Would you go back through Acrolinx, your style guide, and the cheat sheet page on the wiki, and make corrections as appropriate?

[2020-06-05 20:05] chirp1 commented on #941
@Charlotte-Holt Hi Charlotte, I did a preliminary look at the hardening topics. I ran them through Acrolinx. I see various things that you can fix in each of your topics. Would you go back through Acrolinx, your style guide, and the cheat sheet page on the wiki, and make corrections as appropriate?

[2020-06-05 20:09] Rwalls1 commented on #210
@donbourne Where would I find descriptions for the missing common fields? They don't appear to be referenced in KC

[2020-06-05 21:25] donbourne commented on #1128
comments that still need to be addressed...

- "This feature provides support for the Eclipse MicroProfile Metrics 2.3 specification for enterprise Java."
  - true, but I think we should start by explain why someone would want to use the feature

new comments...

- "The endpoint can be accessed through the metrics API." - this can just be removed (we already say "Microprofile Metrics provides a /m

[2020-06-05 21:28] donbourne commented on #210
see "Event structure" section of https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_analytics_collectors.html

[2020-06-08 14:13] dmuelle commented on #962
Short description revised per guidance in #1485

[2020-06-08 20:08] brutif commented on #571
latest edit looks fine.

[2020-06-08 21:44] cbridgha commented on #1569
Content looks good - Like the fact the specific feature version isn't mentioned, but the latest version is still hyperlinked. - Thanks

[2020-06-09 12:09] lauracowen commented on #213
@Rwalls1

Regarding the 7 Ws, I think you need to ask Emily if it's an industry thing. If it is, provide a link to wherever it's described online. If it isn't, just don't say "are also referred to as...etc". In the table column header, just say "Component" (though I'm not sure "component" is a great term for it but if that's what they use, fine).

Regarding @NottyCode's comment about the usefulnes

[2020-06-09 16:36] lauracowen commented on #505
https://download.eclipse.org/microprofile/microprofile-open-api-1.1/microprofile-openapi-spec.html#_core_configurations

[2020-06-09 17:37] lauracowen opened #1676 "SSO intro topic"
This new [SSO intro topic](https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html) is drafted based on sections from each of the following topics:

- #895 (Social Media Login)
- #901 (JWT)
- #928 (SPNEGO)
- #898 (SAML)
- #897 (LTPA)

Instead of providing non-Liberty-specific info about the topics, we can link elsewhere to that info. In the topics we provide, we can explain

[2020-06-09 17:45] lauracowen commented on #895
Superceded by #1676 so I'm closing this issue.

[2020-06-09 17:45] #895 closed

[2020-06-09 17:46] lauracowen commented on #901
Superceded by #1676 so I'm closing this issue.

[2020-06-09 17:46] #901 closed

[2020-06-09 17:46] lauracowen commented on #928
Superceded by #1676 so I'm closing this issue.

[2020-06-09 17:46] #928 closed

[2020-06-09 17:46] lauracowen commented on #898
Superceded by #1676 so I'm closing this issue.

[2020-06-09 17:46] #898 closed

[2020-06-09 17:46] lauracowen commented on #897
Superceded by #1676 so I'm closing this issue.

[2020-06-09 17:46] #897 closed

[2020-06-09 18:06] ayoho commented on #1118
Doc looks fine to me.

[2020-06-09 19:18] dmuelle commented on #1196
After talking w/ Laura and Karen about Arthur's feedback, closing this issue

[2020-06-09 19:18] #1196 closed

[2020-06-09 22:01] Rwalls1 commented on #1289
@ManasiGandhi The topic looks good, I just have a few comments:
- Make sure to run Acrolinx again as I noticed some things that were flagged
- Add a period after, "Failover of HTTP sessions can be achieved by configuring multiple servers to persist data to the same location” ﻿
- For the paragraph that begins with, "After enabling the sessionDatabase feature, define a data source, `<dataSource id="

[2020-06-10 17:55] Charlotte-Holt opened #1684 "Using logstash collector"
New task topic to be moved over from the KC: https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_analytics_logstash.html.

Confirm with SME that all info in the KC topic is still relevant/useful.

**SME**: Don Bourne

[2020-06-11 09:37] lauracowen commented on #849
I just realised that the [securityUtility command topic](https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility.html) does the same as this one in terms of explicitly talking about actions and options. Can you see what you think of the server command format regarding this one too? I think we need to be consistent across all our command topics. The bit I don't like is explicitl

[2020-06-11 12:24] lauracowen opened #1686 "Troubleshooting tips"
Compile a list we can make into a topic or some searchable knowledgebase or something when we have enough:

- TLS handshake fails (what are the symptoms though?): could be caused by certificate being expired or revoked so one or both parties don't recognised the certificate, or a mismatch between TLS versions used by client and server.

[2020-06-11 12:26] lauracowen commented on #1096
Thanks
- I wonder if, in the first para (maybe and second para), it should say something about if you’re building/deploying your services with Open Liberty, can enable TLS to encrypt…etc? The fact we have a topic on it says that implicitly but it doesn’t actually state up-front how this applies to OL.
- I think the topic is better in terms of scope but still feels a little dry or abstract. Maybe g

[2020-06-11 13:14] Rwalls1 commented on #1128
@donbourne Please review, I will  work with Laura to address the first comment. For the SSO question, I spoke with Bruce Tiffany and he indicated that within the context of this topic, the MP Metrics would be enabled, however, any additional features that had a security constraint defined could also be applicable.

[2020-06-11 13:36] Rwalls1 commented on #210
@donbourne What would the description be for "ext_thread". I think that may be missing from that "Event structure" section.

[2020-06-11 15:36] aguibert commented on #953
yes that sounds reasonable @lauracowen, but for the code example we're going to show I think we need to give a bit more context than just the test method itself. Part of the value of Microshed Testing is the simplicity of setup, and if we just show the reader the test method we're missing out on an opportunity to say "see, this is all it takes"

For the code example I would suggest the code sample

[2020-06-11 17:28] lauracowen commented on #953
@aguibert Great, thanks. That's helpful.
@ManasiGandhi Okay, what I said in the comment above but use the code example that Andy gives in his comment instead of the one I provided. However, still remove the comments etc (but keep the code example as a single code snippet and put explanation below the whole thing).

[2020-06-11 17:52] lauracowen commented on #955
- When introducing an example, focus on what it provides rather than just describing the elements. So saying that the element is configured by default doesn't tell the user anything. The thing that's important to the user is what that provides. (Also, technically the element itself isn't really configured; it _is_ the configuration.) So introduce it with something more like "SAML Web Single Sign-O

[2020-06-12 10:07] lauracowen commented on #1290
The format of this needs to be modified to follow the same approach as other config example topics. The aim is to show one or more alternative examples of server config; it's not to try to provide instructional/task information about how to do a full configuration. If there's a need for a full task topic on configuring JCache, raise a separate issue to be prioiritised on the backlog.

From the tex

[2020-06-12 10:10] lauracowen commented on #571
Looks good. Thank you :)

[2020-06-12 10:17] lauracowen commented on #1118
@ManasiGandhi Can you provide a link to where this is? I don't see it in the [Social Media Login gendoc topic](https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#socialLogin-1.0.html) so I'm not sure what's been reviewed already.

[2020-06-12 10:28] lauracowen commented on #766
- I think, based on what Alasdair said above, remove the "What is OpenShift?" heading and just have the first paragraph of that section "OpenShift is..." as part of the intro. Then remove the second para in that section (starting "OpenShift takes...").
- The bit about using SSO could link to the Social Media Login feature which _will_ have example config (or if it seems to much there, a separate t

[2020-06-12 10:39] lauracowen commented on #1286
- I think I would call this topic "Performance monitoring with JMX metrics" and drop the OL bit?
- I think this topic is almost two (or three) separate topics combined: it has a conceptual intro, then how to enable, then the actual list of metrics which is really a reference topic in its own right.
  - I think the JMX Metrics list should be a separate topic, to mirror your existing metrics list to

[2020-06-12 13:28] dmuelle commented on #1096
@lauracowen @NottyCode
edits addressed in revision:

- I wonder if, in the first para (maybe and second para), it should say something about if you’re building/deploying your services with Open Liberty, can enable TLS to encrypt…etc? **added  to 2nd para**
- I think the topic is better in terms of scope but still feels a little dry or abstract. Maybe give a concrete example of the concepts describ

[2020-06-12 13:58] NottyCode commented on #766
I agree with Laura that the "What is OpenShift" section seems redundant. It looks like it duplicates much of what is in the first paragraph. The first 7 words in the into paragraph to the article are identical to the first 7 words in the "What is OpenShift" section.

It is probably fine, but it didn't feel right to say the containers need to talk to each other. If you create a container image for

[2020-06-12 14:46] zhang-ca commented on #1289
https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#sessionDatabase-1.0.html

Reviewed the draft, looks good. Also suggest to add :
`See example in bootstrap.properties files. `
after
`The clone ID must be unique for each server and can be 8-9 alphanumeric characters in length.`

[2020-06-12 15:11] chirp1 commented on #1435
Hi!
A few points that I mentioned previously:
- I'd like to see an example nav that has one top level entry, and then the sections underneath it. The user would be able to get to the sections by clicking the twistie to expand the top level. The reason to have only one top level is so that we can move topics around without having to code a redirection.. The top-level sections are in different direc

[2020-06-12 15:52] Rwalls1 commented on #213
@lauracowen Please review, I think I've addressed most of the feedback, I spoke with Emily about condensing the examples and she prefers to leave them as is due to the potential to mislead users about what the actual event record looks like, so I didn't condense for now as we may need to discuss further: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#audit-runtime-apps.html

[2020-06-12 18:27] lauracowen commented on #761
I think this is still trying to be a task (from "Building a WAR deployment artifact" onwards) but wouldn't be that successful as a task because it's not providing the detail that you'd get from the relevant guides. The Getting Started guide handles that at a basic level, then the containerising guide handles it more in-depth (I think), and the Maven and Gradle guides handle the details of the buil

[2020-06-12 18:41] Charlotte-Holt commented on #201
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:41] #201 closed

[2020-06-12 18:42] Charlotte-Holt commented on #182
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #182 closed

[2020-06-12 18:42] Charlotte-Holt commented on #183
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #183 closed

[2020-06-12 18:42] Charlotte-Holt commented on #185
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #185 closed

[2020-06-12 18:42] Charlotte-Holt commented on #194
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #194 closed

[2020-06-12 18:42] Charlotte-Holt commented on #208
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #208 closed

[2020-06-12 18:42] Charlotte-Holt commented on #193
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #193 closed

[2020-06-12 18:42] Charlotte-Holt commented on #186
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:42] #186 closed

[2020-06-12 18:43] Charlotte-Holt commented on #207
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #207 closed

[2020-06-12 18:43] Charlotte-Holt commented on #250
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #250 closed

[2020-06-12 18:43] Charlotte-Holt commented on #365
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #365 closed

[2020-06-12 18:43] Charlotte-Holt commented on #272
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #272 closed

[2020-06-12 18:43] Charlotte-Holt commented on #263
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #263 closed

[2020-06-12 18:43] Rwalls1 commented on #1676
@lauracowen I've made some updates. For your comment about TLS in each section, are you implying that you think TLS configuration should be mentioned within SSO description? Also, are you questioning whether "transmission" is technically accurate? : https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html

[2020-06-12 18:43] Charlotte-Holt commented on #269
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #269 closed

[2020-06-12 18:43] Charlotte-Holt commented on #265
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:43] #265 closed

[2020-06-12 18:44] Charlotte-Holt commented on #257
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:44] #257 closed

[2020-06-12 18:44] Charlotte-Holt commented on #613
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:44] #613 closed

[2020-06-12 18:44] Charlotte-Holt commented on #630
Closing epic issues. Can reopen if we find these are missed or useful.

[2020-06-12 18:44] #630 closed

[2020-06-12 18:54] dmuelle commented on #213
Hi Richard- this topic came up on our call with Laura this morning while looking at observability stuff in general. I wonder if instead of condensing the individual code examples, we could remove the first two examples under `Failed form login authentication example`, since they are essentially identical to the first two examples under `Successful form login flow to access a servlet application ex

[2020-06-12 20:52] donbourne commented on #210
ext_thread is the name of the thread the event was generated on.

[2020-06-12 20:55] donbourne commented on #210
for consistency with the other descriptions, you might want to say "Thread name of the thread that was the source of the event"

[2020-06-12 21:06] dmuelle opened #1694 "JSON logging updates for Log and trace configuration doc"
Overview of JSON logging with Open Liberty

- Not the default format, has to be configured
- why should devs care?
- enables modern logging tools like prometheus, grafana
- basics of config- focus on _what_ you need to configure and _why_, point out to reference topics for details on _how_
- include info on custom fields, changing field names and removing fields and why these capabilities are usef

[2020-06-12 21:13] dmuelle opened #1695 "Configuring JMX connection"
Liberty supports two JMX connectors: local connector and REST connector. Each connector is enabled through a different Liberty feature.

SME: Don Bourne

Combine the following config tasks into a single task topic

-https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_localconnector.html
- https://www.ibm.com/support/knowledgecenter/SS

[2020-06-12 21:13] donbourne commented on #210
audit events also have these fields:

- type
- host
- ibm_userDir
- ibm_serverName
- ibm_datetime
- ibm_sequence
- ibm_threadId

[2020-06-12 21:39] donbourne commented on #210
just realized that you're documenting the CADF format for audit, not the JSON logging format.  It's basically the same set of fields but they are namespace prefixed and the hierarchy is flattened.

for example, for a SECURITY_MEMBER_MGMT event you would have the following fields:

- type
- host
- ibm_userDir
- ibm_serverName
- ibm_datetime
- ibm_sequence
- ibm_threadId
- ibm_audit_eventName
- ibm_

[2020-06-12 22:12] donbourne commented on #1128
@Rwalls1 , looks good!

[2020-06-12 22:18] chirp1 commented on #340
Hi Manasi, Not sure if this tip addresses your updates for Laura, but here's a tip that you might try if it is appicalbe:  When David incorporates comments from me, he goes into my comment that I made in his issue and types "(Done) next to the comment to indicate that he made the update. You might try this technique to keep track of the updates that you made for Laura's set of comments.

[2020-06-13 15:39] donbourne commented on #210
I think we can just modify the existing examples to be in JSON format since the data is the same (just the field labels need to change).  I'll see if someone on my team can do that in coming iteration.

[2020-06-15 13:22] kristip17 opened #1699 "Doc for new Liberty feature -- acmeCA"
The feature issue  is https://github.com/OpenLiberty/open-liberty/issues/9017

## Overview: ##

When a Liberty server starts with transport security enabled (TLS), a public and private key are created for the server. A self-signed server certificate that is used as the server’s personal cert (containing the server’s pivate key) is also created.

When clients connect over TLS, Liberty provide this

[2020-06-15 14:20] donbourne commented on #210
discussed with @emilytee on how to fix the JSON logging format vs. CADF format issue.

We're thinking:
- break out the existing audit.log content into a separate topic.  Keep the tables explaining the fields and the current examples.  This is useful for people looking at their audit.log file.  essentially take all the audit.log content from the existing topic and make that a standalone topic
- mod

[2020-06-15 14:21] dmuelle commented on #1291
Hi @frowe - just circling back to make sure this topic is ready to publish from a technical perspective. If so, can you add the `technical reviewed` label to this issue? It will not actually publish until we have also completed the feature config topic for JPA Container.

[2020-06-15 14:24] dmuelle commented on #1462
Hi @frowe - circling back on this. Can you let me know by Wednesday 6/17 if the example is correct and if further examples are needed for this topic? We are targeting this for 20.0.0.7 if possible. Thanks!

[2020-06-15 14:59] dmuelle commented on #429
Hi @NottyCode circling back on this issue. I believe I've addressed all your comments in the updated draft. When you have a chance, can you let me know if this doc needs any further edits or is ready to publish from a technical perspective? If possible, can you let me know by Wednesday 6/17? Targeting this for OL and OL in RHR 20.0.0.7

[2020-06-15 18:01] dmuelle commented on #1684
Comments from @donbourne in #1095

I would suggest taking the original topic and just making the following modifications to create the OL topic:

eliminate reference to Logstash V2.x, Elasticsearch V2.x, Kibana V4.x
eliminate reference to bluemixLogCollector
change "Enable HTTP access logging and use the '%h %u %t "%r" %s %b %D %{User-agent}i' log format." to "Enable HTTP access logging."

[2020-06-15 18:24] zhang-ca commented on #1289
`as shown in the example of bootstrap.properties file.` doesn't look too well on top of server.xml example.

I suggest to move the following paragraphs on top of **You can specify unique variables in the bootstrap.properties file of each server.**

`The HTTP server plugin uses the clone ID that is inserted into the response/request header to maintain session affinity between requests. In Open Libe

[2020-06-15 18:43] Charlotte-Holt commented on #1568
@cbridgha Could you review https://draft-openlibertyio.mybluemix.net/docs/ref/general/#directory-locations-properties.html? Please let me know if any additional updates are needed. Thanks!

[2020-06-15 19:25] donbourne commented on #210
@kabicin is going to help provide the examples for audit in JSON logging format.

[2020-06-15 21:11] Charlotte-Holt commented on #1479
Notes from call w/ Ut:

- Step 3 substeps - User wouldn't know if there were errors running the first command, so do substeps to check that it worked. "To make sure that the command worked properly..."
- Can remove "If your Microsoft setspn..." substep
- "If you have multiple SPNs, you need to merge keytab files" And make step 3b into its own step
- New server, windows
- Create the file manually -

[2020-06-16 13:15] ManasiGandhi commented on #571
@chirp1 Can you review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpJwt-1.1.html?

[2020-06-16 13:46] zhang-ca commented on #1289
Looks good, nice and clean.

[2020-06-16 13:52] Charlotte-Holt commented on #1568
Comment from @cbridgha: The only comment I have is you “could” add more hyperlinks for a bunch of the folders - could get busy… but its also enough for them to search on their own..  for example you could link the various property files to https://openliberty.io/docs/ref/config/serverConfiguration.html page…

[2020-06-16 15:11] chirp1 commented on #1554
I discussed the info in this issue further with Ut. Here is a little more background/clarification:

We have two way to implement custom TAI in Liberty,  custom TAI as a shared library, the other is custom TAI as Liberty feature.

The custom TAI as a Liberty feature that has two properties invokeBeforeSSO and invokeAfterSSO. If the invokeBeforeSSO property is specified, the custom TAI as a Liberty

[2020-06-16 16:13] Rwalls1 commented on #1200
@donbourne Please review, what are your thoughts on the primary benefits and use cases of tools such as Splunk and Elastic Stack: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#managing-logging.html

[2020-06-16 17:29] Rwalls1 commented on #210
@donbourne Thanks, just to verify, which info is the audit.log content that you are referring to?

[2020-06-16 17:32] donbourne commented on #210
All events listed other than
- messages
- trace
- ffdc
- access logs

[2020-06-16 18:01] Charlotte-Holt commented on #1435
Notes from 6/16:

- GitHub structure okay as it is
- Visual indicator for guides in TOC
- Using gerunds for task topic titles
- Pull out security to high-level section, and keep developer-specific stuff in Development
- Rename Metrics to Observability

[2020-06-16 19:04] dmuelle commented on #1684
Hi @donbourne I have a draft of this topic, which is based on the [Using the Logstash collector version 1.0](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_analytics_logstash.html) KC topic. I have a few questions. When you have a chance, can you review the draft and my questions below? If possible, can you get back to me by Friday 6/19? If there is an

[2020-06-16 21:33] cbridgha commented on #1568
The content is valid and helpful, and with additional hyperlinks, this doc would be a quick reference for new developers

[2020-06-17 01:04] Charlotte-Holt commented on #1568
@cbridgha I added links to the server config files. @lauracowen Can you review this topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#directory-locations-properties.html?

[2020-06-17 01:08] Charlotte-Holt commented on #766
Laura's feedback:

- I think, based on what Alasdair said above, remove the "What is OpenShift?" heading and just have the first paragraph of that section "OpenShift is..." as part of the intro. Then remove the second para in that section (starting "OpenShift takes..."). - DONE
- The bit about using SSO could link to the Social Media Login feature which will have example config (or if it seems to

[2020-06-17 13:00] frowe commented on #1291
done.

[2020-06-17 13:29] Rwalls1 commented on #1128
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpMetrics-2.3.html

[2020-06-17 13:45] Rwalls1 commented on #210
@lauracowen What are your thoughts on the proposed strategy above?

[2020-06-17 13:48] Rwalls1 commented on #213
@emilytee What are your thoughts on the proposed update above?

[2020-06-17 13:59] frowe commented on #1462
@dmuelle We need to extend the current config snippet to include configuration of the app class loader as seen in https://www.ibm.com/support/knowledgecenter/en/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/twlp_dep_jpa.html.  For an application named "myApp", you would use:

[code]

[2020-06-17 14:02] dmuelle commented on #1096
HI @lauracowen @NottyCode

After our convo on the call yesterday about this topic I wanted to revisit. I have made all the updates from the last review but I'm wondering if more is still needed here- or if the discussion for this topic yesterday was more about _where_ this topic goes in the nav as opposed to what's in it.

Right now it's a brief overview of TLS and why you should care about it, th

[2020-06-17 14:23] emilytee commented on #213
@Rwalls1 emilytee is convinced this doc will never go out!   I'm fine with @dmuelle's suggestion.   The original documentation was written with serviceability in mind, and reducing the number of questions/PMRs from our customers.    Hopefully the suggestion to remove the samples doesn't cause and questions/PMRs to get generated.

[2020-06-17 15:43] NottyCode commented on #429
@dmuelle sorry I didn't see the notification from GitHub about the update. Some comments.

**User Configuration**
I don't think this needs to be stated:

it is true, but it doesn't feed directly into zero migration

Also in User Configuration I don't know what relevance the 2nd paragraph has to zero migration:

**Features section**

I am still unhappy with the term pluggable features, although I d

[2020-06-17 15:58] NottyCode commented on #1096
@dmuelle I think this is much better. I have some comments, but I don't think we need to pull web.xml into this topic.

**Intro**

I don't think this adds anything. It is kind of an example of the prior bit, but I don't think TLS is necessarily more important for SSO than it is for any authentication so it seems like a strange thing to focus on to me:

maybe something like this would work:

I thin

[2020-06-17 17:56] donbourne commented on #1127
Reviewed draft at https://draft-openlibertyio.mybluemix.net/docs/ref/general/#requestTiming.html -- looks good!

[2020-06-18 10:19] lauracowen commented on #953
Thanks. Can you remove the comments from the code snippet (so that the code snippet takes up fewer lines)? Then I think we're done.

[2020-06-18 11:55] Rwalls1 commented on #213
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#audit-runtime-apps.html

[2020-06-18 12:29] lauracowen commented on #1289
The format of these topics is not to provide step-by-step (task-style) instructions for configuring something. It's simply to show one or more commonly needed examples of configuration. Those examples must not show the whole `server.xml`content either. If there is a common need for a set of step-by-step instructions for configuring a technology on Open Liberty, raise an issue on the docs backlog s

[2020-06-18 12:42] lauracowen commented on #1127
In general, this looks good. Thanks, both.

- Give the feature its proper name each time you mention it (ie " Request Timing feature"), instead of "`requestTiming` feature".
- Remove the 'Configure...' section. This info is in the feature topic. Instead, in the paragraphs above about slow requests and hung requests, when you mention the threshold, mention that the threshold can be configured (you'

[2020-06-18 12:51] lauracowen commented on #1094
In general, this looks great. Thanks both!

Some minor changes but then it should be done:

- Can you remove the triangular brackets from element names when mentioned in the text? It just adds clutter. So "the `requestTiming` element" instead of "the `<requestTiming>` element".
- By "embedded", does it mean "nested elements"? I don't think you need that detail as it's clear from the example. So ju

[2020-06-18 14:21] zhang-ca commented on #1289
For a single server example of server.xml, here is the minimum configuration that would be needed for session persistence to work. The feature is specified in  `<feature>sessionDatabase-1.0</feature>`

[code]

[2020-06-18 14:31] lauracowen commented on #1289
Okay, thanks. So in the example in the topic, we'd show and describe:

[code]

(we wouldn't show all the feature enablement bit as that's been covered in the previous section)

[2020-06-18 15:31] Rwalls1 commented on #1094
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#requestTiming-1.0.html

[2020-06-18 15:44] lauracowen commented on #1094
I wasn’t very clear but I meant you to put the two sentences from the end of the topic after each of the two examples (not above it). It’s a trivial thing but I think it works better to have the lead-in sentence the way you had it: what the example describes at a high level. Then the example. Then the two sentences about the overrides.

But other than that, all's good.

[2020-06-18 15:56] lauracowen commented on #1128
- "The MicroProfile metrics feature" - should be capitalised as "The MicroProfile Metrics feature" in each case when referring to the feature by name (there are a few instances). In the first Examples sub-heading, I think it should either be capitalised in the same way, or remove "MicroProfile" (as the "MicroProfile" prefix implies the name of the feature). I think just capitalising and keeping "M

[2020-06-18 15:59] lauracowen commented on #211
Thank you!

[2020-06-18 16:08] lauracowen commented on #1676
@Rwalls1

- "transmission" - yes, I'm not certain of the correct word.
- TLS config in the SSO descriptions - I couldn't decide. If it is _not_ relevant to all SSO method, I think it should just be mentioned in the relevant sections (and not at all at the top). However, if it's relevant to _all_ of the SSO methods and ends up being that the same text goes in _every_ section, it might be better to

[2020-06-18 17:52] lauracowen opened #1730 "Random "Copy" word pasted into the example config in Application Security feature topic"
Copy/paste error somewhere in the first example. After the closing tag, it has the word "Copy" which shouldn't be there.

https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#appSecurity-3.0.html

[2020-06-18 18:27] lauracowen commented on #676
**Intro section** (at the top of the page)
- Change the opening introduction to the page to capture the bit about development vs production so:
  "OIDC is a protocol that helps developers authenticate users without the need to manage user credentials. You can configure Open Liberty to act as an OIDC provider. With this configuration, users need to authenticate once to access Open Liberty resources

[2020-06-18 18:38] lauracowen commented on #766
Yep, looks good. Signing off.

[2020-06-18 21:12] dmuelle commented on #1096
Thanks, @NottyCode , I've updated the doc per your suggestions above with a few minor edits, let me know if anything further is needed.

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#secure-communication-tls.html

[2020-06-19 08:47] lauracowen commented on #1676
@Rwalls1 "transmission" should be fine. Alasdair suggested this text for David's TLS topic: "It is also an important protocol for authenticated access to websites. Securing the transmission of authentication tokens such as JSON Web Tokens with TLS helps ensure that user credentials are not exposed as they are passed among different applications and services." That's basically the point I was tryin

[2020-06-19 08:50] lauracowen commented on #1096
Looks good.

One question though, was there a reason not to go with "SSL has since been proven to be insecure and as a result in no longer in widespread use."? I ask because "deprecated" isn't really that useful to know (and it's not clear whether that was down to us or to the spec), whereas spelling out that SSL is insecure gives a reason why it's important not to use it.

[2020-06-19 13:12] ManasiGandhi commented on #1118
@lauracowen here is the link to the draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#socialLogin-1.0.html

[2020-06-19 14:32] Rwalls1 commented on #1128
@Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpMetrics-2.3.html

In regards to the question about the user/group-access id values, here's a response from Bruce Tiffany:
First, in security there is the concept of “realms”,  which are sort of like domains or namespaces.  Users and groups are scoped to realms.  For example,  admins at google is not the

[2020-06-19 15:26] ManasiGandhi commented on #953
@lauracowen Removed the comments https://draft-openlibertyio.mybluemix.net/docs/ref/general/#microshed.html

[2020-06-19 16:51] Charlotte-Holt commented on #1430
Notes from 6/19:

- Want to be able to link to and from the feature doc

- Step 1: Change the title of all Javadoc (e.g., Liberty feature API)
- Step 2: Get Javadoc into OL (automated, if possible) - where do we want it to go in the file structure?
- Step 3a: Link features to relevant Javadoc packages
- Step 3b: Link Javadoc to the relevant features

[2020-06-19 17:39] chirp1 commented on #636
Hi Mansi, I don't seem to see a peer edit. Would you have one of the other OL writers peer edit your topic and have them post their comments in this issue? Incorporate their edits. Also, run Axrolinx. You have at least one item to fix. If you haven't gone through the cheat sheet, go through it and fix any issues that you find. After you complete those items, then put this issue back in my column.

[2020-06-19 18:40] Rwalls1 commented on #1676
@lauracowen Please review the latest update, I confirmed with Bruce Tiffany that TLS is relevant for all of the SSO methods, so I removed the reference in the individual sections: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html

[2020-06-19 19:51] ayoho commented on #676
- Moving the `<clientManager>` lines into the `<dataSource>` example is perfectly fine with me.
- Having just the two examples (local store and database) is also fine with me. I'll clarify, though, that the localStore/dataSource aren't for managing users - they're for OAuth clients to be used with the OpenID Connect Provider. So the first example would be "Managing OAuth clients with localStore" a

[2020-06-19 20:40] dmuelle commented on #1096
Good point- honestly, I was just trying to avoid past perfect tense because Acrolinx flags it. I went with "Over time, many security vulnerabilities were identified for SSL and it is no longer in widespread use." Let me know if that needs more work. Doc is updated

[2020-06-19 20:43] chirp1 commented on #1094
Hi Richard, Did you make the last changes that Laura mentioned? If you did, would you add a comment to this issue indicating that you made the changes? If you didn't make the changes, would you make them and then add a comment that you made them? Also, would you have one of the other OL writers peer edit your topic and add their comments in this issue? Then, move this issue to the editorial column

[2020-06-19 20:43] dmuelle commented on #429
Thanks @NottyCode. I've adopted your suggestions with some minor edits per IBM style.
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#zero-migration-architecture.html

Let me know if anything further is needed or if you're ready to approve. Thanks

[2020-06-20 19:45] ManasiGandhi commented on #636
@dmuelle Can you peer review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#jwt-1.0.html?

[2020-06-20 19:50] ManasiGandhi commented on #571
@Charlotte-Holt Can you review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpJwt-1.1.html?

[2020-06-22 14:09] dmuelle commented on #636
# Peer review

It might  be helpful to explain, in a sentence or two, that the JWT builder is the config element that specifies the configuration details of JWT before you introduce the example.

`This ID element is used to identify the JWT builder. The issuer element is a case-sensitive URL using the HTTP or HTTPS scheme, and the expiry element indicates the token expiration time in hours.`

- Sp

[2020-06-22 14:49] ManasiGandhi commented on #954
@Charlotte-Holt The doc looks good! Some minor suggestions,

- In the first paragraph under examples, it says "To enable SPNEGO authentication, you must also configure your browser, KDC, and Open Liberty. For information about how to configure these other items, see Configuring SPNEGO authentication in Open Liberty." You can change it to "To enable SPNEGO authentication, configure your browser, KD

[2020-06-22 15:23] Charlotte-Holt commented on #571
Peer review feedback:

- When you say, "The `JwksUri` attribute...", I think it should be, "The `jwksUri` attribute...". Since the actual element doesn't seem to be capitalized in the example?
- Similar thing with `keystore`. In the config example, the attribute is `keyStore`. Check which is correct, and maybe make them consistent.
- Acrolinx is flagging that "trust store" should be "truststore".

[2020-06-22 15:30] Charlotte-Holt commented on #954
Thanks, @ManasiGandhi!

- First point - I added what KDC stands for. Good catch! I kept the rest the way it is, though, because Ut wanted me to emphasize that SPNEGO requires that you configure the other pieces, otherwise it won't work. We can see what @chirp1 thinks, but I wanted to try to emphasize that the other pieces are necessary.
- Second point - Updated!
- Third point - Updated!

[2020-06-22 16:35] dmuelle opened #1743 "Open Liberty title edits"
We need to revise the titles of some of the open liberty topics

- remove gerunds from any titles that are not tasks. Make sure task topics have a gerund that expresses user goals for the task
- remove "Open Liberty" from topic titles (Except for "About Open Liberty")
- make longer titles more concise to improve readability in the TOC. If necessary, the title in the TOC can be a short version of t

[2020-06-22 16:37] dmuelle commented on #1743
Hi @lauracowen - can you review the above list to confirm that all these titles should be changed? or if there are any not listed here that need updating. For the longer titles- should we change the title and filename or just provide an alias for the TOC?

[2020-06-22 16:55] dmuelle commented on #1462
Thanks @frowe, I've updated the draft. The KC page doesn't really provide any description of what's going on with the `application` element so I did my best to infer one from what is there and from @aguibert stack overflow thread on setting up Hibernate, linked in a previous comment.

Can you review and let me know what changes are needed? If possible, can you let me know by tomorrow 6/22 so I can

[2020-06-22 19:07] ManasiGandhi commented on #571
@Charlotte-Holt , I worked on your edit suggestions
  - [x]  When you say, "The JwksUri attribute...", I think it should be, "The jwksUri attribute...". Since the actual element doesn't seem to be capitalized in the example?

- [x] Similar thing with keystore. In the config example, the attribute is keyStore. Check which is correct, and maybe make them consistent.

- [x] Acrolinx is flagging that

[2020-06-23 02:09] chirp1 commented on #930
Hi Charlotte,
The topic is looking nice!
Here are my comments. Feel free to contact me to discuss any of them.
- Run Acrolinx again. I spot at least three or four items outside of the code that can be cleaned up.
- Go through the peer review cheat sheet and fix outstanding items. I spot at least two things to fix. The cheat sheet is at https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W9

[2020-06-23 12:49] Rwalls1 commented on #1730
@lauracowen I made the correction: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#appSecurity-3.0.html

[2020-06-23 13:33] lauracowen commented on #1730
Brill, thanks :)

[2020-06-23 13:50] #1730 closed

[2020-06-23 15:09] dmuelle commented on #894
## Peer review
I think this looks good overall. Just a few things to address

- For both the Basic Registry  and Quickstart sections, it's important to note that basic registries are intended for dev/test purposes and are generally not considered to be secure enough for production environments. For example, in the Basic Registry topic, it says
`Although this registry is not secure enough for produ

[2020-06-23 15:36] bwa opened #1750 "featureUtility aborting with CWWKF1405E"
Tried out the featureUtility with IBM Liberty 20.0.0.6 and ran into: CWWKF1405E: The annotation-1.1 and annotation-1.2 singleton features are incompatible with each other and they cannot be installed at the same time.

In this case I have a common wlp binary serving multiple servers at both jee6 and jee7 level, so somehow the compatibility check must be able to set to turned off ?

Just hoping thi

[2020-06-23 17:22] Charlotte-Holt commented on #211
@rw2513 Peer review feedback:

Looks good, just a few things:
- In, "The following example shows how to increase the individual file size to 100 MB, reduce the maximum number of archived audit log files to 50, and specify the compact attribute:", I think that "compact" should be in backticks since it's an attribute.
- In, "... the `<events>` element can be defined with...", I don't think that `<ev

[2020-06-23 17:23] ManasiGandhi commented on #1094
#peer review

@rw2513 The topic looks good. A minor edit suggestion:

- In the section 'Configuring JDBC request thresholds' in the first paragraph, it says, "The jdbcTiming element detects that the JDBC request is slow, if the request requires more than 500 ms to complete or hung if the request does not complete in 5 minutes". Can you move the comma to ""The jdbcTiming element detects that the JD

[2020-06-23 17:40] Charlotte-Holt commented on #1091
@dmuelle Peer review feedback:

Looks good! I have just two questions:
- Is there anything to link to for this sentence: "For more information, see the configuration element for the LDAP type that you want to specify."? Or are there different configuration elements that are scattered throughout the docs, so it's not possible to link to just one place?
- Regarding this sentence, "If you configure t

[2020-06-23 17:49] donbourne commented on #1684
@dmuelle

Your questions
- I'm wondering if title should be "Forwarding logs and events to Logstash with Logstash collector"?
- I don't think the title should reference Kibana or Elastic stack
- I think there's another topic in progress that will tell people when to use logstashCollector vs. JSON logging
- see my general comments (below) about why users should care about Logstash -- it has lots of

[2020-06-23 17:57] dmuelle commented on #1091
Thanks @Charlotte-Holt

- the feature configs for various LDAP types are listed under `Feature configuration elements` on this page, but I can't anchor link to the section because of the include structure- I could add "For more information, see the configuration element for the LDAP type that you want to specify in the Feature configuration elements section." Do you think that would help?
- Only 3

[2020-06-23 19:13] Charlotte-Holt commented on #1118
@lauracowen Manasi mentioned to me that she added the last two examples, so I think those are the two that need review.

@ManasiGandhi Peer review feedback:

- You could link, "...use an authentication filter." to this topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#authentication-filters-specifying-mechanism.html.
- In, "...MicroProfile JWT (mp-jwt) feature.", I don't think you

[2020-06-23 19:16] Charlotte-Holt commented on #1091
@dmuelle
- No, I think it's fine as you have it. I was thinking it would mostly be helpful if a link could be included, but since it can't, I think it's good as is.
- Yeah, I think that if it'll work for all, then it's not worth mentioning versions.

[2020-06-23 19:27] ManasiGandhi commented on #1180
#peer review
@dmuelle The topic looks good. I just have a few edit suggestions.

- In the first paragraph under 'Auto federation of user registries', the second sentence says,"To federate two or more user registries, enable both the Application Security feature and the Federated User Registry feature and the registries federate by default". Can you rephrase this to "To federate two or more user re

[2020-06-23 19:58] bwa commented on #1750
Looks like this was solved by separating the install into different executions

[2020-06-23 19:58] #1750 closed

[2020-06-23 20:47] ManasiGandhi commented on #636
@dmuelle I addressed your edit suggestions

`This ID element is used to identify the JWT builder. The issuer element is a case-sensitive URL using the HTTP or HTTPS scheme, and the expiry element indicates the token expiration time in hours.`

- [ x] Specify that "this ID element" refers to jwtBuilder. There is also an ID on the keystore in the example.

- [ x]  I think these are "attributes" rath

[2020-06-24 08:48] lauracowen commented on #1096
Sounds good. Thanks

[2020-06-24 08:51] lauracowen commented on #953
Great, thanks. I'm going to sign it off now.

[2020-06-24 08:55] lauracowen commented on #213
ok, thanks Richard. I'll sign this off now.

[2020-06-24 09:02] lauracowen commented on #571
Thanks. Signing off.

[2020-06-24 09:12] lauracowen commented on #1118
- I just read through @ayoho 's [feedback](https://app.zenhub.com/workspaces/open-liberty-docs-backlog-5c7031f61d4580192beb4070/issues/openliberty/docs/1118#issuecomment-637095899) - can you implement his suggestions throughout this topic, pls? I know that's not related to what you were doing but he makes some useful points about wording that is maybe not quite accurate as it currently stands.
- @

[2020-06-24 09:30] lauracowen commented on #1568
- The shortdesc at the top sounds as if the whole point of the article is to talk about the properties but then when you get to the table it says _if_ there's a property for the folder, it's displayed in the second column, and, actually, a lot of the rows don't have properties. Is it possible to reword the opening para slightly to say it's about telling you the default directory structure in Liber

[2020-06-24 09:31] lauracowen commented on #1569
https://draft-openlibertyio.mybluemix.net/docs/ref/general/#default-port-numbers.html

[2020-06-24 09:34] lauracowen commented on #1569
Looks good thanks. I'll sign it off.

Some things that I spotted that are really more Karen's review but I'll include them here so you can take a look first:
- "ephemeral"? Could it just be "temporary"?
- "defines default port numbers" -> "defines the default port numbers"?
- Use bullet points (unordered list) in the table instead of a numbered (ordered) list. eg for "IIOP port: 2809" - there's no

[2020-06-24 09:37] lauracowen commented on #1291
Looks good. Thanks. Signing off.

[2020-06-24 14:07] Charlotte-Holt commented on #1479
@lauracowen Thanks for the feedback. I spoke with Ut and made updates to https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-auth.html.

- [ ] In general, the task approach for this info is ok but needs verifying against modern machines. This whole topic needs testing (a la Red Hat’s QA process that we don’t have yet…). I don't think we can publish it until we know it ac

[2020-06-24 14:24] dmuelle commented on #1091
@Charlotte-Holt thanks for reviewing, removed the version number per your recommendation.

[2020-06-24 14:41] Charlotte-Holt commented on #930
@chirp1 Thanks for the feedback!

- [X] Run Acrolinx again. I spot at least three or four items outside of the code that can be cleaned up.
- [ ] Go through the peer review cheat sheet and fix outstanding items. I spot at least two things to fix. The cheat sheet is at https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet

[2020-06-24 15:11] lauracowen commented on #1479
- Think the intro needs to be clearer about why this topic might be relevant to the reader. eg, I think the stuff in "About this task" should just be part of the intro (between the shortdesc and the Prereqs section) but it needs to be clearer about why you should care. eg see text about SPNEGO in https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html (could just copy/inclu

[2020-06-24 17:01] Rwalls1 commented on #894
@dmuelle Thank you, I've addressed your feedback, I decided to leave out the notice about dev/test purposes since it is already mentioned in the Basic Registry topic that I have linked to in the Basic Registry and Quickstart sections. I wanted to avoid being redundant with that topic and also wanted to maintain a concise focus on the config descriptions.

[2020-06-24 17:09] Rwalls1 commented on #1094
@ManasiGandhi Thanks, I've addressed your feedback.

[2020-06-24 17:09] Rwalls1 commented on #1094
I've addressed Laura's feedback.

[2020-06-24 17:12] Rwalls1 commented on #211
@Charlotte-Holt Thanks, I've addressed your feedback.

[2020-06-24 17:27] dmuelle commented on #1180
Made the three edits that @ManasiGandhi  recommended above.

[2020-06-24 18:09] Rwalls1 commented on #927
## Peer review
- To use a more active voice and be more concise, I think you should change "this information is used to determine whether the user is authorized to access the resource.” to “this information determines whether the user is authorized to access the resource.
- I think you can remove the triangular brackets from element names in the paragraphs, such as <security-role>, as Laura recent

[2020-06-24 18:14] ManasiGandhi commented on #636
@lauracowen can you review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#jwt-1.0.html ?

[2020-06-24 18:24] ManasiGandhi commented on #1127
@lauracowen I worked on your suggestions. Can you review the draft https://draft-openlibertyio.mybluemix.net/docs/ref/general/#requestTiming.html?

- [x] Give the feature its proper name each time you mention it (ie " Request Timing feature"), instead of "requestTiming feature".

- [x]   Remove the 'Configure...' section. This info is in the feature topic. Instead, in the paragraphs above about sl

[2020-06-24 18:39] ManasiGandhi commented on #955
@lauracowen I worked with Bruce in a meeting yesterday and discussed all the points you made and addressed them based on his suggestions. Can you review the draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#samlWeb-2.0.html?

- [x] When introducing an example, focus on what it provides rather than just describing the elements. So saying that the element is configured by default doe

[2020-06-24 18:56] Rwalls1 commented on #1558
@Nathan Mittlestat After reviewing your blog post about this topic, I still have questions about things that will help to frame this proposed new topic. Why is testing database connections useful? How do you test the database connections, what are the essential steps, if any beyond combining the Rest Connector 2.0 (restConnector-2.0) feature with features supporting configuration validation?

[2020-06-24 21:01] ManasiGandhi commented on #1118
@lauracowen I worked on your suggestions. There was a problem building some things. I made those additions again. I worked on @ayoho 's recommendations [here](https://github.com/OpenLiberty/docs/issues/1118#issuecomment-637095899)  previously and he signed them off [ here](https://github.com/OpenLiberty/docs/issues/1118#issuecomment-641481974). Can you review the draft https://draft-openlibertyio.

[2020-06-25 12:40] donbourne commented on #1200
Hi @Rwalls1 , here are my comments...

- need to change the layout of this doc so that JSON logging is shown to be the most common choice and logstashCollector is presented as an option for cases where JSON logging doesn't fit.  JSON logging is the more native way to do things as it provides ability for any log analysis solution to tap into the logs.
- "Logs contain the data that is generated by a

[2020-06-25 13:07] NottyCode commented on #429
Looks good to me

[2020-06-25 13:29] NottyCode commented on #766
looks good to me. Signing off.

[2020-06-25 14:05] Rwalls1 commented on #1200
@donbourne In response to: **"Logs contain the data that is generated by applications" -- avoid calling logs "data" -- it's too general. Normally I'd refer to logs as log events, log messages or log records. Saying logs contain the data generated by applications makes me think they contain things like customer shopping cart contents :-). In general, the word "data" probably doesn't belong in this

[2020-06-25 14:28] Rwalls1 commented on #1200
@donbourne In response to: "Logs contain the data that is generated by applications" -- avoid calling logs "data" -- it's too general. Normally I'd refer to logs as log events, log messages or log records. Saying logs contain the data generated by applications makes me think they contain things like customer shopping cart contents :-). In general, the word "data" probably doesn't belong in this to

[2020-06-25 15:07] lauracowen commented on #1676
Thank you! A mix of really minor comments and some requests for slightly more info in places:
- feel free to remove my comments that are in bold as you complete them.
- I think this sentence reads badly "As the developer of the application, you are not responsible for securing and maintaining users' personal information. " - I think the developer is responsible but this sentence was probably tryin

[2020-06-25 15:14] Charlotte-Holt commented on #631
@dmuelle This looks good! Just a few minor things:

- In, "If no `keystore` element exists for the `defaultKeyStore` file, this password is used to create a keystore file.", should `keystore` element be "`keyStore` element"
- In, "You can designate a different ssl element in the configuration as the default...", should "ssl" be in backticks?
- In the heading, "Java virtual machine (JVM) default tr

[2020-06-25 15:20] Charlotte-Holt commented on #1569
@ManasiGandhi Looks good! Peer review feedback:

- Agree with Laura on changing "ephemeral" to "temporary"
- Agree with Laura on "defines default port numbers" -> "defines the default port numbers"
- Agree with Laura on "Use bullet points (unordered list) in the table instead of a numbered (ordered) list. e.g., for "IIOP port: 2809" - there's no reason that it should be ordered before "IIOP/SSL po

[2020-06-25 15:26] lauracowen commented on #636
- Thanks for adding the explanation of the example. Can you tweak the sentences slightly so that the text describes the actual example's values rather than just abstractly providing reference information? For example, "The `issuer` attribute shows the URL that xxxxx (what is the URL referring to here?)." (the exact details about what a valid value are isn't relevant here - that info can be found b

[2020-06-25 15:36] lauracowen opened #1765 "directory names for config examples must match the feature name exactly"
The directory name needs to match the feature name so that it is unambiguous which feature the directory relates to. eg `JCacheSessionPersistence` should be `sessionCache`. Can someone check all the directory names and update them appropriately, ideally before we publish them.

![image.png](https://images.zenhubusercontent.com/583eaf59b9dc3c622022b986/0f36421c-31ce-4884-8d56-0eb60d815e3f)

[2020-06-25 15:36] Charlotte-Holt commented on #761
@lauracowen Thanks for all the feedback. Very helpful! I _think_ I got it all in this draft (I tried to, at least). Outstanding things you mentioned:

- I used some of your wording in some places (changed around a bit), so I hope that's okay :)
- I didn't mention the images built on Ubuntu. It seemed like we weren't sure on this, so I just mentioned the UBI ones and left the Ubuntu ones out for no

[2020-06-25 15:45] lauracowen commented on #955
- Default configuration. This needs to start by saying how you get the default configuration, and then give a code example of the default configuration that is generated. Explaining what the URLs are doesn't make much sense without it - it's not clear where those URLs are taken from.
- I don't think the XML code snippet is marked up properly. It still doesn't have syntax highlighting. It needs to

[2020-06-25 16:06] dmuelle commented on #927
Thanks for reviewing @Rwalls1 - addressed your comments in a new revision

-  change "this information is used to determine whether the user is authorized to access the resource.” to “this information determines whether the user is authorized to access the resource. **done**
- remove the triangular brackets from element names in the paragraphs **done**
- append “(SSO)” to “single-sign on” **done**

[2020-06-25 18:05] ManasiGandhi commented on #340
@lauracowen I updated the draft after a meeting with Artur based on the discussion. I worked on your suggestions. For the javadocs, he said that there is no Javadoc relevant to static files. I updated the filter section and removed the content related to OAS filter as he said it is not relevant and that it is transitionary right now and could change.

Here is a link to the draft https://draft-open

[2020-06-25 18:18] dmuelle commented on #631
Thanks @Charlotte-Holt, addressed your comments in a new revision

- In, "If no `keystore` element exists for the `defaultKeyStore` file, this password is used to create a keystore file.", should `keystore` element be "`keyStore` element" **fixed**
- In, "You can designate a different ssl element in the configuration as the default...", should "ssl" be in backticks? **Fixed**
- In the heading, "Ja

[2020-06-25 20:10] dmuelle commented on #1127
# Peer Review

## Intro
`The Request Timing feature diagnoses the cause of slow web requests in application servers. `

I don't think this is accurate since the feature just gives information about the request and doesn't offer a reason "why" it is slow or hung, which is left to the user to infer from the message. I also think you could combine this with the next sentence and avoid using "Thus", w

[2020-06-25 20:39] lauracowen commented on #761
- Yes, unless we get Ubuntu images with newer Java versions, stick with just the UBI one for now.
- Probably don't need the ", which are appropriate for more traditional setups." bit as you explain the difference in the next sentences. Also, I keep reading this sentence wrong as it's currently punctuated ("...formats for containerization and server packages") so simplifying it might be better anyw

[2020-06-25 20:59] ManasiGandhi commented on #213
#peer review

@rw2513 The topic looks good. A few suggesions,

- Acrolinx is flagging the word 'performed.'
- In the first sentence under 'Audit handler', can you change 'back-end repository' to 'backend repository'? In the same paragraph, two sentences begin with the same words, 'by default',  "By default, the audit file handler writes audit records to an audit log file until the file reaches 20

[2020-06-25 20:59] lauracowen commented on #1128
- Thanks - re realms, maybe under that example, just add a sentence or two that explains that the user `bob` and the group `ManagingGroup` which are authorised in this example belong to the `https://idp.example.com` realm, which uniquely  (if that makes sense!). In these example config things, we need to give explanations of what the values show in the example where relevant. It doesn't take much

[2020-06-25 21:11] lauracowen commented on #1200
Reading through both the previous two comments, I think I understand why Don wants to avoid using "data". The first sentence of the topic "Logs contain the data that is generated by applications." (and similarly "application data") reads like the logs contain data such as output from a request by the application, but they don't. The logs are a separate set of 'data' that occurs.. I think you're sa

[2020-06-25 21:39] dmuelle commented on #766
#Peer review

This looks good. Just a few minor questions and suggestions.

should IaaS be spelled out on first mention?  I'm not sure.

should The Open Liberty Operator be linked on the first mention? Or are we waiting until there's a OL doc for it?

`the ability to delegate single-sign on (SSO) to external providers.` is there a reason this links to Social Media login instead of the SSO topic? D

[2020-06-26 08:44] lauracowen commented on #1127
@ManasiGandhi I don't think your update file built properly. I can't see any of the changes you've ticked off on the draft site. eg the Configure section is still there and the link that isn't rendering correctly. It looks, from his comments, like @dmuelle did his peer review yesterday based on the same version as I reviewed the other day (which should be fine as I don't think there's a massive am

[2020-06-26 08:58] lauracowen commented on #1118
@ManasiGandhi Thanks. I see your new section now.

- However, Adam's changes aren't shown in this built file so I think they must also have been lost at the same time. Unless you have a copy of your old file locally, I think you'll need to make them again.
- BTW, Adam's comments about the first sentence in the topic, you can't make those changes in the file you're working in (you'll have noticed t

[2020-06-26 09:36] lauracowen commented on #340
That's great, thank you. Looks good. Signing off.

[2020-06-26 12:25] Rwalls1 commented on #213
@ManasiGandhi Thanks, I've addressed your feedback.

[2020-06-26 13:31] Rwalls1 commented on #1095
The topic information was deemed insufficient in the config example format and was consolidated into the following topic: https://github.com/OpenLiberty/docs/issues/1684

[2020-06-26 16:27] Charlotte-Holt commented on #976
This fix will be covered by the fixes outlined in #1743

[2020-06-26 16:27] #976 closed

[2020-06-26 17:22] dmuelle commented on #1743
Update your unpublished topics on draft. Please comment in this issue when your titles, filenames and associated links have been updated. I will take care of all the published topics in a single branch to avoid merge conflicts.

@Charlotte-Holt
- Application configuration security hardening- update filename and nav alias per discussion
- Configuring SPNEGO authentication in Open Liberty: remove OL

[2020-06-26 18:30] chirp1 commented on #941
Hi Charlotte, Another nice job! Here are my comments:
- Make the intro 2 sentences.
- "The DMZ is an intermediary zone where proxy and web servers run that is located between public and private networking zones." seems to have incorrect grammar in it.
- I like using "you/your" frequently", but I feel that for "Typically, your network setup includes two firewalls ", since the network setup is typic

[2020-06-26 21:44] chirp1 commented on #930
Hi Charlotte, I'll check through by comments that you addressed after you return this issue to the editorial column. I'm putting this issue back in the in progress column because I'm finding some inconsistencies with the hardening topics now that I'm reading the parent "Security hardening for production" topic. In this parent topic it summarizes best practices for the server configuration. However

[2020-06-28 23:01] donbourne commented on #1200
log events is a good term -- I would stick with that throughout to keep consistency.

[2020-06-29 13:15] frowe commented on #1462
@dmuelle Sorry, was on vacation last week.  Your edits look good, one question, what is the "Feature configuration elements" section .  While reviewing this, I looked at the generated config doc https://draft-openlibertyio.mybluemix.net/docs/ref/config/#jpa.html for jpa element and noticed that in the description column of the "ignoreDataSourceErrors" row, the "<" and ">" characters are not displa

[2020-06-29 13:37] dmuelle commented on #1462
@frowe good catch. I've not seen this problem elsewhere in OL and looking at the feature in Liberty KC, I can see the problem there as well

https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.liberty.autogen.nd.doc/ae/rwlp_config_jpa.html

I guess I need to open a bug on the source code that is generating this doc. Really, the text shouldn't need the <> notation anyway be

[2020-06-29 13:57] dmuelle commented on #1462
@frowe
I've opened an issue in the Open Liberty repo to fix this autogen error.

https://github.com/OpenLiberty/open-liberty/issues/12817

If the feature examples look ok otherwise, can you add the `technical reviewed` label to this issue? Thanks

[2020-06-29 14:05] frowe commented on #1462
Done

[2020-06-29 15:00] scottkurz opened #1780 "Suggested improvements for "Variable substitution" section"
This is a very key section, and I wonder if it's worth spending the time to do another pass on.

Some suggestions:

1)  Introduce an anchor-type link directly to the "Variable substitution" section.

2)  Perhaps add another word like "ordering"/"precedence" to bubble up the purpose into the heading, e.g. "Variable substitution - ordering".

3) For "6.variables declared on the command line" this sh

[2020-06-29 18:21] dmuelle commented on #1684
Thanks for reviewing @donbourne, addressed you comments in a new draft.

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#forwarding-logs-logstash.html

 - title should be "Forwarding logs and events to Logstash with Logstash collector"? **done**
- skip documenting Kibana 4 in steps 7,9,10 **done**
- move setting up logstash to prereq along with set up Elasticsearch and set up Kibana.

[2020-06-29 18:53] Charlotte-Holt commented on #761
@lauracowen:

- [X] Probably don't need the ", which are appropriate for more traditional setups." bit as you explain the difference in the next sentences. Also, I keep reading this sentence wrong as it's currently punctuated ("...formats for containerization and server packages") so simplifying it might be better anyway. :)
- [ ] I don't understand what "a domain-specific language" means here (wh

[2020-06-29 18:55] dmuelle opened #1784 "User registries"
This topic combines LDAP #962 and Basic #892 registry topics into a single topic, per strategist recommendation.

All content was previously SME & peer reviewed in those issues, with comments from reviewers there. No substantial changes to the content other than a new short description.

[2020-06-29 19:32] dmuelle commented on #962
This content was moved into a single topic for User registries, tracked in https://github.com/OpenLiberty/docs/issues/1784
Removed this draft from draft site
Closing this issue

[2020-06-29 19:32] #962 closed

[2020-06-29 19:32] dmuelle commented on #892
This content was moved into a single topic for User registries, tracked in https://github.com/OpenLiberty/docs/issues/1784
Removed this draft from draft site
Closing this issue

[2020-06-29 19:32] #892 closed

[2020-06-29 19:42] dmuelle commented on #1784
@lauracowen here's the new combined topic for LDAP and Basic registries. No new content, just combined and reorganized. Let me know if any further edits are needed before I send for Karen's review. Thanks

[2020-06-29 19:53] #1501 closed

[2020-06-30 14:54] Charlotte-Holt commented on #761
@NottyCode Please read through this topic and provide feedback: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#application-packaging.html. Also, could you address Laura's question above:

[2020-06-30 14:59] Charlotte-Holt commented on #1286
@lauracowen Addressing your feedback:

- [X] I think I would call this topic "Performance monitoring with JMX metrics" and drop the OL bit?
- [X] I think this topic is almost two (or three) separate topics combined: it has a conceptual intro, then how to enable, then the actual list of metrics which is really a reference topic in its own right.
- [X] I think the JMX Metrics list should be a separa

[2020-06-30 15:36] Charlotte-Holt commented on #1291
@dmuelle This topic looks great!

### Peer review feedback

- Do we want to have `(JPA)` the abbreviation in the title? Not sure, but I think we may've talked about not doing that?

#### What is JPA?
- I think there's a space between `JPA` and the `?` in the heading

#### JPA and JDBC
- You probably know this, but just need a link where it says `link pending`. Or could comment out that line for th

[2020-06-30 15:52] Rwalls1 commented on #1128
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpMetrics-2.3.html

[2020-06-30 16:40] NottyCode commented on #761
A war is an application packaging type and zip, jar, tar and tar.gz are server packaging types. So I don't think the suggested follow on makes sense, they are talking about different things. Although the fact that Laura asks suggests that it isn't right yet.

[2020-06-30 16:43] chirp1 commented on #942
Hi Charlotte, here are my comments:
- Go through the cheat sheet at https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet
- Rewrite the introductory paragraph to make it more meaningful to the user, employing recommendations in the short description. You can probably use infro form the second paragraph as the intro parag

[2020-06-30 17:02] lauracowen commented on #761
@NottyCode ok - when would you use each then? why would you only package the server?

[2020-06-30 18:16] Charlotte-Holt commented on #941
@chirp1 Addressing your feedback:

- [X] Make the intro 2 sentences.
- [X] "The DMZ is an intermediary zone where proxy and web servers run that is located between public and private networking zones." seems to have incorrect grammar in it.
- [X] I like using "you/your" frequently", but I feel that for "Typically, your network setup includes two firewalls ", since the network setup is typical, I'd

[2020-06-30 18:56] Charlotte-Holt commented on #942
@chirp1

- [ ] Go through the cheat sheet at https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet
- [X] Rewrite the introductory paragraph to make it more meaningful to the user, employing recommendations in the short description. You can probably use infro form the second paragraph as the intro paragraph, but make the

[2020-06-30 19:41] NottyCode commented on #761
@lauracowen if you package a server it packages the application as a part of it.

[2020-06-30 19:54] dmuelle commented on #1291
Thanks for reviewing @Charlotte-Holt . Changes are addressed in a new draft

- Do we want to have `(JPA)` the abbreviation in the title? **Removed- we might want to add it as an alias in the antora TOC, ie `Data persistence with JPA` as people might be scanning the TOC for JPA**

- I think there's a space between `JPA` and the `?` in the heading **fixed**

- where it says `link pending`. Or could

[2020-07-01 12:55] Charlotte-Holt opened #1799 "Programmatic access to location properties"
New topic for info from https://www.ibm.com/support/knowledgecenter/en/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/rwlp_dirs.html. Link to the directory location and properties table.

Draft in AsciiDoc here:

[code]

[2020-07-01 13:16] Charlotte-Holt commented on #1568
@lauracowen Addressing your feedback:

- [X] The shortdesc at the top sounds as if the whole point of the article is to talk about the properties but then when you get to the table it says if there's a property for the folder, it's displayed in the second column, and, actually, a lot of the rows don't have properties. Is it possible to reword the opening para slightly to say it's about telling you

[2020-07-01 13:49] Charlotte-Holt commented on #930
@chirp1 I see what you mean! Thanks for pointing this out. I've updated the topic to include those two points in the **Access control** section.

[2020-07-01 17:51] Charlotte-Holt commented on #364
@lauracowen This has now been broken out into:

- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility-createSSLCertificate.html
- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility-help.html
- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility-encode.html

[2020-07-01 18:11] ManasiGandhi commented on #340
@dmuelle Can you peer review the OpenAPI draft https://draft-openlibertyio.mybluemix.net/docs/ref/general/#mp-openapi.html

[2020-07-01 20:51] dmuelle commented on #340
# Peer review

## Intro

`The structured documentation helps other developers and microservices understand and communicate with your microservice.`

I don't think you need "The" here since you are referring to structured documentation in general.

`MicroProfile OpenAPI specification facilitates this communication `

I think you can leave out "specification"

`There are two main approaches to gener

[2020-07-01 21:49] nmittles commented on #1558
@Rwalls1

**Why is testing database connections useful?**
Testing database connections can be used to validate that the Open Liberty configuration for connecting to the database is correct.  This can be useful when bringing up a new environment for the first time, sanity checking your environment after a software upgrade, monitoring your environment to make sure it is healthy, or as a debug tool w

[2020-07-02 11:03] lauracowen commented on #1784
- In the intro, can you give the examples of "social media providers or ...(LDAP) registry." - LDAP is quite "on-prem" (I think). My understanding anyway is that LDAP is used for registries like our Bluepages, which is fine for apps within a company's firewall but you'd use something hosted in the cloud for external end-users like banking customers accessing their online banking (eg an external so

[2020-07-02 11:08] lauracowen commented on #429
If Alasdair's happy with it, I'm good (for this topic).

[2020-07-02 12:28] lauracowen opened #1823 "securityUtility createLTPA keys"
It looks like there's another action that's in the cmdline help but missing from the docs:

[code]
Which on the cmdline shows:

[code]

[2020-07-02 12:31] lauracowen commented on #364
I haven't read the details in each description. I'm not keen on all the "in this version", "in that version" but they're versions that are within our 'support' lifespan. When we move to Antora, we could leave them in for the first version of the docs (ie show everything up to that version), then in later versions just state the current situation.

- securityUtility createSSLCertificate
  - I don't

[2020-07-02 12:55] lauracowen commented on #849
I know you're still working on this but I just checked from perspective of reviewing the securityUtility topics.
- we have `featureName` in the options table here (like `actionName` in the security one). I think they're a bit different as featureName is more explanatory and the point of what you're doing (rather than being self-referential about the command like actionName is). I wonder if `featur

[2020-07-02 12:58] lauracowen commented on #1568
Thanks. One last question - where are the properties specified? I think it would be useful to say. And to link to the page that explains more about it (I assume the config overview topic?).

[2020-07-02 15:31] chirp1 commented on #953
Hi Mansi,
- Would you go back to my April 29 comment in this note and follow my instructions there? - Also, make title changes as appropriate based on this issue: https://github.com/OpenLiberty/docs/issues/1743.
If you have any questions, let me know.

[2020-07-02 18:56] dmuelle commented on #1784
Updated the draft:

- In the intro, can you give the examples of "social media providers or ...(LDAP) registry." - LDAP is quite "on-prem" (I think). **I talked with Jesse VH & Teddy Torres and added a little more info to the intro and LDAP section to clarify, see what you think**
- Hmm, actually, maybe there needs to be a mention first of the fact that apps can 'outsource' their user registry man

[2020-07-06 13:55] Charlotte-Holt commented on #513
@ManasiGandhi I'm going to move this to the icebox, so you don't need to keep working on it for the time being. After talking with @lauracowen and @dmuelle, I think that we need to wait until we have more of the observability topics further along before we decide whether this topic is needed and, if so, what should be in it.

[2020-07-06 14:15] Rwalls1 commented on #213
New link to topic based on Laura's guidance: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#audit-logs

[2020-07-06 16:00] Charlotte-Holt commented on #1823
Addressing this with the other securityUtility topics in #364. Link to the draft is in that issue.

[2020-07-06 16:00] #1823 closed

[2020-07-06 16:22] dmuelle opened #1833 "Logstash reference mapping"
Reference topic- [move info from this KC topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_analytics_collectors.html) , similar to [the Log and trace reference topic](https://www.openliberty.io/docs/ref/general/#logging.html).

SME: Don Bourne

[2020-07-06 16:39] chirp1 commented on #1569
Hi Manasi, I'm returning this issue to in progress because when I click on the link to the draft, the first part of topic shows some of the topic source. Also, the topic title does not display. After you have the issues resolved, you can move the topic back to the editorial column.

[2020-07-06 18:36] ManasiGandhi commented on #1127
- [x] The Request Timing feature diagnoses the cause of slow web requests in application servers.

I don't think this is accurate since the feature just gives information about the request and doesn't offer a reason "why" it is slow or hung, which is left to the user to infer from the message. I also think you could combine this with the next sentence and avoid using "Thus", which is somewhat arch

[2020-07-06 19:05] Charlotte-Holt commented on #364
@lauracowen Thx for the review! Agreed with what you said about the "...in this version..." stuff. I left it, since most of the instances are within "support", like you said.

I incorporated all of your suggested updates except moving the keystore and certificate details down into the table of the `createSSLCertificate` command. I wanted to consult @arkarkala about it, and he's out today, so I'll

[2020-07-06 19:13] Charlotte-Holt commented on #849
@lauracowen Thx for the review! I got in all your feedback. Main points addressed from above:

- [X] we have featureName in the options table here (like actionName in the security one). I think they're a bit different as featureName is more explanatory and the point of what you're doing (rather than being self-referential about the command like actionName is). I wonder if featureName should be sho

[2020-07-06 19:18] Charlotte-Holt commented on #1568
@lauracowen I asked Chuck, and they can be specified in different places. You're right that the server config overview talks about it, so I linked out to that. Let me know if you think it needs more explanation!

https://draft-openlibertyio.mybluemix.net/docs/ref/general/#directory-locations-properties.html

[2020-07-06 19:34] dmuelle opened #1840 "Config examples for Java Naming and Directory Interface 1.0 feature"
use config examples from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_dep_jndi.html

Although the KC page is a "task" it's not actually and contiguous task and the three code snippets should be treated as separate examples. Include the info from the "note" regarding Java literals

SME Andy Guibert

[2020-07-06 19:39] dmuelle commented on #1799
I think this content can go into the config examples for #1840 but need to make sure. Don't think there's a need for separate topic here

[2020-07-06 20:21] Charlotte-Holt opened #1841 "server help command issue"
Update the [server help command ](https://openliberty.io/docs/ref/command/#server-help.html) so it doesn't have an option. Just have `server help actionName` in the syntax, as in the [securityUtility help command](https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility-help.html).

[2020-07-06 20:36] ManasiGandhi commented on #955
@lauracowen I worked on your edit suggesions.

- [x] Default configuration. This needs to start by saying how you get the default configuration, and then give a code example of the default configuration that is generated. Explaining what the URLs are doesn't make much sense without it - it's not clear where those URLs are taken from.

- [x] I don't think the XML code snippet is marked up properly.

[2020-07-06 20:40] ManasiGandhi commented on #955
@dmuelle Can you peer review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#samlWeb-2.0.html?

[2020-07-06 20:44] ManasiGandhi commented on #1290
@rw2513 Can you peer review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#sessionCache-1.0.html?

[2020-07-06 20:48] ManasiGandhi commented on #1289
@Charlotte-Holt Can you peer review this draft https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#sessionDatabase-1.0.html?

[2020-07-06 22:21] zhang-ca commented on #1289
The dataSourceRef **attribute** points to the dataSource element with the id attribute SessionDS. The jdbcDriverRef **attribute** points to the jdbcDriver element with the id attribute DerbyDriver.

Include the shared session management configuration in each of your servers. For example, create two server.xml files for server instances named s1 and s2, as follows:

    ${wlp.user.dir}/servers/s1/s

[2020-07-07 13:27] Charlotte-Holt commented on #1743
@dmuelle I made all my updates and checked links while I was in there. I'll keep an eye out in my other docs for link/title updates as well.

[2020-07-07 13:46] Rwalls1 commented on #429
## Peer review
The topic looks good, I just have a few comments:
- The sentence, "With zero migration, you can move to the latest version of Open Liberty with minimal impact to your current application deployments and configuration.”, feels a bit redundant due to a similar sentence being included. I think it could be removed as the second paragraph should probably focus on why that is important, w

[2020-07-07 15:57] Rwalls1 commented on #210
@donbourne Please review, @kabicin provided the new examples, there's a bracket indentation typo in the SECURITY_AUTHZ example that I'm working on addressing: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#supported-audit-events-and-their-audit-data

[2020-07-07 16:26] lauracowen commented on #1568
Thanks. I think it needs a wee bit more explanation - the link in your topic takes me to the variable substitutions section which I'm not sure is the same thing? The rest of the config overview topic doesn't explicitly talk about what properties are set where. I think in your topic, where you have an example of setting the wlp.install.dir property, could you also say "it can be set in the x file o

[2020-07-07 16:42] lauracowen commented on #1286
I like the reference topic. The only thing that occurred to me is in the SIP section, it's a bit odd the way the name and description are in the first column when the description is separately in the last column for all the other tables. Was that intentional to make it fit? It's a little harder to scan down the names in the table when it has multiple types of data in the same cell....

Observabili

[2020-07-07 16:49] lauracowen commented on #849
I like the repo info as a separate topic. Yes, I think I agree it makes most sense to keep it with the commands - I think it'd seem weird if it were in the main topics.

viewSettings topic - minor thing but where you say "view repository and proxy settings" it might be worth saying "view Maven repository and proxy settings" or even also add on "..when Maven repositories other than, or in addition

[2020-07-07 16:55] lauracowen commented on #1462
In the "Configuring a JPA implementation" section, is it saying that if you use the default implementation of EclipseLink, you don't need to do any config at all? But, if you want to use an alternative implementation, you do this, which is shown using Hibernate?

If so, would it make sense to have two sections:
- "EclipseLink as the default JPA implementation" and just have the sentence of "Eclips

[2020-07-07 17:00] lauracowen commented on #1784
- Yes, I like the structure of that intro - it's really clear what you're saying now.
- I assume they're happy with saying/implying that microservices _often_ use social media providers? (I have no idea if that's strictly true or whether they might use some other SSO service.)
- would it make sense for the file name to be just `user-registries.adoc`? Not sure it needs to be so long but it's up to

[2020-07-07 17:29] lauracowen commented on #1289
- the format looks cleaner now, thanks.
- [ ] Don't start with "After you enable the xxx feature" as that goes without saying - it's just redundant in these examples.
- [ ] Don't talk about the `httpSessionPersistence.xml` file or including files. Just intro the example as showing the minimum configuration for database persistence. Don't explain how to do the includes etc.
- [ ] Change the heading

[2020-07-07 18:09] zhang-ca commented on #1289
If Don't talk about the httpSessionPersistence.xml, the include file I mentioned above is not required.

[2020-07-07 18:37] dmuelle commented on #1784
- Although I used Google and face book as examples, the sentence says "microservice-based applications in production often run on an application server that delegates identity management to a _single sign-on provider_, such as..." rather than social media. I chose Google and FB because they are easily recognizable than and don't really require any explanation. I could use a different example or le

[2020-07-07 18:51] dmuelle commented on #1462
I think changing the heading is the way to go
`Configuring an alternative JPA implementation`

That's the only reason to configure this feature instead of using  the standard JPA feature so good to have the heading reflect that- updated

[2020-07-07 19:21] dmuelle commented on #955
# Peer review
 Looks good- just a few things:

## Default configuration of the SAML web SSO
- I think you could remove "of the SAML web SSO" from your subject headings as it's implied
- the two URL bullet points are not parallel. One uses a colon and the other doesn't. It might be more readable if you put the explanation on a separate line- like:

[code]
but however you organize them, make the two

[2020-07-07 19:32] Charlotte-Holt commented on #849
@lauracowen I agree and made that update. Thx!

@Rwalls1 Can you please peer review the following topics that are associated with this issue:

- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#featureUtility-find.html
- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#featureUtility-help.html
- https://draft-openlibertyio.mybluemix.net/docs/ref/general/#featureUtility-instal

[2020-07-07 21:10] dmuelle commented on #429
Thanks for reviewing @Rwalls1 - addressed your comments in a new draft:
- The sentence, "With zero migration, you can move to the latest version of Open Liberty with minimal impact to your current application deployments and configuration.”, feels a bit redundant due to a similar sentence being included. I think it could be removed as the second paragraph should probably focus on why that is impor

[2020-07-08 09:44] lauracowen commented on #955
Thanks.

- I'm still not clear what this means "Open Liberty provides a default samlWebSso20 element.". When does OL provide it - is there anything the user needs to do? eg when you add `samleWeb-2.0` to the feature list does OL automatically generate a line of config that says `<samlWebSso20 />` and nothing else? If OL generates a line of config like that, that's your config example for this sect

[2020-07-08 09:48] lauracowen commented on #1128
Thanks. I'll sign this off.

Can you make add a note to the issue I mentioned in my last comment though, please? (just add a comment to the issue and paste in the problem that Bruce described). Thx

[2020-07-08 09:57] lauracowen commented on #1290
Thanks. Just some formatting to clean up now:

- Can you change the heading to the heading I suggested (all these topics are about configuring Liberty services so it's redundant to say so, and the important bit here is that you're configuring session persistence with Hazelcast as the JCache provider so Hazelcast should be mentioned).
- Can you clean up the XML to get rid of the spaces on the left

[2020-07-08 10:09] lauracowen opened #1877 "Config examples - don't use variables"
Use actual example directories instead of variables in the config examples. I know the SMEs like to give variables but these config examples are meant to be _examples_ - not generic templates that contain variables for the reader to resolve in their heads. eg
[code]
Where it says `${server.config.dir}`, it looks more complicated than it needs to be. And it’d be easy to just say `uri="file:server1/

[2020-07-08 10:33] lauracowen commented on #1127
Looks good. Some formatting changes then I think you're done:

- Can you put the description of what the example shows after the example for each of the examples shown? eg for the first one, make the sentence "The following example..." the lead-in sentence (with a colon) before the example. Then move the "The `requestTiming` element..." sentence to straight after the example. I don't think we've d

[2020-07-08 12:10] Rwalls1 commented on #1686
Issue developers have with realms:
First, in security there is the concept of “realms”, which are sort of like domains or namespaces. Users and groups are scoped to realms. For example, admins at google is not the same as admins at paypal. With single sign on, it’s possible to have authentication provided in multiple realms, such as authenticating with a choice of paypal or google. In that case, l

[2020-07-08 12:10] Rwalls1 commented on #1128
@lauracowen Thanks, I've added a comment to that issue.

[2020-07-08 12:22] Rwalls1 commented on #1676
@lauracowen Please review, I think I've addressed most of your feedback, I will discuss the point about linking further with David as I noticed the syntax may need to be updated across several topics based on your suggestion: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html

[2020-07-08 12:26] lauracowen opened #1879 "Info from Authorization topic in KC"
This is a working issue for now - don't assign out yet.

https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_authorization.html#d337475e272

There are chunks of info in this topic that don't really follow from one another but also we don't document anywhere in OL docs yet. We're looking into whether any/all of this info should be added to OL docs _and_ what

[2020-07-08 12:26] Rwalls1 commented on #1743
@dmuelle I've updated the file names and topic titles. The SSO topics have also been removed.

[2020-07-08 12:27] lauracowen commented on #1879
Talking to Alasdair:

- The XML snippets in the small sections are deployment descriptor extensions.
- The examples are for things that have no annotation equivalent.
- Except for the Special subjects section which does have an annotation approach for configuring 'all authenticated'. It's a setting on the user registry config.

[2020-07-08 12:33] lauracowen commented on #1879
**Access ID** bit

This is the comment from Bruce that sparked us looking at the info in that topic:

Though, interestingly, that explanation of realms from Bruce doesn’t appear anywhere in the KC (which I know isn’t Liberty-specific but seems like a basic concept that should at least be mentioned in passing).

Alasdair: maybe good thing to be added to the authentication topic

TODO: Investigate h

[2020-07-08 12:44] lauracowen opened #1880 "Disabling cookies config examples"
Add to the following three features, the relevant example and brief explanation provided in this blog post:

appSecurity feature: https://openliberty.io/blog/2020/07/02/disable-default-cookies-20007.html#LTPA-cookie
spnego feature: https://openliberty.io/blog/2020/07/02/disable-default-cookies-20007.html#LTPA-cookie
JWT feature: https://openliberty.io/blog/2020/07/02/disable-default-cookies-20007.

[2020-07-08 12:48] lauracowen commented on #1676
I've just signed this off but could you change the LTPA link to this wikipedia one instead? https://en.wikipedia.org/wiki/IBM_Lightweight_Third-Party_Authentication I know it's not so detailed but the reader can always google for more. The reason I think we should change is that LTPA is an IBM WAS technology so going to the wikipedia page is probably better than to a website I've never heard of.

[2020-07-08 13:32] ManasiGandhi commented on #636
@lauracowen I made changes per your suggestions and also discussed with Bruce.

- [x] Thanks for adding the explanation of the example. Can you tweak the sentences slightly so that the text describes the actual example's values rather than just abstractly providing reference information? For example, "The issuer attribute shows the URL that xxxxx (what is the URL referring to here?)." (the exact d

[2020-07-08 14:15] Charlotte-Holt commented on #1479
New link to the topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#configuring-spnego-authentication.html

[2020-07-08 15:16] Rwalls1 commented on #1676
@lauracowen Thanks, I have updated the link.

[2020-07-08 15:26] Rwalls1 commented on #1128
@Charlotte-Holt Please peer review: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#mpMetrics-2.3.html

[2020-07-08 15:27] Rwalls1 commented on #1676
@ManasiGandhi Please peer review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#single-sign-on.html

[2020-07-08 16:38] ManasiGandhi commented on #1127
@lauracowen here's the draft link https://draft-openlibertyio.mybluemix.net/docs/ref/general/#requestTiming.html

[2020-07-08 16:58] Charlotte-Holt commented on #1568
@lauracowen I consulted with @cbridgha to add a short example about where you can declare variables: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#directory-locations-properties.html. Let me know if you think it still needs more!

[2020-07-08 17:03] Charlotte-Holt commented on #364
@lauracowen Update! I spoke with @arkarkala and he agreed that some of the default information could be moved into the table for https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securityUtility-createSSLCertificate.html. I've made that update and moved all default info into the relevant places in the table except for the location of the keystore, because I didn't see a corresponding pla

[2020-07-08 17:05] lauracowen commented on #1127
- Good intro.
- Can you tweak wording where you link to the Request Timing feature so that it says "For more information about how to configure the Request Timing feature, see...". As the other topic doesn't really give a lot of background info, which is what the sentence currently implies - the rest of this topic is better for that.
- The last paragraph isn't part of the "Detect hung requests" se

[2020-07-08 17:18] lauracowen commented on #1568
Nice. Thanks. Signing off.

[2020-07-08 17:20] lauracowen commented on #364
Looks great. Yes, the keystore location works where you've got it now that the rest isn't there too. Thanks. Signing off.

[2020-07-08 17:22] Charlotte-Holt commented on #1568
Requesting peer review from @ManasiGandhi. Here's the topic: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#directory-locations-properties.html.

[2020-07-08 17:22] lauracowen commented on #1289
Thanks signing off.

[2020-07-08 17:25] lauracowen commented on #636
Looks good, thanks. Signing off.

[2020-07-08 17:36] lauracowen commented on #636
Thanks, looks lots better.

Last thing now...

- The description beneath the example shouldn't be providing generic "reference doc" about what the elements are (you can get that from clicking the links in the sections lower down the page). Instead, describe more directly what's happening in the example. eg "The jwtBuilder, named `myBuilder`, uses the default key alias to locate the private key...e

[2020-07-08 17:43] ManasiGandhi commented on #891
@lauracowen Here's a link to the draft https://draft-openlibertyio.mybluemix.net/docs/ref/general/#securing-cloud-native-microservices.html . It is an initial draft with an outline that I need to check for accuracy.

[2020-07-08 18:01] Charlotte-Holt opened #1891 "Introduction topic to metrics with OL"
We need a new concept topic that talks about the two kinds of metrics you can use with OL - MicroProfile Metrics and JMX metrics. We already have reference lists for both of these metric types. We also have a dev-focused topic about annotations with MP Metrics. This topic should introduce both types and answer the following questions:

- What are the two types of metrics we have for OL?
- What are

[2020-07-08 18:31] Charlotte-Holt commented on #1286
@lauracowen I created issue #1891 on the backlog for the JMX metrics stuff that I'd moved over to the Microservice observability with metrics topic. The dev-focused, MP Metrics topic has been restored to its original content.

Regarding the SIP metrics - I did talk with @donbourne about these, and they're a bit different than all the other metrics in the information that we need to provide. I was

[2020-07-08 18:56] ManasiGandhi commented on #955
@dmuelle I worked on your peer edit suggestions.

- [x] I think you could remove "of the SAML web SSO" from your subject headings as it's implied

- [x] the two URL bullet points are not parallel. One uses a colon and the other doesn't. It might be more readable if you put the explanation on a separate line.

- [x] You can use a browser to download the metadata for this SP by using this URL and pr

[2020-07-08 19:35] dmuelle opened #1898 "Add custom fields to JSON logs"
Create a doc from this blog post: https://openliberty.io/blog/2019/12/03/custom-fields-json-logs.html

Although there are config examples in the post, it's more reference than task. This is mostly application-side config to connect with Liberty LogRecordContext. API. Explain why adding fields  is  useful for troubleshooting and provide examples from the post. Dont think we need the ELK screencap t

[2020-07-08 20:04] Charlotte-Holt commented on #1479
@lauracowen Making updates to this. Still working to find someone to test it and write Chrome/Safari instructions.

- [X] Think the intro needs to be clearer about why this topic might be relevant to the reader. eg, I think the stuff in "About this task" should just be part of the intro (between the shortdesc and the Prereqs section) but it needs to be clearer about why you should care. eg see tex

[2020-07-08 20:41] ManasiGandhi commented on #955
@lauracowen I worked on your suggestions.

- [x] I'm still not clear what this means "Open Liberty provides a default samlWebSso20 element.". When does OL provide it - is there anything the user needs to do? eg when you add samleWeb-2.0 to the feature list does OL automatically generate a line of config that says <samlWebSso20 /> and nothing else? If OL generates a line of config like that, that's

[2020-07-08 21:18] dmuelle opened #1903 "Analyzing logs with Elastic Stack"
Create a task topic based on https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_elk_stack.html

We already have #1684 that describes this process, but that is for specialized cases where user  "can't easily put an agent next to their liberty server to collect the data, ie. so they need to be able to make a direct connection from Liberty to their remote

[2020-07-09 09:50] lauracowen commented on #1286
I think we should try to separate out the name and description and see if we can get it to work. Ideally the name column would wrap when necessary so that long names won't cause that column to be really wide.

Or, is it possible to make the description text in the first column indent slightly so that it's inset from the name slightly?

[2020-07-09 10:43] Rwalls1 commented on #1290
## Peer review
- Make sure to run Acrolinx again, I noticed a few things were flagged.
- I think you should change "Following is an example to configure session persistence by using Hazelcast as the JCache provider:” to “The following example shows the configuration of session persistence by using Hazelcast as the JCache provider” to maintain consistency of example description syntax across topics

[2020-07-09 12:05] Rwalls1 commented on #849
## Peer review
The topics look good, I just have a couple comments:
### featureUtility installFeature
- Typo: Change "The featureUtility installFeature command install features. " to "The featureUtility installFeature command installs features. "
### featureUtility installServerFeatures
- I think you could change "Using this command prevents you from having to individually list out all the feature

[2020-07-09 12:53] donbourne commented on #1684
"Together, these three tools comprise the Elastic stack"
"To configure the Elastic stack"
- Elastic stack is usually described as ELK + Beats.  It may not be worth getting into what the Elastic stack is in this doc, so I'd suggest just avoiding any term for that.
---
included a link to Logstash output plugins for more info
- https://www.elastic.co/guide/en/logstash/current/output-plug-ins.html giv

[2020-07-09 13:05] ManasiGandhi commented on #636
@lauracowen I made those edits. I'm not sure why they are not showing. Will check.

[2020-07-09 13:53] lauracowen commented on #891
Thanks. I think we have largely the right tech areas covered here but I think it needs to be shorter and more focused. I know we didn't have the purpose of this topic very clear so it's good to have this draft to start from. I'll try to describe what the aims are below and then suggest an outline to refocus/restructure the information.

**Audience**
The audience of this topic is, specifically, app

[2020-07-09 13:54] lauracowen commented on #891
Can you delete the additional "Securing cloud-native microservices" topic from the draft website? I think it's the old version but it has a different file name so it's there as well.

[2020-07-09 16:20] Charlotte-Holt commented on #1268
Link to blog post: https://openliberty.io/blog/2020/04/09/microprofile-3-3-open-liberty-20004.html#conf

[2020-07-09 16:29] Charlotte-Holt commented on #1880
#894 #954 #1964

[2020-07-09 17:04] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#logstashCollector-1.0.html

[2020-07-09 17:19] ManasiGandhi commented on #1676
#peer review. @rw2513 The topic looks good! Just a few suggestions.

**Introduction**

- “Single sign-on (SSO) enables users to sign in to applications by using one account instead of creating an account specifically for each application that they want to use. “
Is single sign on an authentication protocol? Maybe you should follow the SSO mention with “authentication”.
Also, you can say “Single si

[2020-07-09 18:02] ManasiGandhi commented on #1568
#peer review @Charlotte-Holt ,the topic looks good. One small suggestion,

- “Some directories have properties that are associated with them that can be used to specify file locations when you configure the server.”  Can you change this to,
“Some directories have properties that can be used to specify file locations when you configure the server.” for conciseness.

[2020-07-09 18:19] donbourne commented on #210
@Rwalls1 , a few more comments...

replace all ibm_userDir lines in the examples with
"ibm_userDir":"\/opt\/ol\/wlp\/usr\/",

in each of the lines below change the directory name to be  `/opt/ol/wlp/usr`

[code]

- fix indentation in example events
- fix random extra blank lines at end of examples
- fix "educated" double quotes (“ -> ")
- remove blank spaces before the json values. eg. "ibm_audit_

[2020-07-09 18:49] Charlotte-Holt commented on #1128
@Rwalls1 Looks good!

### Peer review feedback

- "The metrics can include both information about server components, such as connection pools, and information that applications choose to create metrics for." --> "The metrics can include both information about server components, such as connection pools, and metrics information that is created by applications." **The first way is just reading a lit

[2020-07-09 19:54] lauracowen commented on #223
closing. We'll have #951 for the docs and see above re redirecting.

[2020-07-09 19:54] #223 closed

[2020-07-09 20:13] t-koman opened #1911 "ID: LG-286: Allow JSON written to System.out to pass without wrapping"
### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
- [x] Yes.
- [ ] No. Specific editions: ______

### Specify what you want documented (required):
For each new topic, complete the following information:
In the logging table, add another row for t

[2020-07-09 20:22] t-koman opened #1912 "ID: LG-265: Add custom access log fields to JSON logs and logstashCollector"
### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
- [x] Yes.
- [ ] No. Specific editions: ______

### Specify what you want documented (required):
For each new topic, complete the following information:

Add new doc subsection under JSON Logging:

[2020-07-09 20:23] t-koman commented on #1912
Open Liberty issue: https://github.com/OpenLiberty/open-liberty/issues/10618

[2020-07-09 20:33] Charlotte-Holt commented on #1286
@lauracowen Updated :) I took out the units and added a sentence above the tables about how most of them don't have units because they're basic counters. Only task duration has units.

[2020-07-13 15:09] donbourne commented on #210
@emilytee , I was chatting with @mmerali96 and he was mentioning that his new feature will be adding more to the existing `SECURITY_SAF_AUTHZ` and `SECURITY_SAF_AUTHZ_DETAILS` events.  I don't see those two event types in the draft doc at https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html .  should those event types be in this doc?

[2020-07-13 15:10] donbourne commented on #210
... are those event types omitted because they only occur for WebSphere Liberty?

[2020-07-13 15:45] Rwalls1 commented on #1128
@Charlotte-Holt Thanks, I've addressed your feedback

[2020-07-13 15:46] Rwalls1 commented on #1676
@ManasiGandhi Thanks, I've incorporated your feedback where appropriate

[2020-07-13 16:01] jennifer-c commented on #210
| Field | Description |
|--|--|
| ibm_remoteIP | Remote IP address, e.g. 127.0.0.1
| ibm_bytesSent | Response size in bytes excluding headers.
| ibm_cookie | Cookie value from the request.
| ibm_requestElapsedTime | The elapsed time of the request - millisecond accuracy, microsecond precision.
| ibm_requestHeader | Header value from the request.
| ibm_responseHeader | Header value from the respons

[2020-07-13 16:37] dmuelle commented on #1684
Hi @donbourne - thanks for reviewing, I've addressed your comments in a new draft and also added some more info to clarify when a user would need to use Logstash collector vs when the container or managing agent would handle sending the logs to Logstash. Can you please review the updated **About this task** section and let me know if my explanation makes sense?

RE your previous comments:
- remove

[2020-07-13 20:48] chirp1 commented on #929
@Charlotte-Holt Hi Charlotte, I have various comments:
- This topic seems like a parent topic of the network, server configuration, and application configuration hardening topics, but displays as a peer topic in the current nav and the Antora nav. How about if you make this topic the parent topic?
- I mentioned that some of the best practices in this hardening server in production topic weren't in

[2020-07-13 21:03] chirp1 commented on #942
Returning this topic so that you make updates to go with the "Hardening servers in production" topic.

[2020-07-13 21:04] chirp1 commented on #930
Returning this topic so that you make updates to go with the "Hardening servers in production" topic.

[2020-07-13 21:04] chirp1 commented on #941
Returning this topic so that you make updates to go with the "Hardening servers in production" topic.

[2020-07-14 12:22] lauracowen commented on #1286
Yes, think that works okay. :) Thanks, signing off.

[2020-07-14 12:32] lauracowen commented on #955
Hi - can you add a comment to this issue with answers to the questions above (in the issue, not necessarily in the topic)? I can see you've removed all the queried text from the topic but it's not clear why you've done so I can't tell whether it should be in the topic or not. Specifically points 1, 5, and 6. eg if you've had a discussion with the technical reviewer, add a note in here saying what

[2020-07-14 12:51] Charlotte-Holt commented on #1286
Requesting peer review from @dmuelle: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#jmx-metrics-list.html.

[2020-07-14 13:00] dmuelle commented on #1435
New nav that reflects comments from 6/16 meeting and subsequent discussion:

https://github.com/OpenLiberty/docs/pull/1927

- Guides added in relevant sections
- gerunds in task topics only
- Security is now a high level section
- Metrics is now Observability, with sections in both development and operations

[2020-07-14 13:55] dmuelle opened #1932 "Replace "config" with configuration"
"Config" is not recognized by IBM terminology as an abbreviation. Replace all instances of "config", unless part of a product or feature name (eg MP Config) or code example.

particularly in [Server configuration overview](https://www.openliberty.io/docs/ref/config/),  but check through all the docs.

[2020-07-14 16:02] ManasiGandhi commented on #1743
@dmuelle, @Charlotte-Holt
Updated filenames and titles

- [x] Documenting microservice APIs with OpenAPI new titile: API documentation with OpenAPI filename: documentation-openapi

- [x] Slow and hung request detection: filename: slow-hung-request-detection

- [x] Testing microservice applications new titile: True-to-production integration testing / filename: integration-testing

[2020-07-14 16:12] Rwalls1 commented on #210
@donbourne I think I've addressed most of your feedback. Do you suggest that I add the extra field names for access log to the table though those field names are not represented in the associated example?: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html

[2020-07-14 16:34] Rwalls1 commented on #1200
@donbourne Thanks,  I think I've addressed most of your feedback. In regards to the reference to "stdout" and "rolling log", I wasn't sure how to characterize those terms within the context of sending logs to them as the log and trace configuration topic, https://draft-openlibertyio.mybluemix.net/docs/ref/general/#log-trace-configuration.html, seems to indicate that they are files. Can you expand

[2020-07-14 16:52] donbourne commented on #210
yes, please -- would be better if the example had all the fields.

[2020-07-14 16:56] Yushan-Lin opened #1938 "ID: LG-286: Allow JSON written to System.out to pass without wrapping"
### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
- [x] Yes.
- [ ] No. Specific editions: ______

### Specify what you want documented (required):
For each new topic, complete the following information:
In the logging table, add another row for t

[2020-07-14 16:56] Yushan-Lin opened #1939 "ID: LG-265: Add custom access log fields to JSON logs and logstashCollector"
### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
- [x] Yes.
- [ ] No. Specific editions: ______

### Specify what you want documented (required):
For each new topic, complete the following information:

Add new doc subsection under JSON Logging:

[2020-07-14 16:58] Yushan-Lin commented on #1911
Created new issue to keep track #1938

[2020-07-14 16:58] #1911 closed

[2020-07-14 16:59] Yushan-Lin commented on #1912
Created new issue to keep track #1939

[2020-07-14 16:59] #1912 closed

[2020-07-14 17:11] donbourne commented on #210
In the following lines the space is missing between "websphere:" and "sage..."

[code]

for ibm_userDir field only, in some cases we have
[code]
and in other cases we have
[code]

-- they should all actually be the latter (sorry, my previous comment was incorrect)

examples sometimes are using 2 spaces, sometimes 4 spaces, sometimes 8 spaces for indents.  should stick with 4 spaces everywhere.

SE

[2020-07-14 17:46] jennifer-c commented on #210
Sample liberty_accesslog with all possible fields:
[code]

[2020-07-14 18:01] donbourne commented on #210
the example looks great as is -- thanks!

[2020-07-14 18:24] ManasiGandhi commented on #1127
@lauracowen Made the changes you suggested
- [ ] Can you tweak wording where you link to the Request Timing feature so that it says "For more information about how to configure the Request Timing feature, see...". As the other topic doesn't really give a lot of background info, which is what the sentence currently implies - the rest of this topic is better for that.

- [x] The last paragraph isn't

[2020-07-14 18:42] dmuelle commented on #1435
Posted nav for published topics only: https://antora.mybluemix.net/docs/latest/overview.html

[2020-07-14 20:21] dmuelle commented on #1286
# Peer review

## Intro
I wonder if this intro/ shortdesc wouldn't benefit from a single-sentence explanation of what JMX metrics or why they matter. Maybe it's not necessary since anyone looking at this list would already know? But if there are any common concepts or terms associated (MXBeans for example), mentioning them in the shortdesc could help with SEO. In that case, you could move the senc

[2020-07-14 21:04] dmuelle commented on #1903
@donbourne can you review the draft at https://draft-openlibertyio.mybluemix.net/docs/ref/general/#analyzing-logs-elk.html

I tried to explain in the **About this task** section when a user would follow this procedure and when they would want to use Logstash collector.

There are some discrepancies in the  step for creating an Index in Kibanna 5.6 between what was in the KC for this task and what

[2020-07-14 21:15] jennifer-c commented on #1939
Edited main issue body to add a section for Logstash Collector as well.

[2020-07-15 11:13] lauracowen commented on #1127
Thanks.

- You missed a bit in the second point. Remove the two sentences from the paragraph you moved up: "The Request Timing feature logs..." and "Users can view information...".
- Also, can you move the "For more info" sentence from the paragraph above to the end of the para you moved. Then have a read of it to make sure it flows properly.

[2020-07-15 13:17] Charlotte-Holt commented on #1479
@lauracowen I've addressed all your comments except the following things:

- This whole topic needs testing
-  We need Chrome instructions
- The examples in first section are all windows, then it later talks about linux and AIX.

I talked with @chirp1, and we're definitely going to get it tested and get the Chrome instructions from a dev, but we were thinking it could be a good idea to get this on

[2020-07-15 13:39] Rwalls1 commented on #210
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html

[2020-07-15 13:59] donbourne commented on #210
`"ibm_requestPort":"9080,` -> `"ibm_requestPort":"9080",`

`": "` -> `":"` // occurs in about 20 places

[2020-07-15 14:15] lauracowen commented on #1479
Re testing - would it make sense to have a label of something like `needs testing` which is then replaced by your `doc tested` label? That way we know that it's in need of another step even if everything else is signed off (probably wouldn't need many re-reviews after testing unless it all went really wrong). I'd be happy signing off with just that to go.

But, I don't think I want to actually sig

[2020-07-15 14:23] ManasiGandhi commented on #1290
@lauracowen I made the updates per your review

- [x]  hazelcast.jar isn't the directory name - that's the library for the provider, which is in the hazelcast directory.

- [x] Can you change the heading to the heading I suggested (all these topics are about configuring Liberty services so it's redundant to say so, and the important bit here is that you're configuring session persistence with Haze

[2020-07-15 14:24] ManasiGandhi commented on #1290
@Rwalls1 I made the edits per your peer review

- [x] Make sure to run Acrolinx again, I noticed a few things were flagged.

- [x] I think you should change "Following is an example to configure session persistence by using Hazelcast as the JCache provider:” to “The following example shows the configuration of session persistence by using Hazelcast as the JCache provider” to maintain consistency o

[2020-07-15 14:26] utle commented on #1479
[code]

We tested the crome for window

[2020-07-15 15:02] ManasiGandhi commented on #955
@lauracowen I made the edits per your review.
- For point 1, I made the current changes after discussion with Bruce. When you add samlWebinto your server.xml file, inside the featureManager element, the SAML Web Single Sign-On 2.0 feature is enabled by default.

- For points 5 and 6 I have added some explanation for the metadata without making it sound like a task topic

- [x] You've missed backti

[2020-07-15 15:07] Rwalls1 commented on #210
@donbourne I've made those updates: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html

[2020-07-15 16:17] donbourne commented on #210
`"ibm_accessLogDatetime":"[14\/Jul\/2020:13:28:19 -0400]",` -> `"ibm_accessLogDatetime":"2020-07-14T13:28:19.887-0400",`

`"ibm_requestStartTime":"[14\/Jul\/2020:13:28:19 -0400]",` -> `"ibm_requestStartTime": "2020-07-14T13:28:19.887-0400",`

[2020-07-15 16:19] lauracowen commented on #955
Excellent, thanks.

Where you have "This default configuration..." sentence, can you reword to be more explicit eg "When you enable the SAML Web Single Sign-on feature, it is automatically configured and activates two endpoints."

Other than that, looks good. Thanks. If you can tweak that wording, I'll sign it off.

[2020-07-15 17:12] ManasiGandhi commented on #1127
@lauracowen Thanks Laura. I made edits per your review.

- [x] You missed a bit in the second point. Remove the two sentences from the paragraph you moved up: "The Request Timing feature logs..." and "Users can view information...".

- [x] Also, can you move the "For more info" sentence from the paragraph above to the end of the para you moved. Then have a read of it to make sure it flows properly

[2020-07-15 17:45] Charlotte-Holt commented on #1286
@dmuelle Thanks for the great review! I incorporated all your comments, except I left tables introduced in this format:

```The following attributes are available for the JvmStats MXBean. The object name of the MXBean for these attributes is WebSphere:type=JvmStats:```

Reordering the sentences made the reference to "these" feel out of place to me.

[2020-07-15 17:45] jennifer-c commented on #210
Please also change:

`The time when the message to the access log is queued to be logged, in normal NCSA format.` -> `The time when the message to the access log is queued to be logged.`

`The start time of the request, in NCSA format.` -> `The start time of the request.`

[2020-07-15 17:47] lauracowen commented on #955
Looks good, thanks.

As I said on Slack, I’ll sign it off but would you mind tweaking the last bit of that sentence you just changed? to “…and activates the following endpoints:“? Mainly because I put a period instead of a colon (and you were right originally that it should be a colon).

[2020-07-15 17:54] Charlotte-Holt opened #1960 "Work out landing pages for the navigation"
We need to determine landing pages for the secondary categories in the [OL navigation](https://antora.mybluemix.net/docs/latest/overview.html):

- RESTful services - https://openliberty.io/docs/ref/general/#rest-microservices.html
- API documentation - https://draft-openlibertyio.mybluemix.net/docs/ref/general/#documentation-openapi.html
- Concurrency - https://openliberty.io/docs/ref/general/#con

[2020-07-15 19:52] ManasiGandhi commented on #955
@dmuelle I worked on your peer review.

[2020-07-15 19:53] Charlotte-Holt opened #1964 "Example config for JWT SSO feature"
Determine whether there are any commonly used config examples that should go in the [JWT SSO feature](https://openliberty.io/docs/ref/feature/#jwtSso-1.0.html) generated doc. Include the example from #1880. Also see #636 and #571 for related feature examples.

[2020-07-15 20:18] Rwalls1 commented on #210
@donbourne Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#http-access-log-events

[2020-07-15 20:28] donbourne commented on #210
looks good!

This contains content (access log related) that is planned for 20.0.0.8 -- can we stage this so that the doc doesn't get published before then?

[2020-07-15 21:46] ManasiGandhi commented on #676
@lauracowen I worked on your review.

- [x] Change the opening introduction to the page to capture the bit about development vs production so:

    "OIDC is a protocol that helps developers authenticate users without the need to manage user credentials. You can configure Open Liberty to act as an OIDC provider. With this configuration, users need to authenticate once to access Open Liberty resourc

[2020-07-16 14:16] Rwalls1 commented on #210
@donbourne Thanks, Yes, the doc will not be published before 20.0.0.8

[2020-07-16 14:17] Rwalls1 commented on #210
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html

[2020-07-17 20:06] donbourne commented on #1095
- should document that the garbageCollection source works only with IBM JDKs.  You might want to have a paragraph listing / describing the different sources in general.  (I think I saw comments elsewhere about us documenting the logstashCollector events -- so perhaps just a reference to that would do)

[2020-07-17 20:27] donbourne commented on #1684
Hi @dmuelle , this is looking really good.

For step 6, yes - `datetime` is correct for Logstash collector and it is different from the JSON we send when JSON logging is enabled.

such as a Kubernetes container -> such as a Kubernetes cluster

collect your log data at run time and send it to a Logstash server -> collect your log data at run time and send it directly to a Logstash server

#1903 nee

[2020-07-18 18:40] ManasiGandhi opened #1979 "Social Media Login first sentence update"
Social Media Login https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#socialLogin-1.0.html

Update the first sentence from, "Social Media Login feature provides a form of single sign-on (SSO) that enables users to sign in to a secured website by using their existing social media account."

to,

"The Social Media Login feature provides a form of single sign-on (SSO) that enables users to s

[2020-07-20 12:37] donbourne commented on #1200
Hi @Rwalls1 , I think there's a fair bit of nuance to this that I'm not sure I can convey well enough to make it easy to write up without a lot of back and forth.  To try to get us to end of job quickly on this one I'll propose the following content...

___

Logs are a record of events that occur during the operation of your servers.  They collect important information useful for diagnosing proble

[2020-07-20 13:23] Charlotte-Holt commented on #1479
@lauracowen I added the new **requires doc testing** label. I also updated the topic to add Ut's Chrome instructions (thanks, @utle!) and slightly reworded the Kerberos step per our conversation with Ut last week. If you're good with these changes, I'll move this over for Karen to review, and then it can go back to doc testing.

Link to the topic: https://draft-openlibertyio.mybluemix.net/docs/ref

[2020-07-20 13:37] dmuelle commented on #1903
comment from @donbourne in #1684 : #1903 needs a little work -- it's confusing a completely standalone environment, where you would set up your own ELK stack, with a Kubernetes environment, where all of that typically gets installed with Cluster Logging.

[2020-07-20 14:32] dmuelle commented on #1903
@donbourne can you advise on how best to make that distinction clear? Should this task be recommended for users that have cluster logging enabled? Currently, the "About this task" section is more general about when the procedure applies, mainly because I wasn't sure of the range of use cases we want to allow for. And if so, should the prereq be focused of having cluster logging enabled instead of

[2020-07-20 18:53] emilytee commented on #210
@donbourne , yes if someone is adding new audit records, then this doc needs to include them if they've already been included in a delivered driver.
@mmerali96, please update with the details of your new audit records so the KC data is complete.  Thanks.

[2020-07-20 19:00] Rwalls1 commented on #1095
@donbourne Can you provide a reference for the sources you are referring to?

[2020-07-20 19:07] dmuelle commented on #1743
All title and filename edits are complete, changes pushed to draft, and where applicable, develop and master

[2020-07-20 19:07] #1743 closed

[2020-07-20 19:11] dmuelle commented on #1095
Hi Richard- I'm writing the first draft now but have been unable top merge it today due to some issues with the Github branches & antora transition. The title of the doc will be `Logstash collector event fields` and the filename is `logstash-event-fields.adoc`. I'll post a link to the draft to this issue as soon as I'm able to publish it, hopefully tomorrow

[2020-07-20 19:22] dmuelle commented on #1462
@Charlotte-Holt can you provide peer review for this config example?

https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#jpaContainer-2.2.html

[2020-07-20 19:28] Charlotte-Holt commented on #1880
@lauracowen I updated the SPNEGO config example (#954) with the example from the blog: https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#spnego-1.0.html. Let me know what you think!

[2020-07-20 19:28] Rwalls1 commented on #1200
@donbourne Thanks, I've incorporated your suggested updates: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#log-management.html

[2020-07-20 19:38] dmuelle commented on #1684
Hi @donbourne- thanks for reviewing- I've made the two edits you suggested.

- [x] collect your log data at run time and send it to a Logstash server -> collect your log data at run time and send it directly to a Logstash server

- [x] collect your log data at run time and send it to a Logstash server -> collect your log data at run time and send it directly to a Logstash server

Is it possible to

[2020-07-20 19:50] Charlotte-Holt commented on #1462
@dmuelle Looks good!

### Peer review feedback
- Not sure if this would be better as two sentences: "The `library` element specifies a shared library for administrators and the `fileset` element specifies the base directory to search for files and the file patterns to include in search results." --> I definitely don't want it to be too choppy, but I did kind of get lost along the way it.
- In, "To

[2020-07-20 20:09] Charlotte-Holt opened #2002 "Update runnable JAR topic file name"
Update the file name of the [runnable JAR files topic](https://openliberty.io/docs/ref/general/#runnablejarfiles.html) from `runnablejarfiles` to`runnable-jar-files`.

[2020-07-20 20:18] donbourne commented on #1200
comments...

for the paragraph starting with...
    "Message logs record errors..."
... is it possible to show each log type in a list?  It seems a bit harder to see the big picture with it all in one paragraph.

"Analyzing JSON logs" - the text in this section is more about explaining what JSON logs are (we don't explain how to analyze them).  I was thinking of just having the sections be "JSON l

[2020-07-20 20:33] Charlotte-Holt commented on #942
@chirp1 I updated the parent topic and moved the info from the application configuration summary section to this topic.

[2020-07-20 20:33] Charlotte-Holt commented on #930
@chirp1 I updated the parent topic and moved the info from the sever configuration summary section to this topic.

[2020-07-20 20:35] Charlotte-Holt commented on #929
@chirp1 Thanks for your feedback.

- [X] This topic seems like a parent topic of the network, server configuration, and application configuration hardening topics, but displays as a peer topic in the current nav and the Antora nav. How about if you make this topic the parent topic? - Yes, agreed.
- [X] I mentioned that some of the best practices in this hardening server in production topic weren't

[2020-07-20 20:36] Rwalls1 commented on #1200
@donbourne Thanks,  For "Message logs record errors", if a list format is more suitable, it may be better to just link to  the JSON log events reference list topic to avoid redundancy: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#json-log-events-list.html

[2020-07-20 20:57] donbourne commented on #1200
@Rwalls1 , that sounds reasonable.  So perhaps after...

Open Liberty servers and applications produce a variety of logs that can be used for different forms of analysis. These include logs such as the message log, trace log, first failure data captures (FFDC), audit logs and access logs.

you could add something linking off to the json log events page for more information?

[2020-07-21 12:55] lauracowen commented on #1200
Thanks, both. I think that looks good. It gives a nice clear overview of what the options are (JSON/Logstash collector), and makes it clear when to use each.

@Rwalls1 Can you check the syntax of the links that point to the other topics? They're opening the pages in new tabs when they should just open in the same tab.

[2020-07-21 13:28] Charlotte-Holt opened #2008 "Commands landing page"
We need a landing page for the **Commands** section of the OL navigation. See #1960 for other landing pages. This commands landing page can summarize the different commands that we have for OL so a user can see at a glance which command(s) they might be looking for.

[2020-07-21 13:32] dmuelle commented on #1462
@Charlotte-Holt - thanks for reviewing- agreed on both points

- Not sure if this would be better as two sentences: broke this sentence into two shorter sentences
-  Should "app" be "application"? Although IBM terminology recognizes "app" as an abreviation, I think application is better in this instance, updated.

@lauracowen
Note that I replaced a variable in this example, changing `dir="${shared

[2020-07-21 14:18] Rwalls1 commented on #1200
@donbourne I've added the link and removed the referenced paragraph: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#log-management.html

[2020-07-21 18:48] Charlotte-Holt commented on #1479
Requesting peer review from @ManasiGandhi

[2020-07-21 19:02] donbourne commented on #1095
@Rwalls1 , by sources I just mean the messages, trace, audit, access log, (and garbage collection on ibm jvms).

[2020-07-21 19:16] Charlotte-Holt opened #2019 "Fix links after Antora transition"
We need to update the links in our docs to use the Antora syntax (i.e., `xref:page-id.adoc[link content]` for site pages.
See [the Antora docs](https://docs.antora.org/antora/2.2/navigation/link-syntax-and-content/) for more information.

[2020-07-21 20:40] chirp1 commented on #213
Hi Richard,

Nice job on the topic!

Here are my comments:
- The title and intro don't match. Additionally, the intro paragraph isn't about the topic. The title of "Audit logs" doesn't seem to fit the contents of the topic. The topic seems to be an overview of audit. Redo the title and the intro paragraph. Refer the IBM style guide and the info that we used in the workshops on how to write a short

[2020-07-21 21:16] dmuelle opened #2024 "Add titles and metadata to tables and images"
Need to go through the site and make sure all tables have titles/ captions and all images have titles/alt text

- [Asciidoc table syntax](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#tables)
- [Table caption info](https://asciidoctor.org/docs/user-manual/#table-caption)
- [Image syntax](https://asciidoctor.org/docs/asciidoc-syntax-quick-reference/#images)

[2020-07-21 22:42] ManasiGandhi commented on #1479
#peer review @Charlotte-Holt The topic looks good! A few edit suggestions

**Introduction**

- In the second paragraph, change " SPNEGO can be used to provide SSO in an application if the organization uses Microsoft Active Directory. SPNEGO can also be configured to work on Linux operating systems. ", to, "You can use SPNEGO to provide SSO in an application if the organization uses Microsoft Activ

[2020-07-22 12:38] lauracowen commented on #1290
Looks good, thanks. Two last things then I can sign it off:

- The wrong language is specified for the XML source code example (in the asciidoc source it says "java"). Can you fix that so that the syntax highlighting displays correctly in the example?
- I think the wording of "by using" in the first sentence is a bit odd because it's not configured by using Hazelcast as the provider. It's actually

[2020-07-22 12:44] lauracowen commented on #636
Okay, thanks. I'm going to sign it off because it contains the info it needs.

However, can you take a look at the paragraph before sending for editorial review with @chirp1:
- The "issuer" sentence is missing some words so it doesn't quite read grammatically.
- The last sentence repeats the same information as the first sentence. Maybe discuss with Karen which is best to use. I personally prefer

[2020-07-22 12:51] lauracowen commented on #1880
Looks good, thanks. The last paragraph verges on getting a bit conceptual but I see you've included the explanation of what the cookie is so that you can describe what happens when it's disabled as that process isn't described elsewhere.

I wonder if we need to update the LTPA bit here: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#authentication.html? The explanation you have in the

[2020-07-22 13:05] lauracowen commented on #676
I think there's a build/merge glitch again - I don't see all of the changes above in the topic on the draft website. Can you take a look and track down your changes? https://draft-openlibertyio.mybluemix.net/docs/ref/feature/#openidConnectServer-1.0.html

[2020-07-22 15:36] Charlotte-Holt commented on #1435
Settled on a nav for the go-live of Antora. Closing this issue.

[2020-07-22 15:36] #1435 closed

[2020-07-22 15:56] donbourne commented on #1200
Looks good.  Thanks to everyone on this chain for helping.

[2020-07-22 16:01] lauracowen commented on #1200
Yep. I'll sign this off too. I think David said you'd been looking at the link syntax and I know he's been looking at what it should be consistently across the topics now.

[2020-07-22 16:09] donbourne commented on #1684
If your Open Liberty server is deployed in an environment that manages your logs, such as a Kubernetes cluster, the managing agent can transfer your log data to Logstash
->
If your Open Liberty server is deployed in an environment that manages your logs, such as a Kubernetes cluster, your logs will typically be aggregated by agents running on the platform.

[2020-07-22 16:11] Rwalls1 commented on #1200
@donbourne @lauracowen Thanks, I think I've addressed the linking issue and will follow up with David to discuss any further guidance.

[2020-07-22 16:13] donbourne commented on #1684
I've opened an issue internally to request help to get this tested.  Will see if anyone can work on this now.

[2020-07-22 17:29] Charlotte-Holt commented on #1880
@lauracowen Yeah, that's a good idea. @dmuelle Are you still working on the authentication topic? If so, maybe you could make that small change on your end so we don't hit conflicts?

[2020-07-22 17:58] dmuelle commented on #1684
@donbourne
`If your Open Liberty server is deployed in an environment that manages your logs, such as a Kubernetes cluster, your logs will typically be aggregated by agents running on the platform`

What does "platform" refer to in this context? Is it the "environment that manages your logs, such as a Kubernetes cluster" ? Or the log analysis platform? I want to be careful about how "platform:" is

[2020-07-22 18:16] donbourne commented on #1684
That sounds good.

[2020-07-22 18:44] Charlotte-Holt commented on #1880
@lauracowen Updated the feature doc at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/spnego-1.0.html. @dmuelle also updated the authentication doc at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/authentication.html.

[2020-07-22 19:31] jennifer-c commented on #1684
Hi, I tested the steps with ELK 7.6.0 and I have a few minor comments:

- Step 2a: `liberty_logstash_template.json` -> `liberty_logstash_template_ibm.json`
- Step 2b: Mention that the Elasticsearch template path also needs to be changed to wherever the user saved the index template. e.g.
"Customize the Elasticsearch template path with the `liberty_logstash_template_ibm.json index template file."
-

[2020-07-22 19:32] Rwalls1 commented on #1200
@dmuelle Please peer review: https://draft-openlibertyio.mybluemix.net/docs/ref/general/#log-management.html

[2020-07-27 15:11] dmuelle commented on #1200
# Peer review

## Intro

`Logs are a record of events that occur during the operation of your servers. As records of events, logs...`

a minor thing, but in the first sentence you say logs are "a record"  (singular), then in the next sentence you refer to them as "records" (plural). I think either singular or plural can work, but it should be the same in both sentences.

`These logs include the me

[2020-07-27 18:30] Rwalls1 commented on #210
@lauracowen Please review, I have added the new audit events: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/json-log-events-list.html#_security_saf_authz

[2020-07-27 19:03] dmuelle commented on #1684
Thanks for testing @jennifer-c ! I've updated the doc per your comments

- [x] Step 2a: liberty_logstash_template.json -> liberty_logstash_template_ibm.json **fixed**
- [x] Step 2b: Mention that the Elasticsearch template path also needs to be changed **updated**
- [ ] Step 3: If possible, it'd be great to have an option to switch it to a Unix-style command (since it's formatted for Windows the sl

[2020-07-27 19:07] dmuelle commented on #1684
@donbourne I believe I've addressed all the issues you raised, as well as those from Jennifer's test of the doc. Are any more updates needed? If not, can you add the `technical reviewed` label to this issue? Thanks

[2020-07-27 19:25] dmuelle commented on #1833
Hi @donbourne, can you provide SME review of this reference doc?

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/logstash-events-list.html

If possible, can you get back to me by Wednesday 7/29? Thanks!

[2020-07-27 20:40] Rwalls1 commented on #1200
@dmuelle Thanks, I've incorporated your feedback, I will follow up with Laura regarding the See also section

[2020-07-27 20:40] Rwalls1 commented on #1200
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/log-management.html

[2020-07-28 13:13] lauracowen opened #2075 "Active Directory as an example for use of Social Media Login feature"
Although the Social Media login was originally written for Google, GitHub etc type authentication, it's now actually just an easier way to do SSO authentication than using OIDC Client feature (which is why we tilt our concept docs towards Social Media Login rather than OIDC Client). However, although we talk about social media platforms, it's not clear that there are other SSO providers that can b

[2020-07-28 17:19] dmuelle commented on #1898
closing this issue as this info will be added to Log and trace config doc per issue #1694

[2020-07-28 17:19] #1898 closed

[2020-07-28 17:20] dmuelle commented on #1694
After talking with @donbourne - this information will be added to [the Log and trace configuration doc](https://www.openliberty.io/docs/20.0.0.7/log-trace-configuration.html), instead of a new doc.

Will also include info from #1898, as follows:

Create a doc from this blog post: https://openliberty.io/blog/2019/12/03/custom-fields-json-logs.html

Although there are config examples in the post, it

[2020-07-28 18:38] dmuelle commented on #1939
Hi @jennifer-c @Yushan-Lin - can you provide a brief statement of the value of this feature so the user understands why they might want to replace the http access log fields? We are updating the Log and trace configuration doc to add a little more info on the JSON logging config.

[2020-07-28 18:43] dmuelle commented on #1939
also- is this heading correct?

**Receiving custom access logs**
When logs are in JSON format, you can use the `jsonAccessLogFields` attribute to replace the default access log fields with access log fields from the `accessLogging logFormat` property.

The heading says "receiving custom access logs" but the description says "...replace the default access log fields..." . I understand these two sta

[2020-07-28 19:29] jennifer-c commented on #1939
This feature allows the user to replace the default set of JSON access log fields with a custom set of fields as defined in the httpAccessLogging logFormat attribute. The user is now able to receive information previously not available in JSON logs, such as the remote user ID, request headers, etc. These logs can be used in log analysis tools, such as the ELK (Elasticsearch, Logstash, Kibana) stac

[2020-07-28 19:30] dmuelle commented on #1939
For the table on the log and trace configuration page:

Please add another row to include the new attribute (I believe it is autogenerated) from https://www.openliberty.io/docs/ref/config/#logging.html to https://www.openliberty.io/docs/ref/general/#log-trace-configuration.html.

The logging table is autogenerated but it does not contain the values for the equivalent bootstrap property or environm

[2020-07-28 19:34] dmuelle commented on #1939
Thanks @jennifer-c!
 As to the new fields- will they be documented anywhere else? Will they appear in the autogen for `httpAccessLogging` ? If so I can just link to that page.

[2020-07-28 20:25] jennifer-c commented on #1939
Bootstrap: `com.ibm.ws.json.access.log.fields`
Env: `WLP_LOGGING_JSON_ACCESS_LOG_FIELDS`

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/json-log-events-list.html#_http_access_log_events will have the field names and the descriptions - however, there is no indication that these fields are new/optional and I'm not sure when it'll be published. `httpAccessLogging` has not changed, so I don'

[2020-07-28 20:41] dmuelle commented on #1939
I don't think we have the "HTTP transport channel custom properties" in Open Liberty yet but I'll add it to our backlog.

I think the best solution is to break these fields out into a separate table under the HTTP access log events on the JSON log events reference log page. It might be a while before that page publishes though. In the meantime- do you know in the release blog post for 20.0.0.8 wil

[2020-07-28 20:45] jennifer-c commented on #1939
No, the release blog doesn't contain a list of new fields. I can try to get that added in since it's not published yet - does that sound like the best way to do this?

[2020-07-28 20:51] dmuelle commented on #1939
I think so- The fields don't really belong in this doc and the JSON reference list doc is still in development/review. Am I correct in understanding that these fields are only available if you specify `<logging jsonAccessLogFields="logFormat"/>` in the server.xml?

[2020-07-28 20:53] jennifer-c commented on #1939
Yes, these fields are only available if that property is set. I'll speak with the blog author to get the table added in.

[2020-07-28 20:59] dmuelle commented on #1939
One more question! Do the new fields replace the defaults or are they available in addition to the defaults? ie, if you set the property, are the default fields still available?

[2020-07-28 21:03] jennifer-c commented on #1939
The new fields replace the default fields when `jsonAccessLogFields="logFormat"`. However, all of the default fields correspond to some logFormat token. For example, `ibm_userAgent` (which is part of the default fields) can be set alongside the custom/new ones by adding `httpAccessLogging logFormat="%{User-Agent}i"`. Similarly, `ibm_queryString` is part of the default fields, but can be set alongs

[2020-07-28 21:24] dmuelle commented on #1939
Probably- Unfortunately I'm not particularly familiar with the logging configuration so I'm not sure where that info belongs.

To clarify:
`jsonAccessLogFields="logFormat"`, replaces the default  fields with those that are specified by  `accessLogging logFormat=` in the `httpEndpoint` element. However, you can add more access log fields to the JSON logs by specifying `logFormat` for `httpAccessLog

[2020-07-28 21:56] Charlotte-Holt opened #2101 "Update three more file names"
We need to update the file names of the following three topics:

- [Server configuration overview](https://openliberty.io/docs/20.0.0.7/reference/config/serverConfiguration.html) (`serverConfiguration.adoc` --> `server-configuration-overview.adoc`)
- [Feature overview](https://openliberty.io/docs/20.0.0.7/reference/feature/featureOverview.html) (`featureOverview.adoc` --> `feature-overview.adoc`)

[2020-07-29 00:07] dmuelle commented on #1939
Hi @jennifer-c , please review the draft of this update:

[Replacing default HTTP access log JSON fileds](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/log-trace-configuration.html#_replacing_default_http_access_log_json_fields)

Let me know if the text and table updates look ok. I will add a link to the blog before it publishes, unless we can determine a better source of information.

U

[2020-07-29 00:16] dmuelle commented on #1939
For the logstashCollector update- we have an example file in development- #1095. Once the text here is approved, I will add the same info to that issue for inclusion in the doc

[2020-07-29 00:19] dmuelle commented on #1938
@Yushan-Lin please review the draft for this update

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/log-trace-configuration.html#_configuration_settings_by_source

Let me know if any further updates are needed. If the table update looks ok, can you add the `technical reviewed` label to this issue?

Thanks

[2020-07-29 13:34] Yushan-Lin commented on #1938
@dmuelle looks good!

[2020-07-29 13:40] jennifer-c commented on #1939
Yes, this is correct.

Sorry, I've been using `httpAccessLogging` and `accessLogging` interchangeably which may have gotten confusing. `httpAccessLogging` and `accessLogging` both do the same thing (and you can only use one at a time per httpEndpoint anyway). So you can add or remove access log fields via `logFormat` for `httpAccessLogging`/`accessLogging`

e.g.
Using `<accessLogging logFormat='%a

[2020-07-29 14:17] dmuelle commented on #1939
Thanks @jennifer-c - I think I have a better understanding now. I'm going to update the draft but I have two quick questions

* Does [this table](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/access-logging.html#_http_access_log_format) contain the log tokens a user would need to specify the custom fields?
* Why would a user choose `accessLogging` vs `httpAccessLogging` ? Is there an adv

[2020-07-29 15:49] dmuelle commented on #1939
Is this correct for the Logstash configuration?

[code]
Should the `jsonAccessLogFields` be set to "default"? In the regular logging confg it's set to "logFormat". Just checking as it seems counterintuitive to replace defaults by specifying "default"

[2020-07-29 15:49] dmuelle commented on #1095
Need to add another example to this doc per [LG-265/GH 1939](https://github.com/OpenLiberty/docs/issues/1939).

**Replacing default  HTTP access log JSON fields**
In the Logstash Collector feature, you can use the `jsonAccessLogFields` attribute to replace the default JSON HTTP access log fields with a set of custom fields. You specify the replacement fields in the `logFormat` attribute of the `ac

[2020-07-29 15:54] jennifer-c commented on #1939
Yes, all of them are there!

I'm not sure what the equivalent OL doc is, but there's an explanation here: https://www.ibm.com/support/knowledgecenter/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/rwlp_http_accesslogs.html
httpAccessLogging is used for common log config, accessLogging is for distinct logs per endpoint. For the docs, using `accessLogging` is better I think.

Oops, sorry, you're a

[2020-07-29 16:55] dmuelle commented on #1939
Thanks @jennifer-c - please review the updated draft

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/log-trace-configuration.html#_replacing_default_http_access_log_json_fields

If the update looks ok, can you add the `technical reviewed` label to this issue? If not, please let me know any further edits that are needed. This doc is targeted to publish tomorrow with 20.0.0.8. Thanks!