[2021-05-11 14:27] dmuelle commented on #3807
Thanks for reviewing @ManasiGandhi - I've updated the topic per your suggestions:
 https://draft-openlibertyio.mybluemix.net/docs/latest/troubleshooting-krb5-ldap.html

[2021-05-11 15:38] dmuelle commented on #3873
Thanks for reviewing @ManasiGandhi - i made the changes from your comment-
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.5/installing-open-liberty-betas.html

For the link to the Maven archetypes section- this doc is maintained in github because it's written and maintained by the dev team. I'm not aware of any plans to move it to the OL docs at this time

[2021-05-11 16:17] dmuelle commented on #4138
changes on vNext with #4175

[2021-05-11 16:17] #4138 closed, assigned to dmuelle

[2021-05-11 16:20] dmuelle commented on #1162
changes on vnext with #4175

[2021-05-11 16:20] #1162 closed

[2021-05-11 17:50] dmuelle commented on #3873
changes sent to vNext, will publish with 21.0.0.5

[2021-05-11 17:50] #3873 closed, assigned to dmuelle

[2021-05-11 18:11] ManasiGandhi commented on #2844
@Rwalls1 Thanks for reviewing. I worked on your suggestions. Here's a link to the draft https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.5/distributed-session-caching.html

## Intro
 While the use of the phrase of "on top" is not an accessibility issue in relation to referencing a location on the page , I still think the phrase doesn't add value without additional context and could poten

[2021-05-11 18:43] ManasiGandhi commented on #3335
@dmuelle Peer review of JPA example config. Looks good! A couple suggestions:
# Peer review

- [x] Instead of "Examples", could you say "Example" as currently, there is only one example.
- [x] Typo, please change, "For example, to enable EclipseLink SQL trace, you can specify configuration similar to the following example:"to "For example, to enable EclipseLink SQL trace, you can specify a configu

[2021-05-11 19:16] Rwalls1 commented on #4029
# Content review

- I think the title of this doc should be changed to something like “Manage Open Liberty with the Admin Center”. I don’t think it’s important to highlight in the title the Admin center is accessed from a web browser, I think the value of this doc is the management capabilities of the Admin Center not the fact that you can manage Open Liberty “from a web browser”.
- Global comment

[2021-05-11 22:18] annaguri commented on #4152
I was able to reproduce the issue in my environment. I could not see what you have defined in `package-info` as the source is not available.
Uploading a similar application that works fine in my local environment.

[uas.zip](https://github.com/OpenLiberty/docs/files/6462280/uas.zip)

[2021-05-12 10:40] chrisrmartineau commented on #4152
Hi,

I have built your example directly into my environment and still get the same issue.

I still suspect that it is something to do with how the environment is set up.

There was no server.xml in the war file, do you have examples of the underlying config files for the openliberty server itself?

Thanks

Chris

From: annaguri ***@***.***>
Sent: 11 May 2021 23:19
To: OpenLiberty/docs ***@***.***>

[2021-05-12 11:11] annaguri commented on #4152
I believe it's related to the `war` file as I was able to reproduce the issue locally.

Here's the `server.xml` file
[code]

[2021-05-12 13:23] frowe commented on #1558
1) typo "The following table provides the the"
2) "append the container auth and authAlias parameters to the validation endpoint URL by using the HTTP parameter syntax"
container is not a parameter in this example, it's the value of the auth parameter, you could say instead
"append the auth and authAlias parameters to the validation endpoint URL by using the HTTP parameter syntax", I think the int

[2021-05-12 14:33] Rwalls1 commented on #1558
@frowe Thanks, I've made those updates: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.5/validating-server-connections.html

[2021-05-12 14:42] chrisrmartineau commented on #4152
Hi,

Okay, I created a new project and just put your code on its own there and it works.

So there must be something in the additional code I have that is causing it to have an issue.

I can build from there and will let you know when I find what specifically is causing the problem.

Thanks for your help.

Chris

From: annaguri ***@***.***>
Sent: 12 May 2021 12:12
To: OpenLiberty/docs ***@***.***>

[2021-05-12 15:18] Rwalls1 commented on #3807
# Peer review
The doc looks good, I just have a couple comments:
Global comment: I think you should change instances of “refresh” to “renew” to maintain consistency with how the action is referenced on the Java kinit tool reference page that is linked to.
## Users cannot log in, even if non-Kerberos enabled registries are available
After the phrase," set the allowOpIfRepoDown attribute to true on

[2021-05-12 15:51] ManasiGandhi commented on #1290
@nmittles I worked on your technical review. Here is the draft with updates https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/sessionCache-1.0.html
- [x] CURRENT: Configuring Infinispan in client/server mode with OpenShift
PROPOSED: Configuring Infinispan in client/server mode on OpenShift
- [x] CURRENT: You can configure Infinispan in client/server mode with OpenShift t

[2021-05-12 18:35] dmuelle commented on #4029
thanks for reviewing @Rwalls1 - I made the following changes per your review

- [x] title of this doc should be changed to something like “Manage Open Liberty with the Admin Center”.
- [x] the section headings should be declarative statements that highlight the action that is completed.
- [ ]   each instance of the phrase, “The following screen capture” should be changed to “The following image”

[2021-05-12 18:46] dmuelle commented on #3807
Thanks for reviewing @Rwalls1 - I made both these changes:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.5/troubleshooting-krb5-ldap.html

[2021-05-12 18:48] dmuelle commented on #3335
Thanks for reviewing @ManasiGandhi - I made both those changes-

https://github.com/OpenLiberty/docs/issues/3807#issuecomment-840016126

[2021-05-13 18:16] dmuelle commented on #1558
Doc looks good- I have a few suggestions for clarity and concreteness

## Content review

### intro
_REST endpoints can facilitate communication between applications by identifying resources that are accessed by REST APIs to fulfill requests. Validating your server connections with REST endpoints provides a simple way to test that your application can access resources that enable interactions with

[2021-05-13 18:16] nmittles commented on #1290
@ManasiGandhi The Infinispan example look good to me from a technical perspective. Thanks!

[2021-05-13 18:19] nmittles commented on #2843
Worked with @Rwalls1 on a few minor tweaks. At this point, the Infinispan configuration doc looks good to me from a technical perspective.

[2021-05-13 21:31] ManasiGandhi commented on #4029
@dmuelle The topic looks good! Few suggestions:
# Peer review
## Manage Open Liberty with Admin Center

- [ ] The topic talks about managing server configuration and monitoring sever resources. It doesn’t seem to talk about how to “monitor your server configuration”. Maybe remove “monitor”.

## Set up Admin Center

- [ ] Is it possible to make this example smaller, (since the featuremanager, and b

[2021-05-13 23:11] dmuelle commented on #4029
Thanks for reviewing @ManasiGandhi i- I made some of the changes, others are discussed below:

## Manage Open Liberty with Admin Center

- [x] The topic talks about managing server configuration and monitoring sever resources. It doesn’t seem to talk about how to “monitor your server configuration”. Maybe remove “monitor”.

## Set up Admin Center

- [ ] Is it possible to make this example smaller,

[2021-05-14 12:38] frowe commented on #1558
If I can butt in uninvited here :)
1) The comment wrt
"The output from the config REST endpoint URL provides the validation REST endpoint path that is used to specify the validation REST endpoint URL."
yes, it's hard to parse, but it's also not obvious from where we get the URL for validation.  Consider instead
"The output from the config endpoint provides the URL for the validation endpoint."
2)

[2021-05-14 13:10] dmuelle commented on #1558
Thanks Fred!
1. I think your suggestion here works as since we go into more detail w/r/t the `api` field after the `serv.xml` example
2. would be helpful to mention that quickastart includes the reader role, either in this section or the previous
3. Are X-Validation-User and X-Validation-Password HTTP headers part of the HTTP protocol? I wonder if we could provide a link to the RFC- at least to pr

[2021-05-14 18:32] dmuelle commented on #4029
doc is published with 21.0.0.5

[2021-05-14 18:35] dmuelle commented on #3807
doc is published w/ 21005

[2021-05-14 18:35] #3807 closed, assigned to kristip17, dmuelle

[2021-05-14 18:35] dmuelle commented on #3729
doc is published

[2021-05-14 18:35] #3729 closed, assigned to dmuelle

[2021-05-14 18:36] dmuelle commented on #3571
doc is published with 21005

[2021-05-14 18:36] #3571 closed, assigned to kristip17, dmuelle

[2021-05-17 17:45] dmuelle commented on #2844
# Peer review

Topic looks good- I have a few suggestions for clarity and to restore some details that were lost from the original blog post.
## Intro
- _Caching HTTP sessions in your applications helps to improve performance and availability for the users._
I'd revise this to  make reference to "high availability", which is a good SEO term for this topic. ANdy also mentioned shopping carts in his

[2021-05-17 18:29] dmuelle commented on #1273
added to KC spreadsheet and posted a link from the KC topic to the updated OL page. Closing this isssue

[2021-05-17 18:29] #1273 closed

[2021-05-17 18:32] #3335 closed, assigned to dmuelle

[2021-05-17 18:39] #4029 closed, assigned to dmuelle

[2021-05-17 18:51] dmuelle commented on #3765
doc was updated with 21.0.0.5: https://www.openliberty.io/docs/latest/java-se.html

closing this issue

[2021-05-17 18:51] #3765 closed, assigned to gjwatts, dmuelle

[2021-05-17 21:10] dmuelle commented on #1290
# Content review:
We should avoid repeating the same example with different implementations, as appears on this page with examples for both Hazelcast and Infinispan that are identical except for the library and config files, which are specific to the vendors and not OL.

All config example headings should be declarative statements per [guidance](https://github.com/OpenLiberty/docs/wiki/How-to-add-

[2021-05-17 21:33] #3085 closed, assigned to nobody

[2021-05-18 13:50] dmuelle opened #4216 "Document exit codes for commands"
Return codes were documented in IBM Docs for f[eatureManager](https://www.ibm.com/docs/en/was-liberty/nd?topic=command-featuremanager),[ installUtility](https://www.ibm.com/docs/en/was-liberty/nd?topic=command-installutility), and other commands. Return codes are not documented in OL for any commands.

Based on recent dev feedback from [Gitter](https://gitter.im/OpenLiberty/developer-experience?at

[2021-05-18 15:45] dmuelle commented on #4112
Hi @Channyboy the draft for these updates is ready for review;

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.6/metrics-list.html

The four new entries were added to the table in alphabetical order. Let me know if  any further edits are needed. If it looks good, you can add the `Developer reviewed` label to this issue. Thanks!

[2021-05-19 18:46] jkleinlercher opened #4228 "CVE-2021-26296 not listed in security-vulnerabilities.html"
Why is  CVE-2021-26296 not listed in  https://openliberty.io/docs/21.0.0.5/security-vulnerabilities.html although CVE-2021-26296 affects Apache Myfaces < 2.3.8 and Apache Myfaces got updated in openliberty 21.0.0.4 with https://github.com/OpenLiberty/open-liberty/issues/15744 ? From my Point of view openliberty < 21.0.0.4 is affected by CVE-2021-26296, right?

[2021-05-19 18:48] jkleinlercher commented on #4228
And actually this is also mentioned in https://github.com/OpenLiberty/open-liberty/issues/15989

[2021-05-19 19:16] dmuelle commented on #2843
## Content review:

This topic looks really good- very clear and easy to follow. I just have a few comments and minor edit suggestions

### Intro
- edit suggestion:
To improve performance, applications can provide resources with high availability to create more reliability at run time. With Open Liberty, you can use the JCache Session Persistence feature to configure a JCache provider to enable fe

[2021-05-20 14:31] Rwalls1 commented on #1558
@dmuelle Thanks, I've addressed your feedback: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/validating-server-connections.html
**The intro would also benefit from:**

**- a concrete use case example (in text, not code)**
**- an explanation of what "validating" means in this context.**

I think the use cases are evident with the different sections that are introduced in the "Before yo

[2021-05-20 15:07] dmuelle commented on #1558
Looks good- I just spot two minor things:

- _If you attempt to validate the connection to this data source with the https://localhost:9443/ibm/api/validation/dataSource/myDS REST endpoint URL, without providing credentials, the generated output..._

Don't think you need the first comma before "without" as it's a restrictive clause.

- plugins---> plug-ins

[2021-05-20 17:22] scottkurz opened #4231 "Document batch / batchManagement feature set in Open Liberty"
Where to start?

We don't want every single bit of:  https://www.ibm.com/docs/en/was-liberty/nd?topic=liberty-deploying-java-batch-applications-in   but let's try to carve out a sensible subset for documentation.

[2021-05-20 17:39] dmuelle commented on #4231
also adding this from related #2848 (and closing that issue)

https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/java-batch

[2021-05-20 17:40] dmuelle commented on #2848
will track java Batch doc in #4231

[2021-05-20 17:40] #2848 closed, assigned to nobody

[2021-05-20 18:18] Rwalls1 commented on #1558
@dmuelle Thanks, I've made those updates: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/validating-server-connections.html

[2021-05-20 21:01] dmuelle commented on #3872
website team is working on this issue- moving to the icebox until there's progress on their end

[2021-05-21 16:13] dmuelle commented on #3271
## Content proposal

Hi @mbroz2 , before I work on a draft, just want to make sure I have the proper scope and granularity. Also want to try and put a finer point on what distinguishes OL w/r/t Jakarta EE. The following rough outline is just to sketch out the details. Any text below will be revised and refined

### Intro
- Jakarta EE is a Java platform for building enterprise apps. Java includes a

[2021-05-21 16:16] dmuelle commented on #3271
also w/r/t a diagram- what should it show? here are a couple napkin sketches as a starting point before I sketch something less insane-looking in AI:

![ee4j_sketch1](https://user-images.githubusercontent.com/48686014/119167692-16e06a00-ba2e-11eb-9287-ed2b40b4c8d1.jpg)

![ee4j_sketch2](https://user-images.githubusercontent.com/48686014/119167716-2069d200-ba2e-11eb-986b-df0e7e25da60.jpg)

I'm sure

[2021-05-21 21:20] mbroz2 commented on #3271
My thinking on the diagram is that it should show: JVM, JRE, JDK, Java SE, Jakarta EE, Open Liberty, & App. (we could also have have libs under open liberty and/or JRE)
So I think you got them all, though I would place the JVM inside the JRE.
We may also include JSR if we wanted to, but on the fence; we probably don't want to include FX and ME.

I would not add anything 'external' like DB or clien

[2021-05-24 17:59] dmuelle commented on #4228
Hi @jkleinlercher - thanks for opening this- this CVE was omitted from the 21.0.0.4 release due to an oversight. That's fixed in #4239 . The updated entry is now on our draft site:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.6/security-vulnerabilities.html

This update will publish to the production site with the 21.0.0.6 docs release on 6/11. sorry for the confusion. Closing this

[2021-05-24 17:59] #4228 closed, assigned to dmuelle

[2021-05-24 19:44] ManasiGandhi commented on #2844
@dmuelle I worked on your review. Here's the link to the updated doc https://draft-openlibertyio.mybluemix.net/docs/21.0.0.6/distributed-session-caching.html
# Peer review

Topic looks good- I have a few suggestions for clarity and to restore some details that were lost from the original blog post.
## Intro

- [x] Caching HTTP sessions in your applications helps to improve performance and availabi

[2021-05-25 15:17] dmuelle commented on #2844
Topic looks good! I just have a couple more suggestions to provide clarity and continuity throughout the topic:

- Link The JCache Session Persistence to the feature page on 1st mention (in 3rd paragraph)
- link this phrase to the JCache feature examples: "configure the JCache Session Persistence feature in your server.xml file". Don't monospace server.xml in the linked text though.

### Joining m

[2021-05-25 20:02] ManasiGandhi commented on #2844
@dmuelle I made the updates per your suggestions. Here's the link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.6/distributed-session-caching.html

- [x]  Link The JCache Session Persistence to the feature page on 1st mention (in 3rd paragraph)

- [x] link this phrase to the JCache feature examples: "configure the JCache Session Persistence feature in your server.xml file". Do

[2021-05-25 20:57] dmuelle commented on #1569
looks good except link formats need to be updated- once that's done we can publish this with 21.0.0.6

[2021-05-26 13:37] ManasiGandhi commented on #3422
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/command/featureUtility-find.html
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/command/featureUtility-help.html
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/command/featureUtility-installFeature.html
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference

[2021-05-26 19:45] dmuelle commented on #3763
@anjumfatima90 @una-tapa Hi- are there any further details availalble for this issue to document the problem with the spring feature and appSecurity? If someone can add details to this issue we can prioritize it and get the fix published. Thanks!

[2021-05-26 19:47] dmuelle commented on #3643
no one seems to know quite why this happens with some features, though it is most likely that they are pulling in config elements for features that they are built on top of

[2021-05-26 19:47] #3643 closed, assigned to nobody

[2021-05-26 20:06] dmuelle commented on #3058
opened https://github.com/OpenLiberty/open-liberty/pull/17316 to add an escape character

[2021-05-26 21:00] dmuelle commented on #4152
closing this issue- if any more questions remain, feel free to reopen it or start another

[2021-05-26 21:00] #4152 closed, assigned to nobody

[2021-05-26 21:30] ManasiGandhi commented on #1558
@Rwalls1 The topic looks good! A few suggestions.
# Peer review

## Validating server connections

- [ ] “In Open Liberty, the features in your server configuration enable REST endpoints that you can use to view the server configuration and validate server connections to resources, such as databases.”

This sentence sounds a bit vague. Maybe, “In Open Liberty, some features in your server configur

[2021-05-27 13:33] #3422 closed, assigned to ManasiGandhi

[2021-05-27 13:35] #3678 closed, assigned to ManasiGandhi

[2021-05-27 14:28] dmuelle commented on #4112
changes are merged to vNext and will publish with 21.0.0.6

[2021-05-27 14:28] #4112 closed, assigned to dmuelle

[2021-05-27 14:35] frowe commented on #1558
A couple of comments in response to Manasi's comments:

I intentionally left the word “REST” out of most phrases like “config REST endpoint” because it is unnecessarily verbose and diminishes the readability IMO.  The only endpoints discussed in this topic are REST endpoints.

Derby should be regular font but capitalized

WRT to the comment about the use of X-Validation-User and X-Validation-Passw

[2021-05-27 14:59] ManasiGandhi commented on #3350
# Preliminary Content Design

- **Who is the audience?** Developers, administrators
- **How does this topic fit in the docs?** Concept topic.
- **Consistency with existing docs and other docs in progress** (Cloudant integration feature, Validating server connections
- **What OL-specific information does this doc cover?** How does it fit w/ OL strategy (cloud-native, containerized- Accessing nosql

[2021-05-27 21:41] dmuelle commented on #3035
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.6/network-hardening.html

@jacksonleonard reviewed the update on draft

[2021-05-28 14:06] dmuelle commented on #2844
added peer review label. I also restored technical reviewed label. Andy had added the label previously and I removed it when we revised the doc. However, the technical details did not change in the revision so I added it back.

[2021-05-28 16:57] ManasiGandhi commented on #2844
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.6/distributed-session-caching.html

[2021-05-28 17:49] dmuelle commented on #3035
changes are on vNext and will publish for 21.0.0.6

[2021-05-28 17:49] #3035 closed, assigned to dmuelle

[2021-06-01 18:57] anjumfatima90 commented on #3763
Hi,

We can add a paragraph at the end of this [page](https://www.ibm.com/docs/en/was-liberty/nd?topic=architecture-spring-boot-programming-model-support). The paragraph would like below

Liberty support for Spring Boot is integrated with support for web containers using features like servlet-3.1, servlet-4.0, jsp-2.3. Other features like ssl-1.0 or websocket-1.0/websocket-1.1 should be enabled if

[2021-06-01 19:40] dmuelle commented on #3763
@anjumfatima90 yes I can add a statement to that page- since it is in IBM Docs for commercial (WebSphere) Liberty, I'll open an issue on [that backlog](https://github.ibm.com/websphere/liberty-docs/issues) to track it.

Is the same information equally applicable/important for Open Liberty users? If so, we could add a similar statement to the [Spring Boot feature page in the Open Liberty docs](http

[2021-06-01 19:43] dmuelle commented on #3763
WebSphere Liberty docs issue: https://github.ibm.com/websphere/liberty-docs/issues/2343

[2021-06-02 13:22] dmuelle commented on #1290
Hi Manasi- the updates look good, I just saw two things that need edits. I'll add the content reviewed label and you can address them with any changes from Richards review:

In the first example description:
You must define a location for the implementation files with the library element...
--->
You must define a location for the implementation files with the `library` element...

Then in the fina

[2021-06-02 15:17] Rwalls1 commented on #2843
@dmuelle Thanks, I've addressed your feedback: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.6/configuring-infinispan-support.html
**Are the pom.xml and command examples in this section specific to running on OpenShift? If so, should make clear. I think this section needs some mention of how OpenShift fits in- is it the only way? Why would a user want to use it w/ infinispan? It's not

[2021-06-02 16:02] dmuelle commented on #2843
Looks good- You might add a heading for `Configure Infinispan in embedded mode without OpenShift` as it kind of gets lost at the end of the tpic and a user might not understand that you don't necessarily have to use OpenShift to use Infinispan.

[2021-06-02 16:09] Rwalls1 commented on #1558
@ManasiGandhi Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/latest/validating-server-connections.html
**This sentence sounds a bit vague. Maybe, “In Open Liberty, some features in your server configuration enable REST endpoints that you can use to view the server configuration and validate server connections to resources, such as databases.”
I don't think thi

[2021-06-03 12:21] Rwalls1 commented on #2843
@dmuelle Thanks, I've made that update.

[2021-06-03 12:36] Rwalls1 commented on #2843
@ManasiGandhi  Please peer review: https://draft-openlibertyio.mybluemix.net/docs/latest/configuring-infinispan-support.html#_configuring_infinispan_in_embedded_mode_on_openshift

[2021-06-03 17:00] Rwalls1 commented on #4135
Updated link: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/command/command-overview.html#springBootUtility

[2021-06-03 18:48] dmuelle commented on #3392
## Content proposal

In `Troubleshooting Security` section of the TOC:
- Troubleshooting ACME certificates (done)
- Kerberos authentication to LDAP Servers---> Troubleshooting LDAP (include LDAP items from KC topic)
- Troubleshooting SSL (include KC items)
- Troubleshooting SSO (include SAML items from KC and other SSO)
- Troubleshooting Authorization? for non-SSO related auth items from KC

[2021-06-03 20:13] dmuelle opened #4293 "Datasource topic needs updating to reflect Oracle 21c driver works with IBM Java 8"
companion issue to https://github.ibm.com/websphere/liberty-docs/issues/2331

[2021-06-03 20:21] dmuelle commented on #2890
link is already in the doc

[2021-06-03 20:21] #2890 closed, assigned to dmuelle

[2021-06-04 16:19] dmuelle commented on #4293
doc is updated, text approved in https://github.ibm.com/websphere/liberty-docs/issues/2331

[2021-06-04 16:19] #4293 closed, assigned to nobody

[2021-06-04 16:21] dmuelle commented on #3763
statement added to the [Spring Boot feature page](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/springBoot-2.0.html). Text approved in https://github.ibm.com/websphere/liberty-docs/issues/2343. Update will publish with 21.0.0.6, closing this issue

[2021-06-04 16:21] #3763 closed, assigned to dmuelle

[2021-06-07 13:44] Rwalls1 commented on #1290
# Peer review

## Persist HTTP session data with Hazelcast as the JCache provider

TYPO: Change “Hazelcast in specified” to “Hazelcast is specified”

## Customizing the JCache implementation

* Typo: Change “customize the how” to “customize how”
* Typo: Change “the `uri`” to “the `uri` attribute"

[2021-06-07 15:21] ManasiGandhi commented on #2843
@Rwalls1 The topic looks good! A few edit suggestions
# Peer review
## Configuring Infinispan as a JCache provider

- [x] “To address this limitation, the JCache Session Persistence feature uses distributed session caching to share user session data between different instances and improve high availability features in failover situations.” Acrolinx is flagging “distributed session caching”. Can yo

[2021-06-07 17:56] ManasiGandhi commented on #1290
@rw2513 I worked on your review comments https://draft-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/feature/sessionCache-1.0.html

# Peer review

## Persist HTTP session data with Hazelcast as the JCache provider

- [x] TYPO: Change “Hazelcast in specified” to “Hazelcast is specified”

## Customizing the JCache implementation

- [x] Typo: Change “customize the how” to “customize how”

- [x]

[2021-06-08 17:19] Rwalls1 commented on #2843
@ManasiGandhi Thanks, I've addressed your feedback:
**“When Infinispan is configured in embedded mode, it performs requests faster than when it is configured in client/server mode.” Suggestion- “When Infinispan is configured in embedded mode, it performs requests faster than when it is configured in client/server mode.” Also, for later mentions.**
I didn't add the monospacing because I don't think

[2021-06-08 18:18] Rwalls1 commented on #4135
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/command/command-overview.html

[2021-06-08 18:21] Rwalls1 commented on #4055
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.6/slow-hung-request-detection.html

[2021-06-08 18:23] Rwalls1 commented on #2417
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.6/reference/feature/bells-1.0.html

[2021-06-08 20:37] Rwalls1 commented on #4135
Updates have been merged to Vnext and will publish with 21.0.0.6

[2021-06-08 20:37] #4135 closed, assigned to Rwalls1

[2021-06-08 20:39] Rwalls1 commented on #4055
Updates have been merged to Vnext and will publish with 21.0.0.6

[2021-06-08 20:39] #4055 closed, assigned to Rwalls1

[2021-06-09 14:00] Rwalls1 commented on #2843
Staging: https://staging-openlibertyio.mybluemix.net/docs/latest/configuring-infinispan-support.html

[2021-06-09 14:03] Rwalls1 commented on #1558
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.6/validating-server-connections.html

[2021-06-09 14:06] Rwalls1 commented on #776
Staging:
https://staging-openlibertyio.mybluemix.net/docs/latest/reference/command/springbootUtility-help.html
https://staging-openlibertyio.mybluemix.net/docs/latest/reference/command/springbootUtility-thin.html

[2021-06-09 14:56] Rwalls1 commented on #2843
Doc has been merged to Vnext and will be published for 21.0.0.6

[2021-06-09 14:56] #2843 closed, assigned to nmittles, Rwalls1

[2021-06-09 15:01] Rwalls1 commented on #1558
Doc has been merged to Vnext and will publish with 21.0.0.6

[2021-06-09 15:05] Rwalls1 commented on #776
Doc has been merged to Vnext and will publish with 21.0.0.6

[2021-06-10 17:15] pgunapal opened #4327 "Update "Health Checks for Microservices" document for MpHealth 3.1"
MP Health 3.1 Epic: https://github.com/OpenLiberty/open-liberty/issues/16626
OL Beta Blog: https://github.com/OpenLiberty/open-liberty/issues/17503

The "Health Checks for microservices" document (https://openliberty.io/docs/21.0.0.5/health-check-microservices.html) needs to be updated with the new updates from mpHealth-3.1.

- Add mentions of the new Startup health check introduced in MpHealth-3.

[2021-06-10 17:51] pgunapal commented on #4327
Created following issue (https://github.ibm.com/websphere/liberty-docs/issues/2361) for doc updates for WebSphere Liberty side.

[2021-06-11 12:48] dmuelle commented on #3233
doc will publish with 21.0.0.6

[2021-06-11 12:48] #3233 closed, assigned to dmuelle

[2021-06-14 19:32] ManasiGandhi commented on #3144
@una-tapa Could you please add more information on this issue? Do you want it documented in the KC or Open Liberty?

[2021-06-17 16:52] ManasiGandhi commented on #3350
@mswatosh here is a content proposal for accessing NoSQL databases with Open Liberty.

# Content proposal for accessing NoSQL databases with Open Liberty

You can access a NoSQL database with Open Liberty without enabling any feature in the server.xml file. You can configure access to a NoSQL database with a CDI producer.

## Access MongoDB with CDI

Using MongoDB with Open Liberty previously mean

[2021-06-17 16:58] ManasiGandhi commented on #3350
Slack comments from Tracy Burroughs

- We recommend customers either use the cloudant-1.0 feature, or follow the instruction in the blog post mentioned in your issue  about how to access a MongoDB database from an OL app by @mswatosh; and basically just use a couchdb client instead of a mongodb client.
- Focus on providing information about just MongoDB and Cloudant (since Cloudant is the IBM supp

[2021-06-17 16:59] ManasiGandhi commented on #3350
Slacked with Nathan Rauh and he agreed that for CouchDB, Cloudant can be used as the CouchDB client via CDI, instead of the Mongoclient.

[2021-06-17 17:08] #513 closed

[2021-06-17 18:56] pnicolucci commented on #3352
I believe @yongja79 @leochr  would be good contacts for this.

[2021-06-17 21:04] ManasiGandhi commented on #1569
@dmuelle I worked on the link formats for this issue. Here is the link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/default-port-numbers.html

[2021-06-17 21:13] dmuelle commented on #1569
LGTM thanks- think we can send this to staging for 21.0.0.7

[2021-06-18 15:38] ManasiGandhi commented on #2408
@Rwalls1 I worked on your peer review. Here is a link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/xsd-schema.html

# Peer review
## Intro/general comments
- [x] I think you should change “validate your application `server.xml` file” to “validate the `server.xml` file of your application” to make the relationship between the application and the server.xml

[2021-06-18 15:57] ManasiGandhi commented on #676
@chirp1 I worked on your review. Here is a link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/feature/openidConnectServer-1.0.html

- [x] Move the "The example uses a basic registry ...." sentence immediately after the "The following example shows how to create ..." sentence as the thoughts in the two sentences are closely related. If necessary, make adjust

[2021-06-18 22:00] chirp1 commented on #776
@Rwalls1 Hi Richard, the docs look nice! I have a few comments:
- The SpringBootUtility help command topic looks good.

- I see that the commands overview topic at https://staging-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/command/command-overview.html#springBootUtility has links to your SpringBootUtility thin command topic. Good!

Comments for the SpringBootUtility thin command topic:
-

[2021-06-21 14:00] dmuelle commented on #4216
Hi @bensonlatibm @jjiwooLim, per the slack discussion linked above, can you provide a list of return codes for Open Liberty commands? I'm hoping to document the codes with the 21.0.0.7 docs release if possible. Thanks!

[2021-06-21 17:03] Rwalls1 opened #4357 "Address consistency and relevancy concerns in command reference docs"
Comments from issue #776:

- Use a complete sentence for the intro sentence. Some of the other commands in OL use complete sentences for the intro sentence.
- Leave off "options One or more optional parameters." The WL topics don't use the phrase. Calling options both options and parameters muddy what they are. I'm gathering that some of the options, such as --sourceAppPath=path, are required. So,

[2021-06-21 18:01] dmuelle commented on #4216
I did find this list in IBM docs for the `server` command. I'm not sure if these codes apply to other commands or if each command has its own set of return codes. Also, in IBM docs, they are called "exit codes"- are exit codes and return codes the same thing? If so, we should use one term consistently

[code]

[2021-06-21 20:48] leochr commented on #3352
The OL CORS guide is great and provides useful information, but it's a lot of information to navigate through. CORS config gendoc on the other hand provides minimum information, it doesn't have a sample config.

But the CORS KC topic provides a simple summary and sample snippet for someone looking for just that. I don't think any information will be lost if it's removed, but for the above reason,

[2021-06-21 21:10] jjiwooLim commented on #4216
### featureUtility Exit codes

**find:**

[code]

**help:**

[code]

**installFeature:**

[code]

**installServerFeatures:**

[code]

**viewSettings:**

[code]

[2021-06-21 21:13] jjiwooLim commented on #4216
They are the same thing

[2021-06-22 16:14] dmuelle commented on #4216
Thanks @jjiwooLim ! These codes will be added to the Open Liberty 21.0.0.6 docs release. I am also looking for return codes for the `securityUtility` commands. Do you have access to that info, or can you recommend anyone to contact who might?

[2021-06-22 21:11] dmuelle commented on #3581
This info is documented in the  [XML schema for the server.xml file](https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/xsd-schema.html). THis page doesn't actually use the  serverSchemaGen command, but the executable jar, so not a good fit with the command topics anyway. Also, The KC page has has a typo- .xsl should be .xsd. Will open a bug to fix that

[2021-06-22 21:11] #3581 closed, assigned to nobody

[2021-06-22 21:58] dmuelle commented on #2408
Hi Manasi- I. was just looking at this draft for a related issue and noticed a couple things:

- there are extra backtics in the first two examples- don't need bacticks in a code block
- the link to the YETI blog goes to the wrong page. It should go to https://yeti-it.hr/blog?id=1
- the shortdesc says: 'Open Liberty includes tools that create an XSD file to validate the application server.xml file

[2021-06-22 23:36] dmuelle commented on #2408
actually, looking at the OP again- the shortdesc might be ok, but the last heading title "Add schema location to the application" is ambiguous. Which application? I think this is in reference to an IDE that you enable to autocomplete but I'm not sure. The OP says:

Some version of these statements would be helpful I think

[2021-06-23 10:55] utle commented on #4216
securityUtility exit code:

- 0
Indicates successful completion of the requested operation.
- 1
Generic error.
- 2
The Server is not found.
- 3
The client  is not found.
- 4
The path can not be created.
- 5
The file already exists.

[2021-06-23 12:44] dmuelle commented on #4216
Thank you @utle - For exit code 1- generic error, can we provide any more information, such as an example of a generic error?

[2021-06-23 15:02] Rwalls1 commented on #776
@chirp1 Thanks, I've addressed your feedback: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/command/springbootUtility-thin.html
**Add to your topic right after the intro the paragraph in the "About" section at https://www.ibm.com/docs/en/was-liberty/base?topic=applications-springbootutility-command (Rework the paragraph as necessary.)**
We discussed in slack that this sugges

[2021-06-23 17:59] mswatosh commented on #3350
SME review comments:

- I would remove any mention of the mongodb-2.0 feature, and the mention of it being limited to certain MongoDB versions. The 2.X versions that are mentioned haven't been supported for over a year at this point. Maybe just include a note at the end that the mongodb-2.0 feature is stabilized, and not compatible with supported MongoDD versions.

- I would include showing how to

[2021-06-23 19:24] Rwalls1 commented on #3352
@leochr Thank you for your feedback.

[2021-06-24 13:30] dmuelle commented on #3872
verified content on staging, updates will publish with 21.0.0.7

[2021-06-24 13:30] #3872 closed, assigned to dmuelle

[2021-06-24 16:33] chirp1 commented on #776
@Rwalls1 Hi Richard,
- We discussed with David yesterday that adding in the type of info in "About" would generally be appropriate in any of the command docs. So, go ahead and add it in for this command topic. Rework the addition as appropriate.
- Since you, David, and I decided that we want to italicize variables, go ahead and do it in your topic. The updates for the rest of the topics can be dea

[2021-06-25 16:28] Rwalls1 commented on #776
@chirp1 Thanks, I've made those further updates: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/command/springbootUtility-thin.html

[2021-06-25 17:50] utle commented on #4216
Sample for exit code 1:
securityUtility createLTPAKeys
Error:  Missing argument --password

[2021-06-25 18:59] ManasiGandhi commented on #3350
@mswatosh I worked on your review. Here is the draft link:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/access-nosql-databases.html

- [x] I would remove any mention of the mongodb-2.0 feature, and the mention of it being limited to certain MongoDB versions. The 2.X versions that are mentioned haven't been supported for over a year at this point. Maybe just include a note at the end th

[2021-06-25 19:19] Rwalls1 commented on #3352
Based on feedback and further review, it was decided that all important information is covered in the guide and there isn't a need for additional documentation. A note was added to the [KC spreadsheet ](https://ibm.ent.box.com/services/box_for_office_online/4881/608276299537/bea857.5e8db60a915328510d69f06b7d1c5cf45e55dd88dd390e5483373f82f0b12512?node_type=file)to reflect this decision.

[2021-06-25 19:19] #3352 closed, assigned to Rwalls1

[2021-06-25 19:22] Rwalls1 commented on #3318
@wtlucy Can you confirm which information from the two KC topics is most relevant or most important to OL users?

[2021-06-25 20:33] chirp1 commented on #776
@Rwalls1 Hi Richard,

- For the code example, have you tried italicizing "path_to_liberty" for "targetLibCachePath" and "targetThinAppPath"? If you haven't would you give it a try? It might or might not work- possibly too complex for AsciiDoc to do italics with "=" on the left and "/" on the right. Let me know how it goes.
- Would you add a "See also" section that has a link to the Spring Boot gui

[2021-06-28 16:56] chirp1 commented on #1200
@Rwalls1 Hi Richard, nice job! My comments are just editorial ones:

- For "that collect important information about the servers" doesn't seem to convey info beyond what is already said in the opening paragraph. Also, the "that" at the beginning seems awkwardly placed. So, remove the phrase.
- Change "...use logs to help diagnose problems..." to "...use logs to diagnose problems ...".
- Change "..

[2021-06-28 17:24] dmuelle commented on #490
Hi @lavenal , a draft of this topic is now available for review on our draft site:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/oidc-tools.html

Are you able to provide technical review of this draft? If any edits are required, just let me know. Otherwise, you can sign off by adding the `Developer reviewed` label to this issue. Thanks!

[2021-06-28 18:31] Rwalls1 commented on #776
@chirp1 Thanks, I've made those updates: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/command/springbootUtility-thin.html

[2021-06-28 20:34] Rwalls1 commented on #1200
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/latest/log-management.html

[2021-06-28 20:41] wtlucy commented on #3318
Hi @Rwalls1, I've reviewed both of these documents, and they both have helpful content - however if I had to choose a single one I'd choose [Using virtual hosts](https://www.ibm.com/docs/en/was-liberty/nd?topic=liberty-using-virtual-hosts). The other document [Virtual hosts](https://www.ibm.com/docs/en/was-liberty/nd?topic=hosts-virtual) contains long textual descriptions of common scenarios - it

[2021-06-28 21:33] lavenal commented on #490
Hi @dmuelle, the draft looks good except for two minor changes for the OIDC Client Management Tool.

1. For the bullet on unsorted table rows, please change the column name from **Name** column header to **Client name** column header, i.e.
The table rows are unsorted. Click the **Client name** column header to sort the table ...

2. I would like to rearrage these two bulleted list
  - To edit an e

[2021-06-28 22:38] chirp1 commented on #776
@Rwalls1 Hi Richard,

- The italics update looks good.
- The "See also" link to the guide is broken for me, but I can get to it on the draft server at https://draft-openlibertyio.mybluemix.net/guides/spring-boot.html . Is the link something to be fixed, or will the link resolve on its own when the topic is published? Let me know. Thanks!

[2021-06-29 02:05] chirp1 commented on #1200
@Rwalls1

Hi Richard,
I have one comment. I see that you added in "also" in "When logs are aggregated, you can also use log analysis tools to determine which events occur in proximity to each other, which servers encounter the same problems, and when problems first occur.". My thought is leave "also" out because to me it implies "in addition to". I gathered from the preceding sentence in your topi

[2021-06-29 13:43] Azquelt opened #4398 "mpOpenApi-2.0 support for multiple applications and web modules"
Documentation for OpenLiberty/open-liberty#16628

This feature doesn't currently have a release date but we hope to beta it soon. When it is ready, we'll need to add documentation for how users enable and configure multi-module support.

As a starting point, I propose adding the following text to [API documentation with OpenAPI](https://openliberty.io/docs/21.0.0.6/documentation-openapi.html).

##

[2021-06-29 13:56] Rwalls1 commented on #776
@chirp1 Thanks, the link should be working now: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/command/springbootUtility-thin.html

[2021-06-29 14:15] Rwalls1 commented on #1200
@chirp1 Thanks, I've made that update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/log-management.html

[2021-06-29 14:26] dmuelle commented on #490
Hi @lavenal - thanks for reviewing. The draft is now updated with the  requested changes:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/oidc-tools.html

Let me know if anything further is needed. If not, you can sign off by adding the `Developer reviewed` label to this issue. Thanks!

[2021-06-29 14:50] dmuelle commented on #4357
all commands are updated to use a complete sentence for intro and to remove  redundant "Options" headings. Other improvements include:
- consistent table formatting in each command topic
- consistent use of italics for variables that the user replaces
- various copyedit improvements

These changes will be delivered in 21.0.0.7 as part of #4216

[2021-06-29 14:50] #4357 closed, assigned to dmuelle

[2021-06-29 14:54] ManasiGandhi commented on #3350
@mswatosh Here's the updated link with changes https://draft-openlibertyio.mybluemix.net/docs/21.0.0.7/access-nosql-databases.html. I got it reviewed from Tracy Burroughs and Nathan Rauh for CouchDB and Cloudant.

[2021-06-29 18:19] chirp1 commented on #776
@Rwalls1 The topic looks great! Moving to Ready to Publish.

[2021-06-29 18:22] chirp1 commented on #1200
@Rwalls1 The topic looks great! Moving to Ready to Publish.

[2021-06-29 20:37] Rwalls1 commented on #3318
@wtlucy Thanks, when reviewing both docs and doing further research, I haven't been able to identify a consistently defined purpose or primary benefit for using virtual hosts. How would you describe the main advantage or primary benefits of using virtual hosts with OL?

[2021-06-29 20:59] Rwalls1 commented on #776
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.7/reference/command/springbootUtility-thin.html

[2021-06-29 21:00] Rwalls1 commented on #1200
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.7/log-management.html

[2021-06-29 21:22] Rwalls1 commented on #776
The latest updates have been merged to vNext and will publish with 21.0.0.7.

[2021-06-29 21:22] #776 closed

[2021-06-29 21:23] Rwalls1 commented on #1200
The latest updates have been merged to Vnext and will publish with 21.0.0.7.

[2021-06-29 21:23] #1200 closed

[2021-06-30 12:59] lavenal commented on #490
Thanks @dmuelle for the update!

[2021-06-30 14:50] dmuelle commented on #3350
# Content Review

Hi Manasi- I dont think the current draft contains enough information. It doesn't need to be exhaustive but each section should contain more context to explain what is being described. I think its fine for a blog post not to go into depth but a docs topic should provide at least some background/context to orient the reader.

Also, avoid using a gerund in the title as this is not

[2021-06-30 21:14] dmuelle commented on #3578
need to find exit codes for these commands

[2021-07-04 10:15] mjwhale opened #4413 "Does not include details of featuresBom"
Document: featureUtility installServerFeatures
http://openliberty.io/docs/21.0.0.6/reference/command/featureUtility-installServerFeatures.html

The document is inaccurate, the latest version 21.0.0.6 has the featuresBom option which is not documented but described in the command below, however, the command description doesn't prescribe when or why this option should be used.

[code]

[2021-07-04 10:24] mjwhale opened #4414 "Using the features bom on openLiberty appears to search for websphere liberty resources"
Document: featureUtility installServerFeatures
http://openliberty.io/docs/21.0.0.6/reference/command/featureUtility-installServerFeatures.html

running the command:
`/opt/ol/wlp/bin/featureUtility installServerFeatures defaultServer --featuresBom=io.openliberty.features:features-bom:21.0.0.6
`
results in the following error:
`CWWKF1408E: Unable to find the Websphere JSON file at the /opt/ol/wlp/tm

[2021-07-06 21:12] chirp1 commented on #894
Hi Richard,
The updates looks good! I have a few more comments:
- For " specifying disableLtpaCookie with", put a noun after "disableLtpaCookie".
- QuickStart and what it is used for: Above I commented "....indicate that QuickStart is intended for test purposes, which is indicated at https://openliberty.io/docs/20.0.0.11/user-registries-application-security.html.". I see that you added "QuickStart

[2021-07-07 03:38] chirp1 commented on #1128
@Rwalls1 Hi RIchard, I have a few comments, but the examples look good!
- "Configure MicroProfile Metrics" seems to draw from step 1 of "Set up monitoring with MicroProfile metrics" at https://www.ibm.com/docs/en/was-liberty/base?topic=environment-monitoring-microprofile-metrics. To me, that step is confusing and so I think your "Configure MicroProfile Metrics" could be rewritten. I think that "qu

[2021-07-07 13:08] wtlucy commented on #3318
From the Liberty point of view, the most important function of virtual hosting is that it provides the ability for a single server instance to provide different (multiple) applications on different host and port combinations. That basic functionality allows apps to be isolated based on those hosts and ports.

[2021-07-12 14:16] dmuelle commented on #4413
Hi @mjwhale - thanks for opening this issue.
The `featuresBom` option should not display in the command help, it is not a valid command parameter. This was a known issue for the 21.0.0.6 release (documented in the [Release notes: Known Issues](https://www.openliberty.io/blog/2021/06/11/request-timing-21006.html) and [this Git issue](https://github.com/OpenLiberty/open-liberty/issues/17478)), which

[2021-07-12 14:16] #4413 closed, assigned to dmuelle

[2021-07-12 14:18] dmuelle commented on #4414
As explained in [this comment](https://github.com/OpenLiberty/docs/issues/4413#issuecomment-878317824) on a related issue, the featuresBom option is not a valid command parameter and was the result of a known issue that was fixed in the 21.0.0.7 release.

[2021-07-12 14:18] #4414 closed, assigned to dmuelle

[2021-07-12 14:20] dmuelle commented on #2408
see comments in #4409

[2021-07-12 18:55] dmuelle commented on #4216
changes will publish with 21.0.0.7

[2021-07-12 18:55] #4216 closed, assigned to dmuelle

[2021-07-12 18:55] dmuelle commented on #3000
change will publish with 21.0.0.7

[2021-07-12 18:55] #3000 closed, assigned to ManasiGandhi

[2021-07-12 18:57] dmuelle commented on #1569
changes will publish with 21.0.0.7

[2021-07-12 22:28] chirp1 commented on #210
Hi Richard,

The updates look good! I have a few comments.
**Please check all the comments to see whether there are multiple instances of the wording to be fixed. In some cases I added "global" to the comment to indicate that multiple places with the wording need to be fixed, but additional comments without "global" might also need to be fixed globally.**
- For all the tables, change the "Fields"

[2021-07-13 20:56] dmuelle commented on #4327
Hi @pgunapal - I've updated the draft for this topic:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.8/health-check-microservices.html

Let me know if any further edits are needed. When you're satisfied with the draft, you can add the `technical reviewed` label to this issue to sign off. Thanks!

[2021-07-13 23:06] chirp1 commented on #1095
Hi Richard, another nice config snippet! I have a few comments:
- Change "...from the default source, which is message:" to "from the default source, which is the message source". (I find the original wording confusing.) Also, add highlighting to "message".
- I think you unnecessarily separated "You can also change the maximum number of characters for the stack trace in an FFDC event" from "...tha

[2021-07-14 02:19] chirp1 commented on #211
Hi Richard, The examples look good! Just one sentence to tweak:

- For "Manage audit log files", reword the sentence. Use the descriptions in https://openliberty.io/docs/21.0.0.7/reference/config/auditFileHandler.html. You're not showing how to increase or decrease. You're setting the maximum size of files and the maximum number of archived audit log files. Also, state what compact does in a few w

[2021-07-14 12:44] jonhawkes opened #4423 "Documentation for Transaction Peer Recovery"
Documentation for issue [8968](https://github.com/OpenLiberty/open-liberty/issues/8968)

The ["Administering the transaction service on Liberty"](https://www.ibm.com/docs/en/was-liberty/base?topic=manually-administering-transaction-service-liberty) page needs updating with a new topic "Configuring Peer Recovery".

[2021-07-14 14:10] Rwalls1 commented on #1128
@chirp1 Thanks, I've addressed your feedback:
For the first point related to the  "Configure MicroProfile Metrics" section, after further research, I'm still a bit confused about how to clarify the example so I'm going to reach out to the SME to get a proper explanation before making changes.

[2021-07-14 14:25] Rwalls1 commented on #2418
This doc needs more input from the SME before moving forward with strategy and development. The SME doesn't currently have time to contribute so moving to Icebox.

[2021-07-14 16:50] pgunapal commented on #4327
@dmuelle - Looks good! Added the `technical reviewed` label.

[2021-07-14 17:57] Rwalls1 commented on #211
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/audit-1.0.html

[2021-07-14 18:02] Rwalls1 commented on #894
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/appSecurity-3.0.html

[2021-07-14 22:16] chirp1 commented on #213
Hi Richard, I have a few more comments:

- Change "Audit logs record events that help to analyze the server ..." to "Audit logs record events that help you analyze the server ...".
- For the Audit event components table, since you have more than one field in a cell, would you put each field on a separate line?
- For the Description column in the table, I see both "activity" and "action". From the

[2021-07-15 13:06] dmuelle commented on #4423
Related to https://github.com/OpenLiberty/docs/issues/3348

[2021-07-15 13:06] dmuelle commented on #4423
Hi @jonhawkes - is there an estimated target release for this feature? I don't see any particular release tagged in the epic yet but would be good to have a general idea so we can plan to migrate the related topics from IBM Docs to Open Liberty docs in the same release.

[2021-07-15 13:20] jonhawkes commented on #4423
Hi David. Don't have a target release yet. It definitely has to be in before the end of this year. The earlier the better. It's slightly odd in that the code was actually shipped undocumented years ago. This feature will effectively document the feature and declare support.

[2021-07-15 13:52] dmuelle commented on #4423
Ok thanks- I think as part of the same work we'll want to not only document this feature and migrate the other information, but also provide a little contextual info about transactionality and why/when you might need it in an app. I can go ahead and start working on that and the migration and we can add the new information when we have it.

When you have a chance, would you be able to take a look

[2021-07-15 14:03] dmuelle commented on #3348
see https://github.com/OpenLiberty/docs/issues/4423

comments from KC tracking sheet for these topics

<div ccp_infra_version='3' ccp_infra_timestamp='1626357664556' ccp_infra_user_hash='3774073639' ccp_infra_copy_id='32e7c29c-d864-4028-8a38-4760d27befaa' data-ccp-timestamp='1626357664556'><html>

<head>
<meta http-equiv=Content-Type content="text/html; charset=utf-8">
<meta name=ProgId content=Ex

[2021-07-15 14:03] dmuelle commented on #3348
try to condense down to a single topic

[2021-07-15 16:38] chirp1 commented on #4327
@pgunapal Info included looks good. Approving the epic.

[2021-07-15 20:34] dmuelle commented on #3348
more general info on transactionality from tWAS:
https://www.ibm.com/docs/en/was-nd/9.0.5?topic=resources-transaction-support-in-websphere-application-server

[2021-07-15 21:47] chirp1 commented on #2075
Hi Richard, Another nice example config! I ended up reviewing it for all the config examples instead of just Active Directory. Here are my comments.
- I believe the google ID for the "Request log in..." section is represented by "your_app_id" for clientId. Would you work in "your_app_id" and/or clientId into your description to give the user more context?
- "with the available providers" seems lik

[2021-07-19 16:57] Rwalls1 commented on #1128
@chirp1 Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/mpMetrics-2.3.html
 I've discussed the feedback with the SME, they think it would be more useful to include the keyStore configuration and the `quickStartSecurity` config in the same example. I've updated the description to reflect that `quickStartSecurity` is related to administrative

[2021-07-19 17:33] Rwalls1 commented on #1095
@chirp1 I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/logstashCollector-1.0.html
The `logFormat` attribute sentence refers to the attribute specified by the `accessLogging` element. I've added another sentence to describe the `logFormat` value that is specified by the `jsonAccessLogFields` attribute, which I think you were referring to in y

[2021-07-19 19:18] Rwalls1 commented on #2075
Because this feedback isn't related to the "Active Directory" section, I'm closing this issue and adding this feedback to a separate doc bug issue.

[2021-07-19 19:18] #2075 closed, assigned to Rwalls1

[2021-07-19 19:22] Rwalls1 opened #4439 "Update Social Media Login config examples"
Doc: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/socialLogin-1.0.html
Comments from Karen related to issue #2075:
- I believe the google ID for the "Request log in..." section is represented by "your_app_id" for clientId. Would you work in "your_app_id" and/or clientId into your description to give the user more context?
- "with the available providers" seems like it is

[2021-07-19 19:48] jvanhill commented on #7161
We should add the following section to [LDAP User Registry 3.0](https://openliberty.io/docs/21.0.0.7/reference/feature/ldapRegistry-3.0.html)

### z/OS IBM Tivoli Directory Server
The z/OS IBM Tivoli Directory Server allows access via LDAP to RACF user and group profiles. The LDAP server imposes many restrictions that make it incompatible with the LDAPv3 specification. This requires a very specifi

[2021-07-19 20:29] dmuelle commented on #4327
changes are now on vNext and will publish with the 21.0.0.8 docs release on 8/6. Closing this issue

[2021-07-19 20:49] jvanhill commented on #7161
@dmuelle  - Do we need to move this request to a different repo to get documentation updates? I am assuming we need to open one in https://github.com/OpenLiberty/docs/issues?

[2021-07-19 20:59] Rwalls1 commented on #213
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-logs.html
In regards to your comments related to the "Successful form login" and "Failed form login" sections, I think the important values, such as `user1` user ID, `FormLoginServlet` application, and `baduser` user ID  are already referenced. Can you explain what other specific values that

[2021-07-19 21:06] dmuelle commented on #7161
@jvanhill - yes that is the correct repo to add an example to the page at https://openliberty.io/docs/latest/reference/feature/ldapRegistry-3.0.html

[2021-07-19 21:23] utle opened #4442 "Add constrained delegation for Oracle Kerberos login module"
We need to update this article for Open JDK and JDK version greater than 8.1
`https://www.ibm.com/docs/en/was-liberty/nd?topic=csail-configuring-kerberos-constrained-delegation-out-bound-spnego-tokens-in-liberty
`
After the "The following example for the JAAS Kerberos login module applies to IBM JDK 1.8." examples

Add the following:

The following example for the JAAS Kerberos login module applie

[2021-07-19 21:35] #4442 closed, assigned to nobody

[2021-07-19 21:36] utle commented on #4442
Wrong repository.

[2021-07-20 17:55] ericglau opened #4444 "Update dev mode doc with section on Maven projects with multiple modules"
The following feature adds dev mode support for Maven projects with multiple modules: https://github.com/OpenLiberty/ci.maven/issues/697. This feature will be available in the upcoming version `3.4` of the Liberty Maven Plugin.  Note that this will only available for Maven for now (i.e. Gradle multi project builds are not supported with dev mode yet).  For reference, the design document is at http

[2021-07-20 18:26] dmuelle commented on #3271
Initial draft is now available for review:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jakarta-ee.html

[2021-07-20 19:07] dmuelle commented on #3271
Hi @tevans78 @jhanders34 ,

Michal suggested the two of you as potential reviewers for this "Jakarta EE Overview" docs topic. He opened this issue for a Jakarta topic in a similar vein to our [MicroProfile Overview](https://www.openliberty.io/docs/21.0.0.7/microprofile.html) in the docs. My content proposal, which Michal edited and approved, is in a previous comment. Are either of you able to revi

[2021-07-21 09:09] tevans78 commented on #3271
@dmuelle Where would you like review comments to be recorded? The first sentence isn't quite accurate since I would regard a platform to be implementation rather than just the APIs or specs.

[2021-07-21 09:31] tevans78 commented on #3271
I think that you should ask @kwsutter to review as well ... I'm not sure about the history and the use of certain terms. For example, I think that a JSR was something specific to the JCP process. For Jakarta EE, the JCP was replaced by the JESP - https://jakarta.ee/about/jesp/ - I don't know what the equivalent of a JSR is now.

[2021-07-21 13:37] dmuelle commented on #3271
Thanks @tevans78 - any review comments can go in this issues so we we have a running record of comments from different reviewers. There seems a good deal of variation in how things are named/explained across different sources and over time, so hopefully we can find some consensus.

The Jakarta tutorial from Eclipse refers to "the Jakarta EE 9 Platform", the Jakarta EE about page says "We expect th

[2021-07-21 13:42] dmuelle commented on #3271
HI @kwsutter - are you able to provide review for this Jakarta EE Overview draft for the OL docs? If so, you can leave any review comments in this issue.

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jakarta-ee.html

Before he went on leave, Michal opened this issue for a Jakarta topic in a similar vein to our [MicroProfile Overview](https://www.openliberty.io/docs/21.0.0.7/microprof

[2021-07-22 20:30] Rwalls1 commented on #490
# Content review
  
## Intro  

I think you should change “The Open Liberty Admin Center provides the following three tools to help manage OIDC authentication on your server:” to “The Admin Center provides the following tools to help manage OIDC authentication on your Open Liberty server”, to maintain consistency with how you refer to the Admin Center and remove an unnecessary word to be more conc

[2021-07-23 02:16] lfielke opened #4445 "Open Liberty docs version 21.0.0.7 removed from website"
Yesterday I was able to view the Open Liberty docs for the latest version 21.0.0.7 at https://openliberty.io/docs/21.0.0.7/ however today this shows a not found error page.

I also can no longer see "21.0.0.7" in the "Version" drop down at the top-left of the docs page at https://openliberty.io/docs

The https://openliberty.io/downloads/ page shows "21.0.0.7", so I expected to be able to read the

[2021-07-23 02:35] lfielke commented on #2867
Some constructive criticism, for this page if I may: I had some trouble following this documentation page using the Open Liberty Gradle plugin. The page talks about using the Maven plugin to copy dependencies to the server config directory, however it doesn't mention the Gradle plugin.

We're already using Gradle to build our other projects, so I went searching for more information. I did find a b

[2021-07-25 17:56] dmuelle opened #4446 "Add/Clarify Gradle info in JDBC page"
The following comment was [originally posted in #2867](https://github.com/OpenLiberty/docs/issues/2867#issuecomment-885359391) by @lfielke. Opening a new issue here to track the work to update the page.

---
Some constructive criticism, for this page if I may: I had some trouble following this documentation page using the Open Liberty Gradle plugin. The page talks about using the Maven plugin to c

[2021-07-25 18:02] dmuelle commented on #2867
Thanks so much for this feedback @lfielke- I've opened  a new issue #4446 to track the work to update the page with this information asap.

[2021-07-26 09:02] c-koell commented on #2284
@Emily-Jiang I think @ggam described the same issues as we had also before. https://github.com/OpenLiberty/open-liberty/issues/11058
If the HAM is activated the mpJwt Security will be ignored.

[2021-07-26 12:55] dmuelle commented on #2408
also see this stack overflow article: https://stackoverflow.com/questions/58630532/xsd-schema-for-liberty-server-xml

and this slack thread: https://ibm-cloud.slack.com/archives/C31DW78RG/p1626965670220800

[2021-07-26 14:37] dmuelle commented on #4445
HI @lfielke - are you still unable to see the 21.0.0.7 version of the docs? I'm able to see them on my end and am not aware of any reason why they would have been unavailable. Most likely there was some kind of temporary server outage or error that has since been resolved. Sorry for the inconvenience. Please let us know if you still can't see 21.0.0.7 or if it happens again

[2021-07-27 01:00] lfielke commented on #4445
It's now working -- my link works, I can see 21.0.0.7 in the version dropdown and clicking docs on the homepage goes to 21.0.0.7.

[2021-07-27 15:12] dmuelle commented on #490
Thanks for reviewing @Rwalls1 - I made the following edits per your review

- [x] change “The Open Liberty Admin Center provides the following three tools to help manage OIDC authentication on your server:” to “The Admin Center provides the following tools to help manage OIDC authentication on your Open Liberty server”
- [x] after the first use of “Open ID Connect (OIDC) Admin Center tools”, you s

[2021-07-27 18:16] dmuelle commented on #4446
additional comments from @mattbsox on slack:

The only other thing I might add is an example of a project’s dependencies. Something similar to the example dependencies provided by the user in the ci.gradle issue. That would eliminate potential confusion related to the Gradle dependency configuration reference in the from line in the Copy task example.
Something like this maybe:

[code]

[2021-07-27 18:17] dmuelle commented on #4446
comment from OpenLiberty/ci.gradle#619

[2021-07-28 00:44] chirp1 commented on #1558
Hi Richard, The topic looks good! I have a few minor comments:
- In the table, have each REST endpoint path on its own line within a cell for clarity purposes, i.e. put "/validation/jmsQueueConnectionFactory" and "/openapi/platform/validation" on their own lines within their cells.
- Based on https://openliberty.io/docs/21.0.0.5/user-registries-application-security.html , change "basic registry" t

[2021-07-28 14:40] chirp1 commented on #4327
Mp 4.1, 3.1 moved to 21.0.0.9

[2021-07-28 18:54] dmuelle commented on #4327
Rolled back doc changes until 3.1 is approved for release

[2021-07-29 04:11] chirp1 commented on #2417
Hi Richard, Yet another nice set of config examples! Here are my comments:
- For "...to add a servlet filter implementation with each ServletContext object in a Java file.", I think you mean "....to add a servlet filter implementation for each ServletContext object that is in a Java file.". Change as appropriate. If my suggestion isn't right, would you let me know why not? Thanks!
- I believe that

[2021-07-29 13:05] Rwalls1 commented on #1558
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/validating-server-connections.html

[2021-07-29 14:55] dmuelle commented on #3348
Hi @jonhawkes - can you provide technical review of the draft at

https://draft-openlibertyio.mybluemix.net/docs/latest/transaction-service.html ?

This doc provides the conceptual foundation in the OL docs for the ID updates needed for  #4423 / [8968](https://github.com/OpenLiberty/open-liberty/issues/8968).

It interpolates information from the following KC /IBM Docs topics for WebSphere Liberty

[2021-07-29 15:04] dmuelle commented on #4446
Hi @mattbsox , can you provide technical review of the new section I've added to the JDBC doc draft?

[JDBC driver configuration with Maven or Gradle](https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.8/relational-database-connections-JDBC.html#_jdbc_driver_configuration_with_maven_or_gradle)

I've included the examples we discussed via Slack and tried to address the concerns @lfielke rai

[2021-07-29 16:18] dmuelle commented on #676
First example looks good but still need to update the `Add users and groups to the clientManager role in production` example. Note that in the previous example, it says:

Then in the intro to the "production" example, it says

Which we just advised not do. Need to resolve this contradiction and add more detail to the production example. Recommend having an SME look over it when the edits are ready

[2021-07-29 16:22] mattbsox commented on #4446
The changes look good to me. Think you've got everything there.

[2021-07-29 17:54] chirp1 commented on #210
...... a continuation of my comments that are above....
- Change "....depending on the flow of the request, for example, is it a call coming through scim.." to something like  "...depending on the flow of the request. For example, if the call comes through a SCIM operation, the target name is scim."
- For "server/vmmservice/< action >", I believe the OL guidelines uses syntax for "< action >". Cor

[2021-07-30 05:37] lfielke commented on #4446
I'm impressed to see some work done towards this so quickly after my suggestion, thanks for taking it constructively.

A comment about the draft `build.gradle` snippet -- I think the way the task is created doesn't allow up-to-date checks to work. This means that the JAR files will get copied every deploy, which is doing unnecessary work. You can see this by running the `deploy` task two times in

[2021-07-30 06:12] lfielke commented on #4445
I've just noticed this has occurred again. It seems like the website thinks the latest docs are 21.0.0.6:
* Clicking "Docs" on https://openliberty.io/ navigates to https://openliberty.io/docs/21.0.0.6/overview.html
* The version dropdown top-LHS of that docs page doesn't list 21.0.0.7
* To rule out any browser quirks, I ran `curl -v -L https://openliberty.io/docs/`, which gets redirected to this s

[2021-08-02 12:06] dmuelle commented on #4445
@steven1046 can you look into this? @lfielke is experiencing an intermittent issue where the 21.0.0.7 docs are not available on the website. The docs default to 21.0.0.6 and 21.0.0.7 is not in the version picker.

I haven't been able to reproduce this error on my end and I'm wondering if it might be a regional server issue. Details are in the previous issue comments.

[2021-08-02 12:57] Rwalls1 commented on #210
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/json-log-events-list.html

[2021-08-02 13:00] Rwalls1 commented on #2417
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/bells-1.0.html

[2021-08-02 16:00] chirp1 commented on #2417
Hi Richard,

- I see that you changed "...path/to/jar.." by italicizing each word, but change "..._path/to/jar_.." to "..._path to jar_..". (Replace the forward slashes with spaces.)

[2021-08-02 19:00] dmuelle commented on #4446
thanks for this feedback, @lfielke. I ran it by @mattbsox and he agreed that using  `type: Copy` is preferable to using the `copy` method. I've updated the draft accordingly:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/relational-database-connections-JDBC.html#_jdbc_driver_configuration_with_maven_or_gradle

[2021-08-02 19:07] dmuelle commented on #4444
Hi @ericglau , I've updated the draft doc with these changes:

https://draft-openlibertyio.mybluemix.net/docs/latest/development-mode.html#_run_multi_module_maven_projects_in_dev_mode

1. added a section for "Run multi-module Maven projects in dev mode" that explains the function and points to the Maven plug-in doc for more information.
2. updated the examples to use Maven 3.4 and Gradle 3.2

Let

[2021-08-02 19:25] chirp1 commented on #1558
Hi Richard,
- For "To view your server configuration, you need to specify the proper config REST endpoint URL. ", removed "you need to" to reduce wordiness.
- For "...omit the uid from the REST endpoint URL", I believe that "uid" should be "_uid_ variable". ("uid" is italicized and the word "variable" follows "uid")j._
- Thanks for sprucing a sentence to arrive at "By examining the output from the

[2021-08-02 19:48] frowe commented on #1558
To chirp1's comment

It's a parameter, not a variable.

[2021-08-02 20:27] chirp1 commented on #894
Hi Richard,
- For "The following example shows a sample default configuration of the ltpa element in the server.xml file:", how about something like "You can override the default settings for the ltpa element by configuring the ltpa element in the server.xml file. The following examples shows how to configure the ltpa element.".

[2021-08-02 20:50] Rwalls1 commented on #3318
SME: Bill Lucy

[2021-08-02 21:07] chirp1 commented on #211
Hi Richard,
- One last update- Highlight 100, 50, and true in the "Manage audit log files" section. After you  make the update, you can move this issue directly to the Ready to Publish column - no need to give it back to me.

[2021-08-02 22:42] chirp1 commented on #1095
Updates look good! Moving to Ready to Publish.

[2021-08-02 23:37] lfielke commented on #4446
Sorry, I missed the pull request otherwise I would have commented in there. Looks good to me, aside from two minor nits:

- Indentation: the contents of the Gradle snippet blocks seem to be indented with 8 spaces, compared to 2 or 4 for the other snippets on that page. And the task block contents are indented an extra level compared to the other blocks in the snippet.
- Snippet language: The page

[2021-08-02 23:54] chirp1 commented on #2281
Hi Richard,

The updates look good! I have a few comments.
Please check all the comments to see whether there are multiple instances of the wording to be fixed. In some cases I added "global" to the comment to indicate that multiple places with the wording need to be fixed, but additional comments without "global" might also need to be fixed globally.
- Italicize "name of handler implementation" t

[2021-08-03 15:13] dmuelle commented on #3348
Hi @jonhawkes - I have a couple questions about parts of this topic where we could supply a little more contextual information for users who might not be familiar with  transaction service functions.

- we give an example of configuring recovery to occur at server startup rather than when the service is first used (`recoverOnStartup`). Why or when might someone want to configure this option? What

[2021-08-03 15:22] dmuelle commented on #4446
these issues were addressed in #4469

[2021-08-03 15:34] Rwalls1 commented on #894
@chirp1 Thanks, please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/appSecurity-3.0.html

[2021-08-03 15:35] dmuelle opened #4477 "change gradle source annotations to groovy"
need to update `source` annotation for gradle codes examples to Groovy.

https://www.openliberty.io/docs/21.0.0.7/installing-open-liberty-betas.html
https://www.openliberty.io/docs/21.0.0.7/development-mode.html

[2021-08-03 17:39] Rwalls1 commented on #1558
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/validating-server-connections.html

[2021-08-03 17:41] Rwalls1 commented on #2417
@chirp1 Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/bells-1.0.html

[2021-08-03 17:48] chirp1 commented on #1128
@Rwalls1 Hi Richard, the updates look good. Moving to Ready to Publish.

[2021-08-03 17:52] chirp1 commented on #894
Looks good. Moving to Ready to Publish.

[2021-08-03 17:54] Rwalls1 commented on #1095
Staging: https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/logstashCollector-1.0.html

[2021-08-03 18:03] chirp1 commented on #1558
Updates looks good. Moving to Ready to Publish.

[2021-08-03 18:07] chirp1 commented on #2417
Almost there! Change " to add the path/to/jar JAR file to the library:" to "...to add the path to jar JAR file to the library:".

[2021-08-03 18:56] frowe commented on #1558
Please ignore my comment above, I misspoke, it is a variable in the context chirp1 was talking about.

[2021-08-03 18:58] chirp1 commented on #213
Hi Richard,
- I'm OK with you your response to my comment about including important values for "Successful form login" and "Failed form login".
- I see a link to Audit 1.0. (1) It links to the draft server. The topic is not found when I click on the link for it. Would you fix the link? (2) I believe the style guidance for feature references is to not include the version of a feature as new version

[2021-08-03 19:36] Rwalls1 commented on #894
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/appSecurity-3.0.html

[2021-08-03 19:39] Rwalls1 commented on #1558
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/validating-server-connections.html

[2021-08-03 19:44] Rwalls1 commented on #1128
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/mpMetrics-3.0.html

[2021-08-03 19:51] Rwalls1 commented on #2417
@chirp1 Thanks, please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/bells-1.0.html

[2021-08-03 19:55] Rwalls1 commented on #1128
Updates have been merged to Vnext and will publish with the 21.0.0.8 release.

[2021-08-03 19:55] #1128 closed

[2021-08-03 19:56] Rwalls1 commented on #894
Updates have been merged to Vnext and will publish with the 21.0.0.8 release.

[2021-08-03 19:56] #894 closed

[2021-08-03 19:56] Rwalls1 commented on #1095
Updates have been merged to Vnext and will publish with the 21.0.0.8 release.

[2021-08-03 19:56] #1095 closed

[2021-08-03 20:00] Rwalls1 commented on #211
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/audit-1.0.html

[2021-08-03 20:00] Rwalls1 commented on #211
Updates have been merged to Vnext and will publish with 21.0.0.8

[2021-08-03 20:00] #211 closed

[2021-08-03 20:55] chirp1 commented on #2417
Update looks good! Moving to Ready to Publish.

[2021-08-04 16:22] chirp1 commented on #210
Hi Richard, a few more comments....
- Change "Note that the name includes urbridge, scim or vmmservice,..." to "The name includes urbridge, scim, or vmmservice,...". (Remove "Note that". Put a comma after "scim".)
- Change "JACC web authorization" to "Java Authorization Contract for Containers (JACC) web authorization" so that JACC is spelled out on first occurrence.
- Change "...such as HTTP, HTT

[2021-08-04 16:42] Rwalls1 commented on #2417
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/reference/feature/bells-1.0.html

[2021-08-04 16:50] Rwalls1 commented on #2417
Updates have been merged to Vnext and will publish with 21.0.0.8

[2021-08-04 16:50] #2417 closed, assigned to Rwalls1

[2021-08-04 16:55] Rwalls1 commented on #1558
Updates have been merged to Vnext and will publish with 21.0.0.8

[2021-08-04 19:58] Rwalls1 commented on #213
@chirp1 Thanks, I've addressed your latest feedback: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-logs.html

[2021-08-04 20:01] Rwalls1 commented on #210
@chirp1 Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/json-log-events-list.html

[2021-08-04 20:06] Rwalls1 commented on #2281
@chirp1 Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-log-events-list-cadf.html

[2021-08-04 21:08] dmuelle commented on #4446
changes are now on vNext and will publish to production on 8/6.  Thanks again for your input @lfielke @mattbsox

closing this issue

[2021-08-04 21:08] #4446 closed, assigned to dmuelle

[2021-08-04 21:09] dmuelle commented on #4446
https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#_jdbc_driver_configuration_with_maven_or_gradle

[2021-08-04 21:24] dmuelle opened #4497 "Update autogen for Transaction config element"
per discussion in #3348 , need to updated the description for `acceptHeuristicHazard` in the[ transaction manager config element](https://www.openliberty.io/docs/21.0.0.7/reference/config/transaction.html).

the existing description:

Specifies whether all applications on this server accept the possibility of a heuristic hazard occurring in a two-phase transaction that contains a one-phase resourc

[2021-08-04 23:39] chirp1 commented on #210
Hi Richard,
Almost there!
- Change "A true if the user..." to "A true value if the user...".
- Change "MBean attribute. getAttributes and setAttributes methods " to "MBean attribute. getAttribute and setAttribute methods ". (Remove the "s" in two places. (Searching WL docs shows getAttribute and setAttribute without the "s".)

[2021-08-04 23:45] chirp1 commented on #213
@Rwalls1 Hi Richard, The updates look good! Moving to Ready to Publish.

[2021-08-05 11:54] ramkumar-k-9286 commented on #4439
David. Multiple links in this document are broken. i cant locate the proper links to replace the broken links. Who do i contact for this.

Rest of the updates requested have been done. need to correct the links before proceeding.

@dmuelle

[2021-08-05 14:55] Rwalls1 commented on #213
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-logs.html

[2021-08-05 14:58] Rwalls1 commented on #210
@chirp1 Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/json-log-events-list.html

[2021-08-05 15:54] dmuelle commented on #3058
copy on site will be fixed with 21.0.0.8 but still waiting on fixes to generator in https://github.ibm.com/websphere/WS-CD-Open/issues/24533

[2021-08-05 15:57] dmuelle commented on #4477
Open liberty betas doc and JDBC doc are updated with 21.0.0.8. Updates for dev mode doc will publish with #4444

[2021-08-05 15:57] #4477 closed, assigned to nobody

[2021-08-05 16:01] dmuelle commented on #3348
updated draft per @jonhawkes email thread:
https://draft-openlibertyio.mybluemix.net/docs/latest/transaction-service.html

[2021-08-05 16:02] dmuelle commented on #3348
Jon is out though 8/11- pushing this out to 21.0.0.9

[2021-08-05 16:58] chirp1 commented on #2281
Hi Richard, Almost there!
- Change "Token type of the user that is performing action,..." to "Token type of the user that is performing the action,...". (Add "the".)   (I see one more instance that needs to be changed.)
- Change "Name of monitoring agent associated with initiator." to "Name of the monitoring agent associated with the initiator." (Add "the".)
- Highlight "service/application/web".

[2021-08-05 16:58] chirp1 commented on #210
Hi Richard,
- Change "MBean action that is being performed on the MBean attribute. getAttribute and setAttribute methods are supported." to "MBean action that is being performed on the MBean attribute. getAttribute, and setAttribute methods are supported.".  (Add a comma after "getAttribute". Also, remove the highlighting of the attributes.)

[2021-08-05 17:31] dmuelle commented on #4439
Hi Ram-

here are the fixes for the links

**change**
see the LDAP User Registry (feature:ldapRegistry[]) feature.
**to**
see the feature:ldapRegistry[display=LDAP User Registry feature].

**change**
see the link:https://docs/ref/config/#authFilter.html[`authFilter`] configuration element..
**to**
see the config:authFilter[display=authFilter element].

**change**
use the link:https://docs/ref/conf

[2021-08-05 18:35] Rwalls1 commented on #490
@dmuelle The updates look good.

[2021-08-05 19:30] Rwalls1 commented on #210
@chirp1 Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/json-log-events-list.html

[2021-08-05 19:37] Rwalls1 commented on #2281
@chirp1 Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-log-events-list-cadf.html

[2021-08-05 20:12] chirp1 commented on #210
Updates look good! Moving to Ready to Publish.

[2021-08-05 20:44] chirp1 commented on #2281
Updates look good. Moving to Ready to Publish.

[2021-08-05 21:07] Rwalls1 commented on #3318
# Content proposal
## Configuring virtual hosts
Short description: Virtual hosts provide a way to run multiple applications on the same server. You can configure virtual hosts to isolate applications to reduce the traffic that is needed to host applications.
## Intro
Describe the connection between the requests to access applications and the host name and port number configurations that define eac

[2021-08-06 14:30] Rwalls1 commented on #2281
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/audit-log-events-list-cadf.html

[2021-08-06 14:39] Rwalls1 commented on #210
Staging: https://staging-openlibertyio.mybluemix.net/docs/21.0.0.8/json-log-events-list.html#_security_authz

[2021-08-06 14:47] Rwalls1 commented on #210
Updates have been merged to Vnext and will publish with 21.0.0.8

[2021-08-06 14:47] #210 closed

[2021-08-06 14:57] Rwalls1 commented on #2281
Updates moved to Vnext and will publish with 21.0.0.8.

[2021-08-06 14:57] #2281 closed, assigned to Rwalls1

[2021-08-06 15:06] dmuelle commented on #490
content is on vNext, will publish with 21.0.0.8

[2021-08-06 15:06] #490 closed

[2021-08-06 15:12] Rwalls1 commented on #213
Updates have been merged to Vnext and will publish with 21.0.0.8

[2021-08-06 15:12] #213 closed

[2021-08-09 13:39] sorinbrazdau opened #4517 "Wrong code snippet to copy dependency"
Document: Relational database connections with JDBC
http://openliberty.io/docs/21.0.0.6/relational-database-connections-JDBC.html

The code snippet used as an example to copy the dependency is wrong, gives an error:

[code]

Instead it should be:

[code]

[2021-08-09 18:57] dmuelle commented on #4444
comments from @ericglau via slack:

The first paragraph mentions dev mode with container support, but we haven’t provided any examples.  Perhaps in the second paragraph where it says “run the mvn liberty:dev command”, it could also mention liberty:devc, e.g. “run the mvn liberty:dev or mvn liberty:devc command”
11:28
The latter example of mvn liberty:dev -pl ear -am stands out on its own, but this

[2021-08-09 19:01] dmuelle commented on #4444
draft is now updated to address these two items:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/development-mode.html#_run_multi_module_maven_projects_in_dev_mode

@ericglau  when you have a chance, let me know if any further edits are needed. If not, you can add the `technical reviewed` label to this issue to sign off and the update will publish with the 21.0.0.9 docs release. Than

[2021-08-09 19:10] ericglau commented on #4444
@dmuelle It looks good, thanks.

[2021-08-09 19:24] dmuelle commented on #3423
Draft is now updated:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/java-se.html

Note that we left references to AdoptOpenJDK for Java SE 15 since neither semeru nor Adoptium offer 15.
for further discussion, see [this slack thread](https://ibm-cloud.slack.com/archives/C31DW78RG/p1628520516034000)

updates will publish with 21.0.0.9 docs release

@irobins @mbroz2

[2021-08-09 19:27] dmuelle commented on #4517
Thanks for this feedback @sorinbrazdau. I've updated the draft with your suggestion (modified slightly per our style guidelines) and got @cherylking to verify the example.

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/relational-database-connections-JDBC.html#_jdbc_driver_configuration_with_maven_or_gradle

update will publish to production with the 21.0.0.9 docs release

[2021-08-09 19:32] dmuelle commented on #4445
@lfielke although we have not been able to reproduce this result, we pushed a few updates to our our build process recently that might have been delivered to some region servers before others. Most likely your were in or re-routed to a server that had not received the fix yet, but has since received it. Please let us know if you continue to see this problem. Thanks

[2021-08-09 19:32] #4445 closed, assigned to nobody

[2021-08-10 15:03] mswatosh commented on #4517
@dmuelle New article looks much better, there are a few things I noticed and some recommendations:

- I tried the new example with `<version>[3.3.4,)</version>` and it can't find the plugin, is that syntax valid inside the liberty maven plugin? Using `<version>3.3.4</version>` works fine. For reference I'm using Apache Maven 3.6.3. @cherylking maybe this is a question for you?

- The latest versio

[2021-08-10 18:36] ramkumar-k-9286 commented on #3343
@cbridgha

Hi,
We have a docs issue to add some information about the Open Liberty convenience features to the [features overview](https://www.openliberty.io/docs/21.0.0.8/reference/feature/feature-overview.html) topic.
I know we have convenience features for MicroProfile and several for Java EE. Are there any others? And is the term "convenience feature" the best thing to call these features?

Re

[2021-08-10 18:57] dmuelle commented on #3343
Here are the ones I known of, not sure if there are others:

- [Enterprise JavaBeans](https://www.openliberty.io/docs/latest/reference/feature/ejb-3.2.html)
- [MicroProfile](https://www.openliberty.io/docs/latest/reference/feature/microProfile-4.0.html)
- [Java EE Full Platform](https://www.openliberty.io/docs/latest/reference/feature/javaee-8.0.html)
- [Java EE Web Profile](https://www.openlibert

[2021-08-10 19:00] dmuelle commented on #4444
Thanks- updates are on the vNext branch and will publish with 21.0.0.9. Closing this issue

[2021-08-10 19:00] #4444 closed, assigned to dmuelle

[2021-08-10 19:08] dmuelle commented on #4517
Thanks @mswatosh - I've updated the doc per your recommendations:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/relational-database-connections-JDBC.html#_jdbc_driver_configuration_with_maven_or_gradle

- [x] I tried the new example with <version>[3.3.4,)</version> and it can't find the plugin, is that syntax valid inside the liberty maven plugin? Using <version>3.3.4</version> wor

[2021-08-11 05:35] meir1958 opened #4531 "problem with Sinch Api Voice in android new version"
<html>
<body>
<div class="aju" style="cursor: default; float: none; padding: 0px 16px; align-items: center; display: flex; height: 80px; min-width: 40px; color: rgb(34, 34, 34); font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif; font-size: medium; font-style: normal; font-variant-ligatures: normal; font-variant-caps: normal; font-weight: 400; letter-spacing: normal; orphans: 2; text-a

[2021-08-11 14:13] dmuelle commented on #4531
Hi @meir1958 - does this error relate to [Open Liberty documentation](https://www.openliberty.io/docs/21.0.0.8/overview.html)? This repo is for documentation issues only.

If your issue relates to Open Liberty server errors, you might find help from our [community support resources](https://www.openliberty.io/support/). If the issue pertains specifically to Android, Maven or Gradle, you might find

[2021-08-11 15:38] dmuelle commented on #3423
updated the Semeru link to point directly to downloads page

[2021-08-11 15:43] t-koman opened #4534 "TS006458435 skill case requires update to two Open Liberty topics"
**TS006458435 skill case  requires an update to two Open Liberty Topics**
(1) topic: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/password-encryption.html
Change
Open Liberty supports Advanced Encryption Standard (AES) encryption for passwords that are stored in the server.xml file. When you use this option for protecting passwords in the Open Liberty configuration, understand the limit

[2021-08-11 19:59] kgibm opened #4536 "Clarify HTTP access log %D documentation"
[HTTP Access Log custom formats](https://openliberty.io/docs/latest/access-logging.html) says:

This matches what [WAS traditional says](https://www.ibm.com/docs/en/was-nd/9.0.5?topic=chains-http-transport-channel-custom-properties).

However, [Liberty's implementation now uses nanosecond accuracy](https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.transport.http/src/com/i

[2021-08-11 20:04] wtlucy commented on #4536
+1 from me. This will be more correct _and_ understandable.

[2021-08-11 20:53] dmuelle commented on #4517
Changes are now on vNext and will publish with 21.0.0.9 on 9/3

[2021-08-11 20:53] #4517 closed, assigned to dmuelle

[2021-08-11 20:57] dmuelle commented on #3423
Changes are now on vNext and will publish with 21.0.0.9 on 9/3

[2021-08-11 20:57] #3423 closed, assigned to dmuelle

[2021-08-11 23:35] t-koman commented on #4534
I located another topic that is worth updating:
https://openliberty.io/docs/20.0.0.10/server-configuration-hardening.html#password-encryption
@una-tapa Hiroko - Please confirm.....  Is this topic worth an update that says in section **Password encryption**
Change
Use AES encryption for passwords instead of Base64 encoding. AES encryption is also preferable to XOR encryption because an XOR-encoded

[2021-08-12 13:22] #4531 closed, assigned to nobody

[2021-08-12 16:24] emilytee commented on #3578
Reviewed the draft and approve.

[2021-08-12 18:04] gjwatts opened #4545 "Update Open Liberty docs for Java 17 support"
With Java 17 being released (and the simultaneous discontinuation of support for Java 15), the list of supported versions of Java by Open Liberty needs to be updated. The only file needing to be changed is modules/ROOT/pages/java-se.adoc.

We just need to hold off on merging this until Open Liberty officially supports Java 17.

[2021-08-12 18:45] dmuelle commented on #4423
Updated draft that contains the information required for #4423

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/transaction-service.html

[2021-08-13 12:49] dmuelle commented on #4423
per email discussion with Jon, content for this feature is being included as a section in the doc that is being developed for #3348 . Closing this issue and tracking the work for both in that issue

[2021-08-13 12:50] dmuelle commented on #3348
Updated draft that contains the information required for #4423

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/transaction-service.html

[2021-08-13 12:51] dmuelle commented on #4423
actually, will keep this one ope since it might be linked from the epic documentation. Will transfer info from #3348 here and close that one

[2021-08-13 12:54] dmuelle commented on #4423
The following comments were originally in #3348, transferring them here and closing that issue:

This doc provides the conceptual foundation in the OL docs for the ID updates needed for  #4423 / [8968](https://github.com/OpenLiberty/open-liberty/issues/8968).

It interpolates information from the following KC /IBM Docs topics for WebSphere Liberty:
- [Administering the transaction service on Liber

[2021-08-13 12:57] dmuelle commented on #4423
current draft: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/transaction-service.html

[2021-08-13 12:59] #3348 closed, assigned to dmuelle

[2021-08-13 13:38] dmuelle opened #4550 "Document schemaGen command"
We need to document the `schemaGen` command for Open Liberty, which is run from `wlp/bin` and generates a server schema .xsd file. Should follow the convention of other command reference topics

the command help is not working currently, but partial help documentation is available if you run `schemaGen -help` from `wlp/bin/tools`

see https://github.ibm.com/websphere/liberty-docs/issues/2423  and

[2021-08-13 13:46] dmuelle commented on #2408
hold off on this issue, pending work from: https://github.com/OpenLiberty/docs/issues/4550

[2021-08-13 15:42] ManasiGandhi commented on #3350
@dmuelle I worked on your review. Here's the updated link https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html
## Intro
Some of the questions the intro could answer (in a sentence or two each):
- [x] what is a NoSQL database and why might you need to connect to one (use case)
- [x]  introduce MongoDB and CouchDB, with links to their doc
- [x]  Although. I agree that

[2021-08-13 16:51] dmuelle commented on #3350
Thanks Manasi, those changes look good. I found a few more things to address:

- [ ] NoSQL, or a 'not only SQL', database provides flexible schemas for potentially large amounts of structured, semi-structured, and unstructured data for faster development
-->
Not only SQL (NoSQL) databases provides flexible schemas for potentially large amounts of structured, semi-structured, and unstructured data.

[2021-08-13 18:06] ManasiGandhi commented on #3578
@dmuelle Can you content review this draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/auditUtility-auditReader.html?

[2021-08-13 18:50] dmuelle commented on #3578
# Content review

Looks good, just a few things to sort. You might compare against the [server package command](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/server-package.html) for consistency

- [ ] add to the toc and add a title to the page
- [ ] `The auditUtility auditReader command decrypts and unsigns an audit log that is encrypted and signed.`
The IBM docs sourc

[2021-08-16 20:07] mbroz2 commented on #3271
I'm wondering if we should make the title "Jakarta EE (formerly Java EE)" (but just keep it as-is in the ToC).  Otherwise, if we keep it as is (with just "Jakarta EE") then make sure the description/SOE stuff includes Java EE.

I'll leave the "Platform" vs "Set of Specifications" JEE description to @kwsutter

Should we expend first instance of "API"? Maybe even have a sentence on what an API (and

[2021-08-16 22:08] chirp1 commented on #3350
@dmuelle @ManasiGandhi

Hi David and Manasi,
I'm doing some spot checking and see a few more things beyond David's comments that I'd like to see changed. David, please work with Manasi on these comments. When Manasi has come up with the wording that the two of you agree on, I'd then like Manasi to slack me and David so that I can then review the wording.
- "without enabling any feature" doesn't se

[2021-08-16 23:39] leochr commented on #1695
@ManasiGandhi I am not sure what'll be the alternative. Manipulating the container after it's deployed goes against the container best practices. So yes, an application image should be built with the necessary artifacts.

[2021-08-17 12:59] dmuelle commented on #4423
[pr.txt](https://github.com/OpenLiberty/docs/files/7000092/pr.txt)

original draft of peer recovery info, which Jon provided by email

[2021-08-17 14:11] ManasiGandhi commented on #3350
@chirp1 I'm still working on this issue with @dmuelle . Will work on your comments.

[2021-08-17 14:23] dmuelle commented on #4439
Hi Ram, I've verified the draft against the changes outlined in this issue. Everything looks good except there is a typo to fix:

For more information, sesee the authFilter element.

Also, I think you should run Acrolinx on the entire topic (except for the code examples) one more time. If you need help or have any questions, let me know- thanks.

[2021-08-17 18:24] chirp1 commented on #3350
@ManasiGandhi Hi Manasi, I don't think I see your PRs for the issue above. Would you connect your PRs for this issue to this issue with the format of # sign followed by the PR? Thanks!

[2021-08-17 20:31] jjiwooLim opened #4559 "Update FeatureUtility command to include new options"
FeatureUtility Epic: https://github.com/OpenLiberty/open-liberty/issues/8986

- The FeatureUtility `installFeature` and `installServerFeatures` commands need to be updated with the new options.

|Option               |  Description|
----------------| -----------
|--featuresBom | Specify the Maven coordinate for the features BOM file to install user features. Ensure that the repository also contain

[2021-08-17 21:30] chirp1 commented on #4423
John has technically reviewed David's draft. The topic just has to go through peer review. I'm approving the https://github.com/OpenLiberty/open-liberty/issues/8968 epic.

[2021-08-17 23:34] ManasiGandhi commented on #4423
@dmuelle The draft looks good! A few edit suggestions,

# Content review

## Introduction

- [x] “The Open Liberty transaction service writes information to a transaction log for every global transaction that involves two or more resources, or that is distributed across multiple servers. You can configure the transaction service to control when and how database transactions are recovered after a s

[2021-08-18 14:12] kwsutter commented on #3271
Overall, very good.  Thanks for getting something like this into the docs!

- Second paragraph under Java Platforms.  I would move the second sentence about Jakarta EE to the end of the paragraph.  It doesn't flow in its current form.  The paragraph starts off talking about Java SE, then Jakarta EE, and then back to Java SE.  Moving that second sentence would help with the flow.

- I'm stumbling a

[2021-08-18 17:41] dmuelle opened #4564 "fix MicroProfile link in RESTful services doc"
in https://www.openliberty.io/docs/21.0.0.8/rest-microservices.html#_microprofile_and_rest MicroProfile" link is pointing at https://www.openliberty.io/docs/latest/reference/feature/microprofile.html instead of https://www.openliberty.io/docs/latest/reference/feature/microProfile.html. Need to fix the source and add a redirect for previous versions

[2021-08-18 18:34] dmuelle commented on #4564
sent redirect to draft in https://github.com/OpenLiberty/docs-playbook/pull/112

[2021-08-18 19:09] dmuelle commented on #4423
Thanks @ManasiGandhi - I've updated the draft with changes from your review:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/transaction-service.html

In general, I've avoided providing explanations of foundational terms that the reader is likely to be familiar with, per Jons email comment. However I did add a sentence or two to clarify in a couple places. @jonhawkes can you review the fo

[2021-08-19 14:29] brenthdaniel opened #4567 "Updates to open liberty docs for feature 9786"
Release: targeted for 21.0.0.9 but has a good chance of slipping to 21.0.0.10

https://openliberty.io/docs/21.0.0.8/reference/directory-locations-properties.html

Need to add `variables` directory under "servers->server_name" (same level as dropins, configDropins, etc.) The property is blank, and the description is "Default directory for files to be loaded as configuration variables. For more info

[2021-08-19 14:59] dmuelle commented on #4567
Hi @brenthdaniel, is  this epic for this issue: https://github.com/OpenLiberty/open-liberty/issues/9786 ?

[2021-08-19 16:19] dmuelle commented on #4567
perhaps I should have looked at the title 😅

[2021-08-19 16:22] dmuelle commented on #4497
@jonhawkes is already working on this on the runtime side- closing this issue

[2021-08-19 16:22] #4497 closed, assigned to dmuelle

[2021-08-19 18:35] ManasiGandhi commented on #3350
@chirp1 Sure Karen.

[2021-08-19 20:59] ManasiGandhi commented on #3578
@dmuelle I worked on your review. Here's the updated draft  https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/auditUtility-auditReader.html:

- [x] add to the toc and add a title to the page
- [x] `The auditUtility auditReader command decrypts and unsigns an audit log that is encrypted and signed.`
The IBM docs source says: `... that is encrypted, signed, or both.`, which i

[2021-08-20 08:47] ggam opened #4574 "Add searching capability (Duplicate- no ID work needed)"
The docs are fairly complete now, but it's difficult to find what you are looking for if you are not familiar with the page structure. I usually end up searching directly in Google.

My request is to add a search box on the documentation.

[2021-08-20 13:32] dmuelle commented on #3578
Looks good @ManasiGandhi - just a few small fixes:

- [ ]  add the topic to the toc navigation
- [ ] add the topic to the [Commands overview page](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/command-overview.html). See existing entries for reference
- [ ] Suggested edit:
`The command must specify the location of the audit log to be read as well as location of the outp

[2021-08-20 13:53] ManasiGandhi commented on #3350
@dmuelle I worked on your review. Here's the link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html

- [x] NoSQL, or a 'not only SQL', database provides flexible schemas for potentially large amounts of structured, semi-structured, and unstructured data for faster development
-->
Not only SQL (NoSQL) databases provides flexible schemas for pot

[2021-08-20 13:54] dmuelle commented on #4574
Hi @ggam - I agree! As the docs grow, we really need a search solution. We have [an issue open for this on the OL website backlog](https://github.com/OpenLiberty/openliberty.io/issues/1943) and have been evaluating solutions

[2021-08-20 14:28] dmuelle commented on #3350
Fixes look good! A few more suggestions:

- [ ] `You can use the CDI producer that you created to inject a MongoDatabase instance in the application:`

It might be unclear that this sentence introduces the next example, rather than explaining the first. I suggest putting it on its own line and adding "as shown in the following example:"

- [ ] in the blog post, the security examples are under a su

[2021-08-20 20:54] dmuelle commented on #4423
changes are on the vNext branch and will publish with the 21.0.0.9 docs release. Closing this issue

[2021-08-20 20:54] #4423 closed, assigned to dmuelle

[2021-08-20 20:55] dmuelle commented on #4564
changes are on vNext and will publish with the next docs release

redirect is on prod in docs playbook
https://github.com/OpenLiberty/docs-playbook/blob/prod/doc-redirects.properties

[2021-08-20 20:55] #4564 closed, assigned to dmuelle

[2021-08-23 10:04] ramkumar-k-9286 commented on #4534
@t-koman

Hi,
Please find below the links to the draft versions of the documents with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/password-encryption.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/securityUtility-encode.html

Please do confirm if they are fine.

Regards
Ramkumar

CC @dmuelle

[2021-08-24 13:09] tevans78 commented on #4567
#9786 isn't fully approved yet so moved to 21.0.0.10

[2021-08-24 20:25] ericglau opened #4587 "Update links in dev mode documentation"
Certain links in https://openliberty.io/docs/21.0.0.8/development-mode.html point to https://github.com/OpenLiberty/ci.maven/blob/master/docs/dev.md (or `#` sections within that).

The `master` branch of https://github.com/OpenLiberty/ci.maven is no longer up to date.  The default branch has been changed to `main`.  We should change all links that reference `master` to point to `main`, e.g. https:

[2021-08-24 21:22] chirp1 commented on #3350
@ManasiGandhi @dmuelle

Hi, Manasi, Thanks for making the updates. I looked over them and have comments on your updates.

- Previously I said "without enabling any feature" doesn't seem quite right. I also said to review the resources that Laura listed and reword/correct. I see that you removed the phrase instead of rewording/correcting it. I think, though, that a corrected phrase will add value t

[2021-08-26 17:16] ManasiGandhi commented on #3350
@chirp1 Thanks for the review. The draft is still in the working stage. I will work on your comments in my draft.

[2021-08-30 12:43] ramkumar-k-9286 commented on #4536
@dmuelle

Updated.
The draft document link:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-logging.html

Regards,
Ramkumar.

[2021-08-30 12:46] ramkumar-k-9286 commented on #4439
@dmuelle

Draft document link:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/feature/socialLogin-1.0.html

Regards,
Ramkumar

[2021-08-30 13:28] dmuelle commented on #4439
Hi Ram- the doc looks good! All the items mentioned in this issue have been addressed. However, when I reviewed the doc just now I noticed a problem that no one has mentioned yet, and that Acrolinx doesn't catch. In the following headings in the topic, there is some confusion about "log in" vs "login".

`Request log in with a social media ID`
`Request log in with a social media ID or with their ac

[2021-08-30 13:32] dmuelle commented on #4536
LGTM- i think this is ready to go to staging

[2021-08-30 20:18] dmuelle commented on #3271
Thanks so much for reviewing @kwsutter @mbroz2. I've updated the draft per your comments and detailed the changes I made below.

https://draft-openlibertyio.mybluemix.net/docs/latest/jakarta-ee.html

## Changes per Michals review

- mentioned "Jakarta EE, formerly known as Java EE" in the SEO title & description, as well as 1st sentence of the topic
- "Jakarta EE consists of a superset of Java SE"

[2021-08-31 16:59] t-koman commented on #4534
@ramkumar-k-9286 Ralm, I've reviewed these updates and they look good to me..... you can close.... thanks

[2021-08-31 21:18] dmuelle commented on #4550
epic for command wrapper

https://github.com/OpenLiberty/open-liberty/issues/18191

this doc should target whatever release that epic goes into

[2021-09-01 13:20] ramkumar-k-9286 commented on #4536
@kgibm , @wtlucy

Updates have been made to the document as suggested.

The draft document link:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-logging.html

Please confirm if this is fine.

Regards,
Ramkumar

[2021-09-01 14:13] kgibm commented on #4536
@ramkumar-k-9286 Looks good, thank you!

[2021-09-01 14:19] wtlucy commented on #4536
@ramkumar-k-9286 likewise, looks good to me!

[2021-09-01 16:35] ManasiGandhi commented on #3578
@dmuelle I worked on your review. Here's the link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/auditUtility-auditReader.html

- [x]  add the topic to the toc navigation
- [x] add the topic to the [Commands overview page](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/command-overview.html). See existing entries for refere

[2021-09-01 16:46] dmuelle commented on #4327
changes are on vNext and will publish with 21.0.0.9

[2021-09-01 16:46] #4327 closed, assigned to dmuelle

[2021-09-01 16:51] dmuelle commented on #4587
Thanks for catching this @ericglau - I've added the changes to our vNext branch and they will publish with the 21.0.0.9 docs release.

I also ran a grep to search for similar URLs across the docs. Was able to fix another topic, though several others remain as the GH repos they target have not yet updated master-->main.

[2021-09-01 16:51] #4587 closed, assigned to dmuelle

[2021-09-02 14:15] ManasiGandhi commented on #3350
@dmuelle I worked on your review. Here's the link to the updated doc https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html.

- [x] `You can use the CDI producer that you created to inject a MongoDatabase instance in the application:`

It might be unclear that this sentence introduces the next example, rather than explaining the first. I suggest putting it on its own l

[2021-09-02 14:58] ManasiGandhi commented on #3350
@chirp1 Here's the link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html.

- [x]  Previously I said "without enabling any feature" doesn't seem quite right. I also said to review the resources that Laura listed and reword/correct. I see that you removed the phrase instead of rewording/correcting it. I think, though, that a corrected phrase wi

[2021-09-02 16:13] dmuelle commented on #3350
Hi Manasi, the updates look good and I think mapping the user journey and pain points as guiding principles is a good strategy. I have a few suggestions for clarity and to hopefully improve the flow of the topic across the user journey.

- `A CDI producer can be modified according to your needs and you can configure the database driver by using MicroProfile Config.`

This sentence seems to be runn

[2021-09-02 18:09] ramkumar-k-9286 commented on #4536
Issue documented and moved to vNext. Will be available in 21.0.0.9
Proceeding to close the issue.

Regards,
Ramkumar

[2021-09-02 18:09] #4536 closed, assigned to ramkumar-k-9286

[2021-09-02 18:09] ramkumar-k-9286 commented on #4534
Issue documented and moved to vNext. Will be available in 21.0.0.9
Proceeding to close the issue.

Regards,
Ramkumar

[2021-09-02 18:09] #4534 closed, assigned to ramkumar-k-9286

[2021-09-02 18:10] ramkumar-k-9286 commented on #4439
Issue documented and moved to vNext. Will be available in 21.0.0.9
Proceeding to close the issue.

Regards,
Ramkumar

[2021-09-02 18:10] #4439 closed, assigned to ramkumar-k-9286

[2021-09-02 20:35] ManasiGandhi commented on #3350
@dmuelle I worked on your review. Here's the updated link https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html

[2021-09-02 22:34] chirp1 commented on #3350
@ManasiGandhi @dmuelle Hi Manasi, we discussed your topic on the 1PM Content review call today.
The updates that you made based on the discussion on the call look good to me. The items from the call that you made updates for are as follows.
- The two sentence introductory paragraph needs mongoDB and cloudDB added back in, but indicating that they are examples.
- The stabilization information for m

[2021-09-03 13:42] dmuelle commented on #3350
LGTM, thanks!

[2021-09-03 15:47] ManasiGandhi commented on #3350
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.9/access-nosql-databases.html

[2021-09-03 15:47] #3350 closed, assigned to ManasiGandhi

[2021-09-03 15:48] ManasiGandhi commented on #3578
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.9/reference/command/auditUtility-auditReader.html

[2021-09-03 15:48] #3578 closed, assigned to ManasiGandhi

[2021-09-04 03:51] mbroz2 commented on #3271
Looks good, the only thing I would consider tweaking is the structure/flow of these two paragraphs:

As it feels like JVM is talked about half in the first and half in the second, so I think the two JVM parts need to be combined.
Maybe something like:

Also, I feel like we should formally document the tables from "Updating Open Liberty features in server configurations" section in https://openlibe

[2021-09-07 12:51] dmuelle commented on #4574
closing this issue as we already have an issue for search on the website backlog, and the strategy/decision for how to provide will be worked out there

[2021-09-07 12:51] #4574 closed, assigned to nobody

[2021-09-07 14:57] una-tapa commented on #3144
Hi, Thanks for looking.  It has been a year since this issue was opened.  Customer seems to be very happy with the Performance cookbook so I am closing this issue.

[2021-09-07 14:57] #3144 closed, assigned to ManasiGandhi

[2021-09-07 17:36] dmuelle opened #4626 "Create a reference page for Jakarta EE9 feature updates"
we should formally document the tables in [this blog post](https://openliberty.io/blog/2021/03/17/eclipse-transformer.html) under the "Updating Open Liberty features in server configurations" section to align with the OL jakarta EE 9 release, currently targeted for 20.0.0.11. Note that references to 9.0 in the table need to be replaced with 9.1

- [ ]  reproduce the tables and include the introduc

[2021-09-08 15:57] dmuelle commented on #3271
Thanks @mbroz2 - I've updated the draft to reflect your suggestion for the two JVM/JRE/JCL paragraphs:

https://draft-openlibertyio.mybluemix.net/docs/latest/jakarta-ee.html

For the "Updating Open Liberty features in server configurations" info, I've opened an issue for a separate doc (#4626 ). This doc will link to that one once it publishes.

Are any further edits needed for this Jakarta topic?

[2021-09-08 21:48] mbroz2 commented on #3271
LGTM, we can wait for GA of EE9.1 support, but there's also not really a good reason to wait until then, which makes me think we should just publish this topic with 21.0.0.10 (since the content is already applicable to not only Jakarta EE 8, but also our betas).

So unless @kwsutter or @jhanders34 have strong feelings otherwise, I would just publish this with the next release

[2021-09-09 14:34] dmuelle opened #4630 "Data sources landing page"
See #1960 for other landing pages.

[2021-09-09 14:41] dmuelle opened #4631 "Update command pages organization"
- [x] make commands overview the top level (L1) landing page, reorganize as necessary to point to new L2 pages
- [x] create L2 pages for each command group (feature, server, etc)
- [x] include the "modifications for featureUtility" on the L2 featureUtility page
- [x] make existing command pages L3

[2021-09-10 18:36] dmuelle commented on #375
discussed this issue with @andymc12 :
"....  it's relatively uncommon.  Also, I've resisted documenting it because it is a CXF property.  So if users specify it, then upgrade to JAX-RS 3.0 (which uses RESTEasy), that property will have no effect.... We have been slowly adding these types of implementation-specific properties to a fully-supported IBM property list "

Expect that these properties wi

[2021-09-10 18:36] #375 closed

[2021-09-13 19:43] ramkumar-k-9286 commented on #4567
Hi @brenthdaniel

I have a few doubts which I wanted to clarify with you.

1. In the [default-environment-variables](https://openliberty.io/docs/21.0.0.8/reference/default-environment-variables.html) page, while adding the environment variable `VARIABLE_SOURCE_DIRS`, in the description there is mention of another variable `WLP_CONFIG_DIR`. This has not been mentioned on the default-environment-var

[2021-09-13 20:11] brenthdaniel commented on #4567
1. You're right, that should be `server.config.dir` -- I updated the original description.
2. There is no syntax for what's in the file -- It is just a text string that will be used as the value for the variable.
3. If you think it makes more sense to combine the examples for ${httpPort} and ${ports/httpPort} that's fine, but I think it's worthwhile to point out how both scenarios work (either a s

[2021-09-14 12:57] dmuelle commented on #3271
@mbroz2 - if you're satisfied with this issue from a technical perspective, can you add the `technical reviewed` label? I can then get it queued for peer review and ready to publish for 21.0.0.10. Thanks!

[2021-09-14 21:43] ManasiGandhi commented on #676
@ayoho I made the updates per your suggestion https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/feature/openidConnectServer-1.0.html Could you review the draft for the updates?

[2021-09-15 13:37] ManasiGandhi commented on #676
Adam's comment from slack,

"Changes look good"

[2021-09-15 16:10] ManasiGandhi opened #4645 "Update Forwarding logs to Logstash with Logstash Collector"
Logstash collector garbage collection events are obtained from IBM Health Center in IBM JDKs. IBM JDKs usually include IBM Health Center with the exception of IBM Semeru JDKs.

Update https://www.openliberty.io/docs/21.0.0.9/forwarding-logs-logstash.html topic.

Reference link:
https://www.ibm.com/docs/en/was-liberty/nd?topic=liberty-performing-microprofile-health-checks

[2021-09-15 16:13] ManasiGandhi commented on #4645
Refer to this Liberty issue https://github.ibm.com/websphere/liberty-docs/issues/2436#

[2021-09-15 16:28] kgibm opened #4646 "Document new %{remote}p access log option"
As part of [epic #18132](https://github.com/OpenLiberty/open-liberty/issues/18132), additional documentation would be needed on https://www.openliberty.io/docs/latest/access-logging.html

The proposal is to document the new option `%{remote}p` in the "Log format option" table. Mimicking [httpd documentation](https://httpd.apache.org/docs/trunk/mod/mod_log_config.html#formats) would be something li

[2021-09-15 19:36] dmuelle commented on #676
Hi Manasi- the examples look good. Just a couple minor recommendations:

With this configuration, users need to authenticate once to access the Open Liberty resources such as HTML, JavaServer Pages (JSP) files, and servlets.
--->
With this configuration, users need to authenticate only once to access Open Liberty resources such as HTML, JavaServer Pages (JSP) files, and servlets.

Use a database i

[2021-09-16 13:06] ManasiGandhi commented on #676
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/feature/openidConnectServer-1.0.html

[2021-09-16 13:10] #676 closed

[2021-09-16 14:40] ManasiGandhi commented on #3271
# Peer review

@dmuelle The topic looks good! A few edit suggestions

## Title

- [x] The title `Jakarta EE` sounds generic. As this topic is in Open Liberty, could you make the title more specific to the Open Liberty context, or maybe `Jakarta EE overview`
## Short description

- [x] The short description needs to mention somewhere that Open Liberty is an implementation of the Jakarta EE specific

[2021-09-16 19:02] dmuelle commented on #3318
Hi @wtlucy, initial draft is now available for review:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/virtual-hosts.html

[2021-09-16 19:44] ramkumar-k-9286 commented on #4567
Hi @brenthdaniel

Please find below the links to the draft versions of the documents with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/directory-locations-properties.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/default-environment-variables.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/config/serve

[2021-09-16 19:58] ramkumar-k-9286 commented on #4559
Hi @jjiwooLim @bensonlatibm

Please find below the links to the draft versions of the documents with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/command/featureUtility-installFeature.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/command/featureUtility-installServerFeatures.html

https://draft-openlibertyio.mybluemix.net/docs

[2021-09-16 20:15] bensonlatibm commented on #4559
Changes look good to me!

[2021-09-17 11:32] ramkumar-k-9286 commented on #3125
@dmuelle

Could not find associated sections for the following in **nav.adoc**:
1. Server configuration - https://draft-openlibertyio.mybluemix.net/docs/ref/config/
2. Features - https://draft-openlibertyio.mybluemix.net/docs/ref/feature/
3. Commands - https://www.openliberty.io/docs/latest/reference/command/command-overview.html

Regards,
Ramkumar

[2021-09-17 13:09] dmuelle commented on #4567
This feature might not make the 21.0.0.10 release. I think we can continue with the review process but please hold off on sending any changes to staging until we confirm the target release. Thanks

[2021-09-17 13:17] ramkumar-k-9286 commented on #4567
Noted.

[2021-09-17 13:22] chirp1 commented on #4567
@ramkumar-k-9286 Hi Ram, whether the epic for this issue, and therefore this issues, goes into 21.0.0.10 will be decided on September 22.

[2021-09-17 14:40] brenthdaniel commented on #4567
@ramkumar-k-9286 Looks good to me

[2021-09-17 14:43] dmuelle commented on #3271
Thanks for reviewing @ManasiGandhi - I have updated the file per your review,  with the following exceptions:

An earlier reviewer requested a brief definition for API. I agree most readers will already know this but this is a high-level doc so I think it's appropriate.

I think it's only being flagged because acrolinx is counting "Java SE" and "Java ME" as two words each instead of one compound n

[2021-09-17 20:06] dmuelle commented on #3318
@wtlucy A few questions:

This seems to suggest that a virtual host _always_ uses a wildcard. Is that the case? Is would it be more accurate to say something like: `The virtual host configuration accepts  a wildcard value (*) for the hostname for its virtual host entries.`

What does  "default alias" mean here? Is it the default alias for `default_host` ? Or for any virtual host that you dont delc

[2021-09-17 21:11] wtlucy commented on #3318
The virtual host configuration uses wildcard entries with the ports for its virtual host entries.
This is confusing as written. A wildcard is not *always* used. These are the default aliases, so I'm wondering if that was the intention of this section. Your proposed replacement makes more sense to me.

    The default alias is *:80, which uses an external port that is not secure.

This covers both

[2021-09-20 14:38] dmuelle opened #4669 "Backport runnable-jar-files.adoc file name change to 20.0.0.7 and 20.0.0.8"
per @mbroz2 [slack comment](https://ibm-cloud.slack.com/archives/C017Z9D5WJZ/p1632145903000100):

back in 20.0.0.9, three files were renamed, however only the server and feature overview file name changes were backported to 20.0.0.7 and 20.0.0.8, and it looks like modules/ROOT/pages/runnablejarfiles.adoc was missed.  This isn't much of an issue from an end-user pov, however the canonical for those

[2021-09-20 14:40] dmuelle commented on #4669
- [x] backport runnablejarfiles.adoc--> runnable-jar-files.adoc filename change to 20.0.0.7 and 20.0.0.8
- [x] create redirect for runnablejarfiles.adoc--> runnable-jar-files.adoc

[2021-09-20 15:23] dmuelle opened #4670 "Update security vulnerability docs for 21.0.0.10 #4667"
see https://github.com/OpenLiberty/docs/pull/4667

[2021-09-20 15:23] dmuelle commented on #4670
awaiting confirmation, if the changes dont go in for 21.0.0.10, need to revert the previous PR

[2021-09-20 16:48] dmuelle commented on #3417
Re-opening this issue as we are publishing a topic on Virtual hosting ( #3318) with 21.0.0.10. Need to update the link in the network hardening doc, but also add a section for securing virtual hosts

[2021-09-20 21:44] dmuelle commented on #3318
Thanks @wtlucy. Draft is updated per our discussion:

https://draft-openlibertyio.mybluemix.net/docs/latest/virtual-hosts.html

When you have a chance, let me know if the updates look ok or if any further edits are needed. If not, you can add the `technical reviewed` label to this issue to sign off.

[2021-09-21 14:24] dmuelle opened #4677 "Document TBASIC and add section for log formats"
A new log format was added in 21.0.0.9, but it was only documented in the release blog. We need to update the [Log and trace configuration page](https://www.openliberty.io/docs/latest/log-trace-configuration.html) to document the new TBASIC format. We should also add a section to this topic that explains the log formats and provides an example. Currently, these formats are not documented in OL and

[2021-09-21 14:24] dmuelle commented on #4677
- [x] Document the TBASIC log format in the[ Configuration settings by source table on the Log and trace configuration page](https://www.openliberty.io/docs/21.0.0.9/log-trace-configuration.html#settings). Add TBASIC as a format option  in the description field for `consoleFormat`, `messageFormat`, and `traceFormat`
- [x] Add a section to the log and trace page for "Log formats". This section shou

[2021-09-21 15:57] dmuelle opened #4680 "add literal format to port numbers table"
add `l` attribute to the 2nd column of table on `default-port-numbers.adoc` so code examples preserve line breaks

[2021-09-22 13:39] wtlucy commented on #3318
Thanks for making these changes @dmuelle. I've just gone over the updated draft and have a few more (new) requests:
- The term _DNS alias_ is used a few times, and I don't think it's really correct in context. Can we perhaps change that term to _host alias_?
- _...is the TCP/IP hostname and port number combination that is used to request the servlet..._ -> _..is the TCP/IP hostname and port number

[2021-09-22 19:39] dmuelle commented on #3318
Thanks for reviewing @wtlucy - I've updated the draft per your comments:

https://draft-openlibertyio.mybluemix.net/docs/latest/virtual-hosts.html

- [x]  The term _DNS alias_ is used a few times, and I don't think it's really correct in context. Can we perhaps change that term to _host alias_?

- [x] ...is the TCP/IP hostname and port number combination that is used to request the servlet..._ ->

[2021-09-22 20:20] dmuelle opened #4687 "updates for springBootUtility commands"
https://www.openliberty.io/docs/21.0.0.9/reference/command/springbootUtility-help.html

- italicize _path_to_liberty_
- remove "actionName" section

https://www.openliberty.io/docs/21.0.0.9/reference/command/springbootUtility-thin.html
- add exit codes

[2021-09-23 13:39] bensonlatibm commented on #4559
feature just missed 21.0.0.10.  it will be in 21.0.0.11 instead.

[2021-09-23 13:52] ramkumar-k-9286 commented on #3343
After discussions with Chuck, Jared & Tracy:

Shortlist of the Convenience features are:
Jakarta EE Platform 9.1
Jakarta EE Web Profile 9.1
Jakarta EE Application Client 9.1
ejb-3.2 and the Jakarta version, (They provide no unique function, only enable other features.)
enterpriseBeans-4.0 (They provide no unique function, only enable other features.)

These will be included in the document https:/

[2021-09-23 14:43] dmuelle commented on #3343
since the Jakarta features won't be available until Open Liberty supports EE 9.1, we should not publish this doc until then. 9.1 is currently targeted for 21.0.0.11, but might move out to 21.0.0.12. The work can continue on draft, just need to wait to push anything to staging.

[2021-09-23 17:51] dmuelle commented on #4626
Hey team! Please [add your planning poker estimate](https://app.zenhub.com/workspaces/Open-Liberty-Docs-backlog-5c7031f61d4580192beb4070/issues/OpenLiberty/docs/4626?planning-poker) with ZenHub @ManasiGandhi @ramkumar-k-9286

[2021-09-23 20:47] dmuelle opened #4696 "Add a "JAX-RS" section to the RESTful microservices page"
The RESTful microservices page should be the top-level page of the RESTful services section, but we need to add some info about JAX-RS applicatons. Work with the SME to determine what makes sense. At minimum, in brief:

- explain JAX-RS as EE spec, what types of function it enables
- typical use cases, context
- how open Liberty helps develop and run JAX-RS apps and services

SME @andymc12

[2021-09-23 20:47] dmuelle commented on #4696
needed for the Landing pages epic

[2021-09-23 21:38] dmuelle commented on #4669
updated filenames and redirects, changes will publish with 21.0.0.10 release or the next time the prod site rebuilds

[2021-09-23 21:38] #4669 closed, assigned to dmuelle

[2021-09-24 19:24] wtlucy commented on #3318
@dmuelle the draft looks good to me now - thanks!

[2021-09-27 14:23] ramkumar-k-9286 commented on #4687
Had a conversation with **Tom Watson**, with regards to exit codes for springbootUtility-thin.html

Info Shared via slack:

**Tom Watson**
0 - OK status (it worked)
1 - A general error occurred
2 - Specified application could not be found.
3 - Specified application target file is an existing directory.
4 - Specified library cache target directory is an existing file.
5 - Error making the required

[2021-09-27 15:56] dmuelle commented on #3324
Possible SMEs: @tjwatson @NottyCode @gcharters

[Product extension](https://www.ibm.com/docs/en/was-liberty/nd?topic=overview-product-extension):
- High level topic about extending the runtime, how extensions figure into the directory structure
- why you might want to develop and feature
- how to use a feature/ extension
- points to  `Developing a Liberty feature manually` topics for info on devel

[2021-09-27 21:38] ManasiGandhi commented on #3318
@dmuelle The doc looks good! Had a few edit suggestions.
# Peer review

- [x] Good use of the example for explaining the concepts. You could use` customer.example.com` instead of `customer.exampleco.com`, also for employee. Also, are `customer.exampleco.com` and `employee.exampleco.com` endpoints or urls, as the only differentiator between them is the host? An endpoint is usually something like ex

[2021-09-28 11:23] ramkumar-k-9286 commented on #3343
@dmuelle
i was doing some research on wikipedia regarding EJB. https://en.wikipedia.org/wiki/Jakarta_Enterprise_Beans
they are calling it Jakarta Enterprise beans. Just a bit confused on this.

so from our list:
ejb-3.2 and the Jakarta version, (They provide no unique function, only enable other features.)
enterpriseBeans-4.0 (They provide no unique function, only enable other features.)

should t

[2021-09-28 14:17] ManasiGandhi commented on #3392
Teddy's comment on Troubleshooting SSO
`Hi Manasi. This looks good. Please check also with @Ut Le or @areddy.`

[2021-09-28 14:33] ManasiGandhi commented on #3392
Jesse's comments on Troubleshooting LDAP,

- `The section about "unable to connect... due to exhaustion of usable sockets" seems misleading when you say "Make sure that the socket is not used and try again". They wouldn't know which socket to make sure is not used b/c the client is going to use an ephemeral port to connect to the LDAP server. Is this really a problem that customers hit? If so, the

[2021-09-28 14:34] ManasiGandhi commented on #3392
Kristi Peterson comments on Troubleshooting LDAP
`We do try to renew shortly before the credentials have expired or when they are expired which is why I used expiring. But yes, the potential slower performance would be when we're attempting the auto-renew which would be shortly before expiration or when expired. Maybe something like When Kerberos credentials are in a ccache file, Open Liberty atte

[2021-09-28 14:59] ManasiGandhi commented on #3392
Alaine Demyers comments on Troubleshooting SSL

`I don't think You might get an exception if you use an LDAP user registry with sslEnabled
and a sslRef value is not specified is true anymore.  I think if sslEnabled is specified and sslRef is not the SSL default is used.` Removed the content as not applicable.

Later,
`Looks good`

[2021-09-28 17:24] dmuelle commented on #3318
Thanks for reviewing @ManasiGandhi - I've made all the suggested changes except:

The KC doc is confusing on this- these are not default aliases. They are examples of possible alias configurations that explain whether the config uses internal/external or secure/insecure ports. ie, if you specify `*:9080` as an alias config, the alias uses the internal port that is not secure.

https://draft-openli

[2021-09-28 21:23] dmuelle commented on #3392
@dmuelle I worked on your review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/troubleshooting.html

## Peer review

Content is looking good but I think the formatting can be improved to remove some errors and make the content more readable. Let me know if you have any questions re description list syntax- I think it will make the page easier to read

### Global comments

- [x]  add a s

[2021-09-30 08:39] ramkumar-k-9286 commented on #4687
For Review:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/command/springbootUtility-help.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.10/reference/command/springbootUtility-thin.html

CC @dmuelle

[2021-09-30 13:00] dmuelle commented on #4687
HI @ramkumar-k-9286 - The changes look good. There is one other fix to make, which I missed when I opened this issue (sorry).
on the help page, the intro statement should be a complete sentence, as it is on other command pages:

Prints help information for the `springBootUtility` command, with details about its actions and options.
--->
The `springBootUtility help` command prints help information

[2021-09-30 13:06] dmuelle commented on #4631
Hi @ramkumar-k-9286 - one other command change to make. On the [server help command page](https://www.openliberty.io/docs/21.0.0.9/reference/command/server-help.html), the formatting for the intro statement is messed up- can you fix  the formatting so it displays correctly? LMK if you have any questions

[2021-09-30 14:24] dmuelle commented on #2610
Jakarta EE 9 moved to 21.0.0.12

[2021-09-30 14:26] dmuelle commented on #3343
Jakarta EE 9 moved to 21.0.0.12- can continue working the draft for this issue but do not publish until 21.0.0.12

[2021-09-30 14:27] dmuelle commented on #4626
Jakarta EE 9 moved to 21.0.0.12- continue working draft buut do. not publish until 21.0.0.12

[2021-09-30 17:48] ManasiGandhi commented on #4626
Possible SMEs @mbroz2, @jhanders34

[2021-09-30 19:35] #3349 closed, assigned to nobody

[2021-09-30 19:36] #2772 closed, assigned to una-tapa

[2021-09-30 19:40] #3192 closed, assigned to nobody

[2021-09-30 19:41] dmuelle commented on #266
we now have a [guide for SSE](https://www.openliberty.io/guides/reactive-messaging-sse.html)

[2021-09-30 19:41] #266 closed

[2021-09-30 19:46] #267 closed

[2021-09-30 19:47] dmuelle commented on #4631
found this in an older issue re command pages:

Add [source,sh] to each of the server command usage examples (cos they're shell commands)

[2021-09-30 20:06] teddyjtorres opened #4730 "Move OpenID Connect Client topics to openliberty.io"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

Tentative release is 21.0.0.12.

Creating here per @chirp1 Karen's request in https://github.ibm.com/websphere/liberty-docs/issues/2410.

For Epic https://github.com/OpenLiberty/op

[2021-09-30 20:14] dmuelle commented on #2942
see https://github.ibm.com/websphere/liberty-docs/issues/2475

[2021-10-01 18:11] dmuelle opened #4739 "Improve description of Jakarta EE diagram"
per slack discussion with @chirp1, improve the text description of the diagram in  the Jakarta EE overview topic

[2021-10-01 18:14] dmuelle commented on #4739
@chirp1 comments from slack:

The Jakarta EE, Java SE in the diagram is still a little merky since Java SE is a platform and so is Jakarta EE. You might just mention the components that are in the diagram.

You could possibly put the diagram after the first paragraph and then use the remaining paragraphs as the description of the diagram.

[2021-10-01 18:15] dmuelle commented on #3271
changes on vNext, doc will publish with 21.0.0.10

[2021-10-01 18:15] #3271 closed, assigned to dmuelle

[2021-10-01 18:15] dmuelle commented on #3318
changes on vNext, doc will publish with 21.0.0.10

[2021-10-01 18:15] #3318 closed, assigned to dmuelle

[2021-10-01 18:16] dmuelle commented on #4545
changes on vNext, doc will publish with 21.0.0.10

[2021-10-01 18:16] #4545 closed, assigned to gjwatts, dmuelle

[2021-10-01 18:22] dmuelle commented on #3058
The doc generator is now updated to fix these issues programmatically

[2021-10-01 18:22] #3058 closed, assigned to dmuelle

[2021-10-01 18:23] dmuelle commented on #4670
changes on vNext, doc will publish with 21.0.0.10

[2021-10-01 18:23] #4670 closed, assigned to dmuelle

[2021-10-01 18:24] dmuelle commented on #3417
changes on vNext, doc will publish with 21.0.0.10

[2021-10-01 18:24] #3417 closed, assigned to dmuelle

[2021-10-01 19:37] dmuelle commented on #4680
changes on vNext, published with 21.0.0.10

[2021-10-01 19:37] #4680 closed, assigned to dmuelle

[2021-10-05 11:12] ramkumar-k-9286 commented on #4687
For Review:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-help.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-thin.html

Should I share this issue with Tom for review (`Technical Reviewed`)? Was not sure as you opened the issue.

CC @dmuelle

[2021-10-05 13:11] dmuelle opened #4746 "Deploying springBoot applications"
Found this comment from @tjwatson in a closed issue

The topic was never moved over. We also have this comment from Laura/ Alasdair in the KC tracking sheet:

Analyze the entire [Deploying a Spring Boot application to Liberty](https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-deploying-spring-boot-application) section and see what might go into a single OL topic in the deployment section,

[2021-10-05 13:51] dmuelle commented on #4739
Hi @chirp1 , I've updated the diagram description and the preceding section. I reworked the section to focus only on Java SE and Jakarta EE, since Java ME Java FX aren't functionally relevant to Jakarta EE or Open Liberty. Let me know what you think:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/jakarta-ee.html#_java_se_and_jakarta_ee

[2021-10-07 16:01] dmuelle commented on #2610
Also create a Java EE page- per slack conversation with @mbroz2 , we will have separate landing pages for Java and Jakarta APIs

[2021-10-07 20:01] Channyboy opened #4762 "Update "Metrics reference list" with information on filtering PMI data (for perf)."
Document: Metrics reference list
http://openliberty.io/docs/21.0.0.6/metrics-list.html

FROM:
MicroProfile Metrics 2.3 explicitly enables the feature:monitor-1.0[display=Performance Monitoring] feature.
If you use a version earlier than 2.3 of the MicroProfile Metrics feature, then you must also enable the Performance Monitoring feature.

TO:
When using MicroProfile Metrics with the feature:monito

[2021-10-08 10:27] ramkumar-k-9286 commented on #4646
Making few corrections to the document other than the requests :

Based on discussions with Kevin : (Shared below)
**Ramkumar:** Kevin, wrt
|%q
|Output the query string with any password escaped
can we replace escaped with omitted?
**Kevin:**
I guess it depends on what "omitted" means. They are in a sense omitted since they are replaced with stars, but in another sense they are still there, but ar

[2021-10-08 20:49] ramkumar-k-9286 commented on #4646
More Corrections were made to the document, the proposed changes made on the suggestion of David, were to improve the overall look and feel of the document.

[2021-10-11 08:54] ramkumar-k-9286 commented on #4646
Hi Kevin @kgibm

Updates have been made to the document as suggested. Please find the link to the draft document below:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/access-logging.html

On review, if you are ok with the changes made to the document, could you add the `Technical Reviewed` label.

Regards,
Ramkumar.

CC @dmuelle

[2021-10-11 11:34] ramkumar-k-9286 commented on #3343
Communication with all the SME are documented below: **(FOR REFERENCE)**

Ramkumar K  9:29 PM
We have a docs issue to add some information about the Open Liberty convenience features to the features overview topic.
I know we have convenience features for MicroProfile and several for Java EE.
Are there any others? And is the term "convenience feature" the best thing to call these features?
Here are

[2021-10-11 14:29] kgibm commented on #4646
@ramkumar-k-9286 Looks great, thanks!

[2021-10-11 22:10] ManasiGandhi commented on #4645
Felix comment in Slack
`Logstash Collector in OpenLiberty doesn't support garbage collection events.  That function is only available in WebSphere Liberty.`

[2021-10-12 13:19] #4645 closed, assigned to ManasiGandhi

[2021-10-12 17:54] dmuelle commented on #4687
add title attributes to tables on `thin` command. See `server create` file for reference

[2021-10-13 14:26] dmuelle opened #4775 "Add User registry section to Security hardening doc."
we already have this statement under [Security hardening: Access Control](https://openliberty.io/docs/20.0.0.12/server-configuration-hardening.html#access-control)

`User registries that are safe for production: Basic and Quick Start Security user registries are useful for development environments, but they are not acceptable for readiness testing, quality assurance, or production use. For product

[2021-10-13 14:45] Emily-Jiang opened #4879 "Only add a couple of lines to say namespace update"
Add a couple of line is to be added to the doc regarding javax to jakarta namespace update

[2021-10-13 15:44] dmuelle commented on #4696
Hi @andymc12 - when you have a moment, can you review the updates to the REST services page to make it a more suitable top-level page for this section of the doc? I made the following changes

- added section for JAX-RS
- added section for REST clients
- removed some of the API doc info that was duplicated on the API docs topic in this section

https://draft-openlibertyio.mybluemix.net/docs/latest

[2021-10-13 16:09] andymc12 commented on #4696
Hi @dmuelle - the changes look good to me!  Thanks!

[2021-10-14 19:01] ramkumar-k-9286 commented on #4567
Hi @brenthdaniel

As you are aware these updates were made for 21.0.0.10 but got pushed to 21.0.0.11.

Just wanted to make sure that there are no additional changes/modifications included as a part of the 21.0.0.11 release.

Please find below the links to the draft versions of the documents with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/directory-lo

[2021-10-15 12:58] dmuelle commented on #4646
### Peer review

Two minor comments:
- in the field for `%B`, need a period between the definition clause and the subsequent sentence:
`The response size in bytes, excluding the headers. If no value is found, 0 is printed instead of -.`
- The modifying clause in this sentence is vague:
`The current time when the message to the access log is queued to be logged in normal NCSA format`

does  `in nor

[2021-10-15 13:15] dmuelle commented on #4631
## Peer review

### commands landing page

Various commands are available for use in Open Liberty. You can use commands to complete tasks such as installing, securing, and administering the Open Liberty server.
--->
Various commands are available in Open Liberty. You can use commands for tasks such as installing, securing, and administering the Open Liberty server from a command-line interface.

Y

[2021-10-15 13:37] dmuelle commented on #4559
## peer review

### Modifications for featureUtility commands

- the new property that @jjiwooLim requested in the issue description is missing from the page. Add the property as described in this issue to the end of the page. For clarity, create subject headings for the last two examples: `Define custom repositories` and `Install user features`
- the `http_proxy` and `https_proxy` environment var

[2021-10-15 15:59] dmuelle commented on #4739
changes are on vNext, will publish with 21.0.0.11

[2021-10-15 15:59] #4739 closed, assigned to dmuelle

[2021-10-15 15:59] dmuelle commented on #4696
changes are on vNext, will publish with 21.0.0.11

[2021-10-15 15:59] #4696 closed, assigned to dmuelle

[2021-10-15 15:59] dmuelle commented on #2611
changes are on vNext, will publish with 21.0.0.11

[2021-10-15 16:00] #2611 closed, assigned to dmuelle

[2021-10-15 16:00] dmuelle commented on #2610
changes are on vNext, will publish with 21.0.0.11

[2021-10-15 16:00] #2610 closed, assigned to dmuelle

[2021-10-17 02:38] chirp1 commented on #4646
@dmuelle @ramkumar-k-9286

Hi David,
- The opening paragraph (short description) needs to follow the short description guidelines, which  are linked to in the peer review cheat sheet. Please point Ram to that info and also work with him as necessary to update the short description. Basically, the short description should be two sentences. We don't want a colon in the short description, indicating

[2021-10-18 14:44] kgibm commented on #4646
First, I think there is a doc bug. The page says:

Running a test with both `%(t)W` and `%{t}W` shows that only the latter works with curly braces rather than parantheses (as I would expect):

[code]

Therefore, I think it should be changed to `%{t}W`. Copying @mrsaldana to double check if I missed something.

Regarding the question:

In normal NCSA format means the actual format of what's printed

[2021-10-18 17:45] dmuelle commented on #3392
Changes look good but I see a few more things that need a fix:

- [ ] in the nav, the topic is nested in a heading with the same title. Remove the nesting so only the topic title is in the nav

### Troubleshooting LDAP

- [ ] the 3rd bullet under "Login, authentication, or authorization is slow for LDAP or a federated repository."

is the same information as whats there for to "Occasional connecti

[2021-10-18 18:28] dmuelle commented on #4567
## Peer review:
[Directory locations and properties](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/directory-locations-properties.html)

The description for `+- variables` says: "For more information about this file, see the Server configuration overview.", but `variables` is a directory, not a file. Also, I think this should directly to the `Variable substitution precedence` sec

[2021-10-19 11:07] ramkumar-k-9286 commented on #4687
@dmuelle

For Review:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-help.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-thin.html

[2021-10-19 12:47] dmuelle commented on #4687
looks good to me- when you have a chance, open the PR to staging

[2021-10-19 13:04] dmuelle commented on #4559
please add the following examples to the "Usage Examples" sections for installFeature and installServerFeatures, respectively

- `featureUtility installFeature userFeature-1.0 --featuresBom=my.user.features:myBOM:<runtime-version>`
- `featureUtility installServerFeatures serverName --featuresBom=my.user.features:myBOM:<runtime-version>`

introduce each example with a concise description, similar t

[2021-10-19 15:49] idlewis commented on #1695
"Your application can remotely connect...."
This sentence is misleading I think. Normally, 'your application' would be running on the liberty server, and would be the thing that is being managed.
I might just say 'You can remotely connect...'

"An application deployed on Open Liberty has unrestricted access to its MBeanServer directory"
This sentence seems out of place.  It is unrelated to how you

[2021-10-19 19:11] ManasiGandhi commented on #3392
@dmuelle I worked on your review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/troubleshooting.html

- [x] in the nav, the topic is nested in a heading with the same title. Remove the nesting so only the topic title is in the nav
### Troubleshooting LDAP
- [x] the 3rd bullet under "Login, authentication, or authorization is slow for LDAP or a federated repository."
is the same informati

[2021-10-20 06:41] ramkumar-k-9286 commented on #4646
@dmuelle

Peer Review comments incorporated:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/access-logging.html

[2021-10-20 06:48] ramkumar-k-9286 commented on #4631
@dmuelle

Peer Review comments incorporated:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/command-overview.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-commands.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/server-commands.html

ht

[2021-10-20 09:32] ramkumar-k-9286 commented on #4567
@dmuelle

Peer Review Incorporation: in 2 documents

directory-locations-properties.adoc
server-configuration-overview.adoc

https://github.com/OpenLiberty/docs/pull/4816

[2021-10-20 09:44] ramkumar-k-9286 commented on #4559
@dmuelle

Peer review incorporation with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-installFeature.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-installServerFeatures.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-modifications.ht

[2021-10-20 12:55] dmuelle commented on #4631
LGTM- we can PR this to staging- nice work!

[2021-10-20 13:00] dmuelle commented on #4646
looks good, just one more change for parallelism with other values:

NCSA format of the start time of the request
--->
The start time of the request, in NCSA format

[2021-10-20 16:50] ramkumar-k-9286 commented on #4559
@dmuelle

Peer review incorporation with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-installFeature.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-installServerFeatures.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-modifications.ht

[2021-10-20 18:09] ramkumar-k-9286 commented on #4646
@dmuelle

Peer Review comments incorporated:

Please find the draft links for the documentation:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/access-logging.html

[2021-10-20 18:21] dmuelle commented on #1695
## Peer review

I think the topic is looking good. However,  too much of it is focused on role configuration, which we mostly document elsewhere and the topic doesn't tell you how to access the rest connector. I recommend making the main section of the topic closer to the procedure laid out in the IBM docs topic [Configuring secure JMX connection to Liberty](https://www.ibm.com/docs/en/was-liberty

[2021-10-20 18:36] dmuelle commented on #3392
looks good- except:

### Users cannot log in, even if non-Kerberos enabled registries are available.
This item appears twice- i think you should remove the instance that is not under the Kerberos subheading

### Troubleshooting SSL and TLS
This section mixes references to SSL and TLS. Except for the introductory explanation, I think you can replace all instances of SSL with TLS.

[2021-10-20 18:39] dmuelle commented on #4646
LGTM, thanks

[2021-10-20 19:00] dmuelle commented on #4775
Ajay approved the update via slack. Changes are on vNext and will publish with 21.0.0.11

[2021-10-20 19:00] #4775 closed, assigned to dmuelle

[2021-10-21 12:47] dmuelle commented on #4559
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-modifications.html

just noticed this is the wrong document- the update should have been applied to [the featureUtitlty landing page](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-commands.html)- not the old "Modifications" page. This page should be removed

[2021-10-21 15:21] dmuelle commented on #4567
confirmed changes on draft- looks good

[2021-10-21 15:31] andymc12 opened #4825 "Doc for Jakarta RESTful Web Services (JAX-RS) 3.0 (part of EE 9/9.1)"
ID work is needed for Jakarta RESTful Web Services (JAX-RS) 3.0 as part of epic issue https://github.com/OpenLiberty/open-liberty/issues/11803.  Like other EE 9/9.1 technologies, the API is effectively the same as it's EE 8 counterpart with the major exception being the package names (`javax.*` -> `jakarta.*`).

However, JAX-RS is somewhat unique in that we have changed the underlying implementati

[2021-10-21 19:23] #1699 closed

[2021-10-21 19:34] ManasiGandhi commented on #1695
@dmuelle I worked on your review. Here is a link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/configuring-jmx-connection.html.

[2021-10-21 19:44] dmuelle commented on #1695
Looks good, a few minor things
- [x] provide a link for the Admin REST Connector feature and the Transport Security feature on first mentions
- [x] link to httpEndpoint config doc on first mention, and remove monospace from linked text
- [x] in step 1, `Enable the restConnector`-->`Enable the Admin REST Connector feature`

the only other question I have is how to provide more detail about accessin

[2021-10-21 19:51] dmuelle commented on #1695
It would be good to provide more detail about step 3. Particularly about how to access the rest connector with the methods we suggest-
- what are the JMX endpoints that someone would use for an HTTPS call?
- the IBM docs topic explains how to use jConsole, but Im sure sure how current or relevant the info is. That tool is not OL, but java, so would prefer not to document 3rd party product- might o

[2021-10-22 10:42] ramkumar-k-9286 commented on #4687
@dmuelle

**For Review: ( Staging Version )**

Please find the draft links for the documentation:

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-help.html

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/springbootUtility-thin.html

[2021-10-22 11:45] ramkumar-k-9286 commented on #4646
@dmuelle

**For Review: ( Staging Version )**

Please find the draft links for the documentation:

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/access-logging.html

[2021-10-22 11:50] ramkumar-k-9286 commented on #4631
@dmuelle

**For Review: ( Staging Version )**

Please find the draft links for the documentation:

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/command-overview.html

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-commands.html
**( Pending second update, currently in drafts, 2 examples with headings will come in

[2021-10-22 11:56] ramkumar-k-9286 commented on #4567
@dmuelle

**For Review: ( Staging Version )**

Please find the draft links for the documentation:

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/directory-locations-properties.html

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/default-environment-variables.html

https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/config

[2021-10-22 12:00] ramkumar-k-9286 commented on #4559
@dmuelle

Peer review incorporation with the suggested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.11/reference/command/featureUtility-commands.html

The pull request for the update. (https://github.com/OpenLiberty/docs/pull/4833/files)

[2021-10-22 13:41] ManasiGandhi commented on #4677
Tony's comment in Slack

"The format itself is all identical for all three types of logs, but trace.log won't have the same information. And console.log can sometimes not contain the same information as messages.log, depending on what's configured."

For example
`Messages.log
[20/10/21 16:58:24:515 EDT] 00000001 FrameworkMana A   CWWKE0001I: The server defaultServer has been launched.
[20/10/21 16

[2021-10-22 14:43] ManasiGandhi commented on #3392
https://staging-openlibertyio.mybluemix.net/docs/21.0.0.11/troubleshooting.html

[2021-10-22 17:42] dmuelle commented on #4630
changes are on vvNext and will publish with the 21.0.0.11 docs release

[2021-10-22 17:42] #4630 closed, assigned to dmuelle

[2021-10-22 17:42] dmuelle commented on #3392
changes are on vvNext and will publish with the 21.0.0.11 docs release

[2021-10-22 17:42] #3392 closed, assigned to ManasiGandhi

[2021-10-22 17:43] ramkumar-k-9286 commented on #4687
Changes are on vNext and will publish with the 21.0.0.11 docs release.

[2021-10-22 17:43] #4687 closed, assigned to ramkumar-k-9286

[2021-10-22 17:43] ramkumar-k-9286 commented on #4646
Changes are on vNext and will publish with the 21.0.0.11 docs release.

[2021-10-22 17:43] #4646 closed, assigned to ramkumar-k-9286

[2021-10-22 17:43] ramkumar-k-9286 commented on #4631
Changes are on vNext and will publish with the 21.0.0.11 docs release.

[2021-10-22 17:43] #4631 closed, assigned to ramkumar-k-9286

[2021-10-22 17:44] dmuelle commented on #3125
leaving this epic open until EE4j landing page publishes with 21.0.0.12

[2021-10-22 17:44] ramkumar-k-9286 commented on #4567
Changes are on vNext and will publish with the 21.0.0.11 docs release.

[2021-10-22 17:44] #4567 closed, assigned to ramkumar-k-9286

[2021-10-22 17:45] ramkumar-k-9286 commented on #4559
Changes are on vNext and will publish with the 21.0.0.11 docs release.

[2021-10-22 18:22] dmuelle commented on #4825
Thanks Andy- is this update targeted for 21.0.0.12?

[2021-10-22 20:27] dmuelle opened #4841 "determine placement for "Differences..." topics"
we have a growing number of reference topics that document changes between versions of various features:

- [Differences between MicroProfile Fault Tolerance versions](https://www.openliberty.io/docs/latest/reference/fault-tolerance-1-dif.html)
- [Differences in metrics between MicroProfile versions](https://www.openliberty.io/docs/latest/reference/metrics-1-dif.html)
- [Differences between MicroP

[2021-10-22 20:54] cbridgha opened #4842 "Signing verification of new signature files"
Very soon - we will be producing *.sig (signature) files for each package of a release.

For example:  openliberty-21.0.0.10.zip.sig. (it will always just append a .sig extension to existing filename).

We need a simple doc page explaining what the files are, and how they can be verified using a downloadable public key that will be provided (on IBM's DHE download site) - so a link to this public k

[2021-10-22 21:15] chirp1 commented on #4842
- Include a blurb in the WL IBM Docs and a link to the OL topic.
- The TWAS version of this issue is at https://github.ibm.com/websphere/twas-docs/issues/4910. Have the same person write the OL and tWAS topics.

[2021-10-25 20:23] dmuelle commented on #1695
Hi @idlewis - I've picked up this issue as Manasi is no longer with IBM.

I've revised her draft to remove the security information, which is already documented elsewhere and now linked to from this topic rather than included. I also incorporated more information from [the Liberty IBM Docs topic that was the original source for this draft](https://www.ibm.com/docs/en/was-liberty/nd?topic=jmx-confi

[2021-10-25 21:28] andymc12 commented on #4825
Hi @dmuelle - yes, currently targeted for 21.0.0.12.  Thanks!

[2021-10-26 17:23] mbroz2 opened #4848 "Create a "REST alternatives" section"
Currently, we only have "RESTful services" section in our doc.  We need to add a section for "REST alternatives" (after RESTful services) which would cover items such as: graphQL, websockets, gRPC.

We have already added this section to [guides](https://staging-openlibertyio.mybluemix.net/guides/#rest_alternatives).

@andymc12 would be the SME this content.  We can also likely pull some content fr

[2021-10-26 18:18] dmuelle commented on #4825
Hi @andymc12 @jim-krueger - looking at the migration issue, I'm having trouble telling what the specific changes we want to document are vs discussion about those changes. Can you provide an outline of the changes we want to communicate in a "Differences between JAX.RS 2.1 and JAX-RS 3.0" reference topic?

Also, will we need to update any of the info in [JAX-RS integration with CDI](https://www.op

[2021-10-26 20:54] una-tapa opened #4852 "A new OCSP (Certificate Revocation Check) topic in Liberty doc"
This is a serviceability request from our support team.
It will be helpful if Liberty has a new topic that points to customer the list of "certificate revocation" Java properties.

A very short topic that has the title and contents like below.
[code]

Reference: [RTC287011: Add certificate revocation links to Liberty KC](https://wasrtc.hursley.ibm.com:9443/jazz/web/projects/WS-CD#action=com.ibm.te

[2021-10-26 21:07] jim-krueger commented on #4825
@dmuelle I will contact you via slack and send my STE charts that detail the migrations issues better.  It may not be the final version of these, but it should help you to understand.

[2021-10-26 21:07] andymc12 commented on #4825
@jim-krueger is working on a skills transfer document that specifically mentions those differences.  He should be contacting you to give you an early copy of the doc.

The "JAX-RS integration with CDI" document will probably need updating. Most of the info is still accurate, but there are a few changes: (1) CDI is on by default in 3.0, where it was off by default in 2.X. (2) It is not required to

[2021-10-27 13:56] dmuelle commented on #4677
topic is on vNext and will publish with 21.0.0.11

[2021-10-27 13:56] #4677 closed, assigned to tonyreigns, dmuelle

[2021-10-27 14:38] dmuelle commented on #4762
slack comment from @Channyboy

"...was discussing with someone (peformance guy) and decided it was best to add that additional info on on being able to tune the amount of data being processed (for the sake of performance) You've always been able to do that, it's just not documented."

[2021-10-27 14:57] andymc12 opened #4855 "MicroProfile Rest Client 3.0 Docs"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

This issue is still somewhat of a work in progress as we discover behavior changes.  Like Jakarta REST (JAX-RS) 3.0, MP Rest Client 3.0 is moving to RESTEasy (from CXF), so there i

[2021-10-27 16:51] dmuelle commented on #4762
Hi @Channyboy - we have a few questions. Hoping to streamline the info a bit and also provide a little more context.

- this draft refers to "monitoring components", but[ the config doc for the filter attribute](https://openliberty.io/docs/21.0.0.10/reference/config/monitor.html) says:

Should they be referred to as "components" or "group names"? Are these groups/components documented anywhere els

[2021-10-27 17:15] Channyboy commented on #4762
@dmuelle

I suppose component does sound better!
Unfortunately I don't think they're documented anywhere. I think the KC _does sort of_ list it _somewhere_, but that is out of date most likely. These components I sourced from looking through the codebase to find the appropriate annotations in the build files.
The "way" so far seems to just match the names up to the relevant component (i.e. session

[2021-10-28 14:40] dmuelle commented on #4559
need to update the mention of `_runtime-version_` to include a noun (value) per Karen's comment

[2021-10-28 18:01] dmuelle commented on #4762
Thanks @Channyboy - looking at this, I think the _least_ confusing option is to add a column to the metrics table for `Monitoring component` to list the component that is associated with each group of metrics.

Then all we have to do is explain they can filter to include only certain metric groups by component and point them to the table for the values they need to filter on. We can still provide

[2021-10-29 13:33] jhanders34 opened #4863 "Documentation updates for Jakarta EE 9"
As part of https://github.com/OpenLiberty/open-liberty/issues/9876 , the documentation needs to be updated to include some information about Jakarta EE 9.

Part of the documentation updates should include some information about differences with Jakarta EE 9 and what customers need to know in order to transition to Jakarta EE 9.  Some of this is documented in the Jakarta Enterprise Beans and RESTfu

[2021-10-29 15:51] dmuelle commented on #4677
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/log-trace-configuration.html#log_formats

[2021-10-29 17:12] Channyboy commented on #4762
Base metrics do not rely on the monitoring component/feature to get data, except for REST metrics which does rely on the monitoring componenet/feature.

Vendor metrics completely rely on the monitoring component/feature. **HOWEVER**, the jaxws metrics can't seem to be filtered, they have no associated monitoring component, but just seem to exist :(. I couldn't find the component for it and did som

[2021-10-29 17:35] dmuelle commented on #4762
This is indeed confusing but is making more sense now :)

just trying to figure out the best way to elide some of the complexity for the user

In general, is there a definition of base metrics vs vendor metrics other than base are what's collected by MPM and vendor are what comes from Perf monitor? ie is there anything about a vendor metric that makes it "vendor" other than it's collected by the `

[2021-10-29 17:48] dmuelle commented on #4863
Hi @jhanders34 - we also have this overlapping issue to provide a reference table and information about the differences: https://github.com/OpenLiberty/docs/issues/4626

Not sure if what is there already and in #4855 & #4825 cover what we're looking for.

I believe the updates for "new feature and API jars and package versions in those API jars" will be covered in the generated doc, though we can

[2021-11-01 18:46] #4559 closed, assigned to ramkumar-k-9286

[2021-11-02 15:16] dmuelle commented on #4855
HI Andy- I suspect the package name changes will be covered in the autogenerated doc as we generally don't document the packages in the manually written docs except in special cases where a user would need more info than what's in the javadoc/ generated doc. In this case I think we'd want to doc

- any breaking changes?
  - if they are the same as what will be documented in  #4825, we could just a

[2021-11-02 18:30] dmuelle commented on #4825
Hi @andymc12 @jim-krueger - to make sure we have everything we need for @chirp1 to provide ID approval, I'm going to outline the info from this discussion + the KT slides that Jim shared with me.  would attach those here but GH doesn't allow pptx attachments.

Let me know if I'm missing anything or if anything here is more under the covers than what most users will need to know.  Our docs are gene

[2021-11-02 18:39] dmuelle commented on #4398
Hi @Azquelt - I have a draft ready for review this update:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/documentation-openapi.html#_multiple_application_and_multi_module_application_support_with_microprofile_openapi

To match what they did in the beta post, I defined the properties in table format. I also took a stab at adding an example of how you would specify them. If they aren't he

[2021-11-02 18:56] andymc12 commented on #4825
@dmuelle I edited the previous comments with answers and additional info. Overall, this looks good to me.  Thanks!

[2021-11-02 19:29] una-tapa commented on #2418
@dmuelle @lauracowen

I recently worked on a couple of customer questions regarding how to configure bells. I remembered @bwa 's suggestion creating a simple maven repository so I tried out. It worked so well with our pre-made User Registry (also used for the OSGi feature sample)  @treo 's update here was helpful to create the dependency.

I configured the user registry that came out of the maven

[2021-11-02 20:40] chirp1 commented on #4825
David has the info that he needs. Andy is good with the info that David proposed. Approving the epic.

[2021-11-03 01:03] dmuelle commented on #4398
I've just reviewed your related messages in https://github.com/OpenLiberty/open-liberty/pull/19218#pullrequestreview-796030139 and am wondering about the suggested action:

"...configure the mpOpenApi-2.0 feature to exclude one of the modules."

I hadn't thought of specifying MP config properties as being "configuring the OpenAPI-2.0 feature" and I guess its splitting hairs to say whether it is, b

[2021-11-03 10:10] Azquelt commented on #4398
Configuration is odd because we currently have a big reference for everything that's supported in server.xml, but newer microprofile features are mostly using MP Config for configuration.

IMO, configuration should be a standard section on every feature page, along with links to the javadoc for any APIs provided by the feature, links to any specifications it implements and details of any endpoints

[2021-11-03 14:03] dmuelle commented on #4398
I agree- the problem is with 105 features and counting, we don't currently have the development resources to generate that info programmatically or the ID resources to write and maintain it manually. So we're reduced to adding configuration examples as we go. But it's a good point- that would substantially improve the value of the feature pages. And for the MP features, I think the relevant MP con

[2021-11-03 15:07] idlewis commented on #1695
@dmuelle
I think this is mostly fine. I can't really comment on what is missing, that depends on the purpose of the article, but it seems okay to me.
A couple of minor comments:

"Jakarta Management Extensions (JMX)" - I believe this is still Java Management Extensions, which is confusingly, part of Jakarta Management

I found this sentence a bit confusing:
"If you plan to use the jConsole tool th

[2021-11-03 16:20] Azquelt commented on #4398
I've checked your draft and I can't see any problems.

However, [Emily since asked me][docs-request] to document the merging behaviour. Would you like me to add that to this issue or open a new one?

[docs-request]: https://github.com/OpenLiberty/open-liberty/issues/16628#issuecomment-953715204

[2021-11-03 17:11] Azquelt commented on #4398
This is the additional information which needs to be included. I think this section can be added to the end of the page (after "Configure OpenAPI documentation for a multi-module application")

[2021-11-03 19:41] hlhoots opened #4880 "Docs update for server JVM working directory"
Hi.  I am adding a new environment variable as part of https://github.com/OpenLiberty/open-liberty/issues/15128.  I am opening this issue to track the ID changes needed for that which I believe should go into this location for OL: https://openliberty.io/docs/21.0.0.11/reference/default-environment-variables.html

Environment variable:SERVER_WORKING_DIR
Description: The directory containing output

[2021-11-03 20:48] dmuelle commented on #2418
Hi Hiroko, thanks- I took a quick look and I agree this could be a good addition to the wasdev repo, and could possibly be adapted for the docs from there. As afar as a reviewe, I see a few edits that could be made for clarity, and also a few questions raised. Should I open a PR against the README for suggestions/questions?

[2021-11-03 21:08] una-tapa commented on #2418
@dmuelle

Thanks for looking & considering to doc. It will really help reduce our support work (One of them was SEV1..)

I will appreciate your review and PR on the README but since it is still my personal repository, I hope to get it on WASDev first so your PR work will be counted as the WASDev contribution (not to my personal repo).

By any chance, do you know who can create a repo for this bell

[2021-11-04 16:17] andymc12 commented on #4855
Hi @dmuelle - I'm still investigating the behavior changes in the MP Rest Client between CXF and RESTEasy, but I found one that I wanted to mention before I forget:
Per the [JAX-RS integration section](https://download.eclipse.org/microprofile/microprofile-rest-client-2.0/microprofile-rest-client-spec-2.0.html#_jax_rs) in the MP Rest Client spec, it is _optional_ whether `@Context` injection is pe

[2021-11-04 17:46] jimblye opened #4882 "Update documentation for configuration file server.env"
This update should coincide with the delivery of issue 14901
https://github.com/OpenLiberty/open-liberty/issues/14901

Two pages that I am aware of need to be updated:

 Page 1:  https://openliberty.io/docs/21.0.0.11/reference/config/server-configuration-overview.html
 Page 2: https://www.ibm.com/docs/en/was-liberty/core?topic=manually-customizing-liberty-environment

The documentation is differen

[2021-11-05 20:02] dmuelle commented on #4398
Hi @Azquelt - I've updated the draft with this information and made a few minor edits:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/documentation-openapi.html#multi-module

let me know if any further edits are needed. If not, you can add the `technical reviewed` label to this issue and the update will publish with the 21.0.0.12 docs release. Thanks

[2021-11-05 20:03] dmuelle commented on #4398
Hi @Azquelt - I've updated the draft with this information and made a few minor edits:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/documentation-openapi.html#multi-module

let me know if any further edits are needed. If not, you can add the `technical reviewed` label to this issue and the update will publish with the 21.0.0.12 docs release. Thanks

[2021-11-05 20:47] dmuelle commented on #1695
Thanks for reviewing @idlewis . I made the following changes per your review:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/configuring-jmx-connection.html

- [x] "Jakarta Management Extensions (JMX)" - I believe this is still Java Management Extensions **fixed**
- [x] "If you plan to use the jConsole tool that the trust store contains the certificate of the server in the jConsole

[2021-11-08 16:14] Azquelt commented on #4398
Thanks @dmuelle, that's really good. Just a few small changes.

Change "the path" to either "each path" or "the paths". (A server declared at the top level of the document applies to all paths within the document which don't specify a different list of servers, so we expect it to apply to multiple paths)

This should be "If the top-level `security` section is not the same across all documents, the

[2021-11-08 17:28] chirp1 commented on #4842
The epic isn't going into 21.0.0.12 as the design for the epic wasn't approved for the release. Removed 21.0.0.12 label.

[2021-11-08 19:30] Channyboy commented on #4762
@dmuelle

`Base metrics` are metrics that the provider (i.e. OpenLiberty or another platform/implementation) has to provide. With the exception of the REST metrics. Those are base metrics but are "optional" for a provider to provide.

 `Vendor metrics` are metrics that provider/implementation feels like providing. So for us, we took the data from the `monitor-1.0` and re-reported them as metrics w

[2021-11-08 21:58] dmuelle commented on #4398
Thanks for reviewing @Azquelt. I've made these changes to the draft:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/documentation-openapi.html#multi-module

- [x] Change "the path" to either "each path" or "the paths".
- [x] This should be "If the top-level security section is not the same across all documents...
- [x] change this to "If the externalDocs section..

Let me know if you se

[2021-11-09 09:49] Azquelt commented on #4398
security requirements are copied under each **operation** that they apply to

Sorry, this was a mistake in my original comment.

Everything else is good.

[2021-11-09 17:06] ramkumar-k-9286 commented on #4626
@dmuelle David.

The draft version of the doc:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/Jakarta-EE9-feature-updates.html

We need to add navigation, not accessible via TOC.

Also, I think we need to introduce line breaks in the second table. The feature name & short name displayed together, ends up looking like one big complicated name.

[2021-11-09 18:24] ramkumar-k-9286 commented on #4762
@dmuelle David,

The draft version of the doc:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

[2021-11-10 14:44] dmuelle commented on #4626
@ramkumar-k-9286

- For the second table, I think we can put the short names in parentheses, to clarify that they are another name for the same feature, eg. `Enterprise JavaBeans (ejb-3.2)`
- I think we should also link each feature to its page using the macro, eg.` feature:ejb-3.2[display=Enterprise JavaBeans (ejb-3.2)]`. Note that the EE9 features won't be linkable until the autogen is updated.

[2021-11-10 16:59] dmuelle commented on #4762
@ramkumar-k-9286

- dont use backtics for "vendor"
- provide links to the MicroProfile Metrics and Performance Monitor feature pages on first mention- use versionless feature macro syntax
- suggested edit to combine these sentences into fewer paragraphs and change their order slightly (include links, monospace as needed):

"When the MicroProfile metrics feature is enabled, a set of base metrics ar

[2021-11-10 20:24] dmuelle commented on #4398
I've added that change:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/documentation-openapi.html

If everything else looks good, you can add the `technical reviewed` label to sign off. If anything further is needed, just let me know. Thanks

[2021-11-10 21:22] dmuelle commented on #4730
per Open Liberty docs content standards, this topic will be reformatted as a set of configuration examples for the openidConnectClient-1.0 feature. Although the IBM docs topic is written as a single task, many of the steps are optional and the task as a whole does not represent a logical flow to configure a single functional objective.

By breaking the steps out into individual configuration examp

[2021-11-10 22:02] dmuelle commented on #4730
Information about SSL and user registry configuration will be added to the beginning of the page and linked to the relevant OL documentation. This information is covered in steps 1 and 3-5. Several of the steps also repeat information that is already documented in the generated doc for [the openidConnectClient element](https://www.openliberty.io/docs/latest/reference/config/openidConnectClient.htm

[2021-11-11 10:27] Azquelt commented on #4398
All looks good, thanks @dmuelle

[2021-11-11 10:43] ramkumar-k-9286 commented on #4762
@dmuelle

All the review comments specified above have been incorporated.

Proceeding to Merge the PR. Will share the draft link for review.

[2021-11-11 11:54] ramkumar-k-9286 commented on #3343
@dmuelle

All the review comments specified above have been incorporated.

Proceeding to Merge the PR. Will share the draft link for review.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/feature-overview.html

Regards,
Ramkumar

[2021-11-11 11:57] ramkumar-k-9286 commented on #4762
@dmuelle

The review comments have been incorporated. Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Regards,
Ramkumar

[2021-11-11 15:05] dmuelle commented on #3343
- the definition list is not rendering properly. When you use a defintion list, you don't need `*` at the beginning of each line.
- we forgot to mention the [MicroProfile](https://www.openliberty.io/docs/latest/reference/feature/microProfile-4.0.html) convenience feature. I think you can add it after the EE9 features, before the EJB feature
- the enterpriseBeans convenience feature--->=the Enterpr

[2021-11-11 15:25] dmuelle commented on #4762
--->
When the MicroProfile metrics feature is enabled, a set of base metrics is always reported.

 `MicroProfile metrics` is in monospace, but should be a link to the feature page. Throughout the page, don't monospace feature names- only feature short names should be in monospace

---> `REST` base metrics that were introduced...

---> the `monitor` configuration element

add a space after period

[2021-11-11 16:53] idlewis commented on #1695
"The topic doesn't cover how to develop a Java Client or use the JConsole tool, as those tasks **aren't specific to Liberty**"
This is broadly true... However, when writing a Java client there are a few Liberty specific parameters. The old docs had an article with some sample code to describe this:
https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-developing-jmx-java-client
Under point 4,

[2021-11-11 19:21] dmuelle commented on #1695
yes- I think so, thanks for pointing this out. I'm going to add that info to the draft and see how it looks. It may be that it should be in a topic all its own but to start let's try it here and see how it looks. I'll send the updated draft once it's built.

[2021-11-11 22:01] dmuelle commented on #4825
Hi @andymc12 @jim-krueger , I have the initial draft of this doc ready for review on our draft site:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/jaxrs-dif.html

Let me know if any edits or additions are needed. When you're ready to sign off, you can add the `technical reviewed label to this issue and the doc will publish with the 21.0.0.12 release. Thanks

[2021-11-12 06:23] ramkumar-k-9286 commented on #3343
Hi David @dmuelle

The review comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/feature-overview.html

Regards,
Ramkumar

[2021-11-12 12:23] ramkumar-k-9286 commented on #4762
Hi David @dmuelle

The review comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Regards,
Ramkumar

[2021-11-12 12:27] ramkumar-k-9286 commented on #4762
Hi David @dmuelle

The review comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Regards,
Ramkumar

[2021-11-12 12:28] ramkumar-k-9286 commented on #4626
Hi David @dmuelle

The review comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/Jakarta-EE9-feature-updates.html

Reference links added to the following pages:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/jakarta-ee.html

https://draft-openliber

[2021-11-12 14:04] dmuelle commented on #4730
Epic moved to 22.0.0.1

[2021-11-12 14:37] dmuelle commented on #3343
Looking at this, I think the definition list is overkill and looks strange with the other features- sorry about that.

I think we should reformat the EE9 features list as a normal bulleted list, like the two other features below it. For example

The following convenience features are available for the for Jakarta EE platform.
- The feature:jakartaee[display=Jakarta EE Platform] feature enables all

[2021-11-12 14:44] dmuelle commented on #4762
LGTM, except for one small change. For the link text on the table link:

Metrics that are available for Open Liberty [table].
--->
[Metrics that are available for Open Liberty] table.

[2021-11-12 15:12] dmuelle commented on #4626
a few comments:

## Jakarta EE 9 feature updates
- change filename to remove caps- link in TOC is not working because nav file doesnt use caps
- suggested revision for the short description:
`For Jakarta EE 9 applications to run in Open Liberty, Jakarta EE 9 features must be specified in the server configuration. In some cases, you must change both the both the feature version and short name to up

[2021-11-12 20:58] dmuelle opened #4910 "Document JVM_ARGS on Default environmental variables page"
on the [Default environmental variables page](https://www.openliberty.io/docs/21.0.0.11/reference/default-environment-variables.html), all the env variables from the `wlp/bin/server.bat` file are documented except JVM_ARGS. We need to add it to the table. Here's the defintion from the .bat file

JVM_ARGS   - A list of JVM command line options,
              e.g. system properties or -X parameters

[2021-11-12 21:05] dmuelle commented on #1695
Hi @idlewis - I've updated the draft to add the JMX client info:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/configuring-jmx-connection.html

I have a few questions to clarify some of the info from the old topic. I'd like to improve the flow of information and, if possible, streamline it. The old topic didn't provide much context and some of the details seem confusing or out of order

[2021-11-15 10:27] Azquelt commented on #4398
Release of this feature has been moved back to 22.0.0.1.

[2021-11-15 10:35] ramkumar-k-9286 commented on #3343
Hi David @dmuelle

Comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/feature-overview.html

I was not sure about adding the Java related comments, wanted to discuss this with you on Friday.

Regards,
Ramkumar

[2021-11-15 10:37] ramkumar-k-9286 commented on #4762
Hi David @dmuelle

The comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Regards,
Ramkumar

[2021-11-15 13:23] ramkumar-k-9286 commented on #4626
Hi David @dmuelle

Comments specified above were incorporated. Proceeding to Merge the PR.

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/jakarta-ee9-feature-updates.html

Reference links added to the following pages:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/jakarta-ee.html

https://draft-openlibertyio.myblue

[2021-11-15 15:15] dmuelle commented on #3343
Changes look good- we can dsicuss adding the Java features, I think it will be helpful for users to understand how we support java vs jakarta platforms.

The only additional change I'd recommend- I think we should consistently use the term "support" to describe the relationship between the features and the platforms. You've aldready used it for MicroProfile and EJB, just need to edit the Jakarta s

[2021-11-15 15:16] dmuelle commented on #4762
LGTM, I think this is ready for technical review from @Channyboy

[2021-11-15 16:20] dmuelle commented on #4626
looks like the feature macros aren't working in table 1. I'm not sure why- check to make sure there is a blank space in the file before the word "feature". Otherwise we might need to add some attributes to the columns so the macros are recognized

Also the links between the docs are still broken. we can review at scrum

[2021-11-15 16:22] yeekangc opened #4917 "Docs to cover the use of podman/buildah"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

Wherever we describe the use of the Docker(e.g. to build or run application images based on our Liberty container images), we should generalize and describe how one works with "con

[2021-11-15 16:22] yeekangc commented on #4917
Cc @chirp1 @dmuelle

[2021-11-15 16:49] dmuelle commented on #4863
Also tracking updates for the EE 9.1 Javadoc and generated docs under this issue

[2021-11-15 16:57] andymc12 commented on #4825
Hi @dmuelle  - thanks for putting this together.  Overall, I think it looks good.  Here are a few comments:

* I would use `jaxrs-2.1` instead of `jaxrs-2.x` - while many of the 2.X (2.0 and 2.1) behaviors are similar, they're not always the same.  The behavior differences that we noted in the STE document are primarily the differences between 2.1 and 3.0.  Also, `jaxrs-2.x` is not an actual featu

[2021-11-15 18:57] ramkumar-k-9286 commented on #4762
Hi David @Channyboy

Please find below the draft links for the requested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Please review the same. If the section has turned out as expected, please add the `Technical reviewed` label.

In case changes are needed please add your comments to the issue.

Regards,
Ramkumar

CC @dmuelle

[2021-11-15 19:43] ramkumar-k-9286 commented on #4626
@dmuelle

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/jakarta-ee9-feature-updates.html

Reference links added to the following pages:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/jakarta-ee.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee-api.html

https://draft-openlibertyio.

[2021-11-15 19:45] ramkumar-k-9286 commented on #3343
@dmuelle

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/feature-overview.html

Regards,
Ramkumar

[2021-11-15 20:25] dmuelle commented on #4626
for the broken links

in jakarta-ee.adoc

xref:jakarta-ee9-feature-updates.adoc[Jakarta EE 9 feature updates]
--->
xref:reference:jakarta-ee9-feature-updates.adoc[Jakarta EE 9 feature updates]

the reason the other links aren't working is because the `jakarta-ee9-feature-updates.adoc` file is in the wrong folder. It's in `reference/pages/feature/` and it should be one level up in in `reference/pag

[2021-11-15 20:27] dmuelle commented on #3343
LGTM- ready for technical review

[2021-11-15 20:59] ramkumar-k-9286 commented on #3343
Hi Chuck @cbridgha

Please find below the draft links for the requested changes on convenience features:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/feature/feature-overview.html

Please review the same. If the section has turned out as expected, please add the `Technical reviewed` label.

In case changes are needed please add your comments to the issue.

Regards,
Ramkumar

[2021-11-15 22:35] ramkumar-k-9286 commented on #4626
@dmuelle

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

Reference links added to the following pages:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/jakarta-ee.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee-api.html

https://draft-openlibertyio.mybluemi

[2021-11-15 22:43] dmuelle commented on #4626
LGTM, ready for tech review

[2021-11-15 22:52] ramkumar-k-9286 commented on #4626
Hi Michal @mbroz2

Could you please review the reference page for Jakarta EE9 feature updates:

Link: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

Please review the same. If the section has turned out as expected, please add the `Technical reviewed` label.

In case changes are needed please add your comments to the issue.

Regards,
Ramkumar

[2021-11-16 14:32] dmuelle commented on #4626
@mbroz2 - hold off on reviewing this for the moment- I'm noticing some errors in the table that need to be cleared up first. We'll work on it today

[2021-11-16 14:47] dmuelle commented on #4626
@ramkumar-k-9286

First table:
Java EE
--->
Jakarta EE

Second table:
Java Authentication Service Provider Interface for Containers
--->
Java Authentication SPI for Containers

javaserverfaces
--->
JavaServer Faces

Java faces Container
--->
JMS Client for Message Server

JMS Client for Message Server
--->
Message Server Security

[2021-11-16 14:48] dmuelle commented on #4626
Looking at these tables, there's not much point in sending for technical review until we have the new gendoc on draft and can check some of the guesses and blanks we had for thew feature names, also the new links wont work until the feature pages are updated for 21.0.0.12 on draft.

[2021-11-16 15:52] dmuelle commented on #4825
Thanks @andymc12 - I made those fixes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jaxrs-dif.html

- [x] jaxrs-2.x --> jaxrs-2.1
- [x] Before 21.0.0.12, JAX-RS 2.x functions were available through the Java RESTful Services feature (jaxrs-2.x)---> The JAX-RS 2.0 and 2.1 implementations are available with the through the Java RESTful Services feature (jaxrs-2.0 and jaxrs-2.1)

[2021-11-16 17:49] ramkumar-k-9286 commented on #4626
@dmuelle

Link to the draft version of the document:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

Regards,
Ramkumar

[2021-11-16 20:28] andymc12 commented on #4825
Hi @dmuelle - thanks for the changes. I noticed a capitilization inconsistency in sections "Response.readEntity() method return when it is called on an empty entity" and "HttpHeaders.getRequestHeader(String headerName) method return when the specified headerName value does not exist".  Both `restfulWS-3.0` behaviors show that they return an empty string, but one uses capital "String" while the oth

[2021-11-16 21:20] dmuelle opened #4927 "Clarify info for server dump command"
The [OL server dump command](https://www.openliberty.io/docs/21.0.0.11/reference/command/server-dump.html) topic says
`If no server is specified, a server called defaultServer is automatically created to run the command against.`

but the[ IBM docs topic](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=line-generating-liberty-server-dump-from-command) says:
`If you do not spec

[2021-11-16 22:28] dmuelle commented on #4825
Thanks Andy- I've fixed the capitalization issue. If everything else looks good, can youa dd the `technical reviewed` label to the issue?

This content might move to the `restfulWS-3.0` before it publishes with 21.0.0.12. I'll know more about that soon.

[2021-11-17 17:01] Channyboy commented on #4762
Looks good!
Sounds a lot more fluid and digestible than what I tried to write out earlier :b

[2021-11-17 21:41] cbridgha commented on #4842
Here is a rough draft for content:

All Open Liberty downloadable zips and archives are signed with the Liberty [public key](https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/sign/public_keys/WebSphereLiberty_06-02-2021.pem).

To verify, user must first download the [public key](https://public.dhe.ibm.com/ibmdl/export/pub/software/openliberty/sign/public_keys/WebSphereLiberty_06-02-

[2021-11-18 11:31] idlewis commented on #1695
How to configure the classpath is very application specific, which is why this statement is vague. Most application developers ought to know how to add the restConnector.jar file to the class path for their application. This is _not_ an example class path. Maybe it would be a bit clearer as something like:
`Add the Liberty REST connector client library (${liberty_home}/clients/restConnector.jar) t

[2021-11-18 11:53] idlewis commented on #1695
Sort of... This one isn't totally liberty specific. The client needs to know the location of a trust store with the correct certificate so that it can trust the server. That location could be anywhere, as the location in your liberty server is configurable.

The example given describes where the default location of the truststore is, if you have allowed the Liberty server to generate its own trust

[2021-11-18 12:12] idlewis commented on #1695
Err... The original doc is pretty confusing here, and most of it isn't liberty specific. I think `b. Use the contents of the file ${server.output.dir}/logs/state/com.ibm.ws.jmx.rest.address....` is the important part, as that is liberty specific. I'd leave out option a, I think option b is what most people will use to get started, and will then be able to navigate the javadoc for JMXServiceURL if

[2021-11-18 12:26] ramkumar-k-9286 commented on #4825
# Peer Review

With the release of the RESTful Web Services 3.0 feature (restfulWS-3.0), the underlying Jakarta RESTful Web Services implementation for Open Liberty changed from Apache CXF to RESTEasy. This change results in certain API behavior changes that might require you to update your application code.
------->
With the release of the RESTful Web Services 3.0 feature (restfulWS-3.0), the und