[2021-11-18 12:28] ramkumar-k-9286 commented on #4825
@dmuelle

i am not sure about some of the comments. but i have still added them as review comments. fyi

Regards,
Ramkumar

[2021-11-18 13:41] idlewis commented on #1695
No. The environment is the properties map that is passed to the method that creates the connection. I think the original article is trying to bebrief, and is a bit confusing as a result.

The example passes in an environment to the create the `connector` object and then calls `connector.connect()`. There is an alternative form of the connect method which takes a 2nd environment map: `connector.con

[2021-11-18 14:00] idlewis commented on #1695
I think this step is relevant, although not well described. The point here is that a developer can use a custom SSL context for their JMX connections. This allows them to use certificates from a trust store that is specific to their JMX connection. The main example at the top of the article assumes that the developer is using the single trust store that applies to all SSL connections by default. I

[2021-11-18 16:12] cbridgha commented on #4842
In addition - we should have a "sub" topic for verifying the Liberty packages up on Maven Central...

To verify those packages use the following instructions:

//GPG signing Verification
// download public key to local machine
`gpg2 --keyserver hkp://keyserver.ubuntu.com --recv-keys 46102B8E`
(`46102B8E` is the key id for the WebSphere Liberty public key)

// Editing trust of key owner
[code]
    

[2021-11-18 20:24] dmuelle commented on #4825
@ramkumar-k-9286 - thanks for reviewing. Here's my response/ changes

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/jaxrs-dif.html

- [ ] With the release of the RESTful Web Services 3.0 feature (restfulWS-3.0), the underlying Jakarta RESTful Web Services implementation for Open Liberty **has** changed from Apache CXF to RESTEasy.

**don't want to use past perfect tense, acrolinx

[2021-11-18 21:04] dmuelle commented on #1695
Thanks, @idlewis I've updated the draft per your comments. When you have a chance, let me know if it needs any further edits. If not, you can add the `Developer reviewed` label to this issue and the topic will publish with the 21.0.0.12 docs release. Thanks

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/configuring-jmx-connection.html

[2021-11-18 21:25] dmuelle commented on #4762
# peer review

The topic looks good. I just have few minor suggestions. I think some of the sentences can be reorganized to improve the flow of information.

I think paragraphs 3 & 4 can be combined into a single paragraph, with a slightly different sentence order:

`When the MicroProfile metrics feature is enabled, a set of base metrics is always reported. You can augment this set of metrics by c

[2021-11-18 22:16] chirp1 opened #4942 "Missing word in sentence, other changes, in server create command topic"
For https://openliberty.io/docs/21.0.0.11/reference/command/server-create.html
Change "Do not begin the with a dash (-) or a period (.)." to "Do not begin the name with a dash (-) or a period (.)." (Add "name".)

For "Server serverName created", italicsize "serverName".

[2021-11-19 08:08] ramkumar-k-9286 commented on #4825
# Peer Review

David @dmuelle

I have a few more minor suggestions, I missed the first time.

- [ ] Jakarta RESTful Web Services, formerly known as JAX-RS, is a Jakarta EE platform API. In Open Liberty 21.0.0.12 and later, you can use Jakarta RESTful Web Services 3.0 functions by enabling the RESTful Web Services 3.0 feature. ---> **The RESTful Web Services 3.0 link not working.**

- [ ] CDI and b

[2021-11-19 12:13] ramkumar-k-9286 commented on #4762
David @dmuelle

I have incorporated the Peer Review comments. Re-organized the content in para 3, 4 &5 as suggested.

Please find below the draft site links for the requested changes:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/metrics-list.html

Regards,
Ramkumar

[2021-11-19 15:59] idlewis commented on #1695
The edits looks good. I have a couple of minor comments, but don't think they are blockers, so have added the review label.
1. `To run the client application on a different host machine from the server....` This section is generic to any Liberty application, I'm not sure there is any value including it here
2. `Set the following system property in your environment map....` It isn't a 'system prope

[2021-11-19 17:36] dmuelle commented on #1695
Thanks for reviewing- I've made those changes and the topic will publish with the 21.0.0.12 release

[2021-11-19 17:56] dmuelle opened #4946 "Update the page of Network security hardening on Rate Limiting"
**current text**
Firewalls

Production environments need to run inside a firewall. Firewalls help prevent security intrusions by monitoring network traffic and blocking specific traffic based on security rules. Use a firewall to shield production Open Liberty servers so that they don’t run in the DMZ. The DMZ is an intermediary zone where proxy and web servers run between public and private networ

[2021-11-19 17:58] dmuelle commented on #4946
originally opened as https://github.ibm.com/websphere/liberty-docs/issues/2530

@meiaus @

[2021-11-19 17:58] dmuelle commented on #4946
@wtlucy as discussed in https://wasrtc.hursley.ibm.com:9443/jazz/web/projects/WS-CD#action=com.ibm.team.workitem.viewWorkItem&id=287422, this issue is opened to make an update to the Liberty doc.

@jmulvey @gpicher @pnicoluc per discussion with @wtlucy, we'd like to get your review/approval on the new content update to remediate the pen test issue reported as described in RTC defect 287422 (above

[2021-11-19 18:59] dmuelle commented on #4825
thanks Ram- made the following changes:

- [x] The RESTful Web Services 3.0 link not working. **autogen is updated and it works now**
- [x] Remove the link from the word feature limit link to Contexts and Dependency Injection. **fixed**
- [x] Wildcard characters are not accepted for the @ApplicationPath annotation all such requests are rejected.  **fixed**

https://draft-openlibertyio.mybluemix.ne

[2021-11-19 19:33] ramkumar-k-9286 commented on #4825
David @dmuelle

Checked the draft link. LGTM.

Adding Peer-Reviewed label.

Regards,
Ramkumar

[2021-11-19 19:41] dmuelle commented on #4946
Hi @meiaus, here is the draft update for Open Liberty:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/network-hardening.html#rate-limiting

Let me know if any further edits are needed. Thanks!

[2021-11-19 19:58] ramkumar-k-9286 commented on #4626
David @dmuelle

updated and merged the blanks in the Jakarta reference table. Link to the draft version of the page:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

Regards,
Ramkumar

[2021-11-19 20:02] dmuelle commented on #4762
LGTM, thanks

[2021-11-22 13:35] ramkumar-k-9286 commented on #1695
# Peer Review

You can configure a secure JMX connection by enabling the Admin REST connector feature and
--->
remove linking from `feature` restrict it to `Admin REST connector`

By default, the Admin REST Connector feature enables the Transport Security feature, which supports TLS connections.
--->
remove linking from `feature` restrict it to `Transport Security`

Enable the Admin REST connector

[2021-11-22 15:31] meiaus commented on #4946
Reviewed from https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/network-hardening.html#rate-limiting.
Looks good.
Thanks.

[2021-11-22 16:14] dmuelle commented on #4626
@ramkumar-k-9286 a few more things to fix:

---> ...you must change both the feature version and short name...

---> In those cases, the only change is the feature version number.

---> The following table lists the features for which the feature name,...

Suggest adding one more sentence to each table intro to make it clear what you have to do tp use the new feature:

--->
The following table lis

[2021-11-22 18:05] dmuelle commented on #1695
Thanks Ram- made all changes except `truststore`, which should be one word

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/configuring-jmx-connection.html

[2021-11-22 21:17] ramkumar-k-9286 commented on #4626
Hi Michal @mbroz2

Could you please review the reference page for Jakarta EE9 feature updates:

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

Please review the same. If the section has turned out as expected, please add the `Technical reviewed` label.

In case changes are needed please add your comments to the issue.

Regards,
Ramku

[2021-11-23 12:58] ramkumar-k-9286 commented on #1695
# Peer Review

Replace the `userid` and `password` values for the `JMXConnector.CREDENTIALS` property. Specify a user ID and password for the administrator or reader role that you configured for step 3 of the previous procedure.
--->
Why is `userid` mentioned in 2 ways in these sentences? Should both `userid` and `password` be mentioned in the same way --> `userid` and `password` in both cases? wi

[2021-11-23 13:20] Emily-Jiang commented on #4879
MicroProfile 5.0 aligns with Jakarta EE 9.1. With this release, applications can use MicroProfile APIs together with Jakarta EE 9.1 APIs. MicroProfile 5.0 has the same functionalities as MicroProfile 4.1 except the depeendency update from javax.* to jakarta.*.

[2021-11-23 15:43] dmuelle commented on #1695
Thanks @ramkumar-k-9286 - addressed your comments in a new update:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.12/configuring-jmx-connection.html

- [ ] Why is `userid` mentioned in 2 ways in these sentences? Should both `userid` and `password` be mentioned in the same way --> `userid` and `password` in both cases? with monospace as well?  **I don't think so- in the first case, it refers

[2021-11-23 17:21] ramkumar-k-9286 commented on #3343
**Conversation with Chuck (for reference)**
#
Ramkumar K  [10:33 PM]
Hi Chuck, Michal/Steven is working on the webprofile features.
Is there anything else with the Convenience features update that would need correction?

Chuck Bridgham  [10:40 PM]
Looks good to me

Ramkumar K  [10:40 PM]
ok. Thanks
#

Proceeding to add the `Technical Reviewed` label.

CC @dmuelle

Regards,
Ramkumar

[2021-11-23 19:23] hlhoots commented on #4880
@dmuelle I modified the Description text above based on a design change did.  Also the target date is now 22.0.0.1 which I see you have marked as the milestone.  Thanks!

[2021-11-23 20:14] dmuelle commented on #4762
content is now on vNext and will publish with 21.0.0.12

[2021-11-23 20:14] #4762 closed, assigned to ramkumar-k-9286

[2021-11-23 20:19] dmuelle commented on #4825
content is now on vNext and will publish with 21.0.0.12. However, it will not appear in the navigation until leadership determines the proper placement for topics of this type- a call is scheduled for 12/2 to decide how to treat this and all other "behavior changes" topics, which have been removed from the nav in the meantime. The functional URL for this info will be
https://openliberty.io/docs/21

[2021-11-23 20:19] #4825 closed, assigned to dmuelle

[2021-11-23 20:21] dmuelle commented on #4946
content is now on vNext and will publish with the 21.0.0.12 docs release

[2021-11-23 20:21] #4946 closed, assigned to dmuelle

[2021-11-23 22:07] dmuelle commented on #3343
LGTM- adding peer review label

[2021-11-24 07:01] mbroz2 commented on #4626
I'm not a fan of the section regarding the Transformer:

I'm concerned that it's going to be unclear to those reading whether the second and third sentence is intended to be regarding custom user features or Liberty features enabled in the server.xml/config files.

Could we instead change that section to be application focused? Something like:

@jhanders34 @kwsutter thoughts?

[2021-11-24 11:46] ramkumar-k-9286 commented on #1695
# Peer Review
LGTM. Proceeding to add the `Peer Reviewed` label.

Regards,
Ramkumar

[2021-11-24 18:58] ramkumar-k-9286 commented on #4626
Hi Michal @mbroz2

Based on your suggestion, rephrased the information on the **Eclipse Transformer**:

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/reference/jakarta-ee9-feature-updates.html

If the document has turned out as expected, please add the `Technical reviewed` label.

In case changes are needed please add your comments to the issue.

Regards,
Ramkumar

CC @dmuell

[2021-11-25 03:15] NottyCode commented on #4626
@ramkumar-k-9286 @dmuelle

Some feedback:

1. I think the first paragraph needs to be revised. The first sentence reads like a meaningless tautology and the second talks about changing something that has never been referenced before. I get that you are trying to talk through what you have to do to go from EE 8 to EE 9, but that idea isn't introduced to backup the sentence. The 1st paragraph says:

[2021-11-26 06:08] ramkumar-k-9286 commented on #4398
# Peer Review

The two main approaches to generate an OpenAPI document are the code-first approach and the design-first approach.
--->
The two main approaches to generating an OpenAPI document are the code-first approach and the design-first approach.

The default format of the generated document is yaml, but documents can also be provided in JSON format. The following OpenAPI document is generate

[2021-11-26 15:00] Azquelt commented on #4398
A few counter suggestions:

This description applies to the `registration` parameter, so I'd put one of the following:
The registration of the car to be added to the inventory.
The registration of the car which is to be added to the inventory.

I think the original is better here. The approach is to design the REST API in an editor before you write any code. Using the swagger editor to do this is

[2021-11-26 15:20] Azquelt commented on #4398
I also noticed the following part which doesn't make sense and I must have missed when I reviewed this before:

An EAR always contains one application, so saying "the first application in your `EAR` file" doesn't make sense.

What actually happens is that it tries to generate OpenAPI documentation for each module of each deployed application* in turn, until it finds one for which it can generate a

[2021-11-28 22:10] dmuelle commented on #1695
Topic is in the vNExt branch and will publish with the 21.0.0.12 docs release

[2021-11-28 22:10] #1695 closed

[2021-11-29 19:09] dmuelle commented on #4626
Thanks for reviewing @NottyCode - the revised draft is at

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.12/jakarta-ee9-feature-updates.html

Made the following revisions:

1. revised the first 2 paragraphs to provide more context
2. clarified what happens when you mix an older feature name with a new feature version
3. Made the tables parallel. The previous "Java EE" full feature nam

[2021-11-29 20:10] dmuelle opened #4980 "Update Java EE config examples for Jakarta EE"
There are 5 Java EE features that were renamed for EE 9.1 that have config examples on their feature pages that we need to migrate to the new feature names.

We need to go through the examples and check for references to features and API packages to make sure the correct names are referenced. Then create new examples files with the correct names.

- [x] JavaMail (javaMail-1.6) --->Jakarta Mail 2.0

[2021-11-29 20:11] dmuelle commented on #4980
see https://github.com/OpenLiberty/openliberty.io/issues/2287#issuecomment-981948122 for more info

[2021-11-29 22:13] #4626 closed, assigned to ramkumar-k-9286

[2021-12-01 17:14] ramkumar-k-9286 commented on #4942
Hi David @dmuelle

The suggested changes have been made to the document.
Changes Suggested:
**Change "Do not begin the with a dash (-) or a period (.)." to "Do not begin the name with a dash (-) or a period (.)." (Add "name".)
For "Server serverName created", italicsize "serverName".**

Draft site link: **https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-create.html*

[2021-12-01 17:19] ramkumar-k-9286 commented on #4927
Hi David @dmuelle

The Changes specified have been added.

Draft site link:https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-dump.html

**Doubt:**  WRT this sentence, which was left out:
`The resulting file is created by using UTF-8 encoding for entry names, so the tool that you use to open the file must be able to use UTF-8 encoding for entry names. The jar command

[2021-12-02 00:13] chirp1 opened #4991 "Updates for Admin Center topic"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

- For "Manage Open Liberty with Admin Center" topic at https://openliberty.io/docs/21.0.0.10/oidc-tools.html
The tool box screenshot has four tools in it, including one with the op

[2021-12-03 00:49] dmuelle commented on #4942
LGTM- you can send it to staging when you have a chance

[2021-12-03 00:50] dmuelle commented on #4927
As discussed, just need to move the statement to be just above the "Usage Examples" section

[2021-12-03 00:58] dmuelle commented on #4991
the `feautreManager` tool is not available in OL, so the uninstall operation is not valid in this context.

[2021-12-03 01:07] dmuelle opened #4992 "Move admin/reader role config examples to Restconnector feature page"
per comment from alasdair, need to move these examples

https://www.openliberty.io/docs/21.0.0.12/reference/feature/appSecurity-4.0.html#_configure_rest_api_management_roles

from the appSecurity feature to the restConnector feature. Also need to update any links to the topics.

[2021-12-03 01:29] #3343 closed, assigned to ramkumar-k-9286

[2021-12-03 01:30] dmuelle commented on #4863
all docs in this epic are published, as are the EE9.1 Javadoc and feature updates.

[2021-12-03 01:30] #4863 closed, assigned to nobody

[2021-12-03 09:28] ramkumar-k-9286 commented on #4927
Hi David @dmuelle

The Changes specified have been added, moved the statement to be just above the "Usage Examples" section.

Draft site link:https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-dump.html

Regards
Ramkumar

[2021-12-03 13:53] dmuelle commented on #4927
looks good- one more minor change that I just noticed- need to monospace the reference to the `jar` command.

"The `jar` command in a Java SDK uses this format."

otherwise this is ready to go to staging

[2021-12-06 10:08] ramkumar-k-9286 commented on #4927
Hi David @dmuelle

The Change specified - **monospace the reference to the `jar` command**. have been done.

Draft site link:https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-dump.html

Regards
Ramkumar

[2021-12-06 14:47] dmuelle commented on #4927
reading this again- I wonder if this sentence might be unclear:

"If the defaultServer does not already exist, the command fails."

maybe it should be

"If no existing server is named `defaultServer`, the command fails when no server name is specified."

also noticed this- in the introduction it says:
"the _result_ file contains server configuration, log information, and details of the deployed ap

[2021-12-06 14:50] dmuelle commented on #4992
see also https://github.ibm.com/websphere/liberty-docs/issues/2529

[2021-12-06 17:53] ramkumar-k-9286 commented on #4942
@dmuelle

Changes in vNext, will publish with 22.0.0.1

Regards,
Ramkumar

[2021-12-06 17:53] #4942 closed, assigned to ramkumar-k-9286

[2021-12-07 09:56] ramkumar-k-9286 commented on #4927
Hi David @dmuelle

The corrections specified have been done.

Draft site link:https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-dump.html

Regards
Ramkumar

[2021-12-07 14:33] dmuelle commented on #4927
I just realized that every Liberty package contains a server that is called `defaultServer` so whaty we have is not 100% accurate.  Also in the previous sentence, need a noun identifier for `defaultServer`.

 If you do not specify a server name, the command uses `defaultServer` for the name value. If no existing server in the `wlp/usr/servers` directory is named `defaultServer`, the command fails

[2021-12-07 20:42] dmuelle commented on #4855
Hi Andy, just circling back on this- is there any new information we need to document other than what you have in the previous comment?

[2021-12-07 22:09] dmuelle commented on #4880
Hi @hlhoots - here is the draft for this update:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/default-environment-variables.html

Let me know if any further edits are needed. If not, you can add the `Technical Reviewed` label to this issue and the changes will publish with 22.0.0.1. Thanks!

[2021-12-07 22:16] dmuelle commented on #4398
Thanks @Azquelt @ramkumar-k-9286 , I've updated the draft:

https://draft-openlibertyio.mybluemix.net/docs/latest/documentation-openapi.html

I made Andrew's requested change to the default behavior statement and Ram's requested changes, with the following exceptions:

`The two main approaches to generating an OpenAPI document are the code-first approach and the design-first approach.`
it's a mino

[2021-12-08 02:35] chirp1 commented on #4879
Epic is at https://github.com/OpenLiberty/open-liberty/issues/16991

[2021-12-08 03:02] chirp1 commented on #4842
Purpose: Customers download public key and use signature file to verify the IBM signature.

[2021-12-08 12:05] ramkumar-k-9286 commented on #4398
# Peer Review

MicroProfile OpenAPI facilitates this communication by generating human and machine-readable documentation on a simple interface that doesn’t require access to the source code.
--->
MicroProfile OpenAPI facilitates this communication by generating human and machine-readable documentation on a simple interface that does not require access to the source code.

The default format of th

[2021-12-08 12:20] ramkumar-k-9286 commented on #4927
Hi David @dmuelle

The correction has been done.

Draft site link:https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/command/server-dump.html

Regards
Ramkumar

[2021-12-08 16:25] dmuelle commented on #4927
LGTM, you can send it to staging when you have a chance

[2021-12-08 16:36] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

For Review:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#log-messages.

Regards,
Ramkumar

[2021-12-08 18:50] dmuelle commented on #4398
Draft updated:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/documentation-openapi.html

made all changes except for the following:

`MicroProfile OpenAPI facilitates this communication by generating human and machine-readable documentation on a simple interface that does not require access to the source code.`
contractions are ok

In this context, "top-level" refers to hierarchy r

[2021-12-08 19:47] dmuelle commented on #4882
initial peer review comments

- the bulleted list that begins with "Key values must not contain spaces." needs an introduction. Something like "The following restrictions apply to server.env files."
- make sure each bullet is a complete sentence
- rewrite the bullet about literals so it is a complete sentence that doesn't end in "when"
- rather than having a subsection for Windows and for mac, I'd

[2021-12-09 12:27] ramkumar-k-9286 commented on #4398
LGTM.

Adding the `Peer Reviewed' label.

Regards
Ramkumar

[2021-12-09 18:26] dmuelle commented on #4842
OpenSSL dgst doc: https://www.openssl.org/docs/man1.1.1/man1/openssl-dgst.html

[2021-12-09 18:34] dmuelle commented on #4927
changes are on vNext and will publish with 22.0.0.1

[2021-12-09 18:34] #4927 closed, assigned to ramkumar-k-9286

[2021-12-09 18:36] dmuelle commented on #4910
use `4880-ENV` branch to edit the env variable doc

[2021-12-10 12:51] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Review Comments incorporated.

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html

Regards,
Ramkumar

[2021-12-10 12:57] ramkumar-k-9286 commented on #4842
Hi Chuck @cbridgha

Wanted your opinion on something:

Where would this new document fit in the **Table Of Contents**:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/overview.html

 Would it come under **Basics** / **Installing Open Liberty beta releases** /  ?

Regards,
Ramkumar

[2021-12-10 16:45] dmuelle commented on #4842
To clarify, I think two most likely places for the topic in the docs would be as a top-level entry in either the `Basics` section or the `Security` section. I'm thinking this is probably closer to Basics than security but I could see it either way

[2021-12-10 16:53] andymc12 commented on #4855
Hi @dmuelle - sorry for the slow reply.

Other than what has been mentioned above there are two other behavior changes that should be documented:

1) The MP Fault Tolerance annotation, `@Timeout` will not behave the same when placed on synchronous rest client interface methods in Liberty's MP Rest Client 3.0 implementation as it did in the 2.0 implementation.  The older implementation essentially

[2021-12-10 17:23] dmuelle commented on #4855
Thanks Andy- I think we could cover this info in a "Behavior changes..." doc that is linked from the REST clients doc and feature page.

As far as examples, for your comment from 11/4- the example you provided shows what will no longer work in 3.0- would it be helpful to show how you could replace this code to get it to work?

In the previous comment

1. where are MP REST client timeouts documente

[2021-12-10 17:57] andymc12 commented on #4855
Hi David,

There isn't a good way to replace the code from 11/4. Basically the user would need to provide their own method of getting the context information in the provider class...

One approach would be that the user could register a `ClientRequestFilter` and then obtain things like the URI, etc by getting them from the passed-in `ClientRequestContext` object - then store those objects in a `Th

[2021-12-10 17:59] dmuelle commented on #4855
Thanks Andy, I'll send the draft when I have it ready

[2021-12-13 10:46] ramkumar-k-9286 commented on #4842
Hi David @dmuelle

The following is the draft content ( before putting it into any document)
____

Signature files (*.sig) are produced for every package of an Open Liberty release.  You can verify these signature files by using the corresponding public key that is provided on IBM’s DHE download site.

For example, IBM uses its private key to digitally sign the latest Open Liberty release. You can

[2021-12-13 15:24] dmuelle commented on #4842
a few comments-

- we need to make sure references to IBM are handled properly. This looks ok as far as I know but we'll want to run it by Alasdair when the draft is ready. I'm not sure if we want to claim that OL packages are "released by IBM".
- `You can use the Open Liberty public key that is provided on IBM’s DHE download site to check the signature. Verify that the Open Liberty release packag

[2021-12-13 16:49] ramkumar-k-9286 commented on #4842
SUGGESTED FILE NAME:

`verifying-package-signatures.adoc`

[2021-12-13 18:20] ramkumar-k-9286 commented on #4882
**Conversation with the developer (for reference)**

CC@dmuelle
___

**Ramkumar K**

Hi Jim. Needed some clarification With regards to the following issue :
https://github.com/OpenLiberty/docs/issues/4882
Basically had 2 questions with regards to the expansion variables:

1. In the example shown for Linux,
Example `server.env` file:
[code]
the expansion variable for JAVA_HOME seems missing. Wanted

[2021-12-13 22:11] dmuelle commented on #4855
Hi @andymc12 - here is the initial draft for the MPRC 3.0 behavior changes doc:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/mprc-dif.html

Let me know what changes are needed. Thanks!

[2021-12-14 14:53] andymc12 commented on #4855
Hi @dmuelle, I think this doc looks great.  Only one suggestion:

In the `@Timeout` section, can we change this sentence:

to something like:

That way, it includes the programmatic approach to setting the timeouts.

Thanks so much!

[2021-12-14 15:24] dmuelle commented on #4842
Hi @cbridgha - we are working on this draft but need a little more information to complete it. Can you get back to us on the following questions?

- Are the sig files a separate download or are they included in the OL .zip package download?
    <cdb>Yes they will always appear alongside the original zip files. (*.zip.sig)</cdb>
- Are sig files available for any OL release version? How far back doe

[2021-12-14 15:41] andymc12 commented on #1515
@WhiteCat22 - this might be something to work on as part of MP GraphQL 2.0 (#19529) - same doc for 1.0 and 2.0 (only package namespace change)

[2021-12-14 15:52] hlhoots commented on #4880
@dmuelle Draft write up looks good to me.

[2021-12-14 20:22] dmuelle commented on #4855
Hi @andymc12, I've updated the draft with that change:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/mprc-dif.html

If you see anything else that needs a fix just let me know. Otherwise, you can sign off by adding the `technical reviewed` label to this issue and the doc will publish with 22.0.0.1. Thanks!

[2021-12-14 20:30] andymc12 commented on #4855
Hi @dmuelle - it looks good to me!  Thanks again!

[2021-12-15 10:38] ramkumar-k-9286 commented on #4855
# Peer Review

With the release of the MicroProfile REST Client 3.0 feature (mpRestClient-3.0), the underlying MicroProfile REST Client implementation for Open Liberty **changed** from Apache CXF to RESTEasy.
--->
With the release of the MicroProfile REST Client 3.0 feature (mpRestClient-3.0), the underlying MicroProfile REST Client implementation for Open Liberty **changes** from Apache CXF to RE

[2021-12-15 11:47] ramkumar-k-9286 commented on #4880
# Peer Review

The ${wlp.install.dir} configuration variable has an inferred location that is set to the parent of the directory that contains the launch script.
--->
The `${wlp.install.dir}` configuration variable has an inferred location that is set to the parent of the directory that contains the launch script.
(Not sure if this needs to be in monospace, confused as it is mentioned as a variabl

[2021-12-15 12:47] ramkumar-k-9286 commented on #4842
Hi David @dmuelle

Please find the draft site link for the doc:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Will need to incorporate info on Maven as well as other queries shared with Chuck.

Regards,
Ramkumar

[2021-12-15 16:43] dmuelle commented on #4855
Thanks for reviewing @ramkumar-k-9286 all suggestions are incorporated in[ the updated draft](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/mprc-dif.html) except for the following:

- In MicroProfile REST Client 3.0 and later, Open Liberty does not support the @Context annotation as a portable injection mechanism in the ClientHeadersFactory instances.
- In this example, the

[2021-12-15 16:59] dmuelle commented on #4880
Thanks for reviewing @ramkumar-k-9286 , all suggestions incorporated in [the updated draft ](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/default-environment-variables.html)except for the following:

- Not sure if this has any relevance, but should y be in caps Y

No- the value would be specified lowercase, only the ENV variable is all caps

[2021-12-15 18:39] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Review Comments incorporated.

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html

Regards,
Ramkumar

[2021-12-15 21:34] dmuelle commented on #4882
I don' think you merged the changes- I dont see them on the draft site or in Git

[2021-12-16 11:57] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Comments incorporated.

Link: https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html

Regards,
Ramkumar

[2021-12-16 12:45] cbridgha commented on #4842
Updated David's comment above...

[2021-12-16 21:18] dmuelle commented on #4730
Hi @teddyjtorres - I'm working on a new draft for this topic, but have few a few questions about the source docs

## [Configuring an OpenID Connect Client in Liberty](https://www.ibm.com/docs/en/was-liberty/nd?topic=connect-configuring-openid-client-in-liberty)

**Step 1**, in the Avoid trouble note, it says

But I thought the Relying Party and the client were the same thing? what is the differenc

[2021-12-17 10:23] ramkumar-k-9286 commented on #4880
LGTM - Adding the `Peer Reviewed` label.

Regards,
Ramkumar

[2021-12-17 10:27] ramkumar-k-9286 commented on #4855
LGTM - Adding the `Peer Reviewed` label.

Regards,
Ramkumar

[2021-12-17 12:34] ramkumar-k-9286 commented on #4882
Hi Jim @jimblye

Could you review the following document:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html

If additional changes are required, could you leave comments in this issue?

If the changes are as expected, could you add the `Developer Reviewed` label?

Regards,
Ramkumar

[2021-12-17 16:49] ramkumar-k-9286 commented on #4910
**Conversation with Chuck Bridgham ( For Reference)**
___
**Ramkumar K**
Hi Chuck. I had another question regarding an issue I needed to document (edited)
on the [Default environmental variables](https://www.openliberty.io/docs/21.0.0.11/reference/default-environment-variables.html) page, all the env variables from the `wlp/bin/server.bat` file are documented except `JVM_ARGS`.
should we be docume

[2021-12-17 17:15] ramkumar-k-9286 commented on #4882
Hi Jim @jimblye

Could you review the following section:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

If additional changes are required, could you leave comments in this issue?

If the changes are as expected, could you add the `Developer Reviewed` label?

Regards,
Ramkumar

[2021-12-17 19:09] jimblye commented on #4882
Review comments:

Two sentences, ending with a preposition.  Though I think they were already there and not related to the new changes:
WLP_OUTPUT_DIR -"_Indicates where the server writes files to. By default, the server writes to the directory structure that the configuration is read from."_
WLP_OUTPUT_DIR -_Indicates where the server writes files. By default, the server writes to the directory s

[2021-12-20 14:51] dmuelle commented on #4917
the following files contain references to "Docker" that should updated to "container". Several topics container Docker CLI examples that should be updated to include OS alternatives

- [x] integration-testing.adoc

- [x]  security-hardening.adoc & server-configuration-hardening.adoc

- [x] relational-database-connections-JDBC.adoc (added podman examples)

- [x] log-trace-configuration.adoc (added

[2021-12-20 18:19] ramkumar-k-9286 commented on #4882
Otherprops `22001+` Documentation for customizing the Liberty server manually is available on the [Open Liberty website](production url)

[2021-12-20 20:40] dmuelle commented on #4991
- the open liberty link, which a default for the toolbox, is described in the sentence preceding the screenshot

The OpenID connect tools are only available when you enable OIDC. The link to the OL site is there by default. I've replaced the screenshot with one that doesn't contain the Java batch icon, so the screenshot contains only the default tools you see when you first log in if the OIDC and

[2021-12-20 20:48] dmuelle commented on #4879
Also need to update MP javadoc for 5.1, will track as part of this issue

[2021-12-20 21:24] dmuelle opened #5041 "Review Logging and Trace IBM docs to ensure all relevant info has been migrated"
https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-logging-trace

though most of this info has been migrated to https://www.openliberty.io/docs/latest/log-trace-configuration.html, some of the material after table 1 on the IBM Docs page has not been moved. Need to evaluate what is there against what is in OL and OL autogen. Possibly add a new "trace" section to cover the

[2021-12-20 21:31] dmuelle opened #5042 "Add missing info to transport security feature page"
add the following information to the transport security feature page as an extended description:

When the transportSecurity-1.0 feature is enabled, the Liberty server sets a custom SSL Socket factory that uses the ssl.SocketFactory.provider Java security property. This security property is automatically set when the transportSecurity-1.0 feature is enabled. When you are using the transportSecurit

[2021-12-20 21:37] dmuelle opened #5043 "Migrate Tip from IBM Docs topic on dir locations"
On the [Directory locations and properties page](https://www.openliberty.io/docs/21.0.0.12/reference/directory-locations-properties.html), add the following tip from [the IBM Docs source](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-directory-locations-properties):

[2021-12-20 21:42] dmuelle opened #5044 "Review "Configuring LDAP user registries in Liberty" to check for missing info in OL docs"
Check through this topic:

https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-ldap-user-registries-in

to be sure all pertinent info has been moved to OL- the LDAP and federated user registry features pages

[2021-12-20 21:42] dmuelle commented on #5044
comments from analysis:

(1) Info in overview https://openliberty.io/docs/21.0.0.5/user-registries-application-security.html and
(2) feature topic at https://www.openliberty.io/docs/21.0.0.11/reference/feature/ldapRegistry-3.0.html
(2a) transportSecurity reference missing.
(2b) Change .jks to .p12.
(2c) Mention securityUtility encode command to encode the bindPassword password.
(2d) Missing ClassC

[2021-12-20 21:46] dmuelle opened #5045 "Add caution note from iBM docs to security utility command page"
add the following [note from IBM Docs](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=applications-securityutility-command) to the [securityUtility command overview page](https://www.openliberty.io/docs/21.0.0.12/reference/command/securityUtility-commands.html)

[2021-12-20 21:46] dmuelle commented on #5045
Different operating systems and command line environments treat some characters differently. In many environments, you can redefine which characters are special and how they behave.

For Windows platformsBy default, in the Windows environment, if you have an exclamation point (!) in your input string, it must be escaped by the caret character (^). The following example has a value of a! encoded.
D

[2021-12-20 21:54] dmuelle opened #5046 "Evaluate "Tuning Liberty""
This topic doesnt exist in OL: [Tuning Liberty](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=tuning-liberty)

Check it against https://www.openliberty.io/docs/21.0.0.12/thread-pool-tuning.html and the OL gendoc- either add any missing info to the gendoc or create a new "tuning topic"

[2021-12-20 22:22] dmuelle opened #5047 "Add missing info from SSL Config attributes page to transport security feature page"
The following items from the [SSL Defaults IBM Docs page](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-ssl-configuration-attributes) should be investigated and added to the ssl examples on the transport security feature page. Do not replicate the info from the autogen, open an issue to correct autogen if any info is missing there.

(2) Missing provider attribute in:

[2021-12-20 22:30] dmuelle opened #5048 "document missing default jvm options"
The list of default JVM options from the [Server process section of this doc](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=line-server-command-options) should be add to the jvm options section of [the server config overview](https://www.openliberty.io/docs/21.0.0.12/reference/config/server-configuration-overview.html#jvm-options).

[2021-12-20 22:35] #5048 closed, assigned to nobody

[2021-12-21 12:10] ramkumar-k-9286 commented on #4882
Hi Jim @jimblye

All the changes suggested have been incorporated:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

A link has been added from the liberty document to the OL document.

If the changes are as expected, could you verify and add the `Developer Reviewed` label?

Regards,
Ramkumar

CC @dmuelle

[2021-12-21 12:32] ramkumar-k-9286 commented on #4910
Hi David @dmuelle

The suggested changes have been made to the document.

Draft page link: https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/default-environment-variables.html

Regards,
Ramkumar

[2021-12-21 12:59] ramkumar-k-9286 commented on #4842
Hi David @dmuelle

Please find the draft site link for the doc:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Incorporated info on Maven

Regards,
Ramkumar

[2021-12-21 15:01] dmuelle commented on #4842
@ramkumar-k-9286 - the info for maven iosn't showing up in the draft.

comments for the first section:

I think you can remove "For example," here. It isn't really an example so much as a description of the process . Also needs a comma after "...released b y IBM,". I'm still not sure that's the wording we want for OL but leave as is for now.

The bulleted list of files  is not rendering- prob need

[2021-12-21 15:12] dmuelle commented on #4910
suggested edit:

The list of JVM command line options like system properties or -X parameters. The value is expanded by cmd.exe and quotations are used to enclose space in values.
--->
A list of command-line options, such as system properties or -X parameters, that are passed to the JVM when the server starts. Any values that contain spaces must be enclosed in quotes.

I think we should avoid cmd.

[2021-12-21 18:11] ramkumar-k-9286 commented on #4910
Hi David @dmuelle

Corrections made as per request.

Draft page link: https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/default-environment-variables.html

Regards,
Ramkumar

[2021-12-21 19:15] dmuelle opened #5055 "Create SSL Defaults topic"
Analyze and migrate the info in this IBM docs topic:

https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-ssl-defaults-in

don't replicate info from the autogen

[2021-12-21 19:28] dmuelle opened #5056 "Edits for the server stop command page"
Per Karens comments on [the IBM Docs source of this topic](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=line-starting-stopping-server-from-command)

- (1) Keep the autoscaling tip from IBM docs topic
- (2) Remove "This command triggers .... and the server process exits." from OL topic. Move the paragraph in the IBM docs topic that starts with "Normal server stop includes ..

[2021-12-21 19:36] dmuelle opened #5057 "Edits for Basic User Registry page"
Add the following info[ from IBM Docs](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-basic-user-registry) to the [User Registry page](openliberty.io/docs/21.0.0.12/user-registries-application-security.html)

(1) Remove all trailing and leading spaces from the user and group names.
(2) If user ID or password contains characters other than US-ASCII, make su

[2021-12-21 20:18] jimblye commented on #4882
I add developer review label here: https://github.com/OpenLiberty/docs/issues/4882Thanks,
Jim Blye
WebSphere Application Server Development - WCCM
 
 
----- Original message -----From: "Ramkumar" ***@***.***>To: "OpenLiberty/docs" ***@***.***>Cc: "jimblye" ***@***.***>, "Mention" ***@***.***>Subject: [EXTERNAL] Re: [OpenLiberty/docs] Update documentation for configuration file server.env (Issue #4

[2021-12-21 20:54] dmuelle opened #5059 "Add missing info to Connection pooling page"
add the information from [Configuring connection pooling for database connections](https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-configuring-connection-pooling-database-connections) after the example to the [OL example on the JDBC page](https://www.openliberty.io/docs/21.0.0.12/reference/feature/jdbc-4.3.html#_customize_connection_pool_settings).

[2021-12-21 22:27] dmuelle commented on #4910
LGTM- you can send it to staging

[2021-12-22 18:34] dmuelle commented on #4980
changes are on vNext and will publish with 22.0.0.1

[2021-12-22 18:34] #4980 closed, assigned to dmuelle

[2021-12-22 18:34] dmuelle commented on #4992
changes are on vNext and will publish with 22.0.0.1

[2021-12-22 18:34] #4992 closed, assigned to dmuelle

[2021-12-22 18:35] dmuelle commented on #4991
changes are on vNext and will publish with 22.0.0.1

[2021-12-22 18:35] #4991 closed, assigned to dmuelle

[2021-12-22 18:41] dmuelle commented on #4841
topics are removed from nav pending discussion with dev leadership

[2021-12-23 12:26] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Ran Acrolinx on the newly added `server.env` section, incorporated a few changes, removed `+` symbols.

Draft Link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

For **Peer Review**.

Regards,
Ramkumar

[2021-12-23 12:34] ramkumar-k-9286 commented on #4842
Hi David @dmuelle

Corrections done based on previous comments.

Draft link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

For Review.

Regards,
Ramkumar

[2021-12-23 14:59] dmuelle commented on #4882
## peer review

 a few suggested edits:

`WLP_USER_DIR `- Indicates the location of the `usr` directory that contains the server configuration. Set only in the `etc/server.env` file, as other locations are relative to the `usr` directory.
--->
`WLP_USER_DIR `- Indicates the location of the `usr` directory that contains the server configuration. Set this environment variable only in the `etc/server

[2021-12-23 15:44] dmuelle commented on #4842
a few comments-

in the bulleted list of files, start each list item with a capital letter

Replace these values according to the package that you want to verify.
--->
Replace the signature file and package version values according to the package that you want to verify.

They'll use the the same public key value so need to specify that only sig and version values are replaced.

To verify Liberty

[2021-12-23 15:49] dmuelle commented on #4842
@cbridgha - a few more questions about he Maven info
- do you not need to download the zip or sig files, because they are in maven central and this method verifies them there?
-
- **Chuck** For Maven Central - need to download zips and *.asc files
-
- what is `openliberty-runtime-22.0.0.1.zip.asc`? Is this the package or the signature file? Do you not need a .sig file when verifying from Maven?
-

[2021-12-23 16:59] teddyjtorres commented on #4730
Hi @dmuelle,

For Configuring an OpenID Connect Client in Liberty, Step 1, the RP is not the same as the client. The client is either another application, such as a CLI, servlet, or user agent (browser), that is used to access the application hosted by the RP server. For Step 6, yes, all the attributes are needed. As for the groupIdentifier, it depends on what it received in the ID token from the

[2021-12-23 19:25] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Peer Review comments have been incorporated.

Draft Link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

Regards,
Ramkumar

[2021-12-23 19:25] ramkumar-k-9286 commented on #4842
Hi David @dmuelle

Review comments incorporated.

Draft link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

For Review.

Regards,
Ramkumar

[2022-01-05 15:46] dmuelle commented on #4882
This looks good- I just have a couple minor suggestions

I think you could break up the longer paragraph about linux support to make it more readable (also make a few tweaks to sentences):

`As of 22.0.0.1, support for variable expansion is provided to the server.env file on Linux. Expansion variables are prefixed by a dollar sign ( $ ) and the variable name can optionally be enclosed in curly bra

[2022-01-06 09:20] ramkumar-k-9286 commented on #4910
Send to Staging.

[2022-01-06 09:34] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Suggested comments have been incorporated.

Draft Link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

Regards,
Ramkumar

[2022-01-06 15:39] dmuelle commented on #4882
a few minor things:

In version 22.0.0.1 and later, Open Liberty supports expansion variables in `server.env` file on Linux systems.
--->
In version 22.0.0.1 and later, Open Liberty supports expansion variables in the `server.env` file on Linux systems.

The value in each KEY=value pair is interpreted literally
--->
The value in each `KEY=value` pair is interpreted literally

With the variable exp

[2022-01-06 15:43] dmuelle commented on #4398
Topic is on vNExt and will publish with 22.0.0.1 on 1/18. Closing this issue

[2022-01-06 15:43] #4398 closed, assigned to dmuelle

[2022-01-06 15:43] dmuelle commented on #4855
Topic is on vNExt and will publish with 22.0.0.1 on 1/18. Closing this issue

[2022-01-06 15:43] #4855 closed, assigned to dmuelle

[2022-01-06 15:44] dmuelle commented on #4910
Topic is on vNExt and will publish with 22.0.0.1 on 1/18. Closing this issue

[2022-01-06 15:44] #4910 closed, assigned to ramkumar-k-9286

[2022-01-06 15:45] dmuelle commented on #4880
Topic is on vNExt and will publish with 22.0.0.1 on 1/18. Closing this issue

[2022-01-06 15:45] #4880 closed, assigned to dmuelle

[2022-01-06 22:55] dmuelle commented on #4842
# Peer review

Per conversations with @NottyCode and @cbridgha, we should remove references to IBM from the text and avoid linking directly to the public key from this page. Link to the public key will be provided on the OL downloads page. Also, `.sig` files are only for verifiying with the openSSL command. Maven verification uses `.asc` files

Note that none of the links in the current draft work

[2022-01-07 10:25] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

Suggested changes have been incorporated.

Draft Link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

Regards,
Ramkumar

[2022-01-07 10:59] ramkumar-k-9286 commented on #4842
Hi David @dmuelle - For Review.

Reworked on the file as suggested.

Draft link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Regards,
Ramkumar

[2022-01-07 11:46] ramkumar-k-9286 commented on #4842
Hi David @dmuelle - For Review.

Reworked on the file as suggested.

Draft link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Regards,
Ramkumar

[2022-01-07 14:23] dmuelle commented on #4882
LGTM- thanks. You can send this to staging when you get a chance

[2022-01-07 14:44] dmuelle commented on #4842
Looks good, a few comments

- there is still a problem with the link syntax in this topic- none of the links work
- in each subsection, replace the unordered steps with numbered steps
- in the intro, add the following sentence to the second paragraph:
"Signature files are available for Open Liberty releases in version 22.0.0.1 and later"
- in the first gpg2 command example, remove the `>` before t

[2022-01-07 17:39] dmuelle commented on #4730
Hi @teddyjtorres - the draft for the migrated and updated info is now available for technical review:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/openidConnectClient-1.0.html

note that the draft site goes offline briefly during rebuilds, if you get a 404 from this URL, retry after a few minutes.

Let me know if any edits are needed. When you're satisfied with the topi

[2022-01-07 20:07] ramkumar-k-9286 commented on #4842
Hi David @dmuelle - For Review.

Corrections done on the file as suggested.

Draft link:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Regards,
Ramkumar

[2022-01-10 13:14] ramkumar-k-9286 commented on #4882
Hi David @dmuelle

File send to staging.

Staging site Link:
https://docs-staging-openlibertyio.mybluemix.net/docs/22.0.0.1/reference/config/server-configuration-overview.html#server-env

Regards,
Ramkumar

[2022-01-10 14:58] dmuelle commented on #4842
Hi @cbridgha -  I've been trying to follow the Maven process to generate an example of the console response for the "edit trust of key owner" step. But I can't get the `gpg2 --keyserver hkp://keyserver.ubuntu.com --recv-keys 46102B8E` command to work. Per your suggestion, I tried updating gpg- no dice. With both the LTS version (2.2.33) and the latest stable version (2.3.4) I get the same result:

[2022-01-10 17:57] teddyjtorres commented on #4730
Hi David,

Thank you for the changes! There is a small update. There is an extra tick mark that needs removing,

[2022-01-11 09:16] ramkumar-k-9286 commented on #4882
Topic is on vNExt and will publish with 22.0.0.1 on 1/18. Closing this issue

[2022-01-11 09:16] #4882 closed, assigned to ramkumar-k-9286

[2022-01-11 11:57] ramkumar-k-9286 commented on #4730
## Peer Review

You can configure an Open Liberty server to function as an OpenID Connect Client, or Relying Party (RP), so that you can use an OpenID Connect Provider (OP) as a single-sign-on identity provider.
--> **( The comma after Relying Party (RP) looks unnecessary)**
You can configure an Open Liberty server to function as an OpenID Connect Client, or Relying Party (RP) so that you can use

[2022-01-11 20:23] dmuelle commented on #4730
Thanks for reviewing @ramkumar-k-9286 - all suggestions implemented, except for the following:

- ( The comma after Relying Party (RP) looks unnecessary)
It's needed to set off `, or Relying Party (RP),` as a modifier that restates "client"
- `To enable the OpenID Connect Client 1.0 feature, add the following element declaration into your server.xml file, inside the featureManager element:` This s

[2022-01-12 12:29] ramkumar-k-9286 commented on #4730
LGTM - Adding the `Peer Reviewed` label.

[2022-01-12 15:04] dmuelle commented on #4879
Hi @Emily-Jiang - I've added the following statement to both the [MicroProfile 5.0 feature page](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/microProfile-5.0.html) and the [MicroProfile overview](https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile.html).

If any further edits are needed, let me know. If not, you can sign off by adding the `Technical revie

[2022-01-12 16:32] Emily-Jiang commented on #4879
Looks good @dmuelle ! thanks

[2022-01-12 22:36] dmuelle commented on #4730
topic is on Vnext and will publish with 22.0.0.1

[2022-01-12 22:36] #4730 closed, assigned to dmuelle

[2022-01-12 22:37] dmuelle commented on #4879
topic is on Vnext and will publish with 22.0.0.1

[2022-01-12 22:37] #4879 closed, assigned to dmuelle

[2022-01-14 03:15] dmuelle commented on #4842
console response for editing trust

[code]

[2022-01-14 03:27] dmuelle commented on #4842
I think we can break this up into multiple examples.

2. Use the `gpg2 --edit-key` command to set the trust for the key owner to 5.

The following examples show the `gpg2 --edit-key` command and the console output that it generates.
[code]
When you run the `gpg2 --edit-key` command, the console displays information about the key owner, followed by an internal command prompt. At this prompt, enter

[2022-01-14 03:27] dmuelle commented on #4842
also noticed there is a stray plus sign before the second Results section

[2022-01-17 20:36] ramkumar-k-9286 commented on #4842
Hi Chuck @cbridgha

All the comments have been incorporated. The draft link for the page is:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.1/verifying-package-signatures.html

Please add the `Technical Reviewed` label if the page looks good.
Please add comments in the issue, in case you need any additional changes.

Regards,
Ramkumar

cc @dmuelle

[2022-01-19 22:57] jimblye commented on #4550
The documentation for this is here:  https://www.ibm.com/docs/en/was-liberty/core?topic=line-generating-liberty-configuration-schema-from-command

It just needs moved(copied?) to open liberty.

The following changes need to be made so that we are documenting the command script rather than the JAR.

They will still be able to use the JAR, but that's not the preferred way, and we should really only

[2022-01-19 23:12] jimblye opened #5118 "Document the serverSchemaGen command"
Note the similarity to issue #4550  to avoid getting them mixed up   :)

The serverSchemaGen command is not documented anywhere and the --help option doesn't provide any information at all.
Invoking the command with zero parameters tells you that you should use the server_name as a parameter.

There will be a separate issue to fix the --help option.

The serverSchemaGen command generates a schema

[2022-01-19 23:14] dmuelle commented on #5118
need to differentiate between schemaGen and serverSchemaGen so customers know which one to use

[2022-01-20 14:13] dmuelle commented on #5118
issue on the dev side for the help

https://github.com/OpenLiberty/open-liberty/issues/15140

I got the following the message the first time I ran it against a running server:

`$ serverSchemaGen OIDC
CWWKG3002E: The server named OIDC is not configured to accept local JMX requests. Ensure that the server configuration includes the localConnector feature, and that the server is started.`

added `lo

[2022-01-20 14:35] dmuelle commented on #5118
we also need to document any exit codes that apply to this command

[2022-01-20 14:39] dmuelle commented on #4550
@jimblye are there any exit codes for `schemaGen` ?

[2022-01-20 15:16] dmuelle commented on #5056
for (1)- autoscaling applies to clusters- not relevant to Open Liberty

other changes are now on draft:
https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/command/server-stop.html

[2022-01-20 16:24] jimblye opened #5125 "Server Config Overview missing enabler in the example"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

.
.
.
**The following page has an example which is missing the  "# enable_variable_expansion":**

https://openliberty.io/docs/22.0.0.1/reference/config/server-configuration-overvie

[2022-01-21 11:59] ramkumar-k-9286 commented on #5125
Hi Jim @jimblye

The comment has been incorporated. The draft link for the page is:
https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/config/server-configuration-overview.html

Please add the `Technical Reviewed` label if the page looks good.
Please add comments in the issue, in case you need any additional changes.

Regards,
Ramkumar

cc @dmuelle

[2022-01-24 15:03] dmuelle commented on #4842
doc is published with 22001: https://www.openliberty.io/docs/22.0.0.1/verifying-package-signatures.html

closing this issue

[2022-01-24 15:03] #4842 closed, assigned to ramkumar-k-9286

[2022-01-24 19:35] dmuelle commented on #5045
closing this issue- general windows info not specific to OL

[2022-01-24 19:35] #5045 closed, assigned to dmuelle

[2022-01-24 20:55] dmuelle commented on #5047
opened https://github.com/OpenLiberty/open-liberty/issues/19903 to add `provider` to the keySTore metatype and add doc to autogen

[2022-01-24 20:55] #5047 closed, assigned to dmuelle

[2022-01-25 16:55] ramkumar-k-9286 commented on #5125
Moved to vNext. Will publish 15-Feb with 22.0.0.2.

[2022-01-25 16:55] #5125 closed, assigned to ramkumar-k-9286

[2022-01-25 17:28] dmuelle commented on #5056
changes are vNExt and will publish w/ 22002

[2022-01-25 17:28] #5056 closed, assigned to dmuelle

[2022-01-25 18:36] dmuelle commented on #4841
# Notes from meeting on 1/25

w/ @NottyCode @chirp1 @gcharters @mbroz2 @ramkumar-k-9286

Proposal for managing current and differences topics- create subtopics in the Development section of the nav for Jakarta EE 9.1 and any relevant versions of MicroProfile. Sections within these topics will contain the info for relevant sub-specs that have documented differences between versions.

## As is
5 "di

[2022-01-25 19:29] dmuelle commented on #4841
## Questions
per @mbroz comments

- What to do with changes  that overlap both EE4J and MP Specs? like jax-rs/MP rest client- should one spec be given precedence to host the content, which the other will then link to?
- What about MP features that are standalone and not part of an MP umbrella release?
- Are MP users sufficiently aware of the relevant umbrella specs when they are migrating between

[2022-01-25 19:30] dmuelle commented on #4841
## To do
- [x] Create subtopics under microprofile and jakarta EE to host differences issues. Separate docs for each transition between versions that has info to document (see topic breakdown below)
- [x] Migrate info from current differences doc to the designated section of transition topics for the relevant sub-spec and remove current "differences" topics
- [x] add links from the  feature versio

[2022-01-26 20:00] dmuelle opened #5137 "CVE Updates for 22.0.0.22"
draft is updated in #5135

[2022-01-31 16:17] dmuelle commented on #4550
Hi @jimblye - this doc update is ready for review at:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/command/schemaGen.html

I also add a redirect statement to the WAS Liberty doc:
https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=line-generating-liberty-configuration-schema-from-command
(the link here won't work until the doc publishes with 22002 though)

2

[2022-01-31 17:29] ramkumar-k-9286 commented on #3125
All landing pages are currently published. Proceeding to close this issue.

[2022-01-31 17:29] #3125 closed, assigned to ramkumar-k-9286

[2022-01-31 20:15] dmuelle commented on #4841
Draft and navigation updates for this issue are now available for review:

- [Differences between Jakarta EE 8.0 and 9.1](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jakarta-ee-diff.html)
  - includes [Differences between Java Restful Services (JAX-RS) and Jakarta RESTful Web Services 3.0](https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.2/jakarta-ee-diff.html#restfulws)

[2022-01-31 21:31] dmuelle commented on #5046
per comment from alasdair and michal:

Although tuning is mostly automatic, the tunning info that is mentioned in the WL topic doesn't exist in one place in Open Liberty. The user can't rely on cocenptual info in one place to understand manual tuning. Create a tuning topic for manually tuning Open Liberty???? -1 not defined in Open Liberty.- opened https://github.com/OpenLiberty/docs/issues/5046 

[2022-01-31 21:48] dmuelle commented on #5055
though most of this info is already in OL, we don't have a specific page for the defaults. Opened https://github.com/OpenLiberty/docs/issues/5055 1/24/22 Reference to createSSLCertificate parameter, which isn't a parameter.....Info needs to be moved. What is it trying to convey to users as a single document? Topic title and content don't go together. It's about SSL defaults, but also discusses (tr

[2022-02-01 16:37] dmuelle commented on #5046
when this doc is created, include a link to the entry on "`numConnectionsPerThreadLocal` of connectionManager" from JDBC feature example for [Customize connection pool settings](https://www.openliberty.io/docs/latest/reference/feature/jdbc-4.3.html#_customize_connection_pool_settings)

[2022-02-01 17:03] dmuelle commented on #5137
update is on vNext and will publish with 22002

[2022-02-01 17:03] #5137 closed, assigned to dmuelle

[2022-02-01 20:31] jimblye commented on #4550
@dmuelle
First, note that target has changed to 22.0.0.3.

I'm not seeing PID in this context documented anywhere except in an error message:  "CWWKG0021E: The same configuration **persisted** identity (PID) {0} is defined in multiple metatype.xml files."

Clearly we are talking about something that isn't documented.  So spelling it out doesn't help much, but here's a little more info that I got f

[2022-02-02 15:05] dmuelle commented on #4550
ok thanks @jimblye - I've updated the draft and changed our tags to not publish it until at least 22.0.0.3

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/command/schemaGen.html

[2022-02-02 15:11] dmuelle commented on #5043
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/directory-locations-properties.html

[2022-02-02 15:13] dmuelle commented on #5059
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/feature/jdbc-4.3.html#_customize_connection_pool_settings

[2022-02-02 15:52] dmuelle commented on #1515
tentatively targeting for ~~22.0.0.3~~ 22.0.0.4 release- here is the epic for 2.0: https://github.com/OpenLiberty/open-liberty/issues/19529

[2022-02-02 16:51] dmuelle commented on #4917
- [True-to-production integration testing](https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/integration-testing.html)
Replaced references to "Docker" with "container"
- [ Server configuration security hardening](https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/server-configuration-hardening.html#ol-images)
Per conversation with @leochr, replaced references to "Docker" and "Docker Hub

[2022-02-02 17:03] dmuelle commented on #5057
added info to the [Appsecurity example](https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/feature/appSecurity-4.0.html) for configuring a basic registry

[2022-02-02 18:45] jimblye commented on #5118
@dmuelle  I have created a pull request for open liberty issue 15140.   I'm planning on the updated serverSchemaGen and the new schemaGen command being available in 22.0.0.3

The serverSchemaGen command creates a schema based on the configuration of the server specified in the command.

This is the output of the --help option:

**Usage: serverSchemaGen server**

**Options:**

**--schemaversion**
*

[2022-02-02 19:15] dmuelle commented on #5118
Thanks @jimblye -We can get this doc ready for 22.0.0.3. A few questions:
@dmuelle answers in **_italics_**
1. What happens if you don't specify a serverName? Does it run against defaultServer?
     _**It just prints out the usage (first line of --help)):
     Usage: serverSchemaGen server**_

2. My experience testing the command was that it did not work unless the server you are targeting has the

[2022-02-03 22:33] dmuelle commented on #5059
changes on vnext, will publish w/ 22002

[2022-02-03 22:33] #5059 closed, assigned to dmuelle

[2022-02-03 22:34] dmuelle commented on #5057
changes on vnext, will publish w/ 22002

[2022-02-03 22:34] #5057 closed, assigned to dmuelle

[2022-02-03 22:34] dmuelle commented on #5043
changes on vnext, will publish w/ 22002

[2022-02-03 22:34] #5043 closed, assigned to dmuelle

[2022-02-04 19:17] dmuelle commented on #4917
verified podman code example substitution with @leochr via slack

changes are on vNext and will publish with 22.0.0.2

[2022-02-04 19:17] #4917 closed, assigned to dmuelle

[2022-02-08 15:22] dmuelle commented on #4550
need to add `compactOutput` to the options

[2022-02-08 16:10] meiaus opened #5178 "Update the page admin-center.html"
To update the existing topic:
https://openliberty.io/docs/22.0.0.1/admin-center.html

**Current Text:**

The Source mode enables direct access to edit the file text and provides tooltip descriptions for file elements. Hover on elements and parameters to view their documentation. You can press Ctrl+Space to use content assist, which helps you add new elements, parameters, and values.

**To be chang

[2022-02-08 16:11] meiaus commented on #5178
@dmuelle  Thanks.

[2022-02-08 16:12] meiaus commented on #5178
@k8vance88 please review and if more update to be added.  Thanks.

[2022-02-08 16:25] dmuelle commented on #5178
Hi @meiaus - for this edit can we provide a little more context? Does this warning pertain to content-assist in particular? It might be helpful to provide some kind of example so users are not left to wonder what could make the server fail.

[2022-02-08 16:33] meiaus commented on #5178
Hi @dmuelle, @k8vance88 the Admin Center dev agrees to add the example.  In the meantime, we're wondering if the page supports the "note" or "alert" type of box like it seen in tWAS doc:

![image](https://user-images.githubusercontent.com/27024803/153032031-70779de3-8e08-4ac6-9081-4214860dbc41.png)

[2022-02-08 16:35] meiaus commented on #5178
The idea of making the note to the user is to avoid the possible failure of server startup when an invalid update is made.

[2022-02-08 16:40] dmuelle commented on #5178
we don't have note boxes on the OL site, but we can add more context to the description to make it clear that while the editor can make content assist suggestions, it cannot detect whether the configuration values are valid

[2022-02-08 16:56] k8vance88 commented on #5178
It's more of a general warning, like when you go into your browser settings or OS settings and they say I hope you know what you are doing.  They are editing server config and any number of wrong configurations could mes up their server.

[2022-02-10 15:09] dmuelle opened #5180 "edit title and nav for "verifying release packages""
per discussion on OL website call, change title

[Verifying release packages](https://www.openliberty.io/docs/22.0.0.1/verifying-package-signatures.html)
--->
[Verifying release package signatures](https://www.openliberty.io/docs/22.0.0.1/verifying-package-signatures.html)

and move topic to security section

[2022-02-10 20:21] dmuelle commented on #5178
Hi @k8vance88 @meiaus this  update is now available for review on draft:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.2/admin-center.html#server

I tried to add a little more context to give users an idea of why/when they might encounter a problem. Let me know if any further edits are needed. If not, you can add the `technical reviewed` label to this issue and the changes will publi

[2022-02-11 12:50] ramkumar-k-9286 commented on #5042
Hi David @dmuelle

An extended description has been added to the following link.

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/feature/transportSecurity-1.0.html

Regards,
Ramkumar

[2022-02-11 16:31] dmuelle commented on #5042
per our conversation with Alaine- jere's a draft of the updated statement:

When the Transport security feature is enabled, the SSL context for the process is the default SSL context of the Java Secure Socket Extension (JSSE). Therefore, the `SSLContext.getDefault()` method returns the default SSL context of the JSSE. However, when this feature is enabled, Liberty also sets a custom SSL socket fac

[2022-02-11 16:51] meiaus commented on #5178
@dmuelle thank you very much.  I reviewed and liked the way you edited with key words such as `does not validate`, `entering invalid configuration`.

[2022-02-13 18:13] frowe opened #5191 "Content not found error for bells page"
Searching for bell returns the following URL: https://www.ibm.com/docs/en/was-liberty/base?topic=configuration-bell which when clicked on results in "We're sorry! Content not found"

[2022-02-14 12:21] ramkumar-k-9286 commented on #5042
Hi David @dmuelle

Corrections have been made to the extended description as suggested.

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.2/reference/feature/transportSecurity-1.0.html

Noticed that:
Enabling this feature

To enable the Transport Security 1.0 feature, add the following element declaration into your server.xml file, inside the featureManager element:

mentions Transport Securi

[2022-02-14 15:46] dmuelle commented on #5042
the updated text looks good- except for consistency with the rest of the page, we should replace Liberty with Open Liberty

When the Transport security feature is enabled, the SSL context for the process is the default SSL context of the Java Secure Socket Extension (JSSE). Therefore, the SSLContext.getDefault() method returns the default SSL context of the JSSE. However, when this feature is enab

[2022-02-14 16:05] dmuelle commented on #5178
changes are on vNExt and will publish with tomorrow's release. Closing this issue, thanks!

[2022-02-14 16:05] #5178 closed, assigned to dmuelle

[2022-02-14 16:05] dmuelle commented on #5180
changes are on vNExt and will publish with 22.0.0.2, closing this issue

[2022-02-14 16:05] #5180 closed, assigned to dmuelle

[2022-02-14 18:52] dmuelle commented on #5191
Hi @frowe - this may have been due to a slow server or connectivity issue. I can access the content at https://www.ibm.com/docs/en/was-liberty/base?topic=configuration-bell as expected. This content is also available on the Open Liberty website at : https://www.openliberty.io/docs/latest/reference/config/bell.html.

Closing this issue since I can't reproduce the problem. If I've misunderstood, fee

[2022-02-14 18:52] #5191 closed, assigned to nobody

[2022-02-14 19:12] meiaus commented on #5178
Thanks @dmuelle

[2022-02-14 21:06] #4841 closed, assigned to dmuelle

[2022-02-16 14:30] jhanders34 opened #5199 "Document openapi-3.1 as stabilized"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

During the 21.0.0.12 release cycle, the POC approved stabilizing the openapi-3.1 feature in Open Liberty and as such it should be documented in the Open Liberty documentation as su

[2022-02-16 17:21] dmuelle commented on #4550
Hi @jimblye - circling back on this now that we've got 22.0.0.2 out the door.

I thought I remembered from your EOI demo there was an option we had not documented- `compactOutput`. So I downloaded the 22003 beta to check it out in the help.  I'm not sure that the beta includes the finished command so maybe none of this matters. But- none of the options listed in the help match what we have documen

[2022-02-16 17:38] dmuelle commented on #4550
Also- where does the command put the output file when no path is specified?

[2022-02-16 19:52] chirp1 commented on #5199
Put the stabilization in 21.0.0.12.

[2022-02-16 20:35] dmuelle commented on #4852
Hi @una-tapa , rather than create a new topic with only a few lines, I've added the info to our Secure communication with TLS topic under the heading "[TLS certificate revocation checks with OCSP](https://draft-openlibertyio.mybluemix.net/docs/latest/secure-communication-tls.html#_tls_certificate_revocation_checks_with_ocsp)" so that users searching for Liberty + OCSP will find it. Let me know if

[2022-02-17 14:05] AngeloRubens opened #5206 "How to Monitor EJB metrics or EJB Application is UP or Down"
Hi All,

Document: Monitoring with metrics
http://openliberty.io/docs/22.0.0.2/introduction-monitoring-metrics.html

How to Monitor EJB metrics or EJB Application is UP or Down?

Thanks

[2022-02-17 18:43] dmuelle commented on #5118
Hi @jimblye - here's the draft for `serverSchemaGen`, when you have a chance, would you review and let me know if any further changes are needed?

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/command/serverSchemaGen.html

two questions:

1. I found that the `--help` option for the command wouldn't work unless you specified a server name, even though the option is for the co

[2022-02-17 19:25] dmuelle commented on #5206
Hi Angelo,
If you are wanting to be able check the UP/DOWN availability of an EJB app, you might look at our [MicroProfile Health documentation](https://openliberty.io/docs/22.0.0.2/health-check-microservices.html) instead of MicroProfile Metrics. With MicroProfile Health, microservices can self-check their health and publish their overall status to a defined endpoint.

We also offer some [Guides

[2022-02-17 20:48] AngeloRubens commented on #5206
ok, but there are a solution by openliberty, without write ad-hoc code in my app/ejb?
like this: https://openliberty.io/docs/20.0.0.12/jmx-metrics-list.html

[2022-02-17 21:58] dmuelle commented on #5206
not sure if this is what you're looking for, but the latest version of the doc includes information for setting up a secure JMX connection for your server, so you can monitor JMX metrics via HTTPs calls, JConsole, or a client application

[Configuring JMX connections](https://openliberty.io/docs/latest/configuring-jmx-connection.html).

you can also monitor applications from the [Explore tool](htt

[2022-02-17 22:41] AngeloRubens commented on #5206
Where i found a metrics for ejb pool, how many mdb istance threre are in the pool, ejb type instances etc etc? the monitor console from openliberty report only this info, there aren't a monitor for ejb, right?
    [JVM monitoring](https://openliberty.io/docs/22.0.0.2/jmx-metrics-list.html#jvm-stats)

    [Request monitoring](https://openliberty.io/docs/22.0.0.2/jmx-metrics-list.html#request-timing

[2022-02-21 14:16] dmuelle commented on #5206
I checked with development on this- There are no EJB-specific metrics available for Open Liberty.  There is no Open Liberty monitor for EJB. You can open an RFE on [the main Open Liberty repo](https://github.com/OpenLiberty/open-liberty) if you would like to see EJB metrics in Open Liberty. Closing this issue as the concern is not docs- related.

[2022-02-21 14:16] #5206 closed, assigned to dmuelle

[2022-02-21 16:30] dmuelle commented on #5199
added a stabilization statement to the openpi-3.1 feature page that recommends the MP OpenAPI feature as the strategic alternative.

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.3/reference/feature/openapi-3.1.html

This change is also backported to 21.0.0.12-22.0.0.2

[2022-02-21 17:20] jhanders34 commented on #5199
Thanks David.  I can see the 22.0.0.3 version on the draft server, but I cannot see the other versions.  It says `Content Encoding Error` for the pages.

[2022-02-21 17:30] dmuelle commented on #5199
Sorry- I should have mentioned- previous versions of the generated docs aren't available on the draft site. I've just pushed everything to staging and we should be able to check the earlier versions there. I'll post the staging URLs once the builds finish.

[2022-02-21 18:13] una-tapa opened #5224 "Missing WebContainer property- com.ibm.ws.webcontainer.addStrictTransportSecurityHeader"
The following documentation
https://openliberty.io/docs/20.0.0.8/reference/config/webContainer.html
is missing the following property to enable HSTS header.
com.ibm.ws.webcontainer.addStrictTransportSecurityHeader
which was reported in the issue below.

Looking at the OL history, the code issue was addressed by
https://github.com/OpenLiberty/open-liberty/issues/13515
but it looks like the change w

[2022-02-21 21:05] dmuelle commented on #5199
here is the draft on staging. THe older version updates are showing when you select 210012-22001 in the version picker:

https://staging-openlibertyio.mybluemix.net/docs/22.0.0.3/reference/feature/openapi-3.1.html

[2022-02-21 21:11] dmuelle commented on #5224
Hi @una-tapa - this page is part of the generated doc and is not maintained by ID. The content is generated from the metatype files in the code base and any changes will need to be made there. I'm transferring this issue to the main Open Liberty repo so it can be addressed by development

[2022-02-21 21:11] dmuelle commented on #5224
Issue moved to [OpenLiberty/open-liberty #20218](https://github.com/OpenLiberty/open-liberty/issues/20218) via [**ZenHub**](https://www.zenhub.com/)

[2022-02-21 21:11] #5224 closed, assigned to nobody

[2022-02-21 21:38] jhanders34 commented on #5199
I think the changes look good for me.  FYI @Emily-Jiang

[2022-02-22 11:47] Emily-Jiang commented on #5199
Looks good to me too! Thank you @jhanders34 for tagging me!

[2022-02-23 11:05] ramkumar-k-9286 commented on #5042
Moved from `Staging` to `vNext`. Will be published as part of `22.0.0.3`

Proceeding to close the issue.

[2022-02-23 11:05] #5042 closed, assigned to ramkumar-k-9286

[2022-02-23 14:58] dmuelle commented on #5199
Thanks Jared and Emily for reviewing. The stabilization statement for versions 21.0.0.12-22.0.0.3 will publish with the 22.0.0.3 docs release on 3/15.

[2022-02-23 14:58] #5199 closed, assigned to dmuelle

[2022-02-23 14:59] #4852 closed, assigned to dmuelle

[2022-02-23 15:53] dmuelle commented on #1515
GraphQl guide is at https://openliberty.io/guides/microprofile-graphql.html

[2022-02-23 19:06] NottyCode opened #5232 "Add Semeru 17 link to the Java Support table"
The Java Support table on the Java SE Support page doesn't include a link to Semeru 17.

The Java Support table is here: https://openliberty.io/docs/22.0.0.2/java-se.html

Semeru 17 is here: https://developer.ibm.com/languages/java/semeru-runtimes/downloads?os=macOS

[2022-02-23 20:31] dmuelle commented on #1515
Hi @WhiteCat22 @jim-krueger - I think Andy has provided plenty of resources here for us to write a concise overview on MP GraphQL on Open Liberty- what it is, why/when you'd use it, and what you can do with it. We can also explain what GraphiQL is andd how to use it. For actual examples and implementation details we can point out to the GraphQL guide.

However, the guide doesn't cover the Metrics

[2022-02-23 21:23] jim-krueger commented on #1515
Hi @dmuelle,
Metrics is not part of GraphQL 2.0.  Any information you require on that will need to be directed to @Channyboy and would require its own issue.

[2022-02-23 22:24] Channyboy commented on #1515
Components that wish to integrate with metrics perform the integration themselves.
i.e. I saw that Andy made [MetricServices](https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.microprofile.graphql.metrics.1.0/src/com/ibm/ws/microprofile/graphql/metrics/component/MetricsService.java)

For for graphq-1.0 it seems it it works with Metrics 2.3 and 3.0.

[2022-02-24 15:45] kinueng opened #5233 "Document the Open Liberty container image tags"
Required for openliberty.io issue [Update docker pull to include icr.io](https://github.com/openliberty/openliberty.io/issues/2524).

openliberty.io would like to promote [IBM Cloud Container Registry](https://www.ibm.com/cloud/container-registry) for downloading Open Liberty container images.

The intent is to have new documentation describing each of the "unversioned" container image tags (e.g.

[2022-02-24 19:04] dmuelle opened #5234 "Edits for securityUtility createSSLCertificate"
password is missing from list of options and server is missing from syntax example. Also needs to specify that either a client or server option must be specified for the command fails

[2022-02-24 19:45] jim-krueger commented on #1515
@dmuelle, Have you seen the information in this issue?  [https://github.com/OpenLiberty/open-liberty/issues/19636](https://github.com/OpenLiberty/open-liberty/issues/19636)

[2022-02-24 19:47] jim-krueger commented on #1515
I do not believe that much/anything has changed since the beta.

[2022-02-24 19:55] dmuelle commented on #1515
thanks @jim-krueger - the beta info says that it is the same functionality as 1.0 so that answers most of my questions. Based on that and @Channyboy's comment, I would assume that mpGraphql-2.0 integrates with mpMetrics 2.3 and 3.0, but not 4.0. David is that correct as far as you can tell? Just want to figure out how to doc the metrics integration since it doesn't appear to be covered elsewhere

[2022-02-24 20:10] dmuelle commented on #5055
Initial analysis:

## Introduction

Something like:
Open LIberty can provides default TLS certificate, keystore, and TLS/SSL configuration settings. You can customize these defaults in your server.xml file.

Although the server creates a default keystore, TLS certificate and TLS configuration settings, you must add the transport security feature to your server.xml file to enable TLS. For more info

[2022-02-25 12:11] ramkumar-k-9286 commented on #5232
Hi David @dmuelle

The link has been added to the document. The Draft-site link is added below.

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.3/java-se.html

Regards,
Ramkumar

[2022-02-25 22:19] dmuelle commented on #5232
LGTM- I think you can send it to staging

[2022-03-02 15:42] dmuelle commented on #1515
Based on discussion from MP scrum, GraphQL 2.0 will integrate with Metrics 4.0

[2022-03-02 19:49] dmuelle commented on #2698
BLog post: https://www.openliberty.io/blog/2020/11/20/JNDI-gRPC-200012.html#grpc

[2022-03-02 19:58] dmuelle commented on #2698
user stories:
![image](https://user-images.githubusercontent.com/48686014/156439867-e1718bf6-f77e-4ab6-986f-e022ff124302.png)

[2022-03-02 19:59] dmuelle commented on #2698
![image](https://user-images.githubusercontent.com/48686014/156439925-91c14b37-231c-4ff3-b642-d1db31d67617.png)

[2022-03-02 21:48] teddyjtorres opened #5244 "Documentation for MicroProfile JWT 2.1"
Documentation for MicroProfile JWT 2.1 Epic https://github.com/OpenLiberty/open-liberty/issues/20081.

For the https://openliberty.io/docs/latest/microprofile-config-properties.html#jwt table, please add the following properties (Please sort accordingly):

Name | Description | When the runtime reads the property | Example
-- | -- | -- | --
mp.jwt.verify.token.age | Specifies the number of seconds

[2022-03-03 20:12] dmuelle commented on #5233
I just checked with @leochr and he confirmed that the OL beta images are only available from Docker hub at the moment. Based on Slack comments from @NottyCode in #was-open-liberty-site, we need to get the betas added to ICR rather than pointing to Docker Hub from the container image doc.

[2022-03-04 03:05] clarkek123 opened #5248 "CVE updates for 22.0.0.3"
This Issue is opened at David's request so that the PR for the updates can be move along from the DRAFT branch so it is externalized at GA.

The PR for the addition of this to the Draft branch is at https://github.com/OpenLiberty/docs/pull/5247

David, I need to check with you the list of features that apply to open liberty for CVE-2021-39038. For WebSphere Liberty, the following are impacted mpOp

[2022-03-04 13:34] ramkumar-k-9286 commented on #5055
Hi David @dmuelle

Based on the discussions I've updated the Transport Security page.

link: https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.3/reference/feature/transportSecurity-1.0.html

Regards,
Ramkumar

[2022-03-04 16:39] dmuelle commented on #5232
please add the java 18 info specified in this PR: https://github.com/OpenLiberty/docs/pull/5250/files

this info should publish with 22.0.0.3 so we can handle it here to avoid branch conflicts

[2022-03-04 16:48] dmuelle opened #5251 "Add Java 18 support to 22.0.0.4"
see https://github.com/OpenLiberty/docs/pull/5250

[2022-03-07 19:25] dmuelle commented on #5232
content is on vNExt and will publish with 22003

[2022-03-07 19:25] #5232 closed, assigned to ramkumar-k-9286

[2022-03-07 20:11] fmhwong opened #5258 "Documentation of MicroProfile Telemetry"
Epic: https://github.com/OpenLiberty/open-liberty/issues/19172

Content: TBD

[2022-03-08 20:23] csandersdev opened #5259 "Need additional clarity on how to work with Multipart objects in RESTFul Webservices"
In the RESTful Web Services user guide there is [a page](https://openliberty.io/docs/22.0.0.2/send-receive-multipart-jaxrs.html) that discusses how to work with multipart form requests. The code examples in that page reference classes IAttachment and AttachmentBuilder which come from a custom OpenLiberty API dependency, but that is never mentioned in the docs. We should include a reference to how

[2022-03-09 14:16] dmuelle commented on #5259
as part of the work for this issue alos need to fix broken links to [Jakarta RESTful Web Services](https://openliberty.io/docs/22.0.0.2/reference/feature/restfulWS-3.0.html) in doc versions prior to 22.0.0.2

[2022-03-09 22:48] #5234 closed, assigned to dmuelle

[2022-03-09 23:53] dmuelle commented on #5248
content is on vNext and will publish with the 22.0.0.3 release

[2022-03-09 23:53] #5248 closed, assigned to dmuelle

[2022-03-10 14:38] mrsaldana opened #5269 "Access Log documentation should not mention XCT"
Cross Component Tracing (XCT) is not supported in Liberty. As such, the %{X}W directive is invalid. The access log documentation should be cleaned up to remove mentions of XCT.

Proposed change:

The file `modules/ROOT/pages/access-logging.adoc` should remove lines 124 through 126:

[code]

[2022-03-10 14:38] mrsaldana commented on #5269
Fixed by #[5268](https://github.com/OpenLiberty/docs/pull/5268)

[2022-03-10 20:17] dmuelle commented on #5269
the draft shows the row is removed:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.3/access-logging.html

I'll send the change to staging

[2022-03-14 18:31] #5269 closed, assigned to nobody

[2022-03-15 11:26] ramkumar-k-9286 commented on #5055
Hi Alaine @acdemyers

Could you please review the following document:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.html

In this document, we have added a new section **Default keystore and TLS certificate configurations**

We would like you to have a look at this and review the same.

Regards,
Ramkumar

CC @dmuelle

[2022-03-15 12:55] acdemyers commented on #5055
@ramkumar-k-9286,

There is  a statement that says: "Open Liberty creates a keystore password during profile creation and puts it in the server.env..."

On Liberty I think it would be more appropriate to say "Open Liberty creates a keystore password when the server is created and puts it in the server.env..."

Other then that I'd say it's okay.

[2022-03-16 12:06] ramkumar-k-9286 commented on #5055
Hi Alaine @acdemyers

Corrections have been made as per your comments in the following document:

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.4/reference/feature/transportSecurity-1.0.html

Would like you to have a look at this and add the `Developer Reviewed` label if the updates are as per your suggestions.

Regards,
Ramkumar

CC @dmuelle

[2022-03-16 13:18] dmuelle commented on #5055
Hi Ram (and Alaine),

I am not seeing the updated content on the draft site currently. We have been having some delays with the draft builds, so they will likely show up later today. Alaine, we will let you know when the updated content is ready for review.

Thanks,
David

David Mueller
Technical Writer
Open Liberty and Websphere Application Server
IBM Automation Content
Raleigh, North Carolina
__

[2022-03-16 13:44] dmuelle commented on #5055
Ok, updates are showing now on https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.html, but Ram told me you had already reviewed them so we're all good. Thanks!

David Mueller
Technical Writer
Open Liberty and Websphere Application Server
IBM Automation Content
Raleigh, North Carolina
________________________________
From: David Mueller1 ***@***.***>

[2022-03-16 17:01] dmuelle commented on #3324
from #2950

https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/create_your_own_simple_hello_world_user_feature

and

[code]

and

[code]

[2022-03-16 17:01] dmuelle commented on #2950
combining with similar #3324

[2022-03-16 17:01] #2950 closed, assigned to dmuelle

[2022-03-16 17:58] dmuelle commented on #1515
Hi @WhiteCat22 @jim-krueger, the draft for the MP GraphQL doc is now available for review:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/microprofile-graphql.html

note that the link in the Observability and GraphQL section to MP GraphOL 2.0 won't work until we have the 22.0.0.4 generated docs (the week before GA) and that the link to the "Optimizing REST queries for microservices wi

[2022-03-16 18:07] acdemyers opened #5283 "22.0.0.5: feature 19324 multiple SSL Protocol support"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

Documentation for feature https://github.com/OpenLiberty/open-liberty/issues/19324
To go in fix pack 22.0.0.5

A new section needs to be added to:

New topic in https://openliberty

[2022-03-16 18:26] dmuelle commented on #5259
Hi @csandersdev @jhanders34 @WhiteCat22

I've added the Maven dependency example and also my best guess at a Gradle equivalent (thanks to @cherylking). I also updated the java examples to add import statements and fixed the broken link issue that @jhanders34 found in the older versions of the doc. You can review the draft here:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/send-recei

[2022-03-16 20:16] csandersdev commented on #5259
1. I see an update in the Maven Central Repository from 03/16/2022, so I think it is there now. @jhanders34 should confirm since it was there before, but there was a packaging issue.
2. Good question. I imagine this should be provided scope. The APIs are present in Liberty, so the JAR doesn't need to be included in the user's application. See Andy's response [here](https://stackoverflow.com/questi

[2022-03-16 21:41] jhanders34 commented on #5259
Yes the 22.0.0.3 version is correct.

I completely agree.  The version though you may just want 1.0 so it picks the latest?

Yes Liberty APIs are published in both maven central and DHE.  I usually go to https://repo.maven.apache.org/maven2/io/openliberty/api/ to see the io.openliberty.api group.

RESTful Web Services 3.1 is where the Jakarta community is introducing the multi part functions into

[2022-03-17 19:00] dmuelle opened #5287 "move virtual hosts topic to deploy section"
per discussion on WLP OL call

[2022-03-17 19:38] dmuelle opened #5289 "migrate Java literal info from IBM docs to jndi feature page"
move the information in the note on https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=dail-using-jndi-binding-constants-from-server-configuration-files to https://www.openliberty.io/docs/latest/reference/feature/jndi-1.0.html

[2022-03-17 19:46] WhiteCat22 commented on #5259
The doc look great David! Thank You!

[2022-03-17 19:49] dmuelle commented on #5259
Thanks all , I've updated the draft to add the `provided` scope to the Maven example and changed the version to 1.0 for both Maven and Gradle.

https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.4/send-receive-multipart-jaxrs.html

My last question is whether there is any issue or epic on the dev side of things that we can make a note for RESTful web services to update this doc when 3.1 co

[2022-03-17 19:53] WhiteCat22 commented on #5259
Here is the epic for RESTfulWS 3.1: https://github.com/OpenLiberty/open-liberty/issues/18739

[2022-03-17 20:45] dmuelle opened #5290 "Clarify javaee-8.0 and jakartaee-8.0 are functionally the same on their OL documentation pages"
per [slack discussion](https://ibm-cloud.slack.com/archives/C4U7TQUSY/p1647536511362039) in open-liberty-site.

add a clarifying statement to both the javaee-8.0 and jakartaee-8.0  feature pages

The jakartaee-8.0 feature is functionally equivalent to the javaee-8.0 feature. For more information, see [Jakarta EE Overview: Platform versions](https://openliberty.io/docs/22.0.0.3/jakarta-ee.html#_pla

[2022-03-18 13:51] chirp1 commented on #5283
Follow these directions to write the documentation:  https://github.com/OpenLiberty/docs

[2022-03-19 02:10] jimblye commented on #4550
@dmuelle
When you typed the command "schemaGen -help" as you did above, you actually invoked a different schemaGen command.   If you enter the command "which schemaGen" you will find where that other schemaGen command script is located.

To invoke the Liberty schemaGen script, do this:

cd wlp/bin
./schemaGen -help

The output in the current version that I have looks like this:

[code]

If I type

[2022-03-21 15:54] dmuelle commented on #4550
Thanks, I had missed the crucial detail that the command needs `./` to work. I still can't test it, I suspect because I don't have a 22.0.0.4-beta server handy. The only thing I wanted to test for is to see where the outputFile gets created. If you only provide a file name and no path, where does the schema file show up?

[2022-03-21 15:58] dmuelle opened #5301 "Migrate JDBC tracing info from IBM Docs"
from the [Liberty docs issue](https://github.ibm.com/websphere/liberty-docs/issues/2804) opened by @KyleAure

Our support staff would like to reference customers to this page by default for all salesforce cases opened against the JDBC feature to show users how to enable JDBC tracing.
However, the layout of the original document is confusing, the procedure is fragmented, and overall customers becom

[2022-03-22 14:17] dmuelle commented on #5287
changes on vNExt

[2022-03-22 14:17] #5287 closed, assigned to dmuelle

[2022-03-22 14:18] dmuelle commented on #5289
changes on vNExt

[2022-03-22 14:18] #5289 closed, assigned to dmuelle

[2022-03-22 14:19] dmuelle commented on #5290
changes on Vnext

[2022-03-22 14:19] #5290 closed, assigned to dmuelle

[2022-03-22 14:20] dmuelle commented on #5259
Changes are on vNExt and will publish with the 22.0.0.4 docs release. Closing this issue, thanks all

[2022-03-22 14:20] #5259 closed, assigned to dmuelle

[2022-03-22 15:11] chirp1 commented on #5251
Updating https://openliberty.io/docs/22.0.0.3/java-se.html#supported Also, updating WL

[2022-03-22 18:23] jimblye commented on #4550
@dmuelle If you don't specify a path, the output file is written to the current directory.

[2022-03-22 19:55] dmuelle opened #5308 "Migrate and reformat SAML examples from IBM docs"
Assess and migrate the "tasks" at [Configuring SAML Web Browser SSO in Liberty](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-saml-web-browser-sso-in) and [Configuring SAML Web Inbound Propagation in Liberty](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-saml-web-inbound-propagation-in)to a series of examples on

[2022-03-22 20:12] dmuelle opened #5309 "Web services documentation"
Liberty in IBM docs has a section for [Web services security](https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=applications-web-services-security). We should migrate these topics but need to assess what is still relevant and important for OL users. We also need foundational doc for developing web services on OL. Low priority at this time.

[2022-03-22 20:21] dmuelle opened #5310 "add Java 7 and 8 details/benefits to Jakarta EE overview"
Some of the benefits of Java EE 8 and Jakarta EE 9 listed on these IBM docs pages

https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=overview-jakarta-java-ee-8-in-liberty
https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=overview-java-ee-7-in-liberty

can be migrated to the  [Jakarta EE Overview topic](https://www.openliberty.io/docs/22.0.0.3/jakarta-ee.html).

[2022-03-22 20:39] dmuelle opened #5311 "MIgrate LTPA info to example in appSec page"
Compare  https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-configuring-ltpa-in and with https://www.openliberty.io/docs/22.0.0.3/reference/feature/appSecurity-4.0.html#_specify_ltpa_keys and migrate any missing info.

[2022-03-22 21:04] dmuelle commented on #4550
Thanks @jimblye - just to make sure I've got this right- by the current directory, do you mean the `bin` directory where you run the command from?

[2022-03-23 14:36] dmuelle commented on #5055
changes are on vNext and will publish with 22004

[2022-03-23 14:36] #5055 closed, assigned to ramkumar-k-9286

[2022-03-23 14:58] jimblye commented on #4550
@dmuelle

wlp/bin is where the command resides, but the "current" directory refers to the directory from which you run the command.  For example, if the "current" directory in my command prompt is "wlp" then I can still execute the schemaGen command.  I just need to give the path to the command, like this:

bin/schemaGen schemaGen.xsd

That will put the output file, schemaGen.xsd in the "wlp" dire

[2022-03-23 20:03] dmuelle commented on #5041
## Peer review

Looks good- a few suggestions

- For the section title, I think it should be "Trace log detail levels", since these settings apply specifically to the trace log and not the console or messages log. And the table should be "Valid log detail levels for the trace log"

- "You can specify the trace specification to selectively enable trace. The logging properties can be set in the serv

[2022-03-23 21:06] dmuelle commented on #5044
- [x] on [User registries:LDAP user registries for applications in production](https://openliberty.io/docs/21.0.0.5/user-registries-application-security.html#_ldap_user_registries_for_applications_in_production), the link to the Transport security feature is broken.
- [x] [In the Configure a secure connection with LDAPS](https://draft-openlibertyio.mybluemix.net/docs/22.0.0.4/reference/feature/lda

[2022-03-25 17:45] dmuelle opened #5324 "Add EOS column to Supported Java Releases table"
per https://github.ibm.com/websphere/liberty-docs/issues/2781, add an EOS column to the [supported Java levels table](https://openliberty.io/docs/22.0.0.3/java-se.html#supported) to announce EOS for Java 8 (26.0.0.4) and 11 (24.0.0.10).

[2022-03-25 17:49] dmuelle commented on #5324
Hi @mbroz2  @NottyCode - For the proposed EOS column in the Supported Java SE releases table.
- What should the column be called- is "End of support" sufficient?
- Should it just list the Liberty version or provide a date?
- Since Java 18 will be added to the table in 22.0.0.4 and it is short term, should add an EOS entry for that? If so should it be 22.0.0.10 ?

Thanks

[2022-03-28 16:55] dmuelle commented on #5041
I think this looks good an you can send it to staging

[2022-03-29 18:01] ramkumar-k-9286 commented on #5041
@dmuelle

File moved to Staging: https://docs-staging-openlibertyio.mybluemix.net/docs/22.0.0.4/log-trace-configuration.html

Regards,
Ramkumar.

[2022-03-29 21:26] dmuelle commented on #5041
changes on vNExt and will publish with 22.0.0.4

[2022-03-29 21:26] #5041 closed, assigned to dmuelle, ramkumar-k-9286

[2022-03-30 11:33] ramkumar-k-9286 commented on #5041
The file has been added to vNext. Will get published in the 22.0.0.4 release.

Regards,
Ramkumar

[2022-03-30 17:27] dmuelle commented on #5046
## Peer review
 GLobally, introduce examples with a period instead of a colon, like

To reduce idle server CPU time, add the following attributes to the server.xml file.

[example]

### Intro
- Remove "of Open Liberty" from the second and 3rd sentences

We say `server.xml` here, but the very first section about tuning the JVM is not in the server.xml. I think you should rewrite the short descripti

[2022-03-30 17:55] ramkumar-k-9286 commented on #1515
Peer Review
-----
MicroProfile GraphQl is an API for building services that exercise fine-grained control over the data that they request and receive.
--->
MicroProfile **GraphQL**

It provides a code-first approach to development that is an alternative to, though not necessarily a replacement for, REST architecture.
--->
It provides a code-first approach to development that is an alternative to,

[2022-03-31 15:18] dmuelle commented on #5118
moving to 22.0.0.5 with #4550

[2022-03-31 15:19] dmuelle commented on #4550
Moving to 22.0.0.5 with the Epic

[2022-03-31 20:32] dmuelle commented on #1515
Thanks for reviewing @ramkumar-k-9286, draft is updated:

https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile-graphql.html

All suggestions implemented, except for the following:

I don't think "the" is needed here, since REST architecture is referenced in a general sense, and out of a group of different architectures

"services" is plural, agrees with "require"

I think "cost of" i

[2022-03-31 22:26] NottyCode opened #5343 "Need to document our REST APIs"
We currently do not document our REST APIs and we should. Need to work out how this will work since it'll need some level of automation.

[2022-04-01 18:34] dmuelle commented on #5324
The table is updated: https://draft-openlibertyio.mybluemix.net/docs/22.0.0.4/java-se.html#supported

[2022-04-04 12:29] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

Incorporated comments into the draft document:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.4/performance-tuning.html

For Review.

Regards,
Ramkumar

[2022-04-04 17:34] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Corrections Done :
1. Fixed the link to the Transport security feature.
    Link: https://draft-openlibertyio.mybluemix.net/docs/22.0.0.4/user-registries-application-security.html#_ldap_user_registries_for_applications_in_production

2. change the keystore files from `.jks` to `.p12` and change `type="JKS"` to `type="PKCS12"`
Link: https://draft-openlibertyio.mybluemix.net/docs/

[2022-04-04 17:36] dmuelle commented on #5046
Changes look good- a few more suggestions:

## Intro
The two sentences in the short description basically just say the same thing twice. I think you could edit the second sentence to give a better overview of the information- maybe something like:

## Tune the JVM

I think the introduction for the example needs some work. Need to make it clear that the example just shows some of the kind of things

[2022-04-05 14:16] dmuelle commented on #1515
changes are on vNExt and will publish with 22.0.0.4. Closing this issue

[2022-04-05 15:24] dmuelle commented on #5044
1. LGTM
2. LGTM
3.  to 7.- lets discuss on a call
4. These notes need a descriptive heading like the rest of the content in the section. Look at the original context in IBM docs and add a heading accordingly. Also, run acrolinx on them, I see a few things to fix. Make sure not to start sentences w/ "It is.." or "There are.."

[2022-04-05 19:44] clarkek123 opened #5355 "Update the Security vulnerabilities list for CVES found to apply to 22.0.0.2"
After GA of 22.0.0.2 we assessed some new open source CVEs that were found to be fixed in 22.0.0.2. Now that interim fixes are published, those CVEs need to be added to the CVE list.

The PR is https://github.com/OpenLiberty/docs/pull/5354

[2022-04-06 12:25] NottyCode opened #5357 "We should document the DDLs required for Liberty components using JDBC"
We have a bunch of components in Liberty that use a Database, for example the transaction manager, session persistence and ejb timers. We don't consistently document the DDL for databases which means users who don't want to auto define tables are unable to manually create them without referring to the WebSphere Liberty docs.

[2022-04-06 14:36] dmuelle commented on #1515
Reopening as the epic moved to 22.0.0.5

[2022-04-06 14:45] dmuelle commented on #1515
commented out the two references to version 2.0 so the doc can publish with 22.0.0.4. Will restore when the feature GAs

[2022-04-07 17:54] dmuelle commented on #5251
changes are on vNext and will publish with 22.0.0.4

[2022-04-07 17:54] #5251 closed, assigned to dmuelle

[2022-04-07 17:54] dmuelle commented on #5324
changes are on vNext and will publish with 22.0.0.4

[2022-04-07 17:54] #5324 closed, assigned to dmuelle

[2022-04-07 17:54] dmuelle commented on #5355
changes are on vNext and will publish with 22.0.0.4

[2022-04-07 17:54] #5355 closed, assigned to dmuelle

[2022-04-07 19:00] dmuelle opened #5372 "22.0.0.4 OL release"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:** 4.7
- **GA Date:** 4.12

### Notes
**List any special concerns for this release that are not already tracked in anothere issue, such as release dependencies, Javadoc updates,

[2022-04-12 16:33] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

For Review :
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/performance-tuning.html

Regards,
Ramkumar

[2022-04-12 16:36] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

For Review :
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/reference/feature/ldapRegistry-3.0.html

Regards,
Ramkumar

[2022-04-12 18:39] dmuelle commented on #5044
## Peer review

- remove extra heading for "Configure failover for multiple LDAP servers"
- fix link to troubleshooting
- remove monospace formatting from anchor link to [Define mapping between LDAP attributes and the user registry externalId attribute](https://docs-draft-openlibertyio.mybluemix.net/docs/22.0.0.5/reference/feature/ldapRegistry-3.0.html#mapldapuserreg)

### Configure an LDAP user r

[2022-04-12 20:50] dmuelle commented on #5046
## Peer review

### Tune the JVM
- suggested edit

You can use jvm.options files at the runtime and server levels to specify more server startup options.

--->

~~You can use jvm.options files at the runtime and server levels to specify more server startup options.~~

--->

 In some cases you might want to purge only the failing connection
--->
 In some cases, you might want to purge only the fail

[2022-04-13 13:28] #5372 closed, assigned to nobody

[2022-04-13 13:34] dmuelle opened #5382 "Update server-configuration-hardening.adoc to address data at rest"
per comment from @emilytee in #5374:

Per CISO, must address client data at rest, which in Liberty's case consists of passwords.

Proposing the doc be updated to include the following (at line 166):

[#Client data at rest]
== Client data at rest
Use password encryption to secure client data at rest, i.e., passwords.

[2022-04-13 13:47] dmuelle opened #5383 "22.0.0.5 release"
### Dates

- **Doc freeze date:** 5/5
- **GA Date:** 5/10

### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc updates, support level changes, planned docs refresh, etc.**

### Release checklist
- [x] If any Jakarta or MicroProfile API docs are updated with this release, work with development to get the updates

[2022-04-13 14:01] dmuelle commented on #5233
https://github.com/OpenLiberty/ci.docker/blob/master/docs/icr-images.md

[2022-04-13 15:17] dmuelle opened #5384 "Sort table on Log and trace configuration page by log"
The table on  https://openliberty.io/docs/latest/log-trace-configuration.html was originally sorted by console.log related fields, messages.log related fields then trace.log. The order has been lost with recent additions.

- [x] Resort the table rows so that the settings for each log source are grouped together- console, message, trace, followed by global settings, with the JSON related settings g

[2022-04-13 16:10] dmuelle commented on #5258
currently targeting 22.0.0.5 beta/ 22.0.0.6

[2022-04-13 20:23] arkarkala opened #5387 "Update the Liberty security hardening topics to refer to the Liberty CIS benchmark"
Now that we have the CIS (Center for Internet Security) benchmark (draft) published, we need let our customers know that this is the place they they need to go to find all the Liberty specific hardening requirements. CIS is a well-known industry standard that provides security recommendations using its benchmark/guidelines format. One can open tickets, discussions here for any issues/comments. We

[2022-04-13 20:30] chirp1 commented on #5387
From a discussion with Ajay during his team's scrum today, we'll keep the Hardening topics in Open Liberty for now and link to CIS from the hardening topics. We can add the CIS link to the parent hardening topic and its children. After the CIS documentation is finalized, we can remove the OL hardening topics.

[2022-04-14 14:33] dmuelle commented on #5382
Hi @emilytee - the draft is now updated:

https://draft-openlibertyio.mybluemix.net/docs/latest/server-configuration-hardening.html#client-data

it seems a little redundant in it's own section just sitting directly above the rest of the password encryption info- but if the intention is to have a specific heading for client data at rest, this is the best place for it. Let me know if any further edi

[2022-04-14 14:45] emilytee commented on #5382
Looks good, thank you

[2022-04-14 21:14] jvanhill opened #5388 "SEC 380: Migrate "Configuring the authentication cache in Liberty" to openliberty.io"
For feature: [SEC380: Support for distributed Auth Cache in Liberty](https://github.com/OpenLiberty/open-liberty/issues/9005)

As part of SEC 380 (distributed security caches) we need to move the [Configuring the authentication cache in Liberty](https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-configuring-authentication-cache-in) topic to the openliberty.io site.

We can start by moving

[2022-04-14 21:52] jvanhill opened #5389 "SEC 380: Migrate "Configuring the Liberty server to track logged out LTPA tokens" to openliberty.io"
For feature: [SEC380: Support for distributed Auth Cache in Liberty](https://github.com/OpenLiberty/open-liberty/issues/9005)

As part of SEC 380 (distributed security caches) we need to move the [Configuring the Liberty server to track logged out LTPA tokens](https://www.ibm.com/docs/en/was-liberty/base?topic=cwsrpil-configuring-liberty-server-track-logged-out-ltpa-tokens) topic to the openlibert

[2022-04-15 10:49] chirp1 commented on #5388
Do #5389 with this issue. #5389 migrates a topic from WebSphere Liberty, and adds some information to the migrated topic.

[2022-04-15 10:49] chirp1 commented on #5389
Do this issue with #5388.

[2022-04-18 14:19] dmuelle commented on #2698
Hi @hutchig @pnickoll @mrsaldana - including you all here based on recommendations in [a recent thread in openliberty-docs](https://ibm-cloud.slack.com/archives/C017Z9D5WJZ/p1649689314112139). I'm looking for a technical contact for [Open Liberty gRPC](https://www.openliberty.io/docs/22.0.0.3/reference/feature/grpc-1.0.html). I'm working on this docs issue, which was opened by Bill Lucy but since

[2022-04-18 17:07] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

For Review :
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/performance-tuning.html

Regards,
Ramkumar

[2022-04-18 19:37] dmuelle commented on #5046
@ramkumar-k-9286 - looks goood. I have two very minor suggestions but I think this is ready for technical review.

 You can tune settings for the Java virtual machine (JVM), the transport channel services, and more to achieve better performance.
--->
You can tune settings for the Java virtual machine (JVM), the transport channel services, and more to improve performance.

- put all the content for

[2022-04-19 12:46] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

Made suggested corrections:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/performance-tuning.html

Regards,
Ramkumar

[2022-04-19 12:47] ramkumar-k-9286 commented on #5311
Hi David @dmuelle

For review:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/reference/feature/appSecurity-4.0.html
Regards,
Ramkumar

[2022-04-19 14:03] ramkumar-k-9286 commented on #5311
link broken. will fix.

Regards,
Ramkumar

[2022-04-19 20:58] dmuelle commented on #5046
LGTM thanks- I'll send the draft to Alasdair and Michal and ask if there's anyone else who should review

[2022-04-19 21:01] dmuelle commented on #5311
you don't need to specify `/reference` in the syntax because the file you are linking from is also in the reference section

[2022-04-20 14:39] dmuelle commented on #5258
moved to 22.0.0.7

[2022-04-20 16:59] ramkumar-k-9286 commented on #5311
Hi David @dmuelle

The link has been fixed. For review:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/appSecurity-4.0.html#_specify_ltpa_keys

Regards,
Ramkumar

[2022-04-20 17:05] dmuelle commented on #5311
LGTM- PR it to staging when you have a chance

[2022-04-20 18:33] chirp1 commented on #5387
You can open tickets on CIS to make further doc updates to the CIS document. See Ajay if you have questions.

[2022-04-20 18:49] dmuelle commented on #5382
update will publish with 22005, closing this issue

[2022-04-20 18:49] #5382 closed, assigned to dmuelle

[2022-04-20 18:50] dmuelle commented on #5384
will publish with 22005

[2022-04-20 18:50] #5384 closed, assigned to dmuelle

[2022-04-20 19:56] dmuelle commented on #5311
we need to add a redirect statement to the IBM docs page

[2022-04-21 23:16] chirp1 commented on #5283
@acdemyers Hi! Ready for you to review my updates at https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.html

It's the "Configure multiple SSL protocols" section.

[2022-04-21 23:40] acdemyers commented on #5283
The changes look good.

[2022-04-22 13:03] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Review Comments incorporated.Please check:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/reference/feature/ldapRegistry-3.0.html

Regards,
Ramkumar

[2022-04-25 18:33] dmuelle commented on #5044
looks good- a few more suggestions

## Specify custom LDAP object classes
- put the java.lang.ClassCastException example in a codeblock
- suggested edit:

--->

- after you edit this sentence, move it up before the example so that it is the last sentence in the introductory paragraph for the section

- remove the paragraph that starts "It is best practice..."  and the one that follows it as they a

[2022-04-25 18:49] dmuelle commented on #5046
Review comments from @gjdeval via slack:

- at the end of the 'Tune the JVM' section, we could point to the OpenJ9 doc for more guidance about JVM tuning options for IBM Java
https://www.eclipse.org/openj9/docs/
- the "Reduce idle server CPU time" section might benefit from a couple sentences of preamble to set the context before getting into the tunables ... something like

By default, Open Liber

[2022-04-25 19:11] dmuelle opened #5410 "typo in data-persistence-jpa.adoc"
change two instances of feature:persistenceContianer to feature:persistenceContainer[

[2022-04-26 10:17] hutchig commented on #2698
Hi @dmuelle (I am just back from Easter vacation so apologies for the delayed response) for you to achieve 'We hope to publish it with 22.0.0.5, if possible' by what date would you need the review and have 'code snippets for common server and client server.xml config' provided? I will get on with it in the meantime.

[2022-04-26 11:20] hutchig commented on #2698
I think, the text reads really well and is quite clear, I had the followingreview comments, none of which are significant:
(Great job I thought - so thanks for making this bit easy.)

'To enable support for gRPC, add the **gRPC** or **gRPC Client** feature to your server.xml file.'
might be an example of tell not show in that the real feature names might be better as the literla text used
in the s

[2022-04-26 13:18] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Review Comments incorporated. Please check:

https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/reference/feature/ldapRegistry-3.0.html

Regards,
Ramkumar

[2022-04-26 13:23] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

Review comments incorporated. Please check:
https://draft-openlibertyio.mybluemix.net/docs/22.0.0.5/performance-tuning.html

Regards,
Ramkumar

[2022-04-26 13:40] ramkumar-k-9286 commented on #5301
Hi David @dmuelle

For review the migrated doc :
https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Regards,
Ramkumar

[2022-04-26 14:30] dmuelle commented on #5310
content is on vNext and will publish with 22005

[2022-04-26 14:30] #5310 closed, assigned to dmuelle

[2022-04-26 14:32] dmuelle commented on #5410
content is on vNExt and will publish with 22005

[2022-04-26 14:32] #5410 closed, assigned to dmuelle

[2022-04-26 15:03] KyleAure commented on #5301
@ramkumar-k-9286 and @dmuelle
I made a PR to make some initial changes to this doc under #5423

[2022-04-26 15:49] dmuelle commented on #5301
Thank you @KyleAure! @ramkumar-k-9286 to avoid future branch conflicts, you might manually copy Kyle's changes into your branch and commit them from there. Otherwise, when you commit the draft to staging from your working branch, it might not have all the changes.

[2022-04-26 21:24] dmuelle commented on #2698
Thanks for reviewing @hutchig - i went ahead and made a few initial edits based on your comments.

[Provide and consume gRPC services on Open Liberty](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/grpc-services.html).

- [x] It would be helpful if the first occurrence of 'grpc element' had a hyperlinked 'grpc' in the way that the second on does.
- [x] Similarly for '@GrpcService'
- [x

[2022-04-26 21:41] dmuelle commented on #5044
Looks good- just a few comments

This is better, but still not quite right. The repositories are federated automatically, the element just configures the details of the federation. But that is basically already stated a few lines previous to this paragraph. Notice how much information is repeated in the 4 short paragraphs before the example. I think these could be consolidated into ~2 paragraphs t

[2022-04-26 21:48] dmuelle commented on #5046
now that there are 2 more information links in the JVM section, I think we should clarify the first

For more information, see [jvm.options](https://openliberty.io/docs/latest/reference/config/server-configuration-overview.html#jvm-options).
--->
For more information about the Open Liberty` jvm.options` file, see [jvm.options](https://openliberty.io/docs/latest/reference/config/server-configuratio

[2022-04-27 01:07] chirp1 commented on #5283
@acdemyers @dmuelle I made further updates to the topic at https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.html#configure-specific
- For the "Default keystore and TLS certificate configurations" I added "You can [configure specific TLS protocols](https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.htm

[2022-04-27 11:29] acdemyers commented on #5283
@chirp1 The latest updates look good to me.

[2022-04-27 12:51] ramkumar-k-9286 commented on #5044
Corrections:

As a best practice, you can specify the federatedRepository element to federate multiple LDAP registries. Specifying the federatedRepository element is not mandatory, as they are federated automatically

This is better, but still not quite right. The repositories are federated automatically, the element just configures the details of the federation. But that is basically already stat

[2022-04-27 15:08] dmuelle commented on #5283
LGTM, thanks

[2022-04-27 16:20] dmuelle commented on #4550
current draft for review: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/command/schemaGen.html

[2022-04-27 16:21] dmuelle commented on #5118
current draft for review:
https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/command/serverSchemaGen.html

[2022-04-27 19:01] chirp1 commented on #5283
The updated topic is now on the following staging server: https://docs-staging-openlibertyio.mybluemix.net/docs/latest/reference/feature/transportSecurity-1.0.html#configure-specific

[2022-04-28 13:20] dmuelle commented on #5044
## Federate LDAP user registries

I think we can combine the first an third paragraphs here as they both  start with the same information- the repositories are federated automatically. I think you could remove the first sentence of the 3rd paragraph and add the rest to the first paragraph.  Also some of the info in the second paragraph is not precise- suggested edit:

the externalIdAttribute eleme

[2022-04-28 19:46] dmuelle opened #5439 "Analyze "Application Bindings""
Work with SME to analyze https://www.ibm.com/docs/en/was-liberty/base?topic=manually-application-bindings and migrate relevant info to OL. Information is useful though needs to be reframed for OL/microservices.

[2022-04-28 19:50] dmuelle opened #5440 "Analyze "Managed Executors""
Work with SME to analyze and migrate relevant info from https://www.ibm.com/docs/en/was-liberty/base?topic=manually-configuring-managed-executors

comments from OL tracking doc: "Relevant to developers for ensuring performance in apps but how much of this should we emphasize and how much is autonomous?      Alasdair: low priority - to do with Java EE Concurrency. Developer oriented doc. See if it'

[2022-04-28 19:57] dmuelle opened #5441 "updates to Password encryption doc"
migrate missing info from https://www.ibm.com/docs/en/was-liberty/base?topic=security-limits-protection-through-password-encryption to https://openliberty.io/docs/latest/password-encryption.html

A few details were omitted from Open Liberty when this was migrated. Add first step in WL topic to OL and check the rest of the page for missing info.

[2022-04-28 20:21] KyleAure commented on #5301
@ramkumar-k-9286 Would you mind holding off releasing this till next week (not sure of your release schedule)?  I want to have our L2 support also review this documentation before we put it into our doc. I wasn't able to schedule a meeting with them until monday.

[2022-04-29 07:02] ramkumar-k-9286 commented on #4550
Peer Review
-----

The `schemaGen` command generates a schema for an entire Open Liberty installation in a single output file in the current directory. **This command generates a schema for an entire Open Liberty installation.**
To generate a schema for a specific server, use the [serverSchemaGen command](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/command/serverSchemaGen.html)

[2022-04-29 07:35] ramkumar-k-9286 commented on #5118
Peer Review
---

The schema is created as a file that is named `server.xsd` in the `${server.config.dir}/schemagen` directory.
--->
Removed - **that is**
The schema is created as a file named `server.xsd` in the `${server.config.dir}/schemagen` directory.

----

Generate a schema for an Open Liberty server that is named `myServer`.
--->
Removed - **that is**
Generate a schema for an Open Liberty s

[2022-04-29 14:23] dmuelle commented on #5301
Hi @KyleAure - Ram is on vacation today but the work on this draft is ongoing. We need to do some revisions to bring into line with Open Liberty content standards- in addition to any needed edits to technical information.  We are working on reorganizing the information to make it more straightforward and easier to follow, with less redundancy.

Right now we are targeting the revised doc to release

[2022-04-29 15:04] dmuelle commented on #5118
Thanks for reviewing @ramkumar-k-9286 - all suggestions incorporated except for the following:

- removing *that is*: as much as I would like to do this, it's against ID standards. For translation purposes, when you use a past  participle like "named", must conjoin it with "that is"
- fixed the definition for --locale=language by removing one word- "generated"
- conjunctions like "couldn't" are pe

[2022-04-29 15:09] dmuelle commented on #4550
Thanks for reviewing @ramkumar-k-9286 - all suggestions incorporated except for the following:

- The second sentence is somewhat redundant but I think it's warranted in this case to make the distinction between schemaGen and serverSchemaGen clear.
- removing *that is*:  For translation purposes, when you use a past  participle like "named", must conjoin it with "that is"
- fixed the definition fo

[2022-04-29 17:41] dmuelle commented on #5301
@KyleAure - we have a few questions to help clarify and organize some of the info in this doc. If it's helpful, please share these in your meeting with L2. I'm also happy to join the meeting if that would be helpful. Let me know you you think.

The doc is hard to follow because it provides repetitive examples without adequately explaining what the differences between them are, what syntax patterns

[2022-04-29 18:27] dmuelle commented on #5308
## analysis: steps to examples

1. n/a, already on feature page
2. minimal configuration- add to default config example
3. already covered in generated doc for samlWebSso20- add link from default config
4. add info to custom config example
5. provide example for PKIXTrustEngine
6. already covered in generated doc
7. insufficient info to complete task
8. already covered in generated doc
9.  already

[2022-05-02 20:22] njr-11 opened #5444 "Documention of properties subelement of dataSource is misleading"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

The information on https://openliberty.io/docs/latest/relational-database-connections-JDBC.html misled a customer into configuring both `<properties>` and `<properties.postgresql>`

[2022-05-03 18:19] bmarwell commented on #5444
Not a native speaker, but maybe adding the word "either" helps to clarify even better.

"... properties by EITHER specifying X or y"

[2022-05-04 13:45] dmuelle commented on #5233
https://github.com/OpenLiberty/ci.docker/issues/305

[2022-05-04 16:13] dmuelle commented on #5308
The session cookie name is automatically generated. You can customize the cookie name by specifying  a new name in the  `spCookieName` attribute.

check on this- not documented in gendoc

also- the task references `trustAnchor` for PKIX engine, but the attribute is `trustAnchorRef` confirm this and that the att just needs to specify the ID of a keyStore- no need to separately configure a trustAnch

[2022-05-04 16:23] dmuelle commented on #5444
Hi @njr-11 @bmarwell, I've made the specified update in our draft doc:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#_data_source_configuration

Would it also be helpful to explain when a user might use `properties` vs `properties.{JDBC_VENDOR_TYPE}` ? We've provided examples for both, but how would a user know whether they need a specific ve

[2022-05-04 16:45] bmarwell commented on #5444
LGTM! Thank you for your great work! 🙏🏻

[2022-05-04 16:46] njr-11 commented on #5444
@dmuelle Thanks for adding these updates!  And good idea - if you want to add that, a good place might be,

"... subelement under the dataSource element.  Use a `properties.{JDBC_VENDOR_TYPE}` subelement if Liberty provides one for the JDBC driver that you are using.  Otherwise, use a `properties` subelement."

[2022-05-05 10:41] ramkumar-k-9286 commented on #2698
Peer Review
---
https://docs-draft-openlibertyio.mybluemix.net/docs/latest/grpc-services.html

---

Acrolinx is picking up **Consume** and asking to use a simpler word like **USE**. Ignoring it as this seems more like usage and used multiple times including the heading

---

The [gRPC](https://grpc.io/) framework was designed to efficiently connect cloud-native applications.

**Suggested:** The [g

[2022-05-05 11:40] ramkumar-k-9286 commented on #5311
Hi David @dmuelle

Added redirect statement to the IBM docs page:
https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-ltpa-in

[2022-05-05 16:26] ramkumar-k-9286 commented on #5311
content is on vNExt and will publish with 22005

[2022-05-05 16:26] #5311 closed, assigned to ramkumar-k-9286

[2022-05-05 17:38] dmuelle commented on #5046
For the comment linked in the slack thread, include something like:

Open Liberty provides [convenience features](https://openliberty.io/docs/latest/reference/feature/feature-overview.html#_convenience_features), such as MicroProfile or JakartaEE, which include many individual Liberty features. The convenience features are handy for development environments, when the scope of application function

[2022-05-05 18:59] dmuelle commented on #5444
updated the draft to clarify properties vs vendor specific properties element:

https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html

if no further changes are needed, the updates are set to publish on 5/10 with the 22.0.0.5 docs release. Thanks!

[2022-05-05 19:00] dmuelle commented on #5444
updated the draft to clarify properties vs vendor specific properties element:

https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#_data_source_configuration

if no further changes are needed, the updates are set to publish on 5/10 with the 22.0.0.5 docs release. Thanks!

[2022-05-06 09:37] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Review Comments incorporated. Please check:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html

Regards,
Ramkumar

[2022-05-06 10:34] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

Comments incorporated. Please check:
https://draft-openlibertyio.mybluemix.net/docs/latest/performance-tuning.html

Regards,
Ramkumar

[2022-05-06 13:58] dmuelle commented on #4550
changes are on vNext and will publish with the 22.0.0.5 docs release- closing this issue.

[2022-05-06 13:58] #4550 closed, assigned to dmuelle

[2022-05-06 13:59] dmuelle commented on #5118
changes are on vNext and will publish with the 22.0.0.5 docs release- closing this issue.

[2022-05-06 13:59] #5118 closed, assigned to dmuelle

[2022-05-06 13:59] dmuelle commented on #5283
changes are on vNext and will publish with the 22.0.0.5 docs release- closing this issue.

[2022-05-06 13:59] #5283 closed, assigned to chirp1

[2022-05-06 13:59] dmuelle commented on #5444
changes are on vNext and will publish with the 22.0.0.5 docs release- closing this issue.

[2022-05-06 13:59] #5444 closed, assigned to dmuelle

[2022-05-06 13:59] #2698 closed, assigned to dmuelle

[2022-05-06 13:59] dmuelle commented on #2698
changes are on vNext and will publish with the 22.0.0.5 docs release- closing this issue.

[2022-05-06 14:03] dmuelle opened #5463 "gRPC examples and clarifications"
During the development of the gRPC topic in  #2698 @hutchig identified a few enhancements that might improve the topic but that did not constitute a stop-ship to publish it. Recording them here so we can add to the topic in a future release.

- [ ] What is not clear in the docs is if the (server) grpc feature enables 100% of the grpcClient feature's features. (i.e. a server can always also be a cl

[2022-05-06 14:04] dmuelle commented on #2698
opened #5463 to track enhancements that will be added to this topic in a future release

[2022-05-10 17:31] KyleAure commented on #5301
@dmuelle @ramkumar-k-9286 I updated the previous comment with the answers to the questions you asked.

[2022-05-10 17:46] KyleAure commented on #5301
FYI I opened PR #5469 with some suggested changes I collected from our L2 support team.  I also went through and tested most of these configurations to ensure they work.

[2022-05-10 21:17] dmuelle commented on #5044
## Configure certificate filter mode for the LDAP server
I think we need to rework this- it's confusing and feature-focused. It's alsoi missing info that can be found on https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-ldap-certificate-map-mode

Something like:

**Define mapping between client certificate attributes and LDAP user registry attributes**
To map attributes

[2022-05-10 21:22] dmuelle commented on #5044
## Define mapping between LDAP attributes and the user registry schema attributes
For the example in this section- the `attribute` and ` externalIdAttribute`  elements should have the same indent. They should both line up under the "b" of the `attributeConfiguration` element.

[2022-05-10 21:32] dmuelle commented on #5046
theres a typo in **Tune startup time**

attibute--->attribute

also:
A configuration that includes features that are not ~~actually~~ used by the deployed application might require more CPU, memory, and time to start than necessary.

[2022-05-11 10:41] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

Typo fixed -> attibute--->attribute

Deleted -> ~~actually~~

Please check:
https://draft-openlibertyio.mybluemix.net/docs/latest/performance-tuning.html

Regards,
Ramkumar

[2022-05-11 13:36] dmuelle commented on #5301
Thanks for this info @KyleAure - we have incorporated the changes from your PR into draft by copying them into Rams working branch and committing from there instead of from your PR. This is onl;y because of the way the Open Liberty publishing flow is set up- since `draft` is not strictly in sync with `staging` and `vNext`, it is much easier to work on a doc where all the changes for a particular i

[2022-05-11 14:36] #5383 closed, assigned to dmuelle

[2022-05-11 14:39] pgunapal opened #5472 "Update the JSON logs events reference list with new app name field"
As part of the feature [LG-331: Add application name to LogRecordContext Extension](https://github.com/OpenLiberty/open-liberty/issues/19641), a new default JSON field (`ext_appName`) was added to the JSON logs.
Need to update the following documentation: https://openliberty.io/docs/latest/json-log-events-list.html

In the above documentation, the following tables should be updated to add the foll

[2022-05-11 15:17] KyleAure commented on #5301
Perfect that's what I expected.  Thanks again for the hard work and getting this document into shape!

[2022-05-11 15:34] dmuelle commented on #5046
LGTM, thanks. I think this is ready for technical review

[2022-05-11 16:45] ramkumar-k-9286 commented on #5301
Hi David @dmuelle

Incorporated changes suggested in Kyle's PR.
Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Regards,
Ramkumar

[2022-05-11 16:47] Channyboy opened #5477 "Update `Log and trace configuration` page to include new stack join feature"
Related EPIC: https://github.com/OpenLiberty/open-liberty/issues/1598

Update the page to include the new stack join feature configuration.

[2022-05-11 16:57] dmuelle commented on #5472
Hi @pgunapal - the epic says the target is 21.0.0.7 beta- is that correct? If not, when should we target the update to publish?

[2022-05-11 17:00] pgunapal commented on #5472
@dmuelle The feature is being beta'ed for 21.0.0.7-beta. We will be targetting to GA it for 21.0.0.7. So, I believe the doc updates should go in for 21.0.0.7.

[2022-05-11 17:56] dmuelle commented on #5472
I assume you mean 22.0.0.7? I wasn't sure if this was something that had previously been in beta that was never released

[2022-05-11 17:57] pgunapal commented on #5472
Yes, I do mean 22.0.0.7! :) I fixed the Epic label as well, to indicate 22.0.0.7-beta.

[2022-05-12 09:54] ramkumar-k-9286 commented on #5046
Hi Gary @gjdeval

Could you please review the performance tuning document.

Link: https://draft-openlibertyio.mybluemix.net/docs/latest/performance-tuning.html

you could leave your comments in the issue.

Regards,
Ramkumar

CC @dmuelle

[2022-05-12 10:23] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Comments incorporated.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html

Regards,
Ramkumar

[2022-05-12 12:57] ramkumar-k-9286 commented on #5301
Hi David @dmuelle

Reworked the draft based on your comments yesterday.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Regards,
Ramkumar

[2022-05-12 14:20] clarkek123 opened #5484 "CVE updates for 22.0.0.6"
Hi David, This issue is opened for moving PR https://github.com/OpenLiberty/docs/pull/5483 through the documentation process for 22.0.0.6 release.

[2022-05-12 16:22] dmuelle commented on #5301
Looks good- a few suggested edits.

## short description
I think this could be more concise and less repetitive

JDBC driver tracing for Open Liberty enables tracing for your third-party JDBC driver for debugging purposes, or to submit a ticket. To collect JDBC driver trace, you need to enable tracing for your JDBC driver in Open Liberty, configure the logging level, and optionally provide driver-

[2022-05-13 07:51] ramkumar-k-9286 commented on #5301
Hi David @dmuelle

suggested corrections made to the JDBC doc.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Regards,
Ramkumar

[2022-05-13 15:33] KyleAure commented on #5301
@ramkumar-k-9286 WOW this looks great.  Here are just a few suggestions (that I forgot).

DB2 JCC:
Add an additional table to specify the other values for traceLevel, or link to this document:
https://www.ibm.com/support/pages/collecting-data-tracing-ibm-data-server-driver-jdbc-and-sqlj
(see table 1)

Informix using DB2 JCC:
Should have that same table for traceLevel, or link to this document: htt

[2022-05-13 19:34] dmuelle commented on #5301
@KyleAure @ramkumar-k-9286 - this is shaping up! I think we could make it more clear what is required to _enable_ trace vs. what you can do to _configure_ it. As we have it, these two user goals (enabling and configuring) are kind of muddled together.

Ideally, we would
1. explain what users need to do to enable trace, with representative examples for JUL and non-JUL scenarios
2. explain how to co

[2022-05-13 19:58] KyleAure commented on #5301
@dmuelle

I agree that the table can be removed in lieu of the individual sections.
I think that we should document which drivers use Java Util Logging, and which drivers just use our integrated logwriters.
Does it affect what the user has to configure? No
However, letting the user know that JUL will produce trace from the driver itself vs. our logwriters which will perform logging for the driver

[2022-05-16 11:39] ramkumar-k-9286 commented on #5046
Conversation with Gary
---

[Ramkumar K](https://app.slack.com/team/U0270NV9V2P)  [3:25 PM](https://ibm-cloud.slack.com/archives/D03F2DH7AP7/p1652349305891509)
Hi Gary,

[3:27](https://ibm-cloud.slack.com/archives/D03F2DH7AP7/p1652349433963939)
Hope you are having a good day.
Could you have a look at the performance tuning document.
Issue link: https://github.com/OpenLiberty/docs/issues/5046
You c

[2022-05-16 13:53] dmuelle opened #5487 "clarify that console log is not "disabled" when set to OFF"
we received the following comment in IBM Docs for [our Logging page](https://www.ibm.com/docs/en/was-liberty/base?topic=SSEQTP_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_logging.html), similar info appears in [Open Liberty](https://openliberty.io/docs/latest/log-trace-configuration.html)

This web page could be clearer. It gives information but then contradicts itself slightly furt

[2022-05-16 13:55] dmuelle commented on #5487
opened https://github.ibm.com/websphere/liberty-docs/issues/2919 to address on the WLP side

[2022-05-16 15:45] dmuelle commented on #5046
LGTM, thanks- you can send to staging when you have a chance.

[2022-05-16 18:09] clarkek123 opened #5489 "CVE updates for 22.0.0.6"
This is for taking the PR https://github.com/OpenLiberty/docs/pull/5488 through the  ID process from Draft branch on.

[2022-05-16 19:42] dmuelle commented on #5489
tracking this update in #5484 - closing this issue

[2022-05-16 19:42] #5489 closed, assigned to dmuelle

[2022-05-16 19:45] dmuelle commented on #5484
#5492 and #5490

[2022-05-17 01:53] KyleAure commented on #5301
@ramkumar-k-9286 Here is some additional feedback from our L2 support team

1. Can we include that after altering the bootstrap.properties file, you must restart the server for the changes to take effect (this used to be the case and I believe still is).
2. Maybe do a bit of explanation regarding Oracles `-Doracle.jdbc.Trace=true` option since it is the only trace in which you need to set an addit

[2022-05-17 13:16] ramkumar-k-9286 commented on #5044
the `attribute` and `externalIdAttribute` elements should have the same indent.  -  Seems fixed now.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html

but found similar issues for:
https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#federate

in the second code block.

Will be correcting that as wel

[2022-05-17 13:52] dmuelle commented on #5044
ok- note also that the lists in this example intro are still not rendering:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#Certfilter

[2022-05-17 13:59] dmuelle commented on #5301
I agree that it would be more clear if we stuck to just the server.xml examples- it's almost always better to just tell someone one clear path to a goal rather than give multiple equivalent options that they then have to choose between. We could demonstrate how to configure in the bootstrap.properties as an alternative without giving exhaustive examples for every DB- and also mention w/ that examp

[2022-05-17 21:05] dmuelle commented on #5389
Hi @jvanhill - this information is migrated to Open Liberty at:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/appSecurity-4.0.html#_track_logged_out_ltpa_tokens

Let me know what further edits are needed. Thanks

[2022-05-18 09:51] ramkumar-k-9286 commented on #5046
Hi David @dmuelle

For verification: Performance tuning doc in the staging site.

Link: https://docs-staging-openlibertyio.mybluemix.net/docs/latest/performance-tuning.html

Regards,
Ramkumar

[2022-05-18 12:00] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Corrections done.

Fixed the intent issue:
https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#federate

Fixed the lists in the cert filter:
https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#Certfilter

Regards,
Ramkumar

[2022-05-18 13:56] jvanhill commented on #5389
@dmuelle - Looks good.

I will need to open another issue to update this topic when my feature is ready.

[2022-05-18 14:42] dmuelle commented on #5389
Thanks @jvanhill - going by the labels It looks like SEC-380 was targeted for 22.0.0.4- is that the feature/epic we'll be updating for?

[2022-05-18 14:49] dmuelle commented on #5046
LGTM- created https://github.com/OpenLiberty/docs/pull/5503 to send to vNExt

[2022-05-18 18:13] dmuelle commented on #5388
Hi @jvanhill - I've migrated this information to the Open Liberty docs:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/appSecurity-4.0.html#cahce

Let me know if any further changes are needed for this issue. If not, you can add the `technical reviewed` label to sign off. I believe you intend to address changes to this info w/r/t your new feature in a different issue

[2022-05-19 03:28] jvanhill commented on #5388
I updated the epics and the doc issues to be 22008. That seems most likely, with slight change of 22007.

[2022-05-19 18:48] dmuelle commented on #5308
draft update: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/samlWeb-2.0.html

[2022-05-20 17:11] dmuelle opened #5515 "Minor edits to Admin Center"
per https://github.ibm.com/websphere/liberty-docs/issues/2924, reviewed OL Admin center docs vs WLP in IBM docs. Only a couple minor corrections and additions were needed.

Fixed a typo and added rec to use WebSocket feature with the Explore tool

[2022-05-20 17:25] dmuelle opened #5517 "22.0.0.6 release"
### Dates

- **Doc freeze date:** 6/2
- **GA Date:** 6/7
-
### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc updates, support level changes, planned docs refresh, etc.**

adding MP GraphQL-2.0 feature

### Release checklist
- [x] If any Jakarta or MicroProfile API docs are updated with this release, work with

[2022-05-20 17:27] dmuelle commented on #5046
content is on vNExt and will publish with 22006

[2022-05-20 17:27] #5046 closed, assigned to ramkumar-k-9286

[2022-05-23 10:55] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Suggested corrections were done to the page. ( removed 2 bulleted lists, also text edits (`${SubjectCN}`).

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#Certfilter

Regards,
Ramkumar

[2022-05-23 15:07] dmuelle commented on #5044
looks better- 2 minor nits:

The client certificate attribute must begin with a dollar sign, $, and must be enclosed within braces, {}, like `${SubjectCN}`.
--->
The client certificate attribute must begin with a dollar sign and must be enclosed in braces, for example, `${SubjectCN}`.

The LDAP attributes that are supported are `uid`, `initials`, `sAMAccountName`,` displayName`, `distinguishedName

[2022-05-23 18:47] dmuelle commented on #5484
changes are on vNExt and will publish with 22.0.0.6- closing this issue

[2022-05-23 18:47] #5484 closed, assigned to dmuelle

[2022-05-23 19:24] dmuelle commented on #5301
@ramkumar-k-9286

feedback for recent changes

## Understanding Open Liberty tracing
Drivers that do not support the java.util.logging or uses some other logging library, Open Liberty provides a log writer that generates logs based on JDBC specification methods such as getConnection and executeQuery.
--->
Drivers that do not support the` java.util.logging library`, are specified by the log writer

[2022-05-23 20:04] dmuelle commented on #5357
see https://github.ibm.com/websphere/twas-docs/issues/5293

[2022-05-23 20:43] dmuelle commented on #5357
slack comment from Alasdair:

[2022-05-23 20:44] dmuelle commented on #5357
initial draft at https://docs-draft-openlibertyio.mybluemix.net/docs/latest/create-session-table.html

[2022-05-24 09:47] ramkumar-k-9286 commented on #5044
Hi Jesse @jvanhill

As a part of moving information from WL to OL. We had moved information regarding LDAP.

Source: https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-ldap-user-registries-in

The sections where edits have been made are as follows.

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#Certfilter

https:

[2022-05-24 13:37] dmuelle commented on #5487
update is on vNext and will publish with 22006

[2022-05-24 13:37] #5487 closed, assigned to dmuelle

[2022-05-24 13:38] dmuelle commented on #5515
update is on vNext and will publish with 22006

[2022-05-24 13:38] #5515 closed, assigned to dmuelle

[2022-05-24 15:35] jvanhill commented on #5044
@ramkumar-k-9286 -

I noticed this section (https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#configuresslconfiguration). That should probably be combined with this section (https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#ldaps).

Otherwise looks good.

[2022-05-25 15:50] frowe commented on #5357
@dmuelle Reviewed, was able to create postgres sessions table using DDL so I think you're good.

[2022-05-25 15:54] dmuelle commented on #5357
thanks @frowe

@ramkumar-k-9286 this issue is ready for peer review

[2022-05-25 16:55] ramkumar-k-9286 commented on #5357
Peer Review
---
The following `server.xml` file example shows a data source configuration for a Db2 database.
--->
In the following example, the `server.xml` file shows a data source configuration for a Db2 database.

Also, should we monospace the `Db2` database?

---

The `httpSessionDatabase` element references the configured data source and identifies a manually created table that is called `se

[2022-05-25 18:48] arunavemulapalli commented on #5308
I haven't completed the review yet..
But some changes that I thought that you may start looking at..

Under Default configuration section  -

Move this following to a new line to make it as a separate point

**The IdP metadata file must be named idpMetadata.xml and copied to the resources/security directory on the server.**

(IdP metadata and SP metadata are different)

Under Customize the default

[2022-05-25 19:18] dmuelle commented on #5357
Thanks for reviewing @ramkumar-k-9286 - we dont need to monospace Db2 because it's a product name. I also think the original wording there is more concise and a common formulation in the docs.

I updated the second sentence per your recommendation, though slightly differently. Let me know what you think

[2022-05-25 19:22] arunavemulapalli commented on #5308
Under Configure Identity provider initiated unsolicited single sign-on section -

Change the following

The following example demonstrates the server.xml configuration to specify IdP-initiated SSO, where the IdP signer certificates are in a keystore file that is called serverStore.

To

The following example demonstrates the server.xml configuration to specify IdP-initiated SSO, where the IdP sign

[2022-05-25 19:53] arunavemulapalli commented on #5308
Please change
Use an LTPA cookie to maintain a SAML-authenticated session section - change the title to
**SP authentication session and SP cookie** (most users probably will be interested in this one...)

You can configure an SP authentication session and session cookie. After SAML assertion is verified and processed, the Liberty SAML SP maintains an authenticated session between the browser and t

[2022-05-25 20:05] arunavemulapalli commented on #5308
Please add point 13 (from the WL docs) as this is an important aspect of the message flow between the SP and IdP.

Configure signature requirements :
	•	Signing of SAML assertion/s -  All SAML assertions must be digitally signed by the SAML IdP. In the rare case that you want to accept an unsigned assertion, you can explicitly configure **wantAssertionsSigned="false".**
	•	Signature Algorithm - Th

[2022-05-25 20:21] arunavemulapalli commented on #5308
I think we need to add point 16 also.

It is not like twas cluster but to support multiple liberty SPs handling the same request

[2022-05-25 21:35] dmuelle commented on #5308
Thanks so much for reviewing- I am working on implementing your suggestions but I have a few questions.

Looking at the autogenerated reference documentation for [samlWebSso20> pkixTrustEngine](https://openliberty.io/docs/latest/reference/config/samlWebSso20.html), there is no attribute called  `trustAnchor` but there is one ` trustAnchorRef`. Since this reference doc is generated from the Liberty

[2022-05-26 03:48] arunavemulapalli commented on #5308
**trustAnchor** is the correct attribute name

**spCookieName** is an internal attribute. I will open an issue to externalize this one. I've seen customers using this attribute already.

Step 16 - you may be right. Probably this is applicable to WL only.

I will take a look at step 7 to see if we have documentation to develop the user feature mentioned.

6,8,9,13 - let me look at the "customize" e

[2022-05-26 11:59] ramkumar-k-9286 commented on #5044
Hi Jesse @jvanhill

Based on your suggestions, we have merged the sections. Please check and let us know if you are ok with the changes that have been made.

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#ldaps

Regards,
Ramkumar

CC @dmuelle

[2022-05-26 20:06] dmuelle commented on #5308
Hi @arunavemulapalli - the updated draft is available for review:
https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/samlWeb-2.0.html

So far, I've made the following changes per your review:

- [x] Moved to a new line to make it as a separate point: The IdP metadata file must be named idpMetadata.xml and copied to the resources/security directory on the server.
- [x] Rem

[2022-05-26 20:07] dmuelle commented on #5308
I'm not sure why `trustAnchor` is showing as `trustAnchorRef` in the generated doc. Looking at the file `com.ibm.ws.security.saml.websso.2.0/resources/OSGI-INF/metatype`, which should be used to generate the reference doc (i think), i see the following at line 149

[code]
so it is reusing the description for `trustStoreRef`, but I don't know where the generated doc is getting `trustAnchorRef`.

[2022-05-27 20:43] TrevCraw opened #5550 "Update dev mode doc for feature generation"
Update documentation for Liberty dev mode to include description of new feature generation functionality

[2022-05-31 14:45] arunavemulapalli commented on #5308
looks good to me.

I will open an issue for myself to work with you on adding more example configurations for 6-9 and 13 and maybe 16 (if this can be configured in non-cluster and useful in some other configurations..)

thank you.

[2022-05-31 16:07] TrevCraw commented on #5550
Update suggestions for the Dev mode page: https://openliberty.io/docs/latest/development-mode.html

For the "Detect, recompile, and deploy code changes" section

(paragraph below the bullet points - remove last line)

Resource file, configuration file, and configuration directory changes are copied into your target directory. New dependencies in your pom.xml file or build.gradle file are added to

[2022-05-31 16:10] TrevCraw commented on #5550
Another request is to change all references to `Open Liberty Maven plug-in` to `Liberty Maven plug-in` and `Open Liberty Gradle plug-in` to `Liberty Gradle plug-in`

[2022-05-31 17:51] dmuelle commented on #1515
topic is on vNExt and will publish with 22.0.0.6

[2022-05-31 17:51] #1515 closed

[2022-05-31 17:52] dmuelle commented on #5357
File is on vNext branch and will publish with 22.0.0.6

[2022-05-31 17:52] #5357 closed, assigned to dmuelle

[2022-05-31 17:56] ramkumar-k-9286 commented on #5301
Hi Kyle @KyleAure

The draft document ( based on suggestions from you and David):

link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Could you suggest an explanation for the `library` config in the Oracle example?

Regards,
Ramkumar

CC @dmuelle

[2022-05-31 19:03] KyleAure commented on #5301
@ramkumar-k-9286 Thanks for sending this along.

## Oracle - Library Explanation

### Current

Oracle provides two different drivers, one for production and another for debugging purposes. The production driver does not produce a trace, so you need to download and replace your production driver with the debugging driver. The debugging driver has _g in the driver name. For example, ojdbc8.jar is oj

[2022-06-01 13:30] dmuelle commented on #5550
Draft is now updated with these changes:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/development-mode.html

Im wondering if its worth putting feature generation under a heading? Depending on how consequential it is to the overall Dev Mode user experience. The text reads fine, but I wonder if someone went looking for this info they might miss it

[2022-06-01 13:40] ramkumar-k-9286 commented on #5308
Peer Review
---

To enable the SAML Web Single Sign-On 2.0 feature, add the following element declaration into your `server.xml` file, inside the `featureManager` element:
->
To enable the SAML Web Single Sign-On 2.0 feature, add the following element declaration into your `server.xml` file, inside the `featureManager` element**.**

---

[Configure SAML Web inbound propagation](https://docs-draft-

[2022-06-01 19:21] dmuelle commented on #5308
Thanks for reviewing @ramkumar-k-9286, draft is updated

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/samlWeb-2.0.html

All suggestions incorporated except for the following

This part of the page is in the generated doc
______________________________________________________

I think this is an exception to the rule Acrolinx is flagging. IBM terminology/Termbot says

[2022-06-02 13:09] ramkumar-k-9286 commented on #5301
Hi Kyle @KyleAure

The suggested changes have been incorporated.

link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

Regards,
Ramkumar

CC @dmuelle

[2022-06-02 16:58] TrevCraw commented on #5550
Updated suggestion:

(Still remove last line)
Resource file, configuration file, and configuration directory changes are copied into your target directory. New dependencies in your pom.xml file or build.gradle file are added to your class path. **~~New features are installed and started.~~**

(New paragraph)
_Liberty features will be automatically generated in server configuration.  New features,

[2022-06-02 16:59] dmuelle commented on #5387
link to download the WebSphere benchmark: https://www.cisecurity.org/benchmark/websphere

[2022-06-02 18:34] dmuelle commented on #5301
## Peer review

### Understanding Open Liberty tracing

Make this a link to the "Configure custom settings" section.

### Oracle example

The debugging driver needs to be configured as the jdbcDriver element in server.xml.
--->
Configure the debugging driver by specifying the `library subelement within the  `jdbcDriver` element. The library defines the path to the debugging driver JAR file.
___
Th

[2022-06-02 18:36] dmuelle commented on #5301
Also- add a link to this doc from the [JDBC driver library configuration section of the Relational database connections with JDBC doc](https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#_jdbc_driver_library_configuration).

At the end of the section, something like, "For information about configuring trace for your JDBC driver, see **JDBC tracing**

[2022-06-02 18:59] dmuelle commented on #5044
LGTM

[2022-06-02 19:05] dmuelle commented on #5550
updated draft: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/development-mode.html

[2022-06-03 12:01] ramkumar-k-9286 commented on #5301
Peer Review comments have been incorporated.

Added a link to JDBC tracing doc from Relational Database Connections JDBC doc.

Links :

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#_jdbc_driver_library_configuration

[2022-06-03 13:29] dmuelle commented on #5301
-  link to JDBC tracing doc from Relational Database Connections JDBC doc is not working

Configure the debugging driver by specifying the library subelement within the `jdbcDriver` element. The library defines the path to the debugging driver JAR file.
---->
Configure the debugging driver by specifying the `library` subelement within the `jdbcDriver` element. The `library` subelement defines the

[2022-06-03 13:48] ramkumar-k-9286 commented on #5044
Communication with Jesse
--

Actually, sorry... the second section about using an outbound SSL filter can probably be improved.

<ldapRegistry ... host="ldapserver.mycity.mycompany.com" port="389" sslEnabled="true" >
    ...
</ldapRegistry>

<ssl id="LdapSSLSettings" keyStoreRef="LDAPKeyStore" trustStoreRef="LDAPTrustStore" >
    <outboundConnection host="ldapserver.mycity.mycompany.com" port="389

[2022-06-03 19:43] dmuelle commented on #5301
content is on vNext and will publish with 22006, closing this issue.

[2022-06-03 19:43] #5301 closed, assigned to ramkumar-k-9286

[2022-06-03 19:43] dmuelle commented on #5308
content is on vNext and will publish with 22006, closing this issue.

[2022-06-03 19:43] #5308 closed, assigned to dmuelle

[2022-06-03 19:43] dmuelle commented on #5550
content is on vNext and will publish with 22006, closing this issue.

[2022-06-03 19:43] #5550 closed, assigned to dmuelle

[2022-06-06 10:49] ramkumar-k-9286 commented on #5387
The process a user encounters is as follows:

1. Click the https://www.cisecurity.org/benchmark/websphere link.

**Note:** Clicking on https://workbench.cisecurity.org/ or https://workbench.cisecurity.org/benchmarks/7724 takes you to the **CIS WorkBench** page. You would need to log in by specifying your **E-mail** or **Username** and the **password**.

 2. Clicking on the https://www.cisecurity.o

[2022-06-06 13:19] ramkumar-k-9286 commented on #5387
The steps mentioned above need to be performed by the user to download the CIS IBM WebSphere Liberty Benchmark v1.0.0.
Not sure if this entire process needs to be mentioned in the document.

but then again,

not sure how much we can avoid as well.

[2022-06-06 16:10] dmuelle commented on #5387
Thanks for documenting this process

the `virtualization` category is an error that they have [an internal ticket](https://workbench.cisecurity.org/tickets/15543) open for- we should be under "Server technologies".

[2022-06-06 17:22] #3620 closed, assigned to nobody

[2022-06-06 19:13] dmuelle commented on #310
Open Tracing will be replaced by Open Telemetry after 22.0.0.8

[2022-06-06 19:31] #2371 closed, assigned to lauracowen

[2022-06-06 19:31] dmuelle commented on #2371
javadoc was updated in https://github.com/eclipse/microprofile-reactive-messaging/issues/111

[2022-06-06 19:32] #3087 closed, assigned to nobody

[2022-06-06 19:33] dmuelle commented on #3290
Open Tracing will be replaced by Open Telemetry after 220008

[2022-06-06 19:33] #3290 closed, assigned to nobody

[2022-06-07 21:19] #1397 closed

[2022-06-07 21:23] dmuelle commented on #2408
shcema generation is now documented in the commands reference

[2022-06-07 21:23] #2408 closed, assigned to ManasiGandhi

[2022-06-07 21:28] #5517 closed, assigned to nobody

[2022-06-08 14:47] dmuelle commented on #5477
Hi @Channyboy - this update is now on draft at the end of the table here:

https://draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html#settings

Let me know if any further changes are needed. If not, you can add the `technical reviewed` label to this issue to sign off and the update will publish with the 22.0.0.7 docs release. Thanks!

[2022-06-08 15:46] dmuelle commented on #5472
Hi @pgunapal - this update is now on draft:

https://draft-openlibertyio.mybluemix.net/docs/latest/json-log-events-list.html

Let me know if any further changes are needed. If not, you can add the `technical reviewed` label to this issue to sign off and the update will publish with the 22.0.0.7 docs release. Thanks!

[2022-06-08 21:12] dmuelle commented on #5477
just realized this is dependent on [stackTraceSingleEntry](https://github.com/OpenLiberty/open-liberty/pull/21348) and the attribute name is changing

[2022-06-09 12:32] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Based on SME suggestions, I replaced the examples in the **secure connection with LDAPS** sections. Please check and let us know if you are ok with the changes that have been made.

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#ldaps

Regards,
Ramkumar

[2022-06-09 12:33] ramkumar-k-9286 commented on #5387
Hi David @dmuelle

Updates for CIS benchmarks made to the security hardening topic.

Link: https://draft-openlibertyio.mybluemix.net/docs/latest/security-hardening.html

Regards,
Ramkumar

[2022-06-09 17:26] dmuelle commented on #5044
I think it's ok to reduce the extra config but what is being left out here might be confusing. We should make the two examples more alike and then explain the differences.

First, move the more information link to the first paragraph under this example
---

(emphasis for demonstration only)

Then standardize and the examples and explain them more clearly, something like:
---
The following example

[2022-06-09 17:43] dmuelle commented on #5387
## Peer review

- I think this information should be under its own subheading "Liberty CIS benchmarks"
- Link [Center for Internet Security](https://www.cisecurity.org/) on first mention

--->

- all of this information can go in the same paragraph- except "You can review them and open tickets there to address any questions or concerns." This needs more context because you can only open tickets if

[2022-06-09 18:59] Channyboy commented on #5477
Oh yes, sorry, will need to change the configuration assuming nothing else goes wrong :D

[2022-06-10 12:19] ramkumar-k-9286 commented on #5044
Hi David @dmuelle

Corrections have been done based on the suggestions provided.

Link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#ldaps

Regards,
Ramkumar

[2022-06-10 13:33] frowe opened #5575 "Update OL docs topic log-trace-configuration"
cf. slack thread https://ibm-cloud.slack.com/archives/C31GDK73P/p1654623828676159

Info in https://openliberty.io/docs/latest/log-trace-configuration.html could be made more clear.  For the third bullet of the second paragraph consider this change:

trace.log - This file is created only if you enable trace and contains all the content of messages.log plus any enabled trace. This file does not cont

[2022-06-10 15:01] pgunapal commented on #5472
@dmuelle Changes looks good, added the `technical reviewed` label. Thanks!

[2022-06-14 10:09] Emily-Jiang commented on #505
@dmuelle can you create a table to populate the tables with the properties mentioned on this converation and then we can fill in the missing ones. The column should contain the following: (please come up with better names)
`Name`, `Description`, `Spec`, `When runtime read it`

[2022-06-17 12:00] lauracowen opened #5576 "Explaining GraphQL concept suggestion"
Document: Build GraphQL applications with MicroProfile GraphQL
http://openliberty.io/docs/latest/microprofile-graphql.html

Just been reading this topic to find out what the GraphQL support is about.

I would suggest that the following paragraph (from the first sub-section), which nicely explains why you should care about GraphQL would be better at the start of that section (and even touched on in

[2022-06-17 12:06] lauracowen opened #5577 "GraphQL Observability section has hyphens before version number in some feature names"
Document: Build GraphQL applications with MicroProfile GraphQL
http://openliberty.io/docs/latest/microprofile-graphql.html

Don't think the GraphQL feature names should have the hyphenation. They should be like the other features named in these sentences:

[2022-06-20 10:29] ramkumar-k-9286 commented on #5387
Hi David @dmuelle

Review Comments incorporated.

Draft link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/security-hardening.html

Regards
Ramkumar

[2022-06-20 12:28] ramkumar-k-9286 commented on #5311
Hi David @dmuelle

Added the updated redirect statement to the IBM docs page:

https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-configuring-ltpa-in

Regards,
Ramkumar

[2022-06-20 13:31] dmuelle commented on #5233
note release retention scheme for DockerHub in the slack thread: https://ibm-cloud.slack.com/archives/C31DW78RG/p1655127847023539. This should be documented on the new page

[2022-06-20 14:00] dmuelle commented on #5311
looks good except I dont think you need to spell out "Lightweight Third Party Authentication (LTPA)" since it's already spelled out in the previous sentence. Also, could reorganize the sentence to make clear that you arer not specifying keys on the OL website

--->

[2022-06-20 14:15] dmuelle commented on #5387
Looks good except there's a missing space here:

also, the info for users with a CIS account should come after the info to DL the benchmarks, so this would be the last sentence in the section:

Also, for the DL instructions, don't put each sentence in a separate paragraph

[2022-06-20 14:26] dmuelle commented on #5577
consolidating from #5576 to address both recommendations in one issue:

Document: Build GraphQL applications with MicroProfile GraphQL
http://openliberty.io/docs/latest/microprofile-graphql.html

Just been reading this topic to find out what the GraphQL support is about.

I would suggest that the following paragraph (from the first sub-section), which nicely explains why you should care about Grap

[2022-06-20 14:27] dmuelle commented on #5576
Thanks @lauracowen , will fix this as part of the other GQL issue #5577

[2022-06-20 14:27] #5576 closed, assigned to dmuelle

[2022-06-20 16:52] dmuelle commented on #5044
looks good except for one very minor thing- acriolinx is finding the first sentence as too long. I think you could fix it simple by replacing "by way of" to "with"

[2022-06-20 20:54] dmuelle commented on #5577
@lauracowen - updated the draft at: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/microprofile-graphql.html

- reorganized the paragraphs in the "What is GraphQL?" section per your suggestion
- revised the short description to include what GQL enables you to do (simplify data retrieval)
- removed hyphens from feature names

[2022-06-20 21:06] dmuelle commented on #5575
Hi @frowe - I've updated the draft at https://docs-draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html per your comments here and in the slack thread.

Although this topic will replace the IBM Docs topic at some point, I made similar updates there:
https://ibmdocs-test.mybluemix.net/docs/en/SSAW57_liberty_test?topic=liberty-logging-trace

I removed references to tWAS 6.0

[2022-06-20 21:14] dmuelle commented on #5575
Sorry, just realized I misread your comment.  I removed reference to WAS 6.0 from the table description

[2022-06-20 21:17] dmuelle opened #5584 "22.0.0.7"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:** 6/29
- **GA Date:**  7/5
-
### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc updates,

[2022-06-21 16:55] dmuelle commented on #5472
content is on vNext and will publish with 22.0.0.7- closing this issue

[2022-06-21 16:55] #5472 closed, assigned to dmuelle

[2022-06-21 18:54] dmuelle commented on #505
Properties by spec- will continue to build the list in this comment and then put into tables for each spec in the doc draft.

## MP Health

- **mp.health.disable-default-procedures**
When set to true, disables all default vendor procedures so the application processes and displays only the user-defined health check procedures
- **mp.health.default.readiness.empty.response**
set  this property to U

[2022-06-22 03:57] alanlima25 opened #5586 "systemd"
Document: Default environment variables
http://openliberty.io/docs/22.0.0.5/reference/default-environment-variables.html

**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

[2022-06-22 08:49] lauracowen commented on #5577
When I read it just now, I wondered whether the sentence "GraphQL is an open source...." should be in front of "You can use...". Just seems a slightly stronger start. Then the second paragraph starts "GraphQL uses a schema...".

But I could go either way - up to you. :)  Thanks

[2022-06-22 14:37] dmuelle commented on #5586
Hi @alanlima25 - can you give us some information about the specific problem you are having with this page? Thanks

[2022-06-22 16:21] dmuelle commented on #5577
I agree and have updated the draft accordingly- Thanks for your input!

[2022-06-22 16:37] dmuelle commented on #505
Hi @Emily-Jiang , I'm drafting the tables for the MP Config properties. What does the `When runtime read it` column contain? Does that mean the point at which the runtime implements or processes the property, eg, `at server startup` ? What are some example values? I can leave it blank for now but just trying to get a better understanding as I didn't see an obvious answer when I was going through t

[2022-06-22 22:43] pcnchang opened #5591 "Improve authFilter requestUrl pattern information"
URL of concern: https://openliberty.io/docs/latest/reference/config/authFilter.html#requestUrl

From https://www.ibm.com/docs/en/was-liberty/core?topic=liberty-authentication-filters
it appears the "urlPattern" can be pipe delimited to support multiple patterns.

Please revise that open liberty page so it saves time for people to realise how to specify multiple patterns in a single authFilter -> r

[2022-06-23 10:49] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Migrated the document from WL to OL.

Draft link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/application-bindings.html

Regards,
Ramkumar

[2022-06-23 13:21] dmuelle opened #5596 "Improve JSON B docs"
see information in #5590

[2022-06-23 14:41] dmuelle commented on #5439
## Initial peer review

I think this topic would benefit from having sub-headings for the various sections. You could split it up into the following headings (these will probably change with SME review, but as a start...)

### Binding precedence
Starts with "Open Liberty supports ..."

### Bindings for specific modules in an application
Starts with "For bindings and extensions that apply to a spec

[2022-06-23 16:17] frowe commented on #5575
looks good

[2022-06-23 17:56] dmuelle commented on #5577
changes are on vNext and will publish with 22.0.0.7- closing this issue

[2022-06-23 17:56] #5577 closed, assigned to dmuelle

[2022-06-23 18:06] dmuelle commented on #5591
Hi @pcnchang - thanks for this feedback. The page you cite here is part our autogenerated documentation, which is maintained by development. I'm transferring this issue to the main development repo so it can be addressed there, and the filter value descriptions can be updated to clarify that you can specify a piped list of values.

I also updated our [Open Liberty concept topic on Authentication F

[2022-06-24 12:08] ramkumar-k-9286 commented on #5387
Hi Ajay @arkarkala

Updates for CIS benchmarks made to the security hardening topic.

Draft link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/security-hardening.html

Regards
Ramkumar

[2022-06-24 14:53] dmuelle commented on #5586
closing due to lack of information- feel free to re-open or open another if you are having trouble with the doc. Thanks

[2022-06-24 14:53] #5586 closed, assigned to nobody

[2022-06-24 15:03] dmuelle commented on #5596
Hi @KyleAure - here is the draft for the JSON-p/B 3rd paty implementation doc update:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/json-p-b.html#_third_party_json_p_and_json_b_providers

Let me know if any further changes are needed. If not, you can add the `technical reviewed` label to this issue to sign off and the updates will publish with the next docs release. Thanks for writin

[2022-06-24 16:12] dmuelle commented on #5596
@ramkumar-k-9286 - would you please peer review this update? Thanks

[2022-06-27 09:08] Emily-Jiang commented on #505
It will be either `at server startup` or `during invocation`. You can leave it blank for now and the relevant component will need to fill in the info.

[2022-06-27 09:49] ramkumar-k-9286 commented on #5596
Peer Review
---

Even developers with no prior experience with JSON can use JSON-B because it’s based around annotations and semantics that are already commonplace for Java developers.
->
Even developers with no prior experience with JSON can use JSON-B because **it is** based **on** annotations and semantics that are already commonplace for Java developers.

---
JSON-B is the preferred API for co

[2022-06-27 13:20] dmuelle commented on #5477
new draft with  `stackTraceSingleEntry`, `com.ibm.ws.logging.stack.trace.single.entry`, and `WLP_LOGGING_STACK_TRACE_SINGLE_ENTRY` as the final entry in the table:

https://draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html#settings

[2022-06-27 14:39] Channyboy commented on #5477
@dmuelle  The bootstrap properties was `com.ibm.ws.logging.stackTraceSingleEntry`

[2022-06-27 15:39] dmuelle commented on #5596
Thanks for reviewing @ramkumar-k-9286 , all suggestions implemented: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/json-p-b.html

[2022-06-27 17:57] arkarkala commented on #5387
Looks good. Thanks

[2022-06-27 20:30] dmuelle commented on #5477
updated draft to fix that bootstrap property: https://draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html#settings

[2022-06-28 13:23] dmuelle commented on #505
First draft is now available for review: https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile-config-properties.html

[2022-06-28 19:04] dmuelle commented on #5477
changes are on vNExt and will publish with 22.0.0.7

[2022-06-28 19:04] #5477 closed, assigned to Channyboy, dmuelle

[2022-06-28 19:05] dmuelle commented on #5387
changes are on vNext and will publish with 22.0.0.7

[2022-06-28 19:05] #5387 closed, assigned to ramkumar-k-9286

[2022-06-28 19:05] dmuelle commented on #5044
changes are on vNext and will publish with 22.0.0.7

[2022-06-28 19:05] #5044 closed, assigned to ramkumar-k-9286

[2022-06-28 19:05] dmuelle commented on #5575
changes are on vNext and will publish with 22.0.0.7

[2022-06-28 19:05] #5575 closed, assigned to dmuelle

[2022-06-28 19:06] dmuelle commented on #5596
changes are on vNext and will publish with 22.0.0.7

[2022-06-28 19:06] #5596 closed, assigned to dmuelle

[2022-06-29 12:48] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Incorporated review comments.

Draft link: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/application-bindings.html

Regards,
Ramkumar

[2022-06-29 16:34] Azquelt commented on #505
I think we need to document which versions of the feature support each property. For example, `mpOpenApi-3.1` is introducing `mp.openapi.scan.beanvalidation=true|false` but that property is not supported on previous versions of `mpOpenApi`.

One option to get around this problem would be to list it on the feature reference page (e.g. https://draft-openlibertyio.mybluemix.net/docs/latest/reference/

[2022-06-29 17:10] dmuelle commented on #505
@Azquelt I agree  support level must be taken into account, Currently, I've included the level at which a property becomes available in the `Description` column, eg `This property is available in MicroProfile OpenAPI 2.0 and later.` The same thing would be applied to any new properties that are added in the future. Is that sufficient?

We can certainly break this page out and keep this information

[2022-06-29 18:56] dmuelle commented on #5439
looks good- a few minor things things

### Intro
- revise short description to remove passive voice.

---->

- reduce wordiness

--->

--->

- put the second and 3rd sentences in the intro in the same paragraph.

### Bindings for specific modules in an application

--->

In the following example, if the stockDisplay.war file and the stockData.jar file from the previous example were stand-alone app

[2022-06-30 11:49] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Incorporated additional review comments.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/application-bindings.html

Regards,
Ramkumar

[2022-06-30 12:19] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

Made some minor updates to the file.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-06-30 16:31] dmuelle commented on #5439
- make sure short description is just 2 sentences
- For bindings and extensions that apply to a specific module within an application, _it might be necessary_ to specify a moduleName attribute in the configuration.
 ---->
For bindings and extensions that apply to a specific module within an application, you might need to specify a moduleName attribute in the configuration.

Change the last heading

[2022-06-30 17:02] dmuelle commented on #3338
this is covered in https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/sessionDatabase-1.0.html and https://draft-openlibertyio.mybluemix.net/docs/latest/create-session-table.html, closing

[2022-06-30 17:02] #3338 closed, assigned to nobody

[2022-07-05 19:26] Channyboy opened #5631 "Update `JSON log events reference list` and `Logstash collector events reference list`"
Related EPIC: https://github.com/OpenLiberty/open-liberty/issues/17559

Include the new `ibm_exceptionName` and `ibm_stackTrace` JSON fields to Liberty JSON logging (for messages and trace)

Include the new `exceptionName` and `stackTrace` JSON fields to logstash collector JSON output. (for messages and trace)

[2022-07-05 20:49] dmuelle commented on #5389
any updates for the documentation associated with this epic? Thanks

[2022-07-06 13:39] jvanhill commented on #5389
@dmuelle - My team had reviewed the first half of my changes, and then I haven't been able to circle back in the last week due to pressing customer issues.

[2022-07-06 15:21] dmuelle commented on #505
Hi @Emily-Jiang @Azquelt @pgunapal @Channyboy @jim-krueger @teddyjtorres @njr-11

This is the docs issue for the MP Config properties reference that was discussed on today's call. The current draft has a table for each spec:
[MicroProfile Config properties](https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile-config-properties.html)

If each of you could review the table for your spe

[2022-07-06 15:23] dmuelle commented on #5389
ok thanks- I'll be out next week but can pick up whatever is ready when I return. If this is still targeted for 22.0.0.8, the doc freeze for that release is 7/28

[2022-07-06 15:26] #5584 closed, assigned to nobody

[2022-07-06 15:32] dmuelle opened #5634 "22.0.0.8 release"
### Dates

- **Doc freeze date:**  7/28
- **GA Date:** 8/1
-
### Notes
**List any special concerns for this release that are not already tracked in anothere issue, such as release dependencies, Javadoc updates, support level changes, planned docs refresh, etc.**

### Release checklist
- [x] If any Jakarta or MicroProfile API docs are updated with this release, work with development to get the upda

[2022-07-07 13:39] dmuelle commented on #5631
Hi @Channyboy - these updates are now available for review o the draft site:

- [JSON log events reference list: Message events](https://draft-openlibertyio.mybluemix.net/docs/latest/json-log-events-list.html#_message_events)
- [Logstash events reference list: Message events](https://draft-openlibertyio.mybluemix.net/docs/latest/logstash-events-list.html#_message_events)

Please let me know if any

[2022-07-07 14:30] Azquelt commented on #505
Here are the changes for my features:

### MicroProfile Fault Tolerance
`_classname_/_methodname_/_annotationname_/_parametername_=_newvalue_`
`_classname_/_annotationname_/_parametername_=_newvalue_`
`MP_Fault_Tolerance_NonFallback_Enabled`
For mpFaultTolerance-3.0+, these are read once per method per bean class, on the first execution of the method
For earlier versions, they're read once per met

[2022-07-07 21:12] njr-11 commented on #505
`mp.context.ManagedExecutor.propagated` :
When `ManagerExecutor.builder()` is used to build a `ManagedExecutor` and the builder does not specify the set of propagated context types.

`mp.context.ManagedExecutor.cleared` :
When `ManagerExecutor.builder()` is used to build a `ManagedExecutor` and the builder does not specify the set of cleared context types.

`mp.context.ManagedExecutor.maxAsync` :

[2022-07-11 08:06] ellen-lau opened #5637 "Update `access-logging` and `log-trace-configuration` with timed log rollover configuration options"
Related OpenLiberty Epic: https://github.com/OpenLiberty/open-liberty/issues/16067

Add explanation sections for new logging server configuration attributes `rolloverStartTime` and `rolloverInterval` in `access-logging` and `log-trace-configuration` docs.

Add new logging server configuration attributes `rolloverStartTime` and `rolloverInterval` to `log-trace-configuration` doc's configuration set

[2022-07-11 15:28] clarkek123 opened #5641 "CVE updates for 22.0.0.8"
Draft is updated in PR https://github.com/OpenLiberty/docs/pull/5640

[2022-07-13 18:31] ellen-lau commented on #5637
1.

**Edit file: `modules/ROOT/pages/access-logging.adoc`, adding section to describe new attributes with examples:**

Time-based HTTP access log rollover

You can enable time-based periodic rollover of your HTTP access log file by specifying a log rollover start time and a log rollover interval duration. The specified rollover start time is your desired time of day when the HTTP access log file s

[2022-07-13 18:41] chirp1 commented on #5631
@dmuelle Hi David, I see "throwable/exception" in the description of various attributes. Would you change the wording so that it doesn't include the slash? I believe the intent is "an exception was thrown", but that wording tends to be a slang- Maybe reword to something like "The type of exception if an exception is logged with the logging event.". Or, starting the description with "if", "If the e

[2022-07-18 10:38] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

For Review.

Corrections were made as per Ajay, your suggestions in the chat discussion.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-07-18 14:42] dmuelle opened #5644 "Suggested updates for the JDBC driver trace doc"
opened to track updates provided by @KyleAure in #5639

[2022-07-18 14:47] dmuelle opened #5645 "Updates to dev mode doc"
opened to track changes proposed by @ilovechai in in #5643

Docs team will recreate the changes from a vNext based branch and deliver to draft for review, per [docs process](https://github.com/OpenLiberty/docs#updating-an-existing-topic)

 Also update auto feature generation info to be off by default

[2022-07-18 15:36] teddyjtorres opened #5646 "Doc updates for Epic 20168"
Tentative release is 22.0.0.9.

For Epic https://github.com/OpenLiberty/open-liberty/issues/20168, we need to add the following to the https://openliberty.io/docs/latest/reference/feature/openidConnectClient-1.0.html#jwt section, preferably at the end (just before "Claim to subject mapping"),

Open Liberty allows using the issuer claim from a JWT or JWS access token to select the `openidConnectCli

[2022-07-18 16:51] dmuelle commented on #5631
@chirp1 - fixed by removing the slash- IBM terminology permits using the term "throwable" as an adjective, eg "a throwable exception"

    Usage Use only as an adjective, as in "throwable exception" and "throwable class," and use only in documentation of programming languages that support catch and throw programming blocks, such as Java, C++, Ruby, Lisp, and others.

[2022-07-18 18:45] dmuelle commented on #5645
Hi @KyleAure - these updates are now ready for review on our draft site:

https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html#PostgreSQL

If any further changes are needed, just let me know. Otherwise, you can sign off by adding the `technical reviewed` label to this issue and the changes wil publish with the next release. Thanks!

[2022-07-18 18:47] dmuelle commented on #5641
Hi @clarkek123 - this update is now available for review on our draft site:

https://draft-openlibertyio.mybluemix.net/docs/latest/security-vulnerabilities.html

If any further changes are needed, just let me know. Otherwise, you can sign off by adding the `technical reviewed` label to this issue and the changes will publish with the 22.0.0.8 release. Thanks!

[2022-07-18 18:49] dmuelle commented on #5644
Hi @KyleAure - these updates are now ready for review on our draft site:

https://draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html#PostgreSQL

If any further changes are needed, just let me know. Otherwise, you can sign off by adding the technical reviewed label to this issue and the changes wil publish with the next release. Thanks!

[2022-07-18 19:04] dmuelle commented on #5637
Hi @ellen-lau - these updates are now ready for review on our draft site:

https://draft-openlibertyio.mybluemix.net/docs/latest/access-logging.html#_time_based_http_access_log_rollover

On this page, we provide two examples at the end of the section

What is the functional difference between these two configurations? Is `httpAcccessLogging` a global setting and `httpEndpoint>accessLogging` applie

[2022-07-18 19:07] dmuelle commented on #5637
Disregard that last question- i think the doc makes it evident that the default start time is applied if you specify an interval without a start time.

[2022-07-18 19:27] KyleAure commented on #5644
Received a 404 from the domain https://draft-openlibertyio.mybluemix.net.  I'll check back later today to see if the site is back up.

[2022-07-18 20:36] dmuelle commented on #5644
sorry about that- should be back now but you can also try

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/jdbc-tracing.html#PostgreSQL

[2022-07-18 20:52] clarkek123 commented on #5641
Hi @dmuelle That latest change looks good. I am actually going to need to make an update to a previously published CVE because IBM XForce has modified the scoring. It is for the one before this new one -- CVE-2022-22475. The score on it is changing from 5 to 7.1. Would you like me to open a new PVR for that update, or is is something you can incorporate into this PR?

[2022-07-19 14:32] dmuelle commented on #5641
Here is the updated draft with the new score: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/security-vulnerabilities.html

[2022-07-19 14:34] clarkek123 commented on #5641
Looks good. I added the "technical reviewed" label.

[2022-07-19 16:28] kinueng opened #5657 "Remove 20.0.0.7 documentation and update doc publication instructions"
Remove the 20.0.0.7 documentation from openliberty.io (i.e. remove from antora playbook) and keep the 20.0.0.7 documentation on GitHub.

Update the documentation instructions to remove documentation for Open Liberty releases that are over 2 years old. This can be done in the instructions for release new versions https://github.com/OpenLiberty/docs-playbook#publishing-the-docs-and-preparing-for-the

[2022-07-20 12:54] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

Corrections were made as per your suggestions in the chat discussion yesterday.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-07-20 12:59] ramkumar-k-9286 commented on #5439
Comments in Was-Liberty Chat group:
--

**Fred Rowe**
Topic is still relevant for a containerized env.

Comments:
1. The following example shows the configuration when the `stockDisplay.war` and `stockData.jar` files from the previous example are stand-alone applications, instead of modules for the `stockPrices.ear` application.
 The examples location names don't seem quite right.

2. "Specifying

[2022-07-20 13:12] dmuelle commented on #5441
I still think this could be more clear- it might help is the examples were reversed in order, so we show how to declare the property in a separate file first, and then show how to include that file from the server.xml

[2022-07-20 13:15] dmuelle commented on #5644
changes are on vNext and will publish with the 22.0.0.8 release. Closing this issue. Thanks!

[2022-07-20 13:15] #5644 closed, assigned to dmuelle

[2022-07-20 13:16] dmuelle commented on #5641
changes are on vNext and will publish with the 22.0.0.8 release. Closing this issue. Thanks!

[2022-07-20 13:16] #5641 closed, assigned to dmuelle

[2022-07-20 16:07] dmuelle commented on #5657
Hi Kin-  a few questions:
- Do we only need to remove `20.0.0.7` from the list of branches in the [docs-playbook](https://github.com/OpenLiberty/docs-playbook)/antora-playbook.yml file to pull 20.0.0.7 from openliberty.io?
- if this change doesn't go live until the next docs release, we'll probably want to remove 20.0.0.8 as well?

[2022-07-20 16:09] dmuelle commented on #5657
revised my question list after reading your description more closely

[2022-07-20 17:56] kinueng commented on #5657
Hi @dmuelle,

Yes, removing `v20.0.0.7` from the two arrays in [antora-playbook.yml](https://github.com/OpenLiberty/docs-playbook/blob/491e1ec97982b8584642eb2fde9420a52c5600e4/antora-playbook.yml#L6-L9) will cause openliberty.io to ignore the `v20.0.0.7` branches in repo https://github.com/OpenLiberty/docs and https://github.com/OpenLiberty/docs-generated during the build. The playbook tells the b

[2022-07-20 18:22] mbroz2 commented on #5657
regarding draft and staging, I recommend removing them from the draft & staging playbooks, but not touching the branches (aka, the exact same thing as prod).  And again, just make sure it's documented as such.

The reason we don't want to keep building these old branches in draft and staging is because it incurs extra build cost (both time to build, and resulting image size... and then the memory

[2022-07-20 19:07] dmuelle commented on #5657
ok- I created a[ PR to remove 20.0.0.7](https://github.com/OpenLiberty/docs-playbook/pull/207) from the list of branches in production,  but staging and draft define the branches differently:

[code]

is there a way to exclude 20.0.0.7 from the wildcard or do I need to recreate the list of branches in the draft and staging yaml files?

[2022-07-20 19:09] dmuelle commented on #5657
is there a way to exclude 20.0.0.7 from the wildcard or do I need to recreate the list of branches in the draft and staging yaml files?

[2022-07-20 19:37] mbroz2 commented on #5657
you can negate with `!` as documented on Antora: https://docs.antora.org/antora/latest/playbook/content-branches/#branches-key

[2022-07-21 09:40] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

Corrections were made - examples have been reversed in order.
1. How to declare the property in a separate file.
2. How to include that file from the server.xml.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-07-21 09:44] ramkumar-k-9286 commented on #5439
Comments in Was-Docs Chat group:
--
**Brent Daniel**
Hi, it mostly looks OK to me.. I'm not sure what this is trying to say:
`Specifying a child element as an attribute affects cases.`

[2022-07-21 12:36] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Incorporated comments.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/application-bindings.html

Regards,
Ramkumar

[2022-07-21 13:23] kinueng commented on #5657
The Antora build did not like how the `!` is used in the `draft` branch playbook. **EDIT: I suspect the fix is to wrap the `!` in single quotes**
[code]

[2022-07-21 13:27] kinueng commented on #5657
`staging` test fix https://github.com/OpenLiberty/docs-playbook/commit/940e9be58013317274d8acce5d95ee202d7c75f0
`draft` test fix https://github.com/OpenLiberty/docs-playbook/commit/0634657e30811c2455a8c9d35f54604b8bcddd93

[2022-07-21 14:29] dmuelle commented on #5657
sorry- missed that in the antora doc, thanks for fixing

[2022-07-21 14:44] dmuelle commented on #5439
LGTM except for a few minor edits- run acrolinx and fix any issues. Also

The following example demonstrates binding configurations in the server.xml file for resource reference for a managed bean inside an EJB application.
--->
The following example demonstrates binding configurations in the server.xml file for **a** resource reference for a managed bean inside an EJB application.

I think you sh

[2022-07-21 14:48] dmuelle commented on #5441
looks good except

We just told them before the previous example that you can set the prop in a separate file so this seems redundant.
This introduction statement needs to be revised so that it flows from the previous example. It should make clear that this server.xml configuration is to include the property file from the previous example in the server configuration.

[2022-07-21 19:21] ellen-lau commented on #5637
Hi @dmuelle,

The updates on the draft pages look good.

Regarding your question:

What is the functional difference between these two configurations? Is httpAccessLogging a global setting and httpEndpoint>accessLogging applies only to the specified endpoint?

Yes, that's correct:

`httpAccessLogging` is access logging config with an id, which is shareable across HttpEndpoints.
[code]

`accessLogg