[2021-01-21 11:07] Azquelt commented on #3445
There's no code example to for the endpoint. The point of the mpOpenApi feature is to create an OpenAPI document which is served from an endpoint. We just need to document where that endpoint is.

We also provide a UI for browsing the OpenAPI document on a different endpoint and we need to document that too.

[2021-01-21 11:11] Azquelt commented on #3445
There's a much larger piece of work to document fully how to use the mpOpenApi feature in #340, but I'm not sure when that will be ready.

However, the information about what endpoints the feature provides is basic and minimal and should be added sooner.

[2021-01-21 12:18] #3327 closed, assigned to Rwalls1

[2021-01-21 13:55] dmuelle commented on #3445
Ok thanks- we are targeting the info in #340 to publish in 21.0.0.2, so it should be able to publish in the same release that documents these endpoints.

In general, the non-autogenerated content on the feature pages consists of examples. Since there are no relevant code/configuration examples for this feature, would it be helpful to provide example endpoint URLs  or annotations (however the endpo

[2021-01-21 14:00] dmuelle commented on #340
@Azquelt can you recommend an SME who would be familiar enough with the feature to review this content and #3445 to ensure it's current/consistent with the 2.0 changes? We are targeting this doc to publish with the rest of the MP 4.0 content in 21.0.0.2

[2021-01-21 14:23] pnicolucci commented on #727
@Charlotte-Holt  sorry for the delay. The link doesn't look to be valid any longer can you post a new one and I'll review ASAP?

[2021-01-21 15:09] #3364 closed, assigned to Rwalls1

[2021-01-21 15:35] Azquelt opened #3508 "Document mpOpenAPI limitations"
mpOpenApi currently has some limitations which users might not be expecting.

When generating the OpenAPI document, only one web module of one application is considered.

[In the knowledge center][kc-limitation] we have this text:

Some additional text is probably needed here:

These limitations are currently true for mpOpenApi-1.0, 1.1 and 2.0, though we have an issue open to review it in 2.0 Ope

[2021-01-21 15:41] dmuelle commented on #3508
see also #3445

[2021-01-21 17:17] Charlotte-Holt commented on #2408
@ManasiGandhi Looks like you addressed most of Laura's feedback. Here's a bit more:

- [ ] Could we maybe add a sentence to the intro that talks about why someone would want to do this?
- [ ] I wouldn't use gerunds in the subheadings, maybe just "Generate"?
- [ ] Looks like a typo with the backticks in "generate the`./target/liberty/wlp/bin/tools` directory"
- [ ] that contains ws-schemagen.jar fi

[2021-01-21 19:30] pnicolucci commented on #727
Changes look good!

[2021-01-21 19:39] Rwalls1 commented on #1558
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/validating-server-connections.html

[2021-01-21 21:58] teddyjtorres opened #3511 "mpJwt-1.2 documentation updates"
Summary: Enhancement needed for 2 KC articles described in A and B below and port these two articles to openliberty.io for Epic https://github.com/OpenLiberty/open-liberty/issues/11022

A. We need documentation updates in the KC article, https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_json.html and port these over to openliberty.io

[2021-01-22 01:03] Rwalls1 commented on #776
@Charlotte-Holt Thanks, I've addressed your feedback

[2021-01-22 02:09] chirp1 commented on #954
Hi Charlotte,
Nice job on reworking the 1,2,3 circles. Just a few minor tweaks:

- [x] You have two words in a row that are the same. See if you can find the words and remove the extra word.
- [x] Change "disabled, so a mechanism" to " disabled so that a mechanism".
- [x] For my "For "...LTPA, see Authentication. " comment that I made previously, check whether the link in your topic is correct and

[2021-01-22 16:21] Rwalls1 commented on #1289
## Peer review

@ManasiGandhi The example looks good, I just have a couple comments:
- In the example, I think the indentation still needs to be fixed as Allan and Laura requested.
- While I think you’ve done a good job of highlighting an example of the minimum configuration to persist session data and explaining the basic components, I think the example still needs a bit more framing to fully cap

[2021-01-22 16:26] Charlotte-Holt commented on #3511
This work is related to #3439

[2021-01-22 16:27] Charlotte-Holt commented on #3439
This work will be covered in #3511

[2021-01-22 16:27] #3439 closed, assigned to nobody

[2021-01-22 16:27] Charlotte-Holt commented on #3511
Comment from @lauracowen about work for MP JWT: Investigate what's needed beyond the info in https://www.openliberty.io/docs/latest/single-sign-on.html#_json_web_token_jwt and https://www.openliberty.io/guides/microprofile-jwt.html for the majority of users to use it. We also have javadoc and gendoc for MP JWT, so don't duplicate that.

[2021-01-25 13:44] chirp1 commented on #3445
Epic for the issue: https://github.com/OpenLiberty/open-liberty/issues/11020

[2021-01-25 13:44] chirp1 commented on #340
Epic for the issue: https://github.com/OpenLiberty/open-liberty/issues/11020

[2021-01-25 14:30] chirp1 commented on #3511
For the KC topics mentioned that need updating, in each of these topics, at least add links to the new/updated OL topics that will have the info from these KC topics.

[2021-01-25 18:55] Rwalls1 commented on #3326
New SME contact: Nathan Mittlestat

[2021-01-25 18:55] Rwalls1 commented on #3325
New SME contact: Nathan Mittlestat

[2021-01-25 19:41] Rwalls1 commented on #1558
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/validating-server-connections.html

[2021-01-25 19:43] Rwalls1 commented on #2417
New link: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/bells-1.0.html

[2021-01-25 20:15] hlhoots opened #3521 "Add 'expandLocation' property for autoExpanded Apps"
Hi.  I am adding a new expandLocation property in https://github.com/OpenLiberty/open-liberty/issues/15132.  Opening this issue to have that new property added to this link for open liberty:  https://openliberty.io/docs/21.0.0.1/reference/config/applicationManager.html

Name: expandLocation
Type: String
Default: ${server.config.dir}/apps/expanded/
Description: The expandLocation attribute enables

[2021-01-25 20:33] Charlotte-Holt commented on #954
@chirp1 I made all your requested updates: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/spnego-1.0.html. Thanks!

[2021-01-26 00:59] chirp1 commented on #3443
Epic for this issue: https://github.com/OpenLiberty/open-liberty/issues/11016

[2021-01-26 04:41] chirp1 commented on #801
@dmuelle Hi David, I removed the 21.0.0.2 pipeline as the Epic for this issue is going into the 21.0.0.3 beta, and then possibly into 21.0.0.4.

[2021-01-26 13:48] Rwalls1 commented on #3501
@andymc12 Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/rest-clients.html

[2021-01-26 13:51] dmuelle commented on #3339
Changes for new MP context prop version coming with 21.0.0.4, opportunity to target doc for that release

[2021-01-26 14:02] Azquelt commented on #3445
While it would be good to have a full example and demonstration of how to use the mpOpenAPI feature (as I think will be covered by #340), I raised this issue to just add the basic information of where the endpoint is. This is crucial, basic reference information, which I could currently only find documented in the middle of the guide.

I would suggest adding something like this:

If you don't thin

[2021-01-26 14:18] chirp1 commented on #340
Artur Dzmitryieu was Manasi's original SME for this issue.

[2021-01-26 15:26] andymc12 commented on #3501
In 2.0, methods with return types of `CompletionStage` are still asynchronous - the main difference is that in 2.0, `Publisher` is also asynchronous.  So maybe we could re-phrase it something like:

[2021-01-26 15:33] ManasiGandhi commented on #727
@Charlotte-Holt #peerreview. The doc looks good and you have addressed the points very well. Just a few edit suggestions:

- [x] Your example descriptions do a good job of elaborating on the comments in the code. Could you remove the comments inside the code blocks?

 **Short Description**

- [x] Edit suggestion: "With asynchronous read and asynchronous write, inbound data can be processed more qu

[2021-01-26 16:55] msmiths commented on #3445
The existing documentation does include the `/openapi` endpoint... but it is hidden away on this page:

https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_mpopenapi.html

See **Step 6** in the **Procedure** section.

[2021-01-26 17:28] ManasiGandhi commented on #340
Updated link https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/documentation-openapi.html

[2021-01-26 18:06] Rwalls1 commented on #3501
@andymc12 Thanks, please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/rest-clients.html

[2021-01-26 18:32] andymc12 commented on #3501
HI @Rwalls1 - the latest changes look good to me!  Thanks!

[2021-01-26 21:25] dmuelle commented on #3414
Waiting on the updated gendoc to make these edits

[2021-01-27 11:19] msmiths commented on #340
Some comments:

**API documentation with OpenAPI Section**

1. Third paragraph... the line `Alternately, in the design-first approach...` should probably read `Alternatively, in the design-first approach...`
2. As a general comment, this section implies that the code first and design first approaches are mutually exclusive. In fact, it is possible to use a combination of the two by including an `o

[2021-01-27 13:50] chirp1 commented on #954
@Charlotte-Holt The updates look good! Moving to Ready to Publish.

[2021-01-27 14:38] Rwalls1 commented on #2844
## Content review

### Intro
-I think you still need to address Laura’s comment regarding further explanation for using the sessionCache feature when HTTPSessions is already in use. I agree that clarifying why would someone would use the sessionCache feature in this scenario would be helpful.
-Laura also mentions adding the diagram from the blog. I agree that the diagram would be helpful, particul

[2021-01-27 14:58] dmuelle commented on #3521
Hi @hlhoots - since the page you reference here is part of the autogen doc, it will be generated from the metatype files rather than added by ID. I think this issue belongs on the main Open Liberty backlog- https://github.com/OpenLiberty/open-liberty/issues , though I'm not sure of the exact procedure to get the info into the proper files (if it's not there already as part of the code design). If

[2021-01-27 15:30] Charlotte-Holt commented on #727
@ManasiGandhi Thanks for the review! I addressed all your feedback except

I think that because it's implied that `IllegalStateException` is an exception, it's okay in this instance. "`IllegalStateException` exception" seems very clunky.

Update to latest draft: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/async-io.html

[2021-01-27 16:34] Charlotte-Holt commented on #954
Merged to `vNext` in #3530

[2021-01-27 16:34] #954 closed

[2021-01-27 18:02] dmuelle commented on #3292
Hi @pgunapal - I've updated this doc per your instructions. You can review the draft here:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/health-check-microservices.html

- [x] Add a note/clarification for all references of @Health that if the user is using mpHealth-3.0 or later, the @Health annotation is no longer available,
- [x] The following line should be replaced in the @Liveness a

[2021-01-27 22:18] chirp1 commented on #1479
Hi Charlotte, the article is full of useful info for customers! As I mentioned in the slack with you and David, let's make some changes to the structure and then use what we come up with in the guidance for task topics.

- [x] Start by making the headers steps and the steps sub-steps. When you turn the headers into steps, replace the gerunds with the command form of the verbs.
- [x] Remove "by doi

[2021-01-28 14:46] dmuelle commented on #3440
@Azquelt - I'm working on getting this page to draft now. In the introduction, can we add a general statement about the change from `MP Fault Tolerance-2.1 name--> MP Fault Tolerance-2.1 Prometheus Name(s)`? What has fundamentally changed w/ this release that the metric names are now specific to Prometheus, and that in some cases a single metric is replaced by multiple Prometheus names?

[2021-01-28 17:56] dmuelle commented on #1558
@Rwalls1 - changes look good. One minor thing-  in the Before you begin section:

the application security feature-->the Application Security feature

[2021-01-28 21:53] dmuelle opened #3538 "Update Maven version in JDBC doc"
per @srl295 in #3493 :

update for 3.3 final plugin.

<filter> seems to be no longer recognized

refs:

OpenLiberty/blogs#857 (comment)
OpenLiberty/ci.maven#705 (comment)

[2021-01-28 21:55] srl295 commented on #3538
^ fixed

[2021-01-28 21:56] pgunapal commented on #3292
@dmuelle The draft looks good, a few clarification:
- Correct, the empty response means the JSON checks payload response that gets returned when the `/health/ready` endpoint is hit, it will be empty, with an overall status of DOWN, until all the deployed applications are started. The following would be shown:
`{
  "status": "DOWN",
  "checks": []
}`
- I think its best to remove the "that do not ha

[2021-01-29 14:44] ManasiGandhi commented on #955
Current draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/samlWeb-2.0.html

[2021-01-29 17:03] Charlotte-Holt commented on #1479
@chirp1 Thanks for your feedback. I updated the draft: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/configuring-spnego-authentication.html.

[2021-01-29 17:37] Rwalls1 commented on #3445
These updates will be completed with issue [#340](https://github.com/OpenLiberty/docs/issues/340).

[2021-01-29 17:38] #3445 closed, assigned to Rwalls1

[2021-01-29 17:45] ManasiGandhi commented on #2408
@Charlotte-Holt Thanks for your review. I worked on your suggestions.

- [x]  Could we maybe add a sentence to the intro that talks about why someone would want to do this?

- [x] I wouldn't use gerunds in the subheadings, maybe just "Generate"?

- [x] Looks like a typo with the backticks in "generate the./target/liberty/wlp/bin/tools directory"

- [x] that contains ws-schemagen.jar file. --> that

[2021-01-29 18:44] ManasiGandhi commented on #3508
This has been tracked with the issue #340

[2021-01-29 18:44] #3508 closed, assigned to ManasiGandhi

[2021-02-01 14:00] dmuelle commented on #3538
change delivered to `vNext`, will publish with 21.0.0.2 docs release

[2021-02-01 14:00] #3538 closed, assigned to dmuelle

[2021-02-01 14:57] dmuelle commented on #3292
Thanks for clarifying @pgunapal - I've updated the draft per your comment

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/health-check-microservices.html

Can you review the updated draft and let me know if any further changes are needed? If the doc looks good, you can add the `technical reviewed` label to this issue to sign off. Thanks!

[2021-02-01 16:01] dmuelle opened #3548 "Update feature links in published doc to use macros"
links to features that do not need to point to one specific version of a feature should use the following format:

`feature:${code-name-of-feature-w/out-version#}[display=${text name of feature}]`

so for example, MicroProfile Health is:
`feature:mpHealth[display=MicroProfile Health]`

This link will always default to the "latest" version of the feature, and will automatically update with each rel

[2021-02-01 16:55] pgunapal commented on #3292
@dmuelle Looks good! Just a minor change, in the line `In MicroProfile Health versions 2.0 and later, the overall default readiness status is DOWN, with an empty response, until all the deployed applications in Open Liberty are started.`, the DOWN word should be highlighted as `DOWN`.

[2021-02-01 18:53] dmuelle commented on #3292
Thanks for the catch @pgunapal - I made that edit: https://draft-openlibertyio.mybluemix.net/docs/latest/health-check-microservices.html

[2021-02-01 18:55] pgunapal commented on #3292
@dmuelle  Awesome! I added the `technical reviewed` label.

[2021-02-02 17:05] dmuelle commented on #3548
There is a bug with the macro links that is being addressed [in this issue]( https://github.com/OpenLiberty/openliberty.io/issues/2029) on the website backlog. This issue is blocked until that bug is resolved.

[2021-02-03 16:28] njr-11 opened #3562 "MicroProfile Context Propagation 1.2 documentation"
The existing MicroProfile Context Propagation documentation on openliberty.io doesn't require any updates for v1.2
https://openliberty.io/docs/20.0.0.12/microprofile-context-propagation.html

The following issues are opened for beta and GA blog posts announcing it:

Beta blog:
https://github.com/openliberty/open-liberty/issues/15617

GA blog:
https://github.com/openliberty/open-liberty/issues/1520

[2021-02-03 17:20] Rwalls1 commented on #2843
Draft from @nmittles:

### Title: Infinispan Support for Distributed In-memory HttpSession Caching
Summary: A key component of production-grade web applications is failover of non-persistent user session data (e.g. a shopping cart). In Open Liberty, the `sessionCache-1.0` feature enables this failover aspect of high availability. The `sessionCache-1-0` feature uses a JCache provider internally to

[2021-02-03 18:39] chirp1 commented on #3562
@njr-11 As we discussed on slack, my misunderstanding- ID has no requirements to write doc for this issue. Closing.
The epic is https://github.com/OpenLiberty/open-liberty/issues/8750 I approved the epic.

[2021-02-03 18:39] #3562 closed, assigned to nobody

[2021-02-03 21:15] dmuelle commented on #3548
Steven fixed the bug on draft but waiting on the fix to go to staging

[2021-02-04 14:43] Charlotte-Holt commented on #2408
@ManasiGandhi Thanks! Content review approved. I'd note that I think you need to remove the backticks from around the commands, but you can include that update after someone completes a peer review.

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/xsd-schema.html

[2021-02-04 14:50] Charlotte-Holt commented on #3501
@Rwalls1 This update looks good to me from a content perspective. Thanks! You can send this off to peer review.

[2021-02-04 15:15] andymc12 commented on #3501
@Charlotte-Holt @Rwalls1 - just FYI, the MP 4.0 project (which includes `mpRestClient-2.0`) has slipped to 21.0.0.3 (possibly later). The docs look good, but will need to wait until at least the next release before it should go on the public website.  Thanks again for all the work on this!

[2021-02-04 15:29] kristip17 opened #3571 "KRB5: Doc for new Liberty feature -- Kerberos for Ldap"
This is for feature https://github.com/OpenLiberty/open-liberty/issues/12794

General info will be very similar to our updates to the pages from the tWAS docs here: https://github.ibm.com/websphere/twas-docs/issues/3828

## Page Update, LDAP User Registry 3.0
Updates to https://openliberty.io/docs/21.0.0.1/reference/feature/ldapRegistry-3.0.html

## Item 1:
Update `The bind distinguished name and

[2021-02-04 17:06] dmuelle commented on #187
https://openliberty.io/blog/2018/11/23/distributed-tracing-microservices.html#jdbc

https://www.digitalocean.com/community/tutorials/understanding-database-sharding

[2021-02-04 17:10] dmuelle commented on #3351
https://www.oracle.com/database/real-application-clusters/

[2021-02-04 17:55] dmuelle commented on #3335
The JPA info for 2.1 and later is documented by eclipse: https://wiki.eclipse.org/EclipseLink/Examples/JPA/Logging

Could add a statement to the JPA doc to see the eclipselink doc

also, possibly doc adaptations for 2.0->2.1 via eclipse properties in persistence.xml

[2021-02-04 17:59] dmuelle commented on #3443
Investigate providing a reference doc of MP Config properties that we can point to from relevant topics elsewhere in the doc

[2021-02-04 19:17] dmuelle commented on #3571
Hi @kristip17 - is this update targeted for a particular Open Liberty release?

[2021-02-04 19:57] kristip17 commented on #3571
@dmuelle -- Our goal is a beta for 21003 and GA 21004.

Is there a good way to mark this as "not ready for review" yet? I wanted to start working on it in bits instead of jamming it at the end.

[2021-02-04 20:48] dmuelle commented on #727
## Peer Review
Nice work on a complex topic @Charlotte-Holt - a few suggestions

### Short desc
The second sentence reads  a bit awkwardly : "you can benefit your server.." maybe...

By following the requirements for implementing asynchronous read and asynchronous write, you can benefit your Open Liberty server, particularly if large amounts of post data or response data must be processed.
-->
Asy

[2021-02-04 21:10] dmuelle commented on #3501
## Peer review

Hi @Rwalls1 - I just see a few minor things with this topic- not necessarily specific to your updates but would be good to fix with we're working on it. Mostly problems from my original draft :(

### MicroProfile Rest client

The template interface you build maps to the remote service that you want to call.
--->
The template interface that you build maps to the remote service that

[2021-02-04 21:12] dmuelle commented on #3571
@kristip17 - no problem! We'll leave it in the "unprioritized" column until it's ready. You can just comment here to let me know when it's ready to be worked on.

[2021-02-05 15:12] dmuelle commented on #3511
notes from @lauracowen in the [KC spreadsheet](https://ibm.box.com/s/kd2dgqzn58rzgwwts4wk2a2k7k20vhsu) for the [Configuring the MicroProfile JSON Web Token](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_json.html) topic :

"This is far too complicated a topic! The basic required steps are covered by the MP JWT guide (and the guide

[2021-02-05 15:58] Charlotte-Holt commented on #3318
Try to incorporate the necessary info from this Liberty KC doc bug: https://github.ibm.com/websphere/liberty-docs/issues/911

[2021-02-08 14:55] Charlotte-Holt commented on #2831
I addressed your feedback, @ManasiGandhi. Thanks! https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/javaMail-1.6.html

[2021-02-08 14:56] Charlotte-Holt commented on #1567
@ManasiGandhi I addressed your feedback. Thanks! https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/cloudant-1.0.html

[2021-02-08 15:55] anneqm commented on #3416
@Charlotte-Holt thank you!   Can you share what the preprod and final link will be for this?  what's the date this will be published?  We want to reference it from our new "Considerations for FIPS compliance testing" page in CP4Apps.

[2021-02-08 16:16] ManasiGandhi commented on #340
@msmiths Hi Martin. I worked on your review comments and suggestions for MP OpenAPI. Here's the link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/documentation-openapi.html.

**API documentation with OpenAPI Section**

- [x] Third paragraph... the line Alternately, in the design-first approach... should probably read Alternatively, in the design-first approach...

-

[2021-02-08 16:27] ManasiGandhi commented on #1289
@Rwalls1 I worked on your peer review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/sessionDatabase-1.0.html.

- [x] In the example, I think the indentation still needs to be fixed as Allan and Laura requested.
While I think you’ve done a good job of highlighting an example of the minimum configuration to persist session data and explaining the basic components, I think

[2021-02-08 20:36] Charlotte-Holt commented on #3292
@dmuelle - I reviewed this from a content perspective, and I think these changes for MP Health 3.0 all look good. I read back through the entire topic, and I thought it flowed pretty nicely. Adding the content reviewed label.

[2021-02-08 21:16] Charlotte-Holt opened #3578 "auditUtility command"
From https://github.com/OpenLiberty/docs/issues/3314, we need to document the `auditUtility` commands. See https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_audit.html and  https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_command_auditutil.html in the KC for more info. This doc should follow the same format as t

[2021-02-09 15:21] Charlotte-Holt commented on #3416
@anneqm It's ready for review on the draft site now! You can review it at https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/running-ol-fips-cluster.html. We're targeting this to publish in the 21.0.0.2 release on 2/19.

@acdemyers This is ready for your review. Please let me know if you have any questions.

[2021-02-09 15:24] Charlotte-Holt commented on #3318
After this topic is complete, the "Configure applications to run on a virtual host" link in Network Hardening under Security Hardening topic (https://openliberty.io/docs/20.0.0.12/security-hardening.html) needs to link to this topic.

[2021-02-09 15:25] Charlotte-Holt commented on #3318
In the virtual hosts topic, cover comment from https://github.com/openliberty/docs/issues/3417 "Configure applications to run on a virtual host" is not sufficient for a hardened configuration - the requirement is that there should not be a hostAlias that matches to * in a hardened configuration."

[2021-02-09 15:25] Charlotte-Holt commented on #3417
I moved this information to https://github.com/OpenLiberty/docs/issues/3318, which is the high priority item for a new topic on virtual hosts. Closing this issue.

[2021-02-09 16:21] acdemyers commented on #3416
I've looked a the document.  How to setup the JDK to use FIPs looks good to me.   I'm not familiar with the docker and oc command so please have some one more familiar with docker and oc to ensure the commands are correct.

[2021-02-09 17:52] Rwalls1 commented on #2408
# Peer review

## Intro/general comments
- [ ] I think you should change “validate your application `server.xml` file” to “validate the `server.xml` file of your application” to make the relationship between the application and the server.xml file clearer.
- [ ] I think you should avoid the use of commands such as “Generate the XML schema” because this syntax indicates that there is a task to comp

[2021-02-10 00:22] dmuelle opened #3581 "add serverSchemaGen command"
Per #3314
Add the info that is currently provided only in the Liberty KC https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/rwlp_schema_gen.html

Follow format of the other commands in OL doc

There is an issue open against the runtime to add missing help for this command: https://github.com/OpenLiberty/open-liberty/issues/15140

[2021-02-10 00:27] ManasiGandhi commented on #3443
@Joseph-Cass Per our discussion, I worked on some updates. Here is a link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/external-configuration.html topic.

**80% use cases**

The External configuration of microservices should be updated to cover:

- [x] Why externalising config is important

        as is on current page

- [x] How to enable the feature

        just add it

[2021-02-10 09:48] msmiths commented on #340
Just a couple of comments this time:

**The code-first approach**

1. The second paragraph states that the `@APIResponses`, `@Operation`, and `@Parameter` annotations have been added to two JAX-RS methods, `getPropertiesForHost()` and `listContents()`. However, the code sample only includes a single method called `purchaseCar()`.
2. The previous version of the document included the OpenAPI YAML th

[2021-02-10 14:14] Azquelt commented on #3443
@ManasiGandhi Where are the changes that you've made? I can see a few changes under #3579 and #3576, but I assume that's not them since they don't look like the headings or examples you've listed in your comment.

[2021-02-10 14:38] ManasiGandhi commented on #3443
@Azquelt I updated my comment and am working on the updates. Working on adding the examples.

[2021-02-10 19:48] Charlotte-Holt opened #3586 "Consider new topic for loose applications"
From https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_loose_applications.html in the KC.

Notes from Alasdair in the spreadsheet: Keep this topic. Useful if a third party wants to integrate. However, where do we want this to go? Doesn't necessarily need to go on the website. On the wiki potentially? Consider options.

[2021-02-11 15:08] Rwalls1 commented on #3501
@dmuelle Thanks, I've addressed your feedback.

[2021-02-11 15:28] Charlotte-Holt commented on #3586
Incorporate info from https://github.ibm.com/websphere/liberty-docs/issues/2209, too.

[2021-02-11 15:44] Charlotte-Holt commented on #3329
Based on information in the epic, the programmatic helps should be sufficient for these commands. Closing.

[2021-02-11 15:44] #3329 closed, assigned to nobody

[2021-02-11 15:46] Charlotte-Holt commented on #371
JPA examples are being tracked in #3335

[2021-02-11 15:46] #371 closed

[2021-02-11 17:13] Rwalls1 commented on #3511
notes from @lauracowen in the [KC spreadsheet](https://ibm.box.com/s/kd2dgqzn58rzgwwts4wk2a2k7k20vhsu) for the [Building JSON Web Tokens in Liberty](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_build_jwt.html) topic:

"Is this not the same as the "obtaining JWTs" topic? The info in here just explains how to create the JWT that is

[2021-02-11 17:14] ManasiGandhi commented on #340
@msmiths Here is a link to the draft with the updates https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/documentation-openapi.html

- [x] The second paragraph states that the @APIResponses, @Operation, and @Parameter annotations have been added to two JAX-RS methods, getPropertiesForHost() and listContents(). However, the code sample only includes a single method called purchaseCar().
- [x]

[2021-02-11 18:14] ManasiGandhi commented on #3443
@Joseph-Cass I made the updates and added links to the examples from the spec and documented one example, which is not documented in the spec. Here is a link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/external-configuration.html

- [x] ` Inject an individual property into a class`- I added a link to a section of the spec which includes the examples
![image](https://user-i

[2021-02-11 19:45] mtamboli commented on #3416
@Charlotte-Holt - Couple of minor updates:

1. Do we want to add link to setting [OCP cluster in FIPS mode](https://docs.openshift.com/container-platform/4.6/installing/installing-fips.html)
https://www.openshift.com/blog/transferring-files-in-and-out-of-containers-in-openshift-part-1-manually-copying-files

2. Step 5) $ oc rsync :/opt/ibm/java/jre/lib/security/java.security .
It should be $ oc rs

[2021-02-11 19:50] ManasiGandhi commented on #3443
@Joseph-Cass Also, for the new page for 'Breaking changes', should it be formatted similar to this topic https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/fault-tolerance-1-dif.html?

[2021-02-11 21:10] Rwalls1 commented on #3511
Based on Laura's suggestions and further content review, most of the relevant content in the "Building JSON Web Tokens" KC topic is already covered by the [JSON Web Token config examples](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/jwt-1.0.html), any further related updates would be added there.

[2021-02-11 22:58] dmuelle commented on #3548
changes went to vNext with #3599

[2021-02-11 22:58] #3548 closed, assigned to dmuelle

[2021-02-12 00:32] anneqm commented on #3416
@Charlotte-Holt What will be the final URL?  We'll add a link to this new page from our KC.  Thank you!

[2021-02-12 03:01] chirp1 commented on #2831
@Charlotte-Holt
A particularly nice and detailed write-up for the example! A couple of comments:
- Would you open a doc bug against development for the opening paragraph for the feature? It just repeats the title. The first paragraph of "About this task" seems to have info appropriate for the opening paragraph: https://www-03preprod.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.

[2021-02-12 05:33] jantley-ibm commented on #3416
@anneqm the final URL will be https://openliberty.io/docs/latest/running-ol-fips-cluster.html

[2021-02-12 08:41] Joseph-Cass commented on #3443
Thanks for the update @ManasiGandhi :)

Yes, I think the breaking changes page should be similar in style to the Fault Tolerance one.

I few bits of feedback for the current draft:

- I think we should include at least one example of what a ConfigSource looks like. I know the link to the guide covers it well, but I can't imagine many people are going to click on that and scroll through? I also thi

[2021-02-12 09:41] msmiths commented on #340
@ManasiGandhi That looks better. No further comments from me.

[2021-02-12 13:46] Rwalls1 commented on #505
New MP Config properties being added for MP-JWT-1.2, also mentioned in issue #3511:

[2021-02-12 15:20] dmuelle opened #3600 "Edit image in REST clients"
make image text anonymous in https://www.openliberty.io/docs/latest/rest-clients.html

[2021-02-12 15:52] #334 closed

[2021-02-12 16:23] Rwalls1 commented on #3511
Content from the "Building JSON Web Tokens" KC topic is also related to issue #636, the config example is derived from the closely related [Obtaining JSON Web Tokens In Liberty](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_obtain_jwt.html) topic that Laura also mentions in her spreadsheet.

[2021-02-12 17:05] dmuelle commented on #3501
Hi Richard- a few more minor edits:

- [x] to avoid merge conflicts in your branch, change `image::REST_example_2.png[REST client example, 1075, 381]` to `image::REST_example_3.png[REST client example, 1075, 381]` (only the number in the filename changes)
- [x] change: `This template saves you the time and trouble of having to write the boilerplate code, such as setting up a client class, connecti

[2021-02-12 19:11] dmuelle commented on #3600
new image is on vNext and will publish with 21.0.0.2

[2021-02-12 19:11] #3600 closed, assigned to dmuelle

[2021-02-12 21:33] dmuelle opened #3606 "Make config example headings consistent"
Check config examples on feature pages to ensure that headings are consistent:

- Use short declarative phrases that focus on the use goal. Avoid gerunds or awkward noun phrases not gerunds.
- Make headings on the same page parallel.
- update wiki] guidance

[2021-02-15 14:04] ManasiGandhi commented on #3443
@Joseph-Cass Made some changes per your review.

- [x] `I think we should include at least one example of what a ConfigSource looks like. I know the link to the guide covers it well, but I can't imagine many people are going to click on that and scroll through? I also think an example would assist any examples later in the Doc.`- links included

- [x] `configsource and ConfigSource are used interc

[2021-02-15 14:14] Charlotte-Holt commented on #3416
@mtamboli I addressed your feedback. Could you review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/running-ol-fips-cluster.html again? Thanks!

[2021-02-15 14:24] Azquelt commented on #3443
@Joseph-Cass I'm not sure about this. I don't think that creating a config source falls into the 80% use cases. You could maybe include one sentence to say that you _can_ create your own and link to the spec.

[2021-02-15 14:33] mtamboli commented on #3416
@Charlotte-Holt It looks good to me.

[2021-02-15 14:51] Joseph-Cass commented on #3443
Perhaps I was unclear on this. I meant just an example of what defining a `config property` in a `config source` looks like. i.e.
"Add `port=9080` in `META-INF/microprofile-config.properties`"
or
"Add `<variable name="port" value="9080"/>` in `server.xml`"

Alternatively, we could give examples of this in the [Default config sources](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/external

[2021-02-15 16:53] Charlotte-Holt commented on #3304
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3615.

[2021-02-15 17:46] #3304 closed, assigned to Charlotte-Holt

[2021-02-15 18:52] Charlotte-Holt opened #3617 "Update first paragraph of the JavaMail feature"
For the first paragraph of https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/javaMail-1.6.html.

Suggested update [from the KC](https://www-03preprod.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_javamail.html):

[2021-02-15 19:04] Charlotte-Holt commented on #2831
@chirp1 I addressed all your feedback:

- [x] Would you open a doc bug against development for the opening paragraph for the feature? It just repeats the title. The first paragraph of "About this task" seems to have info appropriate for the opening paragraph: https://www-03preprod.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_javamail.html

[2021-02-15 19:23] ManasiGandhi commented on #3436
Tracking this with #3443

[2021-02-15 19:23] #3436 closed, assigned to ManasiGandhi

[2021-02-15 19:24] ManasiGandhi commented on #3437
Tracking this with #3443

[2021-02-15 19:24] #3437 closed, assigned to ManasiGandhi

[2021-02-15 20:12] Rwalls1 commented on #3511
Based on Laura's suggestions and further content review, the "About this task" section and steps 1 and 2 of the "Configuring the MicroProfile JSON Web Tokens in Liberty topic" are already largely covered in existing documentation such as the [SSO](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/single-sign-on.html) topic, the [MP JWT config examples](https://draft-openlibertyio.mybluemix.n

[2021-02-15 20:38] dmuelle opened #3620 "Autogen doc issues"
Collects issues that require fixes in the metatype or nlsprops files that are not in the docs repo

[2021-02-15 21:07] dmuelle opened #3622 "authFilter element is missing from feature pages"
Since 20.0.0.11, the authFilter element is no longer appearing on the feature configuration pages. The main content pages are autogenerated from the metatype and are not maintained by the docs team. For example, authFilter is not listed under Feature configuration elements for the Social Media Login feature in [21.0.0.1](https://www.openliberty.io/docs/21.0.0.1/reference/feature/socialLogin-1.0.ht

[2021-02-15 21:31] Rwalls1 commented on #3511
# Content strategy assessment for "Configuring the MicroProfile JSON Web Token" topic
## Procedure
- Step 3: Existing MP Config properties along with suggested new properties for MP-JWT 1.2 should be documented in a separate reference page, work will be tracked in issue #505
- Step 4: Content could be added to MP JWT config examples to provide an example of configuring a truststore with MP JWT
- S

[2021-02-15 22:05] dmuelle commented on #2075
## Peer review
I found the reference to OIDC in the second sentence confusing, had to read it a couple times to realize that you configure AD login by using the `oidcLogin` element. I think you could add a sentence to explain. Possibly  something like:

"You can configure an Open Liberty server to use Active Directory as an authentication provider for protected resources. The `oidcLogin` element c

[2021-02-15 22:33] dmuelle commented on #1118
Hi Manasi- I came across this while reviewing [Richard's Active Directory example](https://github.com/OpenLiberty/docs/issues/2075) on the same page. I think it needs a few edits:

- per lauras comment above, remove reference to "The socialLogin-1.0 feature.." as it is inferred. You can start the example by telling the user they can configure OpenShift service accounts as an authentication provide

[2021-02-16 01:27] anneqm commented on #3416
A couple updates after another review with Monica, Michael Cheng, and Jeff Antley this afternoon.

In the "Creating an Open Liberty Docker image that has FIPS enabled" section, we suggest that this be more focused on how to do without dependency on OpenShift.
so, the follow items should be updated:
Step 5. "Run the oc rsync command and the..."  to re-write with alternative to OpenShift, ie using D

[2021-02-16 05:21] chirp1 commented on #1567
Hi Charlotte,
I've been studying the config example, and the blog post and topic mentioned at the top of this issue. Here are my comments:
- For " Applications use the Cloudant client library to use the connector instance.", would "access" work in place of the second "use". It's the "use" that had been "utilize" previously.
- Change the "Viewing and validating Cloudant databases" to the new style

[2021-02-16 14:56] Rwalls1 commented on #1558
New draft suggestion from Fred Rowe:
# Validating Server connections
Using REST endpoints to validate your server connections provides a simple way to test that your application can access databases and other sources of data.

Depending on the features you enable in server configuration, one or more REST endpoints are automatically enabled in your server.  When you enable the Rest Connector (restC

[2021-02-16 14:59] Charlotte-Holt commented on #3232
More detailed update of the description in https://github.com/openliberty/docs/issues/3617. Duplicate issue.

[2021-02-16 14:59] #3232 closed, assigned to nobody

[2021-02-16 15:03] dmuelle commented on #3622
additional info from #2954, closing that issue and consolidating here:

The autogen info for the authFilter element needs more detail. The formatting has an error in the requestHeader description and cookie needs more info in the description. From what's there, it's unlikely that anyone who didn't already know what it was would be able to use it. This is true for several other config elements unde

[2021-02-16 15:04] dmuelle commented on #2954
this work will be tracked in #3622 , closing this issue as a duplicate

[2021-02-16 15:04] #2954 closed, assigned to nobody

[2021-02-16 16:31] Rwalls1 commented on #3511
@teddyjtorres Can you review the [Securing microservices with JSON Web Tokens](https://openliberty.io/guides/microprofile-jwt.html) guide and verify whether any updates need to be made to align with current best practices that may be introduced with mpJWT-1.2 or other feature updates that might change how you should execute the steps in the guide?

[2021-02-16 18:04] Charlotte-Holt commented on #727
@dmuelle I incorporated all your feedback. Thanks! Could you take a looks and add the `peer reviewed` label if this is good to go to editorial review?

[2021-02-16 18:07] Charlotte-Holt commented on #1567
@chirp1 Thanks for the review! I made the following updates:

- [x] For " Applications use the Cloudant client library to use the connector instance.", would "access" work in place of the second "use". It's the "use" that had been "utilize" previously. - **Opened doc bug #3625**
- [x] Change the "Viewing and validating Cloudant databases" to the new style for the configuration example titles. - **

[2021-02-16 18:47] Charlotte-Holt opened #3625 "Update Cloudant description in autogen"
Update

To

[2021-02-16 19:44] anneqm commented on #3416
@Charlotte-Holt

[2021-02-16 19:48] dmuelle commented on #3440
Hi @Azquelt - per our Slack convo, I've added the table changes to the newly titled "Differences in metrics between MicrProfile versions" reference topic. You can review it on our draft site:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/metrics-1-dif.html#fault

Note that the link to mpFaultTolerance-3.0 will not work until we update the gendoc for 21.0.0.3, which won't

[2021-02-16 20:07] anneqm commented on #3416
link to draft blog post: https://draft-openlibertyio.mybluemix.net/blog/2021/02/17/running-ol-fips-cluster.html

[2021-02-16 20:18] NottyCode commented on #3416
This is not a blog post. A blog post is not just a bulleted list. Blog posts tell a story, they have a beginning, middle and end and this is just a middle, and not a very engaging one.

Some feedback on the bullets:

1. Step 3 talks about enabling JSSE trace which I don't think should be here.
2. Step 4 says to verify the java.security file lists the IBMJCEPlus, but we provide the base image and J

[2021-02-16 20:53] #3234 closed, assigned to Charlotte-Holt

[2021-02-16 21:43] Charlotte-Holt commented on #3416
Corresponding Liberty KC issue: https://github.ibm.com/websphere/liberty-docs/issues/2212. We won't be including this topic in the OL docs.

[2021-02-16 21:43] #3416 closed, assigned to Charlotte-Holt

[2021-02-16 21:44] chirp1 commented on #1567
Hi Charlotte,
I think in the last two paragraphs of the example you can make some terms consistent. I see "URL" in the first paragraph and "endpoint" in the second one. How about if you google what a REST endpoint is? I saw a KC topic with some examples.  I believe that the URLs are called endpoint URLs. Some mentions of "endpoint" might be OK in the last two paragraphs while others should likely

[2021-02-16 22:18] chirp1 commented on #2831
HI Charlotte,
One last tweak. For the first sentence in the example configuration, work in send/receive so that send/receive is mentioned not only on the title but in the body of the example- something like "You can call the JavaMail libraries in any application that runs on the server to send and receive emails.".

[2021-02-17 00:52] ManasiGandhi commented on #3443
@Joseph-Cass I made some changes and updates per your review. Also, I have a few questions.

- [x] `Alternatively, we could give examples of this in the Default config sources table. I think this would be very valuable as I myself have looked up the syntax for how to add an config property in a appProperties which is a little fiddly.`- added a column to the table
![image](https://user-images.githu

[2021-02-17 10:26] Azquelt commented on #3440
Is it possible to change the formatting of the `mpFaultTolerance-3.0` name column?

In the original table linked above, they look like this:
[code]

However, in the draft, they look like this:

In the original table, this was accomplished with `cols="l,l,d,l,l,d"` in the table header to indicate that columns 1, 2, 4 and 5 should be treated as literal text so that the linebreaks and spacing are pre

[2021-02-17 12:39] Joseph-Cass commented on #3443
Thank you. The changes look great :)

Yes.

Yes, though we didn't really document it.

I think the additional information provided in [this comment](https://github.com/OpenLiberty/docs/issues/3443#issue-772290031) (such as the examples) would be beneficial to the user. So I think the incompatibility changes should be documented in the topic, also including a link to the spec (as it is in part 2 of

[2021-02-17 13:47] dmuelle commented on #3440
For some reason the original formatting was causing all the cells to be blacked out in my editor preview, so I replaced it to match the other table on this page. But that might just be a quirk in the Atom asciidoc preview that won't show up when I build to draft. I'll give it a shot

[2021-02-17 14:09] Charlotte-Holt commented on #2831
@chirp1 Update made and back with you. Thanks! https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/javaMail-1.6.html

[2021-02-17 14:10] Charlotte-Holt commented on #1567
@chirp1 Update made and back with you. Thanks! https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/cloudant-1.0.html

[2021-02-17 14:43] Joseph-Cass commented on #3443
I've also realised another piece of information which we need to document somewhere.

The [spec for Property Expressions](https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#property-expressions) (new to mpConfig-2.0) states that:
[code]

Our implementation supports a nested depth of 32 which isn't defined anywhere in the spec (since it's implementat

[2021-02-17 15:50] chirp1 commented on #1567
The updates look good!

[2021-02-17 15:54] chirp1 commented on #2831
Updates look good!

[2021-02-17 20:06] Charlotte-Holt commented on #2831
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3642

[2021-02-17 20:06] #2831 closed, assigned to Charlotte-Holt

[2021-02-17 20:07] Charlotte-Holt commented on #1567
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3642

[2021-02-17 20:07] #1567 closed

[2021-02-17 20:33] chirp1 commented on #1573
Hi Charlotte,
Here are my comments:
- The "Password encryption" and "Password encryption with Open Liberty" titles are too similar. Maybe change the section title to something like "Password encryption limitations".
- Spell out AES on the first occurrence.
- Remove extra words. Change "...you need to understand..." to "...Understand...".
- For the "Password encryption with Open Liberty" section, t

[2021-02-17 20:57] dmuelle opened #3643 "gPRC feature has too many config elements in the autogen"
in conversation with @wtlucy , the gRPC feature shows a long list of config elements, even though expected behavior would be only one (gRPC).

https://www.openliberty.io/docs/21.0.0.1/reference/feature/grpc-1.0.html

[2021-02-17 21:56] chirp1 commented on #2008
Hi Charlotte,
Here are my comments:
- We don't use "following" in the opening sentence because what we want to direct users to later in the topic generally won't display in the search results for the topic. Rewrite the opening paragraph to explain what the purpose of the commands are. You might include a few commands as examples.
- Check the list of commands in the commands section. I think you ne

[2021-02-18 14:09] dmuelle commented on #3440
I've tried various options and still can't find a way to preserve the line spacing in the pre-formatted blocks. I tried different approaches to specifying full width for the table but nothing worked. I even applied the formatting at the cell level, which allowed the table as a whole to get to full width, but the individual cells still stubbornly broke the lines in the middle of words.

I've revert

[2021-02-18 14:18] ManasiGandhi commented on #776
@rw2513  #peer reveiw The topic looks good to me.

[2021-02-18 14:51] ManasiGandhi commented on #1695
@pgunapal Hi Prashanth. Here are some of my questions regarding the JMX connection topic (draft link- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/configuring-jmx-connection.html)
- Why you would use JMX versus anything else ,what are the alternatives?
- How do JMX connectors work in the context of containerised apps, eg in Docker containers?
For example, what does "local" and "remote"

[2021-02-18 15:39] pgunapal commented on #1695
@leochr @idlewis will be the best suited to answer these questions, as they are owners for Containers and JMX Rest connectors.

[2021-02-18 15:51] Charlotte-Holt commented on #1573
@chirp1 I made all of your updates:

- [x] The "Password encryption" and "Password encryption with Open Liberty" titles are too similar. Maybe change the section title to something like "Password encryption limitations".
- [x] Spell out AES on the first occurrence.
- [x] Remove extra words. Change "...you need to understand..." to "...Understand...".
- [x] For the "Password encryption with Open Li

[2021-02-18 16:10] Charlotte-Holt commented on #2008
@chirp1 I addressed your feedback:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/command/command-overview.html

- [x] We don't use "following" in the opening sentence because what we want to direct users to later in the topic generally won't display in the search results for the topic. Rewrite the opening paragraph to explain what the purpose of the commands are. You might inc

[2021-02-18 17:37] Rwalls1 commented on #3292
# Peer review
@dmuelle Your updates look good, I just have a few comments related to separate things that I noticed while reviewing your updates
## Intro
- Typo: Change  "Services report as their availability by implementing the API provided by MicroProfile Health.” to “Services report their availability by implementing the API that is provided by MicroProfile Health.
## MicroProfile Health endpoi

[2021-02-18 18:24] annaguri opened #3651 "New SIP Container custom properties"
[1] Add a new custom property to the first table in
https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.liberty.autogen.nd.doc/ae/rwlp_config_sipContainer.html

Name | Type | Default | Description
-- | -- | -- | --
enableSetOutboundIF | boolean | false | On a multi-homed host, the custom property should be set to true to mandate the use of a particular outbound interface.

[2021-02-18 22:02] chirp1 commented on #364
Hi Charlotte,
I have minor comments:
securityUtility-createSSLCertificate.html:
- For "Create a TLS certificate for the myserver server that is valid for 365 days with the mypassword password:", I know what you mean, and the sentence passes Acrolinx, but with a dependent clause and a prepositional phrase in one sentence, maybe we could make the wording a little clearer - something like "Create a T

[2021-02-19 00:33] dmuelle commented on #340
## Content review

Nice work on this!

### Intro

- I think you can replace "The MicroProfile OpenAPI specification" with "MicroProfile OpenAPI " throughout the doc .
- Mention [the Mp OpenAPI feature](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/feature/mpOpenAPI-1.1.html) in the introduction. The feature is the relevant unit of function in the OL context and that's consisten

[2021-02-19 13:54] Rwalls1 commented on #2075
@dmuelle Thanks, I've addressed your feedback.

[2021-02-19 14:52] Charlotte-Holt commented on #364
@chirp1 I addressed your feedback:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/command/securityUtility-createLTPAKeys.html
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/command/securityUtility-createSSLCertificate.html
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/command/securityUtility-encode.html
https://docs-draft-op

[2021-02-19 14:56] dmuelle commented on #2075
Hi Richard,  one more minor suggestion- the last sentence reads a little strangely to me:

The following example shows the discoveryEndpoint attribute specify the endpoint for Active Directory:

It's not grammatically incorrect, but I think the dependent clause "the discoveryEndpoint attribute specify the endpoint for Active Directory" is hard to parse at a glance. I'd recommend:

"In the followin

[2021-02-19 15:00] chirp1 commented on #1573
Hi Charlotte,
I'm pondering the title a little more. The original WebSphere Liberty topic mentioned limitations in the title. I think that having a reference to limitations in the title will guide customers to look at the topic. How about these changes:
- Change the title from "Password encryption" to "Password encryption limitations".
- Remove the "Password encryption limitations" section title,

[2021-02-19 16:06] chirp1 commented on #2008
Hi Charlotte,
Here are my comments:
- The intro paragraph is looking better! Would you rewrite it so that it's a maximum of two sentences?
- Let's go with you adding a note to the issue for the springBootUtility command to indicate that this overview topic needs to be updated when the springBootUtility command topic is ready to publish.

[2021-02-19 16:10] Charlotte-Holt commented on #2008
@chirp1 Updates made!

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/command-overview.html

- [x] The intro paragraph is looking better! Would you rewrite it so that it's a maximum of two sentences?
- [x] Let's go with you adding a note to the issue for the springBootUtility command to indicate that this overview topic needs to be updated when the springBootUtility comm

[2021-02-19 16:16] Charlotte-Holt commented on #776
Per @chirp1's note in https://github.com/OpenLiberty/docs/issues/2008, the [command overview topic](https://github.com/OpenLiberty/docs/blob/draft/modules/reference/pages/command/command-overview.adoc) needs to be updated to add the `springBootUtility` command when these topics are ready to publish.

[2021-02-19 16:23] Charlotte-Holt commented on #1573
@chirp1 Updates made:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/password-encryption.html
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/securityUtility-encode.html
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/server-configuration-hardening.html

- [x] Change the title from "Password encryption" to "Password encryption limitations"

[2021-02-19 17:55] chirp1 commented on #1573
Hi Charlotte,
One last thing that I see I didn't mention:
For the SecurityUtility topics where you say _--password=pwd_, just italicize the variable, which is "pwd" so that it looks like --password=_pwd_.

[2021-02-19 17:57] chirp1 commented on #1573
Updates look good!

[2021-02-19 18:01] chirp1 commented on #364
Hi Charlotte,
One last thing that I see I didn't mention:
For the SecurityUtility topics where you say _--password=pwd_, just italicize the variable, which is "pwd" so that it looks like --password=_pwd_.

[2021-02-19 18:09] chirp1 commented on #2008
HI Charlotte,
For the opening paragraph, how about if we add some extra info- something like: You can use commands to complete tasks such as installing, securing, and administering the Open Liberty server.

[2021-02-19 19:29] Rwalls1 commented on #2075
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/socialLogin-1.0.html

[2021-02-19 19:43] Charlotte-Holt commented on #364
@chirp1 Fixed!

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/securityUtility-createLTPAKeys.html
https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/securityUtility-createSSLCertificate.html

[2021-02-19 19:46] Charlotte-Holt commented on #2008
@chirp1 Updated!

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/command-overview.html

[2021-02-19 19:51] dmuelle commented on #2075
Sorry, one more thing I should've caught.

"the discovery endpoint provides the..."
--->
"the discovery endpoint URL provides the..."
and
"the discoveryEndpoint attribute specifies the endpoint for"
--->
"the discoveryEndpoint attribute specifies the endpoint URL for"

[2021-02-19 21:46] chirp1 commented on #2008
The updates look good.

[2021-02-20 17:41] ggam commented on #2418
Someone else is also having trouble with this: https://groups.io/g/openliberty/topic/80768611

[2021-02-21 02:12] chirp1 commented on #727
Hi Charlotte, Very nice job on writing the OL topic from the WASdev topic!
Here are my comments:
- global update: where you reference "true" and "false", usually as return values, changing the wording to, for example returns a true value, returns a false value. Also, highlight "true" and "false".
- Change "...entire time it takes to receive the data sent by the client." to "...entire time that it

[2021-02-21 02:18] chirp1 commented on #364
Hi Charlotte, We slacked yesterday about the italics still being there and that you are going to think about another way to attempt to fix the problem. Moving to In Progress.

[2021-02-21 14:34] frowe commented on #3351
Yes, RAC should be in the OL config topic.  RAC is a very popular HA solution for Oracle users.  It is typically used in conjunction with the UCP configuration.

[2021-02-21 14:39] frowe commented on #187
I don't have a good sense as to whether this topic is more/less/the same in relevance to WebSphere Liberty users.  I'd probably wait to create something in OL docs until I heard a need for it.

[2021-02-21 14:56] frowe commented on #3335
I think the jpa 2.1 logging info is useful for troubleshooting but beyond that, I would suggest referring to the eclipselink doc for further info.

[2021-02-21 18:16] frowe commented on #1558
a couple of comments:
1) there appears to be a formatting issue with the second bullet of the "Before You Begin" section, I think text from the next paragraph got into the bullet item.
2) section "Viewing server configuration",  2nd para, "To list all instances of all configuration elements, also omit the configElementName" configElementName formatting is inconsistent with the rest of the para, sa

[2021-02-21 20:37] chirp1 commented on #1568
Hi Charlotte, Nice! Here are my comments:
- The headers for the table columns are in all capital letters. Make the headers sentence style. Are table headers in other topics all capitals? If so, or you don't know, open a defect to check the table headers in all the topics and make changes as appropriate.
- Although I see that the original topic says "...see the GitHub repository.", how about if you

[2021-02-22 02:53] chirp1 commented on #1567
Note: We changed "You can validate Cloudant database connections..." to "You can view and validate Cloudant database connections ..." based on my previous bulleted comments.

[2021-02-22 07:00] bwa commented on #2418
It was me... And I must confirm that the available documentation in Knowledge Center is quite confusing. Creating an ESA file for a beginner is almost impossible. In my case with the Custom User Registry BELL saved the day. It was actually quite easy to implement, easy to understand, and also filled a very wanted use case; to create a more flexible user repository without install a LDAP server.

F

[2021-02-22 14:36] dmuelle commented on #187
Thanks @frowe . Moving this to the icebox for the time being

[2021-02-22 14:41] Charlotte-Holt commented on #1568
@chirp1 I addressed your feedback:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/directory-locations-properties.html

- [ ] The headers for the table columns are in all capital letters. Make the headers sentence style. Are table headers in other topics all capitals? If so, or you don't know, open a defect to check the table headers in all the topics and make changes as appropr

[2021-02-22 14:52] dmuelle commented on #3651
Hi @annaguri , the page from KC you are referencing here, as well as its [corresponding page in the Open Liberty doc](https://www.openliberty.io/docs/21.0.0.2/reference/config/sipContainer.html), is autogenerated from the metatype files in the source code. These files are not manually updated by the ID team. However, the new properties shouyld be picked up by the build and automatically added to t

[2021-02-22 14:59] annaguri commented on #3651
@dmuelle  thanks for the clarification. I'll take care of that.

[2021-02-22 15:12] Charlotte-Holt commented on #727
@chirp1 I addressed your feedback:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/async-io.html

- [x] global update: where you reference "true" and "false", usually as return values, changing the wording to, for example returns a true value, returns a false value. Also, highlight "true" and "false".
- [x] Change "...entire time it takes to receive the data sent by the client." to "

[2021-02-22 15:38] dmuelle commented on #3651
You're welcome @annaguri! Closing this issue since it does not involve work from the docs team.

[2021-02-22 15:38] #3651 closed, assigned to annaguri

[2021-02-22 15:50] dmuelle commented on #3620
Guidance from @lauracowen for updating feature descriptions:

The generated text is displayed in the generated feature doc and also in the Eclipse Tools, which is why it needs to be short and concise. This text needs improving for several of our features to be more helpful; here's how:
1. Fork the main Open Liberty runtime development repo at https://github.com/openliberty/open-liberty.
2. Create

[2021-02-22 16:33] Charlotte-Holt commented on #364
@chirp1 Okay, got this fixed now:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/securityUtility-createLTPAKeys.html
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/command/securityUtility-createSSLCertificate.html

[2021-02-22 17:24] chirp1 commented on #1568
Hi Charlotte,
- As we discussed over slack, open a defect about the table headers being all caps. Add the defect number to this issue.
- For "User-customized server variables that apply to all servers (optional).", do something such as open a defect to make sure the link is added to your topic when the topic on environment variables is published. If you open a defect, add the defect number to this

[2021-02-22 19:17] Rwalls1 commented on #3511
@teddyjtorres Please review
# Content proposal for [MP JWT config examples](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/mpJwt-1.1.html) updates
The following suggested updates are drawn from steps 4 and 11 from the [Configuring the MicroProfile JSON Web Token](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_s

[2021-02-22 19:29] teddyjtorres commented on #3511
The required guides' updates were requested in https://github.com/OpenLiberty/guides-common/issues/525

[2021-02-22 20:19] Charlotte-Holt commented on #1568
@chirp1 I addressed your feedback:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/directory-locations-properties.html

- [x] As we discussed over slack, open a defect about the table headers being all caps. Add the defect number to this issue. - **Issue created: https://github.com/OpenLiberty/openliberty.io/issues/2045**
- [x] For "User-customized server variables that apply to

[2021-02-22 21:59] Charlotte-Holt opened #3678 "Link directory locations topic to environment variables topic"
We need the text "User-customized server variables that apply to all servers (optional)." in https://github.com/openliberty/docs/issues/1568 to link to the environment variables topic (https://github.com/openliberty/docs/issues/2569). https://github.com/openliberty/docs/issues/2569 isn't yet published. See https://github.com/openliberty/docs/issues/1568#issuecomment-783648471 for more info.

[2021-02-22 22:01] chirp1 commented on #364
- Note: To fix the _--password=pwd_ problem so that it would be --password=_pwd_, Charlotte reached out to Steven Z. He fixed an issue with the CSS for the OL site.
- The doc updates look good. Moving to Ready to Publish.

[2021-02-22 22:11] chirp1 commented on #1568
The updates looks good!

[2021-02-22 22:59] ManasiGandhi commented on #340
@dmuelle I worked on your reveiw
- [x] I think you can replace "The MicroProfile OpenAPI specification" with "MicroProfile OpenAPI " throughout the doc.
- [x] Mention the Mp OpenAPI feature in the introduction. The feature is the relevant unit of function in the OL context and that's consistent with our other MP docs. Link to the feature page on the first mention. Use the macro- You can implement

[2021-02-23 01:11] chirp1 commented on #727
Hi Charlotte,
I have comments on your changes, plus I spotted a few other things to change;
- Globally, change "wasn't" to "isn't.
- Globally, change "was" to "is".
- My suggested fix for the empty "it" still had the empty "it" in it. How about if you change "...for the entire time that it takes to receive the data that the client sends.  to "...for the entire time that the client takes to send th

[2021-02-23 01:26] Charlotte-Holt commented on #727
@chirp1 Updates made!

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/async-io.html

- [x] Globally, change "wasn't" to "isn't.
- [x] Globally, change "was" to "is".
- [x] My suggested fix for the empty "it" still had the empty "it" in it. How about if you change "...for the entire time that it takes to receive the data that the client sends. to "...for the entire time that the clien

[2021-02-23 17:11] jmstephensgit opened #3691 "Automatically cleanup leaked JDBC connections #10907"
Epic 10907: Automatic Cleanup of Leaked Connections in Open Liberty
Epic link: https://github.com/OpenLiberty/open-liberty/issues/10907

An enhancement has been added to EJB Container,  Web Container and EE Concurrency tasks that will now close unshared connections that have not been closed by the application at the end of the request boundaries. This change in behavior was required for improved p

[2021-02-23 17:22] Charlotte-Holt commented on #1573
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3693 and KC spreadsheet updated.

[2021-02-23 17:22] Charlotte-Holt commented on #2008
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3693

[2021-02-23 17:22] Charlotte-Holt commented on #1568
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3693 and already in the KC spreadsheet

[2021-02-23 17:22] Charlotte-Holt commented on #364
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3693 and added to the KC spreadsheet

[2021-02-23 19:11] dmuelle commented on #340
Hi @ManasiGandhi - changes look good, just a few more items in the new draft:

## Intro

- `You can also use a set of predefined models to manually create all elements of the OpenAPI tree.`
Even if you don't need to explain the OpenAPI tree, this sentence seems unnecessarily vague. What the models are or how you might use them is not mentioned anywhere in the topic. If this concept is important to

[2021-02-23 20:34] Rwalls1 commented on #2997
This issue has already been addressed: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/config/logging.html

[2021-02-23 20:48] dmuelle commented on #2997
Confirmed on vNext as well, closing this issue

[2021-02-23 20:48] #2997 closed, assigned to Rwalls1

[2021-02-23 21:10] dmuelle commented on #3606
The following published feature pages will be updated for this issue:

- [x] [Application Security](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/appSecurity-3.0.html)
- [x] [Audit](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/audit-1.0.html)
- [x] [ACME](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/acmeCA-2.0.html)
-

[2021-02-24 00:03] chirp1 commented on #1479
Hi Charlotte,
Nice! You streamlined the original topic and made the new topic much more succinct.
I'm giving you comments through the end of step 2 while I continue to review the other steps.
- You have the step commands on a single line and the supporting information below it, for example:
1.Create a Kerberos service principal name and keytab file.
For the substep commands, do the same thing. For

[2021-02-24 00:24] Charlotte-Holt commented on #1479
@chirp1 Updated:

- [x] You have the step commands on a single line and the supporting information below it, for example:
1.Create a Kerberos service principal name and keytab file.
For the substep commands, do the same thing. For example:
Change: "a. Create a user account, for example, myLibertyMachine_http, for the Open Liberty server. This account is used to map to the Kerberos service principa

[2021-02-24 01:05] Charlotte-Holt commented on #3440
@dmuelle I think these updates look good. Just a couple questions:

- Should we update the names of both files (the metrics and FT pages) so that they consistently match the new titles?
- Right now the link to "MicroProfile Fault Tolerance 3.0" is broken, but I'm assuming this'll be fixed when the new gen doc for 21.0.0.3 is on the site?

[2021-02-24 01:19] chirp1 commented on #1479
Hi Charlotte, here are my remaining comments. They are for your original steps 3 and 4:
- Do we still leave the feature in parentheses or should it be removed: SPNEGO feature (spnego-1.0) ?
- Include a reference to "myClientMachine.example.com " in step 4 since you mentioned it as a resource in "Before you begin". Something like- change "...completed on the client computer. " to "...completed on t

[2021-02-24 01:24] Charlotte-Holt commented on #1479
@chirp1 Updated:

- [x] Do we still leave the feature in parentheses or should it be removed: SPNEGO feature (spnego-1.0) ?
- [x] Include a reference to "myClientMachine.example.com " in step 4 since you mentioned it as a resource in "Before you begin". Something like- change "...completed on the client computer. " to "...completed on the myClientMachine.example.com client computer. "
- [x] Change

[2021-02-24 01:32] Charlotte-Holt commented on #1479
Latest draft: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/configuring-spnego-authentication.html

[2021-02-24 13:53] dmuelle commented on #3292
Hi Richard- Thanks for this review- you helped me catch some imprecision that had been in this doc for a while, hopefully fixed now. I rewrote a good bit of the topic so I sent it back to Prashanth to be reverified from a technical perspective. He said it looked good

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/health-check-microservices.html

- [x] Typo: Change "Services report as the

[2021-02-24 14:10] dmuelle commented on #3440
Thanks for reviewing @Charlotte-Holt

- I think the filenames are still close enough- the topics are still about metrics differences and fault tolerance differences respectively
- Yes, the 3.0 link should work once  once the autoogen for 21.0.0.3 is in place. I'll wait to send this topic to staging until  I can verify that.

[2021-02-24 14:35] frowe opened #3703 "Update "Kerberos authentication for JDBC data sources" topic to indicate Oracle kerberos limitation"
Update section https://www.openliberty.io/docs/21.0.0.2/kerberos-authentication-jdbc.html#_kerberos_configuration_for_jdbc_data_sources to indicate the following limitation:
From Oracle's documentation, the Oracle JDBC thin driver only supports the Oracle JDK or OpenJDK kerberos implementation.  It is not possible for the Oracle JDBC thin driver to authenticate via kerberos when using IBM Java 8.

[2021-02-24 14:49] dmuelle opened #3704 "Review and edit RESTful services topics"
The topics in the RESTful services section of the navigation were written before the current review process was in place. They need to be reviewed and updated for current standards. Review and update the following topics:

- [x] [REST clients](https://draft-openlibertyio.mybluemix.net/docs/latest/rest-clients.html)
- [x] [Synchronous and asynchronous REST clients](https://draft-openlibertyio.myblu

[2021-02-24 14:49] Charlotte-Holt commented on #3440
@dmuelle Sounds good. I'll add the content and peer reviewed labels.

[2021-02-24 15:07] dmuelle commented on #3440
thanks- moving this to Ready to Publish but waiting to send to staging until after the autogen update

[2021-02-24 16:20] frowe commented on #3691
Looks good, Jim.

[2021-02-24 18:43] dmuelle commented on #3292
moving this to ready-to-publish but waiting to move to staging until I can conform the updated link to MP 4.0 javadoc. Link will appear broken until autogen updates

[2021-02-24 20:31] chirp1 commented on #1645
Hi Charlotte, for the two graphics, I see that you have alternate text for both, which we need for accessibility. So, that is great! Would you also through text describe the steps in the flow of execution for each graphic? That way a person using JAWS can follow the graphic since JAWS can't read what is going on graphics. The wording can be simple enough, going from one step to the next. OR, For t

[2021-02-24 20:51] dmuelle commented on #2569
Hi Manasi- changes look good but this topic just needs a couple more edits

- 2nd sentence in the short description doesn't have any context. I think you should either remove it or include more info to explain why it's relevant. If you remove it, bring the third sentence up to the shortdesc.
- I think you need to tell the user where the README.TXT file is. I believe it is in `_path/to/liberty_/wlp

[2021-02-24 20:53] dmuelle commented on #2569
would be good to publish this topic with 21.0.0.3 if possible so we can fix and closeout related doc bug #3678

[2021-02-24 21:59] chirp1 commented on #1645
Hi Charlotte, Another nicely written topic!
Here are my comments:
- The first blog introduces several fault tolerance annotations, but your topic doesn't. How about if we introduce @Retry since you use it in an example? Change "...the other fault tolerance annotations don’t behave ..." to "...the other fault tolerance annotations, such as @Retry, don’t behave ...".
- Change "After the clientDemo()

[2021-02-25 04:12] chirp1 commented on #1286
Hi Charlotte,
A nice, thorough topic! I have a few comments:
- Global comment: The links at the top of the page have one name, such as  "JAX-WS monitoring", but the section title that it links to is the MXBean name, such as "WebServiceStats MXBean". Could the section titles change to include the link name and the MXBean, something like, for example: "JAX-WS monitoring: WebServiceStats MXBean" or "

[2021-02-25 13:02] Charlotte-Holt commented on #1286
@chirp1 Updated:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/jmx-metrics-list.html

- [x] Global comment: The links at the top of the page have one name, such as "JAX-WS monitoring", but the section title that it links to is the MXBean name, such as "WebServiceStats MXBean". Could the section titles change to include the link name and the MXBean, something like, for example: "JAX

[2021-02-25 14:28] chirp1 commented on #3691
Fred, Jim, and I concluded that over the topics in this section from WebSphere Liberty: https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_dep_configuring_ds.html  We'll open other issues for these topic. Customers can use the blog post at https://github.com/openliberty/open-liberty/issues/15882  to implement the function until the docs are written.

[2021-02-25 15:25] ManasiGandhi commented on #340
Hi @dmuelle  - I worked on your edits. https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/documentation-openapi.html

- [x]  You can also use a set of predefined models to manually create all elements of the OpenAPI tree.

    Even if you don't need to explain the OpenAPI tree, this sentence seems unnecessarily vague. What the models are or how you might use them is not mentioned anywhere in

[2021-02-25 15:49] Charlotte-Holt commented on #3458
@Channyboy Updated! Please review https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/metrics-list.html.

[2021-02-25 15:50] Charlotte-Holt commented on #3277
@Channyboy I made all the updates for this issue. Please review:

- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/metrics-list.html
- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/mpMetrics-2.3.html
- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/microservice-observability-metrics.html

[2021-02-25 15:55] chirp1 commented on #727
The updates look good!

[2021-02-25 15:56] Channyboy commented on #3458
Looks good! LGTM

[2021-02-25 15:56] Channyboy commented on #3277
Looks good! LGTM

[2021-02-25 15:59] Charlotte-Holt commented on #3438
@Azquelt Updated. Please review the updates at https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/metrics-list.html.

[2021-02-25 17:00] Charlotte-Holt commented on #3438
Feedback from @Azquelt:

- The "Version introduced" column should probably list "MicroProfile Fault Tolerance 3.0" rather than a version of MP Metrics
- Since the metrics are defined in the FT spec, rather than the metrics spec
- They can all say FT 3.0 since all the metrics changed in 3.0

[2021-02-25 17:01] Charlotte-Holt commented on #3438
@Azquelt I incorporated these changes. Could you take another look: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/metrics-list.html.

[2021-02-25 17:33] chirp1 commented on #1479
Hi Charlotte,
- For step 2a, add wording similar to "The default name for this file is krb5.keytab.".

In the original topic, step 1 is for the Microsoft domain controller (myAdMachine.example.com, step 2 is for the Liberty server machine (myLibertyMachine.example.com), and step 3 is about client application machine (myClientMachine.example.com). We want to keep that grouping so that customers hav

[2021-02-25 17:46] Azquelt commented on #3438
Looks good :+1: thanks

[2021-02-25 18:04] Rwalls1 commented on #3511
@andymc12 Please review

# Content proposal for [JAX-RS client config examples](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jaxrsClient-2.1.html) update
The following suggested update is drawn from step 12 from the [Configuring the MicroProfile JSON Web Token](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_s

[2021-02-25 18:19] andymc12 commented on #3511
@Rwalls1  - yes, that looks right to me.

[2021-02-25 18:19] Charlotte-Holt commented on #1479
- [x] For step 2a, add wording similar to "The default name for this file is krb5.keytab.".
- [x] In the original topic, step 1 is for the Microsoft domain controller (myAdMachine.example.com, step 2 is for the Liberty server machine (myLibertyMachine.example.com), and step 3 is about client application machine (myClientMachine.example.com). We want to keep that grouping so that customers have a s

[2021-02-25 19:32] dmuelle commented on #3277
# Peer review

just a few minor things

## Microservice observability with metrics
### Intro
- "An application can be written to produce metrics to be used by operations teams when the application is running in production."
--->
"You can write an application to produce metrics that operations teams use when the application is running in production."

- "They can then visualize the metric data in d

[2021-02-25 19:36] Charlotte-Holt commented on #3277
Microservice observability with metrics
Intro
"An application can be written to produce metrics to be used by operations teams when the application is running in production."
--->
"You can write an application to produce metrics that operations teams use when the application is running in production."

"They can then visualize the metric data in dashboards, such as Grafana, for analysis."
--->
"Th

[2021-02-25 19:41] dmuelle commented on #3277
Just noticed this while reviewing the other issue, but putting a comment here to simplify:

" This will usually be once per method call, but may be more than once if the method call is retried."
--->
"This number is usually once per method call, but might be more if the method call is retried."

[2021-02-25 19:45] dmuelle commented on #3277
This is usually once per method call, but it might be zero if a circuit breaker prevented execution or more than once if the method call is retried.
--->
This number is usually once per method call, but it might be zero if a circuit breaker prevented execution or more than once per method call if the method call is retried.

[2021-02-25 19:46] dmuelle commented on #3277
This will usually be once per method call, but may be zero times if the circuit breaker prevents execution or more than once if the method is retried
--->
This number is usually  once per method call, but might be zero  if the circuit breaker prevents execution or more than once per method call if the method is retried.

[2021-02-25 19:47] dmuelle commented on #3438
peer reviewed in #3277

[2021-02-25 20:26] chirp1 commented on #1479
The updates look good!

[2021-02-25 21:24] chirp1 commented on #1286
Hi Charlotte- a very small tweak:
- I think we want to remove "(monitor-1.0)" to be consistent with other feature references.
- Note: Charlotte verified with Don Bourne that the MXBean is REST_Stats, not RESTStats.

[2021-02-25 22:14] Rwalls1 opened #3721 "Update MP JWT config examples for MP 4.0"
SME: Teddy Torres
Proposed updates from issue #3511:

# Content proposal for [MP JWT config examples](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/mpJwt-1.1.html) updates
The following suggested updates are drawn from steps 4 and 11 from the [Configuring the MicroProfile JSON Web Token](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.m

[2021-02-25 22:21] Rwalls1 opened #3723 "Update JAX-RS client config examples for MP 4.0"
SME: Andy McCright
Suggested updates from issue #3511:
# Content proposal for [JAX-RS client config examples](https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jaxrsClient-2.1.html) update
The following suggested update is drawn from step 12 from the [Configuring the MicroProfile JSON Web Token](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.

[2021-02-26 11:51] Charlotte-Holt commented on #1645
@chirp1 Updated:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/async-programming-fault-tolerance.html

- [x] The first blog introduces several fault tolerance annotations, but your topic doesn't. How about if we introduce @Retry since you use it in an example? Change "...the other fault tolerance annotations don’t behave ..." to "...the other fault tolerance annotations, such as @Retry,

[2021-02-26 12:41] Charlotte-Holt commented on #3277
@dmuelle Thanks for the review. All feedback was addressed except the item that I note below:

- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/metrics-list.html
- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/mpMetrics-2.3.html
- https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/microservice-observability-metrics.html

**Only thing not add

[2021-02-26 16:11] chirp1 commented on #1286
The updates look good!

[2021-02-26 16:29] Charlotte-Holt commented on #1479
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3727 and added to the KC spreadsheet

[2021-02-26 16:29] Charlotte-Holt commented on #727
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3727 and KC spreadsheet updated.

[2021-02-26 16:40] Charlotte-Holt opened #3729 "Add histogram information to metrics topic"
When reviewing https://github.com/OpenLiberty/docs/issues/3277#issuecomment-786148627, David identified that we need to add information about histogram to https://openliberty.io/docs/latest/microservice-observability-metrics.html. I think just a new section in the doc for the histogram metric that's similar to the other sections will make the topic more complete. Note that there isn't an annotatio

[2021-02-26 17:49] dmuelle commented on #3277
Looks good- since you've opened the bug for histograms I think this one is ok to close

[2021-02-26 18:22] Rwalls1 commented on #3723
@andymc12 Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jaxrsClient-2.1.html

[2021-02-26 20:05] Charlotte-Holt commented on #1286
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3731 and added to the KC spreadsheet.

[2021-02-26 20:06] #1286 closed

[2021-02-26 20:08] #1479 closed

[2021-02-26 20:10] #727 closed

[2021-02-26 20:10] #1573 closed

[2021-02-26 20:13] #364 closed

[2021-02-26 20:13] #2008 closed, assigned to Charlotte-Holt

[2021-02-26 20:14] #1568 closed

[2021-02-26 21:05] Charlotte-Holt commented on #3277
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3734

[2021-02-26 21:05] Charlotte-Holt commented on #3438
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3734

[2021-02-26 21:05] Charlotte-Holt commented on #3458
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3734

[2021-02-26 21:31] dmuelle commented on #3703
Hi @frowe , when you have a chance, please review the update on draft:
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/kerberos-authentication-jdbc.html#_kerberos_configuration_for_jdbc_data_sources

a couple questions-
- your comment above mentions "From Oracle's documentation..." but I couldn't seem to find anything that specifically mentioned krb5 and the thin driver w/r/t supported JDK

[2021-02-26 21:37] #3277 closed, assigned to Charlotte-Holt

[2021-02-26 21:37] #3438 closed, assigned to Charlotte-Holt

[2021-02-26 21:37] #3458 closed, assigned to Charlotte-Holt

[2021-02-26 21:41] chirp1 commented on #1645
Hi Charlotte,
The updates look good. We just need the explanation from the developers of the execution flow for "The following diagram shows how the fault tolerance annotations work together without the @Asynchronous annotation:".

[2021-02-26 23:05] frowe commented on #3703
@dmuelle I get a 404 when I click on that link.
To your questions:
1) this info can only be found in an OTN (Oracle Tech Network) doc, you could post the link to it, but the way OTN works is very cheesy.  You can see the question, but to see the answer you must have an OTN login which requires a typical Oracle click-thru license which I don't think we want to promote.
2) it refers to the client-si

[2021-03-01 10:36] Azquelt commented on #1645
@chirp1 What needs explained about the execution flow without `@Asynchronous`?

[2021-03-01 15:47] dmuelle commented on #3703
Thanks @frowe - sorry about the 404, it's an unfortunate side effect of the build process that the draft site goes offline for a few minutes before each refresh. Here's an alternate URL that should be more frequently available:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/kerberos-authentication-jdbc.html#_kerberos_configuration_for_jdbc_data_sources

The update is just the final

[2021-03-01 16:41] dmuelle commented on #3691
Hi @jmstephensgit @frowe I've updated our JDBC connection pooling information to address `autoCloseConnection`.

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jdbc-4.2.html#_customize_connection_pool_settings

We have a call scheduled to review this info and any other possible updates that might be needed. One question I have is about the discrepancy between the is

[2021-03-01 16:56] Rwalls1 commented on #3721
@teddyjtorres Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/mpJwt-1.1.html
I added two more examples that were drawn from step 5 and step 10 from the [Configuring the MicroProfile JSON Web Token topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_sec_json.html). For the content from step 10, I

[2021-03-01 18:12] frowe commented on #3703
Looks good to me.

[2021-03-01 18:35] frowe commented on #3691
@dmuelle David, we need to hold on this issue for a day or two.  We uncovered some issues in testing that may force some design changes.  We've got a meeting with Alasdair tomorrow to discuss, we'll know more after that.

[2021-03-01 18:36] Rwalls1 commented on #3723
@andymc12 Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-01 19:16] andymc12 commented on #3723
Looks good - thanks @Rwalls1!

[2021-03-02 14:32] treo commented on #2418
This is something that I'd also like to know how to do it in the intended way.

I think I understand how to use BELL to register a UserRegistry, but I'd also like to access the configured data source.

@bwa In the groups.io thread I see that you were looking for a way to access the data source, too. Have you found a solution?

[2021-03-02 14:43] una-tapa commented on #2418
Hello @treo

This is what I shared with @bwa .  I had a chance to chat with him. He seems to be using this variable method!

Sample 1
[code]
Sample 2
[code]

Credit goes to @aguibert  He left a lot of good info.

[2021-03-02 14:45] una-tapa commented on #2418
bwa also asked really good questions that I got to chat with architects.   I am leaving it here so we will get it documented (hopefully)

1.  Can multiple bells be configured?  - YES
2. Can bells feature take input parameters - NO (but it is good use case... dev team may consider it in the future)

[2021-03-02 14:46] bwa commented on #2418
The datasource works fine, but the configuration is not possible from server.xml. System environment variables will work, but I has been encouraged to open a RFE for this. Will share it here to get more votes.

So the solution is to 'hardcode' the jndi name in the CustomUserRegistry and manage the datasource in server.xml

[2021-03-02 15:04] dmuelle commented on #2418
Reopening this issue to  get this info into the Open Liberty docs.

[2021-03-02 15:29] dmuelle commented on #3351
Hi @frowe , when you have a chance can you review the Oracle RAC example on draft:

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/relational-database-connections-JDBC.html#Oraclerac

want to confirm that there are no maven coordinates associated with RAC like there are with the JDBC drivers and Oracle UCP. I looked and didn't find any.

[2021-03-02 17:22] dmuelle commented on #3617
opened a PR on the open liberty code repo for this fix: https://github.com/OpenLiberty/open-liberty/pull/16097

[2021-03-02 17:47] dmuelle commented on #3703
change pushed to vNext

[2021-03-02 17:47] #3703 closed, assigned to dmuelle

[2021-03-02 19:02] treo commented on #2418
I've played around with this for a bit (created a user registry that does nothing but allows me to set a break point into it 😄).

I guessed that I'll have to get the DataSource via JNDI, and getting it with something along the lines of the following works just fine:
[code]

And just as you, I have found that I need a way to specify the JNDI resource name. But as my application does use MicroProfil

[2021-03-02 20:04] bwa commented on #2418
@treo Sweeet. I was also using maven to build, but had my good old was_public jar available to compile. This was better.

Thanks!

[2021-03-03 15:41] Rwalls1 commented on #3723
@dmuelle Please content review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-03 16:59] dmuelle commented on #3606
Updated the [wiki guidance](https://github.com/OpenLiberty/docs/wiki/How-to-add-config-examples-to-generated-feature-docs#example-headings)

[2021-03-03 17:18] teddyjtorres commented on #3721
Hi @Rwalls1 . Thank you for the changes. They look good.

[2021-03-03 20:24] dmuelle commented on #3723
# Content review
Making a few suggestions for examples throughout this doc as long as we're revisiting it

## Examples
The JAX-RS Client APIs allow you to specify properties on the client that configure settings like timeouts, proxy hosts, SSL properties, and so on.
--->
With the JAX-RS Client APIs, you can specify properties on the client that configure settings like timeouts, proxy hosts, and SS

[2021-03-03 21:49] ManasiGandhi commented on #3443
@Joseph-Cass I have a few more questions regarding the topic https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html

- [ ] What is MP Config 1.x? Is it different from 1.4?

- [ ] "Values looked up from Config are no longer cached." Does Config mean MP Config in this sentence?

- [ ] Is "Property Expression" the name of a feature?
![image](https://user-images.githubus

[2021-03-03 21:50] dmuelle commented on #3430
opened the following PRs on the Open Liberty repo to address these issues:
- https://github.com/OpenLiberty/open-liberty/pull/16123
- https://github.com/OpenLiberty/open-liberty/pull/16124
- https://github.com/OpenLiberty/open-liberty/pull/16125

[2021-03-03 22:02] ManasiGandhi commented on #340
@dmuelle I worked on the filters section of the MP OpenAPI [doc](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/documentation-openapi.html). I looked up the [spec](https://download.eclipse.org/microprofile/microprofile-open-api-2.0/microprofile-openapi-spec-2.0.html#_static_openapi_files) and the filters do apply to the static files.

![image](https://user-images.githubusercontent.com/343

[2021-03-03 22:31] dmuelle commented on #3622
Opened https://github.com/OpenLiberty/open-liberty/issues/16127 on the Open Liberty repo to address these issues. More details in that issue

[2021-03-04 08:58] Joseph-Cass commented on #3443
Hi Manasi. Thanks! The draft page looks great.

`1.x` is a term we use for "version 1 dot something". So, `when you upgrade from MP Config 1.x→2.0` means `when you upgrade from MP Config 1.1 or 1.2 or 1.3 or 1.4 -> 2.0`

Yes

Yes, here it is in [the spec](https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#property-expressions)

Good question. "recur

[2021-03-04 14:38] dmuelle commented on #3406
Changes were approved by @arkarkala on Slack

pasting review relevant bits of convo here:

Ajay Reddy:

also here - <run-as userid=“Wanda” password=“{xor}Lz4sLCgwLTs=“/>. ---> password is optional and folks do not prefer that. just id is fine

but good to show an example w/o password

David Mueller  1:35 PM
point taken re "caller identity". One question I had, although you can use RunAs to designa

[2021-03-04 16:28] Rwalls1 commented on #731
Example already added to doc in link referenced above, closing

[2021-03-04 16:28] #731 closed

[2021-03-04 17:26] dmuelle commented on #340
Hi Manasi- doc looks good! Just a couple minor Acrolinx issues to address:

-  replace both instances of "tree map" with "treemap"
- YAML-->yaml throughout
- In order to---> To
- all other documentation mechanisms have completed--->all other documentation mechanisms are finished

[2021-03-04 17:34] dmuelle commented on #3691
After talking with Fred, since this feature is now enabled by default and should only be disabled in rare cases, there is no need to add a doc example. I'll remove the example I added to draft (which is now incorrect/redundant anyway). I suggested adding a statement to the `metatype.properties` file for `connectionManager` re when a user might want to disable the function by specifying `autoCloseC

[2021-03-04 22:47] Rwalls1 commented on #3058
This update has already been made to the source: https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.classloading/resources/OSGI-INF/l10n/classloader.properties. The update is not showing on the draft site: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/config/classloader.html.

[2021-03-05 13:43] dmuelle commented on #340
changes look good, signing off

[2021-03-05 13:53] ManasiGandhi commented on #340
@rw2513 Can you peer review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/documentation-openapi.html?

[2021-03-05 19:51] una-tapa opened #3763 "Spring feature and Liberty Security are not integrated"
Per discussion with Tom, Anjum, Ajay, Ut, opened this issue.

In our recent support work, we found that when SpringBoot feature is enabled, Liberty security feature may not work.
We would like to have it documented so we can just point to it.

Thomas & Anjum's team will be able to help with the contents. Please reach out to them when doc team is ready.

Thank you.

Please find details here.
https:

[2021-03-05 20:34] pgunapal opened #3764 "RequestTiming-1.0 doc update for LG-293: Add ability for requestTiming hungRequest detection to not collect javacores"
There is a new RequestTiming-1.0 feature documentation draft that is being written for openliberty.io, that is being covered in issue https://github.com/OpenLiberty/docs/issues/1094.

The above draft should be updated to include the updates made by this new feature LG-294 (https://github.com/OpenLiberty/open-liberty/issues/13694).

**OL Blog :** https://openliberty.io/blog/2021/02/19/mpcontextprop

[2021-03-06 01:31] gjwatts opened #3765 "Update Open Liberty docs for Java 16 support"
With Java 16 being released (and the simultaneous discontinuation of support for Java 15), the list of supported versions of Java by Open Liberty needs to be updated. The only file needing to be changed is modules/ROOT/pages/java-se.adoc.

We just need to hold off on merging this until Java 16 support is official in Liberty.

[2021-03-07 14:23] frowe commented on #3351
Hello @dmuelle Looks good, a few comments.  This statement (which came from the KC topic) has a typo
"If you are not using Oracle services, then the value for SERVICE_NAME is your database name. If you are using Oracle services, then the value for SERVICE_NAME is the name of the services."
should be
"If you are not using Oracle services, then the value for SERVICE_NAME is your database name. If yo

[2021-03-08 10:11] scottcurtis2605 opened #3767 "Update KC Liberty Features List"
The following list of [Liberty features on the Knowledge Centre](https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_feat.html) is outdated. This does not provide a comprehensive list of the available features in Liberty as of March 2021. This should be updated.

[2021-03-08 12:44] bwa commented on #2418
Please vote here: http://www.ibm.com/developerworks/rfe/execute?use_case=viewRfe&CR_ID=149114

[2021-03-08 14:35] dmuelle commented on #3767
talked with Scott via slack- The mpOpenAPI-1.1 feature is missing from the features table. I'll add the feature to the table and run a full check of the features list to make sure no others are missing.

[2021-03-08 15:36] dmuelle commented on #3691
copying the text I'm removing from the topic here in the off chance it might be needed at some point:

`Occasionally, application code might not close an unsharable connection that it obtains. Failing to close a connection prevents that connection from being returned to the connection pool for use by other requests. Because such connections are no longer available to the connection pool, they are

[2021-03-08 15:47] dmuelle commented on #3691
@frowe should we keep this issue open until we can determine if updates to metatype.properties file for `connectionManager` are needed ?  The [current description](https://github.com/OpenLiberty/open-liberty/blob/integration/dev/com.ibm.ws.jca.cm/resources/OSGI-INF/l10n/metatype.properties) doesn't seem to address the `autoCloseConnection` function being enabled by default or what value there migh

[2021-03-08 15:50] dmuelle commented on #3430
closing this issue, updates will be addressed in the previously referenced PRs on the Open/open-liberty repo

[2021-03-08 15:50] #3430 closed, assigned to dmuelle

[2021-03-08 15:52] dmuelle commented on #3617
closing this issue, updates will be addressed in the previously referenced PR on the Open/open-liberty repo

[2021-03-08 16:13] dmuelle commented on #3767
actually just realized this was on the Open Liberty repo, closing it and re-opening on the Websphere Liberty docs repo.

https://github.ibm.com/websphere/liberty-docs/issues/2239

[2021-03-08 16:13] #3767 closed, assigned to dmuelle

[2021-03-08 16:23] dmuelle commented on #3765
Hi @gjwatts , I signed on to review your PR as Charlotte is no longer with WAS ID. Your changes look good but we can leave the PR in place until Java 16 is released. We have what I think might be a related issue (or maybe not): [Java SE support - 2Q 2021 #3423](https://github.com/OpenLiberty/docs/issues/3423) re the change from AdoptOpenJDK to Eclipse Adoptium. Not sure if the forthcoming dates fo

[2021-03-08 16:28] #3617 closed, assigned to dmuelle

[2021-03-08 16:30] dmuelle commented on #3622
closing this issue- work will be tracked in the previously referenced issue on the main Open Liberty repo

[2021-03-08 16:30] #3622 closed, assigned to dmuelle

[2021-03-08 17:08] gjwatts commented on #3765
Hi @dmuelle.  Thanks for taking over this for Charlotte.  Yep, I agree this should wait until Java 16 is officially supported by Open Liberty.  I was just getting things ready.

[2021-03-08 17:38] dmuelle commented on #3351
Thanks for reviewing @frowe . I've updated the doc per your comments:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/relational-database-connections-JDBC.html#Oraclerac

Let me know if any further edits are needed. If you're satisfied with it, you can add the `Technical reviewed` label to this issue to sign off. Thanks

[2021-03-08 19:14] frowe commented on #3691
@dmuelle We don't anticipate any needing to disable auto close, it really would be a corner case.  Our L2 has specific instructions to assist customers in troubleshooting for the rare occasion this should happen.  I think the current wording for the metatype is sufficient.

[2021-03-08 19:40] dmuelle commented on #3691
Ok thanks- in case I'll close this issue

[2021-03-08 19:40] #3691 closed, assigned to dmuelle

[2021-03-08 22:08] Rwalls1 commented on #3511
@andymc12 Please review

# Content proposal for new [JAX-RS config examples](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html)
The following suggested updates are drawn from steps 6 and 7 from the [Configuring the MicroProfile JSON Web Token topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_s

[2021-03-08 22:29] dmuelle commented on #3721
## content review

### Configure MicroProfile JWT
- The jwksUri attribute points the mpjwt element towards the public key https://localhost:19443/jwt/ibm/api/myBuilder/jwk, to validate the JSON Web Token.
--->
The jwksUri attribute points the mpjwt element toward the https://localhost:19443/jwt/ibm/api/myBuilder/jwk public key to validate the JWT.

- key and trust store-->keystore and truststore

[2021-03-08 22:57] andymc12 commented on #3511
@Rwalls1 - thanks - this looks good.  Just a few minor comments:

"Jax-RS" should be "JAX-RS".

Context objects go beyond just the application so maybe this sentence could say something like:
_Context objects can provide information associated the application, the specific request or response, or the environment that the application is operating in._

The source code for the `getGroups` method is

[2021-03-09 14:31] Rwalls1 opened #3775 "Add new JAX-RS config examples for MP 4.0"
SME: Andy McCright
Suggested updates from issue #3511:

# Content proposal for new [JAX-RS config examples](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html)
The following suggested updates are drawn from steps 6 and 7 from the [Configuring the MicroProfile JSON Web Token topic](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp

[2021-03-09 14:32] Rwalls1 commented on #3775
Comments from @andymc12:
@Rwalls1 - thanks - this looks good.  Just a few minor comments:

"Jax-RS" should be "JAX-RS".

Context objects go beyond just the application so maybe this sentence could say something like:
_Context objects can provide information associated the application, the specific request or response, or the environment that the application is operating in._

The source code for t

[2021-03-09 15:05] kristip17 commented on #3571
@dmuelle  -- this is ready to start review.

[2021-03-09 15:42] fmhwong opened #3778 "Typo in Log and trace configuration doc"
https://openliberty.io/docs/21.0.0.2/log-trace-configuration.html

Found typo `sp[ecifies` in the description for `messageFileName`.

[2021-03-09 16:08] dmuelle commented on #3571
Thanks @kristip17, moving it to our backlog and we will target to publish with the 21.0.0.4 docs release

[2021-03-09 17:14] kgibm opened #3782 "Add %D and %{R}W to NCSA Logging Examples"
The [HTTP access logging page](https://openliberty.io/docs/latest/access-logging.html) does not use `%D` nor `%{R}W` in its examples. These are low-overhead and invaluable in figuring out response time issues. The former provides the total response time of each request. The latter provides the service time which can help isolate whether a response time issue is within Liberty or in the network/cli

[2021-03-09 19:15] ManasiGandhi commented on #3443
@Joseph-Cass I worked on your review, https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html

- [x] Open Liberty consumes SmallRye implementation of the specification. (The update was made per IBM standards)
- [x] If you need to convert a string from AtomicInteger to AtomicLong. (Typo fixed)
- [x] `AtomicLong`properties. (Typo fixed)
- [x] Converter is a Java Object

[2021-03-09 20:32] kgibm commented on #3782
@mrsaldana Hey Manuel, can you please review this doc change? This is adding `%D` and `%{R}W` to the HTTP access logging examples. Here are the draft updates: https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/access-logging.html

Here is a test:

[code]

[2021-03-10 08:23] Joseph-Cass commented on #3443
@ManasiGandhi

This is still incorrect. It should be:

(or, expanded, "If you need to convert a String to an AtomicInteger or you need to convert a String to an AtomicLong")

If it's more clear, you can remove the word `String`:

[2021-03-10 16:17] ManasiGandhi commented on #2569
@dmuelle I worked on your review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/default-environment-variables.html

- [x] 2nd sentence in the short description doesn't have any context. I think you should either remove it or include more info to explain why it's relevant. If you remove it, bring the third sentence up to the shortdesc.

- [x]  I think you need to tell the user wh

[2021-03-10 16:54] chirp1 commented on #1645
@Charlotte-Holt Hi Charlotte, the updates look great! Moving to Ready to Publish.

[2021-03-10 17:07] dmuelle commented on #3443
# Content review

## Separating the configuration and code/ MicroProfile Config
 I think the introduction here could be simplified as it seems to take too long to get to the point. I'd recommend combining these sections into a single section called  "Separate configuration from code with MicroProfile Config". Then
brief explanation of why microservice apps need to separate config from code--> intr

[2021-03-10 17:08] Charlotte-Holt commented on #1645
Merged to `vNext` in https://github.com/OpenLiberty/docs/pull/3791

[2021-03-10 18:33] #1645 closed

[2021-03-10 21:16] Rwalls1 commented on #3775
#3794

[2021-03-10 21:54] Rwalls1 commented on #3775
@andymc12 Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html

[2021-03-10 22:57] Rwalls1 commented on #3606
# Content review

The updated headings look good I just have a few comments:

- While the “Use an ACME test server” heading on the ACME page uses the right syntax, I’m not sure it captures the use case of the included examples. I think a better header would be something like “Manage certificates to use an ACME test server” or “Configure access to ACME test server”, to highlight more of the purpose

[2021-03-11 11:54] ManasiGandhi commented on #3406
@dmuelle The Authorization topic looks good. A few edit suggestions after content review:

**Define roles in your application code**

- "If the role names match the group names exactly, the server maps the group to the role with a matching name by default. If you use this default mapping, you do not need to specify an application-bnd element in the server.xml file." Is this info documented elsewhe

[2021-03-11 14:51] utle opened #3801 "LTPA and JTW SSO support authentication filter"

[2021-03-11 15:00] andymc12 commented on #3775
@Rwalls1 - this looks good.  Thanks so much!

[2021-03-11 17:10] dmuelle commented on #3782
changes went to vNExt with #3803 , will publish with 21.0.0.3.

[2021-03-11 17:10] #3782 closed, assigned to mrsaldana, dmuelle

[2021-03-11 18:02] dmuelle commented on #3775
## Content review

Theses examples look good, just a few comments.

- I think both examples need to specify where this code is, generally at least. Since (i think), it's application code, need to be clear about that since most of our config examples are server code
### Access security details with a context object
 "In the following example, the @Context annotation injects the SecurityContext cont

[2021-03-11 18:47] chirp1 commented on #2569
@ManasiGandhi @dmuelle Hi Manasi, I'm editing your topic.
- One thing that I'd like to point out so that you can work on it while I'm editing the rest of your topic is "README.TXT file in the path/to/liberty/wlp directory". I don't think that the way that the path is expressed is the best choice. Additionally, the path and README.txt could be expressed more concisely like other paths in the topic.

[2021-03-11 20:25] utle commented on #3801
https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_config_jwt_sso.html
After the procedure 1.
2. Optional: Configure the Authentication Filter.
 You can use authnFilter to define which request will be use JWT SSO for authentication.

For more information on configuring the authentication filter, see Authentication Filters link.
jwtSso now support authe

[2021-03-11 21:34] Rwalls1 commented on #340
# Peer review
The topic looks good, I just have a few comments:
## Introduction

- [ ] I think the phrase “write an application that communicates” could be a bit confusing as I’m not sure what the word “write” means in this context. I think you should change the phrase to “make applications that communicate” to avoid any possible confusion
- [ ] I think the phrase "without the need to access the s

[2021-03-12 16:32] Joseph-Cass commented on #3443
The technical content covers what we have requested, thank you @ManasiGandhi

[2021-03-12 21:50] kristip17 opened #3807 "KRB5: Troubleshooting for Ldap Kerberos"
This is a follow up to #3571

Target 20.0.0.5, but 20.0.0.6 is fine. Not sure if this should be a new page, or added onto the LdapRegistry page.

## Users fail to login even if non-Kerberos enabled registries are available

All registries (Basic, Ldap, Custom) are federated and must be searched to confirm the user logging is unique.
If the `allowOpIfRepoDown` attribute is not enabled, the applicat

[2021-03-12 22:07] ManasiGandhi commented on #3443
@dmuelle I worked on your review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html.

Separating the configuration and code/ MicroProfile Config

- [x] I think the introduction here could be simplified as it seems to take too long to get to the point. I'd recommend combining these sections into a single section called "Separate configuration from code with MicroPro

[2021-03-15 14:25] dmuelle commented on #3443
Hi Manasi- changes look good, just a few more edits for concision and clarity, and to fix a few things

### Intro
The sort description looks good, but rather than having it in it's own section, I think you could bring up the next three paragraphs into the introduction, and pare them down into two.  Something like:

`During their lifecycle, microservices are deployed repeatedly across development,

[2021-03-15 14:43] dmuelle commented on #3606
@Rwalls1 thanks for reviewing, I updated the headings for ACME and JDBC features per your suggestions

[2021-03-15 14:54] dmuelle commented on #3406
Thanks for reviewing @ManasiGandhi , I made the following changes per your review:

- [ ] "If the role names match the group names exactly, the server maps the group to the role with a matching name by default. If you use this default mapping, you do not need to specify an application-bnd element in the server.xml file." Is this info documented elsewhere for reference? **No, this is the primary di

[2021-03-15 15:46] ManasiGandhi commented on #3443
@dmuelle Could you content review this draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html?

[2021-03-15 16:10] dmuelle commented on #3443
Hi @ManasiGandhi , Before I do an in-depth review of this topic, I think there are some global issues that need to be fixed.

Right now, it's very difficult to tell what behaviors are associated with what versions of the feature. This is due to two factors:
- **The organization of the bulleted lists.**
 I think that the main bullet gives an explanation of the change, while the sub-bullets describe

[2021-03-15 17:50] Rwalls1 commented on #3723
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-15 18:31] Rwalls1 commented on #3501
These updates have been merged to vnext and will publish in the upcoming release.

[2021-03-15 18:31] #3501 closed, assigned to Rwalls1

[2021-03-15 18:37] dmuelle commented on #3723
looks good- a couple minor things:

### Change values when an application moves from development to production environments
If the application is deployed in a different environment, these settings might need to change.
--->
If the application is deployed in a different environment, certain settings might need to change.

### Set custom properties
The complete list of pre-defined properties is ava

[2021-03-16 01:02] dmuelle commented on #3443
## Content review: Differences between MicroProfile Config versions

Thanks for updating, a few more suggestions

### Global issues
- Remove the bullets and sub bullets from each section- not needed as these sections are no longer proper lists. For each section, start by stating the behavior in versions 1.4 and earlier, then explain what has changed with versions 2.0 and later
-  Throughout the do

[2021-03-16 01:38] dmuelle commented on #3443
## Content review continued: External configuration of microservices

The first heading is duplicated in the draft, remove first instance

The second paragraph uses "For example" three times in four sentences. Suggested revision for concision and flow:
`During their lifecycle, microservices are deployed repeatedly across development, test, and production environments. Each environment requires dif

[2021-03-16 09:48] Joseph-Cass commented on #3443
What is the main idea of this section? It's not clear.

So this table was in the old docs page, and was updated a little to include the ConfigSources that were in the [Config guide](https://openliberty.io/guides/microprofile-config-intro.html), but not in the docs. It includes some pretty important information (the default ConfigSources and their ordinals, and how to set properties in them), but I

[2021-03-16 13:57] dmuelle commented on #3443
@Joseph-Cass - thanks so much for this info, it's very helpful. I agree that adding a column for the relevant files is useful, it helps the reader conceptually map where the config sources are and gives them something to run with if they want to have a look for themselves.

I wonder if it wouldn't be more intuitive to list the config sources in the opposite order, with the highest ordinal (`appPro

[2021-03-16 13:58] ManasiGandhi commented on #340
@rw2513  Hi Richard. I worked on your peer review. https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/documentation-openapi.html
- [x]  I think the phrase “write an application that communicates” could be a bit confusing as I’m not sure what the word “write” means in this context. I think you should change the phrase to “make applications that communicate” to avoid any possible confusion
- [x

[2021-03-16 15:07] Joseph-Cass commented on #3443
I agree, I think the table should probably ordered highest to lowest ordinal.

As far as I'm aware, changing the default ordinals of these default ConfigSources wouldn't be very common (and perhaps not even possible by the user for all but microprofile-config.properties). I think where you're likely to see `config_ordinal` (the property to override a default ordinal) used is for custom "applicatio

[2021-03-16 17:48] Rwalls1 commented on #3775
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html

I think we should address interlinking in a separate issue as that may be something we should revisit across each of the feature pages in alignment with the planned revisions to the autogen descriptions.

[2021-03-16 17:53] Joseph-Cass commented on #3443
Yes, I had misinterpreted `DefaultValuesConfigSource`. This is an internal ConfigSource used only internally by the SmallRye implementation which doesn't play any role in `defaultValue`, so we don't need to talk about it.

I think we do still need to include the "`defaultValue` in a `<variable>` element in the Open Liberty server.xml file" row in the table though. These values do behave as expecte

[2021-03-16 18:13] dmuelle commented on #3443
looks great @Joseph-Cass thank you. I think, by including the extra final row there, we would also satisfy scott's concern from the following comment:

"One incorrect interpretation/assumption one might make without this doc would be something like: "a non-overridden defaultValue gets treated as a server.xml variable in MP config property substitution, so gets ordinal 500"

Do you agree?

[2021-03-16 18:59] Rwalls1 commented on #3723
@dmuelle Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-16 19:15] Rwalls1 commented on #3721
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/mpJwt-1.1.html

I think we should update the keyName description in the metatype to align with other issues related to autogen updates. I also don't agree that the examples need to specify the `server.xml` file because the autogen description for "Enabling this feature" already

[2021-03-16 19:38] dmuelle commented on #3721
Ok sounds good- can you open a docbug to update keyName? One other thing:
## Import a truststore to verify a MicroProfile JWT
For the variable ${javaKeystoreLocation}, i think we need to replace that with an example keystore location, rather than an example config varible. In general, should avoid using ${variables} syntax unless its a variable that is defined in the OL server config, ie a user co

[2021-03-16 19:39] Rwalls1 commented on #3775
@dmuelle Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html

I think we should address interlinking in a separate issue as that may be something we should revisit across each of the feature pages in alignment with the planned revisions to the autogen descriptions.

[2021-03-16 19:52] dmuelle commented on #3775
Looks good- one more question for "Inject the MicroProfile JWT interface to access application resources". Only the title references MpJWT, it's not mentioned in the description or evident in the code example. Can you clarify in the description that the JsonWebToken interface is part of the the MPJWT API? If that's correct...

[2021-03-16 20:43] Rwalls1 commented on #3775
@dmuelle Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-16 20:44] ManasiGandhi commented on #3443
@dmuelle Hi David. I worked on your review comments, https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html

- [x] Remove the bullets and sub bullets from each section- not needed as these sections are no longer proper lists. For each section, start by stating the behavior in versions 1.4 and earlier, then explain what has changed with versions 2.0 and later- the top

[2021-03-16 20:56] Rwalls1 commented on #3723
@dmuelle Please review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-16 21:01] dmuelle commented on #3723
LGTM, signing off

@ManasiGandhi this is ready for peer review

[2021-03-16 21:15] ManasiGandhi commented on #3606
# Peer review
- [x] **Application Security**-The level 3 link for [Disable LTPA cookies for TAI](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/appSecurity-3.0.html#_disable_ltpa_cookies_for_tai) is the only level 3 heading. Can it be removed and the heading rephrased to be used as the first sentence of the following paragraph, unless it is an important use case.

[2021-03-16 22:20] dmuelle commented on #3443
Looks good, one minor change:

The ConfigSource.getPropertyNames() method (2 instances)- I see method after "ConfigSource.getPropertyNames()". Not sure why you don't see it at your end.

It wasn't method, it was "the". So

"In the MicroProfile Config 2.0 specification, the `ConfigSource.getPropertyNames()` method is no longer a default method that is provided by the specification. Any custom confi

[2021-03-16 22:20] dmuelle commented on #3443
@Rwalls1 this is ready for peer review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html

[2021-03-16 22:42] ManasiGandhi commented on #3443
@dmuelle Hi David. I worked on your review for External configuration of microservices, https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html.

- [x] The first heading is duplicated in the draft, remove first instance.
- [x] During their lifecycle, microservices are deployed repeatedly across development, test, and production environments. Each environment requires di

[2021-03-16 23:00] dmuelle commented on #3443
changes look good, just a couple more things to fix

- [ ]  The first heading is duplicated in the draft, remove first instance. I think you removed the second instance by accident. The heading should be "Separate configuration and code with MicroProfile Config", and it should appear just before the paragraph that begins "MicroProfile Config is an API ..."
- [ ] the table should be revised per [Jo

[2021-03-17 09:06] Joseph-Cass commented on #3443
There are only actually 3 [default ConfigSources required by MicroProfile Config](https://download.eclipse.org/microprofile/microprofile-config-2.0/microprofile-config-spec-2.0.html#default_configsources): `System properties`, `Environment variables`, and `META-INF/microprofile-config.properties`. We add the other 3 "on top of" the implementation [here](https://github.com/OpenLiberty/open-liberty/

[2021-03-17 11:28] dmuelle commented on #3443
Edited my previous comment to reflect Joseph's feedback

[2021-03-17 13:52] Rwalls1 commented on #3775
@dmuelle Thanks, I've addressed your latest feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html

[2021-03-17 13:54] Rwalls1 commented on #3721
@dmuelle Thanks, I've made that update: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/mpJwt-1.1.html. I'll open a docbug for the keyName update.

[2021-03-17 14:14] Rwalls1 commented on #340
@ManasiGandhi Thanks, your updates look good.

[2021-03-17 14:17] dmuelle commented on #3721
Looks good, signing off. @ManasiGandhi this is ready for peer review.

[2021-03-17 15:05] dmuelle commented on #3775
LGTM, signing off

@ManasiGandhi this is ready for peer review

[2021-03-17 17:13] dmuelle commented on #3606
Thanks for review @ManasiGandhi , That was an oversight. I changed it to be the same level as the other examples

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/appSecurity-3.0.html#_disable_ltpa_cookies_for_tai

[2021-03-17 17:53] ManasiGandhi commented on #3723
# Peer review

## Examples

- “without having to edit and recompile the Java code”, can you change to “without the need to edit and recompile the Java code”, as you don’t need to edit and recompile the Java code if you set the values in the `server.xml` file. Or maybe, “without editing and recompiling the Java code”

## Change values when an application moves from development to production environ

[2021-03-17 17:56] ManasiGandhi commented on #3443
- [x]  The first heading is duplicated in the draft, remove first instance. I think you removed the second instance by accident. The heading should be "Separate configuration and code with MicroProfile Config", and it should appear just before the paragraph that begins "MicroProfile Config is an API ...".
@dmuelle I worked on your review and incorporated Joe's comment suggestions https://draft-ope

[2021-03-17 18:23] dmuelle commented on #3443
Thanks @ManasiGandhi - looks good except

Separating configuration and code with MicroProfile Config
--->
Separate configuration from code with MicroProfile Config

per heading guidance, dont use gerunds except in task topics.

I think that change can go in with any changes needed for peer review so I'll sign off

@Rwalls1 this is ready for your review

[2021-03-17 18:26] kristip17 commented on #3571
We may be bumping GA to 21.0.0.5 -- this feature is in beta right now for 21.0.0.4-beta.

[2021-03-17 18:27] ManasiGandhi commented on #3443
@Rwalls1 can you peer review this draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html ?

[2021-03-17 18:44] Rwalls1 commented on #3406
# Peer review
The topic looks good, I just have a few comments that are mostly related to previous sections.

## Intro
- The phrase “Authorization is the process by which an application” seems a bit wordy, maybe change to something like, “Authorization of an application” to be more concise.

## Define roles in your application code
- I think the section title,”Define roles in your application code

[2021-03-17 20:08] ManasiGandhi commented on #3775
# Peer review

## Examples

- Add a sentence or two between “Examples” and “Access security details with a context object”

## Access security details with a context object

- “In JAX-RS applications, you can use annotations to access information from HTTP requests with dependency injections of context objects.” Can you change it to “In JAX-RS applications, you can use annotations with dependency

[2021-03-17 21:04] utle commented on #3801
In the LTPA SSO article we also need to add the authFilter just like the JWT article

[2021-03-17 21:22] Rwalls1 commented on #3723
@ManasiGandhi Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrsClient-2.1.html

[2021-03-17 21:28] Rwalls1 commented on #3775
@ManasiGandhi Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/jaxrs-2.1.html

We've previously discussed adding descriptions before each set of examples on the feature pages and Karen indicated that it wasn't necessary. I think if we do decide to add descriptions we should open a separate issue to add descriptions to each feature page

[2021-03-17 21:40] ManasiGandhi commented on #3775
@Rwalls1 The changes looks good to me.

[2021-03-17 21:45] ManasiGandhi commented on #3723
@Rwalls1 The changes look good to me.

[2021-03-17 22:10] dmuelle commented on #3406
Thanks for reviewing @Rwalls1 , I updated the doc per your review

## Intro
- [x] The phrase “Authorization is the process by which an application” seems a bit wordy, maybe change to something like, “Authorization of an application” to be more concise.

## Define roles in your application code
- [x] I think the section title,”Define roles in your application code” could be shortened to “Define rol

[2021-03-17 22:52] Rwalls1 commented on #3443
# Peer review
The topic looks good, I just have a few comments:

## Intro

- I think you should change the phrase "to run in different environments without a change in code.” to something like, “run in different environments without code changes” to be more concise and use a more active voice
- I think you should change the phrase, "without having to rewrite the code.” to something like “without n

[2021-03-18 13:17] Rwalls1 commented on #3406
@dmuelle Thanks, your changes look good.

[2021-03-18 14:09] ManasiGandhi commented on #3443
@Rwalls1 Iworked on your peer review for the "External configuration of microservices" https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html

 - [x]  I think you should change the phrase "to run in different environments without a change in code.” to something like, “run in different environments without code changes” to be more concise and use a more active voice

-

[2021-03-18 15:09] Rwalls1 commented on #3443
Thanks, I just have a few more comments:

# Intro

- [x] Typo: Change "without a code changes" to "without code changes"

## Separate configuration from code with MicroProfile Config

- [x]  For the phrase, “separate configuration from code”, I think you should specify where the configuration is and what code you are referring to.

- For the phrase, “inject the external configuration”, you should

[2021-03-18 16:07] ManasiGandhi commented on #3721
# Peer review

- “Within the `ssl` element, the `id=defaultSSLconfig` attribute sets the SSL configuration as the default SSL configuration for the server that the application connects to.” Can you change this to, “Within the `ssl` element, the `id` attribute sets the SSL configuration as the `defaultSSLconfig` configuration for the server that the application connects to.”

- Also, “The `trustSto

[2021-03-18 17:10] ManasiGandhi commented on #3443
@Rwalls1 here's the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html

[2021-03-18 17:44] Rwalls1 commented on #3721
@ManasiGandhi Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/feature/mpJwt-1.1.html

[2021-03-18 19:45] ManasiGandhi commented on #340
https://staging-openlibertyio.mybluemix.net/docs/21.0.0.3/documentation-openapi.html

[2021-03-18 19:58] ManasiGandhi commented on #3443
External configuration of microservices https://staging-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html

[2021-03-18 19:58] ManasiGandhi commented on #3443
Differences between MicroProfile Config versions https://staging-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/mpconfig-1-dif.html

[2021-03-19 08:54] Joseph-Cass commented on #3443
I think there has been a copy and paste error in the "Default MicroProfile Config configuration sources in Open Liberty" [table](https://staging-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html#_default_configuration_sources). The CONFIGURATION SOURCE in the second last row should say: "All META-INF/microprofile-config.properties that are found on the class path"

Also, the fo

[2021-03-19 14:17] dmuelle opened #3872 "literal formatting for table cells isn't applied correctly"
In asciidoc, you should be able to use the `l` attribute on a table row or cell to preserve line spacing in content, such as indentation in code examples. We recently discovered this option doesnt work on the OL site because although the antora framework seems to process the attributes, the OL site CSS allows the lines to break arbitrarily. Tried various workarounds, no luck.

Comments from @Azque

[2021-03-19 14:18] dmuelle commented on #3443
Thanks for the catch @Joseph-Cass - we've updated [the table and the copy](https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.3/external-configuration.html#_default_configuration_sources) to fix those errors.

With regard to the line spacing in the code example- this is unfortunately a known issue with the OL site. We currently cannot apply literal formatting (`l`) to asciidoc table cells

[2021-03-19 14:30] Rwalls1 commented on #3775
These updates have been merged to vnext and will publish in the upcoming release.

[2021-03-19 14:30] #3775 closed, assigned to Rwalls1

[2021-03-19 14:31] Rwalls1 commented on #3723
These updates have been merged to vnext and will publish in the upcoming release.

[2021-03-19 14:31] #3723 closed, assigned to Rwalls1

[2021-03-19 14:32] Rwalls1 commented on #3721
These updates have been merged to vnext and will publish in the upcoming release.

[2021-03-19 14:32] #3721 closed, assigned to Rwalls1

[2021-03-19 14:47] Rwalls1 commented on #3511
These updates have been merged to vnext and will publish in the upcoming release.

[2021-03-19 14:47] #3511 closed, assigned to Rwalls1

[2021-03-19 15:28] dmuelle commented on #3440
content is on vNext to publish with 21.0.0.3. Will address table formatting issues and update the FT table as part of https://github.com/OpenLiberty/docs/issues/3872

[2021-03-19 15:28] #3440 closed, assigned to dmuelle

[2021-03-19 15:29] dmuelle commented on #3606
All updates are on vNext and will publish with 21.0.0.3

[2021-03-19 15:29] #3606 closed, assigned to dmuelle

[2021-03-19 15:33] yeekangc opened #3873 ""How to use Open Liberty betas" page"
Create a page that provides instruction on how to use Open Liberty betas including configuring the beta features that one would like to check out.

Per @dmuelle, this can be an addition to the Basics section of Open Liberty docs.

Can be linked to from https://openliberty.io/downloads/#runtime_betas too.  Actual instructions may be liked what is here: https://github.com/OpenLiberty/blogs/compare/b

[2021-03-19 15:34] yeekangc commented on #3873
Cc @scottkurz @Joseph-Cass @GraceJansen @mbroz2

[2021-03-19 15:37] dmuelle commented on #3406
content is on vNext, will publish with 21.0.0.3, Updated KC tracking spreadsheet

[2021-03-19 15:37] #3406 closed, assigned to dmuelle

[2021-03-19 15:38] dmuelle commented on #3292
content is on vNext and will publish with 21.0.0.3

[2021-03-19 15:38] #3292 closed, assigned to dmuelle

[2021-03-19 16:15] dmuelle commented on #3414
We're having problems building the MP 4.0 javadoc. Steven and Alasdair are working on a fix. In addition to [the Fault tolerance topic](https://www.openliberty.io/docs/latest/fault-tolerance.html), the [Health checks for microservices topic](https://www.openliberty.io/docs/latest/health-check-microservices.html) needs to be updated  once this is fixed

[2021-03-19 19:37] fmhwong opened #3877 "Broken links in Slow and hung request detection"
https://openliberty.io/docs/21.0.0.2/slow-hung-request-detection.html

Slow and hung request detection

The request timing links in the following paragraphs are broken.

The Request Timing feature identifies requests that run longer than a slow request threshold. The Request Timing feature documents slow and hung requests as they occur, so you don’t need to re-create the problem to collect more da

[2021-03-22 16:07] dmuelle opened #3878 "Broken link in server package topic"
link to  "OSGi Alliance website"  in server-package.adoc is 404

[2021-03-22 16:11] dmuelle opened #3879 "Broken links in earlier doc versions"
Per @steven1046 scan of links in the docs site, these links need to be repaired in their respective branches:

- https://openliberty.io/docs/20.0.0.12/open-liberty-operator.html:
https://github.com/OpenLiberty/open-liberty-operator/blob/master/doc/observability-deployment-rhocp4.2-4.5.adoc

- https://openliberty.io/docs/20.0.0.11/reference/feature/socialLogin-1.0.html:
https://openliberty.io/docs/

[2021-03-24 12:37] JeeSteveM opened #3881 "java.util.logging.Logger"
In the LO documentation it states the java.util.logging.Logger should work

"Logging data that is written by applications by using the System.out, System.err, or java.util.logging.Logger streams is combined into the server logs."

however I cannot get this to work, and have to use System.out's what am I missing? I prefer the logger.

[2021-03-24 14:00] utle commented on #3801
https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_ltpa.html
After the procedure 1.
2. Optional: Configure the Authentication Filter.
 You can use authnFilter to define which request will be use LTPA SSO for authentication.

For more information on configuring the authentication filter, see Authentication Filters link.
LTPA SSO now support authenticati

[2021-03-24 14:13] utle commented on #3801
https://openliberty.io/docs/21.0.0.3/authentication-filters.html
`Open Liberty supports authentication filters for various authentication mechanisms, including JSON Web Tokens, Simple and Protected GSSAPI Negotiation Mechanism (SPNEGO), and Social Media Login.`
Change to:
`Open Liberty supports authentication filters for various authentication mechanisms, including JSON Web Tokens, Simple and Prot

[2021-03-24 15:19] Rwalls1 commented on #3877
I've confirmed that the feature links referenced above are working. This issue was probably caused by the draft site going down while the content was being rebuilt, which causes the `404 Not Found` message to display.

[2021-03-24 15:36] chirp1 commented on #3764
Reviewed, discussed with Richard. Richard has the info needed to do the documentation for the LG-293 feature. Approving the feature.

[2021-03-24 18:34] chirp1 commented on #3571
OK with move of issue to 21.0.0.5 based on discussions with Kristi.

[2021-03-24 19:25] dmuelle opened #3886 "update links in external-configuration.adoc"
links in the default configuration table [external-configuration.adoc](https://github.com/OpenLiberty/docs/blob/vNext/modules/ROOT/pages/external-configuration.adoc) need to be updated to be relative links instead of absolute URLs that link to 21.0.0.2

[2021-03-24 19:37] fmhwong commented on #3877
@rwalls1 Are the links supposed to point to the draft server?  Will this be the official version?

https://openliberty.io/docs/21.0.0.3/reference/feature/requestTiming-1.0.html

[2021-03-24 20:17] #3443 closed, assigned to ManasiGandhi

[2021-03-24 21:19] donbourne commented on #3881
It's possible the root Logger's Handlers that OL relies on have been removed/replaced.  Try running the `bin/server dump` command on your server that is having problems logging and again on a fresh Liberty server.  Compare the LoggingIntrospector's list of Handlers from the two generated dumps.

One thing that can alter the list of Handlers is SLF4J's `SLF4JBridgeHandler.resetHandlersForRootLogger

[2021-03-25 09:58] Joseph-Cass commented on #3443
I don't know if this is worth the effort changing, but in the table it says:

These are _files_, not _properties_, so should probably be:

Edit: On second thought, I guess what's there currently is not technically incorrect... they are properties from META-INF/microprofile-config.properties files...

[2021-03-25 13:09] dmuelle commented on #3886
Additionally, need to make edits to address @Joseph-Cass [comment in #3443](https://github.com/OpenLiberty/docs/issues/3443#issuecomment-806516760):

 These are files, not properties, so should probably be:

[2021-03-25 13:10] dmuelle commented on #3443
Thanks @Joseph-Cass - I think it is inline with ID guidelines to refer to them as "All META-INF/microprofile-config.properties files", to distinguish the properties files from individual properties that are specified in a file. It might seem like a minor distinction but could lead to larger confusion/inaccuracies when the page is translated. Thanks for letting us know.. We have a [docubug open to

[2021-03-25 16:53] chirp1 commented on #3801
Notes:

- For https://openliberty.io/docs/21.0.0.3/reference/feature/appSecurity-3.0.html:
   Add in the config snippet for LTPA that Ut mentions in an earlier comment in this issue. It starts with "<ltpa keysFileName=...". Include any supporting info for the config snippet that Ut gives for LTPA.

- For https://www.openliberty.io/docs/latest/reference/feature/jwtSso-1.0.html:
  Add in the config

[2021-03-25 17:27] ManasiGandhi commented on #3801
@utle Thanks for providing relevant information for the updates that need to be added to the OL topics. I have a some questions:

-  [Here](https://github.com/openliberty/docs/issues/3801#issuecomment-797025217) you say, 'When the jwtSso-1.0 feature is enabled and the element is either omitted or not configured with an authFilterRef attribute' what is the element that you are referring to? Is it t

[2021-03-25 17:34] dmuelle commented on #3801
For  the [Authentication filter](https://openliberty.io/docs/21.0.0.3/authentication-filters.html) topic, i think earlier review of that topic resolved to use one example there (Social media login) and then link out to features for any additional examples

[2021-03-25 18:08] utle commented on #3801
@ManasiGandhi

- When the jwtSso-1.0 feature is enabled and the` <jwtSso> ` element does not have the authFilterRef attribute, all requests access protected resources that have LTPA cookie is used the jwtSso authentication.
- If Application Security feature is enabled and the `<ltpa>` element does not have an authFilterRef attribute, all requests to access protected resources that have the LTPA co

[2021-03-25 19:26] chirp1 commented on #3801
Epic for this ID issue: https://github.com/OpenLiberty/open-liberty/issues/10091

[2021-03-25 20:10] dmuelle opened #3892 "JWT single sign-on config examples"
per discussion around #3801 , convert steps 4 and 5 in the [KC jwtSso topic](https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_sec_config_jwt_sso.html) to new config examples on the [jwtSso-1.0 feature page](https://www.openliberty.io/docs/21.0.0.3/reference/feature/jwtSso-1.0.html). Review the KC page to ensure that no additional information needs to be

[2021-03-25 21:13] dmuelle commented on #1495
This information is now documented in the [Default Configuration sources table](https://www.openliberty.io/docs/latest/external-configuration.html#_default_configuration_sources)

[2021-03-25 21:13] #1495 closed

[2021-03-29 13:27] dmuelle commented on #3571
Content proposal:

Since we already document global KRB5 config on the Kerberos authentication for JDBC data sources page, propose moving the global info info to a new page in the Security section called "Kerberos authentication". This page will link out to related info, including the new LDAP example and the existing JDBC topic. I think the LDAP info should go with the other config examples on th

[2021-03-29 14:13] kristip17 commented on #3571
@dmuelle -- a separate global info page on the `<kerberos/>` config that we can reference from the other articles sounds great. I hope to provide some additional troubleshooting information, but I think that content would be contained and either a new section or a new page.

[2021-03-29 15:54] ManasiGandhi commented on #3801
Also refer #3892 and #3000

[2021-03-29 16:36] dmuelle commented on #3879
link to "OSGi Alliance website" in server-package.adoc is 404 in all versions

[2021-03-30 13:13] Rwalls1 commented on #1094
@pgunapal Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/requestTiming-1.0.html

[2021-03-30 15:50] pgunapal commented on #1094
@Rwalls1 Looks good, it would also be beneficial to add the following as well, as the thread dumps that get created are different based on the JDK being used:

```Also, whenever hung requests are detected, the thread dump files that get created are named differently, based on the Java being used. I suggest adding the following snippet, as the description for the new server configuration attribute:

[2021-03-30 17:37] Rwalls1 commented on #1094
@pgunapal Thanks, that update would actually be better suited to be added to the server config attribute page for requestTiming here: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/config/requestTiming.html. This page requires updates to autogen files. Are you familiar with that process? If not, I can help to make the update.

[2021-03-30 19:01] dmuelle commented on #3878
content is now on vNext with #3899

[2021-03-30 19:01] #3878 closed, assigned to dmuelle

[2021-03-30 19:30] pgunapal commented on #1094
@Rwalls1 Yes, I am familiar with that process. Since, this is targeted for 21.0.0.4, hence, the translation deadline has passed, so I think it would be good to make the change that I suggested for the server config attribute update, after 21.0.0.4, for 21.0.0.5, as its not a hard requirement to get that in for the 21.0.0.4 release. I can include it in the GA blog.

[2021-03-31 19:36] dmuelle commented on #3704
changes Are on vNext and will publish with 21.0.0.4

[2021-03-31 19:36] #3704 closed, assigned to dmuelle

[2021-04-01 20:16] dmuelle commented on #1094
## Content review

Examples look good, very clean and concise. Just a few comments

### Global concerns
I think there are two main issues that might be unclear to someone who is not familiar with this feature:

- [ ] the feature not only detects slow and hung requests, but causes messages to be sent to the logs.
 This is not mentioned on this page. I think we should add an extended description of

[2021-04-01 20:35] ManasiGandhi commented on #3351
@dmuelle #peer review

The Oracle RAC updates look good! A few edit suggestions for the topic:

- [x] In the second paragraph- "Applications communicate with relational databases to retrieve many different kinds of information", could you change it to, "Applications communicate with relational databases to retrieve different kinds of information, "?

- [x] "Open Liberty recognizes the implementati

[2021-04-02 19:14] dmuelle commented on #3351
Hi @ManasiGandhi , I've updated the file with your suggestions, except for the item about setter methods. Per our slack discussion, setter method is a fundamnetal Java concept that most developers will understand. Let me know if ay further changes are needed

https://draft-openlibertyio.mybluemix.net/docs/latest/relational-database-connections-JDBC.html#Oraclerac

[2021-04-02 20:38] Rwalls1 opened #3924 "Add new JCache Session Persistence config examples"
SME: Nathan Mittlestat
Proposed updates related to issue #2843:

[2021-04-02 20:43] Rwalls1 commented on #3924
New examples are already in progress in issue #1290, closing issue

[2021-04-02 20:43] #3924 closed, assigned to Rwalls1

[2021-04-05 14:00] dmuelle commented on #3423
Hi @irobins, I was just reviewing this issue and found this information from [the Adoptium blog](https://blog.adoptium.net/2021/03/eclipse-adoptium-announcement/):

"It will take some time to fully migrate our build farm and code, so in the meantime AdoptOpenJDK will continue to make binaries available as usual. The current expectation is that the first formal release of Eclipse Temurin binaries w

[2021-04-05 18:13] dmuelle commented on #3873
hi @yeekangc-  this link doesn't show any info:

https://github.com/OpenLiberty/blogs/compare/betainstallsteps

is there another link for the beta install steps?

[2021-04-05 18:28] dmuelle commented on #3873
Or should this doc simply adapt the steps that are currently in the beta blog posts for All Beta Features/Jakarta EE 9 Beta Features "Try it now" sections?

[2021-04-06 14:49] scottkurz commented on #3873
@dmuelle  I would say yes, take the steps like in this most recent post: https://openliberty.io/blog/2021/03/22/ldap-kerberos-21004beta.html and adapt those.

Three minor notes on those three steps.

* Step 1. _"Add the following dependency to your pom.xml file:"_   - is unnecessary
* For step 3. I would add:  " to the configuration section _ of the liberty-maven-plugin in_ your pom.xml file:
* Al

[2021-04-06 14:57] dmuelle commented on #3873
Thanks @scottkurz

The template for that post is in the blogs repo: https://github.com/OpenLiberty/blogs/blob/prod/templates/beta-release-post.adoc

I can make sure whatever updates we make for this issue are replicated there. It's also possible that the template could be updated to just point to this topic.

For Step 1- just so I understand- you don't need to add that dependency to your pom? Is t

[2021-04-06 15:15] scottkurz commented on #3873
Yeah, you could say that.     The thought in documenting it as a dependency was that a dependency is a useful, common way to show a Maven artifact with coordinates.     But operationally or instrumentally, it's a bit misleading since copying and pasting that dependency into your pom.xml, as a dependency, doesn't really accomplish what you're trying to achieve here (install this version/artifact fo

[2021-04-06 15:20] Rwalls1 commented on #1290
@ManasiGandhi
SME: Nathan Mittlestat
Proposed updates from issue #2843:

# Content proposal for config example updates
The following suggested updates are drawn from the "Configuring Infinispan in client/server mode" and "Configuring Infinispan in embedded mode" sections from the planned [Configuring Infinispan as a JCache provider](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/configuri

[2021-04-06 15:35] dmuelle commented on #3873
Does that also apply to the Jakrta EE 9 Beta Features package? There's no runtime artifact listed for that one, just the dependency:

If you’re using Maven, here are the coordinates:
[code]

And then For step 2-

"Add a dependency for the beta version of each of the APIs that you’d like to try"

How does a user find the dependency details for the API? Should they look at "API packages provided by

[2021-04-06 15:49] dmuelle commented on #3571
Hi @kristip17

I have a couple drafts for this issue ready for your review:

- [Kerberos authentication with Open Liberty](https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.4/kerberos-authentication.html)
This is the doc for the global `kerberos` element that other pages can link to. I've already updated the JDBC and LDAP docs on draft to point to it. I also revised the variable precedenc

[2021-04-06 16:55] Rwalls1 commented on #2843
@nmittles Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/configuring-infinispan-support.html

The draft mentions references to the JCache session persistence feature that will contain the proposed updates related to this topic that I mentioned in issue #1290

[2021-04-06 21:58] scottkurz commented on #3873
Yes it applies there.  It does say in "Try It Now" in article: https://openliberty.io/blog/2021/01/26/ee9-messaging-security-21002-beta.html#jakarta   to add to your plugin config (I'd still suggest my slight rewording).

Good question.   I'm not sure if we've tried to broadly answer in the general case.  The Jakarta and MicroProfile APIs will largely will be covered with the "aggregate" dependenc

[2021-04-07 15:45] kristip17 commented on #3571
@dmuelle  -- The introductory sentences here seem awkward to me -- but we have the same in the DB2 Auth. Should we swap it around a bit? I don't have a strong feeling if you want to leave it as-is.

[code]

Maybe swap to

[code]

[2021-04-07 15:55] kristip17 commented on #3571
Also, I feel like I got weirdly repetitive on the last two paragraphs trying to describe ticketCache vs. keytab. I tried to mash them into 1 paragraph:

The krb5TicketCache attribute is optional and specifies the location of a ticket or credential cache (often called ccache) file. If this attribute is not specified, Open Liberty resolves credential values from the globally configured the keytab fi

[2021-04-07 16:35] kristip17 opened #3957 "Add enabling of allowOpIfRepoDown on FedRepo and Ldap page"
We should suggest that users enable `allowOpIfRepoDown`

https://openliberty.io/docs/21.0.0.3/reference/feature/ldapRegistry-3.0.html
Under `Federate LDAP user registries`

Add new sentence after, `LDAP user registries are federated by default. If you configure more than one LDAP user registry in your server.xml file, then the user registries are automatically federated into a common user registry

[2021-04-07 17:00] Rwalls1 opened #3958 "Add new Admin Rest Connector feature config examples"
SME: Fred Rowe
Proposed updates related to issue #1558

[2021-04-07 17:19] kristip17 commented on #3807
@dmuelle  -- this can be reviewed and prioritized. I might have some more ideas, but we can add them on as bug updates, etc.

[2021-04-07 19:34] ManasiGandhi commented on #2844
@Rwalls1 I worked on your review. Here is the link to the draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/distributed-session-caching.html
- [x] I think you still need to address Laura’s comment regarding further explanation for using the sessionCache feature when HTTPSessions is already in use. I agree that clarifying why would someone would use the sessionCache feature in this scen

[2021-04-07 19:58] dmuelle commented on #3571
Does this mean that the using attribute sets it up so that the service makes auto-renew attempts on the ticket that are not made if the config is set globally?

Also, we haven't clearly defined "ticket" in this doc. It says in your comment above

is the ticket the same thing as the ccache file? Or an alternative option?

[2021-04-08 13:52] andymc12 commented on #1273
Sorry to commandeer this issue, but now that we are adding the capability to send multipart payloads (see https://github.com/OpenLiberty/open-liberty/issues/16031 ), I'd like to use this issue to document both sending and receiving.

There is some information on sending multipart payloads in the beta blog post issue, https://github.com/OpenLiberty/open-liberty/issues/16249 - and I can help with dr

[2021-04-08 16:30] Rwalls1 commented on #1285
Closing issue, will open another translation issue when we revisit plans to translate.

[2021-04-08 16:30] #1285 closed

[2021-04-08 19:17] dmuelle commented on #3414
also need to update link to MP Javadoc in external-configuration.adoc when the others are updated

[2021-04-08 19:33] dmuelle commented on #3571
slack comments from @kristip17

Hey David -- Does this mean that the using attribute sets it up so that the service makes auto-renew attempts on the ticket that are not made if the config is set globally?  Yes -- the keytab file doesn't contain credentials that expire. The krb5TicketCache contains credentials that expire and, depending on how the credential and LDAP server is configured, can be re

[2021-04-08 19:35] dmuelle commented on #3571
Hi @kristip17 - I've updated the draft per your comments, let me know what else it needs!

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#krb5

Thanks!

[2021-04-08 19:42] dmuelle commented on #3957
Hi @kristip17 , I went ahead and made these edits while I was working on the krb5 doc. I moved some things around a bit for consistency with the existing info.

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/ldapRegistry-3.0.html#federate
(update is after the example, where the config is explained)

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/featur

[2021-04-08 20:45] kristip17 commented on #3957
I'm fine with element or sub-element --whatever you think is appropriate for the doc.

[2021-04-08 20:51] kristip17 commented on #3571
On this, `...Open Liberty searches for credentials first in the ccache file and then in the keytab file.`  I'd either change ccache to krb5TicketCache or maybe tweak it like something like this:
`Open Liberty searches for credentials first in the ccache file defined by the krb5TicketCache attribute and then in the keytab file.`

[2021-04-09 16:26] dmuelle commented on #3571
Hi @kristip17 , draft is updated:

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/ldapRegistry-3.0.html#krb5

Let me know if further changes are needed, if not you can sign off by adding the `technical reviewed` label to this issue. Thanks!

[2021-04-09 16:52] dmuelle commented on #3957
ok, docs are updated
https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/ldapRegistry-3.0.html#federate

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/federatedRegistry-1.0.html

Let me know if any further changes are needed. If not, you can sing off by adding the `technical reviewed` label to this issue. Thanks!

[2021-04-09 16:53] dmuelle commented on #3873
Hi @scottkurz @yeekangc @mbroz2 , Here's the initial draft of the Betas doc:

https://draft-openlibertyio.mybluemix.net/docs/latest/installing-open-liberty-betas.html

This was based mostly on the beta blog post template, with some edits per Scott's comments. A couple questions:

- In the beta template and this draft, we only mention declaring dependencies for beta APIs in the Maven config- do we

[2021-04-09 18:52] scottkurz commented on #3873
@dmuelle looks pretty good to me, and thorough !

A couple nits:
1. The wording in:  _For any beta features that are associated with either MicroProfile or Jakarta EE,_
* If this is the term we use, then fine.. but "associated with" seems a bit loose, too broad.   I'd have written something like "For any beta features for APIs included in either the MicroProfile or Jakarta EE platforms".
2. Maven

[2021-04-09 19:38] Rwalls1 commented on #2843
Feedback from @nmittles in slack:
I find these two sentences confusing, although I'll admit I'm not actually on the sessions team.  Our team was pulled to help with the specific development/integration  effort for Infinispan. It might be best to run the opening portion of this doc past Allan Zhang and his team that owns session caching.
Applications provide failover of non-persistent user session

[2021-04-12 08:02] Joseph-Cass commented on #3873
I know it's just an example, but for the MicroProfile API dependency example, we should probably use `<version>4.0.1</version>` since `<version>4.0</version>` is broken: https://github.com/eclipse/microprofile/issues/205

[2021-04-12 15:16] ManasiGandhi commented on #3801
@utle I made updates to the following topics per your comments in the issue,

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/appSecurity-3.0.html

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

[2021-04-12 15:29] dmuelle commented on #3873
Thanks for the feedback @scottkurz @Joseph-Cass . I've updated the draft to address your comments:

https://draft-openlibertyio.mybluemix.net/docs/latest/installing-open-liberty-betas.html

Let me know if you see anything else that needs an edit- thanks!

[2021-04-12 16:25] ManasiGandhi commented on #3892
@teddyjtorres I made updates to the jwtSso config example to include  steps 4 and 5 in the [KC jwtSso topic](https://www.ibm.com/docs/en/was-liberty/base?topic=cjwtil-configuring-json-web-token-as-single-sign-cookie).

https://docs-draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

[2021-04-12 16:38] kristip17 commented on #3571
I wonder if we should update `You can specify a global Kerberos configuration in your server.xml file that provides values to any Open Liberty features that use Kerberos credentials.` to include what you can add from there.

You can specify additional global Kerberos configuration (a keytab file and a configuration file) in your server.xml file that provides values to any Open Liberty features tha

[2021-04-12 16:49] dmuelle commented on #3957
closing this bug, updates will publish with the rest of the krb5 doc in 21.0.0.5

[2021-04-12 16:49] #3957 closed, assigned to dmuelle

[2021-04-12 18:21] yeekangc commented on #3873
LGTM.  Thanks, @dmuelle!

[2021-04-12 19:28] scottkurz commented on #3873
LGTM

[2021-04-12 19:34] dmuelle commented on #3571
thanks @kristip17 - updated the draft to add that info;

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#krb5

[2021-04-12 19:50] Rwalls1 commented on #3351
# Peer review

## MySQL
The example configuration seems inconsistent when compared to the other configuration examples. In the other examples, the `properties` element specifies the data source that is being configured such as the “Microsoft SQL Server section that includes the example, `properties.microsoft.sqlserver`, which specifies the data source. However, the config example in this section d

[2021-04-13 13:59] teddyjtorres commented on #3892
Thank you Manasi for the changes. They look good. There are a few things to update.

1. There seems to be a problem rendering the subtitle, there should be a space between these two,
[code]
2. Please move
[code]
after the sentences
[code]
3. In the sentence, please change `JWk` to `JWK`.

4. Thank you very much for bringing this content over to openliberty.io.

[2021-04-13 14:37] Rwalls1 commented on #2844
# Content review
@ManasiGandhi Thanks, I think you addressed all of Laura's feedback, I just have a few more comments:

## Global
I think you should refer to the `sessionCache` feature as the JCache Session Persistence feature, as that is the actual name of the feature, and also to maintain consistency across topics.

## Intro
- Typo: Change "with the distributed in-memory HttpSession caching” to

[2021-04-13 14:57] dmuelle commented on #3351
Thanks for reviewing @Rwalls1. I made the following updates per your review

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/relational-database-connections-JDBC.html#Oraclerac

## MySQL
Is that discrepancy intentional?
**yes- i think the reason for the discrepancy is that OL doesn't have a dedicated vendor properties attribute for MySQL as it does for the other datasource examples. Althou

[2021-04-13 16:24] dmuelle commented on #3879
all existing versions of the doc are updated to fix these links. Changes are now on vNext and in the root branches for the respective versions. Closing this issue

[2021-04-13 16:24] #3879 closed, assigned to dmuelle

[2021-04-13 17:44] ManasiGandhi commented on #3892
@teddyjtorres Thanks for your review Teddy. I worked on your review comments. You can see the updates here https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

- [x] There seems to be a problem rendering the subtitle, there should be a space between these two,

[code]

- [x] Please move

[code]
after the sentences
[code]

- [x] In the sentence, please change `

[2021-04-13 17:48] teddyjtorres commented on #3892
Thank you. They look good.

[2021-04-13 18:03] aknguyen7 opened #4029 "Add Admin Center feature doc"
Add the adminCenter-1.0 feature example.

1. To enable the adminCenter1.0 feature, the doc would include something similar to the Set up Admin Center section of the blog here
https://blogs-draft-openlibertyio.mybluemix.net/blog/2021/04/15/admin-center-21004.html
2. Release will the runtime updates target? 21.0.0.4

[2021-04-14 14:46] dmuelle commented on #3801
## Content review

For both these examples, it should be more clear specifically what the filter does. Does it filter how the JWT is created? which requests are processed by jwt sso?

### Configure an authentication filter
- I think the example title should be more user focused, rather than feature focused. The title should reflect the user goal rather than the feature name. So it should say what

[2021-04-14 14:55] dmuelle commented on #3801
As is, the examples tell you that you can set a filter, but why you would want to or what happens when you do is not clear. Since the examples are so similar (which is ok), my comments for jwtSso apply to LTPA too. I think the basic pattern is:
- a request for protected resources comes in
- LTPA or JWT SSO is configured as an auth mechanism
- an auth filter is configured
- if the request meets the

[2021-04-14 15:39] utle commented on #3801
@dmuelle It's corrected ... also, I think we need to mention if auth filter is not configured which is the current behavior

[2021-04-14 16:19] lavenal commented on #490
AdminCenter is in OL starting 21.0.0.4.

[2021-04-14 16:51] dmuelle commented on #3892
## Content review
- throughout this page, replace the code name (jwtSso) with the text name (JSON Web Token Single Sign-On) of the feature, per ID guidelines.
`With the jwtSso feature you can use a JSON Web Token (JWT) as a Single-Sign-On (SSO).`
 What is "a Single Sign On" ? maybe:
"With the JSON Web Token Single Sign-On feature, you can configure  JSON Web Tokens (JWT) as an authentication mecha

[2021-04-14 16:56] Rwalls1 commented on #3351
@dmuelle Thanks, the updates look good.

[2021-04-14 17:02] dmuelle commented on #3414
changes sent to vNext in #4043. Closing this issue

[2021-04-14 17:02] #3414 closed, assigned to dmuelle

[2021-04-14 17:03] ManasiGandhi commented on #3886
Changes sent to vNext in #4043

[2021-04-14 17:03] #3886 closed, assigned to ManasiGandhi

[2021-04-14 17:59] kristip17 commented on #3571
After updating the Beta blog post, we have some additional changes for the doc

Ut wanted to move away from using "global" for the Kerberos config.

From
You can specify a global Kerberos configuration in your server.xml file
to
You can specify additional Kerberos configuration in your server.xml file

From
This global configuration is optional.
to
The Kerberos element configuration is optional.
(

[2021-04-14 18:02] Rwalls1 commented on #1094
Thanks @dmuelle, I've addressed your feedback, I'll open the related docbug issues: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/requestTiming-1.0.html

- [ ] the feature not only detects slow and hung requests, but causes messages to be sent to the logs.
 This is not mentioned on this page. I think we should add an extended description of 1-2 sentences (like we do for t

[2021-04-14 20:15] dmuelle commented on #3351
content is on vNext and will publish with 21.0.0.4

[2021-04-14 20:15] #3351 closed, assigned to dmuelle

[2021-04-14 21:35] ManasiGandhi commented on #3801
@dmuelle I worked on your review https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

[2021-04-14 21:38] ManasiGandhi commented on #3801
Also, here is the draft link to the App security topic with updates for LTPA https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/appSecurity-3.0.html

[2021-04-14 21:51] ManasiGandhi commented on #3892
@dmuelle I worked on your content review.
## Content review

- [x]  throughout this page, replace the code name (jwtSso) with the text name (JSON Web Token Single Sign-On) of the feature, per ID guidelines. - **I kept the code name as is for this sentence,**  `If the jwtSso feature is enabled but jwtSso element does not include the authFilterRef attribute, all requests to access the protected reso

[2021-04-15 00:40] dmuelle commented on #3801
Both look good except for the final sentence:

 "If the jwtSso feature is enabled but jwtSso element does not include the authFilterRef attribute, all requests to access the protected resources that have a JWT cookie are used for the JWT SSO authentication."
--->
If the JSON Web Token Single Sign-On feature is enabled but no authentication filter is configured, all requests that include a JWT cook

[2021-04-15 03:30] mbroz2 commented on #3873
I'm good with it as well, but keep in mind that this section is a point-in-time statement and will likely need to be updated in the future if kept as-is:

Same is true for the section later that talk about the Jakarta EE 9 package.
I think it's fine to keep it as is, but we need to make sure we remember to update this documentation once we no longer have the Jakarta EE 9 beta package

Since there

[2021-04-15 14:18] Rwalls1 opened #4053 "Add enableThreadDumps attribute description for requestTiming server configuration"
SME: Prasanth Gunapalasingram
Doc: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/config/requestTiming.html
Suggested updates from issue #3764:

**enableThreadDumps**
`Indicates whether thread dumps will be created if a hung request is detected. A thread stack of the particular thread exceeding the threshold is always produced as part of the hung thread warning in messages.log; ho

[2021-04-15 14:37] Rwalls1 opened #4055 "Update slow and hung request detection doc"
SME:Prasanth Gunapalasingram
Doc: https://draft-openlibertyio.mybluemix.net/docs/latest/slow-hung-request-detection.html#_slow_request_detection
Suggested updates from issue #1094:

Update information in the [Slow request detection section of the Slow and hung request detection doc](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/slow-hung-request-detection.html#_slow_request_detection) to

[2021-04-15 16:32] ManasiGandhi commented on #3801
@dmuelle Here are the updated links

App securtiy- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/appSecurity-3.0.html
jwtSso- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

[2021-04-15 16:36] dmuelle commented on #3873
Good point, @mbroz2 . I wasn't sure whether to include the Jakarta EE 9 info/package, but it has been such a big focus in the. beta blogs, I didn't want to omit it. I can open a bug on our backlog to revise the doc once the beta package is no longer available.

I updated the artifactID statement for clarification re runtimeArtifact.

One remaining question I have is whether we should provide an ex

[2021-04-15 18:35] dmuelle commented on #3801
looks good, just need to add monospace formatting as discussed via slack

[2021-04-15 20:39] dmuelle commented on #3892
Hi Manasi
The updated title looks good, but the description still needs to be more specific than "consuming JWTs"
in the JWK example:

"To use the JWK endpoint for consuming JWTs, add the jwksUri attribute to the mpJwt configuration element that exists in the server.xml file."

Maybe:

"To retrieve the JWT issuer public key from a JWK endpoint, specify the endpoint in the `jwksUri` attribute for t

[2021-04-15 20:43] ManasiGandhi commented on #1094
# Peer review

@Rwalls1  The topic looks good! Just a couple comments:

- Typo in the heading from "Configure Slow and hung request thresholds". Change to "Configure low and hung request thresholds".
- I would avoid "always" in these two sentences
"The jdbcTiming element configuration always overrides the requestTiming element configuration for the slow and hung request thresholds.", and
"The serv

[2021-04-16 11:58] Rwalls1 commented on #1094
@ManasiGandhi Thanks, I've addressed your feedback: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/requestTiming-1.0.html

[2021-04-16 13:37] ManasiGandhi commented on #3801
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/appSecurity-3.0.html
https://docs-staging-openlibertyio.mybluemix.net/docs/21.0.0.4/reference/feature/jwtSso-1.0.html

[2021-04-16 18:31] #3892 closed, assigned to ManasiGandhi

[2021-04-16 18:32] #3877 closed, assigned to ManasiGandhi

[2021-04-16 18:33] #3801 closed, assigned to ManasiGandhi

[2021-04-16 18:49] #1094 closed

[2021-04-16 18:52] Rwalls1 commented on #3764
The updates related to the feature config example have been completed in issue #1094, update to server configuration attribute description will be completed with issue #4053 for 21.0.0.5.

[2021-04-16 18:52] #3764 closed, assigned to Rwalls1

[2021-04-16 18:59] Rwalls1 commented on #3778
This update has been completed: https://draft-openlibertyio.mybluemix.net/docs/latest/log-trace-configuration.html

[2021-04-16 18:59] #3778 closed, assigned to Rwalls1

[2021-04-19 09:27] Azquelt commented on #3414
Thanks David :smiley:

[2021-04-19 12:07] dmuelle commented on #505
Slack discussion re how to document MP config prooperties:

https://ibm-cloud.slack.com/archives/C31GEJTQD/p1618429945125400

[2021-04-19 12:20] dmuelle commented on #3571
Hi @kristip17 - I've made the edits from your previous comment:

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/ldapRegistry-3.0.html#krb5

 One thing I wanted to check- re

"Open Liberty resolves credential values from the default Kerberos credential cache location by using the Java SDK default locations."

So we don't want to mention operating system defaults in this con

[2021-04-19 16:28] #3225 closed, assigned to dmuelle

[2021-04-19 17:30] #2460 closed, assigned to aguibert, dmuelle

[2021-04-21 18:34] mbroz2 commented on #3271
Any update on this one?

[2021-04-21 20:31] dmuelle commented on #3271
I haven't been able to prioritize it yet. I think we can target for 21.0.0.5 or 21.0.0.6. We don't have dedicated graphics resources at the moment so an illustration will likely take longer.

Would it make sense to target to align with Jarkarta ee9?

[2021-04-21 20:48] andymc12 commented on #1273
Talking with @dmuelle  - I think we can resolve this issue with basically a lift-and-shift from the KC article ( https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_jaxrs_multipart_formdata_from_html.html ) with a few exceptions:

(1) The Java code example for receiving a multipart payload seems to be duplicated - we only need one example.
(2) That example

[2021-04-22 14:12] dmuelle commented on #3873
Maven and Gradle config verified by @ericglau
@Rwalls1 think this is ready for content review now

[2021-04-22 14:25] andymc12 commented on #1273
Oh - one other thing to mention (sorry - just remembered this as I was working on the serviceability aspect of this feature):
(5) The user should _not_ close the `InputStream` when sending multipart payloads - Liberty will do that for them after the data has been sent - and Liberty will throw an `IOException` if the stream is closed beforehand.  When _receiving_ multipart payloads, Liberty will _n

[2021-04-22 15:41] dmuelle commented on #3290
Adding this comment from #3288
https://github.com/OpenLiberty/docs/issues/3288#issue-746885378

[2021-04-22 15:42] dmuelle commented on #3288
Following up on this comment as part of content design for #3290

[2021-04-22 15:42] #3288 closed, assigned to nobody

[2021-04-22 15:50] #875 closed

[2021-04-22 15:52] #560 closed

[2021-04-22 15:55] dmuelle commented on #341
following up on this in #3290

[2021-04-22 15:55] #341 closed

[2021-04-22 15:55] dmuelle commented on #310
See #3290

[2021-04-22 18:54] mbroz2 commented on #3271
I think we should have it published no later then that.  However, since we've already announced Open Liberty Jakarta EE 9 compatibility in our beta releases, the earlier we can get the document published the better.

[2021-04-23 16:03] dmuelle commented on #3807
Hi Krisiti- whenever you have a moment- I'm working on the troubleshooting page for LDAP krB5 and I have a couple questions
## Users fail to login even if non-Kerberos enabled registries are available.
We've already documented this in the federated user registry feature config. It's ok to dupl;cate if we expect that people will have problems, but just checking to make sure.

## Using a krb5TicketC

[2021-04-23 17:29] dmuelle commented on #1273
Hi @andymc12 - I've got a draft ready for your review:
[Send and receive multipart/form-data parts in JAX-RS (Draft)](https://draft-openlibertyio.mybluemix.net/docs/latest/send-receive-multipart-jaxrs.html)

The KC source was pretty sparse so I tried to add just a little more context. I imagine some of the names/relationships in the doc will need to be tuned up so please let me know if anything is

[2021-04-23 21:53] andymc12 commented on #1273
Hi @dmuelle - this looks good!  Here are a few comments:

* First sentence

Could we change it to something like:
_Multipart/form-data is a popular content type for HTTP requests that can send different types of data in a single request._

* The second paragraph is text, but it is rendering in a code block - and all on one line, making it difficult to read.
* In that second paragraph, can you add

[2021-04-23 22:52] kristip17 commented on #3807
_We've already documented this in the federate_
I wanted to point out the expiring ticketCache issue -- it tripped us up during tWAS dev of this feature quite a bit when the UI team was testing and would get locked out of the console. We could integrate it into the Fed Repo config page instead of that would be better.

_Is it that someone might see an error message re "keytab" bu they configured a

[2021-04-27 13:25] dmuelle commented on #3807
Hi @kristip17, here's the troubleshooting draft:

https://draft-openlibertyio.mybluemix.net/docs/latest/troubleshooting-krb5-ldap.html

I think we just need to incorporate an example error message into the second item, and add some text to explain it. If you see anything else that needs a fix or m ore info, just let me know. Thanks!

[2021-04-27 13:46] dmuelle commented on #1273
Hi @andymc12

I've made the requested updates per your comment:

https://draft-openlibertyio.mybluemix.net/docs/latest/send-receive-multipart-jaxrs.html

I kept the HTML form example for now, basically to help illustrate the use-case for JAX-RS with multpart content (automation). See if it makes sense. If it seems unnecessary or out-of-place, I can remove it.

[2021-04-27 15:01] #3881 closed, assigned to dmuelle

[2021-04-27 18:03] andymc12 commented on #1273
HI @dmuelle - the updates look perfect!  I like how you organized the "sending" section with the HTML first and the Java code second.  I think it looks more concise than the original KC doc (which has less content!).  Well done!  Thanks!

[2021-04-27 19:16] dmuelle opened #4096 "Formatting error in JPA Container (jpa) autogen doc"
@dmuelle commented on [Mon Jun 29 2020](https://github.com/OpenLiberty/open-liberty/issues/12817)

On the autogen page for the `jpa` config element of the JPA Container feature:

https://www.openliberty.io/docs/ref/config/#jpa.html

 In the description column of the `ignoreDataSourceError` row, the "<" and ">" characters are not displaying properly, instead the &lt; and &gt; markup displays.

" If

[2021-04-28 14:07] dmuelle commented on #4096
opened this PR on the open-liberty repo: https://github.com/OpenLiberty/open-liberty/pull/16820

[2021-04-28 15:17] Rwalls1 commented on #4053
The attribute description has been added here: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/config/requestTiming.html, closing issue

[2021-04-28 15:17] #4053 closed, assigned to Rwalls1

[2021-04-28 16:40] Rwalls1 commented on #1558
@frowe Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/validating-server-connections.html
I didn't include the "Base REST endpoint URLs" table because I think it may be better to include such a table in a separate reference topic that describes all of the endpoints for different OL features, that we could potentially link to from this "Validating server connections" topic. Do

[2021-04-28 16:42] Rwalls1 commented on #3958
@frowe Please review: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/restConnector-2.0.html

[2021-04-28 19:55] dmuelle commented on #1462
updated draft to include `<bell>` for hibernate library, based on config from [this stack overflow example from A Guibert](https://stackoverflow.com/questions/47396310/open-liberty-and-hibernate) and [info in the KC source](https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-deploying-jpa-application) that indicates you must configure a bell with JPAContainer. Also removed defaultPersistenc

[2021-04-28 20:10] dmuelle commented on #3335
Hi @frowe , I've added the JPA logging examples/info from KC to the JPA feature page, as well as some links to EclipseLink for more info. Can you please review the draft?

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jpa-2.2.html

If any changes are needed, just let me know. Otherwise, you can add the `technical reviewed` tag to this issue to sign off. Thanks!

[2021-04-28 20:47] dmuelle commented on #3423
new URL should be https://adoptium.net/

no binaries available yet

[2021-04-29 01:17] ManasiGandhi commented on #3571
# Content Review

@dmuelle The [Configure Kerberos authentication for LDAP servers ](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/reference/feature/ldapRegistry-3.0.html#krb5) looks good! Just a few comments:

- [x] 	Typo: Configure Kereberos authentication for LDAP servers, change Kereberos to Kerberos.

- [x] Could you rephrase this sentence "The krb5TicketCache attribute is optional

[2021-04-29 15:43] dmuelle commented on #3571
Thanks for reviewing @ManasiGandhi. I made updates for each of the items specified in your comment. This draft is on hold pending updates from the security team, and might be pushed out to 21.0.0.6

[2021-04-29 16:21] Rwalls1 commented on #2843
@nmittles @zhang-ca Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/latest/configuring-infinispan-support.html#_configuring_infinispan_in_embedded_mode_on_openshift

[2021-04-29 16:45] Channyboy opened #4112 "Update Metrics Reference List for 21.0.0.6 (21.0.0.5 beta)"
The document: https://openliberty.io/docs/21.0.0.4/metrics-list.html

Related to:
LG-301 - https://github.com/OpenLiberty/open-liberty/issues/15781

Add to the table:
| MPMETRICS-3.X NAME | MPMETRICS-3.X PROMETHEUS NAME(S) | TYPE AND DESCRIPTION | FEATURE(S) REQUIRED | VERSION INTRODUCED|
| ------------- | ------------- | ------------- | ------------- | ------------- |
| requestTiming.activeReques

[2021-04-29 20:38] dmuelle commented on #4096
merged the changes in, will publish with 21.0.0.5

[2021-04-29 20:38] #4096 closed, assigned to dmuelle

[2021-04-30 14:05] frowe commented on #1558
@Rwalls1 I agree, if we ever have any other features that have rest validation EPs, we could move the table to a more central location, but until such time, I'd leave it in this doc.
Some comments:
1) Viewing server configuration
...
 and the {uid} variable specifies the uid:  <-- circular definition

2) From my draft
"The output from a URL without a unique ID or config element name contains all i

[2021-04-30 14:14] frowe commented on #3958
I wouldn't repeat examples of config listing and validation in this feature overview, the samples and explanations are too terse to useful.  I'd point out the rest connector, among other things, can be used for this and refer to the other doc.  If retained, the paragraphs below the first and second server.xml sample will need to be edited, let me know.

[2021-04-30 15:14] frowe commented on #3335
1) "In this example, the JPA=all value you for the traceSpecification attribute specifies that all JPA container trace"
'you' typo?
2) because the point of adding the logging examples is the explain the different log levels (and not the other logging element attributes) consider simpler examples:
Instead of
[code]
consider
```<logging  traceSpecification="JPA=all />```

[2021-04-30 15:53] frowe commented on #1462
I think the config sample changes are appropriate, but we may need to edit some of the explanatory text, my understanding is that by adding hibernate as a bel, you no longer need to use the defaultPersistenceProvider attrib because the bel allows it to regiater as the default, not that it's an alternative to using the JPAContainer feature as you/KC mentioned above.  Instead of
"The bell element en

[2021-04-30 17:50] dmuelle commented on #4029
Hi @aknguyen7 @mbroz2 -

can you review  the following draft for the admin center feature doc?

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/admin-center.html

I based this draft on both of your blog posts, as well as some of the info from the old KC topics (excluding collective info) and what I saw from trying out Admin Center myself per the blog instructions.

If you see anything t

[2021-04-30 17:53] dmuelle commented on #1462
Thanks @frowe - I've made those edits as well as your suggestion from slack for the `bell` description.

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jpaContainer-2.2.html

If any further edits are needed just let me know. If it looks good, you can sign off by adding the `technical reviewed` label to this issue.

[2021-04-30 17:56] dmuelle commented on #3335
Thanks @frowe - I've made these edits

https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jpa-2.2.html

If anything further is needed, just let me know. Otherwise, you can sign off by adding the `technical reviewed` label to this issue

[2021-04-30 18:32] mbroz2 commented on #4029
docs/latest/admin-center.html looks great (technically, localhost may not be the loopback address if someone changed it, but lets keep it as written for simplicity).

docs/21.0.0.5/reference/feature/adminCenter-1.0.html has a typo:
`configure at least oi=]ne user in either`

The only other thought is whether we'd want to include a screenshot of the toolbox and especially the Java Batch and OIDC to

[2021-04-30 19:46] ManasiGandhi commented on #1273
# Content Review

@dmuelle the topic looks good. A few suggestions

## Send and receive multipart/form-data parts in JAX-RS

- [x] 	“JAX-RS resources can implement the `multipart/form-data` content type to receive form data such as this from a client.” Could you reword the sentence to avoid the word “this”?

## Send multipart/form-data parts from JAX-RS resources

- [x] “Each object in that list r

[2021-04-30 20:18] andymc12 commented on #1273
Technical answers (please feel free to re-word):

`IAttachment` represents one part of the multipart payload.  "Attachment" is an older term, but is consistent with our existing APIs.  Somehow the doc should indicate that "IAttachment" is the Java code equivalent of "part".

Closing objects when you are done with them is a common coding pattern - for anything that could leave resources open, not j

[2021-05-03 13:53] frowe commented on #1462
Looks good @dmuelle but I already added that label

[2021-05-03 15:58] aknguyen7 commented on #4029
docs LGTM

[2021-05-04 12:32] Rwalls1 commented on #3958
@frowe Thanks, if the examples are not valuable and would be better used in the manner that you described, I think it's best to not create these examples and close this issue.

[2021-05-04 12:32] #3958 closed, assigned to Rwalls1

[2021-05-04 13:15] dmuelle commented on #4029
Thanks for reviewing @mbroz2 @aknguyen7 - I added a few more screenshots to the doc and fixed the typo that Michal mentioned

[2021-05-04 13:31] dmuelle commented on #1273
Thanks @andymc12 - very helpful

@ManasiGandhi thanks for reviewing, I made the following changes per yur review and based on Andy's feedback
fix style issues mentioned above:
- removed "this"
- made references to "multipart payloads" vs "`multipart/form-data` parts" consistent
- per Andy's comment- I added a sentence for context around `IAttachment` but did not go into detail re closing InputStre

[2021-05-04 14:09] dmuelle commented on #4112
Hi @Channyboy - we generally don't doc beta-release stuff in the docs, just the beta blog post. If these metrics are targeted for GA with 21.0.0.6 we can have the doc update ready for that though

[2021-05-04 15:15] #1799 closed

[2021-05-04 16:08] ManasiGandhi commented on #2844
@Rwalls1 Thanks for your review. I worked on your comments. Here's a link to the updated draft https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/distributed-session-caching.html

# Content review
@ManasiGandhi Thanks, I think you addressed all of Laura's feedback, I just have a few more comments:

## Global

- [x] I think you should refer to the `sessionCache` feature as the JCache Session P

[2021-05-04 17:56] Rwalls1 commented on #1558
@frowe Please review the latest updates: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/validating-server-connections.html
For **"From my draft
"The output from a URL without a unique ID or config element name contains all instances of all server config elements defined in the server.xml file, any included config files and any default instances that are defined by the features of the serv

[2021-05-04 18:36] Rwalls1 commented on #3625
Update has been merged to integration and will be published with 21.0.0.5

[2021-05-04 18:36] #3625 closed, assigned to Rwalls1

[2021-05-04 20:24] Rwalls1 opened #4135 "Add springBootUtility commands to Commands overview page"
Suggested update from issue #776:
Per @chirp1's note in #2008, the [command overview topic](https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/reference/command/command-overview.html) needs to be updated to add the springBootUtility command when these topics are ready to publish.

[2021-05-05 15:05] andymc12 commented on #1273
@dmuelle @ManasiGandhi - the latest changes look to me.  Thanks!

[2021-05-05 17:02] nmittles commented on #2843
@Rwalls1

Infinispan doc review II:
CURRENT: To provide high availability features in Open Liberty, you must configure a JCache provider.
Sounds like all possible HA features come from a JCache provider, not sure this is true.  Allan should be able to confirm this.

CURRENT: When you configure Infinispan in client/server mode on OpenShift, you can connect Open Liberty to a remote Infinispan server

[2021-05-05 18:15] kristip17 commented on #3807
We can remove this section `Using a krb5TicketCache, but the failure indicates the principal was not found in keytab`

Add a new section related to expiring credentials in the ticket cache.

**The Kerberos principal name is not in the Kerberos ticket cache file**
If the Kerberos principal name is not in the Kerberos ticket cache file, the product logs the CWIML type message. A missing Kerberos pri

[2021-05-05 20:04] Rwalls1 commented on #2844
@ManasiGandhi Thanks, I just have a few more comments:
## Intro
 While the use of the phrase of "on top" is not an accessibility issue in relation to referencing a location on the page , I still think the phrase doesn't add value without additional context and could potentially be confusing. The word "top" is also flagged by Acrolinx. I think to be more concise and avoid the use of an unnecessary

[2021-05-05 20:34] frowe commented on #1558
I'll review the draft later, but to your question, see https://www.ibm.com/docs/en/was-liberty/base?topic=instances-providing-default-factory-configurations for some background.  In short, a default instance is one that is created by enabling a feature, vs created by adding config to server.xml.  For example, the servlet feature creates a default instance of http port so that if you are ok with th

[2021-05-06 13:04] Rwalls1 commented on #3873
# Content review

## Try out new features with Open Liberty beta releases

I think you should provide a link to an official Jakarta EE 9 doc on first reference to provide necessary context since it is referenced throughout the topic

## Install a beta features package

- I think you should change "Open Liberty offers two beta release packages, All Beta Features and Jakarta EE 9 Beta Features, both

[2021-05-06 15:45] dmuelle opened #4138 "Improve findability of "Repository and proxy modifications""
We had a customer who was unable to find this page- https://openliberty.io/docs/21.0.0.4/reference/command/featureUtility-modifications.html from the the other feature utility command pages, despite it being right there in the TOC

Investigate whether to add links from the other feature utility pages, improve the title to be more explicit, or both

[2021-05-06 15:46] dmuelle commented on #4138
Per: https://ibm-cloud.slack.com/archives/C31GDK73P/p1620314558047900

[2021-05-06 16:27] Rwalls1 commented on #1273
# Peer review

## Introduction

I think the phrase “in the JAX-RS resource code” should be changed to reference a more specific location such as “in the JAX-RS API” to avoid possible confusion as I don’t think it’s clear what “resource code” is referring to.

## Send multipart/form-data parts from JAX-RS resources
- I think you should change "The following example shows an HTML form that sends an

[2021-05-06 16:33] dmuelle commented on #3873
Thanks for reviewing @Rwalls1- I made the following changes per your review:

- refer to feature packages consistently as "beta features packages", not "beta release packages"
- revised intro sentences to "Install a beta features package" section
- added links for more info about runtimeArtifact and Liberty maven and gradle plugins
- added links for Jakarta EE9, Maven, and Gradle
- fixed typo

[2021-05-06 20:02] Rwalls1 commented on #2843
@nmittles Please review the latest update: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/configuring-infinispan-support.html

[2021-05-07 14:43] dmuelle commented on #1273
Thanks for reviewing @Rwalls1 - I made the following changes per your review:

- the JAX-RS resource code-->the JAX-RS resource methods (per Andy)
- revised intro to HTTP example to be more explicit
- added more detail to POST request config example, InputStream reference and Receiving explanation
- "I think the phrase “in your application code” should be changed to something like “in your API” to

[2021-05-07 14:45] dmuelle commented on #1273
comments from @andymc12 on slack:

Personally, I like the text as it is better - or maybe just tweak it slightly to:
"You can send and receive multipart/form-data parts with JAX-RS resources in Open Liberty by enabling the Jakarta RESTful Services feature and implementing the necessary code in the JAX-RS resource methods."
(just changing Java RESTful to Jakarta RESTful and swapping code and method

[2021-05-07 16:02] Rwalls1 commented on #3335
# Content review
The examples look good, I just have a few comments:
- I think you should change “When the Java Persistence API feature” to “When the Java Persistence API feature (JPA), to clearly identify what the “JPA” abbreviation you use throughout the rest of the example description refers to.
- We can revisit the strategy for these config example pages, but I don’t think the list that begins

[2021-05-07 20:03] dmuelle commented on #3807
Hi Krisiti, the updated draft is ready for review: https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/troubleshooting-krb5-ldap.html

[2021-05-07 20:12] dmuelle commented on #3335
Thanks for reviewing @Rwalls1 - I made the following changes per your review:

- [x] I think you should change “When the Java Persistence API feature” to “When the Java Persistence API feature (JPA
- reworked how the examples were presented to show eclipseLink categories without the redundant list
- Revised links to be in the body text instead of collected at the end of the example

[2021-05-10 13:59] dmuelle commented on #1162
Added links to each section- I did not add the "Guides:" prefix as the intro text for each link already identifies that the destination is a guide

[2021-05-10 14:15] Rwalls1 commented on #3571
# Peer review
The example looks good, I just have a few comments:
## Configure Kerberos authentication for LDAP servers

- I think you should change "The credentials in a ccache file are subject to expiration.” to "The credentials in a ccache file expire.” to be more concise.
- There seems to be an inconsistency in the description of how the Kerberos principal is specified. This sentence says that

[2021-05-10 15:45] chrisrmartineau opened #4152 "Enable and run sipservlets on openliberty"
[guide-getting-started.zip](https://github.com/OpenLiberty/docs/files/6453299/guide-getting-started.zip)

.war file attached as requested

[2021-05-10 16:04] dmuelle commented on #3571
Thanks for reviewing @Rwalls1 - I made the following changes per your review:

- [x]  change "The credentials in a ccache file are subject to expiration.” to "The credentials in a ccache file expire.” to be more concise.
- [x] `krb5PrincipalName` ---> `krb5Principal`
- [x] Revised description of `kerberos` element

[2021-05-10 19:22] nmittles commented on #1290
Reviewed https://draft-openlibertyio.mybluemix.net/docs/21.0.0.5/reference/feature/sessionCache-1.0.html:
Comments are in the same order as they appear in the doc.

CURRENT: Configuring Infinispan in client/server mode with OpenShift
PROPOSED: Configuring Infinispan in client/server mode on OpenShift

CURRENT: You can configure Infinispan in client/server mode with OpenShift to connect to a remote

[2021-05-11 02:34] ManasiGandhi commented on #3807
@dmuelle The topic looks good! A few edit suggestions
# Content review
## Troubleshooting Kerberos authentication to LDAP servers

- [x] Change, “The following information can help determine the cause of common problems and error messages that are associated with Kerberos authentication to LDAP servers.”, to, “The following information can help determine the causes of common problems and error mes

[2021-05-11 11:51] ManasiGandhi commented on #3873
@dmuelle, I peer reviewed your topic.
# Peer review
## Try out new features with Open Liberty beta releases

- [ ] Could you add more context to this sentence “For example, features that are Jakarta EE 9 compliant are previewed in the Open Liberty beta releases.”? “previewed in the Open Liberty beta releases”, do you mean that the features can be previewed prior to Jakarta EE9? Also, the term “com