[2020-07-29 18:28] jennifer-c commented on #1939
Looks great, thanks @dmuelle!

[2020-07-30 12:01] donbourne opened #2153 "typo in metrics topic"
at https://openliberty.io/docs/20.0.0.7/microservice-observability-metrics.html:

`@SimpleTimed` -> `@SimplyTimed`

[2020-07-30 12:43] Rwalls1 commented on #1095
@donbourne Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.8/reference/feature/logstashCollector-1.0.html#logstash-events-fields.adoc

[2020-07-30 12:53] dmuelle commented on #1095
@Rwalls1 sorry- the link I provided has the wrong syntax- the link to http access logging should be

 `xref:ROOT:access-logging.adoc[HTTP access logging]`

[2020-07-30 14:07] dmuelle commented on #2002
this is covered in #2101

[2020-07-30 14:07] #2002 closed, assigned to nobody

[2020-07-30 15:14] dmuelle commented on #1833
@donbourne  does this table of HTTP access log event fields for Logstash collector need to be updated to contain the new custom fields that are available per LG-265 #1939 ? If so, does it make sense to add them in a separate table with a brief explanation that you can add them by specifying `jsonAccessLogFields="logFormat"`

[2020-07-30 15:44] dmuelle commented on #2024
The following published tables and images were updated for 20.0.0.08

- [REST clients](https://www.openliberty.io/docs/20.0.0.7/rest-clients.html) (image)
- [MicroProfile](https://www.openliberty.io/docs/20.0.0.7/microprofile.html) (image)
- [Log and Trace configuration](https://www.openliberty.io/docs/20.0.0.7/log-trace-configuration.html) (table)
- [Runnable JAR files](https://www.openliberty.io

[2020-07-30 15:44] #2024 closed, assigned to dmuelle

[2020-07-30 15:57] dmuelle commented on #1765
all directory names match feature names exactly on both `draft` and `vNext`, any extra directories with the old names have been removed. Closing this issue

[2020-07-30 15:57] #1765 closed

[2020-07-30 17:57] dmuelle opened #2167 "typo in fault tolerance doc"
https://www.openliberty.io/docs/20.0.0.7/fault-tolerance.html

Coordinating multiple fault tolerance polices heading

[2020-07-30 20:37] dmuelle commented on #2101
Updated server configuration, runnable jar files and their nav entries. Feature overview is blocked by a weird merge conflict issue.

[2020-07-30 20:55] dmuelle commented on #1877
The following features use `${server.config.dir}` in config examples & need to be updated to use `server1` instead:

- [x] audit

- [x] jdbc

- [x] ldapRegistry

- [x] sessionCache

- [x] sessionDatabase

- [x] socialLogin

- [x] spnego

- [x] transportSecurity

[2020-07-30 20:57] Charlotte-Holt commented on #1841
Updates made at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/command/server-help.html

[2020-08-03 13:11] dmuelle commented on #1932
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/config/server-configuration-overview.html

The server configuration overview was the only doc that used this abbreviation- searched all the published docs and didi not find another instance. The updates will go to production with 20.0.0.09, leaving tis bug open until they are confirmed.

[2020-08-03 13:15] dmuelle commented on #2153
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/microservice-observability-metrics.html

Typo fixed on draft, changes will go to production with 20.0.0.9, leaving this bug open until they publish

[2020-08-03 13:19] dmuelle commented on #2167
typo fixed on draft, changes will go to production with 20.0.0.9, leaving this bug open until they publish.

[2020-08-03 14:42] Charlotte-Holt commented on #2019
Links went live on 7/31

[2020-08-03 14:42] #2019 closed, assigned to Charlotte-Holt

[2020-08-03 14:51] dmuelle commented on #1304
The only two remaining docs with "Where to next?" headings are [Development Mode](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/development-mode.html) and the [Metrics reference list](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/metrics-list.html). I've updated Development mode and @Charlotte-Holt will update the reference list. Leaving this issue open until Dev mode changes p

[2020-08-03 15:04] dmuelle commented on #1938
Changes published to production, closing this issue

https://www.openliberty.io/docs/20.0.0.8/log-trace-configuration.html

[2020-08-03 15:04] #1938 closed

[2020-08-03 15:32] Charlotte-Holt opened #2193 "Some feature names are inconsistent in the reference section"
The following feature names don't follow the correct format for feature names:

- [JMS 2.0 Client for Message Server](https://openliberty.io/docs/20.0.0.8/reference/feature/wasJmsClient-2.0.html)
- [Java EE 8 Application Client](https://openliberty.io/docs/20.0.0.8/reference/feature/javaeeClient-8.0.html)
- [JavaScript Object Notation Binding 1.0 via Bells](https://openliberty.io/docs/20.0.0.8/ref

[2020-08-03 17:43] dmuelle commented on #1939
changes to logging doc are published to production: https://www.openliberty.io/docs/20.0.0.8/log-trace-configuration.html

Further updates for logstash collector are being tracked in the issue for that doc (#1095)

[2020-08-03 17:43] #1939 closed

[2020-08-03 19:05] Charlotte-Holt opened #2204 "Fix description of the Liberty Kernel feature"
We need to update the description that's in the [Liberty Kernel feature](https://openliberty.io/docs/20.0.0.8/reference/feature/kernel.html).

[2020-08-04 15:57] dmuelle opened #2223 "Update docs README with antora workflow."

[2020-08-04 16:52] dmuelle commented on #2223
Hi @lauracowen @Charlotte-Holt here is the first draft of the updated README for the antora workflow:

https://github.com/OpenLiberty/docs/tree/draft

It's based off the README from the blogs repo. I wasn't quite sure how to balance the instructions for internal writers vs. external contributors. For example, there are some internal docs (cheat sheet, guidance etc) that we consult but I don't know

[2020-08-04 19:13] Charlotte-Holt commented on #941
@chirp1 Updated! Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/network-hardening.html.

[2020-08-04 19:14] Charlotte-Holt commented on #1479
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-spnego-authentication.html.

[2020-08-04 19:14] Charlotte-Holt commented on #929
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/security-hardening.html.

[2020-08-04 19:15] Charlotte-Holt commented on #942
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/application-configuration-hardening.html.

[2020-08-04 19:15] Rwalls1 commented on #210
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html

[2020-08-04 19:15] Charlotte-Holt commented on #930
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/server-configuration-hardening.html.

[2020-08-04 19:16] Charlotte-Holt commented on #1286
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/jmx-metrics-list.html.

[2020-08-04 19:17] Charlotte-Holt commented on #364
@chirp1 Topics at
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/command/securityUtility-createSSLCertificate.html
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/command/securityUtility-createLTPAKeys.html
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/command/securityUtility-encode.html
- https://draft-openlibertyio.mybluemix.net/d

[2020-08-04 19:18] Charlotte-Holt commented on #1568
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/21.0.0.3/reference/directory-locations-properties.html

[2020-08-04 19:18] Charlotte-Holt commented on #766
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/deployment-openshift.html.

[2020-08-04 19:19] Charlotte-Holt commented on #1573
@chirp1 Topic on https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/password-encryption.html.

[2020-08-04 19:20] Charlotte-Holt commented on #954
@chirp1 Topic at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/spnego-1.0.html.

[2020-08-04 19:28] Charlotte-Holt commented on #849
@chirp1 Topics at
- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/featureUtility-find.html
- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/featureUtility-help.html
- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/command/featureUtility-installFeature.html
- https://draft-openlibertyio.mybluemix.net/docs/21.0.0.1/reference/c

[2020-08-04 19:33] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-04 19:34] dmuelle commented on #2223
Actually since the docs playbook has its own repo, any info on that should go in the README there?

[2020-08-04 19:36] ManasiGandhi commented on #1289
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/sessionDatabase-1.0.html

[2020-08-04 19:38] ManasiGandhi commented on #953
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/integration-testing.html

[2020-08-04 19:42] ManasiGandhi commented on #1290
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/sessionCache-1.0.html

[2020-08-04 19:44] ManasiGandhi commented on #1127
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/slow-hung-request-detection.html

[2020-08-04 19:49] ManasiGandhi commented on #636
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/jwt-1.0.html

[2020-08-04 20:00] Rwalls1 commented on #1200
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/log-management.html

[2020-08-04 21:09] dmuelle commented on #429
new URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/zero-migration-architecture.html

[2020-08-04 21:11] dmuelle commented on #631
New URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/transportSecurity-1.0.html

[2020-08-04 21:11] dmuelle commented on #893
New draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication.html

[2020-08-04 21:13] dmuelle commented on #927
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authorization.html

[2020-08-04 21:14] dmuelle commented on #939
New draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication-filters.html

[2020-08-04 21:14] dmuelle commented on #951
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/about-open-liberty.html

[2020-08-04 21:16] dmuelle commented on #1091
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/ldapRegistry-3.0.html

[2020-08-04 21:16] dmuelle commented on #1096
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/secure-communication-tls.html

[2020-08-04 21:17] dmuelle commented on #1180
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/federatedRegistry-1.0.html

[2020-08-04 21:18] dmuelle commented on #1291
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/latest/data-persistence-jpa.html

[2020-08-04 21:20] dmuelle commented on #1684
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/forwarding-logs-logstash.html

[2020-08-04 21:21] dmuelle commented on #1784
new draft URL:https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/user-registries-application-security.html

[2020-08-04 21:22] dmuelle commented on #1833
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/logstash-events-list.html

[2020-08-04 21:23] dmuelle commented on #1903
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/analyzing-logs-elk.html

[2020-08-04 21:25] Rwalls1 commented on #894
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/appSecurity-3.0.html

[2020-08-04 21:30] Rwalls1 commented on #211
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/audit-1.0.html

[2020-08-04 21:31] Rwalls1 commented on #1128
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/mpMetrics-2.3.html

[2020-08-04 21:32] Rwalls1 commented on #1094
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/requestTiming-1.0.html

[2020-08-04 21:35] Rwalls1 commented on #1558
@nmittles Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/testing-database-connections.html

[2020-08-04 21:38] Rwalls1 commented on #1676
New link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/single-sign-on.html

[2020-08-04 21:40] Rwalls1 commented on #213
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/audit-logs.html

[2020-08-05 09:11] lauracowen commented on #2223
re playbook - would it make sense to just link from the docs repo instructions to the playbook instructions when it comes to the playbook steps?

[2020-08-05 09:13] lauracowen commented on #2223
re guidance - how much of that is really confidential or could it be posted externally on a wiki on the docs repo? Anyone submitting fixes/contributions externally would need to know some of that too?

For more general ID info that isn't external and isn't specific to OL docs, I think don't link that.

For the blogs repo, I think I'm going to write an internal Box note that gives an introduction t

[2020-08-05 13:39] dmuelle commented on #954
need to replace `${server.config.dir}` variable with an example (use `server1` for consistency ) per #1877. Once the file is updated, please mark it off from the checklist in that issue- thanks!

[2020-08-05 13:40] dmuelle commented on #211
need to replace `${server.config.dir}` variable with an example (use `server1` for consistency ) per #1877. Once the file is updated, please mark it off from the checklist in that issue- thanks!

[2020-08-05 13:42] dmuelle commented on #1290
need to replace `${server.config.dir}` variable with an example (use `server1` for consistency ) per #1877. Once the file is updated, please mark it off from the checklist in that issue- thanks!

[2020-08-05 13:42] dmuelle commented on #1289
need to replace `${server.config.dir}` variable with an example (use `server1` for consistency ) per #1877. Once the file is updated, please mark it off from the checklist in that issue- thanks!

[2020-08-05 16:52] Rwalls1 commented on #213
@chirp1 Can you provide an example of the unnecessary words you are referring to?

[2020-08-05 17:42] ManasiGandhi commented on #955
@chirp1 updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/samlWeb-2.0.html

[2020-08-05 19:14] dmuelle commented on #2223
I don't think any of it's necessarily confidential. I can move the guidances for example config and concept topics to the Git wiki and link to them there. There's a "Peer review cheat sheet" that is in the Connections wiki but it's more of a general thing and not specific to OL so I'll leave that out.

[2020-08-05 22:24] donbourne commented on #210
"ibm_sequence":"1588595606066_0000000000001" -> "ibm_sequence":"1588595606066_0000000000001",

"ibm_requestHeader_headername":"header_value" -> "ibm_requestHeader_headername":"header_value",

[2020-08-06 10:36] lauracowen commented on #1841
LGTM

[2020-08-06 10:48] lauracowen commented on #210
- "@lauracowen What are your thoughts on the proposed strategy above?"  I missed this comment at the time. It relates to Don's suggestion of breaking out the audit.log events etc: https://github.com/OpenLiberty/docs/issues/210#issuecomment-644164438. Go with what Don suggests in terms of how to structure this info. I don't think you've address that suggestion yet (or has it been superceded by subs

[2020-08-06 11:02] lauracowen commented on #1880
Looks good, thanks.

[2020-08-06 11:07] lauracowen commented on #676
Sorry, I still don't see all your changes here https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/openidConnectServer-1.0.html

Can you go through each of the checked-off steps above and make sure they're visible in the built file?

Also, can you check for broken links? With the new docs framework, they're shown in red text I think.

[2020-08-06 11:11] lauracowen commented on #1118
I don't see the changes requested above in the built file: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/socialLogin-1.0.html

Also can you list the changes made in a comment when you've done them so it's easy to see what's been changed and whether/how you addressed each comment (eg if you disagree or have a better suggestions, mention it in the comment so it doesn't lo

[2020-08-06 12:02] lauracowen commented on #891
This is a reasonable start. I like the structure of separating out development from production. But the text itself very sparse and really just a list of links in paragraph form once you get to the production section. Don't focus on providing links to every topic (that's not the purpose of this topic); focus instead on providing useful information (whatever links that requires will be obvious as a

[2020-08-06 12:26] lauracowen commented on #2223
While I remember, a comment I've received about the blogs equivalent that might be relevant here:
- Authors section Step 4. Maybe add that they need to wait until the PR has been approved and merged before Step 5 (I've had two people point this out to me about the blogs draft build...).
- Similarly for any other PRs, though it may be obvious after this first time.

Other thoughts:
- "hwo the conce

[2020-08-06 13:31] donbourne commented on #210
@lauracowen , I'm happy with the structure of what's in this topic now.  It solely focuses on the JSON logging content, which is perfect.

[2020-08-06 14:01] lauracowen commented on #210
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html

Excellent, thanks. Okay, then I'm happy to sign this off.

[2020-08-06 19:26] Rwalls1 commented on #210
@ManasiGandhi Please peer review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html

[2020-08-06 21:25] ManasiGandhi commented on #1118
@lauracowen Here are the updates (Draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/socialLogin-1.0.html),

@ayoho suggestions

- [X] Start the first sentence of the article with "The" to make it "The Social Media Login feature provides a form of single sign-on..." ( Created a separate issue on the OL docs backlog- #1979 )

- [X] The first sentence under the "Req

[2020-08-06 23:04] donbourne commented on #1903
Analyzing logs with Elastic Stack
->
Analyzing JSON logs with Elastic Stack
___
You can use the Elastic Stack ...
->
You can collect logs and events from your Open Liberty server and display them in a dashboard for analysis and troubleshooting purposes. Use JSON logging to emit logs from Open Liberty and sends them to the Elastic Stack, where they can be managed and visualized.
___
The following p

[2020-08-07 01:15] donbourne commented on #1684
Looking at both this topic and #1903, I'm wondering if we could have them both use the substitution text below (obviously with the forwarding link in the 3rd paragraph when this text is used in #1903)...

**Change:**
If your Open Liberty server is deployed in a managed environment, such as a Kubernetes cluster, your logs are typically aggregated by agents in that environment. However, some server

[2020-08-07 01:27] frowe commented on #1291
Looks good except for this word transposition "if you want to use different a provider implementation"

[2020-08-07 01:38] donbourne commented on #1833
First 2 paragraphs are probably redundant given the descriptions in the Analyzing logs with elastic stack and forwarding logs with logstash topics

---

The Logstash collector feature captures log events at run time, breaks them into fields, and securely forwards them to the configured Logstash log collection server. You can configure the feature to send one or more of the following types of data:

[2020-08-07 02:04] donbourne commented on #1095
Logstash collector gathers data from various sources and forwards the data to a Logstash server using Lumberjack protocol.
->
Logstash collector internally collects log data at run time and sends it directly to a Logstash server using Lumberjack protocol.

---

make this sentence be a separate paragraph on its own:
There are several parameters that you can use to configure the Logstash collector f

[2020-08-07 09:24] lauracowen opened #2281 "CADF format version of the the JSON events list (for audit events only)"
Don asked @Rwalls1 to make all the audit events part of the [JSON log events reference list topic](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html) which meant they needed to be in JSON format.

The original events Emily supplied were in CADF format. Don suggested creating a separate topic listing the audit events in CADF format (similar structure to the JSON topi

[2020-08-07 13:35] Rwalls1 commented on #1570
Link to first draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/servlet-4.0.html

[2020-08-07 14:17] ggam opened #2284 "Developing a custom UserRegistry"
I tried to develop a custom `UserRegistry` but I wasn't able to do it.

There are some articles on ibm.com (https://www.ibm.com/support/knowledgecenter/SS7K4U_liberty/com.ibm.websphere.wlp.zseries.doc/ae/twlp_sec_custmr.html) but they mess a lot with OSGi and I couldn't make it work. A new guide for this topic would be greatly appreciated.

[2020-08-07 17:44] dmuelle commented on #1291
Thanks for the catch, doc is updated: https://draft-openlibertyio.mybluemix.net/docs/latest/data-persistence-jpa.html

clarity and concreteness elements:

- USE SCENARIOS TO ILLUSTRATE TASKS AND TO PROVIDE OVERVIEWS (calendar app example)
- USE SPECIFIC LANGUAGE (edits in #3449)
- LINK APPROPRIATELY (added links to JDBC doc)

Need to remember to add link to this doc from JDBC doc once this doc pub

[2020-08-07 17:45] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-07 18:02] ManasiGandhi commented on #340
@chirp1 updated draft link for your reference https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/documentation-openapi.html

[2020-08-07 18:26] dmuelle commented on #1903
Thanks for review @donbourne. I believe I've addressed all your comments. It this doc ready to be tested?

updated draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/analyzing-logs-elk.html

**done**
Analyzing logs with Elastic Stack
->
Analyzing JSON logs with Elastic Stack

___
**done**
You can use the Elastic Stack ...
->
You can collect logs and events from your Open Liberty server

[2020-08-07 18:30] dmuelle commented on #1684
Thanks for reviewing @donbourne - I've updated the doc per your comment, with slight modifications for IBM style. I also used this description in #1903, per your suggestion. If this needs anything else, let me know. If you're ready to sign off, please indicate in a comment and add the `techincal reviewed` label. Thanks!

[2020-08-07 19:35] donbourne commented on #1095
additional comments...

integer through 0 and 2147483647. ->  integer between 0 and 2147483647.

always capitalize "Elastic Stack"

source=",accessLog" -> source="accessLog"

[2020-08-07 20:11] chirp1 commented on #953
Hi Manasi,

I think you did a nice job on the topic!
I see a various things that could use a little sprucing:

- Avoid links in the introductory paragraph.
- In the opening paragraph you say true-to-production for Microshed testing, but later you say "similar to production" in  "MicroShed Testing helps achieve development and production parity by testing the application in the environment similar

[2020-08-07 20:32] dmuelle commented on #1684
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/forwarding-logs-logstash.html

[2020-08-07 20:43] donbourne commented on #1903
Looks like this doc is ready to be tested.  I'll open a separate issue for that.

A couple more minor comments:

to The Elastic Stack -> to the Elastic Stack

"For more information, see Analyzing JSON logs with the Elastic stack." - seems odd to say that here since we're in that topic.

[2020-08-07 20:54] donbourne commented on #1684
looks good!

[2020-08-07 21:09] donbourne commented on #1833
in the nav bar,

Logstash event reference list -> Logstash collector events reference list

[2020-08-10 13:06] dmuelle commented on #1903
Thanks for the catch- I've fixed those and will stand by for doc testing on this one.

[2020-08-10 13:38] Rwalls1 commented on #2281
Link to first draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/audit-log-events-list.html

[2020-08-10 14:52] Charlotte-Holt commented on #1610
For conversion from Markdown to AsciiDoc - try `pandoc` or `kramdoc` first to see if we have success with that before trying to do the conversion manually.

[2020-08-10 14:53] Charlotte-Holt commented on #1611
For conversion from Markdown to AsciiDoc - try `pandoc` or `kramdoc` first to see if we have success with that before trying to do the conversion manually.

[2020-08-10 14:59] dmuelle commented on #2223
slack comments from @mbroz2 :

- get rid of the 'docs' header up top
- when referencing reviews, in addition to listing David & Charlotte, I'd recommend adding a link to https://github.com/orgs/OpenLiberty/teams/docs-maintainers/members as a fallback in case David & Charlotte can't be reached (or if the maintainers list changes over time)
- Note that the current state of docs only handles 'deliver

[2020-08-10 18:18] nmittles commented on #1558
@Rwalls1 I'm not sure how you would like feedback. I'll provide it here for now.

`You must use a REST endpoint that is found under the https://localhost:9443/ibm/api/validation/dataSource/{uid} parent endpoint to validate the data source.` Is there a way to make the port a generic variable? Is there precedence from existing docs we can reuse? Also, I would remove "parent".

`To view an individual

[2020-08-10 18:30] aguibert commented on #1558
Which section will this topic be listed under in the left-hand table of contents on the site? I think it could fit under both `Development` and `Operations` sections. Is it possible for us to list the same topic in both sections?

[2020-08-10 18:35] dmuelle commented on #1799
Folding this content in #1840 and closing this issue

[2020-08-10 18:40] dmuelle opened #2306 "update feature topic titles for Java EE Application Client 8.0 & 7.0"
via @ellenwyllie  on slack: This title of this doc is messed up because the format of the title is slightly different than what the python script that combines the feature versions is expecting. Could someone update the title to be Java EE Application Client 8.0 instead of Java EE 8 Application Client and the same for javaeeClient-7.0 in both 20.0.0.07 and 20.0.0.8?

[2020-08-10 19:23] dmuelle commented on #1840
Hi @aguibert , can you provide technical review of this draft?

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/jndi-1.0.html

These examples all came over from KC ([here](https://www.ibm.com/support/knowledgecenter/SSD28V_liberty/com.ibm.websphere.wlp.core.doc/ae/twlp_dep_jndi.html) and [here](https://www.ibm.com/support/knowledgecenter/en/SSD28V_liberty/com.ibm.webspher

[2020-08-10 19:38] aguibert commented on #1840
A few comments:

- There are an extra set of single quotes around this config: `value='"plato"'`.  Should just be `value="plato"`
- This code snippet:
[code]
could be updated to be a bit more modern. Lets do:
[code]
- The link for `properties that can be used to specify file locations` is broken
- Similar to the second comment, lets update this code snippet:
[code]
to be this:
[code]

[2020-08-10 19:48] Rwalls1 commented on #2281
@emilytee Please review, do you think any new examples are needed?:

[2020-08-10 19:57] Rwalls1 commented on #1095
@lauracowen The introductory sentence "Logstash collector gathers data from various sources and forwards the data to a Logstash server using Lumberjack protocol." appears to be auto-generated. Can you help to update the sentence to align with Don's suggestion?

[2020-08-10 20:13] dmuelle commented on #2306
need to edit the python code instead so doc stays in synch with code base. Closing this issue

[2020-08-10 20:13] #2306 closed, assigned to dmuelle

[2020-08-10 21:44] dmuelle commented on #1840
Thanks for reviewing @aguibert - I've addressed your comments in a new draft:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/jndi-1.0.html

- removed extraneous single quotes
- updated both `lookup` examples
- not sure what was wrong with link to `properties that can be used to specify file locations` but it seems to be working now.

If the doc looks ok, can you comment

[2020-08-10 22:36] frowe commented on #1558
Wrt to the previous comment regarding "parent", would "root" be a suitable replacement?

[2020-08-11 01:58] ManasiGandhi commented on #210
@rw2513 The topic looks good. A few edit suggestions,

- Replace time stamp with timestamp (Acrolinx flagged it)
- In these sentences “Host name of the server that was the source of the event.”, “User directory of the server that was the source of the event.”, “Server name of the server that was the source of the event.”, and other instances where the word ‘was’ is used can you replace ‘was’ with

[2020-08-11 08:43] lauracowen commented on #1095
@Rwalls1 Good question. I've added a new section to the writing guidance here: https://ibm.box.com/s/90b7dnmkcu9qv4uple03niz6u3wj1np2 ("Getting the generated first sentence of the topic updated"). It's a while since I did it last so if you spot any problems in the instructions let me know and I'll update them. Ping me if you have any questions or anything's not clear.

[2020-08-11 12:59] lauracowen commented on #643
Done now we've moved to Antora.

[2020-08-11 12:59] #643 closed

[2020-08-11 13:38] dmuelle commented on #1833
Hi @donbourne - just to confirm- all event names should match exactly between JSON log events and Logstash collector events? There are significant differences in the docs from KC.

For example, message events
`hostName` (logstash) vs `host`(JSON)
`threadId` vs `ibm_threadId`

many slight differences like this, esp `ibm_` before the field name in the JSON list but not on the Logstash list.
Just wan

[2020-08-11 13:54] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-11 14:04] nmittles commented on #1558
I would be more in favor of "root" than "parent".  However to me, when '{uid}' is added to the URL it is the actual REST endpoint.

[2020-08-11 14:38] mbroz2 commented on #2193
The first 4 are correct, and purposefully have the name not at the end.  For the last two, here are the issues that will resolve them:
Spring Boot Support version: https://github.com/OpenLiberty/open-liberty/issues/13422
OpenID Connect Client: https://github.com/OpenLiberty/open-liberty/issues/11703 & https://github.com/OpenLiberty/open-liberty/issues/13426

I think this issue can be closed now.

[2020-08-11 15:04] Charlotte-Holt commented on #2193
Thanks for confirming, @mbroz2. Closing the issue.

[2020-08-11 15:04] #2193 closed, assigned to nobody

[2020-08-11 15:08] dmuelle commented on #2284
Thanks for your feedback @ggam, we are looking into this. I'm researching an alternative solution but waiting on testing.

[2020-08-11 15:14] dmuelle commented on #1439
Hi @ggam, Thanks for your feedback, we are investigating new doc for bells. In the meantime here is the [feature doc](https://www.openliberty.io/docs/20.0.0.8/reference/feature/bells-1.0.html) and [a reference for the bell configuration](https://www.openliberty.io/docs/20.0.0.8/reference/config/bell.html)

[2020-08-11 15:30] aguibert commented on #1840
LGTM now

[2020-08-11 15:32] dmuelle commented on #1840
@lauracowen these examples are ready for your review

[2020-08-11 15:44] ggam commented on #1439
Thanks a lot @dmuelle. Please note that besides expanding `bell`s documentation, my main trouble has been in understanding Liberty classloading in general.

To give you some more detail and concrete examples, I come from WildFly where the concept of "libraries" is based on JBoss modules. You define a module and the packages it imports and exports. The application depends on a module that only expo

[2020-08-11 16:00] donbourne commented on #1833
I just meant the two topics should probably have consistency for look and feel.  The actual field names are different between json logging and logstashCollector, as you've seen.

The list of event types shown at the top of both topics should be the same, give or take the GC events (I'm not saying the list of field names in those event types is the same between json logging and logstashCollector th

[2020-08-11 16:34] dmuelle commented on #1833
Ok thanks for clarifying. For the missing audit event fields- where can I find those if not KC?

[2020-08-11 17:05] Rwalls1 commented on #210
@ManasiGandhi Thanks, I've incorporated your feedback.

[2020-08-11 18:24] ellenwyllie opened #2324 "Update nav.adoc file"
The nav.adoc file needs to be updated with "Java EE Application Client" instead of "Java EE 8/7 Application Client". We just want the ToC to show "Java EE Application Client" like this:
<img width="805" alt="Screen Shot 2020-08-11 at 1 16 43 PM" src="https://user-images.githubusercontent.com/22085207/89933613-eaf9a380-dbd4-11ea-995b-fc4575e191fe.png">

[2020-08-11 19:09] Yushan-Lin commented on #1903
The dashboards been seperated for `kibana6_7` so step 8 should be changed from:

- For Kibana 6.x and 7.x, download JSON files that start with `kibana6_7`

to:
- For Kibana 6.x, download JSON files that start with `kibana6`.
- For Kibana 7.x, download JSON files that start with `kibana7`.

[2020-08-11 19:38] Yushan-Lin commented on #1833
hi @dmuelle , the missing audit event fields are the same as the JSON log events reference list. Anything starting with `ibm_audit_` applies to Logstash Collector as well.

[2020-08-11 21:18] dmuelle commented on #1833
Thanks @Yushan-Lin - when those event fields appear in Logstash Collector, do they retain the `ibm_audit_ ` prefix? I noticed that some of the other Logstash fields do not have an `ibm_` prefix, while their counterparts in the JSON reference list do

[2020-08-11 22:19] Rwalls1 commented on #1558
@nmittles Thanks, can you give an example of the type of generic variable you might be referring to?

[2020-08-12 00:44] donbourne commented on #1095
Replacing default HTTP access log JSON fields
->
Replacing default HTTP access log fields

---
the default JSON HTTP access log fields
->
the default set of HTTP access log fields

---
remove:
With this configuration, you can receive information that is otherwise not available in JSON logs, such as the remote user ID, request headers, and more. These logs can be used by log analysis tools, such as

[2020-08-12 01:22] Charlotte-Holt commented on #1880
@Rwalls1 When you get the chance, could you add this example to #894?

[2020-08-12 02:47] ManasiGandhi commented on #953
@chirp1 Thanks for your review comments. I worked on your edit suggestions. You can view the changes here https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/integration-testing.html

- [x]  Avoid links in the introductory paragraph.

- [x] In the opening paragraph you say true-to-production for Microshed testing, but later you say "similar to production" in "MicroShed Testing helps achieve de

[2020-08-12 12:38] dmuelle commented on #1903
Thanks @Yushan-Lin - I've made this change and rebuilt the draft. Did you test the doc? If so, and that was the only change needed, can you add the `doc tested` label to this issue? If other changes are needed, just let me know. Here's [the updated draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/analyzing-logs-elk.html)

 Thanks!

[2020-08-12 13:10] dmuelle commented on #631
Hi @acdemyers @brutif - I picked up the example you created for #2029 "Provide certificates from an environment variable or a file" and added to draft. We have recently changed our repo structure and that PR was aimed at a branch that is no longer active.

Here's the draft of the example: [Provide certificates from an environment variable or a file](https://draft-openlibertyio.mybluemix.net/docs/2

[2020-08-12 13:52] Yushan-Lin commented on #1833
Yup, they're the same.

[2020-08-12 13:56] Yushan-Lin commented on #1903
@dmuelle For 4. the liberty_filebeat6_7.yml has also been separated to liberty_filebeat6.yml and liberty_filebeat7.yml for Filebeat 6.x and Filebeat 7.x. I think that's all!

[2020-08-12 16:52] chirp1 commented on #953
Hi Manasi, based on our slack just now, would you investigate to do about the blog post on test containers?

[2020-08-12 17:45] Rwalls1 commented on #1570
@arkarkala Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/servlet-4.0.html

[2020-08-12 18:42] dmuelle commented on #1903
@donbourne I've made the changes per @Yushan-Lin test comments- is this doc ready for sign-off?

Here's [the updated draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/analyzing-logs-elk.html)

[2020-08-12 18:47] dmuelle commented on #2324
@ellenwyllie @mbroz2

I've updated the nav on `draft` per this issue- can you review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/javaeeClient-8.0.html

If it looks ok, I'll make a PR to staging and also backport to 20.0.0.7 and 8 as needed

[2020-08-12 19:18] brutif commented on #631
@dmuelle looks good, thanks! Might want to mention PEM format as that's widely understood, perhaps
The environmental variable must reference either a certificate in the base 64-bit format (PEM format)...

[2020-08-12 19:26] ellenwyllie commented on #2324
The toc title looks good on 20.0.0.9 and it would be great if you could backport to 20.0.0.7 and 20.0.0.8 as well.

Did you end up making the title change for that doc? The title is different for 20.0.0.9 so it looks like your change might still be there. I updated the python script so that that woulnd't be necessary.

[2020-08-12 19:45] dmuelle commented on #2324
Strange- those changes never went to draft and I dont see them in the git history for the doc. What should the title be?

Right now in the file on both draft and vNext its `Java EE 8 Application Client`

[2020-08-12 20:00] dmuelle commented on #631
@brutif thanks for reviewing- so in this sentence

`The environmental variable must reference either a certificate in the base 64-bit format (PEM format) or the path to a file that contains a base 64-bit encode or DER encoded certificate.`

do `the base 64-bit format` and `a base 64-bit encode` mean the same thing? If so, I'd like to use the same term in both cases

[2020-08-12 20:29] ellenwyllie commented on #2324
That is very strange. `Java EE 8 Application Client` is the correct title, but that's not what I see on the draft site for 20.0.0.9.
<img width="858" alt="Screen Shot 2020-08-12 at 3 25 08 PM" src="https://user-images.githubusercontent.com/22085207/90064195-07b6d980-dcb0-11ea-83bf-33b10dd4fcc8.png">

[2020-08-12 20:46] ManasiGandhi commented on #953
Hi Karen. I read through the Testcontainers blogpost https://openliberty.io/blog/2019/03/27/integration-testing-with-testcontainers.html and slacked Andrew. He said that the blogpost is not relevant to the topic and that it is an early precursor to Microshed.

[2020-08-12 20:50] chirp1 commented on #1304
@dmuelle @Charlotte-Holt
Hi! I looked over the [See also](https://github.com/OpenLiberty/docs/wiki/Stylistic-guidelines#see-also-link-sections) updates and discussed a few points about them with Pam.
- Instead of "In some cases, you can include the same link in the body of the topic and in the See also section, particularly if the linked topic is closely related or contains direct supporting info

[2020-08-12 21:26] ellenwyllie commented on #2324
I think it's an issue with the python script so I'll debug and fix it

[2020-08-12 23:49] dmuelle commented on #1304
@chirp1 @Charlotte-Holt - I've made these changes.

- made it defintive to only include a link in both the body and `See also` when you've just link to a section of another topic in the body and the entire topic in `See also`.
- Specified not to include introductory text with `See also` links.

As to hover text- I did a little research and hover text in general is not natively supported in Antora

[2020-08-13 04:09] chirp1 commented on #1570
@Rwalls1 Hi Richard, Have you figured out your technical review person and negotiated a return date for your topic? Would you document the info in this issue?

[2020-08-13 04:12] chirp1 commented on #2281
@Rwalls1 Hi Richard, have you negotiated a turn around time for your topic? Would you add to this issue when Emily is going to return your topic to you? Also, would you connect your PR's for this issue to this issue?

[2020-08-13 04:20] chirp1 commented on #213
@rwalls1 Hi Richard, Just to reiterate, in addition to putting questions in an issue for somebody, also slack the person as people don't necessarily see all the issue comments since they might be looking at many issues.  If you are still interested in discussing unnecessary words, would you slack me? Thanks!

[2020-08-13 14:58] Charlotte-Holt commented on #1891
@donbourne I know I slacked you, but just wanted to note it here :) This topic is ready for your review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/introduction-monitoring-metrics.html.

Like we talked about:
1. Need to answer the questions "What are the benefits of each?" and "Why would you use each?" in the intro paragraph.
2. Update the table to split out JSON and Prometheus.

[2020-08-13 15:02] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-13 16:13] donbourne commented on #1903
looks good!

[2020-08-13 16:19] dmuelle commented on #1903
@Charlotte-Holt can you provide peer review?

[2020-08-13 16:22] dmuelle commented on #1684
@Charlotte-Holt can you provide peer review

[2020-08-13 16:26] dmuelle commented on #1903
@lauracowen this is ready for your review- should be reviewed in tandem with #1684 as they are closely related

[2020-08-13 16:26] dmuelle commented on #1684
@lauracowen this is ready for your review- should be reviewed in tandem with #1903  as they are closely related

[2020-08-13 16:33] Rwalls1 commented on #1880
@Charlotte-Holt It's been added, @lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/appSecurity-3.0.html

[2020-08-13 17:23] chirp1 commented on #766
Hi Charlotte,

Nice job! Here are my comments:

I'm finding issues that could be resolved by following the peer review cheat sheet. Review the peer review cheat sheet and make corrections as appropriate: https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet
For example, fix any possessives.
Do not put a link in the openi

[2020-08-13 17:26] chirp1 commented on #766
Hi Charlotte,
Nice job! Here are my comments:
- I'm finding issues that could be resolved by following the peer review cheat sheet. Review the peer review cheat sheet and make corrections as appropriate:
- https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet
For example, fix any possessives.
- Do not put a link in the o

[2020-08-13 18:42] Charlotte-Holt commented on #766
- [x] I'm finding issues that could be resolved by following the peer review cheat sheet. Review the peer review cheat sheet and make corrections as appropriate:
https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet
For example, fix any possessives.
- [x] Do not put a link in the opening paragraph. The paragraph is meant

[2020-08-13 18:56] Rwalls1 commented on #1095
@donbourne Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-13 19:09] dmuelle commented on #631
Updated per Bruce's suggestion

[2020-08-13 19:27] Rwalls1 commented on #1570
@pmd1nh @pnicolucci Please review, are there any other config examples that are essential or important to include for this feature: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/servlet-4.0.html

[2020-08-13 19:40] dmuelle opened #2363 "acmeCA config examples"
Config examples for a new Liberty feature acmeCA (SEC 27)

- concept doc for the new feature is developed in #1699
- The feature issue is OpenLiberty/open-liberty#9017
- SME is @kristip17

from #1699

The acmeCA feature requires configuration. The minimum configuration requires the URL of the Certificate Authority provider and the name of one or more domains.

[code]

## Terms of Service ##
Some C

[2020-08-13 19:44] dmuelle commented on #1699
moving config examples to #2363

[2020-08-13 20:03] chirp1 commented on #953
Hi Manasi, I'm returning this issue so that you make your terms consistent. See my second bullet and the peer review cheat sheet. You seem to have made the two terms more concrete by adding "or integration tests that test your application in an environment similar to production." to the intro instead of making your terms consistent.

[2020-08-13 20:34] donbourne commented on #1095
looks good!

[2020-08-13 20:39] nmittles commented on #1558
@Rwalls1 I was thinking of something along the lines of `{https.port}`, but if we want to keep the default port of 9443 I'm OK with that as well.  I wasn't sure if we already had other URL's that either specified a variable or the actual port on this site.

[2020-08-13 21:22] dmuelle commented on #2324
Changes have all posted to vNext and 20.0.0.7 & 8. Keeping this open till they go to production with 20.0.0.9

[2020-08-13 21:25] Rwalls1 commented on #1095
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-13 21:45] mbroz2 commented on #2324
My recommendation is to close an issue once it has been delivered to vNext and/or backported to any necessary branches, as at that point the work is done and there is nothing more to do for that issue.
For reference, the development team closes their issues once it has been delivered/integrated into integration (or master) branches, and not once the product GAs every 4 weeks.

[2020-08-13 23:44] dmuelle commented on #2324
OK- point taken, closing this issue

[2020-08-13 23:44] #2324 closed, assigned to dmuelle

[2020-08-13 23:46] dmuelle commented on #2167
Fix delivered to vNext in #2361

[2020-08-13 23:46] #2167 closed, assigned to dmuelle

[2020-08-13 23:46] dmuelle commented on #2153
fix delivered to vNext in #2361

[2020-08-13 23:46] #2153 closed, assigned to dmuelle

[2020-08-13 23:46] dmuelle commented on #2101
fix delivered to vNext in #2361

[2020-08-13 23:46] #2101 closed, assigned to dmuelle

[2020-08-13 23:47] dmuelle commented on #1932
fix delivered to vNext in #2361

[2020-08-13 23:47] #1932 closed

[2020-08-13 23:49] dmuelle commented on #1877
fix for published docs delivered to vNext in #2361

fixes to draft docs delivered by writers owning the issues and confirmed

[2020-08-13 23:49] #1877 closed

[2020-08-13 23:49] dmuelle commented on #1304
fix delivered to vNext in #2361

[2020-08-13 23:49] #1304 closed

[2020-08-14 14:20] pmd1nh commented on #1570
I'm not aware of any explicit configure for the servlet 4.0 feature.  I reviewed the Servlet Spec 4.0, section "A.1 Changes Since Servlet 3.1" to verify if anything need to be configured.  There is none that is required from the server's perspective.

[2020-08-14 14:56] Rwalls1 commented on #1570
@billw1024 @wtlucy Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/servlet-4.0.html

[2020-08-14 16:36] Charlotte-Holt commented on #1841
This is on `vNext` after being validated on `staging`: https://staging-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/command/server-help.html

[2020-08-14 16:46] MaiHameed opened #2371 "Update Javadoc for MP Reactive Messaging"
Hello, I'm on the guides team and we're creating a new guide to add to our MicroProfile Reactive Messaging series. This guide covers message acknowledgement, and you can find the draft [here](http://lgdev1.fyre.ibm.com:4020/guides/microprofile-reactive-messaging-acknowledgement.html). In the guide we link to the OL docs to explain the default applied acknowledgement strategies as well as what the

[2020-08-14 16:59] lauracowen commented on #2371
@Charlotte-Holt @dmuelle  we'll need to find the code repo for the feature and raise a separate issue there. I can show you the problem though on one of our calls.

[2020-08-14 17:44] dmuelle commented on #1833
@donbourne @Yushan-Lin this draft is updated and ready for review:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/logstash-events-list.html#_supported_audit_events_and_their_audit_data

Per Don's comments above, I've tried to make this match the [JSON events reference list](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html) as closely as possible. Other th

[2020-08-14 18:25] billw1024 commented on #1570
That page seems a bit disjointed to me.  First it talks about enabling the Servlet 4.0 feature, and then it gives and example of how to change if the http protocol should be enabled for 2.0 or just use 1.1 only.  While the protocol is related to the Servlet 4.0 feature, I don't know really what the "Example" is suppose to be showing the reader.  If the intent is that one can manipulate servlet con

[2020-08-14 18:32] Yushan-Lin commented on #1833
@dmuelle for audit events it looks about the same except it's missing `threadId`

[2020-08-16 16:55] dmuelle commented on #1833
Thanks @Yushan-Lin, I've added `threadId` to all the audit tables.

[2020-08-17 12:59] dmuelle commented on #1833
I have a question re audit events and the Logstash collector feature.

In the introduction to this topic, we say
`The Logstash collector feature generates the following event types:`

`Audit events` is one of the listed types. Then, later, in the introduction to audit events (which I copied over from the JSON log events reference list), we say

`The Open Liberty Audit feature captures auditable ev

[2020-08-17 13:35] Charlotte-Holt commented on #1891
@donbourne I updated the topic and fixed the table to only include the metrics that are available by GET request: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/introduction-monitoring-metrics.html.

[2020-08-17 14:28] Yushan-Lin commented on #1833
@dmuelle The description is fine. Logstash Collector just sends Liberty events to the Logstash server. When audit feature is enabled, audit events are generated.

[2020-08-17 14:52] dmuelle commented on #2223
Hi @lauracowen @mbroz2
I've updated the draft to address your comments. I've also added new sections for `Updating an existing topic` and `Editing the docs navigation`, as well as an short overview of the branches and versioning.

## Laura's comments

- Authors section Step 4. Maybe add that they need to wait until the PR has been approved and merged before Step 5 **added approval info**
- "hwo th

[2020-08-17 14:54] ManasiGandhi commented on #953
@chirp1 I updated the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/integration-testing.html.

[2020-08-17 14:57] ManasiGandhi commented on #1289
@dmuelle I replaced ${server.config.dir} variable with an example with server1 in [#1289](https://github.com/openliberty/docs/issues/1289).

[2020-08-17 15:08] dmuelle commented on #1699
This feature is now targeted for 20.0.0.10

[2020-08-17 15:08] dmuelle commented on #2363
This feature is now targeted for 20.0.0.10

[2020-08-17 15:35] emilytee commented on #2281
Looks good.  Minor typos:

SECURITY_Member_MGMT reference should be SECURITY_MEMBER_MGMT (all upper case)

SECURTIY_AUTHN_TERMINATE should be SECURITY_AUTHN_TERMINATE (ITY vs TIY)

JMX_MBEAN_Attributes event should be JMX_BEAN_ATTRIBUTES even (all upper case)

[2020-08-17 19:11] Charlotte-Holt commented on #1567
First draft is at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/cloudant-1.0.html. Working with @nmittles to flesh out the example on validating database connections.

[2020-08-17 20:11] Rwalls1 commented on #2281
@emilytee Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/audit-log-events-list.html

[2020-08-17 20:20] emilytee commented on #2281
One  more thing:

SECURITY_JMS_AUTHN
You can use the SECURITY_JMS_AUTHENTICATION event to capture the audit information from JMS authentication. The following table provides the fields for the SECURITY_JMS_AUTHENTICATION event and a description of each field.

It should say SECURITY_JMS_AUTHN, not SECURITY_JMS_AUTHENTICATION

[2020-08-17 20:26] ManasiGandhi commented on #1290
@dmuelle I replaced ${server.config.dir} variable with server1.

[2020-08-17 20:30] ManasiGandhi commented on #1290
@lauracowen I worked on your suggestions

- [x] The wrong language is specified for the XML source code example (in the asciidoc source it says "java"). Can you fix that so that the syntax highlighting displays correctly in the example?

- [x] I think the wording of "by using" in the first sentence is a bit odd because it's not configured by using Hazelcast as the provider. It's actually showing w

[2020-08-17 20:59] dmuelle commented on #1699
@kristip17  I have a question about the "monitoring via HTTPS section"- it says

`The content returned from these HTTPS endpoints is for informational purposes only and should not be utilized or depended on problematically.`

 how is this info useful? Are most users likely to need to know it? Are there other more dependable ways to get it?
 I'm a little wary of documenting something that we are al

[2020-08-17 21:52] chirp1 commented on #766
Hi Charlotte,
Almost there! I have a few more comments.
- Work Open Liberty Operator into the opening paragraph since it is a main discussion point in your topic.
- For ",,,,including auto-scaling, service binding, and exposing metrics to Prometheus.", I don't think these are all level 5 capabilities, but the sentence seems to imply that they are. Rework to make them all level 5 capabilities. For

[2020-08-17 23:43] ManasiGandhi commented on #676
@lauracowen here is the draft with the built changes https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/openidConnectServer-1.0.html.

I went through each of the checked-off steps above and they're visible in the built file.

[2020-08-17 23:55] ManasiGandhi commented on #891
@lauracowen I worked on your comments. I've pasted an initial diagram for your reference.

![image](https://user-images.githubusercontent.com/34348929/90455184-6d95cd80-e0c3-11ea-9e13-6694aeef10ac.png)

- [x] There need to be examples and it really needs some illustration to visually show what's needed (as I described above). The banking example I gave may not be the best idea but we need somethin

[2020-08-18 09:49] lauracowen commented on #2223
"To write and publish content in Open Liberty Docs, you work with only the following three branches" - isn't it four branches? Or three plus your own working branch per issue? I like the summary in general but it reads like the author writes the doc directly in `draft`.

Otherwise, I think it looks good. Be interesting to see how the nav branches approach goes.

[2020-08-18 09:51] lauracowen commented on #1880
Ok, looks good (as far as I understand it). Thanks

[2020-08-18 10:33] lauracowen commented on #1095
Good start and nicely written but needs to be edited down to match the style of these topics:

"Logstash Collector configuration" example:
- Is this the minimal example required for this feature? If not, what would be and could you insert it as a separate example before this one? If it is, just call it "Basic configuration" (or whatever terminology we've used elsewhere). The whole page is about "L

[2020-08-18 11:00] lauracowen commented on #571
Hi Manasi,

I just happened to look for this topic to show as an example to someone else but I don't see any examples in this topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/mpJwt-1.1.html Am I missing something or has something built incorrectly?

[2020-08-18 13:15] lauracowen commented on #891
- Can you move this topic into the Development section of the navigation instead of the Security section? This is the only security-related topic that will be in the Development section (all the other security-related topics are for more of an ops audience).
- First paragraph, I think "to prevent unauthorized access to your application" is the reason for the first sentence in that paragraph, not t

[2020-08-18 13:36] Rwalls1 commented on #2281
@emilytee Thanks, I've made that update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/audit-log-events-list.html#_security_jms_authn

[2020-08-18 13:58] Charlotte-Holt commented on #766
@chirp1 I made the following updates:

- [x] Work Open Liberty Operator into the opening paragraph since it is a main discussion point in your topic.
- [x] For ",,,,including auto-scaling, service binding, and exposing metrics to Prometheus.", I don't think these are all level 5 capabilities, but the sentence seems to imply that they are. Rework to make them all level 5 capabilities. For the non-l

[2020-08-18 14:55] dmuelle commented on #2223
@lauracowen good point- I revised the branches section so it starts the writers personal branch

https://github.com/OpenLiberty/docs/tree/draft

[2020-08-18 14:59] lauracowen commented on #571
I tracked down the problem. The include statements that pull in the examples.adoc file are not in the MP JWT 1.1 version of the feature doc, only in the MP JWT 1.0 version. This is probably (I'm guessing?) because the new gendoc version was added after you started work on this? Whether or not that's what happened here, it will keep happening with this and other features. We could do with some auto

[2020-08-18 15:04] lauracowen commented on #2223
looks good

[2020-08-18 15:40] dmuelle commented on #1699
@kristip17 please review the intial draft of this topic:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/acme-cert-management.html

I've got the `HTTP Monitoring` and `Troubleshooting` sections commented out for the moment. I need to understand the HTTP monitoring info a little better and it's possible the Troubleshooting info will go into a planned OL Troubleshooting page and just be lin

[2020-08-18 15:42] lauracowen commented on #1684
- "Logstash collector feature" -> "Logstash Collector feature"? (assuming the feature name is capitalised consistently...)
- Where it says "If your OL server is deployed in a managed environment..."
  - Might that agent also be Filebeat?
  - Is it worth having a second sentence saying something like "see the doc for that agent"? (sounds a bit rubbish so not sure)
  The reason I'm asking is that th

[2020-08-18 15:45] lauracowen commented on #1903
Both look good - I think the task topic structure looks nice and clean now.

- see #1684 for some specific comments which probably all apply here too.

[2020-08-18 16:42] lauracowen commented on #1840
- You don't need to trademark Java in any of the topics/guides etc (we handle it at the website level).
- Don't need to spell out JNDI in full in the first example's heading - it's already spelt out further up the topic.
- For the individual examples, I'd like to avoid providing the detail in the opening sentences - keep it focused on what/why rather than how until you get to the example itself. S

[2020-08-18 17:13] lauracowen commented on #1118
Thank you for rescuing/re-creating all the missing updates to this! They look good, thanks for applying all the updates to the rest of the topic as well as this OpenShift bit - it looks better now.

Nice intro to the OpenShift section.

Some comments:
- Can you remove "To configure the socialLogin-1.0 feature, specify the okdServiceLogin element." - that goes without saying. Just say "The followin

[2020-08-18 17:18] lauracowen commented on #1290
Okay, one last change (sorry, I should've caught this before):

"The library element defines a library that points to the location of your JCache provider. The JCache provider in this example is Hazelcast, which is located in the hazelcast.jar library. " -> "The `library` element specifies that the JCache provider to use is Hazelcast, which is located in the `hazelcast.jar` library. "
(Avoid makin

[2020-08-18 17:33] lauracowen commented on #676
localstore example:
- "However, if you want to reconfigure the server" -> "However, if you reconfigure the server" (just a bit more direct about what happens)
- I think this explanation under the example needs re-ordering as it talks about databases in the localstore example section, whereas the next example section is what focuses on databases.
  - Move "In the example,..." paragraph to be the fi

[2020-08-18 17:54] dmuelle commented on #1799
per comments in #1840 reopening this issue

[2020-08-18 18:54] dmuelle commented on #1684
Thanks @lauracowen - I've updated the draft

- "Logstash collector feature" -> "Logstash Collector feature"? **fixed**
- Where it says "If your OL server is deployed in a managed environment..."
**This is a bit tricky. Trying to cover three possible situations:**
1. your server is in a K8 cluster or similar. Your logging data is collected and sent to ELK at the cluster level, you don't need the Lo

[2020-08-18 18:57] dmuelle commented on #1903
Thanks- I've updated this draft with all the [relevant fixes from #1684](https://github.com/OpenLiberty/docs/issues/1684)

[2020-08-18 19:13] dmuelle commented on #1840
Thanks @lauracowen , I've updated the draft:

- You don't need to trademark Java **fixed**
- Don't need to spell out JNDI in full in the first example's heading  **fixed**
- For the individual examples, I'd like to avoid providing the detail in the opening sentences  **reworked/focused the example descriptions**
- I'm not sure you need the second paragraph **removed**
- I think this URL example sh

[2020-08-19 09:36] lauracowen opened #2408 "Provide reference topic of XML schema for server.xml file"
(might need to break this out into separate issue per file schema)

XML schemas are the format in which the structure of a valid XML file is defined. So it's not an example XML file but the context of an XSD file.

We don't currently document this in the KC but @NottyCode  suggested it might be useful (for server.xml and other config files).

According to this blog post, it would be useful to peop

[2020-08-19 12:13] lauracowen commented on #571
Thanks for fixing. Signing off.

[2020-08-19 12:16] lauracowen commented on #1840
Looks good, thanks. I'll sign off but some minor typos below:

- Typo in second example "The following examples shows how"
- you've still got a "by calling the `lookup` method" in the first example (second instance in the same example is updated).
- "method returns the value the" - should there be an "of" in there?

[2020-08-19 12:18] lauracowen commented on #1684
Looks good, thanks. Signing off.

[2020-08-19 12:27] lauracowen commented on #2281
Thanks for reconstructing this topic. It's looking good.

- Can you put something like " (CADF format)" at the end of this topic title?
- And append "-cadf" to the filename before ".adoc"? So it's clear which topic this is.
- Can you try sync'ing up the introduction to the [JSON version](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html#_supported_audit_events_and_t

[2020-08-19 12:51] Rwalls1 commented on #1095
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-19 13:13] dmuelle commented on #1903
requesting peer review from @Charlotte-Holt

[2020-08-19 13:14] dmuelle commented on #1684
requesting peer review from @Charlotte-Holt

[2020-08-19 13:32] Charlotte-Holt commented on #1567
As discussed with @nmittles and @aguibert, the example from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_couchdb_configdriver.html isn't a critical example that we'll include in the feature config. Need to determine whether the info from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform

[2020-08-19 13:49] Charlotte-Holt commented on #1880
@ManasiGandhi I think you have #1964, which is the last feature that needs this example added. Could you add it when you start working on the JWT SSO feature config?

[2020-08-19 14:23] ManasiGandhi commented on #1880
@Charlotte-Holt Sure. Will do.

[2020-08-19 14:43] dmuelle commented on #1840
Fixed those typos- sorry about that.

[2020-08-19 14:43] dmuelle commented on #1840
Requesting peer review from @Rwalls1

[2020-08-19 15:55] donbourne opened #2412 "incorrect logging format names"
Fixes needed for https://openliberty.io/docs/20.0.0.8/log-trace-configuration.html ...

"The required format for the console. Valid values are basic or json format. By default, consoleFormat is set to basic."
->
"The required format for the console. Valid values are dev, simple, or json format. By default, consoleFormat is set to dev."

"The required format for the messages.log file. Valid values

[2020-08-19 16:33] chirp1 commented on #953
Hi Manasi,

- This one looks like it still needs to be done: For the "Why integration testing" section, you say "....components, but take longer to set up and configure.". What does it take longer than?.  (I slacked Manasi. She is making updates.)
- You still seem to have "true-to-production" and "similar to production". As mentioned in the peer review cheat sheet, don't say a term two different w

[2020-08-19 18:24] ManasiGandhi commented on #1118
@lauracowen Thanks for your review. I worked on your suggestions:

- [x] Can you remove "To configure the socialLogin-1.0 feature, specify the okdServiceLogin element." - that goes without saying. Just say "The following example shows how to configure the Social Media Login feature to use OpenShift service accounts as a single sign-on provider:" (if that's technically accurate way to say it)- I ch

[2020-08-19 18:27] ManasiGandhi commented on #1290
@lauracowen I worked on your edit suggestion:

- [x] "The library element defines a library that points to the location of your JCache provider. The JCache provider in this example is Hazelcast, which is located in the hazelcast.jar library. " -> "The library element specifies that the JCache provider to use is Hazelcast, which is located in the hazelcast.jar library. "

(Avoid making generic/abst

[2020-08-19 18:39] Charlotte-Holt commented on #1567
@lauracowen https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/feature/cloudant-1.0.html is ready for your review!

[2020-08-19 19:03] dmuelle opened #2417 "Config examples for bells-1.0"
Need to work with a developer to identify 2-3 common configuration examples for [Basic Extensions using Liberty Libraries 1.0](https://www.openliberty.io/docs/20.0.0.8/reference/feature/bells-1.0.html).

- possible SME's : @una-tapa , @tjwatson
- also investigate bells-2.0 whic h is in the code but not documented
- see user comment from #2284 (Though that particular task will be developed in anoth

[2020-08-19 19:09] dmuelle opened #2418 "Developing a custom user registry with BELLS"
rework [this unpublished wasDev article](https://github.ibm.com/was-WASdev/WASdevnet-website/blob/master/custom-user-registry-bells.html) into an Open Liberty task topic for the Security section. Needs to be verified and tested. SME: @una-tapa

[2020-08-19 19:20] dmuelle opened #2419 "Configuring class loaders and libraries"
Moving information over from https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_classloader.html

Work with the SME to determine what is most relevant. @andymc12 says all the information here is up to date and would be good to bring over. Need to determine the best format, one or more task topics or a conceptual overview.

- see user comment from #1439  (T

[2020-08-19 19:38] andymc12 commented on #1439
Hi @ggam,

It sounds like you are mostly on the right track.  In your server configuration (server.xml, etc.) you should define one or more `library` elements to include your Hibernate JAR(s) and Jaeger JAR(s).  Both elements should include an `id` attribute for you to reference from other configuration elements (like `jpaContainer`) and the `application` element(s).  For example:
[code]

The diff

[2020-08-19 19:47] dmuelle commented on #2419
- https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_classloader_use_lib.html | In containers, always package libraries with the app.

-https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_classloader_shared_libs.html | In containers, wouldn't do this.
-https://www.ibm.com/support/kn

[2020-08-19 20:41] Rwalls1 commented on #1558
@nmittles Please review, I've added the `{https.port}` to the endpoints and have tried to generalize some of the lines in the example to make them more readable: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/testing-database-connections.html

[2020-08-19 21:23] ggam commented on #1439
Thanks a lot @andymc12! It definitely made things clearer.

So to sum up, regarding `+third-party`:
* It only applies to OSGi bundles (Liberty features)
* It only adds visibility to some APIs specifically defined by Liberty as visible. It doesn't make *every* third party class visible to the referring classloader.

~Currently the documentation shows the Standard, IBM and Stable APIs, but not these

[2020-08-19 21:28] Rwalls1 commented on #1570
@lauracowen Do you have a suggestion on how to best approach identifying which examples to include for this feature?, based on the feedback provided there doesn't appear to be a basic/essential configuration and the current included examples don't seem to be valuable as currently presented.

[2020-08-19 21:36] ggam opened #2422 "Host IBM API/SPI JavaDoc"
Looking at the documentation I accidentally found some features export IBM APIs and also SPIs (that I guess would be used with `bell`s) that look interesting. See https://openliberty.io/docs/20.0.0.8/reference/feature/servlet-4.0.html#_spi_packages_provided_by_this_feature for an example.

However, the JavaDoc for those classes is not available on openliberty.io. Google takes me to ibm.com where s

[2020-08-19 22:48] donbourne commented on #1891
@Charlotte-Holt , here are my comments...

---

This part needs to also talk about the server component's metrics:

MicroProfile Metrics provides an API for developers to add metrics to their applications. Metrics come in a variety of forms, including counters, gauges, timers, histograms, and meters. You can access MicroProfile Metrics by enabling the MicroProfile Metrics feature. The MicroProfile

[2020-08-20 09:34] lauracowen commented on #1570
@billw1024 The aim is to enhance the generated topic about the feature with examples of commonly needed configuration. However, if there is no configuration needed (as @pmd1nh's comment suggests), we can leave it out from this page.

According to the [Liberty KC page](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/cwlp_servlet40_http2.html)

[2020-08-20 12:05] lauracowen commented on #2371
I've raised an issue for the MP developers here: https://github.com/eclipse/microprofile-reactive-messaging/issues/111

@Charlotte-Holt @dmuelle I think I'll put this in the Icebox so we can check back on it at some point (closing it would mean the whole thing is out-of-mind). Unless you have a better way to track such things?

[2020-08-20 13:26] lauracowen commented on #1095
Thanks. This is looking much more concise now.

- I'm still not sure that the first example is actually a basic configuration though. The attributes look like optional changes to the values (eg maxEvents) and the description says "you can change", implying it's not necessary and that the defaults are probably fine. Can you check with the SME what lines can be removed from the config to make it as

[2020-08-20 13:27] lauracowen commented on #1290
Great, thanks. Signing off.

[2020-08-20 13:29] lauracowen commented on #1118
Ah I understand now. Thanks for the updates. Signing off now.

[2020-08-20 13:51] Rwalls1 commented on #2281
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/audit-log-events-list-cadf.html#

[2020-08-20 14:49] Charlotte-Holt opened #2426 "Update the contributing doc"
Update https://github.com/OpenLiberty/docs/blob/vNext/CONTRIBUTING.adoc with the new branch structure.

[2020-08-20 14:53] dmuelle commented on #1699
Slack discussion:

Hi Krisiti- here's an initial draft of the concept topic:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/acme-cert-management.html
I've got the HTTP Monitoring and Troubleshooting sections commented out for the moment. I need to understand the HTTP monitoring info a little better and it's possible the Troubleshooting info will go into a planned OL Troubleshooting page a

[2020-08-20 15:03] Rwalls1 commented on #1095
@donbourne Is there a more basic configuration for this feature?

[2020-08-20 15:49] Charlotte-Holt commented on #1684
@dmuelle This looks good! Just a few comments:

## Peer review

- Global question (and possibly something for OL style guidelines) - Should sentences that lead into examples always end in a colon? Meaning should, "Customize the server name, password, and subject as needed." end in a colon? Or just sentences like, "Use the following command to install Logstash Collector feature if it is not already

[2020-08-20 16:10] Charlotte-Holt commented on #1903
@dmuelle Also looking good! Just a few comments:

## Peer review

- Global question (and possibly something for OL style guidelines) - Should sentences that lead into examples always end in a colon? Meaning should, "Customize the server name, password, and subject as needed." end in a colon? Or just sentences like, "Use the following command to install Logstash Collector feature if it is not alrea

[2020-08-20 16:43] dmuelle commented on #2412
This page is updated on draft to fix this bug

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/log-trace-configuration.html

changes will go to production with the 20.0.0.9 release

[2020-08-20 16:50] dmuelle commented on #1699
@kristip17 the draft is updated per your comments from slack:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/acme-cert-management.html

- fixed reference to LetsEncrypt
- Added statement about minimum feature config
- added section for getting account and cert details from the API
- restored the "Troubleshooting" section. Not sure that it will go into this particular doc but keeping it h

[2020-08-20 16:55] donbourne commented on #1095
@Rwalls1 , the minimal config would be:

[code]

that would just enable the "message" source.

[2020-08-20 17:11] Charlotte-Holt commented on #1891
@donbourne Thanks! I've addressed your feedback in [the updated draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/introduction-monitoring-metrics.html).

[2020-08-20 18:35] donbourne commented on #1891
looks good!

[2020-08-20 19:05] billw1024 commented on #1570
@lauracowen , @Rwalls1
we do explain http/2 and sevlet 3.1 and 4.0 configuration here:
https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_config_servlet40.html
and here:
https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/cwlp_servlet40_http2.html

no one I know of uses servlet 2.0 or 1.1 and I don't know if we hav

[2020-08-20 19:22] Rwalls1 commented on #1095
@donbourne Is the "message" source the default source for the feature or should there be an additional line that specifies the source?

[2020-08-20 19:36] donbourne commented on #1095
"message" is the default value for source.

[2020-08-20 19:45] dmuelle commented on #1903
Thanks @Charlotte-Holt
## Peer review fixes

- Global question (and possibly something for OL style guidelines) - Should sentences that lead into examples always end in a colon? Meaning should, "Customize the server name, password, and subject as needed." end in a colon? Or just sentences like, "Use the following command to install Logstash Collector feature if it is not already installed on your

[2020-08-20 19:47] dmuelle commented on #1684
Thanks @Charlotte-Holt
## Peer review fixes

- Global question (and possibly something for OL style guidelines) - Should sentences that lead into examples always end in a colon? Meaning should, "Customize the server name, password, and subject as needed." end in a colon? Or just sentences like, "Use the following command to install Logstash Collector feature if it is not already installed on your

[2020-08-20 19:55] #1308 closed

[2020-08-20 19:56] lauracowen commented on #1570
@billw1024 We're moving info out of the KC format to the Open Liberty docs format. So if that's important info, we need to doc it in the Open Liberty docs. However, from the point of view of this particular topic that @Rwalls1 is working on, it seems we don't need any additional config examples (beyond enabling the feature which is already in the generated topic). The KC task topic you mention doe

[2020-08-20 20:01] #2412 closed, assigned to dmuelle

[2020-08-20 20:13] dmuelle commented on #2223
Is this ready to go to staging and vNext branches?

[2020-08-20 20:40] dmuelle commented on #1699
From Slack:

Hi David, here are some comments (I know some of it's my initial wording).
- In "ACME and Open Liberty" -- Maybe move "The acmeCA client feature (link pending) can request certificate" to the end or after "To avoid problems with self-signed certificates"
- After "The renewBeforeExpiration property specifies the amount of time before a certificate expires that the server requests a new

[2020-08-21 08:59] lauracowen commented on #2223
sure

[2020-08-21 16:19] Rwalls1 commented on #1840
## Peer review
The examples look good, I just have a couple comments:
- I think the first paragraphs for both sections that start with "The following...." could be expanded a bit more to provide more context. The current descriptions do a good job of explaining what the examples present but could also provide a bit more detail about why those particular examples are important. So I think in both s

[2020-08-21 16:59] dmuelle commented on #2223
The README is now updated on staging and vNext

https://github.com/OpenLiberty/docs

[2020-08-21 16:59] #2223 closed, assigned to dmuelle

[2020-08-21 17:29] dmuelle commented on #1699
Hi @kristip17

I've updated the doc to address these comments (see below) but I have 2 quick questions

1. In the [Acme CA Account management](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/acme-cert-management.html#_acme_ca_account_management) section it starts out talking about the "account key file",  but then switches to talking about "the account private key". I'd like to clarify thi

[2020-08-21 17:32] dmuelle commented on #1699
Edits from SME review:
- In "ACME and Open Liberty" -- Maybe move "The acmeCA client feature (link pending) can request certificate" to the end or after "To avoid problems with self-signed certificates" **fixed**

- After "The renewBeforeExpiration property specifies the amount of time before a certificate expires that the server requests a new certificate." Maybe add something like "The default c

[2020-08-21 19:48] kristip17 commented on #1699
It's the same thing. I think we can just drop "private" in this context.

Would this be better -- this is sort of a double error scenario (failed to fetch the certificate and hitting a bug in java):

If the server cannot fetch a certificate, an empty keystore is created. With older versions of Java, an empty keystore can cause an exception. Examples of this error include the following messages:
(e

[2020-08-21 21:33] donbourne commented on #1833
@dmuelle , here are my answers to your questions...

## event types

The "log" part is somewhat redundant.  I think it would be cleaner to just drop it from all the events, as follows:

JSON:

- Message events
- Trace events
- First failure data capture (FFDC) events
- HTTP access events
- Audit events

logstash collector:

- Message events
- Trace events
- First failure data capture (FFDC) events

[2020-08-21 22:22] ManasiGandhi commented on #953
@chirp1 I worked on your edit suggestions:

- [x] This one looks like it still needs to be done: For the "Why integration testing" section, you say "....components, but take longer to set up and configure.". What does it take longer than?. (I slacked Manasi. She is making updates.)

- [x]  You still seem to have "true-to-production" and "similar to production". As mentioned in the peer review chea

[2020-08-23 17:00] dmuelle commented on #1840
Thanks for reviewing @Rwalls1, draft is updated to address your comments

- added a sentence to each example description to provide content on the value/utility of the  config
- fixed typo

[2020-08-24 14:23] dmuelle commented on #1699
Thanks @kristip17, I've updated the draft to reflect your comments

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/acme-cert-management.html

- removed "prviate" from references to the account key in the account management section
- revised explanation of empty keystore errors in Troubleshooting section.

I'm going to work on getting  the configuration examples published to draft so you

[2020-08-24 14:43] dmuelle commented on #1833
Thanks Don. I've updated the draft to reflect your answers. Is this doc ready for sign-off or does it needs further edits?

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/logstash-events-list.html

[2020-08-24 17:56] andymc12 commented on #1439
Hi @ggam - sorry for the slow response, I was out on PTO a bit last week.

I don't know too much about the `jpaContainer` or `jsfContainer` features.  The `jsonbContainer` is intended for the same use case that you originally described - "I want to use JSON-B, but I prefer a different implementation than the one Liberty ships with by default".  So in that case, you could, for example, tell Liberty

[2020-08-24 20:09] billw1024 commented on #1570
In the new document referenced, I don't think mentioning HTTP/2 is necessary.  The user can configure for Servlet 4.0 or for Servlet 3.1,  the fact that Servlet 3.1 does Http/1.1 by default,  and that Serlvet 4.0 does Http/2 (which will also handle http/1.1 traffic) is a detail that most readers need not be aware of.

[2020-08-24 22:42] aguibert opened #2460 "Kerberos authentication with JDBC data sources"
In OpenLiberty we are adding a new authentication mechanism for JDBC datasources which can use the Kerberos protocol. We need to add a page that discusses the various config options and show what the minimum required and recommended configuration is.

OpenLiberty epic: https://github.com/OpenLiberty/open-liberty/issues/9008

[2020-08-25 12:07] lauracowen commented on #1570
@billw1024 Ah cool - thanks, that's the kind of info that's really helpful to know - we'd like to avoid overloading readers with info that they don't really need to be aware of. Sounds like that topic that @Rwalls1 is working on doesn't need any config examples then.

Beyond this topic, regarding my question about feature combination conflicts, is there anything we need to do:

[2020-08-25 15:48] chirp1 commented on #953
Hi!
We're almost done! Here are my latest comments:
- Change "... helps you write integration tests for your application ..." back to "...  helps you write true-to-production integration tests for your application ...".
- For "... configure, as compared to unit tests.", reword to write more concisely. Specifically, reword the phrase by substituting "than" for "as compared to" so that it reads as "

[2020-08-25 20:15] billw1024 commented on #1570
@lauracowen I don't know of any other information to add to the "combining_features" section.

[2020-08-25 22:37] ManasiGandhi commented on #953
@chirp1 I worked on your review comments.

- [x] Change "... helps you write integration tests for your application ..." back to "... helps you write true-to-production integration tests for your application ...".

- [x] For "... configure, as compared to unit tests.", reword to write more concisely. Specifically, reword the phrase by substituting "than" for "as compared to" so that it reads as ".

[2020-08-26 08:55] lauracowen commented on #1570
@billw1024 Okay, that's fine. Thanks for your help with this.

@Charlotte-Holt Could you update the KC spreadsheet to note that everything relevant's taken from those KC topics (maybe link to this issue for details?).

@Rwalls1 I think you're done with this one now. :)

[2020-08-26 14:34] dmuelle commented on #951
revised the draft  to reflect Graham's comments from email thread:

- worked in material from [the white paper](https://ibm.ent.box.com/notes/670823878179?s=7qt5t7e6r3rmsuthkqw5hof5gjwtzp3v)
- removed "second order" sections ('mix and match features', 'separate code from config', and 'customize logs')

[2020-08-26 14:36] dmuelle commented on #1694
Make the following improvements to [Log and Trace configuration: JSON logging](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/log-trace-configuration.html#_json_logging)

- [x] revise section introduction

- [x] remove option to configure JSON logs in server.xml

- [x] provide more information on the value of "Configuring JSON field names"

- [x] Add section for "Adding custom fields to J

[2020-08-26 14:43] dmuelle commented on #995
closing this issue as new task for developing a custom user registry is being developed in #2418

[2020-08-26 14:43] #995 closed

[2020-08-26 14:47] donbourne commented on #1833
Hi @dmuelle , I have a few cleanup items to request...

in ffdc section (likely applies to this topic and the json reference topic):

The message from the log record
->
The message from the exception that triggered the event

The class that emitted the FFDC entry
->
The class that emitted the FFDC event

The exception that was reported in the FFDC entry
->
The exception that was reported in the FF

[2020-08-26 14:47] dmuelle commented on #2284
closing this issue, work for a new task topic on this process is being tracked in #2418

[2020-08-26 14:48] dmuelle commented on #2419
see discussion in #1439 for more info

[2020-08-26 14:50] chirp1 commented on #766
Hi!
I have a few more comments:
- The first sentence uses "application" and the second "applications". Let's make them consistent and use "applications in the first sentence.
- How about if for " single-sign on (SSO) to external providers." you link to https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/single-sign-on.html instead of https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/refe

[2020-08-26 14:58] ManasiGandhi commented on #676
@lauracowen I worked on your edit suggestions:

- [x]  "However, if you want to reconfigure the server" -> "However, if you reconfigure the server" (just a bit more direct about what happens)

- [x] I think this explanation under the example needs re-ordering as it talks about databases in the localstore example section, whereas the next example section is what focuses on databases.

- [x] Move "I

[2020-08-26 15:09] Rwalls1 commented on #1570
@lauracowen Thanks, I have removed the examples. I will close the issue

[2020-08-26 15:18] aguibert commented on #2460
The JDBC-specific bits of this documentation is pretty minimal, but I'm having to explain the generic Kerberos bits because I don't think we have that documented yet (in OL). Perhaps it would be better to repurpose this task for generic Kerberos documentation, and then just have a section on JDBC Datasources? @lauracowen WDYT?

In any case, here is an initial draft of the proposed content, assumin

[2020-08-26 15:20] chirp1 commented on #953
One last change:
- Remove "the" from "...to support the development and production parity in testing.".

[2020-08-26 16:07] Charlotte-Holt commented on #766
@chirp1 Thx! Changes are in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/deployment-openshift.html.

- [x] The first sentence uses "application" and the second "applications". Let's make them consistent and use "applications in the first sentence.
- [x] How about if for " single-sign on (SSO) to external providers." you link to https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/sin

[2020-08-26 16:16] chirp1 commented on #1570
The topic hasn't been through editorial review. I'm reopening it.

[2020-08-26 16:20] Rwalls1 commented on #1570
@chirp1 This topic will not require an editorial review as examples will not be included for this feature after further assessment that is mentioned in the discussion above.

[2020-08-26 16:21] chirp1 commented on #1570
OK

[2020-08-26 16:21] #1570 closed

[2020-08-26 16:43] ManasiGandhi commented on #953
@chirp1 I worked on your review comment.

- [x] Remove "the" from "...to support the development and production parity in testing.".

[2020-08-26 16:54] dmuelle commented on #210
Hi @Rwalls1 - re JSON events list: please see the following comments from @donbourne in #1833- need minor edits to keep these two docs consistent

- [remove the word "log" from anchor list and section titles](https://github.com/OpenLiberty/docs/issues/1833#issuecomment-678526554), eg `Message log events`->`Message events`
- [update FFDC events despcriptions](https://github.com/OpenLiberty/docs/iss

[2020-08-26 17:52] chirp1 commented on #953
The update looks good. We are done. Closing.

[2020-08-26 17:52] #953 closed

[2020-08-26 18:28] chirp1 commented on #766
Hi!
The updates for the first and third bullets look good. As we just now discussed about linking to Richard's SSO topic, that one will be live after your topic goes live. So, you'll use the SSO feature link for now and then open a defect to link to Richard's SSO topic when it goes live.

[2020-08-26 18:31] dmuelle commented on #1833
Hi @donbourne - I've made these edits

- fixed ffdc descriptions as specified
- reordered common fields so they are the same in every table
- left a comment for @rw2513 in #210 to make the edits to the JSON ref list that you mentioned in this issue

Let me know if anything further is needed, thanks.

[2020-08-26 19:23] Charlotte-Holt commented on #766
@chirp1 Got it! Updated the link for the second bullet point in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/socialLogin-1.0.html.

[2020-08-26 20:13] tjwatson commented on #2417
I think a good example to document would be a user provided implementation of SerlvetContextInitializer as discussed in https://stackoverflow.com/questions/35379315/create-a-servlet-filter-websphere-liberty-profile

Another possibility would be a customer UserRegistry, but I am not sure that is supported by liberty or not.

[2020-08-26 23:32] dmuelle commented on #2417
Thanks @tjwatson - we are actually working on developing a task topic for creating a custom user registry with bells in #2418 but any config-specifc examples for thatcher’s  task will go on the feature page we're developing here.

[2020-08-27 10:37] lauracowen commented on #2460
@aguibert I think you’re right that we should really just have something focused on Kerberos that introduces why and how (the basic <kerberos> config element) you’d use Kerberos. Then that could mention JDBC and SPNEGO use of it and link out to your config examples in JDBC feature doc and in SPNEGO feature doc.

BTW, what is the Kerberos Constrained Delegation for SPNEGO 1.0 feature about? Should

[2020-08-27 11:29] Rwalls1 commented on #1095
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/logstashCollector-1.0.html

[2020-08-27 12:47] Rwalls1 commented on #210
@dmuelle Thanks, I've made those updates: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/json-log-events-list.html

[2020-08-27 13:01] Charlotte-Holt opened #2481 "Update link in the OpenShift topic"
Regarding [the OpenShift topic](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/deployment-openshift.html) - In the sentence "This Operator also offers other production-grade capabilities, including simple configuration of persistent or advanced storage and the ability to delegate single-sign on (SSO) to external providers", the link to the Social Media Login feature needs to be updated to

[2020-08-27 13:02] Charlotte-Holt commented on #2481
#766

[2020-08-27 13:02] Charlotte-Holt commented on #766
#2481

[2020-08-27 13:06] utle commented on #2460
@lauracowen @aguibert We should have something on Kerberos to introduces why and how then what Liberty support such as JDBC and SPNEGO .. (soon will be LDAP) and link out to detail of JDBC and SPNEGO articles.

Kerberos Constrained Delegation should be mention in the Kerberos article.

BTW,  We have a general Kerberos/SPNEGO article in the infor center.

[2020-08-27 15:03] donbourne commented on #1833
spotted a couple more things...

- HTTP access event table 4 title should be - Table 4. HTTP access event fields
- HTTP access event table missing field requestFirstLine - First line of the request

[2020-08-27 15:18] chirp1 commented on #766
The updates look good! Closing.

[2020-08-27 15:18] #766 closed

[2020-08-27 16:09] ggam commented on #1439
Thanks @andymc12, it definitely helps. A lot. I didn't know about those fat tests, but they are a true gem. I can gather a lot of config examples that are still undocumented from them. Absolutely fantastic.

I've looked a little more at the `jsfContainer` and `jpaContainer` features and I've seen the JSF one is intented to bundle the implementation on the WAR. The JPA container isn't (fat) tested

[2020-08-27 16:33] ggam commented on #2417
That's probably the most important part, knowing when you need a feature and when a BELL is enough. All the ibm.com documentation use features, which is overkill for me. It wasn't until these days that I found that most of those examples can be implemented just with a BELL, and that Liberty has a lot of SPI hooks available (like this one for a global JAX-WS handler https://www.ibm.com/support/know

[2020-08-27 16:59] dmuelle commented on #1833
Thanks Don, I've updated the HHTP access table title and added the missing field:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/logstash-events-list.html#_http_access_events

[2020-08-27 17:08] aguibert commented on #2460
I've updated my original post with a few feedback comments from Ut.

Regarding page separation, I'm not sure how you plan to structure docs in OL @lauracowen, but a big pet peeve of mine in KC docs is we had all of these "micro pages" with a small/specific amount of info on them, and it was always a chore to hunt for the right page (if you weren't lucky enough to google straight into the page you

[2020-08-27 17:22] donbourne commented on #1833
Thanks @dmuelle , this looks good!

[2020-08-27 17:23] utle commented on #2460
@aguibert I agreed with one page. But we did not have that choice any more. They now split even for SPNEGO topics into several pages. This will cause problem when customer did not do all the pages. I am a little off topic here.

[2020-08-27 18:16] aguibert commented on #2460
@utle with docs on OpenLiberty.io we do have full control though. With KC we did not

[2020-08-27 20:15] dmuelle commented on #1833
@lauracowen this doc is ready for your review

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/logstash-events-list.html

[2020-08-27 20:33] #1841 closed

[2020-08-28 12:58] lauracowen opened #2500 "The Open Liberty version in which features were introduced into Open Liberty"
### Observed problem:
Graham:

The Liberty Repository currently displays this info on each feature's page:
![image.png](https://images.zenhubusercontent.com/583eaf59b9dc3c622022b986/1d04cc63-6ef5-4ada-b011-8cf70d374743)
Graham:

Also, the Java SE version compatibility info (as shown in the Liberty Repo) could be considered for inclusion too.
Graham:

### Possible solutions
Two solutions I could th

[2020-08-28 13:47] NottyCode commented on #2500
The generated feature documentation already lists the supported Java SE versions.

The from information isn't there, but we aren't able to generate that since we don't actually know anything other than it was in the current release, we don't know about prior ones. Perhaps this would be simpler put into a manual include.

[2020-08-28 14:30] Charlotte-Holt opened #2510 "Broken link in external config topic"
Fix the broken link and link syntax in [the External configuration topic](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/external-configuration.html).

[2020-08-28 14:33] Charlotte-Holt commented on #2510
#1268

[2020-08-28 16:20] chirp1 commented on #929
Hi Charotte,
This topic is looking much better! I like the layout.
- You have multiple items to correct that are mentioned on the peer review cheat sheet: https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet Some items appear to have been in the topic. Others seem to have been introduced with your latest updates. Very c

[2020-08-28 16:24] dmuelle commented on #1694
Hi @donbourne - based on the discussion from our last call, I've revised the JSON Logging section of the log and trace configuration doc. Can you provide technical review of the updated draft?

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/log-trace-configuration.html#json

see the previous comment for the items I've addressed so far. I also did some general editing for style and clarit

[2020-08-31 14:34] Charlotte-Holt opened #2514 "Configuring CouchDB connectivity using Cloudant"
From a conversation with @aguibert, this topic from the KC could be useful to have in the docs: https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_couchdb_config.html. However, it is currently low priority.

[2020-08-31 14:38] Charlotte-Holt commented on #1572
For this topic, write a single basics topic that introduces server config and features. Include information like:

- There is an XML file - what is the format
- You can add and remove features - convenience/umbrella features
- Really basic config example
- Maybe include information about the `bootstrap.properties` file
- A high level explanation of variable substitution - when it would be useful?

[2020-08-31 16:17] dmuelle commented on #1462
New URL: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jpaContainer-2.2.html

Edits for concreteness
USE SPECIFIC LANGUAGE (improved explanations in #3450)
SET THE CONTEXT FOR EXAMPLES AND SCENARIOS

[2020-08-31 16:18] dmuelle commented on #631
new URL: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/transportSecurity-1.0.html

[2020-08-31 16:20] dmuelle commented on #1903
New draft URL: https://draft-openlibertyio.mybluemix.net/docs/latest/analyzing-logs-elk.html

[2020-08-31 16:20] dmuelle commented on #1684
https://draft-openlibertyio.mybluemix.net/docs/latest/forwarding-logs-logstash.html

[2020-08-31 16:21] dmuelle commented on #1840
new draft URL: https://draft-openlibertyio.mybluemix.net/docs/latest/reference/feature/jndi-1.0.html

Edits for clarity/ concreteness:
-  Use scenarios to illustrate tasks and to provide overviews
- Make code examples and samples easy to use

Clarified difference between application and server-side code examples. Improved example descriptions and fixed a typo.

[2020-08-31 16:27] Rwalls1 commented on #1558
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/testing-database-connections.html

[2020-08-31 16:32] Rwalls1 commented on #2281
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/audit-log-events-list-cadf.html#

[2020-08-31 18:15] Charlotte-Holt opened #2521 "Feature overview topic edits"
The feature overview topic needs a couple updates:
- Cut out what's repeated in the [zero migration topic](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/zero-migration-architecture.html) and link to it
- Make the feature versions plain text

[2020-08-31 18:40] Charlotte-Holt opened #2522 "Antora link syntax doesn't work in RHR builds"
- All internal links in the OL docs are now in Antora syntax (e.g., `xref:reference:config/server-configuration-overview.adoc[server configuration overview]`), which the RHR build can't cope with. 
- Guides and blogs are relative links to HTMLs, so we could use attributes like we do in the blogs( see https://raw.githubusercontent.com/OpenLiberty/blogs/prod/posts/2020-08-28-graphql-apis-open-libert

[2020-08-31 18:46] Charlotte-Holt opened #2523 "Copying images across to the RHR repo"
Currently, we have to manually copy images across to the [PurpleLiberty repo](https://github.com/PurpleLiberty/docs) for the RHR builds. Ideally, we'd have a way that the images are pulled from the correct OL repo without being manually copied over.

[2020-08-31 19:47] Charlotte-Holt commented on #1891
@lauracowen Can you review https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/introduction-monitoring-metrics.html?

[2020-09-01 12:45] Charlotte-Holt commented on #2510
Merged to `vNext`. Closing issue.

[2020-09-01 12:45] #2510 closed, assigned to Charlotte-Holt

[2020-09-01 12:57] Charlotte-Holt commented on #929
@chirp1 Thx for the review! I addressed your comments:
- [x] You have multiple items to correct that are mentioned on the peer review cheat sheet: https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet Some items appear to have been in the topic. Others seem to have been introduced with your latest updates. Very carefully

[2020-09-01 18:45] ManasiGandhi commented on #1964
link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/jwtSso-1.0.html

[2020-09-01 19:02] teddyjtorres commented on #1964
Thank you Manasi. The changes look good. If there is time for more changes:

In the disabling JWT section, "You can disable JWT SSO to avoid a default authentication with the JWT cookie." needs to be clarified since Tthe JWT cookie is still accepted, but will not be generated.

It could be rephrased as "You can enable JWT SSO to accept authentication with an existing JWT cookie without generating

[2020-09-01 19:08] Charlotte-Holt commented on #2426
@lauracowen I made a few updates to the contribution doc to make it accurate for people who might want to contribute to the OL docs. I'm not sure I got the line right for where we'd expect contributors part to stop and OL docs members to pick up publishing, but I gave it a shot! Let me know what you think: https://github.com/OpenLiberty/docs/blob/draft/CONTRIBUTING.adoc.

[2020-09-02 10:47] lauracowen commented on #2426
I think that works. :)

[2020-09-02 12:04] lauracowen commented on #2460
Okay, much as I'm sure it's fun to complain about the KC, can we be a bit more constructive?

The SPNEGO topics are _not_ split into several short pages. There are _two_ SPNEGO topics:

1) We are enhancing the generated feature topics with commonly needed (80% of use cases) config examples, including for the [SPNEGO feature doc](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/fe

[2020-09-02 13:13] Charlotte-Holt commented on #2426
Cool :) I'll merge to `staging` and `vNext` and close this out.

[2020-09-02 13:41] Charlotte-Holt commented on #2426
https://github.com/OpenLiberty/docs/blob/vNext/CONTRIBUTING.adoc. Closing this issue.

[2020-09-02 13:41] #2426 closed, assigned to Charlotte-Holt

[2020-09-02 14:18] mbroz2 commented on #2500
**If** we were to provide the OL release version for the first time each feature become available, then yes, I think it would be done via includes (the tags that are already planned to be added for the generated content would enable this for the feature content in docs-generated (currently in docs), and the actual content for the corresponding release would be in docs repo).

However, given the am

[2020-09-02 14:36] ManasiGandhi commented on #1964
@teddyjtorres I updated the draft with your suggestions. You can view it here https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/jwtSso-1.0.html

[2020-09-02 14:38] Charlotte-Holt commented on #2500
@gcharters Regarding Michal's comment, what's your take on how important it is that we have this information included in the feature docs?

[2020-09-02 14:41] teddyjtorres commented on #1964
Thank you for the updates. They look good.

[2020-09-02 17:48] chirp1 commented on #941
Hi!
- The short description is looking better. Maybe make hardening more of a definition and lead with the hardening sentence. You use both network intrusion and network attack. I think you can use just one term, and to me, more likely network attack. Also, the the first sentence, which is about network intrusion, is a little hard to decipher for "and can alter traffic and steal network resources"

[2020-09-02 17:52] dmuelle commented on #2419
## Assessment of existing KC content

Brief summary of classloader doc in KC to help develop doc(s) for OL.io

### [Configuring class loaders and libraries for Java EE applications](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_classloader.html)

- overview should explain why/when to configure classloading as opposed to defaults, best

[2020-09-02 17:56] dmuelle commented on #2419
## Global questions

- does this topic need to reference or address solutions with the BELLS feature?
- does this topic need to reference or address the role of the `*Container` features?
- how to discuss "Java EE applications" vs "Jakarta EE applications" in this context- which term(s) to use at a high level?

[2020-09-03 13:09] Charlotte-Holt commented on #1645
@Azquelt @Joseph-Cass Please review https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/async-programming-fault-tolerance.html. Let me know of any necessary updates. Thanks!

[2020-09-03 15:44] Rwalls1 commented on #213
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/audit-logs.html

[2020-09-03 16:50] ManasiGandhi commented on #891
@lauracowen I worked on your review. Here is the link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/securing-cloud-native-microservices.html

- [x] Can you move this topic into the Development section of the navigation instead of the Security section? This is the only security-related topic that will be in the Development section (all the other security-related topics are f

[2020-09-03 19:51] Rwalls1 commented on #2417
Link to draft: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/bells-1.0.html

[2020-09-03 19:56] chirp1 commented on #942
Hi Charlotte,
Thanks for making the updates that I mentioned. Somehow, I spotted a few more things that I didn't previously. But, we're almost done!
- For "by following some best practices.", I think that (1) we want the user to follow all the best practices and (2) we want to reduce wordiness / unnecessary words. Wordiness is discussed in the IBM style guide. Remove the misleading and unnecessary

[2020-09-03 20:43] ManasiGandhi commented on #891
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/securing-cloud-native-microservices.html

[2020-09-03 20:49] ManasiGandhi commented on #1118
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/socialLogin-1.0.html

[2020-09-03 20:53] ManasiGandhi commented on #571
New link of the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/mpJwt-1.1.html

[2020-09-03 20:54] ManasiGandhi commented on #1289
New link for the draft  https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/sessionDatabase-1.0.html

[2020-09-03 20:56] ManasiGandhi commented on #340
New link for the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/documentation-openapi.html

[2020-09-03 20:58] ManasiGandhi commented on #955
New link for the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/samlWeb-2.0.html

[2020-09-03 21:08] ManasiGandhi commented on #1127
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/slow-hung-request-detection.html

[2020-09-03 21:09] ManasiGandhi commented on #636
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/jwt-1.0.html

[2020-09-03 21:10] ManasiGandhi commented on #1290
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/sessionCache-1.0.html

[2020-09-03 22:38] ManasiGandhi commented on #1569
New link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/default-port-numbers.html

[2020-09-04 03:35] chirp1 commented on #930
Hi Charlotte,
Here are my latest comments:
- Remove OS. Just use operating system.
- Change "users are able to log in to" to "users log in to". <= Get rid of extra words.
- For the paragraph of "One of the ways to protect against ", move the best practices under the appropriate sections since all the other best practices are in sections.
- For "Basic server configuration hardening best practices",

[2020-09-04 10:11] lauracowen commented on #676
Thanks for making the paragraph under the first example more explanatory - that's much better.

I'm going to sign this off because it's fine in terms of content now. I spotted about three things that you should fix before passing it to Karen for editorial review though:

- [x] There's a syntax/highlighting error in the paragraph that starts "In the example, the openidConnectProvider element is con

[2020-09-04 10:37] lauracowen commented on #2281
Some minor things. If you ping me when you're done, I'll try sign off today. Thanks

- [ ] Can you put "(CADF)" in the navigation entry as well (eg "Audit log events (CADF) reference list")? I know it makes the nav title longer but I really struggled to find the topic just now, and the format in that topic is what differentiates it from the related JSON one.
- [ ] Think you have an extra/unnecessa

[2020-09-04 12:16] Charlotte-Holt commented on #941
@chirp1 I updated the doc with your review suggestions. Thx!

- [x] The short description is looking better. Maybe make hardening more of a definition and lead with the hardening sentence. You use both network intrusion and network attack. I think you can use just one term, and to me, more likely network attack. Also, the the first sentence, which is about network intrusion, is a little hard to de

[2020-09-04 12:29] Rwalls1 commented on #2417
@tjwatson Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/bells-1.0.html. Is there also a  basic configuration for the BELL feature?

[2020-09-04 12:47] lauracowen commented on #1095
Thanks for getting a more minimal example. It's looking better now.

- [x] Can you remove the sentence about `message` source and, instead, alter the first sentence to say "...to enable the `message` source for..." or maybe better as "...to enable a source for data collection, which is, by default, message." (BTW, all the default values are listed if you click the `logstashCollector` link in the "

[2020-09-04 13:13] Rwalls1 commented on #2281
@lauracowen Thanks, I've made those updates: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/audit-log-events-list-cadf.html#

[2020-09-04 15:18] lauracowen commented on #2281
That's great, thank you :) Will sign off now.

[2020-09-04 15:27] lauracowen commented on #1891
Some style things but I'll sign it off:

- [x] Maybe append to the "MicroProfile Metrics" heading "...and the /metrics endpoint"? To be more explicit about what this section is about?
- [x] A more general style question - in the JMX metrics section, it says "...by enabling the Performance Monitoring feature." and I wonder whether it should have "(monitor-1.0)" after the full name? That would tell/

[2020-09-04 15:32] lauracowen commented on #1567
Thanks. Signing off.

[2020-09-04 15:42] lauracowen commented on #1833
This looks fine. You've worked with Don on it and I assume it complements the other events reference list topics. A couple of comments/style things below but I'll sign it off from my perspective. Thanks.

- The intro to the [Audit events section](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/logstash-events-list.html#_supported_audit_events_and_their_audit_data) - might be worth checkin

[2020-09-04 16:20] lauracowen commented on #1964
Thanks Manasi. Nice job. I just have a couple of questions to clarify some slight ambiguities in the wording that could be interpreted in slightly different ways. But otherwise a neat job.

- [ ] Can you end the lead-in sentence to the example with a colon.
- [ ] `myBuilder` (under first example) should be in monospace.
- [ ] "... is used to identify the JWT builder." - I think this would be clear

[2020-09-04 17:03] dmuelle opened #2569 "Environment variables reference topic"
Create a new reference topic with a table for all the default environment variables.

For the table:
- down load a copy of the OL server for the [ol.io downloads page](https://www.openliberty.io/downloads/)
- open the following file: `wlp>bin> server.bat`

At the top of this file, there is a list of env variables and descriptions. Use this list to make the table.

For intro/context information, se

[2020-09-04 17:21] ggam commented on #2417
@Rwalls1 while the example is correct, IMO as a user, it misses the point of explaining what exactly BELL does: register Java `ServiceLoader` classes to OSGi so that the application server can use them. One usecase is defining a `ServletContainerInitializer`, but this can be used to hook into a lot of SPI (see #2422). BELLs are an alternative to OSGi bundles for simple enough features (it will bec

[2020-09-04 17:33] ggam commented on #2419
In addition to all the configuration info, please also dedicate a section to Liberty classloading internals. https://github.com/OpenLiberty/docs/issues/1439#issuecomment-676621671 @andymc12 comment was very insightful for me (perhaps this can be a different topic)

[2020-09-04 17:40] Rwalls1 commented on #213
@chirp1 I've made updates, please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/audit-logs.html

[2020-09-04 18:05] dmuelle commented on #1833
Thanks @lauracowen. I've updated the draft:

- The intro to the [Audit events section](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/logstash-events-list.html#_supported_audit_events_and_their_audit_data) - might be worth checking what Richard's got in his now **updated**
- Ha! You copy/pasted from Richard's topic - I spotted this typo in his this morning too: "JMX MBean Operations (JXM

[2020-09-05 16:53] ggam opened #2571 "Autogenerate tracing group documentation for server features"
I sometimes need to raise the tracing level of a specific feature (e.g. to debug a problem). I haven't found any documentation for the available "tracing components", so I usually end up looking at the source code for the class names.

Manually maintaining that content would be very tedious, but most feature packages are annotated `@TraceOptions` which already provide a default component. See for

[2020-09-05 17:55] ggam opened #2572 "Specify required feature on server configuration pages"
Feature pages (example: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.9/reference/feature/javaMail-1.6.html) links to the configuration elements, but the same's not true the other way around.

[Google searches](https://www.google.com/search?client=firefox-b-d&ei=C9BTX-jsAs3hgwen94XIBg&q=site%3Aopenliberty.io+liberty+mail+session&oq=site%3Aopenliberty.io+liberty+mail+session&gs_lcp=CgZwc3kt

[2020-09-06 22:23] donbourne commented on #1095
yes -- that's a good point @lauracowen .  I've opened https://github.com/OpenLiberty/open-liberty/issues/13814 to get that fixed.

[2020-09-07 12:43] donbourne commented on #1891
... cool history lesson, thanks! :-)

[2020-09-08 12:21] lauracowen commented on #1645
I like it. It's a bit long but I think it works as there are plenty of examples and illustrations. The sections are all relevant and it's nicely written. If the interactions section were longer, I'd be tempted to break it out into a separate topic (partly for SEO reasons) but it's not long enough for that.

The only comment that came to me is that the first sub-heading could drop the "About" (just

[2020-09-08 12:39] lauracowen commented on #951
I like this. Off the top of my head, I can't think of anything major missing. I'm sure there'll be disagreement but I've asked Graham to take a look as OM. I won't sign it off until he (and maybe Alasdair too) have seen it. But I think it works for me. From a Getting Started experience perspective, it might be nice to get Design to do a little icon per section (but I'll leave that with you to deci

[2020-09-08 12:59] lauracowen commented on #929
@Charlotte-Holt While I understand why @chirp1 asked for the hardening overview topic to be a 'parent' topic in the navigation, can you make it a single flat list of four topics under the existing "Security hardening" twisty for now?

We don't currently have any other topics that are organised hierarchically like that and it's jarring to have to click twice to get to the topics. It's also not obvi

[2020-09-08 13:29] Charlotte-Holt commented on #1567
Requesting a peer review from @ManasiGandhi

[2020-09-08 13:32] Charlotte-Holt commented on #929
@lauracowen Updated the nav, and rebuilding now. Thx!

[2020-09-08 17:25] Charlotte-Holt commented on #930
@chirp1 Thx for the review! I've made the following updates:

- [x] Remove OS. Just use operating system.
- [x] Change "users are able to log in to" to "users log in to". <= Get rid of extra words.
- [x] For the paragraph of "One of the ways to protect against ", move the best practices under the appropriate sections since all the other best practices are in sections.
- [x] For "Basic server confi

[2020-09-08 20:33] Yushan-Lin opened #2581 "Update Logstash Collector source description"
For https://openliberty.io/docs/20.0.0.9/reference/config/logstashCollector.html:
Change the description for `source` from:
Specifies a source to be used by the logstash collector.
->
The list of comma-separated sources used by logstash collector. Valid values are` message`, `trace`, `accessLog`, `ffdc`, `garbageCollection` and `audit`. Note: To use the audit source, enable the Liberty audit featu

[2020-09-08 20:42] ManasiGandhi commented on #1695
Link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/configuring-jmx-connection.html

[2020-09-08 20:48] ManasiGandhi commented on #676
@chirp1 Can you review this draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/openidConnectServer-1.0.html?

[2020-09-08 22:34] donbourne commented on #1694
Hi @dmuelle , sorry for taking so long to get back to you.  Here are my comments...

Expanded JSON HTTP access log fields
->
Custom HTTP access log JSON fields
___
with an expanded set of fields
->
with a custom set of fields
___
replace the default JSON HTTP access log fields
->
replace the default HTTP access log JSON fields
___

Custom JSON log fields
->
Custom message and trace JSON fields
___

[2020-09-09 00:39] chirp1 commented on #941
Hi Charlotte,
A few comments:
- Oddly, IHS showed up in the JMX connector section in the version of the topic that I saw even though, from looking at your pull requests, you had removed the reference previously. Maybe I was looking at a different branch that had a back-level version.
- Nice explanation for "If your Open Liberty deployment doesn’t include any proxies, ....".

Some things to fix/inv

[2020-09-09 13:41] ManasiGandhi commented on #1567
@Charlotte-Holt The topic looks good! One edit suggestion:

**First Paragraph**

“This feature enables connections to Cloudant by providing a connector instance configured in the server configuration, which can be injected or accessed through JNDI. Applications use the Cloudant client library to utilize the connector instance.”

I’m aware that you may not have access to change the autogenerated fi

[2020-09-09 13:48] Charlotte-Holt commented on #942
@chirp1 Thx for the review! I've made the following updates:

- [x] For "by following some best practices.", I think that (1) we want the user to follow all the best practices and (2) we want to reduce wordiness / unnecessary words. Wordiness is discussed in the IBM style guide. Remove the misleading and unnecessary word.
- [x] For "....privileges when they run it.", I think you can clarify the po

[2020-09-09 14:06] Charlotte-Holt commented on #941
@chirp1 Updates made! I _think_ I got the custom property thing right. After searching around, I went with "configuration element" and "attribute".

- [x] The opening paragraph- a little tweak- update it so that it's two sentences.
- [x] Custom property references in the topic. I've been researching its use. Would you research it, too? I don't think it is the right term. We can discuss and come up

[2020-09-09 14:48] Charlotte-Holt opened #2586 "Update feature description of Cloudant feature"
From @ManasiGandhi:

**First Paragraph**

“This feature enables connections to Cloudant by providing a connector instance configured in the server configuration, which can be injected or accessed through JNDI. Applications use the Cloudant client library to utilize the connector instance.”

I’m aware that you may not have access to change the autogenerated first paragraph, but if there’s anything

[2020-09-09 16:11] Charlotte-Holt commented on #1891
@lauracowen Thx for the review! Updated: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/introduction-monitoring-metrics.html. Do you still think the file name is okay (`introduction-monitoring-metrics`)? Maybe we can talk on Friday about using the code feature name in parentheses in certain contexts - could be an update for the style guide.

[2020-09-09 16:11] Charlotte-Holt commented on #1891
Requesting a peer review from @Rwalls1

[2020-09-09 16:16] Charlotte-Holt commented on #1645
Updated doc with feedback from @lauracowen and @Joseph-Cass: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/async-programming-fault-tolerance.html

[2020-09-09 17:53] ManasiGandhi commented on #1964
@lauracowen I worked on your suggestions. Couldn't talk to Teddy as he is on a vaction until 14th. Will update the changes once I confirm them with him.

[2020-09-09 20:55] ManasiGandhi commented on #2281
@rw2513 #peer review The doc looks good! Have a few suggestions:

- Under SECURITY_AUDIT_MGMT, in the first sentence it says “The SECURITY_AUDIT_MGMT event captures the start and stop of the Audit Service and implemented handlers such as the default AuditFileHandler.” Could you replace “default AuditFileHandler” with “default audit file handler” or “auditFileHandler element”.
Same for “The followi

[2020-09-09 21:24] gjwatts opened #2590 "Update Open Liberty docs for Java 15 support"
With Java 15 being released (and the simultaneous discontinuation of support for Java 14), the list of supported versions of Java by Open Liberty needs to be updated.  The only file needing to be changed is modules/ROOT/pages/java-se.adoc.

We just need to hold off on merging this until Java 15 support is official in Liberty.

[2020-09-10 12:50] Rwalls1 commented on #1095
@lauracowen Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/logstashCollector-1.0.html

[2020-09-10 14:16] Charlotte-Holt commented on #1979
Updated at https://github.com/OpenLiberty/open-liberty/pull/13853/files

[2020-09-10 14:16] #1979 closed, assigned to Charlotte-Holt

[2020-09-10 14:16] Charlotte-Holt commented on #2586
Updated at https://github.com/OpenLiberty/open-liberty/pull/13853/files

[2020-09-10 14:16] #2586 closed, assigned to Charlotte-Holt

[2020-09-10 14:38] Charlotte-Holt commented on #2408
We'll use this issue to create a `server.xml` schema topic. If it's helpful, we can create more issues for other file schemas in the future.

[2020-09-10 15:15] Charlotte-Holt commented on #2204
Fixed in https://github.com/OpenLiberty/open-liberty/pull/13866

[2020-09-10 15:15] #2204 closed, assigned to Charlotte-Holt

[2020-09-10 16:11] Rwalls1 commented on #2281
@ManasiGandhi Thanks, I have addressed your feedback

[2020-09-11 13:57] kristip17 commented on #1699
Hey @dmuelle  -- have a few more small things to add/change

1. Extra [ here:
you must enable and configure [the acmeCA client feature.

1. Add `a public` to the AMCE provider:
To receive a callback from a public ACME provider, port 80 must be open to comply with the standards for the HTTP-01 challenge type.

1. Then add this sentence after:
Internal or test ACME providers allow other ports to be

[2020-09-11 13:59] kristip17 commented on #1699
Also, we were wondering if this should be a sub-topic under `Secure communication with TLS` ?

[2020-09-11 14:54] Charlotte-Holt commented on #609
Covered by #1558

[2020-09-11 14:54] #609 closed

[2020-09-11 16:10] frowe commented on #1558
0) The flow of this topic is not as helpful as it could be.  The procedure should be
1- call the config REST EP to determine the unique identifier (UID) of the datasource you want to validate
2-use that UID to determine the proper validation REST EP and call it
3- examine the output of the validation for success or failure.

1) "Testing your database connections with REST endpoints provides a simp

[2020-09-11 17:52] gjwatts commented on #2590
Link to draft build with my changes working -> https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/java-se.html

[2020-09-14 13:42] Charlotte-Holt commented on #2590
@gjwatts Looks good. When you're ready to publish, you can open a PR from your same branch to the `staging` branch, and we'll validate there before publishing.

[2020-09-14 14:07] Charlotte-Holt commented on #2522
After speaking with @mbroz2 and @NottyCode, we determined that we'll host separate docs in [the PurpleLiberty repo](https://github.com/PurpleLiberty/docs) that work with the RHR build, so this issue doesn't need to be resolved at this time.

[2020-09-14 14:07] #2522 closed, assigned to nobody

[2020-09-14 14:08] Charlotte-Holt commented on #2523
@lauracowen is working on seeing if we have a solution for this.

[2020-09-14 14:38] Rwalls1 commented on #1891
## Peer review
The topic looks good, I just have a few comments:
- I think you should change "Metrics come in various forms, including" to "Metrics come in various forms that include,”  in order to use a more active voice by avoiding the gerund
- I think you change “The format that is used for each response depends on the HTTP accept header of the corresponding request.” to use a more active voice

[2020-09-14 15:23] Charlotte-Holt opened #2604 "Securing downstream JAX-RS resources"
From this KC topic: https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twbs_jaxrs_impl_securejaxrs_downstreamresource.html.

Don't document JAX-RS 1.1, as it's not in OL.

[2020-09-14 15:25] kristip17 commented on #1699
We also changed the trace spec, but they took an early GA cut of the code so I need to adjust the `Troubleshooting section` a little.

`ACME=all`

Should now be

`ACMECA=all`

or

`com.ibm.ws.security.acme.*=all`

[2020-09-14 15:51] dmuelle commented on #1694
Hi @donbourne , thanks for reviewing. I've made the changes you requested and have a couple questions:

## Questions

- "To add fields with boolean, float, int, or long values, the extension name must include the suffixes _bool, _float, _int, or _long, as shown in the following examples:" - should explain that the presence of the suffix in the extension name ensures that the resulting JSON is form

[2020-09-14 16:35] Charlotte-Holt commented on #1891
@Rwalls1 Thanks for the review. Feedback addressed:

- [x] I think you should change "Metrics come in various forms, including" to "Metrics come in various forms that include,” in order to use a more active voice by avoiding the gerund
- [x] I think you change “The format that is used for each response depends on the HTTP accept header of the corresponding request.” to use a more active voice by r

[2020-09-14 22:23] donbourne commented on #1695
@navidsh , could you please review this doc?  I see you guys own JMX in Liberty, so in better position to be able to comment.

[2020-09-14 22:37] donbourne commented on #1694
@dmuelle , here are my answers to your questions... will review the rest once the whole doc is ready.

you always need to use quotes to specify the extension values (since the addExtension method only accepts Strings as the second parameter).  it does mean that the values in the JSON written to the logs will not include quotes.  And it's correct that only string values are enclosed in quotes in th

[2020-09-15 08:31] lauracowen commented on #1891
I just saw this and one thing I'd say about "If you prefer" is that it potentially provides a reason as to why you might also choose something - if that choice literally just comes down to preference. It may not make a difference in this particular situation but conversational is not necessarily a bad thing in the Open Liberty docs - we need to avoid them coming across as really dry and sterile -

[2020-09-15 18:47] Charlotte-Holt opened #2610 "Jakarta and Java EE API landing pages"
See #1960 for other landing pages.

[2020-09-15 18:48] Charlotte-Holt opened #2611 "MicroProfile API landing page"
See #1960 for other landing pages.

[2020-09-15 19:04] Yushan-Lin commented on #1095
@lauracowen I opened an issue with the updated description https://github.com/OpenLiberty/docs/issues/2581

[2020-09-15 19:55] navidsh commented on #1695
Hi @ManasiGandhi,

Looks good overall. Just a few comments:

- [ ] It would be good to include info in the "Restriction" box from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_jmx.html. We get customers having the same issue mentioned there.

- [ ] Please also include the following node: "An application deployed on Liberty has u

[2020-09-15 21:00] dmuelle commented on #1694
Hi @donbourne, I've updated the doc based on your comments. It's ready for comprehensive review now.

Updates from your most recent coments:

- clarified that JSON output for non-string values is not enclosed in quotes
- clarified "same thread" as thread that executes the addExtension method
- replaced "Custom HTTP access log fields" with "Selectable HTTP access log fields"

[2020-09-15 22:36] Rwalls1 commented on #1558
@frowe For the proposed updated procedure, how would the details of the steps change? Is there a source that provides more details?

[2020-09-15 22:36] Charlotte-Holt opened #2615 "Updates to auto-generated doc"
We have several issues open that involve updates to the auto-generated doc in OL. Most of them will require help from the development team. They're in priority order:

1. [Build the messages into the OL doc so that they're searchable](https://github.com/OpenLiberty/open-liberty/issues/14632)
2. [Build the Liberty API/SPI into the OL docs](https://github.com/OpenLiberty/open-liberty/issues/14629)
3

[2020-09-16 08:31] lauracowen commented on #2581
Hi thanks @Yushan-Lin - I think this issue should go in the `open-liberty` repo as it's part of the runtime. Could you make a PR directly to update the relevant files, pls? You could have someone in ID review the PR I guess?

[2020-09-16 09:47] lauracowen commented on #1095
Thanks @Rwalls1, looking good.

The config examples vary between examples in their XML syntax. Some have a closing tag while others have the closing slash within the opening tag:
- In the second example, is there a reason for using a closing XML tag instead of just `/>`? The first example uses `/>`. If it's valid both ways and it's just down to preference/formatting, that's fine, I think (eg in th

[2020-09-16 13:15] #2581 closed, assigned to nobody

[2020-09-16 16:10] frowe commented on #1558
You can simply rearrange and reuse all of the existing procedure steps.
Procedure:
1. "View the data source configuration to determine the unique id (UID) of the datasource that you want to verify."  <existing step 2 details>
2. "Use this datasource UID to validate the data source." <insert existing step 1 details, but without the sample output, that will go into a new step 3.>
3. "The validation

[2020-09-16 16:41] Charlotte-Holt commented on #2008
@lauracowen First draft at https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/command/command-introduction.html.

[2020-09-16 16:44] lauracowen commented on #2008
yes, I think that works. :)

[2020-09-16 19:17] cbridgha commented on #2008
I like the short explanations of each command, and I know more of the missing commands are coming when ready (Already talked to Charlotte about this).

Can we add more detail to "To learn how you can modify the behavior of the featureUtility commands" Changed to: "To learn how you can modify behavior such as shared and local feature repositories..."

Can you also add server "dump" to the suggested

[2020-09-16 19:57] Charlotte-Holt commented on #2008
@lauracowen I addressed Chuck's feedback: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/reference/command/command-introduction.html. Let me know if any additional updates are needed!

[2020-09-16 20:50] Rwalls1 commented on #1558
@frowe Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/testing-database-connections.html

[2020-09-16 21:00] frowe commented on #1558
Brilliant!

[2020-09-16 21:34] frowe commented on #1558
Sorry for the closure, thought you were done.

[2020-09-17 08:43] lauracowen commented on #2008
LGTM :)

[2020-09-17 12:43] donbourne commented on #1095
I think 2nd example should be:

[code]

3rd example should be:
[code]

4th example should be:
[code]

[2020-09-17 12:58] Charlotte-Holt commented on #2008
Requesting peer review from @ManasiGandhi

[2020-09-17 14:41] Rwalls1 commented on #1095
@lauracowen Thanks, please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/logstashCollector-1.0.html

[2020-09-17 15:26] donbourne commented on #1694
Configurable JSON field names
- At the end of this section, should we add a link to the list of all the default field names (ie. to the JSON field reference)?

Custom message and trace JSON fields
- should we change this section name to stress that it requires code change... ie. "Programmatically-specified message and trace JSON fields"?
- "the resulting JSON fields are not enclosed in quotes in t

[2020-09-17 15:31] dmuelle commented on #1833
Requested peer review from @Rwalls1

[2020-09-17 18:55] dmuelle commented on #1694
Hi @donbourne I made the following changes per your review
Configurable JSON field names

- [x] At the end of this section, should we add a link to the list of all the default field names (ie. to the JSON field reference)?

Custom message and trace JSON fields

- [ ] should we change this section name to stress that it requires code change... ie. "Programmatically-specified message and trace JSON

[2020-09-17 19:15] donbourne commented on #210
Hi everyone, is this publishable?  it seems to have not advanced in a few weeks, but I think it's basically done.

[2020-09-17 19:54] Charlotte-Holt opened #2649 "Event logging"
KC topic: https://www.ibm.com/support/knowledgecenter/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/rwlp_eventlogging.html.

SME: Don Bourne

This is related to the request timing info and should be located near it in the docs nav.

[2020-09-17 21:00] tjwatson commented on #2417
I agree with @ggam that the example could use a bit of an intro describing what the bells feature actually does with respect to the Java `ServiceLoader` meta files under `/META-INF/services`

I suggest something like the following:

Open Liberty features are composed of a set of OSGi bundles.  The OSGi bundles associated with an Open Liberty feature are enabled at runtime when a feature is configu

[2020-09-17 21:02] ManasiGandhi commented on #2569
@lauracowen draft link of the topic for your reference https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/default-environment-variables.html

[2020-09-17 21:53] Rwalls1 commented on #1833
## Peer review
The topic looks good I just have a few comments:
### Server and host names in virtualized environments
- I think you could change “When Open Liberty servers are running” to “When Open Liberty servers run” to be more concise and use a more active voice
- I think the “hostName" and “serverName” terms should placed in code blocks because they reference code segments.
- I think the intr

[2020-09-17 22:21] dmuelle commented on #801
WLP issue: https://github.ibm.com/was-liberty/liberty-docs/issues/1685

Shou;d this page be migrated to Open Liberty?
https://www.ibm.com/support/knowledgecenter/en/SSEQTP_liberty/com.ibm.websphere.wlp.doc/ae/twlp_config_ejbtime.html

if so, what other related supporting info is currently missing from the OL docs?

[2020-09-17 23:18] ManasiGandhi commented on #1695
@navidsh I worked on your review https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/configuring-jmx-connection.html
- [x] It would be good to include info in the "Restriction" box from https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.wlp.nd.multiplatform.doc/ae/twlp_admin_jmx.html. We get customers having the same issue mentioned there.

- [x] Please also include

[2020-09-17 23:36] ManasiGandhi commented on #2008
@Charlotte-Holt The topic looks good! A few edit suggestions

- [x] In the first sentence, can you fix the typo. The word "available" is mentioned twice.

- [ ] Under "featureUtility commands", it says, "The featureUtility commands make it easier to install Open Liberty features and view your Maven repository settings." Acrolinx is flagging "easier". Could you replace it with something else, for e

[2020-09-18 08:53] lauracowen commented on #2569
Thanks, Manasi.

This looks fine from my point of view. The only minor comment I'd make is where it says "specific" in the intro and table title, what does that mean? If these env vars are specific to Open Liberty (implying that there are others too), it should be "Open Liberty-specific" (hyphenated). I don't know that it's necessary to say "specific" though as they are already qualified as "Open

[2020-09-18 08:54] lauracowen commented on #1095
Great thanks, Richard. Signing off.

[2020-09-18 11:14] Rwalls1 commented on #1558
@lauracowen Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/testing-database-connections.html

[2020-09-18 13:15] Charlotte-Holt commented on #1645
@Azquelt This is ready for your review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/async-programming-fault-tolerance.html.

[2020-09-18 16:43] frowe commented on #1462
looks good.

[2020-09-18 21:31] donbourne commented on #1694
Hi @dmuelle , everything looks good except this one thing:
- "For a full list of the default JSON field names, see the JSON log events reference list."
    - the link seems to point to https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/log-trace-configuration.html#json-log-events-lis.adoc , instead of the intended doc

[2020-09-21 13:23] Rwalls1 commented on #1676
PR: https://github.com/OpenLiberty/docs/pull/1878/files

[2020-09-21 13:29] Rwalls1 commented on #1200
PR: https://github.com/OpenLiberty/docs/pull/1923/files

[2020-09-21 13:32] Rwalls1 commented on #1128
PR: https://github.com/OpenLiberty/docs/pull/1733/files

[2020-09-21 13:35] Rwalls1 commented on #1094
PR: https://github.com/OpenLiberty/docs/pull/1726/files

[2020-09-21 13:48] Rwalls1 commented on #894
PR: https://github.com/OpenLiberty/docs/pull/1747/files

[2020-09-21 13:54] Rwalls1 commented on #213
PR: https://github.com/OpenLiberty/docs/pull/1690/files

[2020-09-21 13:56] Rwalls1 commented on #211
PR: https://github.com/OpenLiberty/docs/pull/1653/files

[2020-09-21 13:59] Rwalls1 commented on #210
PR: https://github.com/OpenLiberty/docs/pull/1829/files

[2020-09-21 14:29] Charlotte-Holt commented on #2008
Thanks, @ManasiGandhi! I addressed your comments. For your second point, I do see where Acrolinx is flagging "easy", but in the Acrolinx guidance it says that it might be appropriate to use "easier" in some cases, and I think this falls under one of those cases. @chirp1 - Any thoughts on this?

https://draft-openlibertyio.mybluemix.net/docs/21.0.0.2/reference/command/command-introduction.html

[2020-09-21 15:33] Charlotte-Holt commented on #1645
Feedback from @Azquelt:

![Async doc feedback](https://user-images.githubusercontent.com/48996799/93787288-4bc9c200-fbfe-11ea-8a98-92418969ae56.png)

[2020-09-21 16:46] dmuelle commented on #1694
Sorry about that! I fixed the typo that caused the link to fail and [rebuilt the draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/log-trace-configuration.html#names). Let me know if anything further is needed or, if you're ready to sign off, please add the `technical reviewed` label to the issue. Thanks

[2020-09-21 17:02] dmuelle commented on #1699
Hi @kristip17 , I've made changes [er your review and rebuilt the draft:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/acme-cert-management.html

- updated trace spec
- removed stray bracket
- added distinction for public vs test ACME servers w/r/t HTTP challenge ports- asked via slack- Is there any restriction on the ports you can use for internal/test ACME providers? `other ports` le

[2020-09-21 19:19] dmuelle commented on #1833
Thanks for reviewing @Rwalls1. I made the following edits per your review:

- [x]  change “When Open Liberty servers are running” to “When Open Liberty servers run”
- [x] the “hostName" and “serverName” terms should placed in code blocks
- [x] the introductory sentences before each bulleted list should be reworded as the current construction seems a bit confusing, **I worked on this section to mak

[2020-09-21 19:29] dmuelle commented on #1833
@chirp1  Note that this topic should not get final editorial review until after the JSON events reference list has been reviewed and approved and I make the changes to mirror any recommendations for content that is in both topics. That doc is tracked in #210

[2020-09-22 09:07] lauracowen commented on #1645
There is a new guide that shows `.rx()`: https://openliberty.io/guides/reactive-rest-client.html

[2020-09-22 13:11] Charlotte-Holt opened #2664 "Service topic"
@cbridgha proposed having a service page that includes things like "how to create a dump, setup tracing etc.. Any must gather info... we don't "support" OL, but we can provide tips for investigating issues?" That's not an exhaustive list. Let's work on an outline of this first to see what info we'd want in it and get feedback on the outline before moving forward with writing anything on this topic

[2020-09-22 14:51] dmuelle commented on #796
Hi @jvanhill - can you provide an example scenario of when this would be useful? We are trying to determine where and how to host information about the administrator and reader roles in Open Liberty and the concerns you raise here could be part of a new doc that covers this information. We are looking at this issue in conjunction with issue #719. Thanks!

[2020-09-22 14:58] dmuelle commented on #616
closing as a duplicate of #1558

[2020-09-22 14:58] #616 closed

[2020-09-22 14:59] dmuelle commented on #727
https://github.ibm.com/was-WASdev/WASdevnet-website/tree/master/developer.ibm.com/wasdev/docs/asynchronous-io-what-is-it-and-why

backup copy of that async I/O WASdev article

[2020-09-22 15:05] dmuelle commented on #614
closing as a dupe of #1558

[2020-09-22 15:05] #614 closed

[2020-09-22 15:11] dmuelle commented on #615
closing because work is covered by #1558 and other issues

[2020-09-22 15:11] #615 closed

[2020-09-22 15:13] dmuelle commented on #341
Awaiting specification updates

[2020-09-22 15:13] dmuelle commented on #310
Awaiting specification updates

[2020-09-22 15:13] jvanhill commented on #796
For instance, when you enable the scim-1.0 feature, it enables the following rest endpoints.

- GET - https://HOST:PORT/ibm/api/scim/users[?filter=FILTER][?attributes=ATTRS]
- GET, PUT, POST, DELETE - https://HOST:PORT/ibm/api/scim/users/USER

- GET - https://HOST:PORT/ibm/api/scim/groups[?filter=FILTER][?attributes=ATTRS]
- GET, PUT, POST, DELETE - https://HOST:PORT/ibm/api/scim/groups/GROUP

By

[2020-09-22 15:22] dmuelle commented on #477
Removed from docs queue because audience is internal support. See https://github.com/OpenLiberty/open-liberty/issues/8445 for more info

[2020-09-22 15:22] #477 closed

[2020-09-22 15:23] dmuelle commented on #178
internal request, closing

[2020-09-22 15:23] #178 closed

[2020-09-22 15:25] dmuelle commented on #181
feedback no longer available- closing

[2020-09-22 15:25] #181 closed

[2020-09-22 15:42] dmuelle commented on #217
Where in the docs should this go and what does it relate to? Current draft is published but not in the nav: https://www.openliberty.io/docs/20.0.0.9/forwarded-header.html

Needs to be reworked to fit OL style and clarified so it's value is more clear

[2020-09-22 15:43] dmuelle commented on #217
Might need to move to Security section but that should be confirmed by SME. Not a part of the initial set of security docs

[2020-09-22 15:44] dmuelle commented on #256
closing- work was completed in other issues

[2020-09-22 15:44] #256 closed

[2020-09-22 15:49] dmuelle commented on #330
The endpoints in this issue are intended to be used through the admin center UI, which is not currently available for OL

[2020-09-22 19:49] teddyjtorres commented on #1964
Hi,

"... is used to identify the JWT builder." is accurate. This is consistent with the description for "id" in https://www.ibm.com/support/knowledgecenter/en/SSAW57_liberty/com.ibm.websphere.liberty.autogen.nd.doc/ae/rwlp_config_jwtBuilder.html.

When the expiresInSeconds is set, it applies to any new token that is created after the modification. Old tokens will not be modified. Therefore, pleas

[2020-09-22 20:10] dmuelle commented on #1784
Issues fixed in new editing pass:

- replace references to "admin" with "administrator" so that term is used consistently throughout- both terms were used previously. Per Developing Quality Technical Information (DQTI) [CH 6: Clarity: USE TECHNICAL TERMS CONSISTENTLY AND APPROPRIATELY](https://learning.oreilly.com/library/view/Developing+Quality+Technical+Information:+A+Handbook+for+Writers+and+Ed

[2020-09-22 20:52] dmuelle commented on #796
Thanks @jvanhill - so if I understand you correctly, this would be an update to the autogenerated doc for each feature, so that those pages list the rest endpoints that are enabled? If so, I can add this feature to #2615 , an epic to improve the autogen docs

[2020-09-22 21:18] jvanhill commented on #796
That is a possibility. Another possibility is we have a single page where we list them. There isn't really any meta data to produce this automatically at this point.

[2020-09-23 00:45] dmuelle commented on #893
issues addressed in new editing pass:
-  After authentication, an application can either obtain a JSON Web Token (JWT) from the social media service or associated OpenID Connect provider, or create a new one.->
After authentication, an application can either create JSON Web Token (JWT) or obtain one from the social media service or associated OpenID Connect provider. DQTI Ch 6 AVOID AMBIGUITY
- Th

[2020-09-23 08:05] lauracowen commented on #1964
@teddyjtorres Thanks for your answers. About the `id` value, my question was more about whether the value of the `id` was being set/defined for the token here or was a reference to an `id` set elsewhere - I think I found that I could read the sentence either way and wanted to be clear where the `id` value comes from in the first place. I think it's the former (ie the token is being defined here)?

[2020-09-23 13:04] chirp1 commented on #927
@dmuelle Hi David, as I'm reviewing Charlotte's Application configuration hardening topic, I'm wondering if "user role" in your Authorization topic should just be "role".

[2020-09-23 13:32] dmuelle commented on #927
I've updated the doc to changes instances of "user role" and "security role" to just "role" DQTI CH6 "Use technical terms consistently and appropriately"

rearranged intro to servlet security example so its parallel with other example intros- DQTI Ch 8 Make elements parallel

[2020-09-23 13:40] Charlotte-Holt commented on #930
@chirp1 Final updates made. Let me know if anything else needs to be done on this one! https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/server-configuration-hardening.html

[2020-09-23 13:57] Rwalls1 commented on #211
Editing Reference: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch06.html

[2020-09-23 15:59] chirp1 commented on #930
Hi Charlotte,
I have a few minor tweaks:
- Change "the SSL" to "SSL".
- In the "Best practices" section", change the last two bullets so that they follow the same pattern as the bullets that are third and fourth from the bottom so that they read "Add the blah statement to the server.xml file.
- For "Although Open Liberty Docker images have basic security that’s already configured, you need to hard

[2020-09-23 16:08] Charlotte-Holt commented on #930
- [x] Change "the SSL" to "SSL".
- [x] In the "Best practices" section", change the last two bullets so that they follow the same pattern as the bullets that are third and fourth from the bottom so that they read "Add the blah statement to the server.xml file.
- [x] For "Although Open Liberty Docker images have basic security that’s already configured, you need to harden an image if you intend to

[2020-09-23 16:49] Charlotte-Holt opened #2680 "Add links back to hardening topics"
After the first group of security docs publish, remove the commented out lines from:

- https://staging-openlibertyio.mybluemix.net/docs/20.0.0.10/security-hardening.html
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/server-configuration-hardening.html
- https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/application-configuration-hardening.html
- In https://draft-openlibertyio.m

[2020-09-23 17:29] chirp1 commented on #929
Hi Charoltte,
- In the intro paragraph I see "It is important ...". We want to avoid "it is" in our topics. See "there, here, or it followed by a be verb." in the peer review cheat sheet. https://apps.na.collabserv.com/wikis/home?lang=en-us#!/wiki/W93fb765ee31c_4aa7_98f6_a02c0f1a2ebf/page/Peer%20review%20cheat%20sheet . You could just change "It is important to harden your..." to "Harden your..."/

[2020-09-23 17:37] Charlotte-Holt commented on #929
@chirp1 Addressed! Rebuilding now.

[2020-09-23 17:46] dmuelle commented on #939
changes made in new editing pass:
- pattern->URL pattern, filter-> authentication filter per DQTI ch6 Use technical terms consistently and appropriately
- reorganized/re-chunked information to improve topic coherency per DQTI ch6 WRITE COHERENTLY
- opened a docbug to fix the code comment that Ut mentions in his review- since the example is now an include, the changes I previously made were lost. M

[2020-09-23 18:33] chirp1 commented on #941
The updates look Moving to Ready to publish.

[2020-09-23 18:47] chirp1 commented on #930
Updates look good! Moving to the Ready to Publish column.

[2020-09-23 18:53] chirp1 commented on #929
Looks good! Moving to Ready to Publish.

[2020-09-23 19:26] ManasiGandhi commented on #955
@chirp1 New edits and updates

- Split the sentence "You can enable the SAML Web Single Sign-on feature to configure it automatically and activate two endpoints:"into two "Open Liberty provides a default configuration of the SAML Web Single Sign-on feature after the feature is enabled.
The SAML Web Single Sign-on feature activates the following two endpoints:" for context and clarity.

"One way to

[2020-09-23 19:51] chirp1 commented on #942
The updates look good! Moving to Ready to Publish.

[2020-09-23 19:59] ManasiGandhi commented on #636
@chirp1 New edits and updates

- Removed the sentence "The JWT builder is used for the creation of JWTs." as it didn't provide any context.

- Changed the sentence "The `ID` attribute for the `jwtBuilder` element  named `myBuilder` is used to identify the JWT builder, and uses the default `keyAlias` attribute to locate the private key." to, "The `ID` attribute for the `jwtBuilder` element  named `

[2020-09-23 20:08] wtlucy opened #2698 "Documentation for grpc-1.0 and grpcClient-1.0"
Feature epic: https://github.com/OpenLiberty/open-liberty/issues/8637
Design document: https://ibm.box.com/shared/static/x6vy73iadmip6ix00mzhwuz2vqgqr4x2.pptx
OL Guide issue: https://github.com/OpenLiberty/guides-common/issues/512
Simple sample project: https://github.com/OpenLiberty/sample-grpc

The new gRPC features need to be documented.  We should provide an introduction of gRPC, and give some

[2020-09-23 20:16] ManasiGandhi commented on #571
@chirp1 New edits and updates

- Changed , "The `jwksUri` attribute tells the `mpjwt` element from where to obtain the public key to validate the JWT.", to, "The `jwksUri` attribute points the `mpjwt` element towards the public key to validate the JSON Web Token." for clarity

"A concise, powerful verb more clearly conveys your intended meaning and promotes a more active style."
https://learning.o

[2020-09-23 22:49] Rwalls1 commented on #210
Editing reference: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch08.html
                               https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch11.html

[2020-09-24 20:26] teddyjtorres commented on #1964
Hi Laura. No problem. The id refers to the builder itself and it is not used for the tokens.

Hi Manasi. Thank you for the changes.

[2020-09-24 22:00] Rwalls1 commented on #1676
Editing References: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch10.html
                                  https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch06.html

[2020-09-25 01:52] ManasiGandhi commented on #2569
@lauracowen I removed mentions of the word "specific" and added the link for server.env file.

[2020-09-25 13:51] navidsh commented on #1695
- [x] Formatting issues across [the rendered page](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/configuring-jmx-connection.html) e.g.
![image](https://user-images.githubusercontent.com/2364853/94273213-1846aa80-ff12-11ea-9668-0336a51717c9.png)
- [x] I don't think users can enable features as follows `<feature>restConnector-2.0/>`. It's usually in this way:
[code]
- [x] Having both of t

[2020-09-28 13:19] Charlotte-Holt commented on #929
Published at https://openliberty.io/docs/20.0.0.10/security-hardening.html

[2020-09-28 13:19] #929 closed

[2020-09-28 13:19] Charlotte-Holt commented on #930
Published at https://openliberty.io/docs/20.0.0.10/server-configuration-hardening.html

[2020-09-28 13:19] #930 closed

[2020-09-28 13:20] Charlotte-Holt commented on #941
Published at https://openliberty.io/docs/20.0.0.10/network-hardening.html

[2020-09-28 13:20] #941 closed

[2020-09-28 13:20] Charlotte-Holt commented on #942
Published at https://openliberty.io/docs/20.0.0.10/application-configuration-hardening.html

[2020-09-28 13:20] #942 closed

[2020-09-28 13:35] dmuelle commented on #1833
Draft URL: https://draft-openlibertyio.mybluemix.net/docs/latest/logstash-events-list.html

[2020-09-28 13:36] dmuelle commented on #1694
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.12/log-trace-configuration.html#json

[2020-09-28 14:41] dmuelle commented on #1095
# Peer review

examples look good, just a few minor comments

## Basic configuration

I think the intro sentence here is a little confusing. It says
`The following example shows how to configure the Logstash Collector feature to enable a source for data collection, which is, by default, message:`
But then the example actually shows a hostname, port number and ssl ref. Those are the minimum require

[2020-09-28 15:09] dmuelle commented on #1096
updates made in new editing pass:

- `You can configure TLS to specify how the details of the handshake and other aspects of the protocol are implemented for your application.` --> `You can configure the feature to specify how the details of the TLS handshake and other aspects of the TLS protocol are implemented for your application.`  DQTI ch6 Avoid Ambiguity

- `You can also create and configure

[2020-09-28 16:22] Rwalls1 commented on #2417
@tjwatson Please review, I've added some of the intro details that you suggested regarding the feature, I didn't include the OSGI information as I think those details are more suitable for a conceptual document:
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/bells-1.0.html

[2020-09-28 17:08] dmuelle commented on #1180
edits made in new pass:

- Auto federation of user registries --> Default federation of user registries DQTI Ch7 concreteness: Use specific language
- If you want to specify a subset of user registries to federate into a custom federated repository...-->  If you want to federate just a subset of user registries into a custom federated repository DQTI ch6 Clarity: Focus on the meaning

[2020-09-28 17:20] chirp1 commented on #893
Hi David,

Nice job with the topic! I have a few comments:
- Crisp up the words that go with the diagram so that they match better. For instance, the diagram says browser/client, but the description says user. You might also in the description mention the numbered steps that are in the diagram.
- Having "5. Create JWT" inside the Application rectangle seems inconsistent with the other rectangles a

[2020-09-28 20:00] tjwatson commented on #2417
The sentence needs some work:

`The BELLs feature extends the Open Liberty runtime by allowing libraries to define the implementation of an Open Liberty SPI or API with Java ServiceLoader configuration files.`

The bells feature itself does not extend Open Liberty, rather it enables libraries to extend Open Liberty.  I would reword to this:

`The BELLs feature enables libraries to extend the Open

[2020-09-29 00:15] dmuelle commented on #1676
Hi @Rwalls1 - in the course of reviewing my Authentication topic, Karen noticed that the only SSO option it discusses that isn't in your topic is OIDC. In order to avaoid duplicating information, she asked me to removed the sections from my topic and just provide a bulleted list with links to this topic. Can you add a section for OIDC so I can link to it? You can use the copy that I'm takling out

[2020-09-29 01:15] dmuelle commented on #893
@chirp1 thanks for reviewing. I made the following changes per your review:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication.html

- [x] Crisp up the words that go with the diagram so that they match better. **I updated both the diagram and the description. I didn't end up adding the numbered steps to the description because it would have made the description much longer an

[2020-09-29 12:51] Rwalls1 commented on #1095
@dmuelle Thanks, I have addressed your feedback.

[2020-09-29 13:16] Rwalls1 commented on #2417
@tjwatson Please review the latest update: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/bells-1.0.html

[2020-09-29 13:22] tjwatson commented on #2417
LGTM

[2020-09-29 17:43] Charlotte-Holt commented on #490
Admin center hasn't moved to OL yet

[2020-09-29 17:52] Charlotte-Holt commented on #505
Different specs to check for properties https://download.eclipse.org/microprofile/microprofile-3.3/microprofile-spec-3.3.html#microprofile3.3

[2020-09-29 18:01] Charlotte-Holt commented on #131
This is ongoing. Issues are being tracked by the **enhance generated docs** label. Examples of published config snippets:
- https://openliberty.io/docs/20.0.0.10/reference/feature/jdbc-4.3.html
- https://www.openliberty.io/docs/20.0.0.10/reference/feature/socialLogin-1.0.html

[2020-09-29 18:03] #131 closed

[2020-09-29 20:22] ManasiGandhi commented on #1695
@navidsh Here's the new link to the draft with the changes https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-jmx-connection.html.

[2020-09-30 12:58] navidsh commented on #1695
- "Access the REST connector directly by using an HTTPS call. You can see the full list of REST API endpoints, along with information on how to use the APIs, by enabling the API Discovery feature on an Open Liberty server."

This needs to be reworded since the API Discovery feature isn't available in Open Liberty. (I missed it in the last review).:

Suggested change:

The rest of the changes look

[2020-09-30 14:00] ManasiGandhi commented on #1695
@navidsh Updated link with the latest changes https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-jmx-connection.html

[2020-09-30 14:03] navidsh commented on #1695
@ManasiGandhi The latest looks good to me. Thank you.

[2020-09-30 15:20] Charlotte-Holt commented on #727
First point of contact: Martin Mulholland (who wrote the blog)

[2020-09-30 18:54] dmuelle commented on #2363
Hi @kristip17 - now that the acmeCA autogen is in the doc build, I've added some config examples to the page, based on your original doc info from #1699. These will publish together with [that concept topic](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/acme-cert-management.html), ideally in 20.0.0.11.

They'll need some more work I'm sure but when you have a chance, take a look and let

[2020-09-30 19:59] kristip17 commented on #2363
I think all the examples should stay in.

I will double check on the syntax.

Review comments:

You can configure the amount of time before a certificate expires that the ACME Support feature renews the certificate by specifying a value for the renewBeforeExpiration property. The default value for the renewBeforeExpiration property is seven days. In the following example, the feature requests a ce

[2020-09-30 20:06] wrodrig opened #2741 "SSO Hyperlinks are not working"
The following hyperlinks are not working

Here is the link
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html
Under SPNEGO the hyperlink
 **Configuring SPNEGO authentication in Open Liberty.** is not working.

Also under SAML
You can configure Open Liberty to enable SAML single logout. SAML single logout is a near-simultaneous logout of a user from a specific authenticati

[2020-09-30 20:29] kristip17 commented on #2363
I like specific examples -- wondering if it would be too specific to add this to `Minimum configuration` (maybe at the end of that section?)

For example, to use Lets Encrypt (https://letsencrypt.org/) , the directory URL could be `directoryURI="https://acme-v02.api.letsencrypt.org/directory"` (production server) or `directoryURI="https://acme-staging-v02.api.letsencrypt.org/directory"` (test serv

[2020-09-30 21:09] wrodrig opened #2745 "SPNEGO Configuration Documentation"
First of all I really like the new approach to this KC. Is really easy to follow and it does a good job explaining the concepts and what steps are needed for the customer to configure it. Really Good Job!

I'm still reading through the information but I wanted to briefly talk about the SPNEGO configuration article.
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-spnego-authent

[2020-10-01 02:39] Rwalls1 commented on #2745
@wrodrig Please review, I've fixed the links:https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-01 11:45] Rwalls1 commented on #1676
New topic link: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-01 13:08] Rwalls1 commented on #2281
Editing references: https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch09.html
                                 https://learning.oreilly.com/library/view/developing-quality-technical/9780133119046/ch11.html

[2020-10-01 13:15] Charlotte-Holt commented on #1573
Updates made:

- "When you use this option for protecting system passwords in the Open Liberty configuration, you need to understand the limits to the protection it provides." **-->** "When you use this option for protecting passwords in the Open Liberty configuration, you need to understand the limits to the protection that AES encryption provides." - **DQTI, Chapter 6, Clarity, Use pronouns corr

[2020-10-01 13:23] Rwalls1 commented on #2741
@wrodrig Please review, I've fixed the links:https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-01 13:48] utle opened #2746 "Should we link to the UserRegistry interface doc?"
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication.html

-   Should we link to the UserRegistry interface?
If your application needs to reference a user registry other than a basic or LDAP user registry, you can configure a custom user registry by implementing the `UserRegistry` interface

-  Should we have to same SSO order with https://draft-openlibertyio.mybluemix.net/docs/

[2020-10-01 13:58] wrodrig commented on #2741
Hi,
Thank you for your review. It seems like some of the links two links that were reported are now working but now, the Transport Layer Security TLS hyperlink is broken:

You can configure Transport Security Layer (TLS) to encrypt communication between services for any SSO method that you choose so that the authentication tokens are not intercepted during transmission. For more information, see *

[2020-10-01 14:02] utle opened #2747 "Authorization article comments - https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authorization.html"
- The diagram of Authorization should show the authorization.
- Not sure if we need to mention the ibm application bind is still supported?

[2020-10-01 14:12] utle opened #2749 "SSO article comments - https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html"
- The TLS link does not work `Secure communication with Transport Layer Security (TLS).`

- The SPNEGO configuration link does not work.  For more information, see `Configuring SPNEGO authentication in Open Liberty.
`

[2020-10-01 14:32] dmuelle commented on #927
comments from @utle in https://github.com/OpenLiberty/docs/issues/2747#issue-712874204

- The diagram of Authorization should show the authorization.
- Not sure if we need to mention the ibm application bind is still supported?

[2020-10-01 14:32] dmuelle commented on #2747
closing this issue and copying these comments to #927 to track the updates in the issue for this doc

[2020-10-01 14:32] #2747 closed, assigned to nobody

[2020-10-01 14:32] wrodrig commented on #2745
I found something else that might help the consideration of my proposal. I was looking at this link:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

In the SPNEGO Section it mentions this

For more information, see **Configuring SPNEGO authentication in Open Liberty.**

Which redirects to the link that this issue is talking about.

https://draft-openlibertyio.mybluem

[2020-10-01 14:36] dmuelle commented on #1676
comments from @utle in #2749

- The TLS link does not work `Secure communication with Transport Layer Security (TLS).`

- The SPNEGO configuration link does not work.  For more information, see `Configuring SPNEGO authentication in Open Liberty.
`

[2020-10-01 14:36] dmuelle commented on #2749
closing this issue and copying these comments into #1676 to track the updates there

[2020-10-01 14:36] #2749 closed, assigned to nobody

[2020-10-01 14:37] Charlotte-Holt commented on #364
Updates made:

- "A PKCS12 keystore has a number of advantages over a JKS keystore." **-->** "A PKCS12 keystore has advantages over a JKS keystore." - **DQTI, Chapter 6, Clarity, Eliminate wordiness**
- "Specifies the key to use to encode the keystore password by using AES encryption." **-->** "Specifies the key to use when you encode a password with AES encryption." - **DQTI, Chapter 4, Accuracy,

[2020-10-01 14:39] dmuelle commented on #893
comments from @utle in 2746:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication.html

-   Should we link to the UserRegistry interface?
If your application needs to reference a user registry other than a basic or LDAP user registry, you can configure a custom user registry by implementing the `UserRegistry` interface

-  Should we have to same SSO order with https://draft-ope

[2020-10-01 14:39] dmuelle commented on #2746
closing this issue and copying these comments into #893 to track the updates there

[2020-10-01 14:39] #2746 closed, assigned to nobody

[2020-10-01 14:44] Charlotte-Holt commented on #1479
Comment from @wrodrig:

First of all I really like the new approach to this KC. Is really easy to follow and it does a good job explaining the concepts and what steps are needed for the customer to configure it. Really Good Job!

I'm still reading through the information but I wanted to briefly talk about the SPNEGO configuration article.
https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/co

[2020-10-01 14:44] Charlotte-Holt commented on #1479
Comment from @wrodrig:

I found something else that might help the consideration of my proposal. I was looking at this link:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

In the SPNEGO Section it mentions this

For more information, see Configuring SPNEGO authentication in Open Liberty.

Which redirects to the link that this issue is talking about.

https://draft-o

[2020-10-01 14:45] Charlotte-Holt commented on #2745
Thanks for the feedback, @wrodrig! Moved this information over to #1479. I'll follow up with you there to address it. Closing this issue.

[2020-10-01 14:45] #2745 closed, assigned to Charlotte-Holt

[2020-10-01 16:18] dmuelle commented on #927
@utle - thanks for reviewing

**The diagram of Authorization should show the authorization.**

- This diagram was included from the Authentication topic, I believe at @lauracowen request. Should it be removed from this topic? We can remove it and work on developing another but will likely require design help unless changes are minor. Can you be more specific about how to represent authorization at

[2020-10-01 17:22] dmuelle commented on #631
Edits

- When the `defaultKeyStore` element is specified in the configuration, Open Liberty builds a TLS configuration around it with an ID attribute value of `defaultSSLConfig`--> When the `defaultKeyStore` value is specified, Open Liberty builds a TLS configuration around it with an ID attribute value of `defaultSSLConfig`. DQTI Ch6 Clarity

- Provide certificates from an environment variable or

[2020-10-01 17:26] dmuelle commented on #1091
Edits
- LDAP registry--> LDAP User Registry (Throughout doc) DQTI Ch6 Clarity:  Use technical terms consistently and appropriately
- If you need to configure search behavior to include custom classes or attributes---> If you need to include custom classes or attributes in searches of an LDAP user registry DQTI ch7 Concreteness: Use specific language

[2020-10-01 17:29] Charlotte-Holt commented on #954
Updates made:

- "Specify attributes within the [`authFilter` element](https://openliberty.io/docs/20.0.0.10/reference/config/authFilter.html) in the `server.xml` file..." **-->** "Specify attributes within the [authFilter element](https://openliberty.io/docs/20.0.0.10/reference/config/authFilter.html) in the `server.xml` file..." - **DQTI, Chapter 8, Style, Use consistent tagging**
- "The client

[2020-10-01 17:36] Charlotte-Holt commented on #1479
Updates made:

- "You can enable single sign-on (SSO) for HTTP requests by using Simple and Protected GSS-API Negotiation Mechanism (SPNEGO) web authentication for Open Liberty." **-->** "You can enable single sign-on (SSO) for HTTP requests by using Simple and Protected GSS-API Negotiation Mechanism (SPNEGO) web authentication." - **DQTI, Chapter 6, Clarity, Eliminate wordiness**
- "What to do ne

[2020-10-01 18:34] dmuelle commented on #893
@utle thanks for reviewing:
- **Should we link to the UserRegistry interface?**  There's currently no API documentation in Open Liberty, so for the time being, I've linked to [the Liberty KC for this interface](https://www.ibm.com/support/knowledgecenter/SSAW57_liberty/com.ibm.websphere.javadoc.liberty.doc/com.ibm.websphere.appserver.api.basics_1.4-javadoc/com/ibm/websphere/security/UserRegistry.h

[2020-10-01 18:52] Charlotte-Holt commented on #1479
@wrodrig I incorporated your feedback. This topic is ready for you to test when you can: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-spnego-authentication.html. Thx!

[2020-10-01 19:22] Charlotte-Holt commented on #1645
@Azquelt I've incorporated your feedback. Please take another look when you have a chance. https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/async-programming-fault-tolerance.html

[2020-10-01 19:37] kristip17 commented on #1699
I was looking at the doc again and had a small thing

Under `ACME and Open Liberty`
`acmeCa-2.0` should be `acmeCA-2.0`

[2020-10-01 19:39] kristip17 commented on #2363
Could we include this server.xml with simple REST config information?

Minimum recommended configuration with REST

To use the REST APIs to view, renew or revoke the certification, add an administrator and optional reader role user. The following configuration includes an administrator role using a Basic Registry.

[code]

[2020-10-01 19:52] Rwalls1 commented on #2741
@wrodrig Please review, the links should be fixed now: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/single-sign-on.html

[2020-10-01 20:02] dmuelle commented on #2363
Thanks for reviewing @kristip17. I've updated the doc per your review:

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/acmeCA-2.0.html

- [x]   add this before "In the following example:
When the certificate enters renew timeframe, a renew request can occur at server startup, after a configuration update or during daily internally scheduled certificate checks. **done**

[2020-10-01 22:40] chirp1 commented on #2698
Discussed the feature with Bill - guide versus topic info. Approving the Epic.

[2020-10-02 14:42] utle opened #2760 "https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-spnego-authentication.html#create-kerberos-spn"
It's better to use the same host name and realm name with other examples. I think we want to change the following from:
[code]
To:
[code]

[2020-10-02 14:48] utle opened #2761 "https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/config/authFilter.html"
We need to pick the update of authFilter metatype that have more description and samples.

[2020-10-02 15:03] Charlotte-Holt commented on #1479
Comment from @utle:

It's better to use the same host name and realm name with other examples. I think we want to change the following from:

[code]

To:

[code]

[2020-10-02 15:03] Charlotte-Holt commented on #2760
Thanks, @utle! I added this to #1479. Closing this issue.

[2020-10-02 15:03] #2760 closed, assigned to nobody

[2020-10-02 15:25] utle opened #2764 "https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/transportSecurity-1.0.html"
1) Minor comments - We should consistent whether to have a space at the end of an element `/>` through the doc.  Also, whether to have one line of the attributes unless it does not fix in one line. Here are examples:

`<sslDefault sslRef="customSSLConfiguration"/>
`

[code]
2)  Change from
[code]
To:
[code]
3) The new example should start with a new paragraph to make it's clearer:
From:
` Any valu

[2020-10-02 15:51] Charlotte-Holt commented on #1479
@utle I incorporated your feedback. Thx!

[2020-10-02 15:55] utle opened #2767 "https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/acme-cert-management.html"
1) A diagram would help for this feature. Maybe a link to acme https://letsencrypt.org/how-it-works/
2) This link does not work `Liberty reader role support.
`
3) `Troubleshooting` It's probably better in a separate article and can have just a link in this article
4) Can we have an example step by step how to configure Liberty to use ACME?
5) This link does not work ` the ACME Support feature.
`

[2020-10-02 16:06] utle opened #2768 "https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/password-encryption.html"
1) We are talking in length to suggest customer to put the key.xml in protected place and out side of the normal configuration directory but the example is in the `${shared.config.dir}/key.xml`. It's probably better to have something like `/protected/key.xml`
[code]

`This separate configuration file must contain only a single property declaration, and it must be stored outside the normal configur

[2020-10-02 16:08] ManasiGandhi commented on #891
Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/securing-cloud-native-microservices.html

[2020-10-02 16:10] ManasiGandhi commented on #1964
Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/jwtSso-1.0.html

[2020-10-02 16:28] chirp1 commented on #893
Hi David,
Here are my latest comments:
- How about if you put the explanation  of "custom user registry" before a discussion about it? So, for the User registries section, the"If your application needs to reference a..." paragraph explains the custom user registry. Put this paragraph before the "Open Liberty supports multiple user registries ", which  mentions custom user registries.
- In the diag

[2020-10-02 16:43] jvanhill commented on #1784
My findings:

Basic user registries:
---
`Although this registry is not secure enough for production environments`
- Are we sure we want to say this? Seems if they encrypt their passwords it should be secure. Would need @arkarkala to comment.

User Password Security
---
`You can obfuscate the passwords`
- Not only obfuscate, but also encrypt.

Federated user registries:
---
`they are federated by

[2020-10-02 18:20] jvanhill commented on #927
`During authentication, the user’s identity and roles are confirmed`
- Technically, only the user's idenity is confirmed during authentication. The roles are confirmed in authorization. However; perhaps we consider creating the subject with their roles / groups as 'authentication'. @utle @arkarkala , your opinion?

[2020-10-02 19:14] utle commented on #927
The roles are confirmed in authorization.

[2020-10-02 19:17] utle commented on #927
@dmuelle  yes, `ibm-application-bnd.xmi file or the ibm-application-bnd.xml file `. Maybe, we don't want to call them out here since we want customer to defined them in the server.xml file.

[2020-10-02 20:34] wrodrig commented on #1479
@Charlotte-Holt

Here some of my feedback Charlotte. Again thank you so much to you and the team for all the hard work!

### Under  Creating a Kerberos service principal name and keytab file

**Step 1**
**Suggestion:**

Could you specify the name of the user account myLibertyMachine_http?

Basically instead of

`Create a user account for the Open Liberty server. This account is used to map to the

[2020-10-05 13:12] una-tapa opened #2772 "Developer feedback from Gitter"
On gitter developer experience forum,  @scottkurz was recommending Liberty Hardening document to an external user mdagit.
He has a lot of things to say about Liberty and Security.   Before I lose this very helpful info from Scott.  Let me open an issue please.   We will go over later....

https://gitter.im/OpenLiberty/developer-experience#

[2020-10-05 14:43] Charlotte-Holt commented on #1286
Editing updates made:

- "The sessions that are associated with a single web application have their own `SessionStats` MXBean, meaning that there's one `SessionStats` MXBean for each web application." --> "The sessions that are associated with a single web application have their own `SessionStats` MXBean, meaning that one `SessionStats` MXBean exists for each web application." - DQTI, Chapter 6, C

[2020-10-05 16:04] Charlotte-Holt commented on #1573
Comment from @utle:

We are talking in length to suggest customer to put the key.xml in protected place and out side of the normal configuration directory but the example is in the `${shared.config.dir}/key.xml`. It's probably better to have something like `/protected/key.xml`

[code]

`This separate configuration file must contain only a single property declaration, and it must be stored outside

[2020-10-05 16:04] Charlotte-Holt commented on #2768
Thx! Added to #1573. Closing this issue.

[2020-10-05 16:04] #2768 closed, assigned to nobody

[2020-10-05 16:15] ManasiGandhi commented on #1695
Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-jmx-connection.html

[2020-10-05 16:15] aguibert commented on #2460
@lauracowen thanks for the detailed info. Here are some direct responses to your questions:

1. Setting up a KDC is a prerequisite, but in most cases I expect a KDC will already be available to devs/users who need to be using Kerberos auth for their datasources. A single KDC can be used by multiple apps/services at once, so it's not like a new KDC needs to be set up just for this use case. We coul

[2020-10-05 16:18] ManasiGandhi commented on #676
@chirp1 Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/openidConnectServer-1.0.html

[2020-10-05 16:19] dmuelle commented on #2767
closing this issue and copying these comments into #1699 to track the work there

[2020-10-05 16:19] #2767 closed, assigned to nobody

[2020-10-05 16:20] dmuelle commented on #1699
comments from @utle in #2767

1) A diagram would help for this feature. Maybe a link to acme https://letsencrypt.org/how-it-works/
2) This link does not work `Liberty reader role support.
`
3) `Troubleshooting` It's probably better in a separate article and can have just a link in this article
4) Can we have an example step by step how to configure Liberty to use ACME?
5) This link does not work `

[2020-10-05 16:20] ManasiGandhi commented on #1118
@chirp1 Updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/socialLogin-1.0.html.

[2020-10-05 16:21] ManasiGandhi commented on #1289
@chirp1 updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/sessionDatabase-1.0.html.

[2020-10-05 16:23] ManasiGandhi commented on #340
@chirp1 Updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/documentation-openapi.html.

[2020-10-05 16:25] dmuelle commented on #2764
closing this issue and copying comment in #631 to track the work there

[2020-10-05 16:25] dmuelle commented on #631
comments from @utle in #2764

1) Minor comments - We should consistent whether to have a space at the end of an element `/>` through the doc.  Also, whether to have one line of the attributes unless it does not fix in one line. Here are examples:

`<sslDefault sslRef="customSSLConfiguration"/>
`

[code]
2)  Change from
[code]
To:
[code]
3) The new example should start with a new paragraph to make

[2020-10-05 16:26] #2764 closed, assigned to nobody

[2020-10-05 16:28] ManasiGandhi commented on #1127
@chirp1 Updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/slow-hung-request-detection.html.

[2020-10-05 16:31] ManasiGandhi commented on #636
@chirp1 Updated link to the draft https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/jwt-1.0.html.

[2020-10-05 16:32] dmuelle commented on #2761
closing this issue and copying comments into #939 to track the work there

[2020-10-05 16:33] #2761 closed, assigned to nobody

[2020-10-05 16:33] dmuelle commented on #939
comment from @utle in #2761

We need to pick the update of authFilter metatype that have more description and samples.

[2020-10-05 17:03] Charlotte-Holt commented on #1573
@utle I've addressed your previous comment. Thanks! https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/password-encryption.html

[2020-10-05 17:05] utle commented on #2460
There are several KDCs out there such as MS KDC, zOS KDC, AIX KDC, Linux KDC, MIT KDC ...etc. I don't think we need a link for the KDC.

[2020-10-05 18:27] Charlotte-Holt commented on #849
Editing updates made:

- "The `featureUtility find` command finds features in the repositories that are applicable to your configuration and allows you to view detailed information about them." --> "The `featureUtility find` command finds features in the repositories that are applicable to your configuration and allows you to view detailed information about these features." - DQTI, Chapter 6, Clar

[2020-10-05 19:33] dmuelle commented on #1784
@jvanhill thanks for reviewing. I made the following changes to [the draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/user-registries-application-security.html) based on your comments:

`Although this registry is not secure enough for production environments`

Are we sure we want to say this? Seems if they encrypt their passwords it should be secure. Would need @arkarkala to comment

[2020-10-05 19:37] dmuelle commented on #927
I've updated the draft to clarify that roles are part of authorization, not authentication. We are reviewing this diagram to determine if it should be edited or replaced.

[2020-10-05 20:10] dmuelle commented on #939
@utle when was the metatype.properties updated? If prior to 20.0.0.11, it should be in the build already. We pull the gendoc with each 4 week release. Need to investigate if we are missing content.

@cbridgha - do we need to take any additional steps to get updates for metatype.properties files into the OL gendoc? @utle mentions here and w/r/t `ssl` that there are updates to the properties that ar

[2020-10-05 20:37] dmuelle commented on #631
@utle thanks for reviewing. I made the following changes to [the draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.10/reference/feature/transportSecurity-1.0.html) based on your review

- removed spaces from closing tags, put closing tag on same line wherever possible
- switched order of certificate examples and updated explanation per recommendation

When were the metatype.proerties up

[2020-10-05 20:43] dmuelle commented on #893
@chirp1 thanks for reviewing. I made the following changes to [the draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/authentication.html):

- How about if you put the explanation  of "custom user registry" before a discussion about it? **updated**
- In the diagram, with the change to a more generic "SSO provider",  now "5. Create JWT" seems too specific since you mention that the app

[2020-10-05 20:50] dmuelle commented on #1699
@utle thanks for reviewing- I made the following changes to [the draft](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/acme-cert-management.html):

1. Added a link to https://letsencrypt.org/how-it-works/ to introduction
2. Replaced `Liberty reader role support` with a link to [new config examples for the Application security feature](https://draft-openlibertyio.mybluemix.net/docs/20.0.0

[2020-10-05 21:04] dmuelle commented on #719
Hi @jvanhill - I've added the config example for admin/reader roles that we discussed via slack to the [Application Security feature page](https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/appSecurity-3.0.html). When you have a chance, can you review the example for `Administrative REST API access role configuration` ? If it looks ok, can you add the `technical reviewed` l

[2020-10-06 01:06] dmuelle commented on #1699
Just wanted to make note of some ACME feedback from gitter, cited in #2772 :

regarding ACME - great that you've added it but as i'm sure you are aware there several ways in which domain administration can be verified, and port 80 is just one of them. I'm right now in the odd situation at one client where i have DNS control but am not allowed to bind port 80. Also, _the docs will need to say somet

[2020-10-06 13:15] Charlotte-Holt commented on #1479
@wrodrig I've addressed your feedback. Please let me know if you have any questions. When the doc has been tested successfully, please add a comment and the **doc tested** label. Thanks! https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/configuring-spnego-authentication.html

[2020-10-06 14:00] Charlotte-Holt commented on #754
OpenLiberty/openliberty.io#1573 is closed (which was blocking this). We'll be keeping copies of the files that go in the RHR doc in the PurpleLiberty repo rather than building from the OL docs repo.

[2020-10-06 14:00] #754 closed

[2020-10-06 14:18] #723 closed

[2020-10-06 14:20] jvanhill commented on #719
@dmuelle -

The following sentences should be updated to include all the users and groups.

Reader role: monitorGroup, members, monitorUser, Bob
Admin role: adminGroup, managers, adminUser, Wanda

[code]

[2020-10-06 14:23] #618 closed

[2020-10-06 14:24] #610 closed

[2020-10-06 14:25] #619 closed

[2020-10-06 14:36] Charlotte-Holt commented on #731
The config example that @alaine provided is included in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/transportSecurity-1.0.html.

[2020-10-06 14:57] Charlotte-Holt commented on #809
Work complete in https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/log-trace-configuration.html.

[2020-10-06 14:57] #809 closed

[2020-10-06 16:31] ManasiGandhi commented on #955
@chirp1 Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/samlWeb-2.0.html

[2020-10-06 16:33] ManasiGandhi commented on #571
@chirp1 Updated draft link https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/jwt-1.0.html.

[2020-10-06 16:58] kristip17 commented on #1699
Domain verification using port 80 is a requirement of ACME when doing the `HTTP-01 challenge` type and using some public CAs. At this time, we have not implemented the `DNS-01 challenge`

The docs do talk about about refreshing the certificate automatically -- by default, we will attempt to renew 7 days before expiration and we check for expiration daily. That is listed here, currently https://dra

[2020-10-06 17:01] lauracowen commented on #2460
@aguibert Awesome, thanks - that's really useful.

Okay, that's useful to understand. We've been trying to work out the separation between something the user should go off and make sure they've done vs something that should be available to them and they just need to make sure they know the details of it (eg connection details or whatever's appropriate in the context).

Yes, I think remove the `<se

[2020-10-06 17:16] aguibert commented on #2460
We already generate the opposite list, such as: https://openliberty.io/docs/20.0.0.10/reference/feature/jdbc-4.3.html#_feature_configuration_elements

This provides info on `features-->config`, which answers the question: "What config elements do I get if I enable this feature?"

But I think it would be more useful to provide info in terms of `config-->features` which answers the much more realist

[2020-10-06 17:23] lauracowen commented on #2460
@aguibert Yes, I agree. It's something I've wondered about occasionally before so it was useful when you made the point above. At about the same time, an external user also mentioned it: https://github.com/openliberty/docs/issues/2572 We're going to take a look at it next week as part of a few related issues about how we build the generated docs.

[2020-10-06 20:13] chirp1 commented on #1676
@Rwalls1 Hi Richard, this topic has a link to the SPNEGO spec: https://www-01preview.ibm.com/support/knowledgecenter/SSAW57_9.0.5/com.ibm.websphere.nd.multiplatform.doc/ae/csec_SPNEGO_explain.html In your topic, use the SPNEGO spec link as the link to more SPNEGO information.

[2020-10-07 15:22] dmuelle commented on #1699
Thanks @kristip17 ! I've updated the first sentence under `Certificate renewal and revocation` per your suggestion.

@lauracowen this topic and #2363 are ready for your review

[2020-10-07 16:18] dmuelle commented on #719
Hi @jvanhill I've updated the example per our slack discussion, splitting it into two examples, one of which is for user/group elements and the other for the option of using access IDs

https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/appSecurity-3.0.html#_administrative_rest_api_access_role_configuration

If it needs any further tweaks, just let me know. If it looks good

[2020-10-07 16:32] dmuelle commented on #951
@lauracowen updated the draft per your comments:

- [x]  "Open Liberty For updates" - typo/paste error **fixed**

- [x]  Should the third row in the table be labelled "Jakarta EE 8 Web Profile" rather than "Servlet 4.0"? (I'm not sure but we don't have a package called "Servlet"). **I read this not as being about specific packages but about example package sizes. As in "a packaged server that cont

[2020-10-07 17:42] lauracowen commented on #2460
Additional relevant info from separate conversation with Alasdair:

There are 2 possible scenarios:
1) User logs into webapp using SPNEGO and then uses the SPNEGO credentials to login to database
2) Kerberos identity associated with the server is used to authenicate to database

scenario 2 is more likely. For security reasons you rarely give external users access to your database.

[2020-10-07 18:49] dmuelle opened #2805 "ID: APSFOUND-73: open-liberty documentation"
This issue duplicates info from https://github.ibm.com/was-liberty/liberty-docs/issues/2109- we will include the doc with other EJB related content coming over from KC (TBD)

SME: @tkburroughs

### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
-

[2020-10-07 18:51] Charlotte-Holt opened #2806 "Reactive Java"
Introduction to reactive programming in Java with:

- MP Reactive Streams Operators
  - see https://openliberty.io/blog/2019/04/26/reactive-microservices-microprofile-19004.html
- JAX-RS reactive extensions
  - see https://openliberty.io/blog/2019/04/10/jaxrs-reactive-extensions.html
- MP Reactive messaging

Contacts:

- Andy McCright

Starting point:

- Talk to Andy about what questions the infor

[2020-10-07 18:52] Charlotte-Holt commented on #264
Opened #2806. Closing this issue.

[2020-10-07 18:52] #264 closed

[2020-10-08 15:17] mbroz2 commented on #197
We don't consider the need to search (filter really) on search messages as MVP for getting the messages on the site.  Instead, the proposed approach is to provide a single page with all messages, but also having links (hashes) to each of the 5 letter msg prefixes in the ToC ([similarly to the server config behavior today](https://openliberty.io/docs/20.0.0.10/reference/config/classloader.html#comm

[2020-10-08 18:25] wtlucy opened #2811 "Add gRPC metrics to Metrics reference list"
Related to #2698

New metrics have been added for the `grpc-1.0` and `grpcClient-1.0` features.  Those metrics need to be added to https://openliberty.io/docs/20.0.0.10/metrics-list.html#

* grpc-1.0 metrics
[code]

* grpcClient-1.0 metrics
[code]

***

Additionally, we need to add the corresponding metrics to the `JMX metrics catalog` doc that's being created in #1286; for that doc, we'll need to

[2020-10-09 11:12] chirp1 commented on #2805
Hi David, The issue needs to be opened by Tracy.

[2020-10-09 11:12] #2805 closed, assigned to nobody

[2020-10-09 13:57] tkburroughs opened #2816 "ID: APSFOUND-73: open-liberty documentation"
### Does the documentation apply to all platforms?
- [x] Yes
- [ ] No. Specific platforms: ______

### Does the documentation apply to all editions
(Liberty Core, Liberty base, Liberty ND, Liberty z/OS)?
- [x] Yes.
- [ ] No. Specific editions: ______

### Specify what you want documented (required):
For each new topic, complete the following information:

##### To create a topic:
- [x] Specify a f

[2020-10-09 15:13] chirp1 commented on #893
Hi!
- For the "...Social Media Login feature..." link, have the link include "feature" since you have a link further down to "Social Media Login" in the SSO topic, and the two links link to different information.
- You have " SSO identity provider" in a paragraph and "SSO provider" in the diagram. Use the same term in both.
- For "In the following diagram, a user ....", I'm finding the written des

[2020-10-09 15:31] Rwalls1 commented on #2417
@una-tapa Please review: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/bells-1.0.html

[2020-10-09 16:04] chirp1 commented on #1676
@Rwalls1 HI! I see that you have one editorial reference. Please go back and use another one to spruce the topic and list the editorial reference in this issue.

More editorial comments:
- Change "The method that you choose to use..." to "The method that you  use..." (to get rid of extra words)
- For "uses the OAuth or OpenID Connect (OIDC) standard" should the "or" be an "and"? I think OpenID con

[2020-10-09 22:50] Rwalls1 commented on #1128
New link to topic: https://draft-openlibertyio.mybluemix.net/docs/20.0.0.11/reference/feature/mpMetrics-2.3.html

[2020-10-12 13:08] Azquelt commented on #1645
Looks good :+1:

[2020-10-12 13:09] Charlotte-Holt commented on #1645
Thanks, @Azquelt. Requesting a peer review from @ManasiGandhi.