[2022-07-25 10:11] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Incorporated your comment. Ran Acrolinx.

There are 2 sentences that acrolinx says are long. The reason being it has attribute names etc make it long. I did not replace them. This is because reading them made sense and trying to rephrase them would distort the meaning.

The 2 sentences are:

If a security role that is defined in the `server.xml` file matches the security role th

[2022-07-25 12:36] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

Comment incorporated.

Draft link: https://draft-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-07-25 15:22] dmuelle commented on #5441
LGTM, thanks

[2022-07-25 15:37] dmuelle commented on #5439
a few suggestions:

If a security role that is defined in the server.xml file matches the security role that is defined in the ibm-application-bnd.xml file, the role from the server.xml file overwrites the role from the application.
--->
If a security role in the server.xml file matches a security role in the ibm-application-bnd.xml file, the role from the server.xml file overwrites the role from

[2022-07-25 15:42] dmuelle commented on #5637
Hi Ellen,

I made some minor edits to clarify this info in the examples:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/access-logging.html#_time_based_http_access_log_rollover

If any further edits are needed, just let me know. If not, you can add the `technical reviewed` label to this issue and the updates will publish with the 22.0.0.8 docs release. Thanks

[2022-07-25 16:03] jgawor opened #5668 "VARIABLE_SOURCE_DIRS"
The name of the `VARIABLE_SOURCE_DIRS` variable indicates that multiple directories can be specified. However, the documentation on https://openliberty.io/docs/latest/reference/default-environment-variables.html or https://openliberty.io/docs/latest/reference/config/server-configuration-overview.html#variable-substitution does not mention what separator to use when specifying multiple directories.

[2022-07-25 17:09] dmuelle commented on #5668
Thanks- @jgawor - What separator would you use to define multiple directories in this variable? Would it be a pipe or a comma? or semicolon? Could you provide an example?

[2022-07-25 18:20] jgawor commented on #5668
Based on the code it looks like the it's the path separator (`;` on windows and `:` on *nix). @brenthdaniel can you confirm?

[2022-07-25 18:28] brenthdaniel commented on #5668
yes, it's the system specific path separator

[2022-07-25 19:21] WhiteCat22 commented on #505
## Microprofile GraphQL

`mp.graphql.defaultErrorMessage`: The property is read when an application throws an unchecked exception.

`mp.graphql.exceptionsWhiteList`: The property is read when an application throws an unchecked exception.

https://download.eclipse.org/microprofile/microprofile-graphql-2.0/microprofile-graphql-spec-2.0.html#_unchecked_exceptions

`mp.graphql.exceptionsBlackList`: Th

[2022-07-25 20:01] pgunapal commented on #505
**MicroProfile Health**

- `mp.health.disable-default-procedures` : This property is N/A for OpenLiberty runtime, as the Open Liberty runtime does not have any default vendor health check procedures.
- `mp.health.default.readiness.empty.response` : This property is read at application startup.
The above property description should be updated to state that it is available in MicroProfile Health 3.0

[2022-07-26 16:29] TrevCraw commented on #5645
Proposed changes to reflect new default functionality regarding automatic generation of features. Suggested changes are in bold:

"Detect, recompile, and deploy code changes" section

**If automatic generation of features is turned on (off by default in dev mode),** Liberty features that your application requires are automatically generated in your server configuration. New features, whether added

[2022-07-26 20:53] dmuelle commented on #5645
Hi Trevor- here's the updated draft:

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/development-mode.html#auto

If any further changes are needed, just let me know. Otherwise, you can add the `technical reviewed` label to this issue and the edits will publish with 22.0.0.8. Thanks!

[2022-07-26 21:07] dmuelle commented on #5657
updated instructions and will apply for releases going forward

[2022-07-26 21:07] #5657 closed, assigned to dmuelle

[2022-07-27 13:21] ramkumar-k-9286 commented on #5439
Hi David @dmuelle

Staging site link: https://staging-openlibertyio.mybluemix.net/docs/latest/application-bindings.html

Regards,
Ramkumar

[2022-07-27 13:25] ramkumar-k-9286 commented on #5441
Hi David @dmuelle

Staging site link: https://staging-openlibertyio.mybluemix.net/docs/latest/password-encryption.html

Regards,
Ramkumar

[2022-07-28 15:56] Azquelt opened #5678 "Docs updates for MP OpenAPI 3.1"
The only things I can see that would need doing are:
* The config examples on the [MP OpenAPI 3.0 feature page][30-feature-page] should be carried across to the 3.1 page. I'm not sure whether this happens automatically or needs to be done manually.
* The [guide] should be updated to the latest version
* Documenting the `mp.openapi.scan.beanvalidation` property. This is already listed on OpenLibert

[2022-07-28 16:06] dmuelle commented on #5631
changes are on vNext and will publish with 22.0.0.8- thanks!

[2022-07-28 16:06] #5631 closed, assigned to dmuelle

[2022-07-28 17:52] dmuelle commented on #5439
changes are on vNext and will publish with 22.0.0.8, closing this issue

[2022-07-28 17:52] #5439 closed, assigned to ramkumar-k-9286

[2022-07-28 17:52] dmuelle commented on #5441
changes are on vNext and will publish with 22.0.0.8, closing this issue

[2022-07-28 17:52] #5441 closed, assigned to ramkumar-k-9286

[2022-07-28 17:52] dmuelle commented on #5645
changes are on vNext and will publish with 22.0.0.8, closing this issue

[2022-07-28 17:52] #5645 closed, assigned to dmuelle

[2022-07-28 17:52] dmuelle commented on #5637
changes are on vNext and will publish with 22.0.0.8, closing this issue

[2022-07-28 17:52] #5637 closed, assigned to dmuelle

[2022-07-28 20:56] dmuelle opened #5684 "Update Java 8 and 17 EOS in SE support table"
Change [Supported Java SE releases](https://openliberty.io/docs/latest/java-se.html#supported) so that Java SE 8 End of Open Liberty support is listed as 26.0.0.10 instead of 26.0.0.4. Also update Java 17 EOS to 27.0.0.10.

[2022-08-01 13:55] dmuelle commented on #5678
Hi @Azquelt - I'm not sure we have any actual updates to make in the docs-

- config examples from MP OpenAPI 3.0 will go across to 3.1 automatically
- the guides are managed separately from the docs and are handled by the guides team. I'm not sure what their update process is but I [opened an issue in the repo for this guide](https://github.com/OpenLiberty/guide-microprofile-openapi/issues/154) t

[2022-08-01 14:04] dmuelle commented on #5684
also update Java 17 EOS to 27.0.0.10 per https://github.ibm.com/websphere/liberty-docs/issues/3042

[2022-08-02 15:45] gkwan-ibm commented on #5678
hi @Azquelt is MP OpenAPI 3.1 belongs to MP 5.x? In https://github.com/eclipse/microprofile/releases, I didn't see any MP 5.0+.

[2022-08-02 15:47] Azquelt commented on #5678
@dmuelle

No, it's only available from 3.1 onwards.

[2022-08-02 15:47] Azquelt commented on #5678
@gkwan-ibm No, the spec will be included in MP 6.0.

[2022-08-04 13:34] ramkumar-k-9286 commented on #5668
Hi Jarek @jgawor

The suggested corrections have been made to the files.
The draft links for the pages are added below.

Draft links: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/default-environment-variables.html

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/config/server-configuration-overview.html#variable-substitution

Regards,
Ramkumar

CC @dmue

[2022-08-04 14:42] jgawor commented on #5668
@ramkumar-k-9286 looks good. thank you!

[2022-08-04 15:50] dmuelle commented on #5668
Looks good-  a slight edit to clarify and remove passive voice:

The system-specific path separator that is used to define multiple directories in this variable is a ; on Microsoft Windows or a : on Unix.
-->
To define a list of directories as the value for this variable, separate each directory with the path separator for your operating system. For Windows, the path separator is a semicolon (`;`)

[2022-08-04 17:45] #5634 closed, assigned to nobody

[2022-08-05 09:10] Azquelt commented on #5678
There's been a change to when we want to release this feature. Originally we were targeting 22.0.0.9, but now we're going to wait and release it alongside the rest of MicroProfile 6.0.

[2022-08-05 12:12] ramkumar-k-9286 commented on #5668
Hi David @dmuelle

Suggested comments incorporated.

Draft links: https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/default-environment-variables.html

https://docs-draft-openlibertyio.mybluemix.net/docs/latest/reference/config/server-configuration-overview.html#variable-substitution

Regards,
Ramkumar

[2022-08-05 16:09] dmuelle commented on #5668
LGTM- send it to staging when you get a chance, thanks

[2022-08-05 16:11] dmuelle commented on #5678
ok, i think the only needed change is to hold the `mp.openapi.scan.beanvalidation` property out from  the [MP Config properties page](https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile-config-properties.html#openapi) if that goes live before MP 6.0. I'll keep this issue open to keep track of that. Thanks

[2022-08-05 16:26] jgawor opened #5691 "Small deployment on openshift updates"
Document: Deployment on OpenShift
http://openliberty.io/docs/latest/deployment-openshift.html

* First mention of OpenShift is not a link but the second one is. It would probably make sense to make the first one a link.
* The doc mentions "and [Kubernetes Application Navigator (kAppNav)](https://kappnav.io/) integration." -  that's a broken link at this point and I think this whole bit can be remo

[2022-08-08 16:59] ramkumar-k-9286 commented on #5668
Hi David @dmuelle

Staging site links:

https://docs-staging-openlibertyio.mybluemix.net/docs/latest/reference/default-environment-variables.html

https://docs-staging-openlibertyio.mybluemix.net/docs/latest/reference/config/server-configuration-overview.html#variable-substitution

Regards,
Ramkumar

[2022-08-08 17:46] ramkumar-k-9286 commented on #5668
changes are on vNext and will publish with the 22.0.0.9 release.

Closing this issue. Thanks!

[2022-08-08 17:46] #5668 closed, assigned to ramkumar-k-9286

[2022-08-09 22:27] gjwatts opened #5694 "Update Open Liberty docs for Java 19 support"
With Java 19 being released (and the simultaneous discontinuation of support for Java 18), the list of supported versions of Java by Open Liberty needs to be updated. The only file needing to be changed is modules/ROOT/pages/java-se.adoc.

We just need to hold off on merging this until Open Liberty officially supports Java 19.

[2022-08-15 17:57] Channyboy commented on #505
- `mp.metrics.tags`
This value is read during the runtime startup. The value of these tags are appended to the output of each metric.
- `mp.metrics.appName`
This value is read/evaluated during runtime. This is used when multiple applications are deployed to the runtime and there is
need to avoid metric name collisions. This is defined through  a `microprofile-config.properties` provided under the

[2022-08-15 21:27] jim-krueger commented on #505
## RestClient
All of the properties listed are read during the processing of a method invocation when the RestClient bean is created.

[2022-08-17 13:17] dmuelle opened #5698 "22.0.0.9 release"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:** 8.25
- **GA Date:** 8.30
-
### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc updates,

[2022-08-24 12:34] ramkumar-k-9286 commented on #5691
Hi @jgawor

The suggested corrections have been made.

- [X] First mention of OpenShift is not a link but the second one is. It would probably make sense to make the first one a link.

- [X] The doc mentions "and [Kubernetes Application Navigator (kAppNav)](https://kappnav.io/) integration." - that's a broken link at this point and I think this whole bit can be removed at this point.

- [X] The li

[2022-08-24 15:47] jgawor commented on #5691
@ramkumar-k-9286 thank you! this looks good to me but i'll let @leochr confirm the right link to the operator entry in the red hat catalog.

[2022-08-24 17:13] ramkumar-k-9286 commented on #5691
Hi @leochr

Could you verify the link added in the following document? Corrections done based on the following information.

The link in "The [Operator is also available as a Red Hat-certified Operator](https://access.redhat.com/containers/#/registry.connect.redhat.com/ibm/open-liberty-operator) from OpenShift Container Platform (OCP)" bit appears to no longer to point to the operator anymore. It

[2022-08-24 19:33] NottyCode commented on #5233
@dmuelle What is the status of this? It isn't clear to me why the lack of a beta image in ICR would be a blocker for documenting what is currently in ICR.io, but the comment thread suggests that it is blocking progress on this.

[2022-08-24 19:55] jvanhill opened #5704 "SEC 380: Distributed security caching updates"
Documentation changes for the [distributed security cache feature](https://github.com/OpenLiberty/open-liberty/issues/9005).

See attached documentation for proposed changes.

[DocUpdates2.odt](https://github.com/OpenLiberty/docs/files/9419054/DocUpdates2.odt)

[2022-08-24 19:56] dmuelle commented on #5233
targeting to publish w/out mention of betas in 22.0.0.10

[2022-08-24 21:17] #5389 closed, assigned to jvanhill, dmuelle

[2022-08-24 21:17] #5388 closed, assigned to dmuelle

[2022-08-26 13:42] NottyCode opened #5707 "Default Port number doc doesn't link to any documentation about command port"
The page https://openliberty.io/docs/latest/reference/default-port-numbers.html contains the following:

However the referenced server configuration overview doesn't define anything about the command port.

I also cannot find a page that does talk about what properties in bootstrap.properties have special meanings. Doing a google I find [this page](https://www.ibm.com/docs/en/was-liberty/base?topi

[2022-08-26 13:53] dmuelle opened #5708 "Create a page for Specifying Open Liberty bootstrap properties"
similar to https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-specifying-bootstrap-properties, but review whether the task format is the best framework for this information and work with an SME to determine the relevant bits, as well as anything that might be missing.

SME- TBD

[2022-08-26 13:55] dmuelle commented on #5708
need to look at what is already in OL to avoid duplication, make sure a new page is warranted, and if so, reorganize existing info as needed.

[2022-08-26 14:07] dmuelle commented on #5684
content is on vNext and will publish with 22009

[2022-08-26 14:07] #5684 closed, assigned to dmuelle

[2022-08-31 12:26] ramkumar-k-9286 commented on #5707
Hi Alasdair @NottyCode

Made the suggested change.

Draft Link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/default-port-numbers.html

Noticed a few things in the doc which I wanted to clarify with you.

1. For the command port, the Open Liberty server acquires a temporary port to be used by the command listener. You can configure this por

[2022-08-31 12:44] teddyjtorres commented on #505
Greetings. For `mp.jwt.decrypt.key.location`, please update this sentence,

From:
[code]

To:
[code]

Thanks.

[2022-08-31 13:27] teddyjtorres commented on #505
For all properties in `MicroProfile JSON Web Token`, their "When the runtime reads it" is,

[code]

Thanks.

[2022-08-31 14:13] dmuelle commented on #5707
Also note that we opened #5708 to create a page for bootstrap properties in Open Liberty

[2022-08-31 14:13] dmuelle commented on #5708
from @NottyCode in #5707

[2022-08-31 17:07] #5698 closed, assigned to nobody

[2022-08-31 18:29] dmuelle commented on #5707
@ramkumar-k-9286 - for 2 yes please update to the current feature names

[2022-09-01 12:17] ramkumar-k-9286 commented on #5707
@dmuelle

Update to the current feature names

[2022-09-01 21:27] dmuelle commented on #3428
we now have a test jar for Open Liberty javadoc- following up with website team to stage it in https://github.com/OpenLiberty/openliberty.io/issues/1550

[2022-09-02 15:00] dmuelle opened #5718 "22.0.0.11 release"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:** 10.20
- **GA Date:** 10.25
-
### Notes
**List any special concerns for this release that are not already tracked in anothere issue, such as release dependencies, Javadoc updat

[2022-09-02 17:57] dmuelle commented on #505
Hi @Emily-Jiang - I think the complete draft is ready for review:

https://draft-openlibertyio.mybluemix.net/docs/latest/microprofile-config-properties.html

Right now this is just a reference page to list, describe, and give examples for the properties for each MP API. How and where to specify them is covered on the [External configuration of microservices](https://draft-openlibertyio.mybluemix.n

[2022-09-06 13:36] dmuelle commented on #505
Emily provided sign off [via slack](https://ibm-cloud.slack.com/archives/C31GEJTQD/p1662399362354029?thread_ts=1662141598.909289&cid=C31GEJTQD). Doc will publish with 22.0.0.10.

[2022-09-07 16:40] dmuelle opened #5721 "Reorder Dev section of the TOC"
per comments from @gcharters and @lauracowen, to foreground the cloud native focus of the OL docs

current order:
[Jakarta EE overview](https://openliberty.io/docs/latest/jakarta-ee.html)
[MicroProfile overview](https://openliberty.io/docs/latest/microprofile.html)
[Cloud-native microservices](https://openliberty.io/docs/latest/cloud-native-microservices.html)

Proposed order:
[Cloud-native micros

[2022-09-07 18:34] teddyjtorres opened #5722 "Documentation for Jakarta EE 10: Support Jakarta Security 3.0"
Documentation for Jakarta EE 10: Support Jakarta Security 3.0 Epic https://github.com/OpenLiberty/open-liberty/issues/18741.

For the new feature document for “Application Security (Jakarta Security ) 5.0” in https://openliberty.io/docs/latest/reference/feature/appSecurity-5.0.html, please add the following:

1. A note in the description:

This feature enables support for securing the server runti

[2022-09-07 21:04] dazavala opened #5724 "Documentation for BELL SPI visibility and BELL properties"
For epic [OpenLiberty/open-liberty#19368](https://github.com/OpenLiberty/open-liberty/issues/19368).

Add sections to the [Basic Extensions using Liberty Libraries 1.0 feature documentation](https://openliberty.io/docs/latest/reference/feature/bells-1.0.html) that describe the function and usage of the new `spiVisibility` and `<properties/>` attributes in the [BELL configuration](https://openliber

[2022-09-07 21:11] dazavala commented on #5724
Hello @dmuelle. Per our previous conversation, let's schedule a few minutes to consider how to organize this content before submitting a draft. I think we need a new example section to describe extending SPI using a BELL service, and perhaps some conceptual content under section "Enabling this feature", before the examples start.

[2022-09-08 10:27] lauracowen commented on #5721
Other thoughts about the TOC that occur to me:

* In the RESTful Services twistie, I think REST clients should probably come before Sync/async.
* I wondered if the async input/output topic should be alongside the sync/async clients topic? But check that for technical accuracy before changing.
* The GraphQL and gRPC topics could go inside a twistie called something like "alternatives to REST". But

[2022-09-08 18:13] njr-11 opened #5725 "Update concurrency.html for Jakarta EE 10"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

This page needs updates for Jakarta Concurrency 3.0 / Jakarta EE 10
https://openliberty.io/docs/latest/concurrency.html

Current text:
Java SE and EE both support concurrency ...

[2022-09-08 20:01] dmuelle commented on #5721
Additionally, we should look at the Security section- this came up in a convo with @jvanhill today- we probably already have too many top-level topics in security, with more on the way. I can see  opportunities to consolidate some of these

- [Authentication](https://openliberty.io/docs/latest/authentication.html)
- [Authorization](https://openliberty.io/docs/latest/authorization.html)
- [Single s

[2022-09-08 20:10] dmuelle commented on #5721
just spitballing...

- [Authentication](https://openliberty.io/docs/latest/authentication.html)
   - [Single sign-on](https://openliberty.io/docs/latest/single-sign-on.html)
   - [Authentication filters](https://openliberty.io/docs/latest/authentication-filters.html)
   - [User registries](https://openliberty.io/docs/latest/user-registries-application-security.html)
   - [Configuring a custom user

[2022-09-11 18:15] jgawor opened #5726 "Remove reference to Kubernetes Application Navigator"
Document: Open Liberty Operator
http://openliberty.io/docs/latest/open-liberty-operator.html

Remove another reference to Kubernetes Application Navigator on this page - similar to
https://github.com/OpenLiberty/docs/issues/5691.

[2022-09-11 19:00] Mztea928 opened #5727 "Ok"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:**
- **GA Date:**
-
### Notes
**List any special concerns for this release that are not already tracked in anothere issue, such as release dependencies, Javadoc updates, support

[2022-09-12 15:14] acdemyers opened #5728 "New doc to explain how to enable FIPS with Semeru Java 11"
Semeru 11 recently come up with some instruction on who to run in FIPS mode.  Liberty needs to add a set of instruction on how to configure Liberty to run in Semeru 11 FIPS mode.

Attached is the new document for configuring Liberty with Semeru 11 FIPS mode.

[Semeru.docx](https://github.com/OpenLiberty/docs/files/9549371/Semeru.docx)

[2022-09-12 15:43] dmuelle opened #5729 "Document exit code for installFeature and installServerFeatures"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

[2022-09-12 15:49] jjiwooLim commented on #5729
When there's a conncection failure, it will now return 33 from 22.0.0.11  (same as installUtility). https://github.com/OpenLiberty/open-liberty/pull/22327
`33 The connection to the repository failed.`

[2022-09-12 15:57] dmuelle commented on #5727
Hi @Mztea928 - did you want to open a docs issue? The "Release" issues are just for use internally by the docs team to track releases. If you would like to open an issue for the docs, feel free to use the `New Issue>Open Issue from Docs: Get Started` option. Thanks!

[2022-09-12 15:57] #5727 closed

[2022-09-13 13:51] clarkek123 opened #5740 "CVE updates for 22.0.0.10"
This issue is created for taking the PR for 22.0.0.10 CVE updates through the process to include the update in 22.0.0.10 docs.

Draft is updated in PR https://github.com/OpenLiberty/docs/pull/5741

[2022-09-13 17:16] dmuelle commented on #5726
i grepped the ol docs and this should be the last remaining instance of https://kappnav.io/

[2022-09-13 18:39] ramkumar-k-9286 commented on #5726
Hi Jarek @jgawor

The suggested changes have been done.

Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/open-liberty-operator.html

Please check the same and let me know if any additional changes are to be made to the documents.

Please add the `Developer Reviewed` label if the changes made are to your satisfaction.

Regards,
Ramkumar

CC @

[2022-09-13 19:52] jgawor commented on #5726
@ramkumar-k-9286 looks good. thank you.

[2022-09-13 19:53] jgawor commented on #5726
@ramkumar-k-9286 i'm unable to set labels.

[2022-09-14 18:57] dmuelle commented on #5728
also need to add a link to the new page from this WL IBM Docs page for info re Semeru 11 Fips

https://www.ibm.com/docs/en/was-liberty/nd?topic=liberty-setting-up-fips-compliance

[2022-09-15 12:48] tevans78 opened #5754 "CDI 4.0 Docs"
Currently the only (non-generated) CDI docs are on this page about the differences between JEE 8.0 and 9.1.
https://openliberty.io/docs/latest/jakarta-ee-diff.html

I anticipate that there will be an equivalent page created for the differences between JEE 9.1 and 10.0. This is an issue to cover the CDI 4.0 aspects of that. Note that much of this content will be the same as was in the [beta blog po

[2022-09-15 13:11] tevans78 opened #5755 "Fix docs JEE 9.1 differences page"
https://openliberty.io/docs/latest/jakarta-ee-diff.html

1. The nav bar and breadcrumb text is wrong in saying version 8.1;
`Differences between Jakarta EE 9.1 and 8.1` should be `Differences between Jakarta EE 9.1 and 8.0`.

2. The first sentence then mentions EE 9.0 rather than 9.1
`If you are updating your application from using Jakarta EE 8.0 features to using Jakarta EE 9.0 features`
should b

[2022-09-15 13:58] Yas-Franco commented on #5258
mpTelemetry-1.0 provides support for [OpenTelemetry](https://opentelemetry.io/) to collect data on the paths that requests take through services.

The use of microservice architecture may increase difficultly to see how services depend on or affect other services. Consequently, making it harder to find the source of latency or inaccuracy.

One way to increase observability of an application is by

[2022-09-15 17:34] dmuelle commented on #5704
HI @jvanhill I've completed the updates in your draft- though to start I've organized them slightly differently, hopefully to make things easier to find and to minimize the jumping around for users

- created [Distributed caching with JCache](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/distributed-caching-jcache.html) (in `Development > Data Persist

[2022-09-15 17:46] dmuelle commented on #5721
Hi @lauracowen  - I took a stab at reorganizing the TOC on draft. I think I got everything in your comment except for moving the sync/async topic into the REST section. I also reorganized the Security section similar to my previous comment except I haven't yet moved SSO under Authentication as there were some topics I felt should go under SSO and wasn't ready to commit to 3rd level nesting- yet. L

[2022-09-15 17:53] dmuelle commented on #5740
Hi @clarkek123 - this update is now on draft at:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/security-vulnerabilities.html

[2022-09-15 18:20] clarkek123 commented on #5740
Hi @dmuelle I have reviewed the information on the draft and it looks good.

[2022-09-16 07:06] ramkumar-k-9286 commented on #5726
changes are on vNext and will publish with the 22.0.0.10 release.

Closing this issue.

Thanks.
Ramkumar.

[2022-09-16 07:06] #5726 closed, assigned to ramkumar-k-9286

[2022-09-16 12:46] dmuelle commented on #5755
This is fixed in #5762 , also backported to previous versions and will update with the next site rebuild

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee-diff.html

Thanks for catching this, closing this issue

[2022-09-16 12:46] #5755 closed, assigned to dmuelle

[2022-09-16 13:58] lauracowen commented on #5721
I like that.

I like that you have the SSO topics together. I agree let's not try for 3 levels yet. Maybe move SSO up to between Authentication and Authorization?

The Jakarta EE entry appears twice (needs to be removed from the top of the Dev section).

I still like the idea of moving those "changes between vx and vy" topics to the Reference section (and just linking to them from the MP and JEE o

[2022-09-16 17:26] ramkumar-k-9286 commented on #5646
Hi Teddy @teddyjtorres

Suggested changes have been made.

Draft Doc Link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/feature/openidConnectClient-1.0.html#jwt

Please check the same and let me know if any additional changes are to be made to the documents.

Please add the `Developer Reviewed` label if the changes made are to your satisfac

[2022-09-16 20:47] dmuelle commented on #5754
Thanks @tevans78 - we also have these CDI-related topics

[Context and Dependency Injection beans](https://openliberty.io/docs/latest/cdi-beans.html)
[RESTful Web Services integration with CDI](https://openliberty.io/docs/latest/jaxrs-integration-cdi.html)

I can check these against the differences listed in the previous comment but they should also be reviewed by SME as part of this issue.

[2022-09-16 22:17] leochr commented on #5691
@ramkumar-k-9286 I am not able to access the draft, so reviewed the doc at https://openliberty.io/docs/latest/deployment-openshift.html.  The operator install instructions provide all install options including Red Hat certified catalog, so the links can be removed from this doc. Thank you

- [ ] Remove this sentence "You can [install the Open Liberty Operator](https://operatorhub.io/operator/open-

[2022-09-19 17:09] ramkumar-k-9286 commented on #5691
Hi @leochr

I added the draft link a few weeks ago. As you might be aware draft links for OL had been changed. This is why the shared link did not work.

Adding the new link. Changes were made to this link and I need that verified. Please have a look at this.

Draft Link for document: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/deployment-openshift.

[2022-09-19 18:11] teddyjtorres commented on #5646
Thank you @ramkumar-k-9286. The changes are good and I added the "Developer reviewed" label.

[2022-09-20 17:37] dmuelle commented on #5694
Hi @gjwatts - the draft Open Liberty Java support page is updated to remove Java 18 and add Java 19:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/java-se.html

please let me know if any further edits are needed. If not, you can add the `Technical reviewed` label to this issue to sign off and the change will publish wiht the 22.0.0.10 docs release. T

[2022-09-20 17:58] dmuelle commented on #5728
Hi @acdemyers - the initial draft for this topic is now on the OL draft site:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/enable-fips.html

Would you review the draft and let me know if any changes are needed? If not, you can add the `Technical reviewed` label to this issue to sign off and the changes will publish with 22.0.0.10. Thanks!

[2022-09-21 12:27] ramkumar-k-9286 commented on #5691
Hi @leochr

Incorporated your comments.

**Draft Link for document: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/deployment-openshift.html**

Please check and let us know if the corrections are to your liking.

Regards,
Ramkumar.

[2022-09-21 14:00] acdemyers commented on #5728
@dmuelle The document looks good to me.

[2022-09-21 14:43] dmuelle commented on #5646
# Peer review

--->

---

--->

I suggest the following revisions to make the algorithm flow clearer.  I think you should restore the numbered steps to the algorithm since OL presumably follows that order/priority.

Open Liberty selects the `openidConnectClient` configuration to use for a JWT request according to the following algorithm.

1. If the authentication filter for a `openidConnectClient`

[2022-09-21 16:10] nstewart0206 commented on #5704
I think that it would be nice to provide links to the "Configure the authentication cache" and the "Track logged-out SSO cookies" in the "Configuring Infinispan as a JCache provider" document.  I think that the second paragraph or under the Results section as additional information could be good places to put that information.  Since it's not in the same section but is related, people may not real

[2022-09-21 17:10] dmuelle commented on #5694
moving to 22.0.0.11

[2022-09-21 17:50] leochr commented on #5691
@ramkumar-k-9286 Use the short-url https://ibm.biz/olo-install within "For more information, refer to the Open Liberty Operator [installation documentation](https://ibm.biz/olo-install)". We'll update this short-url to point to the latest version's install instructions, hence it wouldn't be outdated in the doc. Otherwise, changes look fine. Thanks.

[2022-09-21 21:11] dmuelle commented on #5728
Hi @ramkumar-k-9286 - can you provide peer review?

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/enable-fips.html

[2022-09-22 08:21] ramkumar-k-9286 commented on #5728
Peer Review
---
Java 11 and 17 support for FIPS with Semeru Runtimes **is** available only on RHEL 8 on x86 platforms.
->
Java 11 and 17 support for FIPS with Semeru Runtimes **are** available only on RHEL 8 on x86 platforms.

---
Confirm that your **REHL** operating system is installed in FIPS mode.
->
Confirm that your **RHEL** operating system is installed in FIPS mode.

---
If your **REHL** op

[2022-09-22 11:49] ramkumar-k-9286 commented on #5691
Hi @dmuelle
Incorporated comments. Please do a Peer Review.

Draft Link for document: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/deployment-openshift.html

Regards,
Ramkumar.

[2022-09-22 14:37] dmuelle commented on #5691
## Peer review

This is news to me but acrolinx flags every instance of "OpenShift":
 `Use "Red Hat OpenShift" for each reference. Do not write "OpenShift" without "Red Hat"`
 Seems ridiculous but that's pretty explicit so we should update the doc accordingly

single-sign on ---> single sign-on

For more information, refer to the Open Liberty Operator installation documentation.
--->
For more info

[2022-09-22 15:50] dmuelle commented on #5728
Thanks for reviewing @ramkumar-k-9286 , all suggestions implemented except the following:

This is tricky because you have both Java 11 and 17, but "support" is technically singular. Your suggestion essentially results in "Support... are available", which I dont think is correct.

FIPS certifies certain kinds of cryptography and algorithms, applications and runtimes comply with FIPS by using those

[2022-09-22 16:57] donbourne opened #5814 "Documentation of MicroProfile Metrics"
Epic: https://github.com/OpenLiberty/open-liberty/issues/20018

Content: TBD

Things we should document:
1. How to use microprofile metrics with your own micrometer libs so that you can use a different MeterRegistry
    * How to configure meter registries
2. How to use custom scopes for your metrics / how to query for metrics in custom scopes
3. The requirement that the set of tag names for all in

[2022-09-22 18:57] dmuelle opened #5821 "fix extra curly bracket in JAXRS multipart topic"
#5820

[2022-09-22 19:27] jim-krueger opened #5822 "Doc for Jakarta RESTful Web Services (JAX-RS) 3.1 (part of EE 10)"
ID work is needed for Jakarta RESTful Web Services (JAX-RS) 3.1 as part of epic issue https://github.com/OpenLiberty/open-liberty/issues/18739.

Primarily the Jakarta REST support for Open Liberty in EE10 will come from RESTEasy (Version 6.2.0-Final). However, there are some areas that we should expound upon.

- Changes in Global Handler support: [Issue 22598](https://github.com/OpenLiberty/open-l

[2022-09-22 20:50] dmuelle commented on #5822
Thanks @jim-krueger - w/r/t Multipart, we should review this topic-
https://openliberty.io/docs/latest/send-receive-multipart-jaxrs.html

at some point I made the following note in the epic:

not sure if that's still accurate but wanted to make a note here

[2022-09-23 14:04] dmuelle opened #5823 "Document Liberty Tools for MVP"
We need an overview page for the new Liberty Tools for Eclipse, VS Code, and Intellij.

- most likely in the basics section of the docs nav
- The page should explain the benefits of using the tools in your chosen IDE by giving a high-level overview of the functions:
  -  dev  mode
   - debug
  - content assist for liberty config
   - content assist for MP
- link out to the individual GitHub repos

[2022-09-23 14:39] jim-krueger commented on #5822
@dmuelle  Absolutely.  The doc you are referring to above is our initial support.   We are going to want to change this to demonstrate the "spec" way of doing this.

[2022-09-23 14:58] yeekangc commented on #5823
Need to link out to marketplace entries for the tools as well.

[2022-09-23 19:26] chirp1 opened #5827 "Accessibility: JAWS, manual, Chrome extension checking"
Generally, the documentation needs to be tested and accessibility violations fixed. At least some would likely need to be fixed by the open liberty site team.
JAWS testing of just a few topics pointed out issues:

For code snippets, a copy button that JAWS can read needs to be on each code snippet.
- Instead of a button, it is a graphic. Make it a button.
- JAWS can read the graphic only on the fi

[2022-09-23 20:37] TrevCraw opened #5828 "Disclose binary scanner dependency for dev mode"
Update the ["Dev mode" page](https://openliberty.io/docs/latest/development-mode.html) to disclose the runtime dependency on the binary scanner and share the license link.

Proposed update to end of the "Automatically generate Liberty features in your server configuration" section:

Note: When automatic feature generation is turned on, dev mode has a runtime dependency on IBM WebSphere Application

[2022-09-26 13:25] dmuelle commented on #5728
Changes are in vNext and will publish with 22.0.0.10- closing this issue

[2022-09-26 13:25] #5728 closed, assigned to dmuelle

[2022-09-26 13:26] dmuelle commented on #5740
Changes are in vNext and will publish with 22.0.0.10- closing this issue

[2022-09-26 13:26] #5740 closed, assigned to dmuelle

[2022-09-26 13:26] dmuelle commented on #505
Changes are in vNext and will publish with 22.0.0.10- closing this issue

[2022-09-26 13:26] #505 closed

[2022-09-26 13:26] dmuelle commented on #5821
Changes are in vNext and will publish with 22.0.0.10- closing this issue

[2022-09-26 13:26] #5821 closed, assigned to nobody

[2022-09-26 14:34] dmuelle commented on #5828
@TrevCraw - would it make sense to explicitly state something like "You do not need to purchase a license or install IBM WebSphere Application Server Migration Toolkit for Application Binaries to use automatic feature generation."

[2022-09-26 14:35] dmuelle commented on #5691
changes are on vNext and will publish with 22.0.0.10. Closing this issue

[2022-09-26 14:35] #5691 closed, assigned to ramkumar-k-9286

[2022-09-26 15:35] dmuelle commented on #5233
The draft for this topic is now available for review:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/container-images.html

please let me know if any changes are needed, thanks

[2022-09-26 16:22] dmuelle commented on #5233
Currently, this doc lists the available images, explains how to pull them from ICR, and details the current release + 2 most recent quarterly release maintenance strategy. It points out to the [Open Liberty container image GitHub documentation](https://github.com/OpenLiberty/ci.docker#readme) for more details. The GH docs contain the following sections that are not currently covered in OL Docs:
[E

[2022-09-26 22:03] figu1973 opened #5831 "Configure virtualHost alias for a Spring Boot application"
Document: Isolate incoming application requests with virtual hosts
http://openliberty.io/docs/latest/virtual-hosts.html

This issue happens specifically with Liberty running as a container for Spring Boot applications.
In my specific case, I have multiple instances of Liberty with the same Spring Boot application (load balancing), with following server.xml.

[code]

Each instance internally choose

[2022-09-27 14:51] pnicolucci opened #5832 "Document: Jakarta EE 10: Support Jakarta Servlet 6.0"
https://github.com/OpenLiberty/open-liberty/issues/18742

**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

[2022-09-27 14:53] pnicolucci opened #5833 "Document: Jakarta EE 10: Support Jakarta Expression Language 5.0"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

https://github.com/OpenLiberty/open-liberty/issues/18730

[2022-09-27 14:54] pnicolucci opened #5834 "Document: Jakarta EE 10: Support Jakarta WebSocket 2.1 (10/21/22 asked for info)"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

https://github.com/OpenLiberty/open-liberty/issues/18745

[2022-09-27 14:54] pnicolucci opened #5835 "Document: Jakarta EE 10: Support Jakarta Pages 3.1"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

https://github.com/OpenLiberty/open-liberty/issues/18737

[2022-09-27 14:55] pnicolucci opened #5836 "Document: Jakarta EE 10: Support Jakarta Standard Tag Library 3.0"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

https://github.com/OpenLiberty/open-liberty/issues/18744

[2022-09-27 14:55] pnicolucci opened #5837 "Document: Jakarta EE 10: Support Jakarta Faces 4.0 (10/21/22 asked for info)"
**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

https://github.com/OpenLiberty/open-liberty/issues/18731

[2022-09-27 21:34] jvanhill commented on #5704
@dmuelle - My findings -

`Overall:`
[code]

`distributed-caching-jcache.html`
[code]
[code]
[code]
[code]

`authentication.html`
[code]

`authentication-cache.html`
[code]

`track-loggedout-sso.html`
[code]

`configuring-infinispan-support.html`
[code]

`sessionCache-1.0.html`
[code]

[2022-09-28 14:16] jgrassel opened #5842 "Document: Jakarta EE 10: Support Jakarta Persistence 3.1"
https://github.com/OpenLiberty/open-liberty/issues/18738

**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

[2022-09-28 14:16] tevans78 commented on #5754
@dmuelle Strange that the `Context and Dependency Injection beans` page is under a `RESTful services` section? That is why I didn't find it.

[2022-09-28 14:46] dmuelle commented on #5754
OK-  I can move that out to be a top-level topic w/in the Development section with the next release

[2022-09-28 14:47] dmuelle commented on #5721
per @tevans78 comment in #5754 - move the CDI topic out of the restful services section

[2022-09-28 15:33] dmuelle commented on #5721
@lauracowen

That sounds good to me but we should check w/ @NottyCode - IIRC I originally had these topics under a heading in the reference section and he requested to move them up to be with the overview topics

The basic changes from your original comment in this issue went in with 22.0.0.10, but I'm leaving it opn as I expect to reorder the Security section with the next release, as well as mov

[2022-09-28 18:02] cgianfra opened #5844 "Document: Jakarta EE 10: Support Jakarta Batch 2.1"
https://github.com/OpenLiberty/open-liberty/issues/18727

**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

[2022-09-28 18:49] dmuelle commented on #5704
Thanks for reviewing @jvanhill @nstewart0206

all suggestions implemented except

My thinking was that configuring an authentication cache and tracking logged out cookies were more about security than JCache per se, for those JCache is just the tool you use to solve a security problem. I can move them back but not sure what to do with the authCache topic since that is not just JCache biut also the

[2022-09-28 20:07] chirp1 commented on #5724
@dazavala @dmuelle Hi! Have you decided on what info needs to be documented? If so, would you add the info to this issue? I'll approve the epic afterwards. Thanks!

[2022-09-28 22:38] fmhwong commented on #5258
I added the manual instrumentation section and some more details in other sections.

[2022-09-29 01:10] dazavala commented on #5724
@dmuelle Here's my first draft: [epic.19368.openliberty.io.feature.doc.bells-1.0.sep28.docx](https://github.com/OpenLiberty/docs/files/9669836/epic.19368.openliberty.io.feature.doc.bells-1.0.sep28.docx).  I spent time this evening adding meta-info and transposing to MS Word.

@chirp1 Regarding what needs to be documented: The draft provides updates to the [Basic Extensions using Liberty Libraries

[2022-09-29 10:04] AndrewDJBanks opened #5849 "Document: Jakarta EE 10: Support Jakarta Messaging 3.1"
There wont be any doc changes needed in the product documentation. Its all contained in the JEE javadoc.

See https://jakarta.ee/specifications/platform/9/apidocs/jakarta/jms/jmsconnectionfactorydefinitions
See https://jakarta.ee/specifications/platform/9/apidocs/jakarta/jms/jmsdestinationdefinitions

[2022-09-29 10:04] #5849 closed, assigned to nobody

[2022-09-29 16:25] dmuelle opened #5850 "Revise BELL custom user registry example"
Per review in #5724 , the custom user registry example on the BELL feature page needs to be revised and tested.

The is example as presently published will be removed from the doc with 22.0.0.11- it isn't helpful in the current state. I'll post the example as is to this issue for reference.

[2022-09-29 16:26] dmuelle commented on #5850
@dazavala comments on this example from #5724

THIS SECTION SHOULD BE IMPROVED. I'M NOT YET COMFORTABLE REVISING THIS SECTION W/O INVESTIGATING THE SECURITY FEATURE AND PROVING AN EXAMPLE. THERE'S NO EXAMPLE HERE NOW, OR AT LEAST NO DESCRIPTION OF THE LIBRARY COMPOSITION.

FOUND RECENT (2021) SUPPORT DOCS+BLOGS ON THIS TOPIC. THE EXAMPLES SEEM WRONG IN THAT THEY DO NOT ENABLE ANY SECURITY FEATURE

[2022-09-29 16:27] dmuelle commented on #5850
We also have this previous issue on BELL/CUR that has a good bit of discussion from OL users, but has been iceboxed for over a year

https://github.com/OpenLiberty/docs/issues/2418

[2022-09-29 16:29] dmuelle commented on #5724
per slack discussion and David's comments in the draft, we'll remove the custom user registry example form the doc until we can revise and test it, which is tracked in https://github.com/OpenLiberty/docs/issues/5850

[2022-09-29 17:12] emilytee opened #5851 "Document: Jakarta EE10 Authorization"

[2022-09-29 17:13] emilytee opened #5852 "Document: Jakarta EE10 Authentication"

[2022-09-29 21:11] neuwerk opened #5853 "Documentation: Jakarta EE 10 Mail 2.1 (providing info week of 10/24/22)"
Related documentation for the Jakarta Mail 2.1 Feature.

The `jakarta.mail.util.StreamProvider` interface

This new interface from the Mail 2.1 specification allows users to obtain a `StreamProvider` instance  which provides access to what encoders/decoders are supported by the `mail-2.1` runtime. You can obtain instances of the `StreamProvider` from the `jakarta.mail.Session.getStreamProvider()`

[2022-09-29 21:12] neuwerk opened #5854 "Documentation: Jakarta EE 10 XML Web Services 4.0 (providing info week of 10/24/22)"
Related documentation for the Jakarta XML Web Services 4.0 Feature.

The changes for xmlWS-4.0 are relatively minor. A few points that could be made:

Changes to XML Webservices 4.0:

Jakarata Web Services Metadata specification has merged into the Jakarta Web Services specification, and the JWS APIs are included in the `dev\api\spec\io.openliberty.jakarta.xmlWS.4.0...jar`

Changes to SOAP with At

[2022-09-29 21:15] neuwerk opened #5855 "Documentation: Jakarta EE 10 XML Binding 4.0 (providing info week of 10/24/22)"
Related documentation for the Jakarta XML Binding 4.0 Feature.

**Switching to a third-party implementation**

Changes to the XML Binding Specification allow users of the xmlBinding-4.0 feature to switch to a preferred third-party implementation via the  `jakarta.xml.bind.JAXBContextFactoryproperty`. The `xmlBinding-4.0 `feature will then use the specified implementation, rather than the reference

[2022-09-30 20:06] dmuelle commented on #5258
Hi @fmhwong @yasmin-aumeeruddy , thanks for providing this info. I have a couple questions to get started.

- Does MP Open Telemetry require or accept server.xml config other than declaring the feature?
- Are the config properties in the issue description the same as the MicroProfile config properties we document for other MP APIs? If so, can you provide the following values for these properties s

[2022-10-03 10:41] Yas-Franco commented on #5258
Hi @dmuelle

OpenTelemetry must be configured by MicroProfile Config so variables set in the `server.xml` are accepted.

otel.experimental.sdk.enabled
- Description: Enables tracing by mpTelemetry. The default is `false`.
- When the runtime reads the property: Application startup
- Example: `otel.experimental.sdk.enabled=true`

otel.service.name
- Description: Sets of the name of the service that

[2022-10-03 18:21] dmuelle commented on #5724
Hi @dazavala - I've created a draft based on your word doc:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/feature/bells-1.0.html

I have a few questions to sort out in some of the examples before we do a proper review.

## Configure a BELL

This seems a little vague- can we give common 1-2 sentence example to clarify? eg
`For example, if yo

[2022-10-03 19:49] dmuelle commented on #5258
Thanks @yasmin-aumeeruddy. I have a couple questions-

- for the `*.exporter.*` properties- the examples show the same value as the default. Do you have to  explicitly set the properties to enable those values? Or would you only set them to get a different value?
- from the previous comment-

Do you have to use these environment variables to export Jaeger? Are they required in addition to setting

[2022-10-04 10:33] ramkumar-k-9286 commented on #5729
Hi David @dmuelle @jjiwooLim

Added the exit code information to the suggested topics. Please review the same.

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/featureUtility-installFeature.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/featureUtility-i

[2022-10-04 11:13] ramkumar-k-9286 commented on #5725
Hi Nathan @njr-11

Edits have been made to the suggested topics. Please review the same.

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/concurrency.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-context-propagation.html

Regards,
Ramkumar.

CC @dmuelle

[2022-10-04 14:22] clarkek123 opened #5870 "Update sec vuln list for 22.0.0.11"
Draft branch is updated in PR https://github.com/OpenLiberty/docs/pull/5869

This issue is opened to move the updates along from Draft to final docs.

[2022-10-04 15:39] dmuelle commented on #5870
The proposed changes were delivered to draft from a vNext based branch in https://github.com/OpenLiberty/docs/pull/5873

[2022-10-04 15:50] dazavala commented on #5724
From: David Mueller ***@***.***>
Date: Monday, October 3, 2022 at 1:21 PM
To: OpenLiberty/docs ***@***.***>
Cc: David Zavala ***@***.***>, Mention ***@***.***>
Subject: [EXTERNAL] Re: [OpenLiberty/docs] Documentation for BELL SPI visibility and BELL properties (Issue #5724)
Hi @dazavala - I've created a draft based on your word doc: https: //docs-draft-openlibertyio. mqj6zf7jocq. us-south. codeeng

[2022-10-04 15:58] njr-11 commented on #5725
This mostly looks great - just 2 minor comments:
"As for Jakarta Concurrency 3.0..." sounds awkward and should probably be "As of Jakarta Concurrency 3.0..."
The link to https://javaee.github.io/tutorial/concurrency-utilities.html is based on Glassfish rather than Open Liberty, so we should probably remove this link from our documentation.

[2022-10-04 17:18] ramkumar-k-9286 commented on #5729
**Slack chat with Sarah Lim**

**Ramkumar K**
Hi Sarah
Please have a look at the following issue, when you have time and confirm that the changes are to your liking:
https://github.com/OpenLiberty/docs/issues/5729
Regards,
Ramkumar

**Sarah Lim**
Thanks, looks good to me!

[2022-10-04 20:25] dmuelle commented on #5724
Thanks- I've updated the draft per your answers. When you have a chance, would you review and let me know what changes are needed?

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/feature/bells-1.0.html

When you're satisfied with the draft, you can add the `technical reviewed` label to this issue and the doc will publish with 22.0.0.11. Thank

[2022-10-06 21:09] gjwatts commented on #5694
@dmuelle Hi David.  I have reviewed the changes and they look good.  Are you ready for me to add the `Technical reviewed` label to this doc issue for inclusion into 22.0.0.11?

[2022-10-06 21:29] jvanhill commented on #5704
@dmuelle -

Make the following changes in authentication-cache.html:

[code]

should be:

[code]

[2022-10-07 12:31] dmuelle commented on #5694
Hi Greg- yes, whenever we can confirm that the changes will go into 22.0.0.11, you can sign off by adding the label and I will get the updated doc ready to publish. Thanks

[2022-10-07 12:54] ramkumar-k-9286 commented on #5725
Hi Nathan @njr-11

Suggested corrections have been made. Please review the same. Please add the `Developer Reviewed` label if the changes are to your satisfaction.

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/concurrency.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-cont

[2022-10-07 13:11] ramkumar-k-9286 commented on #5725
Hi David @dmuelle

As discussed, could you peer review the following topics:

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/concurrency.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-context-propagation.html

Regards,
Ramkumar.

[2022-10-10 16:32] dmuelle commented on #5725
# Peer review

## Concurrency in microservices
- Put the first two sentences in a separate paragraph to create the shortdesc
- starting with the sentence that starts "Java SE and Jakarta EE both support concurrency...", move those tywo sentences to the beginning of the "Concurrency in Java SE and Java/Jakarta EE" section.

### Commonalities between Java SE, Java EE Concurrency Utilities, Jakarta C

[2022-10-10 18:17] jim-krueger commented on #5822
Adding separate comments for the individual potential documentation needs.   We can update each comment as we go along with additional information etc..

[2022-10-10 18:21] jim-krueger commented on #5822
### Multipart:

- Updates to https://openliberty.io/docs/latest/send-receive-multipart-jaxrs.html `Update:  Talked with David and since the functions in this section is being deprecated and the replacement function is defined in the specification (ie. no longer Liberty-specific APIs), then this documentation is no longer needed.`

- A comment will need to be added to the "Differences between Jakar

[2022-10-10 18:25] jim-krueger commented on #5822
### Global Handlers:

In previous Liberty feature versions of RESTful Web Services (JAXRS) and XML Web Services (JAXWS), the Web Services Global Handler SPI package  `com.ibm.wsspi.webservices.handler` was automatically enabled .
Starting in Jakarta EE 10, Global Handlers are disabled by default.  As with previous versions, users will need to create a user feature to configure a Global Handler.  H

[2022-10-10 18:28] jim-krueger commented on #5822
### Java Se Bootstrap:
This is a new (Optional API) in Jakarta Rest 3.1.   Open Liberty will not be supporting this, however we will be adding a new warning message indicated that this function is not supported.
`Update:  Rather than a warning message, we went with throwing an UnsupportedOperationException.  See https://github.com/OpenLiberty/open-liberty/pull/23004`

[2022-10-10 18:35] jim-krueger commented on #5822
### Mandatory usage of JSONB instance provided by user's ContextResolver<Jsonb>:

- Comment needed for "Differences between Jakarta EE 10 and 9.1" section.
- Info:  [jakarta issue 742](https://github.com/jakartaee/rest/issues/742)

[2022-10-10 18:53] jim-krueger commented on #5822
### Automatic service provider registration

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 18:53] dmuelle commented on #5258
Hi @yasmin-aumeeruddy @fmhwong , the initial draft of the MicroProfile Telemetry doc is ready for review:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-telemetry.html

The MicroProfile Config properties for MP OT are documented here:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofil

[2022-10-10 18:58] jim-krueger commented on #5822
### Default exception mapper

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:00] jim-krueger commented on #5822
### Fields and Bean Properties:

- Array types may be specified for @CookieParam , @FormParam , @HeaderParam ,
@MatrixParam and @QueryParam parameters.

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:01] jim-krueger commented on #5822
### New method #hasProperty(String) wherever #getProperty(String) exists

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:06] jim-krueger commented on #5822
### New method #hasProperty(String) wherever #getProperty(String) exists

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:08] jim-krueger commented on #5822
### Response.created(URI) now resolves relative URIs into an absolute URI against the base URI, not against the request URI anymore:

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:09] jim-krueger commented on #5822
### Declaring Media Type Capabilities:

- Clarified resource matching when Content-Type or Accept are missing in request.
- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 19:12] jim-krueger commented on #5822
### Constructors of Cookie class are deprecated in favor of new Cookie.Builder class
### Constructors of NewCookie are deprecated in favor of new NewCookie.Builder class

- Likely just a "Differences between Jakarta EE 10 and 9.1" section comment.

[2022-10-10 20:37] dmuelle commented on #5704
Hi @jvanhill - I've updated the draft with these changes.

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/authentication-cache.html#dist

[2022-10-10 21:29] gjwatts commented on #5694
@dmuelle Hi David. I have added the `Technical reviewed` label to this doc issue.

[2022-10-11 13:18] ramkumar-k-9286 commented on #5646
**Communication with Teddy on Slack**

**Ramkumar K [1:57 PM]**
Hi Teddy
As a part of the Peer Review - David added a comment on the issue.
Could you provide some clarity in that case?  Question added
4. If the issuer does not match the issuer of any configuration elements, choose between all of the config elements in a non-deterministic manner.
I think we need to be more clear about the results o

[2022-10-11 13:20] ramkumar-k-9286 commented on #5646
changes were added to vNext and published with the 22.0.0.10 release.

Closing this issue.

Thanks.
Ramkumar.

[2022-10-11 13:20] #5646 closed, assigned to ramkumar-k-9286

[2022-10-11 13:28] dmuelle commented on #5694
Thanks Greg- I'll get the update published with 22.0.0.11.

[2022-10-11 16:37] ramkumar-k-9286 commented on #5828
Hi Trevor @TrevCraw

The suggested changes have been made to the document.

Please review the same. In case of additional changes, please suggest them in the comments.

If the changes are to your liking, please add the `Developer Reviewed` label.

Draft Link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/development-mode.html

Regards,
Ramkumar

CC @d

[2022-10-11 16:45] ramkumar-k-9286 commented on #5729
Hi David @dmuelle

The exit code information for the suggested topics was added to the staging site.

Staging site links:

https://docs-staging-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/featureUtility-installFeature.html

https://docs-staging-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/featureUtility-

[2022-10-11 17:55] dmuelle opened #5893 "22.0.0.11"
### Dates

- **Doc freeze date:** 10/20
- **GA Date:** 10/25
-
### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc updates, support level changes, planned docs refresh, etc.**

### Release checklist
- [x] If any Jakarta or MicroProfile API docs are updated with this release, work with development to get the upd

[2022-10-11 20:28] arkarkala commented on #5722
The work here is mostly related to the new Jakarta security specification, so do not expect a lot of updates. Couple of potential topics to doc are
1) Make the annotated config work with our server/OP (config samples for example)
2) Any differences compared to the current OIDC support using existing config (server.xml/non-annotated)
3) Any clarifications needed for any of the annotated attributes

[2022-10-11 20:32] arkarkala commented on #5722
We also have the authentication and authorization feature changes for Jakarta 10 but no additional docs are needed since all the relevant information should be in the spec. All we need is the new features show up in the docs - which I think is automatic.

[2022-10-12 16:53] ramkumar-k-9286 commented on #5725
Hi David @dmuelle

Peer review comments have been incorporated.

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/concurrency.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-context-propagation.html

Regards,
Ramkumar.

[2022-10-12 17:26] dmuelle commented on #5694
content is on vNext branch and will publish with 22.0.0.11.  Keeping this issue open to remind myself to check for updates in the links.

[2022-10-12 18:41] emilytee commented on #5852
The appAuthentication-3.0 feature introduces the following changes:
   - The jakarta.security.auth.message.config.AuthConfigFactory abstract class now implements
     two new methods to be able to register and remove a server authentication module.  Prior to
     appAuthentication-3.0, support to register and remove a config provider was only available.
   - Ensuring that the jakarta.servlet.http.

[2022-10-12 18:43] pmd1nh commented on #5832
Servlet 6.0 provides new API as well as new configurations to set any attribute on a response's cookie.  Application can programmatically set new cookie attributes during the application's startup using jakarta.servlet.ServletContainerInitializer or set a configuration in the deployment descriptor.  Cookie attributes can also set at the request time.

### **Configuration for cookie attributes**
Co

[2022-10-12 19:00] emilytee commented on #5851
The appAuthorization-2.0 feature introduces the following changes:

   - The jakarta.security.jacc.PolicyConfigurationFactory abstract class now implements two
     new methods to be able to retrieve the PolicyConfiguration:

	- public abstract PolicyConfiguration getPolicyConfiguration();
	- public abstract PolicyConfiguration getPolicyConfiguration(String contextID);

     in addition to the exi

[2022-10-12 19:01] emilytee commented on #5851
The appAuthorization-2.0 feature introduces the following changes:

   - The jakarta.security.jacc.PolicyConfigurationFactory abstract class now implements two
     new methods to be able to retrieve the PolicyConfiguration:

	- public abstract PolicyConfiguration getPolicyConfiguration();
	- public abstract PolicyConfiguration getPolicyConfiguration(String contextID);

     in addition to the exi

[2022-10-12 19:02] emilytee commented on #5852
The appAuthentication-3.0 feature introduces the following changes:

   - The jakarta.security.auth.message.config.AuthConfigFactory abstract class now implements
     two new methods to be able to register and remove a server authentication module.  Prior to
     appAuthentication-3.0, support to register and remove a config provider was only available.

	- public abstract String registerServerAu

[2022-10-12 19:56] dmuelle commented on #5725
Hi Ram- looks good, a few minor things-

# Concurrency in microservices

## Concurrency in Java SE and Java/Jakarta EE
change this heading to `Concurrency in Java SE and Jakarta EE`

## Commonalities between Java SE, Java EE Concurrency Utilities, Jakarta Concurrency and MicroProfile

This is a fragment, needs to be a complete sentence with a subject

## Thread context awareness

this link goes to

[2022-10-13 13:14] ramkumar-k-9286 commented on #5729
changes are on vNext and will publish with the 22.0.0.11 release.

Closing this issue.

Thanks.
Ramkumar.

[2022-10-13 13:14] #5729 closed, assigned to ramkumar-k-9286

[2022-10-13 17:13] dmuelle commented on #5754
Hi @tevans78 ,

I've added these updates to a new draft topic for differences between EE 10.0 and 9.1

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#cdi

At this time, only the CDI section is ready for review. Let me know if ay changes are needed.

I also updated the information about empty/unversioned `beans.xml` files on the [

[2022-10-13 18:36] gjwatts commented on #5694
@dmuelle  Hi David, this doc change is no longer tied to the 22.0.0.11 GA, but should be timed to the publishing of the blog https://github.com/OpenLiberty/open-liberty/issues/22869 (pending @mbroz2 approval).

@ReeceNana  FYI.

[2022-10-13 18:50] dmuelle commented on #5694
Hi Greg- do you expect the blog to publish before 10/25? We generally only publish doc updates at the GA release. So unless there is a special case, the doc would post with the rest of the 22.0.0.11 updates. If there is a need, I can look at backporting it to 22.0.0.10 on a specified date though.

[2022-10-14 12:16] ramkumar-k-9286 commented on #5828
Changes are on vNext and will publish with the 22.0.0.11 release.

Closing this issue.

Thanks.
Ramkumar.

[2022-10-14 12:16] #5828 closed, assigned to ramkumar-k-9286

[2022-10-14 13:19] ramkumar-k-9286 commented on #5707
Hi David @dmuelle

Corrections have been made based on your comments.

Draft Link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/default-port-numbers.html

Regards,
Ramkumar.

Saw a mistake. did the correction and merged again.

[2022-10-14 15:10] dmuelle commented on #5707
Hi @ramkumar-k-9286 - after looking more closely at https://www.ibm.com/docs/en/was-liberty/base?topic=liberty-specifying-bootstrap-properties I think this needs a few edits. I also think we should migrate most if not all of that topic to a new Open Liberty doc, which should be linked to from the description here (per #5708) .

For this page

- the description doesn't need to be a bulleted list an

[2022-10-14 16:39] dmuelle opened #5910 "Distributed caching updates"
As a follow-on to SEC380 work in #5704, we need to create some new topics that show how to config JCache for different providers.

1. create new topics under the **Distributed caching with JCache** topic.

Distributed caching with JCache
  Configure Infinispan
  Configure Datagrid (on OpenShift)
  Configure Hazelcast
  Configure eXtreme Scale

or possibly a single topic **JCache provider configura

[2022-10-14 16:45] dmuelle commented on #5870
changes are on vNext and will publish with 22.0.0.11 on 10/25. Closing this issue. Thanks

[2022-10-14 16:45] #5870 closed, assigned to dmuelle

[2022-10-17 14:35] volosied commented on #5835
##  Pages 3.1 Changes
### Finding Unknown Identifiers
- A new option has been added to find unknown Expression Language identifiers. When enabled, a PropertyNotFoundException will occur if an unknown identifier is found.   This option can be enabled via page directive, tag directive, or as a jsp-property-group in the web.xml.  See configurations sections for examples. More can be read in the Pages

[2022-10-17 16:25] volosied commented on #5835
I'm leaving out a few changes listed under each specification since no implementation / behavior changes occurred :
-  Tags: `https://jakarta.ee/specifications/tags/3.0/`
 -  For example:
[code]
- Pages:  `https://jakarta.ee/specifications/pages/3.1/`
-  And ...
```[42](https://github.com/eclipse-ee4j/jsp-api/issues/42) Clarify the meaning of ‘scope’ in the context of scripting variables associate

[2022-10-17 17:16] dmuelle commented on #5852
Hi @emilytee - for this bullet point

"true" when an authentication module is called from within HttpServletRequest.authenticate().

I'm having trouble understanding the context- is setting the value something that the developer needs to do ? IS this point related to the new methods? Thanks

[2022-10-17 17:35] dmuelle commented on #5851
Hi @emilytee - should this be `appAuthorization-3.0`? Or are we just adding new methods to the existing appAuthorization-2.0 feature?

[2022-10-17 17:37] dmuelle commented on #5851
Ok looking I think it will actually be 2.1 ? https://jakarta.ee/specifications/authorization/2.1/

[2022-10-17 17:41] emilytee commented on #5851
@dmuelle, that should be 3.0

[2022-10-17 17:42] emilytee commented on #5852
This relatest to the actual request, which is really internal and not something exposed to the customer or for them to
do anything with.

We can just strike that part entirely.

[2022-10-17 17:45] emilytee commented on #5851
@dmuelle, even I get confused!

Authentication should be appAuthentication-3.0 and authorization should be appAuthorization-2.1.

[2022-10-17 19:41] isaacrivriv commented on #5833
# Expression Language 5.0 Changes
Full list of changes between Expression Language 4.0 and Expression Language 5.0 found [here](https://jakarta.ee/specifications/expression-language/5.0/jakarta-expression-language-spec-5.0.html#changes-between-5-0-and-4-0)
## Generics in API
- Added support for Generics throughout the API where appropriate. This removes the necessity of casting from `Object` to a

[2022-10-17 20:48] dmuelle commented on #5832
Hi @pmd1nh

In the list of removed APIs, what is the significance of the methods listed after the API? eg
`jakarta.servlet.UnavailableException - UnavailableException(Servlet, String), Servlet getServlet()`

Are those replacements for the functions in the removed API or are they methods that are also removed?

[2022-10-17 21:03] dmuelle commented on #5718
closing as duplicate

[2022-10-17 21:03] #5718 closed, assigned to nobody

[2022-10-17 21:21] dmuelle commented on #5835
Hi @volosied are the changes to Tags the same that would be relevant to https://github.com/OpenLiberty/docs/issues/5836
"Document: Jakarta EE 10: Support Jakarta Standard Tag Library 3.0" If so, I can close that issue and we can track both updates here. Unless we need to separate issues. Thanks

[2022-10-17 22:32] pmd1nh commented on #5832
Hi @dmuelle

Those are the removed constructor and the removed methods of the specific class - i.e `jakarta.servlet.UnavailableException`  is the class which has its constructor `UnavailableException(Servlet, String)` and its method `Servlet getServlet()` removed.

[2022-10-17 22:45] leochr commented on #5233
@dmuelle Thanks for the updates. Some comments:

- [x] `You can use Open Liberty container image tags to obtain a container image that meets your development needs.`
Tag is optional. The following can be beneficial/informative instead: `You can use an Open Liberty container image to build an application image.`
- [x] After `One advantage of using ICR instead of Docker Hub is that ICR doesn’t impos

[2022-10-18 12:56] ramkumar-k-9286 commented on #5725
Hi David @dmuelle

Peer review comments have been incorporated.

Draft links:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/concurrency.html

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-context-propagation.html

Regards,
Ramkumar.

[2022-10-18 13:30] volosied commented on #5836
Tags 3.0 documentation will be under Issue  #5835 (Pages 3.1)

[2022-10-18 13:30] #5836 closed, assigned to nobody

[2022-10-18 13:31] volosied commented on #5835
@dmuelle  You're correct, and I've closed the Tags issue. Thanks

[2022-10-18 13:57] dmuelle commented on #5722
Just to clarify- are all the examples under (2.) specific to appSecurity 5.0? If all the information applies only to 5.0 and later, we will filter it out from earlier versions of the feature, but if some of the examples apply to earlier versions as well, we can add them to those pages as well.

[2022-10-18 15:01] dazavala commented on #5724
After reviewing I have some suggestions:

---
**Configure a BELL**

- [x]  Remove unnecessary verbiage
For any BELL configuration, the BELL feature discovers all services in the `META-INF/services` folder of the referenced library.
--> The BELL feature discovers all services in the `META-INF/services` folder of the referenced library.

 - [x] Maintain congruence with bell config doc
Alternatively,

[2022-10-18 17:31] jvanhill commented on #5704
Added the technical reviewed labels as there are some minor edits I pointed out (and sent to David), but we would be ok with it shipping the way it is. I am out for the next week, so I wanted to add it before I left due to the above.

[2022-10-18 18:40] arkarkala commented on #5722
In 2) I envision us pointing out to some differences in configuration (for example defaults, additional attributes supported in annotations) between the existing OIDC support (config in server.xml) and the new annotation config (in the source). May be just some bullet points can do to show the difference with a line or 2 of config associated with it.

[2022-10-18 19:10] dmuelle commented on #5233
Thanks for reviewing @leochr - all comments have been addressed in the rebuilt draft:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/container-images.html

If any further changes are needed, just let me know. If not, you can add the `Technical reviewed` label to this issue to sign off and the doc will publish with the 22.0.0.11 release. Thanks!

[2022-10-18 20:34] jgawor opened #5925 "Revise overview page"
The docs page (https://openliberty.io/docs/latest/overview.html) has a lot of good content. However, a lot of that TOC is off-screen when initially viewing the page and user needs to scroll to see all the important topics. I think the "Welcome to Docs" page can be improved to show the key (or popular) topics right on that page - e.g. assembled in a set of tables. Example: https://learn.microsoft.c

[2022-10-18 20:36] jgawor opened #5926 "Create "Cloud" section"
Create "Cloud" section in the documentation. Move the "Deployment on OpenShift, Open Liberty Operator, Guides: Kubernetes, Guides Cloud deployment topics (and any new relevant topics) under the new section.

[2022-10-18 20:56] leochr commented on #5233
@dmuelle Thanks for the updates. Looks good to me.

[2022-10-18 20:58] dazavala commented on #5724
@dmuelle I've posted all change suggestions. Seems premature to add the `technical reviewed` label at this time.  I'll be available tomorrow, all day AFAIK, to assist with any dubious suggestions and to complete the process points for this issue.

[2022-10-18 21:15] dmuelle commented on #5704
All changes implemented in  #5920-#5923

[2022-10-18 21:18] dmuelle commented on #5704
@ramkumar-k-9286  can you provide peer review for the following 3 new topics?

- [Distributed caching with JCache](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/distributed-caching-jcache.html)
- [Authentication cache](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/authentication-cache.html)
- [Track logge

[2022-10-19 10:22] ramkumar-k-9286 commented on #5233
Peer Review
---
One advantage of using ICR instead of Docker Hub is that ICR doesn’t impose rate limits on image pulls.
-->
One advantage of using ICR instead of Docker Hub is that ICR **does not** impose rate limits on image pulls.

---
Current options are IBM Semeru with Eclipse OpenJ9 and**,** for Java SE 8 only, the IBM SDK, Java Technology Edition.
-->
Acrolinx picking up the punctuation. Nee

[2022-10-19 10:54] ramkumar-k-9286 commented on #5704
Peer Review - Distributed caching with JCache
---

With Open Liberty, you can use [JCache](https://github.com/jsr107/jsr107spec) **caches** in place of local in-memory caches for several features.
-->
With Open Liberty, you can use [JCache](https://github.com/jsr107/jsr107spec) instead of local in-memory caches for several features.

---
A unified `ClassLoader` instance that is constructed from al

[2022-10-19 12:32] ramkumar-k-9286 commented on #5704
Peer Review - Authentication cache
---

To improve server performance during single sign-on (SSO) authentication, Open Liberty provides an authentication cache to store a subject after **a** user authentication is successful.
-->
To improve server performance during single sign-on (SSO) authentication, Open Liberty provides an authentication cache to store a subject after user authentication is su

[2022-10-19 12:50] ramkumar-k-9286 commented on #5704
Peer Review - Track logged-out SSO cookies
---

This configuration works only on the same server. The LTPA cookie is tracked only on the server where the user logged out. If that same unexpired LTPA cookie is presented to another server where the LTPA keys are shared, it is used until it is also logged-out on that server. To protect multiple servers that share SSO data or configuration, configure

[2022-10-19 13:24] dmuelle commented on #5725
looks good- two minor fixes

needs a serial comma before "and"

misplaced "only" belongs before "Monday"

adding peer reviewed label and moving this issue to 22.0.0.13. Need to make sure we check that updated Javadoc link once the new javadocs are posted.

[2022-10-19 13:28] dmuelle opened #5929 "TOC improvements"
collect issues to revise the TOC

[2022-10-19 15:20] dmuelle commented on #5724
@dazavala - all suggestions implemented except-

There is not a great way to do this in the OL Docs. The "Note" formatting in Antora runs afoul of our accessibility scans. I tired simply adding "Note:" but it seemed more distracting that anything else.

New draft: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/feature/bells-1.0.html

[2022-10-19 16:42] dmuelle commented on #5233
Thanks for reviewing @ramkumar-k-9286 , all suggestions implemented except

Contractions are ok

---

This is weird but it's a false positive from acrolinx. Only two items in the list so no serial comma is needed. The final comma is part of the product name.

---

This is a dependent clause, which should use "which" rather than "that"

---

Fixed this by just removing "up"- no longer flagged by ac

[2022-10-19 16:51] dmuelle commented on #5704
Thanks for reviewing @ramkumar-k-9286 , all suggestions implemented except

## Distributed caching with JCache

Links to config elements will work once we get the new generated doc

spitting hairs, but i think this reads better as "configuration", as the singular implies the act of configuring, where as the plural implies discrete settings- both are correct but the emphasis is on the developers vi

[2022-10-19 17:29] dazavala commented on #5724
The new draft looks really great.  I found few items.  Items 2, 3, 5 are mandatory.

- [x] I'm unsure whether the term **"String"** in the phrase "**Properties are String type and ...**" needs code formatting.  It's the name of a type in the property configuration, not a Java type name (like `java.lang.String`).  Ultimately, the string value in the property configuration becomes a `java.lang.Strin

[2022-10-19 18:46] dazavala commented on #5724
@dmuelle Rock on!

[2022-10-19 21:21] dmuelle commented on #5694
Backport to 22.0.0.10 is published: https://openliberty.io/docs/latest/java-se.html

22.0.0.11 will publish with the rest of the docs release on 10/25. Keeping this issue open until we can add a link to Semeru 19 after that's released.

[2022-10-20 12:19] ramkumar-k-9286 commented on #5724
Peer Review - Basic Extensions using Liberty Libraries
---

Short Description - Just one sentence. Rephrase by adding 2nd sentence to the short desc.

---
With the BELL feature, a library declares a `/META-INF/services/` resource with the name of the fully qualified API or SPI **interface,** and provides a class that implements the interface.
-->
Acrolinx picking up the `,`
With the BELL feature,

[2022-10-20 13:57] dmuelle commented on #5724
Thanks for reviewing @ramkumar-k-9286 , all suggestions implemented except

This is in the autogenerated portion of the page, not in our files. Generally, we don't strictly enforce the 2 sentence rule on feature pages since that content is in the metatype

Acrolinx says "Don't use a hyphen after the prefix non"

[2022-10-20 18:55] ramkumar-k-9286 commented on #5708
Hi David @dmuelle

Draft link added: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/bootstrap-properties.html

Noticed an issue with the Nav. Will fix that.

Regards
Ramkumar

[2022-10-20 19:38] teddyjtorres commented on #5722
TODO: Add note about jwksURI and certificate used to verify the tokens in default truststore.

[2022-10-21 17:19] dmuelle commented on #5704
updates are on vNext and will publish with 22.0.0.11- closing this issue.

[2022-10-21 17:19] #5704 closed, assigned to dmuelle

[2022-10-21 17:19] dmuelle commented on #5724
updates are on vNext and will publish with 22.0.0.11- closing this issue.

[2022-10-21 17:19] #5724 closed, assigned to dmuelle

[2022-10-21 17:19] dmuelle commented on #5233
updates are on vNext and will publish with 22.0.0.11- closing this issue.

[2022-10-21 17:21] dmuelle commented on #5721
updates for dev and security sections are on vNext and will publish with 22.0.0.11. Will continue discussion of whether to move differences topics as we prepare to publish a new one for EE 10 and in this epic for TOC improvements: #5929
closing this issue.

[2022-10-21 18:14] dmuelle opened #5944 "MP 6.0 Javadocs"
Issue to track the docs repo chnages to publish the MP 6.0 Javadoc when it's ready

The corresponding issue in the Javadoc repo is https://github.com/OpenLiberty/docs-javadoc/issues/35

[2022-10-21 18:14] dmuelle opened #5945 "EE 10 Javadoc"
Issue to track the docs repo chnages to publish the EE 10 Javadoc when it's ready

The corresponding issue in the Javadoc repo is https://github.com/OpenLiberty/docs-javadoc/issues/34

[2022-10-21 19:15] dmuelle commented on #5708
some initial feedback-

- run acrolinx
- try not to have paragraphs with only one sentence unless you are introducing an example and want to set the intro statement apart
- combine the two OSIGI properties under a single heading
- improve the heading names. I dont think it matters whether a property is predefined or not since the bootstrap properties file doesn't exist unless you create it. The pr

[2022-10-21 19:50] dmuelle commented on #5827
opened https://github.com/OpenLiberty/openliberty.io/issues/2885 for the code block button problem; I encountered this too

[2022-10-21 20:51] chirp1 commented on #5855
I slacked Thomas and David. Thomas will get us the info the week of 10/24/22.

[2022-10-21 20:51] chirp1 commented on #5854
I slacked Thomas and David. Thomas will get us the info the week of 10/24/22.

[2022-10-21 20:51] chirp1 commented on #5853
I slacked Thomas and David. Thomas will get us the info the week of 10/24/22.

[2022-10-21 21:18] chirp1 commented on #5842
Left Jody slack, included David, asking when Jody could provide the info to doc.

[2022-10-21 21:20] chirp1 commented on #5844
Left Christopher a slack, included David as to when Christopher can provide us the info to doc.

[2022-10-21 21:39] chirp1 commented on #5837
Slacked Paul, included David, asking when Paul cn provide the info to doc.

[2022-10-21 21:43] chirp1 commented on #5834
Left slack for Paul, included David, asking when Paul can provide the info to doc.

[2022-10-24 14:25] gjwatts commented on #5694
Thank you @dmuelle

[2022-10-24 16:10] dmuelle commented on #5842
based on Slack discussion with Joe, the only updates will be to add a page for the new feature level, which will be generated from the metatype. Leaving this issue open for the time being until I can open an umbrella issue for metatype updates but no further doc work is expected at this time

[2022-10-24 17:01] dmuelle commented on #5835
Hi @volosied - what is the function of the new directive and JSP property group `errorOnELNotFound`? What capability do these provide or what is the significance for the developer? Thanks

[2022-10-24 17:04] dmuelle commented on #5835
Also, is there a Liberty feature that corresponds to Jakarta Tags?

[2022-10-24 17:38] volosied commented on #5835
@dmuelle  If errorOnELNotFound is enabled and the page uses an unknown identifier (in essence, a variable which hasn't been defined) then the JSP/Pages engine will throw PropertyNotFoundException.  The specification issue for can be found here: `https://github.com/jakartaee/pages/issues/40`.   This option would be used during the development phase and likely not in production.   Previously, unknow

[2022-10-25 15:15] dmuelle commented on #5926
I think the section would add value but I wonder about the messaging of having a specific "cloud" section in the docs for a cloud-native runtime, where presumably all the sections should be from a cloud perspective. But maybe something like "Cloud Deployment" could work? We currently have a "Deployment" section (based on the same section from the guides) that could be adapted for this purpose. Tho

[2022-10-25 17:23] cgianfra commented on #5844
**BatchProperty annotation**

The `@BatchProperty` annotation previously could only be used to inject a String value. This has been expanded to allow injection of the following additional types: Boolean, Short, Integer, Long, Float, and Double. Examples:
[code]

**Default JobOperator injection**

Previously, the default JobOperator was only made available from a static factory method, `BatchRuntim

[2022-10-25 17:43] dmuelle opened #5958 "Jakarta EE documentation"
Track documentation for EE10, including feature updates, Javadoc, and generated docs

[2022-10-25 17:50] dmuelle commented on #5842
closing this issue as only gendoc updates are required, which will be tracked in #5958

[2022-10-25 17:50] #5842 closed, assigned to dmuelle

[2022-10-25 17:55] dmuelle commented on #5832
Hi @pmd1nh , the draft for these updates is now available for review on the Differences between Jakarta EE 10.0 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#servlet

It's possible some of this info will move to the servlet-6.0 page once it's available but the content will be the same. Let me know if any further e

[2022-10-25 17:56] dmuelle commented on #5852
Hi @emilytee- the draft for these updates is now available for review on the Differences between Jakarta EE 10.0 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#appAuthn

 Let me know if any further edits are needed. If not, you can sign off by adding the `Technical reviewed` label to this issue and the doc will pub

[2022-10-25 17:57] dmuelle commented on #5851
Hi @emilytee- the draft for these updates is now available for review on the Differences between Jakarta EE 10.0 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#appAuthz

 Let me know if any further edits are needed. If not, you can sign off by adding the `Technical reviewed` label to this issue and the doc will pub

[2022-10-25 17:58] dmuelle commented on #5835
Hi @volosied- the draft for these updates is now available for review on the Differences between Jakarta EE 10.0 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#pages

 Let me know if any further edits are needed. If not, you can sign off by adding the `Technical reviewed` label to this issue and the doc will publis

[2022-10-25 18:00] dmuelle commented on #5833
Hi @isaacrivriv - the draft for these updates is now available for review on the Differences between Jakarta EE 10.0 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#el

Let me know if any further edits are needed. If not, you can sign off by adding the Technical reviewed label to this issue and the doc will publish

[2022-10-25 18:46] #5893 closed, assigned to nobody

[2022-10-25 18:57] dmuelle commented on #3424
I believe all this is now covered in the https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/authorization.html#_define_roles_in_your_application section, how to map roles to groups and specify when any authn user can access a resource

[2022-10-25 18:57] #3424 closed, assigned to nobody

[2022-10-25 19:02] dmuelle commented on #3326
this is now covered in https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/json-p-b.html#_third_party_json_p_and_json_b_providers

[2022-10-25 19:02] #3326 closed, assigned to nobody

[2022-10-25 19:02] dmuelle commented on #3325
this is now covered in this is now covered in https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/json-p-b.html#_third_party_json_p_and_json_b_providers

[2022-10-25 19:02] #3325 closed, assigned to nobody

[2022-10-25 20:48] volosied commented on #5835
Hi, I noticed `New Expression Language Resolvers & Import Changes` were not added to Pages Doc linked above (not sure if on purpose or accident).  I would recommend adding them.

[2022-10-26 08:38] lauracowen commented on #5721
I'm becoming more and more in favour of moving the Differences topics to Reference. But then adding a link to the bottom of each of the Jakarta EE and MicroProfile overview topics saying something like "Differences between versions of Jakarta EE [MicroProfile]", then the reader can go browse the changes if that's relevant to them.

[2022-10-26 15:27] dmuelle commented on #5721
What about nesting these topics in the sections for the respective APIs?

[2022-10-26 15:29] dmuelle commented on #5721
![Screen Shot 2022-10-26 at 11 28 05 AM](https://user-images.githubusercontent.com/48686014/198069243-a564194a-9e29-4d30-b7f8-5dd8085c615e.png)

[2022-10-26 15:31] dmuelle commented on #5721
I think it would make sense because most of the changes discussed in these pages have to do with the APIs themselves rather than our feature implementations. But I want to get consensus around where they should go because moving them means manually editing lots of links from the respective feature pages.

[2022-10-26 16:04] dmuelle commented on #2844
updated url: https://openliberty.io/docs/latest/distributed-session-caching.html

This topic will be revised or possibly removed as part of #5910

[2022-10-26 16:04] #2844 closed, assigned to ManasiGandhi

[2022-10-26 16:05] dmuelle commented on #2867
https://openliberty.io/docs/latest/relational-database-connections-JDBC.html

[2022-10-26 16:09] lauracowen commented on #5721
Put all the MP Differences topics in the MP API section together or dispersed according to which version they apply to? So Differences in MP 2.2 would go straight after (or nested beneath) MP 2.2? Or would you just have a number of Differences topics at the end of the MP API section?

[2022-10-26 16:22] dmuelle commented on #2419
https://openliberty.io/docs/latest/class-loader-library-config.html

[2022-10-26 16:24] dmuelle commented on #2363
https://openliberty.io/docs/latest/reference/feature/acmeCA-2.0.html

[2022-10-26 16:25] dmuelle commented on #1964
https://openliberty.io/docs/latest/reference/feature/jwtSso-1.0.html

[2022-10-26 16:25] dmuelle commented on #1903
https://openliberty.io/docs/latest/analyzing-logs-elk.html

[2022-10-26 16:26] dmuelle commented on #1840
https://openliberty.io/docs/latest/reference/feature/jndi-1.0.html

[2022-10-26 16:27] dmuelle commented on #1833
https://openliberty.io/docs/latest/logstash-events-list.html

[2022-10-26 16:28] dmuelle commented on #1684
https://openliberty.io/docs/latest/forwarding-logs-logstash.html

[2022-10-26 16:28] dmuelle commented on #1694
https://openliberty.io/docs/latest/log-trace-configuration.html

[2022-10-26 16:31] dmuelle commented on #1569
https://openliberty.io/docs/latest/reference/default-port-numbers.html

This topic is being worked on as part of #5707

[2022-10-26 16:32] dmuelle commented on #1462
https://openliberty.io/docs/latest/reference/feature/persistenceContainer-3.0.html

[2022-10-26 16:33] dmuelle commented on #1291
https://openliberty.io/docs/latest/data-persistence-jpa.html

[2022-10-26 16:35] dmuelle commented on #1274
https://openliberty.io/docs/latest/jaxrs-integration-cdi.html

[2022-10-26 16:35] dmuelle commented on #1127
https://openliberty.io/docs/latest/slow-hung-request-detection.html

[2022-10-26 16:36] dmuelle commented on #955
https://openliberty.io/docs/latest/reference/feature/samlWeb-2.0.html

[2022-10-26 16:38] dmuelle commented on #571
https://openliberty.io/docs/latest/reference/feature/mpJwt-2.0.html

[2022-10-26 16:39] dmuelle commented on #340
https://openliberty.io/docs/latest/documentation-openapi.html

[2022-10-26 17:00] dmuelle commented on #5721
I'm not sure :)

On the one hand it would make sense to put them close to the version they apply to, on the other, there's also a value in having a clean list of the different API versions to browse through- in which case the Differences topics could go at the end of the list. Also, for context, any feature/API that is mentioned in the differences topics is linked to from the respective feature pa

[2022-10-26 17:37] frowe commented on #1291
@dmuelle did you  "remember to add link to this doc from JDBC doc once this doc publishes"

[2022-10-26 18:43] dmuelle commented on #1291
@frowe - not exactly :) - I realized we had some older issues on the backlog that did not have links with the new draft site URL structure

[2022-10-26 20:21] dmuelle commented on #5233
moving to "Deployment" section pending discussion of a Cloud section in an upcoming release

[2022-10-27 08:00] lauracowen commented on #5721
I think linking it from the relevant places is probably sufficient. That might include a links in the troubleshooting pages (and maybe actually listing specific errors that can occur from not having changed your API properties or whatever's changed).

I think I'm more in favour of the clean list at the end to browse through, rather than interspersing the Differences topics under each API version.

[2022-10-27 14:45] dmuelle commented on #5835
Sorry, that was an oversight on my part- I've updated the section to add those items

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#pages

[2022-10-28 11:26] jhanders34 opened #5969 "Documentation: Jakarta EE 10"
[Jakarta EE overview](https://openliberty.io/docs/latest/jakarta-ee.html) page updates are outlined below in **bold**.

Java EE 8 was the last release of the platform by the Oracle corporation before it was moved to the Eclipse foundation, which first released the platform as Jakarta EE 8. Jakarta EE 9 arrived in 2020. The primary change in this release was to replace javax with jakarta in Jakarta

[2022-10-28 16:02] pmd1nh commented on #5832
@dmuelle where can I provide feedback/comment on this `Differences between Jakarta EE 10.0 and 9.1 page` draft?

[2022-10-28 19:08] volosied commented on #5835
@dmuelle

After looking over it with fresh eyes, I'd like to change a two things:

**Import Resolver**
`makes any class or static imports from the import attribute available` -> makes any class or **package** imports from the import attribute available

` scripting environment. If an expression used an import class` ->  scripting environment, and if an expression used an import class

Thanks!

[2022-10-28 19:34] volosied commented on #5834
##  Websocket 2.1 Changes
### API Replacement for SPI WsWsocServerContainer#upgrade
- Developers may programmatically upgrade their HTTP requests to a websocket connection via the new API method: [jakarta.websocket.server.ServerContainer#upgradeHttpToWebSocket()](https://jakarta.ee/specifications/websocket/2.1/apidocs/server/jakarta/websocket/server/servercontainer#upgradeHttpToWebSocket(java.lang

[2022-10-31 09:53] gcharters opened #5970 "Operator docs page points to old operator docs"
This page: https://openliberty.io/docs/latest/open-liberty-operator.html

Has this text: "When you deploy an application with the [Open Liberty Operator](https://github.com/OpenLiberty/open-liberty-operator/blob/main/doc/user-guide.adoc#open-liberty-operator), the operator watches..."

That link is to docs for the operator 0.71 or earlier.

We should point to the latest user guide docs here: https

[2022-10-31 15:55] emilytee commented on #5851
Looks good

[2022-11-01 13:29] dmuelle commented on #5832
Hi @pmd1nh - you can leave comments for the Servlet section of the page in this issue. If you have more general comments about the entire page you can leave them here or in #5958.

One thing to consider is whether any of this Servlet information should also or instead appear on the Servlet 6.0 feature page, which is not yet available. but will be closer to GA. Im thinking particularly of  the info

[2022-11-01 15:04] dmuelle commented on #5835
Thanks @volosied - I've made those updates

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#pages

Let me know if any further edits are needed. If not, you can sign off by adding the `Technical reviewed` label to this issue and the doc will publish in the same release as EE 10. Thanks

[2022-11-01 15:31] volosied commented on #5835
@dmuelle  Sorry, I just saw two typos: `as shown oin the following example.`  and `option byn using`

Otherwise, it looks good.

[2022-11-01 15:32] gjwatts commented on #5694
@dmuelle Can I close this issue now?

[2022-11-01 17:58] dmuelle commented on #5835
thanks for catching that, fixed in #5973

[2022-11-01 18:05] dmuelle commented on #5844
Thanks @cgianfra - I added a section for these updates to the draft for the Differences between Jakarta EE10 and 9.1 page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#batch

When you have a chance, would you review the updates to this section and let me know if any changes are needed? If not, you can add the `technical review

[2022-11-01 20:29] clarkek123 opened #5975 "Update security vulnerability list for 22.0.0.12"
Opened to process PR https://github.com/OpenLiberty/docs/pull/5974

[2022-11-01 20:55] dmuelle commented on #5970
Hi @gcharters - what if we point that link to

https://github.com/OpenLiberty/open-liberty-operator/tree/main/doc#documentation

This page serves as a landing page where reader can choose either the "current" operator doc or earlier versions

[2022-11-02 13:58] isaacrivriv commented on #5833
Looks good @dmuelle thanks for getting this done! Just two major comments we found.
- There's a double `from` in [Support for Java Generics
](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#_support_for_java_generics)
- In [Type coercion](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/

[2022-11-02 16:32] realModusOperandi opened #5977 "Jakarta 9 differences: JAX-RS 2.1 HttpHeaders.getRequestHeader(String headerName) returns null, not throws IllegalStateException"
Document: Differences between Jakarta EE 9.1 and 8.0
http://openliberty.io/docs/latest/jakarta-ee-diff.html

**Actually, I think the headings for the getRequestHeader and readEntity changes just need to be swapped. getRequestHeader on nonexistent header returns null in 2.1, readEntity on empty entity throws IllegalStateException, but this article says the opposite.**

https://openliberty.io/docs/l

[2022-11-02 16:42] dmuelle commented on #5833
Thanks for reviewing @isaacrivriv - I've added those changes

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#el

Had tweak the language in the Type Coercion section just a bit but I think I've preserved the meaning

[2022-11-02 19:29] rlsanders4 opened #5979 "Java RESTful Services Client 2.1 page has duplicate examples"
All examples given on the Java RESTful Services Client 2.1 page (https://openliberty.io/docs/latest/reference/feature/jaxrsClient-2.1.html) are duplicated. Four examples are given, and then the same four examples are listed again with no changes. The pages for the 2.0 and 3.0 versions of this feature do not have this issue.

[2022-11-03 17:05] ramkumar-k-9286 commented on #5708
Hi David @dmuelle

Suggested corrections made.

Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

Regards
Ramkumar

[2022-11-03 18:39] dazavala opened #5983 "Documentation for Liberty Checkpoint - InstantOn restore server process"
For epic https://github.com/OpenLiberty/open-liberty/issues/16384. Opened in accordance to point 6 of [Documenting Open Liberty](https://github.com/OpenLiberty/open-liberty/wiki/Documenting-Open-Liberty).

Create topics in openliberty.io for the new `checkpoint` server command and for InstantOn development.

The discovery for documentation requirements was held Nov11, and openliberty.io requiremen

[2022-11-04 17:29] isaacrivriv commented on #5833
Changes look good, thanks for working on this @dmuelle!

[2022-11-04 18:55] dmuelle commented on #5977
thanks @realModusOperandi , here's the updated draft:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee-diff.html#headername

If this looks good, you can add the `technical reviewed` label to this issue to sign off. If any further changes are needed, just let me know.

[2022-11-04 18:58] dmuelle commented on #5979
Thanks for catching this @rlsanders4. Fixed on draft:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/feature/restfulWSClient-3.0.html

Change will publish with the 22.0.0.12 docs release

[2022-11-07 15:58] dmuelle commented on #5694
sorry @gjwatts - missed this. I'm just keeping the issue open until we can update the page with links to Semeru 19.

[2022-11-07 18:50] jimblye opened #5992 "New --timeout option for command: server stop"
Doc for open liberty issue: https://github.com/OpenLiberty/open-liberty/issues/19924

**Please describe the problem you are having with the documentation. Is information missing, inaccurate, or unclear? Tell us about the context where you encountered the problem so we can understand how to address it.**

@dmuelle @chirp1   - Think I need ID approval for the open liberty issue:  https://github.com/

[2022-11-07 20:37] jgawor commented on #5926
Per discussion, it was decided to not have a separate "cloud" topic and instead extend the existing "deployment" topic with a specific set of links to cloud related tools, projects, and guides.

[2022-11-07 20:37] #5926 closed, assigned to nobody

[2022-11-07 23:04] gjwatts commented on #5694
@dmuelle That makes sense.  Thanks for letting me know.

[2022-11-08 12:56] ramkumar-k-9286 commented on #5708
Hi Alaine @acdemyers

 Please have a look at this draft document
 Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

 Had some questions regarding the **default ports for web applications** section. -> How does the `httpEndpoint` specified in the 'server.xml` file relate to the bootstrap.properties file?

 C

[2022-11-08 15:22] acdemyers commented on #5708
Hi Ramkumar, @ramkumar-k-9286

I don't handle the ports that is done by the channel.  I've asked Lori @loriadi if she or somebody on her team can take a look.

Alaine

[2022-11-09 14:23] loriadi commented on #5708
I'm looking at the host and and port variables.

- "Had some questions regarding the default ports for web applications section. -> How does the httpEndpoint specified in the 'server.xml` file relate to the bootstrap.properties file?"

--The http and https port properties defined in bootstrap.properties can be used as variables on the httpendpoint in server.xml.

- I'm not sure about  the word "ad

[2022-11-09 14:49] dmuelle commented on #5708
Thanks @loriadi - to make sure I understand correctly..

I think some of the confusion is that "default" is being used in two different senses here. One the one hand, We have "default" http/s ports (9080,9444) which is what the server uses if you dont specify anything else for a given httpendpoint. On the other, you can specify `default.http/s.port` variables to change those values so that they be

[2022-11-09 14:49] dmuelle commented on #5708
for the command port- we will be adding an example like the other sections on the page

[2022-11-09 14:51] dmuelle commented on #5708
One other question- the command port section describes how to disable the command port, but then says not to do it. Is this something we for sure want to document? Are there cases where users will need to disable the command port or is that more of an internal thing?

[2022-11-10 14:00] loriadi commented on #5708
Yes, that's correct and confusing.  Maybe we should be saying default and custom for the two cases.

If I create a basic bare bones server using "server create test", the server.xml that gets created has this for the httpendpoint:
<httpendpoint id="defaultHttpEndpoint"
       httpPort="9080"
       httpsPort="9443" />

If I change the server.xml endpoint to the following and add those properties t

[2022-11-10 15:12] dmuelle commented on #5853
Hi @neuwerk - I've added this info to the EE10 differences page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#mail

If any further edits are needed, just let me know. If not, you can add the developer reviewed label to the issue to sign off and the update will publish with the EE10 GA. Thanks!

[2022-11-10 15:15] dmuelle commented on #5855
Hi @neuwerk - I've added this info to the EE10 differences page:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#bind

If any further edits are needed, just let me know. If not, you can add the `technical reviewed` label to the issue to sign off and the update will publish with the EE10 GA. Thanks!

[2022-11-10 15:49] dmuelle commented on #5970
closing as completed, fix will publish with 22.0.0.12

[2022-11-10 15:49] #5970 closed, assigned to dmuelle

[2022-11-10 15:50] #5233 closed, assigned to dmuelle

[2022-11-10 15:51] dmuelle commented on #5979
closing as completed

[2022-11-10 15:51] #5979 closed, assigned to dmuelle

[2022-11-10 21:06] dazavala commented on #5983
**Summary of openliberty-io user documentation discovery (nov11)**

- [ ] **Basics -> [Container images](https://openliberty.io/docs/latest/container-images.html)**

  - Remove existing documentation for InstantOn container image tags. Once GA all container images will be enabled with the InstantOn capability.
  - Add a subsection to "Build an InstantOn application image" which expands on the prev

[2022-11-11 01:10] volosied commented on #5834
@dmuelle  I think this one is good to go.

[2022-11-11 13:52] dmuelle commented on #5975
changes are on vNext and will publish with 22.0.0.12

[2022-11-11 13:52] #5975 closed, assigned to dmuelle

[2022-11-14 17:02] ramkumar-k-9286 commented on #5708
Hi David @dmuelle

Draft link with the changes suggested. Please have a look at them.

Please have a look at this draft document
Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

Regards,
Ramkumar

[2022-11-14 17:36] dmuelle commented on #5708
Looks good- I think http section still needs a little work to be more precise and clear.

You can use the bootstrap.properties file to create custom default HTTP and HTTPS properties.
-->
You can define custom variables in the `bootstrap.properties` file that specify custom default values for HTTP and HTTPS ports. These values are applied to any config:httpEndpoint[display=HTTP endpoint configurat

[2022-11-14 20:31] dmuelle opened #6017 "22.0.0.12 release"
**This issue tracks the progress of the upcoming Open Liberty release during the release cycle. Name the issue after the release ("x.0.0.x release") and add the appropriate version label.**

### Dates

- **Doc freeze date:** 11/17
- **GA Date:** 11/25
-
### Notes
**List any special concerns for this release that are not already tracked in another issue, such as release dependencies, Javadoc update

[2022-11-14 20:42] dmuelle commented on #5834
Hi @volosied - I've added this info to the draft:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#socket

if any further changes are needed, just let me know. Otherwise, you can sing off by adding the `technical reviewed` label to this issue. Thanks!

[2022-11-16 12:57] dmuelle commented on #5977
thanks- update will publish with 22.0.0.12, closing as completed

[2022-11-16 12:57] #5977 closed, assigned to dmuelle

[2022-11-17 15:19] dmuelle commented on #5823
comment from slack discussion: [Does Liberty Tools support EE8 and MP4? Determine by pom.xml or server.xml?
](https://ibm-cloud.slack.com/archives/CJ6U2DWPJ/p1668696222008819)
This should be at the top of our doc.
I don't believe we offer any assistance with EE 8...
[@Kathryn Kodama](https://ibm-cloud.slack.com/team/WAKFM12SG)
 or
[@tcrawford](https://ibm-cloud.slack.com/team/W4W23LYN5)
 please co

[2022-11-17 15:21] kinueng commented on #5823
The openliberty.io work item for the new [IDE tools section](https://github.com/openliberty/openliberty.io/issues/2888)

[2022-11-17 16:02] dmuelle commented on #5708
## Peer review

The short description seems repetitive:

maybe

---

Italicize the variable in the path:

By default, the server directory is `usr/servers/server_name`.

--->

By default, the server configuration directory is `usr/servers/ _server_name_ `.

Doesnt show up in MArkdown but in asciidoc, that syntax will italicize _server_name_

---

However, when Open Liberty is running in dev mode..

[2022-11-17 16:06] dmuelle commented on #5707
For more information, see [command port](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html)

add an anchor to the "Set the command port" section of the target doc and link directly to that. also, change link text and add a period.

For more information, see [Set the command port](https://docs-draft-openlibertyio.mqj6zf7

[2022-11-17 17:28] dmuelle opened #6024 "Migrate Consuming JSON Web Tokens in Liberty to Open Liberty"
migrate the topic [Consuming JSON Web Tokens in Liberty](https://www.ibm.com/docs/en/was-liberty/nd?topic=liberty-consuming-json-web-tokens-in) to[ jwt feature page](https://openliberty.io/docs/latest/reference/feature/jwt-1.0.html).

Include the updates specified in https://github.ibm.com/websphere/liberty-docs/issues/3200

[2022-11-17 18:22] ramkumar-k-9286 commented on #5992
Hi @jimblye

The suggested changes have been added to the document.

Draft Link:
https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/server-stop.html

If you are happy with the changes, please add the `developer Reviewed` label to this issue.

if any changes are needed, please add a comment to the issue.

Regards,
Ramkumar

CC @dmuelle

**

[2022-11-17 20:00] jimblye commented on #5992
In the photo you see that the examples are a bit jumbled.  There should be 4 server stop commands on 4 separate lines..

***@***.***

Earlier on the page, there are usage examples.   We should have one for the command:

server stop myserver –timeout=1m

This sets the timeout value to 1 minute.  The default is 30 seconds.

Thanks,
Jim

From: Ramkumar ***@***.***>
Date: Thursday, November 17, 2022 a

[2022-11-18 12:46] ramkumar-k-9286 commented on #5992
Hi @jimblye

Corrections have been made to the table and code block.

Draft Link:
https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/server-stop.html

If you are happy with the changes, please add the `Developer Reviewed` label to this issue.

if any changes are needed, please add a comment to the issue.

Regards,
Ramkumar

CC @dmuelle

[2022-11-18 12:47] ramkumar-k-9286 commented on #5708
Hi David @dmuelle

Peer Review comments have been incorporated. Please have a look at them.

Please have a look at this draft document
Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

Regards,
Ramkumar

**Noticed and issue with the Binary Logging, variable-substitution link. Will fix that.**

[2022-11-18 12:51] ramkumar-k-9286 commented on #5707
Hi David @dmuelle

anchor added and linked to the "Set the command port" section

Draft Link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/default-port-numbers.html

Regards,
Ramkumar.

[2022-11-18 13:18] dmuelle commented on #5707
Sorry, the link looks good but the sentence is still a little awkward.

For more information about how command port property is set in a bootstrap.properties file, see [set the command port](https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html#command-port).

--->

For more information about how the command port property i

[2022-11-18 13:43] dmuelle commented on #5992
Hi @jimblye - this needs a little more work, we'll let you know when it's ready for review.

[2022-11-18 16:18] Yas-Franco commented on #5258
Hi @dmuelle I hadn't mentioned OpenTracing's deprecation:

MicroProfile OpenTracing features will be stabilized.​

mpOpenTracing-1.x, openTracing-1.x​

mpOpenTracing-2.0, openTracing-2.0​

mpOpenTracing-3.0, openTracing-3.0

[2022-11-18 16:42] dmuelle commented on #5258
@yasmin-aumeeruddy - thanks for bringing this up- do you know whether we need POC approval for those stabilizations? And if so, will they be stabilized by the time of MP Telemetry Ga?

For the docs, we wont have to do much other than add a stabilization statement to the feature pages, but that's pending POC approval, if needed.

We do have a couple of Guides that use OpenTracing but I'm not sure h

[2022-11-18 17:07] gkwan-ibm commented on #5258
I need to discuss with @yeekangc. Either
- create a new guide for MicroProfile Telemetry and deprecated both MP OpenTracing and MP OpenTracing with Jaeger guides
- or update both existing guides

[2022-11-18 17:52] dmuelle opened #6040 "Broken link in Feature overview"
link to microprofile doc in feature overview is broken

[2022-11-18 19:40] dmuelle commented on #5992
ok- think it's ready to go now

[2022-11-18 19:43] ramkumar-k-9286 commented on #5708
Hi Lori @loriadi

All updates and review comments have been incorporated.

Could you go ahead and have a look at the document?

Draft link: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

If you are happy with the changes, please add the `Developer Reviewed` label to this issue.

if any changes are needed, please add

[2022-11-18 21:31] dmuelle opened #6046 "Remove docker container instuctions and replace with links to Docker Hub"
The docker and podman instructions triple the space required for each database, and will frequently become out of date as new versions are released. By linking to the docker images instead we can save space and users can get the latest images and instructions directly from the image maintainers.

[2022-11-21 09:05] ramkumar-k-9286 commented on #5244
Hi Teddy @teddyjtorres

The properties have been added to the MicroProfile JWT table.

The Draft file with the changes:
https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/microprofile-config-properties.html#jwt

If you are happy with the changes, please add the `Developer Reviewed` label to this issue.

if any changes are needed, please add a comment to th

[2022-11-21 14:16] jimblye commented on #5992
@ramkumar-k-9286 @dmuelle

Suggestion:   In the usage examples, each example has descriptive text above the example.   In the new one, the descriptive text is above and below.   I suggest keeping the description consistently above the example.   Only a suggestion.

<img width="558" alt="image" src="https://user-images.githubusercontent.com/16544901/203072388-b4963275-368d-47d5-a85f-dcb37648b30e.pn

[2022-11-21 16:01] dmuelle commented on #5258
see also w/r/t openTracing stabilization:

issue in main OL repo: https://github.com/OpenLiberty/open-liberty/issues/23422

we will add stabilization statements to the OpenTracing and MicroProfile OpenTracing pages- unless there are updates planned for the metatype that will add these statements as part of the autogenerated feature descriptions. If the stabilization is the same release as MP OpenT

[2022-11-22 06:49] ramkumar-k-9286 commented on #5708
Hi David @dmuelle

Staging Link: https://docs-staging-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/bootstrap-properties.html

Regards,
Ramkumar

[2022-11-22 06:51] ramkumar-k-9286 commented on #5707
Hi David @dmuelle

Staging Link: https://docs-staging-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/default-port-numbers.html

Regards,
Ramkumar.

[2022-11-22 07:15] ramkumar-k-9286 commented on #5992
Hi @jimblye

Corrections have been made to the Usage examples and the examples in the code block.

Draft Link:
https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/reference/command/server-stop.html

If you are happy with the changes, please add the `Developer Reviewed` label to this issue.

if any changes are needed, please add a comment to the issue.

Rega

[2022-11-22 21:14] dmuelle commented on #6046
Published with 22.0.0.12

[2022-11-22 21:14] #6046 closed, assigned to nobody

[2022-11-22 21:15] dmuelle commented on #6040
published with 22.0.0.12

[2022-11-22 21:15] #6040 closed, assigned to nobody

[2022-11-22 21:18] dmuelle commented on #5707
published with 22.0.0.12

[2022-11-22 21:18] #5707 closed, assigned to ramkumar-k-9286

[2022-11-22 21:18] dmuelle commented on #5827
fixed the heading issue, published with 22.0.0.12

[2022-11-22 21:19] #6017 closed, assigned to nobody

[2022-11-23 19:36] tonyreigns opened #6058 "Document maxFfdcAge"
New maxFfdcAge feature: https://github.com/OpenLiberty/open-liberty/issues/19418

Add a new attribute under Section "[Configuration settings by source](https://openliberty.io/docs/latest/log-trace-configuration.html#settings)":

Server XML Attribute | bootstrap property | Env var | Description
--- | ---  | ---  | ---
maxFfdcAge | com.ibm.ws.logging.max.ffdc.age | WLP_LOGGING_MAX_FFDC_AGE | Use thi

[2022-11-28 14:32] dmuelle commented on #5708
published with 22.0.0.12, closing as completed

[2022-11-28 14:32] #5708 closed, assigned to ramkumar-k-9286

[2022-11-28 19:15] pmd1nh commented on #5832
@dmuelle

I added new section "URI Path Verification" to above text

[2022-11-28 19:20] dmuelle commented on #5832
Thanks @pmd1nh, I'll update the doc and let you know when it's ready for review

[2022-11-30 16:00] utle opened #6061 "tWAS constrained delegation doc update"
https://www.ibm.com/docs/en/was/9.0.5?topic=sign-configuring-kerberos-constrained-delegation-outbound-spnego-tokens
1) Before Procedure
Add a Restriction:
Constrained delegation credential is not serializable so it can not propagate to the down stream server. Customer need to  disable the "Web inbound security attribute propagation". See the "Propagating security attributes among application serve

[2022-11-30 17:59] dmuelle commented on #6061
@utle - this is the Open Liberty docs backlog. Should this issue be on the [tWAS docs backlog](https://github.ibm.com/websphere/twas-docs/issues)?

[2022-11-30 18:06] volosied commented on #5834
@dmuelle  Only two comments

1) I would prefer not to use _instance_ in the wording here:  "which enables endpoints to retrieve properties that are set in a [ServerEndpointConfig.Configurator#modifyHandshake](https://jakarta.ee/specifications/websocket/2.1/apidocs/server/jakarta/websocket/server/serverendpointconfig.configurator#modifyHandshake(jakarta.websocket.server.ServerEndpointConfig,jakarta

[2022-11-30 18:18] Zech-Hein commented on #6061
@dmuelle - yes!

[2022-11-30 18:59] dmuelle commented on #6061
transferred the info to https://github.ibm.com/websphere/twas-docs/issues/6064, closing this issue

[2022-11-30 18:59] #6061 closed, assigned to nobody

[2022-11-30 19:08] dmuelle commented on #5832
Hi @pmd1nh - I`ve added the URI Path info:

https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#_uri_path_verification

If any further changes are needed, just let me know. If not, you can sigtn off by adding the `technical reviewed` label to this issue. Thanks!

[2022-11-30 20:57] pmd1nh commented on #5832
Hi @dmuelle

1.
Change:
[code]

To:

[code]

Also, you didn't include the NOTE line in this section

[code]
I think it needs to be there to let the customer know that their query string is not subjected to the verification

2.
I also added another section

X-Powered-By response header

[2022-11-30 20:58] dmuelle commented on #5834
@volosied - thanks for reviewing

1. I've updated the user properties section per your comment: https://docs-draft-openlibertyio.mqj6zf7jocq.us-south.codeengine.appdomain.cloud/docs/latest/jakarta-ee10-diff.html#_updates_for_for_handling_of_user_properties
2. Sorry,  I should have mentioned this- I omitted the link to the  Liberty javadoc because dev leads have asked us not to link from Open Liber

[2022-11-30 22:24] dmuelle commented on #5832
@pmd1nh for

 does "the behavior" refer to allowing an X-Powered-By header? Is there a more-specific way to describe the option that is not available?

does it mean

[2022-11-30 22:35] pmd1nh commented on #5832
There has been a configure option to send this header in a response.  Starting in Servlet 5.0, the header is no longer sent in the response, but its configure option is still available for customer to change that default behavior.

Starting in Servlet 6.0, this configure option is removed.  The header is not sent in the response, and there is not a way to change it.

@dmuelle